<div id="question_pool">
  <div class="row precision_panel" style="color: <%= @current_strand.strand_font%>; background-color:<%= @current_strand.strand_background %>">
    <div class="col-md-2">
      <span class="button_gray" id="cell_close<%=@current_strand.id%>">
        Close Cell
      </span>
    </div>
    <div class="col-md-8">
      <%= pluralize(@question_list.size, ' ' + @current_strand.abbrev + ' | ' + @current_level.range + ' Question') %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#cell_close<%=@current_strand.id%>").click(function() {
        var url = "<%= ifa_repo_q_subject_select_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id)%>";
        jQ.get(url,{},  function(data) {
          jQ("#question_repo").html(data);
          jQ("#question_repo").show();
        });
      })
    });
  </script>
    <div class="row repo_pool_list">
      <% @question_list.each do |question| %>
        <div class="row repo_pool_text">
          <div class= "col-md-3 repo_pool_subject">
            <div ><%= question.act_subject.name %></div>
            <div >
              <% if question.mastery_level.nil? %>
                No Level
              <% else %>
                  <%= mastery_label(question.mastery_level, true)%><br/>
              <% end %>
            </div>
            <div >
              <%= question.strand.nil? ? "No Strand" : (question.strand.abbrev.upcase) %>
            </div>
            <div>
              <%= pluralize(question.benchmarks.size, ' Tagged Benchmark') %>
            </div>
            <% if !question.active? %>
              <div class=" question_disabled">
                Disabled
              </div>
            <% end %>
            <div >
              <%= question.user ? question.user.last_name.upcase : 'Former User' %>
            </div>
          </div>
          <div class= "col-md-7">
            <div class="question_pool_question">
              <%= question.question.html_safe%>
            </div>
            <div class="question_pool_reading">
              <% if question.reading? %>
                <div >
                  READING:&nbsp;<%= question.reading.label%>
                </div>
                <div >
                  GENRE:&nbsp;<%= question.reading_genre %>
                </div>
                <% if question.content %>
                  <div >
                    RL Attachment: <%=question.content.title.titleize %>
                  </div>
                <% end %>
              <% end %>
              <% if !question.comment.nil? && question.comment != '' %>
                COMMENT:&nbsp;<%= question.comment %>
              <% end %>
            </div>
            <div class="question_pool_tags">
              <div>
                <%= ActQuestion::TYPES.find { |n, m| m == question.question_type }[0] rescue ''%>: <%= pluralize(question.choices.size, 'Choice')%>
              </div>
              <div>
                <%= question.randomize? ? 'Randomized Choices' : 'Positioned Choices'%>,&nbsp;
                <%= question.calculator_free? ? 'Calculator Free' : 'Calculator Allowed'%>
                <% if question.calibrated? %>
                  ,&nbsp;Calibrated
                <% end %>
              </div>
              <div>
                Solution Strategy: <%= question.act_strategy.nil? ? 'Not Defined' : question.act_strategy.name %>
              </div>
            </div>
          </div>
          <div class= "col-md-2">
            <div class="row">
              <div class="col-md-6 question_pool_button">
                <%= link_to 'Analyze', ifa_repo_question_view_path(:organization_id => @current_organization, :act_question_id => question.id), :class => 'button_gray', :target=>'_blank' %>
              </div>
              <div class="col-md-6 question_pool_button">
                <% if @current_user.id == question.user_id || @current_user_app_admin %>
                  <%= link_to 'Edit', ifa_repo_question_edit_path(:organization_id => @current_organization, :act_subject_id => (question.act_subject ? question.act_subject_id : @current_subject.id), :act_question_id => question.id), {:class => 'button_gray', :target => '_blank'} %>
                <% end %>
              </div>
            </div>
            <% if question.question_image.present? %>
              <div class="row">
                <div class="col-md-12 question_pool_image">
                  <%= image_tag question.question_image(:small_thumb) %>
                </div>
              </div>
            <% end %>
            <% if (@current_user.id == question.user_id || @current_user_app_admin) && question.destroyable? %>
                <div class="row">
                  <div class="col-md-12 question_pool_image">
                    <span id = "destroy_<%=question.id%>" class="button_red">
                      Destroy Question
                    </span>
                  </div>
                </div>
                <script type="text/javascript">
                  jQ(document).ready(function() {
                    jQ("#destroy_<%=question.id%>").click(function(){
                      var url = "<%= ifa_repo_question_destroy_url(:organization_id => @current_organization,
                                  :entity_class => (@current_entity.nil? ? '' : @current_entity.class.to_s), :entity_id => (@current_entity.nil? ? 0 :@current_entity.id), :act_question_id => question.id ) %>";
                      jQ.get(url, {}, function(data) {
                        jQ("#question_pool").html(data);
                        jQ("#question_pool").show();
                      });
                    })
                  });
                </script>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>