<div class="row repo_edit_box">
  <% if !@current_question.nil?%>
    <%= form_for(:act_question,
                 :url => ifa_repo_question_create_path(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
                                                       :act_question_id => @current_question.id, :function => @function)) do |form| -%>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          <%= ActQuestion::TYPES.find { |n, m| m == @current_question.question_type }[0] rescue nil%>
        </div>
        <div class="col-md-9 repo_select_field">
          <%=  select(:act_question, :question_type, ActQuestion::TYPES, :value => @current_question.question_type, :prompt => 'Change Type') %>
        </div>
      </div>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Calculator Free:
        </div>
        <div class="col-md-9 repo_text_field">
          <%= form.check_box :is_calc_free, :checked => @current_question.is_calc_free %>
        </div>
      </div>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Randomize Answers:
        </div>
        <div class="col-md-9 repo_text_field">
          <%= form.check_box :is_random, :checked => @current_question.is_random %>
        </div>
      </div>
      <%= render :partial =>  "form_question_reading", :locals=>{}%>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Question
        </div>
        <div class="col-md-9 repo_text_field">
          <%= text_area :act_question, :question, :class =>"tinymce", :rows => 3, :cols => 70, :placeholder => 'Formulate Question', :value => @current_question.question  %>
          <%= tinymce %>
        </div>
      </div>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          Comment
        </div>
        <div class="col-md-9 repo_text_field">
          <%= text_field :act_question, :comment, :size => 55, :maxlength => 150,  :value => @current_question.comment  %>
        </div>
      </div>
      <div class="row repo_edit_row">
        <div class="col-md-3 repo_label_field">
          <%= form.submit @function + ' Question', :class =>"button_blue" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>