<div id= 'question_buttons_<%= @current_question.id %>'>
  <div class="row">
    <div class= "col-md-6"></div>
    <div class= "col-md-3">
      <% button_color = @current_question.active? ? 'button_green' : 'button_red'%>
      <% button_label = @current_question.active? ? ' Enabled ' : ' Disabled '%>
      <% button_status = @current_question.enableable? ? 'active' : 'disabled'%>
      <span id = "toggle_active_<%=@current_question.id%>" class = "update_button <%=button_color%> <%=button_status%>">
        <%=button_label %>
      </span>
    </div>
    <div class="col-md-3">
      <%= link_to "PreView", ifa_repo_question_preview_path(:organization_id => @current_organization, :act_question_id => @current_question.id), {:class => "update_button button_light_blue", :target => "_blank"} %>
    </div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#toggle_active_<%=@current_question.id%>").click(function(){
        var url = "<%= ifa_repo_question_active_url(:organization_id => @current_organization,
                  :act_question_id => @current_question.id ) %>";
        jQ.get(url, {}, function(data) {
          jQ("#question_assignments_<%= @current_question.id %>").html(data);
          jQ("#question_assignments_<%= @current_question.id %>").show();
        });
      })
    });
  </script>
</div>
