<br/>
- - - - - - -
<br/>
<br/>
What is <strong>Precision Prep?</strong> <span style="text-decoration:underline"><%= link_to "Click Here", precision_interest_student_url(:organization_id => organization_id, :student_id => student_id, :host => @ep_host )%></span> to learn about the after-school program at <%= school_name %>.
<br/><br/>
<strong>Precision Prep</strong> is a program <%= school_name %> has adopted to prepare you for the SAT/ACT's. It's purpose is NOT to evaluate or judge you.
<br/><br/>
It's likely, <%= student_name %>, that some of your needs for the SAT/ACT's may fall outside of what you are covering in class.
<br/><br/>
This is why teachers at <%= school_name %> are organizing an after-school <strong>Precision Prep</strong> program to help students work exclusively toward their SAT/ACT goals.
<br/><br/>
If you would like to learn more about this after-school program, <%= student_name %>, please <span style="text-decoration:underline"><%= link_to "Click Here", precision_interest_student_url(:organization_id => organization_id, :student_id => student_id, :host => @ep_host )%></span>.
<br/><br/>
- - - - - - -
