Dear <%= @user_name %>:<br/>
<br />
<strong><%= @subject_area %></strong> milestone updated.<br/><br/>
Knowledge Strand: <strong><%= @strand_name %></strong><br/><br/>
Mastery Level: <strong><%= @mastery_level %></strong>
<%=simple_format ('Milestone: ' + @milestone.description)%>
<br/>
Here are some important things to remember:<br/>
<ul>
  <li>
    Your teacher will guide you on ways to achieve this milestone.
  </li><br/>
  <li>
    When you feel you've achieved your milestone, attach evidence to your plan and explain why you've achieved mastery.
  </li>
</ul>
<br/>
To date, you have achieved <strong><%=@plan.milestones.achieved.size %>-of-<%=pluralize(@plan.milestones.size, ' milestone')%></strong> for
<strong><%= @subject_area %></strong>.
<br/>
<br/>
- Precision Prep Team at <%= @school_name %>
