<table class="envelope_box" border="0" cellpadding="0" cellspacing="0">
  <!-- start copy -->
  <tr>
    <td class="envelope">
      <p class="env_header">
        <%= @student_last_name %> | SAT/ACT Prep | <%= @school_name %>
      </p>
      <p class="env_subheader">
        Teacher Notification | <%= @student_first_name %> Milestone
      </p>
      <p class="env_content_line">
        <span class="content_a">
          <%= @student_full_name %>
        </span> has created a new SAT/ACT prep plan milestone.
      </p>
      <p class="env_content_line">
        Subject: <span class="content_a"><%= @subject_area %></span>
      </p>
      <p class="env_content_line">
        Knowledge Area: <span class="content_a"><%= @strand_name %></span>
      </p>
      <p class="env_content_line">
        Mastery Level: <span class="content_a"><%= @mastery_level %></span>
      </p>
      <p class="env_content_line">
        Work Description:
      </p>
      <p class="env_content_line_remark">
        "<%= @milestone.description%>"
      </p>
      <p class="env_text_line">
        If <%= @student_first_name %> is your student, please provide appropriate guidance.
      </p>
      <p class="env_text_line">
        To date, <%= @student_first_name %> has achieved <%=@miles_achieved %>-of-<%=pluralize(@miles_defined, ' milestone')%> for <%= @subject_area %>.
      </p>
      <p class="env_text_line">
        <span class="cc"><%=pluralize(@guardian_count, ' Guardian')%> were notified: <%= @guardian_cc %></span>
      </p>
    </td>
  </tr>
  <%= render :partial => 'button_student_plan_link', :locals => {:student=> @student, :school => @organization, :subject => @act_subject, :ep_host => @ep_host} %>
</table>
