<strong><%= @student_full_name %></strong> has created a new SAT/ACT prep plan milestone.<br/>
<br />
Please <span style="text-decoration:underline"><%= link_to "Click Here", ifa_plan_student_url(:organization_id => @organization, :act_subject_id => @act_subject.id, :student_id => @student.id, :host => @ep_host )%></span> to review plan and provide feedback if you are responsible for <%= @student_first_name %>:<br/><br/>
Subject Area => <strong><%= @subject_area %></strong><br/><br/>
Knowledge Strand=> <strong><%= @strand_name %></strong><br/><br/>
Mastery Level=> <strong><%= @mastery_level %></strong><br/><br/>
<span style="text-decoration:underline; font-size:16px;"><%= @student_first_name %> Identified The Following Action Plan</span>
<ul>
  <span style="font-style:italic; font-size:16px;"><%=simple_format (@milestone.description)%></span>
</ul>
<br/>
<%=pluralize(@guardian_count, ' Guardian')%> Notified: <%= @guardian_cc %><br/><br/>
To date, <%= @student_first_name %> has achieved <strong><%=@miles_achieved %>-of-<%=pluralize(@miles_defined, ' milestone')%></strong> for
<strong><%= @subject_area %></strong>.
<br/><br/>