Dear <%= @student_first_name %>:<br/>
<br />
You have initiated an ACT/SAT preparation plan for <strong><%= @subject_area %></strong>.<br/>
<br/>
Please remember:<br/>
<ul>
  <li>
    Your plan stays with you year-over-year, to prepare you for the SAT's or ACTs.
  </li><br/>
  <li>
    You will add milestones that will lead toward your goals as fast as you are able.
  </li><br/>
  <li>
    Each milestone is determined by <u>your</u> individual needs, <%= @student_first_name %>.
    When you achieve a milestone your teachers will be notified.
  </li><br/>
  <li>
    Assessments are NOT for determining a grade. Their purpose is to help you identify your particular <span style="text-decoration:underline">needs</span> and point to the things you should focus on.
  </li><br/>
  <li>
    Keep your eyes on your dashboards, <%= @student_first_name%>. Notice how they show your progress toward your ACT/SAT goals.
  </li><br/>
</ul>
<br/>
My Overarching Needs/Challenges for <%= @subject_area %>: </span>
<ul>
  <span style="font-style:italic; font-size:16px;"><%=simple_format (@plan_needs)%></span>
</ul>
My Overarching Goal for <%= @subject_area %>: </span>
<ul>
  <span style="font-style:italic; font-size:16px;"><%=simple_format (@plan_goals)%></span>
</ul>
<br/><small>(cc: <%= @guardian_cc %>)</small>
<br/>
<%= render :partial => 'prep_outreach_student', :locals => {:school_name=> @school_name, :student_name => @student_first_name, :organization_id => @organization.public_id,
                                                            :student_id=>@student.public_id} %>

