<table class="envelope_box" border="0" cellpadding="0" cellspacing="0">
  <!-- start copy -->
  <tr>
    <td class="envelope">
      <p class="env_header">
        <%= @student_last_name %> | SAT/ACT Prep | <%= @school_name %>
      </p>
      <p class="env_subheader">
        Teacher Notification | Guardian Inquiry
      </p>
      <p class="env_content_line">
        Guardian <span class="content_a">
          <%= @guardian_full_name %>
        </span> is inquiring about Precision Prep after-school program.
      </p>
      <p class="env_content_line">
        Email: <span class="content_a"><%= @guardian_email%></span>
      </p>
      <p class="env_content_line">
        Phone: <span class="content_a"><%=@guardian_phone %></span>
      </p>
      <p class="env_content_line">
        Student: <span class="content_a"><%= @student_full_name %></span>
      </p>
      <p class="env_content_line">
        School: <span class="content_a"><%= @school_name %></span>
      </p>
      <p class="env_text_line">
        Please follow-up with <%= @guardian_full_name %> as soon as possible.
      </p>
    </td>
  </tr>
</table>