Dear <%= @student_first_name %>:<br/>
<br/>
A teacher just added a remark to your SAT/ACT Prep plan.<br/>
<br/>
Teacher:  <strong><%= @teacher_last_name %></strong> (<%= @teacher_email %>)<br/><br/>
Prep Plan:  <strong><%= @subject_area %></strong><br/><br/>
<%= @teacher_last_name %> Remark To <%= @student_first_name %>:<br/>
<ul>
  <span style="font-style:italic; font-size:16px;"><%=@remark%></span>
</ul>
<br/>
So far, you have achieved <%=@miles_achieved %> of <%=pluralize(@miles_defined, ' SAT/ACT Prep milestone')%> for
<%= @subject_area %>.<br/><br/>
<span style="text-decoration:underline"><%= link_to "Click Here", organization_view_url(:organization_id => @organization, :host => @ep_host )%></span> to look at your plan.
<br/><br/><small>(cc: <%= @guardian_cc %>)</small></br></br>
<%= render :partial => 'prep_outreach_student', :locals => {:school_name=> @school_name, :student_name => @student_first_name, :organization_id => @organization.public_id,
                                                            :student_id=>@student.public_id} %>
