<div id="evidence_list_<%=milestone.id%>">
  <div class="row">
    <div class="col-md-7 milestone_evidence_list_header">
      <%= pluralize(milestone.evidences.size, ' Evidence Attachment') %>
      <% if !milestone.achieved? %>
        <span class="evidence_refresh" id="evidence_refresh_<%=milestone.id%>">
          Refresh List
        </span>
      <% end %>
    </div>
  </div>
  <% milestone.evidence_by_date.each do |evidence| %>
    <div class="ifa_plan_text">
      <div class="row milestone_evidence_list">
        <div class= "col-md-8 name">
          <%= evidence.name.titleize %>
          <% if !evidence.explanation.nil? && !evidence.explanation.empty? %>
            <br/>
            <span class="explanation">
              <%= evidence.explanation %>
            </span>
          <% end %>
        </div>
        <div class= "col-md-4">
          <div class="row">
            <div class= "col-md-4">
              <div class="function">
                <% if evidence.updateable?(@current_user) %>
                    <%= link_to 'Change', ifa_milestone_evidence_edit_path(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id,
                                                                           :ifa_plan_milestone_evidence_id => evidence.id), {:class => "button_gray", :target=> '_blank'} %>
                <% end %>
              </div>
            </div>
            <div class= "col-md-4">
              <% if evidence.html? %>
                <div class="function">
                  <%= link_to 'View', ifa_milestone_evidence_show_html_path(:organization_id => @current_organization, :ifa_plan_milestone_evidence_id => evidence.id), {:class => "button_gray", :target=> '_blank'} %>
                </div>
              <% elsif evidence.image? || evidence.pdf? %>
                <div class="function">
                  <a href="<%= evidence.evidence %>" target="_blank">
                    <span class="button_gray">View</span></a>
                </div>
              <% else %>
                <div class="function">
                  No Info
                </div>
              <% end %>
            </div>
            <div class= "col-md-4">
              <div class="destroy">
                <% if evidence.updateable?(@current_user) %>
                  <span id="evidence_destroy_<%=evidence.id%>">
                    Remove
                  </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#evidence_show_<%=evidence.id%>").click(function(){
            var url = "<%= ifa_milestone_evidence_show_url(:organization_id => @current_organization, :ifa_plan_milestone_evidence_id => evidence.id, :ifa_plan_milestone_id => milestone.id) %>";
            jQ.get(url, {}, function(data) {
              jQ("#plan_milestone<%=milestone.id%>").html(data);
              jQ("#plan_milestone<%=milestone.id%>").show();
            });
          })
        });
      </script>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#evidence_destroy_<%=evidence.id%>").click(function(){
            var url = "<%= ifa_milestone_evidence_destroy_url(:organization_id => @current_organization, :ifa_plan_milestone_evidence_id => evidence.id) %>";
            jQ.get(url, {}, function(data) {
              jQ("#evidence_list_<%=milestone.id%>").html(data);
              jQ("#evidence_list_<%=milestone.id%>").show();
            });
          })
        });
      </script>
    </div>
  <% end %>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#evidence_refresh_<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_evidence_list_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#evidence_list_<%=milestone.id%>").html(data);
          jQ("#evidence_list_<%=milestone.id%>").show();
        });
      })
    });
  </script>
</div>