<div id="evidence_list_<%=milestone.id%>">
  <div class="row">
    <div class="col-md-4 milestone_evidence_list_header">
      <%= pluralize(milestone.evidences.size, ' Evidence Attachment') %>
    </div>
    <div class="col-md-7 milestone_evidence_list_refresh">
      <% if !milestone.achieved? %>
        <span class="button_gray" id="evidence_refresh_<%=milestone.id%>">
          Refresh List
        </span>
      <% end %>
    </div>
  </div>
  <% milestone.evidence_by_date.each do |evidence| %>
    <div class="ifa_plan_text">
      <div class="row milestone_evidence_list">
        <div class= "col-md-9 name">
          <%= evidence.name %>&nbsp;<%=evidence.content_type%><br/>
          <span class="type">
            <%= evidence.content_type %>
          </span>
        </div>
        <div class= "col-md-1 function">
          <span class="button_gray" id="evidence_show_<%=evidence.id%>">
            <%= 'View' %>
          </span>
        </div>
        <div class= "col-md-1 function">
          <% if evidence.updateable?(@current_user) %>
              <%= link_to 'Change', ifa_milestone_evidence_edit_path(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id,
                                                                     :ifa_plan_milestone_evidence_id => evidence.id), {:class => "button_gray", :target=> '_blank'} %>
          <% end %>
        </div>
      </div>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#evidence_show_<%=evidence.id%>").click(function(){
            var url = "<%= ifa_milestone_evidence_show_url(:organization_id => @current_organization, :ifa_plan_milestone_evidence_id => evidence.id, :ifa_plan_milestone_id => milestone.id) %>";
            jQ.get(url, {}, function(data) {
              jQ("#plan_milestone<%=milestone.id%>").html(data);
              jQ("#plan_milestone<%=milestone.id%>").show();
            });
          })
        });
      </script>
    </div>
  <% end %>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#evidence_refresh_<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_evidence_list_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#evidence_list_<%=milestone.id%>").html(data);
          jQ("#evidence_list_<%=milestone.id%>").show();
        });
      })
    });
  </script>
</div>