<div id="milestone_<%= strand.id %>">
  <% milestone_id = milestone.id.nil? ? '0' : milestone.id.to_s %>
  <div class="row ifa_milestone_header_row" >
    <div class="col-md-4 ifa_milestone_range_label">
      Pick Your Target Level =>
    </div>

    <div class='col-md-4 ifa_milestone_range_select' id="range_select_<%=milestone_id%>">
      <%=  select(milestone_id, :range, ranges.collect{|r| [(r.label_with_sat),r.id]},{:prompt => 'Milestone Mastery Level'}) %>
    </div>
    <div class='col-md-4'>
      <span class="button_orange" id="milestone_cancel<%=milestone_id%>">
        <%= 'Cancel' %>
      </span>
    </div>
  </div>
  <% if @current_range %>
    <div class="ifa_milestone_edit_box ">
      <div class="row ifa_milestone_edit_row">
        <div class="ifa_milestone_mastery">
          <%= @current_range.label_without_sat.html_safe %>&nbsp;|&nbsp;<%=strand.abbrev.upcase %>
        </div>
      </div>
      <% if !@benchmarks.empty? %>
        <div class="row ifa_milestone_edit_row ">
          <div class="ifa_milestone_benchmark">
            <div class="col-md-2 ifa_milestone_benchmark_count">
              <%=pluralize(@benchmarks.size, ' Benchmark')%>
            </div>
            <div class="col-md-9 ">
              <% @benchmarks.each_with_index do |benchmark, idx| %>
                  <div class="ifa_milestone_benchmark_text">
                    <div class="ifa_milestone_benchmark_source">
                      <%=benchmark.strand_origin.standard.abbrev %>:&nbsp;<%=benchmark.strand_origin.name %>
                    </div>
                    <%= benchmark.description.html_safe%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <% if !@improvements.empty? %>
        <div class="row ifa_milestone_edit_row ">
          <div class="ifa_milestone_benchmark">
            <div class="col-md-2 ifa_milestone_benchmark_count">
              <%=pluralize(@improvements.size, ' Improvement')%>
            </div>
            <div class="col-md-9 ">
              <% @improvements.each_with_index do |improvement, idx| %>
                  <div class="ifa_milestone_benchmark_text">
                      <%=(idx+1).to_s%>:&nbsp;<%= improvement.description.html_safe%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <% if !@evidences.empty? %>
        <div class="row ifa_milestone_edit_row ">
          <div class="ifa_milestone_benchmark">
            <div class="col-md-2 ifa_milestone_benchmark_count">
              <%=pluralize(@evidences.size, ' Evidence Goal')%>
            </div>
            <div class="col-md-9 ">
              <% @evidences.each_with_index do |evidence, idx| %>
                <div class="ifa_milestone_benchmark_text">
                    <%=(idx+1).to_s%>:&nbsp;<%= evidence.description.html_safe%>
                </div>
              <% end %>
            </div>
            <hr>
          </div>
        </div>
        <hr>
      <% end %>
      <% if !@examples.empty? %>
          <div class="row ifa_milestone_edit_row ">
            <div class="ifa_milestone_benchmark">
              <div class="col-md-2 ifa_milestone_benchmark_count">
                <%=pluralize(@examples.size, ' Example')%>
              </div>
              <div class="col-md-9 ">
                <% @examples.each_with_index do |example, idx| %>
                    <div class="ifa_milestone_benchmark_text">
                      <%=(idx+1).to_s%>:&nbsp;<%= example.description.html_safe%>
                    </div>
                <% end %>
              </div>
              <hr>
            </div>
          </div>
          <hr>
      <% end %>

      <div class="row ifa_milestone_edit_footer_row">
          <div class="col-md-2">
            <div class="row ifa_milestone_edit_button">
              <div class="button_blue" id="milestone_update<%=milestone_id%>">
                <%= function + ' Plan Info' %>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <p>My Plan</p>
            <%= text_area :description, milestone_id, :rows=>10, :cols => 70, :value => milestone.description,
                          :placeholder => 'Action Steps' %>
          </div>
      </div>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#milestone_update<%=milestone_id%>").click(function(){
            var description = jQ('#description_<%=milestone_id%>').val();
            var url = "<%= ifa_milestone_update_url(:organization_id => @current_organization, :ifa_plan_milestone_id => (milestone.id.nil? ? 0 : milestone.id),
                        :act_score_range_id => @current_range.id, :ifa_plan_id => plan.id, :act_standard_id => strand.id, :function => function) %>";
            jQ.get(url, {'description':description}, function(data) {
              jQ("#strand_milestones<%=strand.public_id%>").html(data);
              jQ("#strand_milestones<%=strand.public_id%>").show();
            });
          })
        });
      </script>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#milestone_cancel_2<%=milestone_id%>").click(function(){
            var url = "<%= ifa_milestone_update_cancel_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id, :ifa_plan_id => plan.id, :act_standard_id => strand.id, :function => function) %>";
            jQ.get(url, {}, function(data) {
              jQ("#strand_milestones<%=strand.public_id%>").html(data);
              jQ("#strand_milestones<%=strand.public_id%>").show();
            });
          })
        });
      </script>
    </div>
  <% end %>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#range_select_<%=milestone_id%>").change(function(){
        var range_id = jQ('#<%=milestone_id%>_range').val();
        var url = "<%= ifa_milestone_range_select_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id, :ifa_plan_id => plan.id, :act_standard_id => strand.id, :function => function) %>";
        jQ.get(url, {'act_score_range_id': range_id}, function(data) {
          jQ("#milestone_<%= strand.id %>").html(data);
          jQ("#milestone_<%= strand.id %>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#milestone_cancel<%=milestone_id%>").click(function(){
        var url = "<%= ifa_milestone_update_cancel_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id, :ifa_plan_id => plan.id, :act_standard_id => strand.id, :function => function) %>";
        jQ.get(url, {}, function(data) {
          jQ("#strand_milestones<%=strand.public_id%>").html(data);
          jQ("#strand_milestones<%=strand.public_id%>").show();
        });
      })
    });
  </script>
</div>