<div  class="ifa_plan_edit_box ">
      <div class="row ifa_plan_edit_row">
        <div class="edit_label">
          Your <%=subject.name %> Needs
        </div>
        <% needs_placeholder = 'Reflect upon your ' +  subject.name + ' data. Explain your Needs and Challenges.' %>
      </div>
      <div class="row ifa_plan_text_box">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <%= text_area :needs, subject.public_id, :rows=>10, :cols => 60, :placeholder => needs_placeholder, :value => plan.needs%>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-2 ifa_plan_text_submit">
              <span class="button_blue" id="plan_update<%=subject.id%>">
                <%= 'Update Plan' %>
              </span>
        </div>
        <div class="col-md-10 ifa_edit_text"></div>
      </div>
      <div class="row ifa_plan_edit_row">
        <div class="edit_label">
          Your <%= subject.name %> Goals
        </div>
        <% goals_placeholder = 'In the coming year, what do you hope to master in ' +  subject.name + '? Be as specific as possible.' %>
      </div>
      <div class="row ifa_plan_text_box">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <%= text_area :goals, subject.public_id, :rows=>10, :cols => 60, :placeholder => goals_placeholder, :value => plan.goals%>
        </div>
      </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#plan_cancel<%=subject.id%>").click(function(){
        var url = "<%= ifa_plan_update_cancel_url(:organization_id => @current_organization, :student_id => student.id, :act_subject_id => subject.id) %>";
          jQ.get(url, {}, function(data) {
            jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").html(data);
            jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").show();
          });
        })
      });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#plan_update<%=subject.id%>").click(function(){
        var needs = jQ("#needs_<%=subject.public_id%>").val();
        var goals = jQ("#goals_<%=subject.public_id%>").val();
        var url = "<%= ifa_plan_update_url(:organization_id => @current_organization, :student_id => student.id,
              :act_subject_id => subject.id, :ifa_plan_id => (plan.id.nil? ? nil : plan.id)) %>";
        jQ.get(url, {'needs':needs, 'goals':goals}, function(data) {
          jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").html(data);
          jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").show();
        });
      })
    });
  </script>
</div>