<div id="manage_plan_<%=student.id%><%=subject.public_id%>">
    <% if !show_form %>
      <div  class="ifa_subject_plan_box ">
        <div class= "precision_prep_plan_panel">
          <div class="col-md-5 ifa_subject_plan_name">
            Growth Plan: <%= student.full_name.titleize %>
          </div>
          <div class="col-md-5 ifa_subject_plan_name">
            <%= subject.name.upcase %>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="ifa_subject_plan_content">
          <%= render :partial =>  "/ifa/ifa_plan/show_plan", :locals=>{:plan=> student_plan, :subject => subject, :student=>student}%>
        </div>
        <%= render :partial =>  "/ifa/ifa_plan/teacher_remarks", :locals=>{:plan=> student_plan, :remarks => student_plan.remarks, :show_form=>false} %>

        <div class="row ifa_subject_plan_content">
          <div class="col-md-12">
            <% student_plan.strands(@current_standard).each do |strand| %>
              <%= render :partial =>  "/ifa/ifa_plan/strand_milestones", :locals=>{:plan=>student_plan, :strand => strand, :milestone_form => 'No'}%>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <%= render :partial =>  "/ifa/ifa_plan/form_plan", :locals=>{:plan=>student_plan, :student => student, :subject => subject}%>
    <% end %>
</div>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#create_plan_<%=subject.id%>').click(function() {
      var url = "<%= ifa_plan_create_url(:organization_id => @current_organization, :subject_id => subject.id) %>";
      jQ.get(url, {}, function(data) {
        jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").html(data);
        jQ("#manage_plan_<%=student.id%><%=subject.public_id%>").show();
      });
    })
  });
</script>

