<div id="plan_milestone<%=milestone.id%>">
  <div class="row ifa_milestone_show_header_row">
    <div class="col-md-3">
      <% if !milestone.achieved?%>
        <% if milestone.plan.achieveable?(@current_user) %>
          <div class="ifa_milestone_show_button">
            <span class="button_green" id="milestone_show_achieved<%=milestone.id%>">
              <%= 'ACHIEVE?' %>
            </span>
          </div>
        <% end %>
      <% else %>
        <% if milestone.plan.remarkable?(@current_user) %>
          <div class="ifa_milestone_show_button">
            <span class="button_orange" id="milestone_show_achieved<%=milestone.id%>">
              <%= 'Re-Open' %>
            </span><br/>
          </div>
        <% end %>
        <div class="ifa_milestone_achieved">
          <% achievement_level(milestone.strand, milestone.range).times do %>
            <i class="star_achievement"></i>
          <% end %>
          <span class="ifa_milestone_achieved_date">
            <br/><%= !milestone.achieve_date.nil? ? time_ago_in_words(milestone.achieve_date).sub(/about /, '') + " ago" : ''%>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 ">
      <div class="ifa_milestone_show_range">
        Milestone for <%= milestone.name %>
      </div>
      <div class="ifa_milestone_show_benchmarks">
        <% if !benchmarks(milestone.strand, milestone.range, milestone.standard).empty? %>
          <span style ="text-decoration:underline;">
            <a id="b_<%= milestone.id.to_s %>" href="">View Benchmarks</a>
            <%= render :partial => "/apps/shared/help_box_ifa_benchmarks", :locals => {:id => ('b_' + milestone.id.to_s), :titl=> (mastery_label(milestone.range, false) + " | " + milestone.strand.name),
                                                                                     :blue=> 'Benchmark',
                                                                                     :body=> benchmarks(milestone.strand, milestone.range, milestone.standard), :height=> 400, :width=> 650 } %>
          </span>
        <% end %>
        &nbsp;&nbsp;&nbsp;
        <% if !improvements(milestone.strand, milestone.range, milestone.standard).empty? %>
          <span style ="text-decoration:underline;">
            <a id="i_<%= milestone.id.to_s %>" href="">View Improvement Ideas</a>
            <%= render :partial => "/apps/shared/help_box_ifa_benchmarks", :locals => {:id => ('i_' + milestone.id.to_s), :titl=> (mastery_label(milestone.range, false) + " | " + milestone.strand.name),
                                                                                       :blue=> 'Improvement Idea',
                                                                                       :body=> improvements(milestone.strand, milestone.range, milestone.standard), :height=> 400, :width=> 650 } %>
          </span>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <% if !milestone.achieved?  && milestone.plan.updateable?(@current_user) %>
        <div class="ifa_milestone_destroy_button">
          <span class="button_red" id="milestone_show_destroy<%=milestone.id%>">
            <%= 'DESTROY' %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row ifa_milestone_show_descript">
    <div class="col-md-2 ">
      <% if !milestone.achieved? && milestone.plan.updateable?(@current_user)%>
        <div class="ifa_milestone_show_button">
          <span class="button_blue" id="milestone_show_change<%=milestone.id%>">
            <%= 'Change Plan Info' %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 ifa_milestone_show_label">
      My Action Plan
      <div class="ifa_plan_text">
        <%= simple_format milestone.description.nil? ? 'Not Defined' : milestone.description%>
      </div>
      </div>
  </div>
  <div class="ifa_milestone_show_evidence">
    <div class="row ifa_milestone_show_evidence_row ">
      <div class=" col-md-2"></div>
      <div class=" col-md-7">
        <div id="student_assessments<%=milestone.id%>">
          <% if !milestone.range.nil? && !milestone.strand.nil? %>
              <div class="resource_levels_close" >
                <%= link_to '', ifa_plan_student_cell_data_path(:organization_id => @current_organization, :student_id => milestone.plan.user.public_id, :act_score_range_id => milestone.range.id, :act_standard_id => milestone.strand.id) %>
                Relevant Assessment Data
                <span></span>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-2 ">
        <% if !milestone.achieved? && milestone.plan.updateable?(@current_user)%>
          <div class="ifa_milestone_add_evidence_button">
              <%= link_to 'Add Evidence', ifa_milestone_evidence_edit_path(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id), {:class=>"button_gray", :target=> '_blank'} %>
          </div>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class='ifa_milestone_add_evidence_box'>
          <%= render :partial => "/ifa/ifa_plan/evidence_list", :locals => {:milestone => milestone} %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#student_assessments<%=milestone.id%> .resource_levels_close').toggleResourceLevels();
      jQ('#student_assessments<%=milestone.id%> .resource_levels_open').toggleResourceLevels();
    });
  </script>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#student_evidences<%=milestone.id%> .resource_levels_close').toggleResourceLevels();
      jQ('#student_evidences<%=milestone.id%> .resource_levels_open').toggleResourceLevels();
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#milestone_show_destroy<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_destroy_url(:organization_id => @current_organization, :ifa_plan_id => milestone.plan.id, :act_standard_id => milestone.strand.id, :ifa_plan_milestone_id => milestone.id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#strand_milestones<%=milestone.strand.public_id%>").html(data);
          jQ("#strand_milestones<%=milestone.strand.public_id%>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#milestone_show_change<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_change_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.public_id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#strand_milestones<%=milestone.strand.public_id%>").html(data);
          jQ("#strand_milestones<%=milestone.strand.public_id%>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#milestone_show_achieved<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_achieved_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#plan_milestone<%=milestone.id%>").html(data);
          jQ("#plan_milestone<%=milestone.id%>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#milestone_evidence_add<%=milestone.id%>").click(function(){
        var url = "<%= ifa_milestone_evidence_form_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.id) %>";
        jQ.get(url, {}, function(data) {
          jQ("#plan_milestone<%=milestone.id%>").html(data);
          jQ("#plan_milestone<%=milestone.id%>").show();
        });
      })
    });
  </script>
</div>