<div id="student_plan_guardian_<%=@current_student.id%>">
  <% button_color = @show_gd == 'Hide' ? 'button_orange' : 'button_gray' %>
  <% button_label = @show_gd == 'Hide' ? 'Done Changes' : (@current_student.guardians.empty? ? 'Add Guardian' : 'Change Guardian') %>
  <% if @show_gd == 'Hide' %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8"></div>
      <div class="col-md-2 student_plan_guardians_button">
        <span class="<%=button_color%> ifa_remark_button" id="show_guardian_<%=@current_plan.nil? ? '0' : @current_plan.id%>">
          <%=button_label %>
        </span>
      </div>
    </div>
    <div class="student_plan_guardian_update">
      <%= render :partial => "users/guardians", :locals=>{:student => @current_student, :function => 'Add'} %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 student_plan_guardians">
        <%= @current_student.guardians.empty? ? 'Guardian will not be notified of Plan achievements.' : (@current_student.guardian_name_list + (@current_student.guardians.size > 1 ? ' are ' : ' is ') + 'notified of Plan achievements.')%>
      </div>
      <div class="col-md-2 student_plan_guardians_button">
        <% if @current_user == @current_student %>
          <span class="<%=button_color%> ifa_remark_button" id="show_guardian_<%=@current_plan.nil? ? '0' : @current_plan.id%>">
            <%=button_label %>
          </span>
        <% end%>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#show_guardian_<%=@current_plan.nil? ? '0' : @current_plan.id%>").click(function(){
        var url = "<%= ifa_plan_student_guardian_url(:organization_id => @current_organization, :student_id => @current_student.id, :show_gd => @show_gd) %>";
        jQ.get(url, {}, function(data) {
          jQ("#student_plan_guardian_<%=@current_student.id%>").html(data);
          jQ("#student_plan_guardian_<%=@current_student.id%>").show();
        });
      })
    });
  </script>
</div>