<div id="student_plan_dashboard_<%=@current_subject.id%><%=@current_student.id%>" class="xcontainer xdashboard_listing">
    <div>
      <% button_color = @show_db == 'Hide' ? 'button_orange' : 'button_green' %>
      <span class="<%=button_color%> ifa_remark_button" id="show_plan_db_<%=@current_plan.nil? ? '0' : @current_plan.id%>">
        <%= @show_db %> Dashboard
      </span>
    </div>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#show_plan_db_<%=@current_plan.nil? ? '0' : @current_plan.id%>").click(function(){
          var url = "<%= ifa_plan_student_dashboard_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id, :student_id => @current_student.id, :show=>@show, :show_db => @show_db) %>";
          jQ.get(url, {}, function(data) {
            jQ("#student_plan_dashboard_<%=@current_subject.id%><%=@current_student.id%>").html(data);
            jQ("#student_plan_dashboard_<%=@current_subject.id%><%=@current_student.id%>").show();
          });
        })
      });
    </script>
    <% if @show_db == 'Hide'%>
      <div class="student_plan_dashboard">
        <%= render :partial => "ifa/ifa_dashboard/dashboard",
                   :locals=>{:dashboard => @entity_dashboard, :subject => @current_subject, :standard => @current_standard, :cell_corrects=>@cell_correct,
                             :cell_totals=>@cell_total, :cell_pcts=>@cell_pct, :cell_color=>@cell_color, :cell_font=>@cell_font } %>
      </div>
    <% end %>
</div>