<div>
  <div class="row">
    <div class="ifa_panel_title">
      <%= pluralize(students.size, subject.name + ' Student') %>
    </div>
  </div>
  <div class="row ">
    <div class="ifa_panel_list">
      <table id="student_plans_<%=subject.id %>" class="teacher_review_list">
        <tbody >
          <% students.each do |student| -%>
              <% student_label = student.last_name.upcase + ",&nbsp;" + student.first_name + ":" -%>
            <% plan_label = student.ifa_plan_subject(subject).nil? ? (' - No Plan') : '' %>
              <tr>
                <td class="resource_levels_close">
                  <%= link_to '', ifa_plan_teacher_review_path(:organization_id => @current_organization, :student_id => student.public_id,
                                                               :act_subject_id => subject.public_id, :classroom_id => (@classroom ? @classroom.public_id : nil)) %>
                  <strong><%= student_label.html_safe %></strong>&nbsp;&nbsp;&nbsp;<%= plan_label %>
                  <span></span>
                </td>
              </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function() {
    jQ('#student_plans_<%=subject.id %> .resource_levels_close').toggleResourceLevels();
    jQ('#student_plans_<%=subject.id %> .resource_levels_open').toggleResourceLevels();
  });
</script>
</div>