<div  class="ifa_plan_teacher_show_box ">
  <% if !plan.nil? %>
    <div class= "precision_prep_panel">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= plan.subject_area.name.upcase %> Growth Plan
      </div>
      <div class="col-md-3">
        <%= student.full_name.titleize %>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6">
        <div class="ifa_plan_teacher_show_row">
          <div class="ifa_plan_label">
            Needs & Challenges:
          </div>
          <div class="ifa_plan_text">
            <%= simple_format plan.needs%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ifa_plan_show_row">
          <div class="ifa_plan_label">
            Goals:
          </div>
          <div class="ifa_plan_text">
            <%= simple_format plan.goals %>
          </div>
        </div>
      </div>
    </div>
      <%= render :partial =>  "/ifa/ifa_plan/teacher_remarks", :locals=>{:plan=> plan, :remarks => remarks, :show_form=>false} %>
      <%= render :partial =>  "/ifa/ifa_plan/teacher_show_milestones", :locals=>{:plan=> plan, :milestones => milestones} %>
  <% else %>
    <div class="row ">
      <div class = "col-md-5 ifa_plan_teacher_show_none">
        No Plan Started
      </div>
    </div>
  <% end %>
</div>