<div id="teacher_show_milestone_<%=milestone.public_id%>">
  <div class="row ifa_milestone_teacher_show_row" style="color: <%= milestone.strand.strand_font%>; background-color:<%= milestone.strand.strand_background %>; text-align:center">
    <div class="col-md-3 ifa_milestone_teacher_show_strand">
      Milestone
    </div>
    <div class="col-md-9 ifa_milestone_teacher_show_strand">
      <%= mastery_label(milestone.range, true) %>&nbsp;|&nbsp;<%= milestone.strand.name %>
    </div>
  </div>
    <div class="row ifa_milestone_teacher_show_row">
      <div class="col-md-4 " style="padding-top:.5em; padding-bottom:1.5em;">
        <div class="row ifa_milestone_show_time">
          Last Updated: <%= time_ago_in_words(milestone.updated_at).sub(/about /, '') + " ago" %>
        </div>
        <% if milestone.achieved?%>
          <div class="row ifa_milestone_show_button">
            <% achievement_level(milestone.strand, milestone.range).times do %>
              <i class="star_achievement"></i>
            <% end %>
          </div>
        <% end %>
        <div class="row ifa_milestone_show_button">
          <% a_label = milestone.achieved? ? 'Undo Achievement':'Achieved' %>
          <% a_class = milestone.achieved? ? 'button_orange':'button_green' %>
            <span class=<%= a_class %> id="milestone_show_achieved<%=milestone.public_id%>">
              <%= a_label %>
            </span>
        </div>
      </div>
      <div class="col-md-8" style="padding-top:1em; padding-bottom:1.5em;">
        <div class="row ifa_milestone_teacher_show_descript">
          <div style="font-weight:bold">Plan:</div>
          <div>
            <%= simple_format milestone.description.nil? ? 'None' : milestone.description%>
          </div>
        </div>
        <hr>
        <div class="row ifa_milestone_show_descript">
          <div id="student_assessments<%=milestone.id%>">
            <div class="resource_levels_close" >
              <%= link_to '', ifa_plan_student_cell_data_path(:organization_id => @current_organization, :student_id => milestone.student.public_id, :act_score_range_id => milestone.range.public_id, :act_standard_id => milestone.strand.public_id,) %>
              Relevant Assessment Data
              <span></span>
            </div>
          </div>
        </div>
        <hr>
        <div class="row ifa_milestone_show_descript">
          <div style="font-weight:bold">Evidence:</div>
          <div>
            <%= simple_format milestone.evidence.nil? ? 'None Documented' : milestone.evidence%>
          </div>
        </div>
      </div>
    </div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#student_assessments<%=milestone.id%> .resource_levels_close').toggleResourceLevels();
      jQ('#student_assessments<%=milestone.id%> .resource_levels_open').toggleResourceLevels();
    });
  </script>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#milestone_show_achieved<%=milestone.public_id%>").click(function(){
          var url = "<%= ifa_milestone_achieve_toggle_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.public_id) %>";
          jQ.get(url, {}, function(data) {
            jQ("#teacher_show_milestone_<%=milestone.public_id%>").html(data);
            jQ("#teacher_show_milestone_<%=milestone.public_id%>").show();
          });
        })
      });
    </script>
</div>