<div id="teacher_show_remark_<%=remark.public_id%>">
    <div class="row ifa_plan_teacher_remark">
      <div class="col-md-2 ifa_remark_show_time">
        <div >
          <%= time_ago_in_words(remark.updated_at).sub(/about /, '') + " ago" %>
        </div>
        <div >
          <%=remark.course_name %>
        </div>
        <div>
          <%=remark.teacher_name %>
        </div>
        <% if remark.teacher? && @current_user == remark.teacher %>
          <div class="ifa_remark_button" style="padding:.5em 0em 0em 2em;">
            <span class='button_red' id="remark_destroy<%=remark.public_id%>">
              Destroy
            </span>
          </div>
        <% end %>
      </div>
      <div class="col-md-1 ifa_remark_show_time">
        <% if remark.teacher.picture.present? %>
            <%= image_tag remark.teacher.picture.url(:small_thumb) %>
        <% end %>
      </div>
      <div class="col-md-8 ifa_remark_show_remark">
        <%= simple_format ('"' + remark.remarks + '"') %>
      </div>
    </div>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#remark_destroy<%=remark.public_id%>").click(function(){
          var url = "<%= ifa_remark_destroy_url(:organization_id => @current_organization, :ifa_plan_id => remark.plan.public_id,
          :ifa_plan_remark_id => remark.public_id, :classroom_id => (@classroom.nil? ? nil : @classroom.public_id)) %>";
          jQ.get(url, {}, function(data) {
            jQ("#plan_remarks_<%=remark.plan.public_id%>").html(data);
            jQ("#plan_remarks_<%=remark.plan.public_id%>").show();
          });
        })
      });
    </script>
</div>