<div id="student_plan_<%=@current_subject.id%><%=@current_student.id%>" >
  <div class="student_plan_guardian_box">
    <%= render :partial => "/ifa/ifa_plan/student_plan_guardian", :locals=>{} %>
  </div>
  <div class="student_plan_dashboard_box">
    <%= render :partial => "/ifa/ifa_plan/student_plan_dashboard", :locals=>{} %>
  </div>
  <div class="teacher_review_student_plan">
    <% show_form = @show == 'Create' ? true : false %>
    <div>
      <%= render :partial => "/ifa/ifa_plan/manage_subj_plan", :locals=>{:student_plan => @current_plan, :student => @current_student, :subject => @current_subject, :show_form => show_form} %>
    </div>
  </div>
</div>