<div id="metric_search">
	<% form_for "#" , :html => {:class => 'metric_ajax'} do %>
	<table style="width:500px;border:0px;">
		<tr>
			<td style="border:0px">
			  <span>Start Date:</span><%= calendar_date_select "" , "start_date" , :value => @start_date , :size => "18px", :class => "text" %>
		    </td>
			<td style="border:0px">
				<span>End Date:</span><%= calendar_date_select "" , "end_date" , :value => @end_date , :size => "18px" , :class => "text"%>
			</td>
			<td style="border:0px">
				<span>&nbsp;</span><%= submit_tag "search" , :class => "metric_search_submit fsn-button ui-button ui-state-default ui-corner-all" %>
			</td>
		</tr>

	</table>
	<% end %>
</div>
<table id="roles" class="tablesorter">
   <thead>
		<tr>
			<th>Title</th>
			<th>Information</th>
			<th>Start Date</th>
			<% (DateTime.parse(@start_date)..DateTime.parse(@end_date)).each_with_index do |value , key| %>
			<th><%= "#{key + 1} Day" %></th>
			<% end %>	
			<th>End Date</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
       <% Metric::SHARE_TYPE.each do |value| %>
	      <tr> 
			<td><%= title(value[0]) %></td> 
			<td><%= value[1] %></td>
			<td><%= @start_date %></td>
			<% (DateTime.parse(@start_date)..DateTime.parse(@end_date)).each do |date| %>
			<td>
				<%= Metric.sum_count(value[0], DateTime.parse(date.to_s).strftime("%Y-%m-%d") , DateTime.parse(date.to_s).tomorrow.strftime("%Y-%m-%d")) %>
			</td>
			<% end %>
			<td><%= @end_date %></td>
			<td><%= Metric.sum_count(value[0] , @start_date , DateTime.parse(@end_date.to_s).tomorrow.strftime("%Y-%m-%d")) %></td>
		   </tr>
	  <% end %>
      
    </tbody>
</table>
<div align="center" style="margin:20px;">
   <%= link_to "Download Excel" , {:action => "download_excel" , :id => @current_organization.public_id , :start_date => @start_date , :end_date => @end_date} , :target => "blank" %>
</div>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>

<script type="text/javascript">
	jQ(document).ready(function(){
		$submit = jQ(".metric_ajax");
		$submit.submit(function(){
			jQuery.post("/admin/metrics/index/<%=@current_organization.public_id%>" , $submit.serialize() , function(data){
				jQuery("#report_metrics_abuse").html(data);
			})
			return false;
		});
	})

</script>

