
	<table style=" width=720px; margin-left:0px;border:1px solid #ddd;">
		<thead style="border:1px solid #ddd;">
			<tr style=" border:1px solid #ddd">
				<th colspan=5 style=" border:1px solid #ddd; color: #2061a5; font-size:14px; padding-top:5px; padding-bottom:5px; font-weight:normal">
					<center><%= @current_user.full_name %>&nbsp;Analysis:&nbsp;<%=subject.name %></center>
				</th>
			</tr>			
			<tr style=" border:1px solid #ddd; color: #2061a5; ">
				<th style = "color: #2061a5;font-weight:normal; vertical-align:middle;">
					<center>Since: <%= since.strftime("%b %d, %Y") -%></center>
				</th>
				<th style = "color: #2061a5;font-weight:normal; vertical-align:middle;">
					<center>My Strategies</center>
				</th>
				<th style = "color: #2061a5;font-weight:normal; vertical-align:middle;">
					<center>My Time %</center>
				</th>
				<th style = "color: #2061a5;font-weight:normal; vertical-align:middle;">
					<center>My Students</center>
				</th>
				<th style = "color: #2061a5;font-weight:normal; vertical-align:middle;">
					<center>How Effective?</center>
				</th>
			</tr>
		</thead>

		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<% AppMethod.rs.first.tl_activity_types.each do |activity| -%>
			<% activity_stats = activity.stats_for_user_subject_since(@current_user, subject, since) -%>
			<tr  style=" border:0px solid #ddd;">   			
 				<td  style=" width:130px; width:fixed; border:1px solid #ddd;vertical-align:middle; color: #2061a5; font-size:11px; padding-top:0px; padding-left:0px; padding-right:0px; text-align:center;  font-weight:bold">
					<%= activity.activity %><br/>
					<span style="color: #000000;font-size:10.5px; text-align:center; font-weight:normal">
						<%= pluralize(activity_stats[6], " Session") %><br/><%=subject.name %>
					</span>

					
				</td>
  				<td  style="width:200px;  width:fixed; border:1px solid #ddd;vertical-align:top; color: #2061a5; font-size:11px; padding-top:0px; padding-left:0px; padding-right:0px; text-align:left; font-size:12px; font-weight:normal">
					<table id="strat_header_<%= activity.id %>">
						<tbody>
							<tr>
								<td  id="strat_show_<%= activity.id %>" colspan=2 style=" font-weight:normal;  font-size:9px; color: #2061a5;  text-align:left">
									>&nbsp;&nbsp;<u>Show Breakdown</u>  
								</td>
							</tr>	
						</tbody>
					</table>
					<table id="strat_descript_<%= activity.id %>" >
						<tbody>
							<tr>
								<td   id="strat_hide_<%= activity.id %>" colspan=2 style=" font-weight:normal;  font-size:9px; color: #2061a5;  text-align:left">
									>&nbsp;&nbsp;<u>Hide Breakdown</u>  
								</td>
							</tr>
							<% activity.tl_activity_type_tasks.enabled.each do |task| -%>
								<% task_stats = task.stats_for_user_subject_since(@current_user, subject, since) -%>
								<% unless task_stats[1] == 0 -%>	
									<tr>
										<td  style="width:40px; font-weight:normal;  font-size:9.5px; color: #2061a5;  text-align:center">
													<%= number_to_percentage(task_stats[1], :precision => 0) %>,&nbsp;
										</td>
										<td  class="tip" title="<%= task.name.titleize %>"  style=" font-size:9.5px; color: #2061a5;  text-align:left">
											<%= task.name.titleize -%>
										</td>										
									</tr>	
								<% end -%>
							<% end -%>
						</tbody>
					</table>
  			  		<%= text_area :strategy, activity.id.to_s, :rows => 4, :cols => 28, :maxlength => 455  %>
				</td>
 				<td  style="width:95px;  width:fixed; border:1px solid #ddd;vertical-align:middle; color: #2061a5; font-size:14px; padding-top:0px; padding-left:0px; padding-right:0px; text-align:center; font-weight:normal">
					<% if activity_stats[1] > 0%>
						<%= number_to_percentage(activity_stats[1], :precision => 0) -%>
					<% else -%>
						&nbsp;
					<% end -%>
				</td>
  				<td  style=" width:95px;  width:fixed; border:1px solid #ddd;vertical-align:middle; color: #2061a5; font-size:11px; padding-top:0px; padding-left:0px; padding-right:0px; text-align:center; font-weight:normal">
					<% unless activity_stats[2] == 0.0 -%>Involve: <%= number_with_precision(activity_stats[2], :precision => 1) %><br/><% end -%>
					<% unless activity_stats[3] == 0.0 -%>Impact: <%= number_with_precision(activity_stats[3], :precision => 1) %><br/><% end -%>				
				</td> 
   				<td  style="  width:200px; border:1px solid #ddd;vertical-align:middle; color: #2061a5; font-size:11px; padding-top:0px; padding-left:0px; padding-right:0px; text-align:left; font-size:12px; font-weight:normal">
  			  		<%= text_area :effective, activity.id.to_s, :rows => 4, :cols => 28, :maxlength => 455  %>
				</td> 
 			</tr>


<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#strat_header_<%= activity.id %>").show();
		  jQ("#strat_descript_<%= activity.id %>").hide();		  

	jQ("#strat_show_<%= activity.id %>").click(function() {
		  	jQ("#strat_header_<%= activity.id %>").slideUp("slow");	 
	   		jQ("#strat_descript_<%= activity.id %>").slideDown("slow");
	})

	jQ("#strat_hide_<%= activity.id %>").click(function() {
	   		jQ("#strat_descript_<%= activity.id %>").slideUp("slow");
	   		jQ("#strat_header_<%= activity.id %>").show();
	})	
});
</script>


			<% end -%>
   		</tbody>
   	</table>

