<div id="edit_template_<%= template.public_id%>">
	<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
		<br/>
		<center>
			<strong>Edit Template</strong><br/>
		</center>
		<span style = "font-size:13px; color: #C83A14; padding-top:15px; font-weight:bold">
			<center><%= template.name %></center>
		</span>
<br/>
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="margin-left:110px;cursor:pointer">
		 <%= link_to "Done" ,{:controller => "/apps/time_learning", :action => "manage_filters", :organization_id => @current_organization}  %>
		</span>

	</div>
	<br/>
    <%= render :partial => "/shared/error_and_notice" %>
	<% if @admin-%>	
		<table style="margin-left:100px; border:0px solid #ddd; font-size:12px; font-weight:bold;  color: #2061a5; width:700px">
			<tbody >
				<tr>
					<td  style="width:80px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:5px">
						&nbsp;
					</td>
					<td  style="width:270px width:fixed;  vertical-align:bottom; padding-bottom:0px; padding-top:0px; padding-left:5px">
						Template Name
					</td>
					<td  style="width:330px width:fixed;  vertical-align:bottom; padding-bottom:0px; padding-top:0px; padding-left:5px">
						Description
					</td>
				</tr>
				<tr>
					<td  id= "edit_template" style="width:80px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:5px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all", style ="cursor:pointer">
							 Update
						</span>
					</td>
					<td  style="width:270px width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:5px">
					     <%= text_field :itl_template, :name, :value => template.name, :size => 35, :maxlength => 35 %><br/>
					</td>
					<td  style="width:330px width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:5px">
					     <%= text_area :itl_template, :description, :value => template.description, :rows => 2, :cols=> 50 %>		
					</td>
				</tr>
			</tbody>
		</table>
		</br/>
	<% else -%>
			<span style="color: #C83A14; font-size:12px;  font-weight:normal">
				<br/></br/><center>
					Not&nbsp;Authorized.
				</center><br/></br/>
			</span>
	<% end -%>
<br/>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#edit_template').click(function() {
		var name = jQ('#itl_template_name').val();
		var desc = jQ('#itl_template_description').val();		
		var url = "<%= url_for :controller => '/apps/time_learning', :action => :edit_template, :organization_id => @current_organization, :itl_template_id=> template.id, :function=>"update"  %>";
			jQ.get(url, {'name':name, 'description': desc}, function(data) {
			jQ("#edit_template_<%= template.public_id%>").html(data); 
	   		jQ("#edit_template_<%= template.public_id%>").show();
			});
	})
});
</script>

  	<div style="margin-left:100px;">
  		<%= render :partial => "/apps/time_learning/manage_filters", :locals=>{:template => template} %> 
	</div>
<br/></br/>
</div>

