
<div  class='row'>
  <p class="irr_image">
    <%= session.irr? ? image_tag("black_belt.png", :width => 30) : ''%>
  </p>
</div>
<div  class='row panel_title_blue'>
  <p>
      <%= session.classroom_name %>,&nbsp;<%= session.class_period_name %>
  </p>
</div>
<div  class='panel_subtitle_blue'>
  <p>
    <%= session.session_date.strftime("%b %d, %Y") %>
    <%= session.training? ? '   (Practice Session)' : '' %>
  </p>
  <p>
    <%= pluralize(session.students, "Student")%>
  </p>
  <p>
    Class Time:&nbsp;<%= pluralize(number_with_precision(session.duration/60.0, :precision => 0), " Minute") %>
  </p>
  <p>
    Observation Time:&nbsp;<%= pluralize(number_with_precision(session.session_length/60.0, :precision => 1), " Minute") %>
  </p>
  <hr>
</div>
<% if session.topic %>
  <div  class='row session_content_row'>
    <div class="col-md-3 session_label">
      Unit:
    </div>
    <div class="col-md-9 session_content">
      <p>
        <%=  session.topic.title.titleize %>
      </p>
    </div>
  </div>
<% end %>
<% if !session.lesson.empty? %>
    <div  class='row session_content_row'>
      <div class="col-md-3 session_label">
        Lesson:
      </div>
      <div class="col-md-9 session_content">
        <p>
          <%=  session.lesson.titleize %>
        </p>
      </div>
    </div>
<% end %>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.task_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#static_heading").html(data);
				jQ("#static_heading").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#pre_header_<%= session.public_id %>").show();
		  jQ("#pre_descript_<%= session.public_id %>").hide();		  

	jQ("#pre_show_<%= session.public_id %>").click(function() {
		  	jQ("#pre_header_<%= session.public_id %>").slideUp("slow");	 
	   		jQ("#pre_descript_<%= session.public_id %>").slideDown("slow");
	})

	jQ("#pre_hide_<%= session.public_id %>").click(function() {
	   		jQ("#pre_descript_<%= session.public_id %>").slideUp("slow");
	   		jQ("#pre_header_<%= session.public_id %>").show();
	})	
});
</script>

<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#lrn_header_<%= session.public_id %>").show();
		  jQ("#lrn_descript_<%= session.public_id %>").hide();		  

	jQ("#lrn_show_<%= session.public_id %>").click(function() {
		  	jQ("#lrn_header_<%= session.public_id %>").slideUp("slow");	 
	   		jQ("#lrn_descript_<%= session.public_id %>").slideDown("slow");
	})

	jQ("#lrn_hide_<%= session.public_id %>").click(function() {
	   		jQ("#lrn_descript_<%= session.public_id %>").slideUp("slow");
	   		jQ("#lrn_header_<%= session.public_id %>").show();
	})	
});
</script>


<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#tch_header_<%= session.public_id %>").show();
		  jQ("#tch_descript_<%= session.public_id %>").hide();		  

	jQ("#tch_show_<%= session.public_id %>").click(function() {
		  	jQ("#tch_header_<%= session.public_id %>").slideUp("slow");	 
	   		jQ("#tch_descript_<%= session.public_id %>").slideDown("slow");
	})

	jQ("#tch_hide_<%= session.public_id %>").click(function() {
	   		jQ("#tch_descript_<%= session.public_id %>").slideUp("slow");
	   		jQ("#tch_header_<%= session.public_id %>").show();
	})	
});
</script>

<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#nxt_header_<%= session.public_id %>").show();
		  jQ("#nxt_descript_<%= session.public_id %>").hide();		  

	jQ("#nxt_show_<%= session.public_id %>").click(function() {
		  	jQ("#nxt_header_<%= session.public_id %>").slideUp("slow");	 
	   		jQ("#nxt_descript_<%= session.public_id %>").slideDown("slow");
	})

	jQ("#nxt_hide_<%= session.public_id %>").click(function() {
	   		jQ("#nxt_descript_<%= session.public_id %>").slideUp("slow");
	   		jQ("#nxt_header_<%= session.public_id %>").show();
	})	
});
</script>

<script>
jQ(function(){
jQ('td.tip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topLeft',
         tooltip: 'bottomLeft'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 300,
	  tip: { // Now an object instead of a string
         corner: 'bottomLeft', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 0, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 0 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>