<div  id="activity_summary">
	<div style-"">
		<u>Observation Summary Data</u>&nbsp;
		<% if update %>
			<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
				<%= link_to "Refresh", {:controller => "apps/time_learning", :action => :refresh_activity_summary, :organization_id => @current_organization, :tlt_session_id => @tlt_session, :update=>update}, :class => "refresh_button" %>
			</span>
		<% end -%>
	</div>
	<% session.app_methods.by_position.each do|method| -%>
		<% if method.timed?%>
			<table  style="width:650px; margin-left:0px; color:#000000; border:2px solid #ddd;">
				<tbody>  
					<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
					<tr>
						<td colspan=2 style=" vertical-align:middle;  line-height:1.2em; padding-top:3px; padding-bottom:3px; font-weight:normal; font-size:13px; background:<%="#" + method.dashboard_color%>">
							<center><%= method.name.titleize.pluralize.upcase %><br/>
								<span style = "font-size:9px; font-weight:normal">
									(Minutes, Pct, Occurances)							
								</span>
							</center>
						</td>
					</tr>
					<% if session.log_activities_for_method(method).empty? -%>
						<tr>
							<td  style="width:650px; border:1px solid #ddd; vertical-align:middle; padding-top:0px; font-size:12px; color: #000000; text-align:center">
								<i>No Entries</i>
							</td>					
						</tr>
					<% else -%>
						<% method.tl_activity_types.by_position.in_groups_of(2).each do |activity| %>
							<tr  style="width:650px; ">
								<td  style="width:325px;  vertical-align:bottom; padding-left:20px; padding-top:5px; font-size:13px; text-align:left">
									<u><%=activity[0].activity %></u>&nbsp;&nbsp;
									<span  style="color:#000000; font-size:11px">
										<i><%= number_with_precision(session.measured_activity_time(activity[0])/60.0, :precision => 1) %>&nbsp;Minutes</i>			
									</span>
								</td>
								<td  style="width:325px;  vertical-align:bottom; padding-left:20px; padding-top:5px; font-size:13px; text-align:left">
									<% if activity[1] %>
										<u><%=activity[1].activity %></u>&nbsp;&nbsp;
										<span  style="color:#000000; font-size:11px">
											<i><%= number_with_precision(session.measured_activity_time(activity[1])/60.0, :precision => 1) %>&nbsp;Minutes</i>
										</span>
									<% end -%> 				
								</td>
							</tr>
							<tr>
								<td  style="width:325px; padding-left:25px; font-weight:normal; padding-bottom:10px; line-height:1.2em; font-size:12px; color:#000000; text-align:left">
									<% session.tlt_session_logs.collect{|l| l.tl_activity_type_task}.uniq.select{|t| t.tl_activity_type == activity[0]}.sort_by{|t| t.position}.each do |task| -%>
										<% task_duration = session.tlt_session_logs.for_task(task).collect{|t| t.duration}.sum -%>
										<% task_pct = session.duration == 0 ? 0 : (100*task_duration.to_f/session.duration.to_f).round-%>
										&nbsp;&nbsp;&nbsp;<%= number_with_precision(task_duration/60.0, :precision => 1) %>,&nbsp;
										<%= number_to_percentage(task_pct, :precision => 0) %>,&nbsp;
										<%= session.tlt_session_logs.for_task(task).size %>&nbsp;&nbsp;
										<%= task.name.titleize -%><br/>	
									<% end -%>
								</td>
								<td  style="width:325px; padding-left:25px; font-weight:normal; padding-bottom:10px; line-height:1.2em; font-size:12px; color:#000000; text-align:left">
									<% if activity[1] -%>
										<% session.tlt_session_logs.collect{|l| l.tl_activity_type_task}.uniq.select{|t| t.tl_activity_type == activity[1]}.sort_by{|t| t.position}.each do |task| -%>
											<% task_duration = session.tlt_session_logs.for_task(task).collect{|t| t.duration}.sum -%>
											<% task_pct = session.duration == 0 ? 0 : (100*task_duration.to_f/session.duration.to_f).round-%>
											&nbsp;&nbsp;&nbsp;<%= number_with_precision(task_duration/60.0, :precision => 1) %>,&nbsp;
											<%= number_to_percentage(task_pct, :precision => 0) %>,&nbsp;
											<%= session.tlt_session_logs.for_task(task).size %>&nbsp;&nbsp;
											<%= task.name.titleize -%><br/>	
										<% end -%>
									<% else -%>
										&nbsp;
									<% end -%>
								</td>
							</tr>
						<% end -%>
					<% end -%>
				</tbody>
			</table>
		<% else -%>
			<table  style="width:650px; margin-left:0px; color:#000000; border:2px solid #ddd;">
				<tbody>  
					<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
					<tr>
						<td colspan=2 style=" vertical-align:middle;  line-height:1.2em; padding-top:3px; padding-bottom:3px; font-weight:normal; font-size:13px; background:<%="#" + method.dashboard_color%>">
							<center><%= method.name.titleize.pluralize.upcase %><br/>
								<span style = "font-size:9px; font-weight:normal">
									(Occurances)							
								</span>
							</center>
						</td>
					</tr>
					<% if session.log_activities_for_method(method).empty? -%>
						<tr>
							<td  style="width:650px; border:1px solid #ddd; vertical-align:middle; padding-top:0px; font-size:12px; color: #000000; text-align:center">
								<i>No Entries</i>
							</td>					
						</tr>
					<% end -%>
					<% session.log_activities_for_method(method).in_groups_of(2).each do |activity| %>
						<tr  style="width:650px; ">
							<td  style="width:325px;  vertical-align:bottom; padding-left:20px; padding-top:5px; font-size:13px; text-align:left">
									<u><%=activity[0].activity %></u>&nbsp;&nbsp;
									<span  style=" font-size:11px">
										<i><%= pluralize(session.logs_for_activity(activity[0]).size, method.task_name) %></i>			
									</span>
							</td>
							<td  style="width:325px;  vertical-align:bottom; padding-left:20px; padding-top:5px; font-size:13px; text-align:left">
								<% if activity[1] %>
									<u><%=activity[1].activity %></u>&nbsp;&nbsp;
									<span  style="font-size:11px">
									<i><%= pluralize(session.logs_for_activity(activity[1]).size, method.task_name) %></i>			
									</span>
								<% end -%> 				
							</td>
						</tr>
						<tr>
							<td  style="width:325px; padding-left:25px; font-weight:normal; padding-bottom:10px; line-height:1.2em; font-size:12px; color:#000000; text-align:left">
								<% session.logs_for_activity(activity[0]).collect{|l| l.tl_activity_type_task}.uniq.sort_by{|t| t.position}.each do |task| -%>
									&nbsp;&nbsp;&nbsp;<%= session.logs_for_task(task).size %>&nbsp;<%= task.name %><br/>
								<% end -%>
							</td>
							<td  style="width:325px; padding-left:25px; font-weight:normal; padding-bottom:10px; line-height:1.2em; font-size:12px; color:#000000; text-align:left">
								<% if activity[1] -%>
									<% session.logs_for_activity(activity[1]).collect{|l| l.tl_activity_type_task}.uniq.sort_by{|t| t.position}.each do |task| -%>
										&nbsp;&nbsp;&nbsp;<%= session.logs_for_task(task).size %>&nbsp;<%= task.name %><br/>
									<% end -%>
								<% end -%>
							</td>
						</tr>
					<% end -%>
				</tbody>
			</table>
		<% end -%>	
	<% end -%>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.refresh_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#activity_summary").html(data);
				jQ("#activity_summary").show();
			})
			return false;
	})
});
</script>

