	<div  class='row'>
    <% if !session.user.nil? && !session.is_training -%>
      <div class="col-md-5">
        <% if !session.user.nil? && session.user.image_present? %>
          <p class = 'ctl_user_pic'>
            <%= image_tag session.user.picture.url(:thumb) %>
          </p>
        <% end -%>
      </div>
      <div class = 'col-md-7 ctl_user_name'>
        <%= session.user.nil? ? 'Undefined User' : session.user.full_name %>
      </div>
    <% end -%>
  </div>
  <div  class='row'>
    <% if !session.tracker.nil?%>
      <div class="col-md-5">
        <% if session.tracker.image_present? %>
          <p class = 'ctl_user_pic'>
            <%= image_tag session.tracker.picture.url(:med_thumb) %>
          </p>
        <% end -%>
      </div>
      <div class = 'col-md-7 ctl_user_name'>
        <%= session.tracker.nil? ? 'Undefined Observer' : session.tracker.full_name %>
      </div>
    <% end -%>
  </div>
  <hr>
  <% if session.methods? %>
    <div  class='row session_content_row'>
      <div class="col-md-4 session_label">
        <%= session.app_methods.size == 1 ? 'Method' : 'Methods'%>
      </div>
      <div class="col-md-8 session_content">
        <% session.app_methods.each do |method| -%>
          <p>
            <%= method.name %>
          </p>
        <% end -%>
      </div>
    </div>
  <% end -%>
  <% if session.template? %>
    <div  class='row session_content_row'>
      <div class="col-md-4 session_label">
        Template:
      </div>
      <div class="col-md-8 session_content">
        <p>
          <%= session.itl_template.name %>
        </p>
      </div>
    </div>
  <% end -%>
	<% if !session.training? && !session.irr?-%>
    <div class="row ">
      <div class="col-md-4 session_finalize">
        <% if session.finalizable?(@current_user) && survey %>
          <a class='button_blue' id="pc-survey" href="">Finalize</a>
		    <% elsif session.finalizable?(@current_user) -%>
				  <%= link_to 'Finalize', ctl_observation_finalize_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => session, :function => 'observer'), :class=>'btn btn-primary btn-xs' %>
        <% elsif session.is_final -%>
          <p class="session_status">
            Finalized
          </p>
        <% end -%>
      </div>
      <div  class='col-md-7 session_status'>
        <%= session.is_final ? (session.finalize_date.strftime("%b %d, %Y")) : 'Not Final'-%>
      </div>
		  <div id="pc-survey-dialog" title= "<%= survey && survey.survey_instruction.is_anon ? "Post Conference Survey - Anonymous" : "Post Conference Survey" %>" style="text-align:left;">
		    <div class="title_large_blue" style="margin-bottom:15px;">
		        <%= session.user ? session.user.last_name: "teacher" %>/<%= session.tracker.last_name %>
		    </div>
		    <div class="normal_text">
		        <% if survey -%>
		        	<div >
						<%= form_for(:tlt_session, :url => ctl_observation_survey_path(:organization_id => @current_organization, :schedule_id => survey, :tlt_session_id => session, :finalize=>true, :function => "submit")) do |form| -%>
							<span style="float:right; padding-right:60px; font-size:14px">
								<%= link_to 'No Thanks', ctl_observation_finalize_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => session, :function => 'observer'),:class => 'btn btn-default btn-xs'  %>
							</span>
								<%= render :partial => "/apps/shared/survey_template", :locals=> {:audience => survey.tlt_survey_audience, :survey_type => survey.tlt_survey_type} %>
							<span style="float:left; padding-left:30px;">
						
								<%= submit_tag 'Submit Survey', :class => 'btn btn-success btn-xs' %>
							</span>	
							<br/>
						<% end -%>
					</div>
		    	<% else -%>
		    		No Survey Available
		   		<% end -%>
		    </div>
		  </div>
    </div>
	<% end-%>
<!--
	<#%= render :partial => "apps/app_blog/app_blog_list", :locals=>{:app => @current_application} %>
-->
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {
    	    jQ("#pc-survey-dialog").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: 700,
    	            height: 600,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);
    		jQ('#pc-survey').click(function(event){
    		    jQ("#pc-survey-dialog").dialog('open');
    			 event.preventDefault();
    		})
    });
</script>