<div  id="student_survey">
	<% unless session.student_count == 0%>
		<% survey = session.student_survey -%>
		<% if !survey.nil?%>
			<table id="<%=survey.public_id %>_feedback"   style="width:100%; color: #2061a5; font-size:11px; font-weight:normal">
				<tbody>  
					<tr>
						<td class="resource_levels_close" >
							<%= link_to '', surveys_results_show_path(:organization_id => @current_organization, :schedule_id => survey)  %>
							View Student Feedback
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>	
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#<%=survey.public_id %>_feedback .resource_levels_close').toggleResourceLevels();
				jQ('#<%=survey.public_id %>_feedback .resource_levels_open').toggleResourceLevels();	
			});
			</script>	
		<% elsif !session.finalized? && !session.student_survey_expired? && session.student_survey_available?-%>
			<table>
				<tbody>
					<tr>
						<td   id = "send_survey" style="width:31%; border:0px solid #ddd; font-size:9px;vertical-align:middle;  padding-top:0px; padding-bottom:0px; padding-left:3px; vertical-align:top; ">
							<span class="button_green">
								Survey Students
							</span>
						</td>
						<td>
							 &nbsp;		
						</td>
					</tr>
				</tbody>
			</table>
		<% end -%>
	<% end -%>
	
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#send_survey').click(function() {
			var session_id = '<%= session.public_id %>';
			var url = "<%= ctl_observation_survey_send_url(:organization_id => @current_organization)  %>";
				jQ.get(url, {'tlt_session_id': session_id}, function(data) {
				jQ("#student_survey").html(data); 
		   		jQ("#student_survey").show();
				});
		})
	});
	</script>
</div>
