<div  id="post_conf_notes_<%= session.public_id %>">
  <%= render :partial => "/shared/error_and_notice" %>
  <div  class='row session_content_row'>
    <div class="col-md-3 session_label">
      Pre-Conference:
    </div>
    <div class="col-md-9 session_content">
      <p>
        <% note = session.observations.empty? ? "" : session.observations -%>
        <% if observer %>
          <%= text_area :tlt_session, :pre_conf, :rows => 3, :cols => 60, :value => note  %>
        <% else -%>
          <% unless session.observations.empty? -%>
              <%= simple_format note %>
          <% else -%>
              &nbsp;<i> - - None - - </i>
          <% end -%>
        <% end -%>
      </p>
    </div>
  </div>
  <div  class='row session_content_row'>
    <div class="col-md-3 session_label">
      Teacher Note:
    </div>
    <div class="col-md-9 session_content">
      <p>
        <% note = session.teacher_remark.empty? ? "" : session.teacher_remark -%>
        <% if teacher %>
          <%= text_area :tlt_session, :teacher_note, :rows => 3, :cols => 60, :value => note  %>
        <% else -%>
          <% unless session.teacher_remark.empty? -%>
              <%= simple_format note %>
          <% else -%>
              &nbsp;<i> - - None - - </i>
          <% end -%>
        <% end -%>
      </p>
    </div>
  </div>
  <div  class='row session_content_row'>
    <div class="col-md-3 session_label">
      Observer Note:
    </div>
    <div class="col-md-9 session_content">
      <p>
        <% note = session.learning.empty? ? "" : session.learning -%>
        <% if observer %>
          <%= text_area :tlt_session, :observer_note, :rows => 3, :cols => 60, :value => note  %>
        <% else -%>
          <% unless session.learning.empty? -%>
              <%= simple_format note %>
          <% else -%>
              &nbsp;<i> - - None - - </i>
          <% end -%>
        <% end -%>
      </p>
    </div>
  </div>
  <div  class='row session_content_row'>
    <div class="col-md-3 session_label">
      Next Steps:
    </div>
    <div class="col-md-9 session_content">
      <p>
        <% note = session.next_step.empty? ? "" : session.next_step -%>
        <% if observer %>
          <%= text_area :tlt_session, :next_step, :rows => 3, :cols => 60, :value => note  %>
        <% else -%>
          <% unless session.next_step.empty? -%>
              <%= simple_format note %>
          <% else -%>
              &nbsp;<i> - - None - - </i>
          <% end -%>
        <% end -%>
      </p>
    </div>
  </div>
  <% if observer || teacher -%>
    <div  class='row session_content_row'>
      <div class="col-md-3 session_label">
        <span id="notes_<%= session.public_id %>" class = 'btn btn-primary btn-xs'>
          Update Notes
        </span>
      </div>
      <div class="col-md-9 session_content">
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#notes_<%= session.public_id %>').click(function() {
		var url = "<%= ctl_observation_comments_edit_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => session) %>";
		var pre_conf = jQ('#tlt_session_pre_conf').val();
		var teacher_note = jQ('#tlt_session_teacher_note').val();
		var observer_note = jQ('#tlt_session_observer_note').val();
		var next_step = jQ('#tlt_session_next_step').val();
			jQ.get(url, {'pre_conf':pre_conf, 'teacher_note':teacher_note, 'observer_note':observer_note, 'next_step':next_step}, function(data) {
				jQ("#post_conf_notes_<%= session.public_id %>").html(data);
				jQ("#post_conf_notes_<%= session.public_id %>").show();
			});
	})
});
</script>