<div  id="post_conf_notes_<%= session.public_id %>">						
	<table style=" width:645px; font-size:11px; border:0px solid #ddd; font-weight:normal; color:#000000;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr  style="margin-left:00px">
				<td  style=" width:105px; border:0px solid #ddd; padding-right:0px; vertical-align:top; text-align:right; ">
					Pre-Conference:								
				</td>
				<td   style=" border:0px solid #ddd; line-height:1.5em; padding-left:10px; padding-top:3px; text-align:left; ">
					<% note = session.observations.empty? ? "" : session.observations -%>
					<% if observer %>
			 		     <%= text_area :tlt_session, :pre_conf, :rows => 3, :cols => 60, :value => note  %>
					<% else -%>
						<% unless session.observations.empty? -%>
							<%= simple_format note %>
						<% else -%>
						 	&nbsp;<i> - - None - - </i>
						<% end -%> 	
					<% end -%>			
				</td>
			</tr>		
		</tbody>
	</table>
	<table style=" width:645px; font-size:11px; border:0px solid #ddd; font-weight:normal; color:#000000;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr  style="margin-left:00px">
				<td  style=" width:105px; border:0px solid #ddd; padding-right:0px; vertical-align:top; text-align:right; ">
					Teacher Note:								
				</td>
				<td   style=" border:0px solid #ddd; line-height:1.5em; padding-left:10px; padding-top:3px; text-align:left; ">
					<% note = session.teacher_remark.empty? ? "" : session.teacher_remark -%>
					<% if teacher %>
			 		     <%= text_area :tlt_session, :teacher_note, :rows => 3, :cols => 60, :value => note  %>
					<% else -%>
						<% unless session.teacher_remark.empty? -%>
							<%= simple_format note %>
						<% else -%>
						 	&nbsp;<i> - - None - - </i>
						<% end -%> 	
					<% end -%>			
				</td>
			</tr>		
		</tbody>
	</table>
	<table style=" width:645px; font-size:11px; border:0px solid #ddd; font-weight:normal; color:#000000;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr  style="margin-left:00px">
				<td  style=" width:105px; border:0px solid #ddd; padding-right:0px; vertical-align:top; text-align:right; ">
					Observer Note:								
				</td>
				<td   style=" border:0px solid #ddd; line-height:1.5em; padding-left:10px; padding-top:3px; text-align:left; ">
					<% note = session.learning.empty? ? "" : session.learning -%>
					<% if observer %>
			 		     <%= text_area :tlt_session, :observer_note, :rows => 3, :cols => 60, :value => note  %>
					<% else -%>
						<% unless session.learning.empty? -%>
							<%= simple_format note %>
						<% else -%>
						 	&nbsp;<i> - - None - - </i>
						<% end -%> 	
					<% end -%>			
				</td>
			</tr>		
		</tbody>
	</table>
	<table style=" width:645px; font-size:11px; border:0px solid #ddd; font-weight:normal; color:#000000;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr  style="margin-left:00px">
				<td  style=" width:105px; border:0px solid #ddd; padding-right:0px; vertical-align:top; text-align:right; ">
					Next Steps:								
				</td>
				<td   style=" border:0px solid #ddd; line-height:1.5em; padding-left:10px; padding-top:3px; text-align:left; ">
					<% note = session.next_step.empty? ? "" : session.next_step -%>
					<% if observer %>
			 		     <%= text_area :tlt_session, :next_step, :rows => 3, :cols => 60, :value => note  %>
					<% else -%>
						<% unless session.next_step.empty? -%>
							<%= simple_format note %>
						<% else -%>
						 	&nbsp;<i> - - None - - </i>
						<% end -%> 	
					<% end -%>			
				</td>
			</tr>		
		</tbody>
	</table>
	<% if observer || teacher -%>
		<table style=" width:565px; font-size:11px; border:0px solid #ddd; font-weight:normal; color:#000000;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:none; }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tr  style="margin-left:00px">
					<td  style=" width:105px; border:0px solid #ddd; padding-right:0px; vertical-align:top; text-align:right; ">
							<span id="notes_<%= session.public_id %>" class = 'fsn-button ui-button ui-state-default ui-corner-all' style="cursor:pointer">
								Update Notes
							</span>										
					</td>
					<td   style=" border:0px solid #ddd; line-height:1.5em; padding-left:10px; padding-top:3px; text-align:left; ">
            <%= render :partial => "/shared/error_and_notice" %>
					</td>
				</tr>		
			</tbody>
		</table>
	<% end -%>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#notes_<%= session.public_id %>').click(function() {
		var url = "<%= ctl_observation_comments_edit_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => session) %>";
		var pre_conf = jQ('#tlt_session_pre_conf').val();
		var teacher_note = jQ('#tlt_session_teacher_note').val();
		var observer_note = jQ('#tlt_session_observer_note').val();
		var next_step = jQ('#tlt_session_next_step').val();
			jQ.get(url, {'pre_conf':pre_conf, 'teacher_note':teacher_note, 'observer_note':observer_note, 'next_step':next_step}, function(data) {
				jQ("#post_conf_notes_<%= session.public_id %>").html(data);
				jQ("#post_conf_notes_<%= session.public_id %>").show();
			});
	})
});
</script>