
<div style = "font-size:12px; color: #2061a5; padding-left:10px;">
	<% none_found =  true -%>
<div>
<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
	<strong><center>Observation Analysis</center></strong>
</div>

<% unless @current_organization.organization_type.tlt_session_count == 0 || @current_organization.itl_org_option.nil? || !@current_organization.app_enabled?(app.abbrev) -%>
	<% none_found =  false -%>
		<table id="<%=@current_organization.organization_type.id %>_comparison"   style="width:650px; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
	
					<%= link_to '', :controller => "apps/time_learning", :action => :then_now, :type => "org",  :organization_id => @current_organization, :l_entity => @current_organization.id, :new_r_entity => @current_organization.id, :new_subject => "A"  %>
					<%= @current_organization.organization_type.name %>&nbsp;Strategy Comparisons
					<span></span>
					</td>
				</tr>
			</tbody>
		</table>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=@current_organization.organization_type.id %>_comparison .resource_levels_close').toggleResourceLevels();
	jQ('#<%=@current_organization.organization_type.id %>_comparison .resource_levels_open').toggleResourceLevels();	
});
</script>
<% end -%>



<% unless @current_organization.itl_summaries.empty? || @current_organization.itl_org_option.nil? || !@current_organization.app_enabled?(app.abbrev) -%>
	<% none_found =  false -%>
		<table id="<%=@current_organization.public_id %>_analyze"   style="width:650px; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
	
					<%= link_to '', :controller => "apps/time_learning", :action => :school_utilization, :organization_id => @current_organization, :school_id => @current_organization %>
					<%= @current_organization.name %>&nbsp;(All Subjects)
					<span></span>
					</td>
				</tr>
			</tbody>
		</table>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=@current_organization.public_id %>_analyze .resource_levels_close').toggleResourceLevels();
	jQ('#<%=@current_organization.public_id %>_analyze .resource_levels_open').toggleResourceLevels();	
});
</script>
<% end -%>

	<%= render(:partial => "list_school_subject_dashboards", :locals => {:school => @current_organization}) %>

	</div>
<% if none_found -%>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  No <%= @current_organization.organization_type.name %> Time & Learning Sessions Are In Repository  * * *</i></center>
	</span>
<% end -%>	

</div>


