<div id="backlog_list">

	<% back_sessions = (@current_organization.tlt_sessions.for_teacher(user).backlog + @current_organization.tlt_sessions.for_observer(user).backlog).uniq -%>
	<% header_string = user.last_name + ": " + pluralize(back_sessions.size.to_s, " Time & Learning Observation")  %>

	<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
		<strong><center><%= header_string %></center></strong>
	</div>

	<% unless back_sessions.size == 0 %>
			
	<table style="width:99%; border:1px solid #ddd;">
		<thead style="border:1px solid #ddd;">
			<tr style=" border:1px solid #ddd;">
				<th style = "color:#000000"><center>Observation</center></th>
				<th style = "color:#000000"><center>Classroom</center></th>
				<th style = "color:#000000"><center>Summary Info</center></th>
				<th style = "color:#000000">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>

			<% back_sessions.sort{|a,b| b.created_at <=> a.created_at}.each do |tlt| -%>
			<% teacher = tlt.user ? tlt.user.full_name : "Former User" -%>
			<% observer = tlt.tracker ? tlt.tracker.full_name : "Former User" -%>
			<tr style="border:1px solid #ddd;">

					<td width = 180px style=" border:1px solid #ddd; padding-top:5px; padding-bottom:5px; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
						<u>
							<%= link_to "View Observation", {:controller =>  "/apps/time_learning", :action => "static_itl_session", :organization_id => @current_organization, :tlt_session_id => tlt}, {:target => "_blank"}  %>
						</u><br/>
						<%= tlt.session_date.strftime("%b %d, %Y") %><br/>
						Observation: <%= number_with_precision(tlt.session_length/60.0, :precision => 1) %> Minutes
						<% if tlt.training?%>
								<span style="color:#C73914;font-size:10px"><i>
									<br/>Practice
								</span>
						<% else -%>
							<% if tlt.student_survey_date.nil?-%>
								<br/><%= tlt.student_survey_expired? ? "" : (link_to "Send Student_Survey", { :controller =>"apps/time_learning", :action => "send_student_survey", :organization_id => @current_organization, :tlt_session_id => tlt, :user_id => @current_user}, :class => "survey_students") %><br/>
							<% else -%>
								<span style="color:#C73914;font-size:10px"><i>
									<br/>Students Surveyed: <%= tlt.student_survey_date.strftime("%b %d, %Y") %><br/>
								</span>
							<% end -%>
						<% end -%>
					</td>
					<td  style=" border:1px solid #ddd; padding-bottom:8px; color: #000000; vertical-align:top;text-align:left; font-size:10px" >
						<span style= "font-size:12px; color: #2061a5;">
							<strong><%= teacher %></strong>;&nbsp;&nbsp;<%=  tlt.classroom.course_name -%>
						</span>
						<% if tlt.classroom_period %>
							<br/>Period:&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.class_period_name %>,&nbsp;<%= (tlt.duration/60).round %>&nbsp;Minutes
						<% end-%>
						<% if tlt.topic %>
							<br/>Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.topic.title.titleize %>
						<% end-%>
						<% unless tlt.lesson.empty? %>
							<br/>Lesson:&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.lesson.titleize %>
						<% end-%>

					</td>
					<td width = 300px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:10px" >

						<% TlActivityType.by_position.each do |activity| %>
						<%= activity.activity_pct(tlt) %>%&nbsp;<%= activity.activity %></br/>
						<% end -%>
					</td> 			
					<td  width = 50px style=" border:1px solid #ddd; color: #000000; vertical-align:middle;padding-left:10px; padding-right:10px; font-size:11px" >
						<% if (@current_user.id == tlt.tracker_id || admin) -%>
							<%= link_to "Destroy", {:controller =>  "/apps/time_learning", :action => "destroy_session", :organization_id => @current_organization, :tlt_session_id => tlt, :user_id => @current_user}, :confirm => "Are You Sure?", :class => "destroy_session"  %>
						<% else -%>
							&nbsp;
						<% end -%>
					</td> 
 			</tr>
			<% end -%>
		</tbody>
	</table>
<% end -%>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.survey_students').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#backlog_list").html(data);
				jQ("#backlog_list").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.destroy_session').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#backlog_list").html(data);
				jQ("#backlog_list").show();
			})
			return false;
	})
});
</script>