<div id="resource_lists" style = "font-size:12px; color: #2061a5; padding-left:10px;">
	<div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold">
		<strong><%= @current_application.abbrev %>&nbsp;Resource Repository</strong>
	</div>
		<table id="observation_panel"   style="width:850px; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
            <%= link_to '', ctl_resources_panel_help_path(:organization_id => @current_organization)  %>
            <%= @current_application.abbrev -%> Strategies Explained
            <span></span>
					</td>
				</tr>
			</tbody>
		</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#observation_panel .resource_levels_close').toggleResourceLevels();
		jQ('#observation_panel .resource_levels_open').toggleResourceLevels();	
	});
	</script>
	
		<table id="resource_list"   style="width:850px; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
            <%= link_to '', ctl_resources_app_path(:organization_id => @current_organization, :app_id=> @current_application.id)  %>
            <%= @current_application.abbrev %>&nbsp;Resources
            <span></span>
					</td>
				</tr>
			</tbody>
		</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#resource_list .resource_levels_close').toggleResourceLevels();
		jQ('#resource_list .resource_levels_open').toggleResourceLevels();	
	});
	</script>

	<% if admin -%>	
		<table id="admin_resource_list"   style="width:850px; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
            <%= link_to '', ctl_resources_app_admin_path(:organization_id => @current_organization, :admin=> admin, :app_id=> @current_application.id) %>
            Administer&nbsp;<%= @current_application.abbrev %>&nbsp;Resources
            <span></span>
					</td>
				</tr>
			</tbody>
		</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#admin_resource_list .resource_levels_close').toggleResourceLevels();
		jQ('#admin_resource_list .resource_levels_open').toggleResourceLevels();	
	});
	</script>
	<% end -%>
</div>