<div id="manage_templates">

	<div style ="text-align:center; color: #2061a5; font-size:16px; margin-top:5px; font-weight:bold">
		<br/>
			<strong><%=  @current_organization.short_name %>&nbsp;Observation Templates</strong><br/>
		<span style = "font-size:10px; font-weight:normal">
			<br/><i>Close Window When Finished</i>
		</span>

		<span style = "font-size:13px; padding-top:10px;font-weight:normal">
			<br/>Methods:&nbsp;<%= @current_organization.itl_org_option.app_methods.by_position.collect{|m| m.name}.join(",  ") %>
		</span>
	</div>

    <%= render :partial => "/shared/error_and_notice" %>
	<br/>
	<table style="margin-left:200px;  width:500px; border:0px solid #ddd; font-size:12px; font-weight:normal;  color: #2061a5;">
		<tbody >
			<tr style = "border:0px solid #ddd; padding-bottom:10px;">
				<td  colspan=2 style="vertical-align:bottom; text-align:left; padding-bottom:0px; padding-top:0px; padding-left:15px">
					Name & Create A New Template
				</td>
			</tr>
			<tr style = "border:0px solid #ddd; padding-bottom:10px;">
				<td  style="width:60px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:15px">
					<span id= "new_template" class="fsn-button ui-button ui-state-default ui-corner-all", style ="cursor:pointer">
						 Create
					</span>
				</td>
				<td style="width:440px; width:fixed; vertical-align:top; text-align:left; padding-top:0px; padding-left:10px">
				     <%= text_field :itl_template, :name, :value => "", :size => 35, :maxlength => 35 %>
				</td>
			</tr>
		</tbody>
	</table>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#new_template').click(function() {
		var name = jQ('#itl_template_name').val();		
		var url = "<%= url_for :controller => '/apps/time_learning', :action => :manage_template, :function=>"new", :organization_id => @current_organization  %>";
			jQ.get(url, {'name':name}, function(data) {
			jQ("#manage_templates").html(data); 
	   		jQ("#manage_templates").show();
			});
	})
});
</script>
<br/>	
	<table style="margin-left:145px;  width:500px; border:0px solid #ddd; font-size:12px; font-weight:normal;  color: #2061a5;">
		<tbody >

			<tr style = "border:0px solid #ddd; padding-bottom:10px;">
				<td  style="width:120px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:0px; padding-left:15px">
					Default Template
				</td>
				<td id= "default_template" style="width:380px; width:fixed; vertical-align:top; text-align:left; padding-top:0px; padding-left:10px">
					<%=  select(:itl_template, :id, @current_organization.itl_templates.collect{|m| [m.name.titleize, m.id]},{:prompt => @current_organization.default_template.nil? ? "Select Default Template": @current_organization.default_template.name}) %>
				</td>
			</tr>
		</tbody>
	</table>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#default_template').change(function() {
		var temp_id = jQ('#itl_template_id').val();		
		var url = "<%= url_for :controller => '/apps/time_learning', :action => :manage_template, :function=>"default", :organization_id => @current_organization  %>";
			jQ.get(url, {'itl_template_id':temp_id}, function(data) {
			jQ("#manage_templates").html(data); 
	   		jQ("#manage_templates").show();
			});
	})
});
</script>
<br/>	
	
	<table style="margin-left:60px;  width:800px; border:3px solid #ddd; font-size:12px; font-weight:bold;  color: #2061a5;">
		<thead>
			<tr>
				<th colspan =4 style="text-align:center; font-size:12px; font-weight:bold;">
					Enable/Disable,  Edit, or Delete Templates
				</th>			
			</tr>
		</thead>
		<tbody >
			<% unless @current_organization.itl_templates.empty? -%>
				<% @current_organization.itl_templates.sort{|a,b| b.created_at<=>a.created_at}.each do |template| -%>
					<tr style = "border:3px solid #ddd; padding-bottom:10px;">
						<% toggle_button = template.enabled? ? "button_enabled.png" : "button_disabled.png"%>
						<td  style="width:20px; width:fixed;   vertical-align:top; text-align:left;padding-bottom:0px; padding-top:15px; padding-left:10px">
							<% unless template.empty? %>
								<span style ="cursor:pointer">
									<%= link_to (image_tag toggle_button,:width => 12), { :controller =>"apps/time_learning", :action => "toggle_template", :itl_template_id=> template.id, :organization_id => @current_organization}, :class => "toggle_template" + template.id.to_s %>
								</span>
							<% else %>
								&nbsp;
							<% end -%>
						</td>
						<td  style="width:50px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:10px; padding-left:5px">
							<% if template.editable? -%>
								<span class="fsn-button ui-button ui-state-default ui-corner-all", style ="cursor:pointer">
									 <%= link_to "Edit", {:controller => "/apps/time_learning", :action => "edit_template", :itl_template_id=> template.id, :organization_id => @current_organization} %>
								</span>
							<% else %>
								&nbsp;
							<% end -%>						
						</td>
						<td  style="width:70px; width:fixed; vertical-align:top; padding-bottom:0px; padding-top:10px; padding-left:0px">
							<% unless template.enabled? -%>
								<span class="fsn-button ui-button ui-state-default ui-corner-all", style ="cursor:pointer">
									 <%= link_to "Delete", {:controller => "/apps/time_learning", :action => "destroy_template", :itl_template_id=> template.id, :organization_id => @current_organization}, :confirm => "Are You Sure?", :class => "destroy_template" + template.id.to_s %>
								</span>
							<% end -%>
						</td>
						<td style="width:660px; width:fixed; vertical-align:top; text-align:left; padding-top:7px; padding-left:15px">
							 <% if template.default? -%>
							 	<span style="font-size:10px; font-weight:bold; color:#C83A14">(Default)&nbsp;</span>							 
							 <% end-%>
						 	<span style="font-size:13;font-weight:bold"><%= template.name %></span><br/>
							 <% unless template.description.nil? || template.description.empty? %>
							 	Description:&nbsp;<%= template.description %><br/>
							 <% end -%>
							 <% unless template.useable? -%>
							 	<% reason = template.empty? ? "Template is empty. Select Edit to build template." : "Requires Method that " + @current_organization.short_name + " has not Enabled." %>
							 	<span style="font-size:10px; font-weight:bold; color:#C83A14">(Not Useable)&nbsp;</span>						 
								<span style = "color:#C83A14; font-size:10px">
								 	<%= reason %><br/>
								</span>
							 <% end-%>
							 Methods Used:&nbsp;<%= template.empty? ? "None Defined" : template.app_methods.by_position.collect{|m| m.name}.join(", ") %></br/>
							<% unless template.empty? -%>
								<table id="template_smry_<%= template.id %>"   style="width:650px; margin-left:0px; color: #2061a5; ">
									<tbody>  
										<tr>
											<td class="resource_levels_close">
							
											<%= link_to '', :controller => "apps/time_learning", :action => :show_template, :organization_id => @current_organization, :itl_template_id => template.id %>
											Look-Fors
											<span></span>
											</td>
										</tr>
									</tbody>
								</table>
								<script type="text/javascript" charset="utf-8">
								jQ(document).ready(function() {
									jQ('#template_smry_<%= template.id %> .resource_levels_close').toggleResourceLevels();
									jQ('#template_smry_<%= template.id %> .resource_levels_open').toggleResourceLevels();	
								});
								</script>
							<% end %>
						</td>
					</tr>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('a.toggle_template<%= template.id.to_s%>').click(function() {
			var $this = jQ(this);
			var url = $this.attr("href");
				jQ.get(url, function(data){
					jQ("#manage_templates").html(data);
					jQ("#manage_templates").show();
				})
				return false;
		})
	});
	</script>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('a.destroy_template<%= template.id.to_s%>').click(function() {
			var $this = jQ(this);
			var url = $this.attr("href");
				jQ.get(url, function(data){
					jQ("#manage_templates").html(data);
					jQ("#manage_templates").show();
				})
				return false;
		})
	});
	</script>
				<% end -%>
			<% else %>
				<tr>
					<td colspan =4 style="text-align:center; font-size:12px; padding-top:20px; padding-bottom:20px; font-weight:normal;">
						* * *  No Observation Templates Currently Defined For <%=  @current_organization.short_name %>&nbsp;&nbsp;* * *
					</td>			
				</tr>
			<% end-%>
				<% schools_with_templates = @current_user.my_schools_for_app(@app).select{|s| !s.itl_templates.enabled.empty? && s != @current_organization}%>
				<% unless schools_with_templates.empty? -%>
					<tr style = "border:3px solid #ddd; padding-bottom:10px;">
						<th colspan =4 style="text-align:center; font-size:12px; font-weight:normal;">
							Useable Templates From <%= pluralize(schools_with_templates.size, " Other School")%>
						</th>
					</tr>
					<% schools_with_templates.each do |school|-%>
						<tr style = "border:3px solid #ddd; padding-bottom:10px;">
							<td colspan=4 style="font-size:12px; font-weight:normal;">
								<table style=" width:600px; border:0px solid #ddd; font-size:12px; font-weight:normal;  color: #000000;">
									<tbody >					
										<tr style = "border:0px solid #ddd; padding-bottom:10px;">
											<td  colspan=2 style=" vertical-align:top; padding-bottom:10px; font-size:12px; text-align:left;">
												<%=school.medium_name %>
											</td>
										</tr>
										<% school.itl_templates.enabled.select{|t| t.useable?}.each do |template| -%>
											<tr style = "border:0px solid #ddd; padding-bottom:0px;">
												<td  style="width:90px; width:fixed;  vertical-align:top; padding-bottom:0px; padding-top:5px; padding-left:55px">
													<span class="fsn-button ui-button ui-state-default ui-corner-all", style ="cursor:pointer">
														 <%= link_to "Copy", {:controller => "/apps/time_learning", :action => "copy_template", :itl_template_id=> template.id, :organization_id => @current_organization}, :class => "copy_template" + template.id.to_s %>
													</span>					
												</td>
												<td  style="width:510px; width:fixed; vertical-align:top; font-size:10px; text-align:left; padding-bottom:10px; padding-left:0px">
													 <% if template.default? -%>
													 	<span style="font-size:10px; font-weight:normal; color:#C83A14">(<%=school.short_name-%>&nbsp;Default)&nbsp;</span>							 
													 <% end-%>
												 	<span style="font-weight:bold"><%= template.name %></span><br/>
													 <% unless template.description.nil? || template.description.empty? %>
													 	Description:&nbsp;<%= template.description %><br/>
													 <% end -%>
													 <% unless template.useable_for_org?(@current_organization) -%>
													 	<% reason = template.empty? ? "Template is empty. Select Edit to build template." : "Requires Method that " + @current_organization.short_name + " has not Enabled." %>
													 	<span style="font-size:10px; font-weight:bold; color:#C83A14">(Not Useable)&nbsp;</span>						 
														<span style = "color:#C83A14; font-size:10px">
														 	<%= reason %><br/>
														</span>
													 <% end-%>
													 Methods Used:&nbsp;<%= template.empty? ? "None Defined" : template.app_methods.by_position.collect{|m| m.name}.join(", ") %></br/>
												</td>
											</tr>
										<% end -%>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('a.copy_template<%= template.id.to_s%>').click(function() {
			var $this = jQ(this);
			var url = $this.attr("href");
				jQ.get(url, function(data){
					jQ("#manage_templates").html(data);
					jQ("#manage_templates").show();
				})
				return false;
		})
	});
	</script>
									</tbody>
								</table>
							</td>
						</tr>
					<% end -%>
					</tr>	
				<% end -%>
			</tbody>
		</table>
<br/><br/></br/></br/>
</div>