<div id="options_params">

	<table style="width:750px; margin-left:50px; color: #2061a5;">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			<thead>
				<tr>
					<th colspan =2><strong><center>Preference</center></strong></th>			
					<th><strong>Description</strong></th>
				</tr>
			</thead>
			<tr>
				<td colspan=3>
					<center>&nbsp;</center>
				</td>
			</tr>
			<tr>
				<td   id = "update_window" width=20px style="vertical-align:top;  padding-left:12px; padding-right:2px; padding-top:8px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					<%= (image_tag "add.png") -%>
				</td>
				<td width =50px style=" color: #000000; padding-left:15px; padding-top:8px; vertical-align:top" >
		 		     <%= text_field :itl_org_option, :stat_window, :size => 3, :maxlength => 3, :value => @current_organization.itl_org_option.stat_window  %>
				</td>
				<td width = 680px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;font-size:12px; font-weight:bold">
						Weeks Back For Statistics Calculations
					<br/>
					</span>	
					This is the number of weeks back that <%=app.abbrev %> aggregated statistics are calculated from.
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<% app.app_methods.by_position.each do |method| -%>
				<tr>
					<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
						&nbsp;
					</td>
					<% if @current_organization.itl_org_option.app_methods.include?(method) -%>
						<td id="toggle_method_<%= method.id %>" width = 70px style=" color: #000000; cursor:pointer; padding-left:25px; padding-top:10px; vertical-align:top" >
								<%= (image_tag "button_enabled.png",:width => 12) %>
						</td>
						<% else -%>
						<td id="toggle_method_<%= method.id %>" width = 70px style=" color: #000000; cursor:pointer; padding-left:25px; padding-top:10px; vertical-align:top" >
								<%= (image_tag "button_disabled.png",:width => 12) %>
						</td>
						<% end -%>
					</td>
					<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
						<span style="color: #2061a5;;font-size:12px; font-weight:bold">
							<%=method.name %> Method
						<br/>
						</span>
						Enabled (Green) allows the <strong><%=method.name %></strong> observation method to be used.<br/>
						<%=method.description %>
						<br/>
					</td>
	 			</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#toggle_method_<%= method.id %>').click(function() {
		var url = "<%= url_for :controller =>"apps/time_learning", :action => "toggle_method", :app_method_id => method.id, :organization_id => @current_organization  %>";
			jQ.get(url, {}, function(data) {
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			});
	})
});
</script>
			<% end -%>
			<% unless @current_organization.itl_org_option.app_methods.empty? -%>
				<tr>
					<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
						&nbsp;
					</td>
					<td width = 70px style=" color: #000000; cursor:pointer; padding-left:25px; padding-top:5px; vertical-align:top" >
						<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
						 <%= link_to "Go" ,{:controller => "/apps/time_learning", :action => "manage_filters", :organization_id => @current_organization}, {:target => "_blank"}  %>
						</span>
					</td>
					<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
						<span style="color: #2061a5;;font-size:12px; font-weight:bold">
							Manage Observation Templates
						<br/>
						</span>
						Customize any number of observation templates. These templates determine what appears on the Observation Panel for any observation.
						<br/>
					</td>
	 			</tr>
			<% end -%>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
			
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td width = 70px style=" color: #000000; padding-left:25px; padding-top:10px; vertical-align:top" >
					<% if @current_organization.itl_org_option.is_teacher_finalize -%>
							<%= link_to (image_tag "button_enabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_finalize", :organization_id => @current_organization}, :class => "toggle_finalize" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_finalize", :organization_id => @current_organization}, :class => "toggle_finalize" %>
					<% end -%>
				</td>
				<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;;font-size:12px; font-weight:bold">
						Allow Teachers To Finalize Post-Conference
					<br/>
					</span>
					Enabled (Green) allows an observed Teacher to "Finalize" an observation from her Post-Conference page.</br>
					By default, only Observers are allowed to finalize observations and this is the preferred discipline.</br>
					This option helps relieve the back-up of unresolved observation that can occur while observers learn to fulfill their responsibility to finalize their observations during post-conference discussions.
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
			
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td width = 70px style=" color: #000000; padding-left:25px; padding-top:10px; vertical-align:top" >
					<% if @current_organization.itl_org_option.is_concurrent -%>
							<%= link_to (image_tag "button_enabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_concurrent", :organization_id => @current_organization}, :class => "toggle_concurrent" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_concurrent", :organization_id => @current_organization}, :class => "toggle_concurrent" %>
					<% end -%>
				</td>
				<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;;font-size:12px; font-weight:bold">
						Concurrent Strategy Measurement
					<br/>
					</span>
					Enabled (Green) allows <%=app.abbrev %> strategies to be measured concurrently.(More Precise)<br/>
					Disabled (Red) causes all <%=app.abbrev %> strategies to be measured serially. (Easier) 
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
			
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td width = 70px style=" color: #000000; padding-left:25px; padding-top:10px; vertical-align:top" >
					<% if @current_organization.itl_org_option.is_conversations -%>
							<%= link_to (image_tag "button_enabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_conversation", :organization_id => @current_organization}, :class => "toggle_conversation" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_conversation", :organization_id => @current_organization}, :class => "toggle_conversation" %>
					<% end -%>
				</td>
				<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;;font-size:12px; font-weight:bold">
						<%=app.abbrev %> Discussions
					<br/>
					</span>
					<%=app.abbrev %> discussions relate to <i><%=app.name %></i> issues of interest. These are universally accessible professional discussion forums.<br/>
					Enabled (Green) makes <%=app.abbrev %> discussion forums directly accesible from the main <%=app.abbrev %> page.<br/>
					Disabled (Red) will not provide access to <%=app.abbrev %> discussion forums from the  main <%=app.abbrev %> page.
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td   id = "update_sched_url" width=50px style="vertical-align:top;  padding-left:12px; padding-right:2px; padding-top:8px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					<%= (image_tag "add.png") -%>
				</td>
				<td width = 680px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;font-size:12px; font-weight:bold">
						Observation Scheduling Link
					<br/>
					</span>	
					<%= @current_organization.short_name %> may have a scheduling resource, such as a Master Schedule, that would facilitate the scheduling of classroom observations.&nbsp;
					A link to this resource will be display under the "Observation History" tab.</br>
					Paste the URL in the field below. </br>
					Also enter a URL label, e.g., "Master Schedule," if you wish to have displayed as the link.
					<br/>
				</td>
 			</tr>
			<tr>
				<td colspan=2 style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					URL:&nbsp;
				</td>
				<td width = 680px style=" color: #000000; vertical-align:top; font-size:11px" >	
		 		     <%= text_field :itl_org_option, :schedule_url, :size => 60, :maxlength => 250, :value => @current_organization.itl_org_option.schedule_url  %>
					 &nbsp;<i>Format: http://www.thedomain.com</i> 
				</td>
 			</tr>
			<tr>
				<td colspan=2 style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					URL Label:&nbsp;
				</td>
				<td width = 680px style=" color: #000000; vertical-align:top; font-size:11px" >	
		 		     <%= text_field :itl_org_option, :schedule_label, :size => 60, :maxlength => 250, :value => @current_organization.itl_org_option.schedule_label  %>
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
			
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td width = 70px style=" color: #000000; padding-left:25px; padding-top:10px; vertical-align:top" >
					<% if @current_organization.itl_thresholds? -%>
							<%= link_to (image_tag "button_enabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_thresholds", :organization_id => @current_organization}, :class => "toggle_thresholds" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_thresholds", :organization_id => @current_organization}, :class => "toggle_thresholds" %>
					<% end -%>
				</td>
				<td width = 650px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;;font-size:12px; font-weight:bold">
						Strategy Threshold Monitoring
					<br/>
					</span>
					When Enabled (Green), Threshold Monitoring will display warning indicators when the teacher reviews the observation results. This indicators 
					illuminate potential areas where the teacher under-utilized or over-utilized a strategy.  For example, "Clarification of Requirements" is an impactful strategy but it is one that should not consume 20% of the classroom time. 
					<br/> 
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
			<tr>
			<tr>
				<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:12px" >
					&nbsp;
				</td>
				<td width = 70px style=" color: #000000; padding-left:25px; padding-top:10px; vertical-align:top" >
					<% if @current_organization.itl_belt_ranking? -%>
							<%= link_to (image_tag "button_enabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_belt_ranking", :organization_id => @current_organization}, :class => "toggle_belt_rank" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), { :controller =>"apps/time_learning", :action => "toggle_belt_ranking", :organization_id => @current_organization}, :class => "toggle_belt_rank" %>
					<% end -%>
				</td>
				<td width = 680px style=" color: #000000; vertical-align:top; font-size:11px" >
					<span style="color: #2061a5;font-size:12px; font-weight:bold">
						Observer Proficiency Levels
					<br/>
					</span>	
					<%= @current_organization.short_name %>&nbsp;can manage each teacher's ability to conduct reliably accurate observations. This is done in a non-threatening way as in Judo, where a "White Belt"
					indicates the beginning level and a "Black Belt" is for reliably accomplished observers.
					<table id="belt_header" style=" width:650px; margin-left:0px; font-size:11px; font-weight:normal; color:#000000;">
						<tbody>  
						<style type="text/css" media="screen">
				    		table,tr,td { border:none; }
							table tr:hover{
			        		background-color: transparent;
			      			}
			   			</style>
							<tr  style="margin-left:00px">
								<td  id="belt_show" style=" border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  color: #000000; padding-bottom:10px; padding-right:0px; font-size:11px; text-align:left">
										<u>Show Levels</u>  	
								</td>
							</tr>
						</tbody>
					</table>
					<table id="belt_descript" style=" width:670px; margin-left:0px; font-size:11px; font-weight:normal; color:#000000;">
						<tbody>  
							<style type="text/css" media="screen">
					    		table,tr,td { border:none; }
								table tr:hover{
				        		background-color: transparent;
				      			}
				   			</style>
							<tr style="margin-left:00px">
								<td  colspan=3 id="belt_hide" style=" width:fixed;  border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  color: #000000; padding-bottom:10px; font-size:11px; text-align:left">
									<u>Hide Levels</u>	<br/><br/>
														Levels are managed according to practices determined by <%= @current_organization.medium_name -%>.						
								</td>
							</tr>
							<% ItlBeltRank.all_colors.sort_by{|r| r.rank_score}.each do |rank| -%>
								<tr style="margin-left:00px">
									<td style="width:40px; width:fixed; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-top:8px; font-size:10px; text-align:left">
										<%= (image_tag rank.image,:width => 30)%>
									</td>
									<td style="width:65px; width:fixed; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-top:8px; font-size:10px; text-align:left">
										<i><%= rank.rank.titleize -%>&nbsp;Belt</i>
									</td>
									<td style="border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-bottom:10px; padding-top:8px; font-size:10px; text-align:left">
										<%= rank.criteria -%>
									</td>
								</tr>
							<% end -%>
						</tbody>
					</table>
					This is an important <strong>Data Quality Management</strong> discipline because it allows aggregated data to be filtered by these levels, thereby insulating reliable data from the less reliable data that inexperienced observers naturally produce.<br/>
				<br/>
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center> - - - - - - - -</center>
				</td>
			</tr>
		</tbody>
	</table>
	<% if @current_organization.itl_belt_ranking? -%>
		<table id="manage_belt_ranking"   style="width:750px; margin-left:50px; color: #2061a5; ">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
	
					<%= link_to '', :controller => "apps/time_learning", :action => :manage_belt_rankings, :organization_id => @current_organization, :app_id=> @app.id %>
					Manage <%= app.abbrev %>&nbsp;Observer Proficiencies
					<span></span>
					</td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#manage_belt_ranking .resource_levels_close').toggleResourceLevels();
			jQ('#manage_belt_ranking .resource_levels_open').toggleResourceLevels();	
		});
		</script>
	<% end -%>

</div>

	<script type="text/javascript">
		jQ(document).ready(function() {
	  		  jQ("#belt_header").show();
			  jQ("#belt_descript").hide();		  
	
		jQ("#belt_show").click(function() {
			  	jQ("#belt_header").slideUp("slow");	 
		   		jQ("#belt_descript").slideDown("slow");
		})
	
		jQ("#belt_hide").click(function() {
		   		jQ("#belt_descript").slideUp("slow");
		   		jQ("#belt_header").show();
		})	
	});
	</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_concurrent').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			})
			return false;
	})
});
</script>	

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_finalize').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			})
			return false;
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_conversation').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			})
			return false;
	})
});
</script>	
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_thresholds').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#update_window').click(function() {
		var window = jQ('#itl_org_option_stat_window').val();
		var url = "<%= url_for :controller => '/apps/time_learning', :action => :edit_option_window, :organization_id => @current_organization  %>";
			jQ.get(url, {'window':window}, function(data) {
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#update_sched_url').click(function() {
		var schedule_url = jQ('#itl_org_option_schedule_url').val();
		var schedule_label = jQ('#itl_org_option_schedule_label').val();
		var url = "<%= url_for :controller => '/apps/time_learning', :action => :edit_schedule_url, :organization_id => @current_organization  %>";
			jQ.get(url, {'schedule_url':schedule_url, 'schedule_label':schedule_label}, function(data) {
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_belt_rank').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#options_params").html(data);
				jQ("#options_params").show();
			})
			return false;
	})
});
</script>
