<div id="ctl_invitation_<%= recipient.public_id %>">
	<div style="text-align:left;"><%= render :partial => "/shared/error_and_notice" %></div>
	<table id="invite_header_<%= recipient.public_id %>" style="margin-left:00px; width:600px; border:0px solid #ddd;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr>
				<td  id="invite_show_<%= recipient.public_id %>" style=" width:200px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:11px;">
					>&nbsp;&nbsp;<u>Send <%= recipient.first_name %> Invitation</u>
				</td>
				<td  style=" width:400px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:11px;">
					&nbsp;
				</td>
			</tr>
		</tbody>
	</table>
	<% arrangements = [] -%>
	<% arrangements[0] = [(sender.first_name + " Observes " + recipient.full_name), 1] -%>
	<% arrangements[1] = [(recipient.full_name + " Observes " + sender.first_name), 2] -%>	
	<table id="invite_descript_<%= recipient.public_id %>" style="margin-left:00px; width:600px; border:0px solid #ddd;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr>
				<td id="invite_hide_<%= recipient.public_id %>" style=" width:33%; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:10px;">
					>&nbsp;&nbsp;<u>Cancel Invitation</u>
				</td>
				<td  style="width:66%; border:0px solid #ddd; margin-left:0px; vertical-align:bottom; padding-bottom:5px;text-align:left; font-size:10px;">
					<%=  select(:option, recipient.public_id, arrangements, :prompt => "Select Arrangement")  %>
				</td>										
			</tr>
			<tr>
				<td id="send_invite_<%= recipient.public_id %>" style="width:33%; border:0px solid #ddd; margin-left:0px; vertical-align:top; padding-left:60px;text-align:left; font-size:10px;">
					<button>
						Send Invite
					</button>
				</td>
				<td  style="width:66%; border:0px solid #ddd; margin-left:0px; padding-bottom:30px;vertical-align:top; text-align:left; font-size:11px;">
					<%= text_field :observe_invite, recipient.public_id , :size => 65, :maxlength => 250 %>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#invite_header_<%= recipient.public_id %>").show();
		  jQ("#invite_descript_<%= recipient.public_id %>").hide();		  

	jQ("#invite_show_<%= recipient.public_id %>").click(function() {
		  	jQ("#invite_header_<%= recipient.public_id %>").slideUp("slow");	 
	   		jQ("#invite_descript_<%= recipient.public_id %>").slideDown("slow");
	})

	jQ("#invite_hide_<%= recipient.public_id %>").click(function() {
	   		jQ("#invite_descript_<%= recipient.public_id %>").slideUp("slow");
	   		jQ("#invite_header_<%= recipient.public_id %>").show();
	})	
});
</script>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#send_invite_<%= recipient.public_id %>').click(function() {
			var invite_text = jQ('#observe_invite_<%= recipient.public_id %>').val();
			var arrange = jQ('#option_<%= recipient.public_id %>').val();
			var url = "<%= ctl_invite_send_url(:organization_id => @current_organization, :group=> group, :sender => sender, :recipient => recipient) %>";
				jQ.get(url, {'invite_text':invite_text, 'arrangement':arrange}, function(data) {
					jQ("#ctl_invitation_<%= recipient.public_id %>").html(data);
					jQ("#ctl_invitation_<%= recipient.public_id %>").show();
				});
		})
	});
	</script>