
	<% unless @current_organization.teachers_in_subject(subject_area).empty? || !@current_user.ctl_observer_for_org?(@current_organization)-%>
		<table style="width:600px; text-align:left;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:none; }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<% @current_organization.teachers_in_subject(subject_area).sort_by{|t| t.last_name}.each do|teacher| -%>
					<% @current_organization.periods_in_subject_teacher(subject_area, teacher).each do |period| -%>
						<tr >
							<td  style="width:13%; vertical-align:middle; text-align:left;padding-left:0px">
								<span class="fsn-button ui-button ui-state-default ui-corner-all">
									 <%= !period.ctl_training? ? (link_to 'Observe' , ctl_observation_add_path(:organization_id => @current_organization, :period_id => period, :teacher_id => teacher, :practice=>false, :classroom_id => period.classroom))
                       : (link_to 'Practice',ctl_observation_add_path(:organization_id => @current_organization, :period_id => period, :teacher_id => teacher, :practice=>true, :classroom_id => period.classroom))%>
								</span>
							</td>
							<td  style="width:500px; vertical-align:middle; text-align:left;padding-left:0px">
								<span style="color: #2061a5;"><strong><%= teacher.last_name %>:&nbsp;<%= period.classroom.course_name %></strong></span>,&nbsp;<%= period.name %>
							</td>
						</tr>
					<% end -%>
				<% end -%>
				</tbody>
			</table>						
		<% else -%>
		<br/>
		<span style="color:#C83A14; font-size:11px">
			<%= !@current_user.ctl_observer_for_org?(@current_organization) ? "* * You are not an authorized observer * *" : "No " + subject_area.name + "Teachers Defined" %>
		</span>
	<% end -%>
