
	<% unless @current_organization.teachers_in_subject(subject_area).empty? || !@current_user.ctl_observer_for_org?(@current_organization)-%>
				<% @current_organization.teachers_in_subject(subject_area).sort_by{|t| t.last_name}.each do|teacher| -%>
					<% @current_organization.periods_in_subject_teacher(subject_area, teacher).each do |period| -%>
						<p class="offering_list">
             <%= !period.ctl_training? ? (link_to 'Observe' , ctl_observation_add_path(:organization_id => @current_organization, :period_id => period, :teacher_id => teacher, :practice=>false, :classroom_id => period.classroom), :class =>"btn btn-primary btn-xs")
             : (link_to 'Practice',ctl_observation_add_path(:organization_id => @current_organization, :period_id => period, :teacher_id => teacher, :practice=>true, :classroom_id => period.classroom), :class =>"btn btn-success btn-xs")%>
              &nbsp;&nbsp;<%= teacher.last_name %>:&nbsp;<%= period.classroom.course_name %>,&nbsp;<%= period.name %>
						</p>
					<% end -%>
				<% end -%>
		<% else -%>
		<p class="sorry">
			<%= !@current_user.ctl_observer_for_org?(@current_organization) ? "* * You are not an authorized observer * *" : "No " + subject_area.name + "Teachers Defined" %>
    </p>
	<% end -%>
