<div  id="research_<%= session.id %>">

<% if true %>    <!-- for bootstrap conversion -->
  <% unless irr %>
		<table style=" width:580px; margin-left:00px; font-size:11px; font-weight:normal; color:#000000;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:none; }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tr  id="key_header" style="margin-left:00px">
					<td  id="key_show" style="width:17%;  border:0px solid #ddd; vertical-align:bottom;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						<span style=" font-weight:normal;  font-size:9px; color: #000000;  text-align:left">
							>&nbsp;&nbsp;<u>View Key</u>  
						</span>		
					</td>
					<td style="width:83%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						&nbsp;
					</td>
				</tr>
				<tr id="key_descript"  style="margin-left:00px">
					<td   id="key_hide" style="width:17%; border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em; color:#000000; padding-top:0px; padding-bottom:10px; font-size:12px; text-align:left">
						<span style=" font-weight:normal;  font-size:9px; color: #000000; vertical-align:middle;  text-align:left">
							>&nbsp;&nbsp;<u>Hide Key</u>  
						</span>			
					</td>
					<td style="width:83%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						<table style=" width:100%; margin-left:0px; font-size:11px; font-weight:normal; color:#000000;">
							<tbody>  
								<style type="text/css" media="screen">
						    		table,tr,td { border:none; }
									table tr:hover{
					        		background-color: transparent;
					      			}
					   			</style>
								<tr>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[0] %>; padding-right:0px; font-size:11px; text-align:center">
										Very High			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[1] %>; padding-right:0px; font-size:11px; text-align:center">
										High			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[2] %>; padding-right:0px; font-size:11px; text-align:center">
										Moderate		
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[3] %>; padding-right:0px; font-size:11px; text-align:center">
										Low			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:center">
										&nbsp;			
									</td>
								</tr>
								<tr>
									<td  colspan=4 style="border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em;  padding-top:20px; font-size:13px; text-align:left">
										Top Bar: Research Impact			
									</td>
									<td  colspan=4 style="border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em;  padding-top:20px; font-size:13px; text-align:left">
										Bottom Bar: Student Engagement		
									</td>
								</tr>
							</tbody>
						</table>							
					</td>
				</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		jQ(document).ready(function() {
	  		  jQ("#key_header").show();
			  jQ("#key_descript").hide();		  
	
		jQ("#key_show").click(function() {
			  	jQ("#key_header").slideUp("slow");	 
		   		jQ("#key_descript").slideDown("slow");
		})
	
		jQ("#key_hide").click(function() {
		   		jQ("#key_descript").slideUp("slow");
		   		jQ("#key_header").show();
		})	
	});
	</script>
<% end -%>
	<table style="width:600px; margin-left:0px; border:0px">

		<style  type="text/css" media="screen">
		table,tr,td { border:0px solid white; }
		table tr:hover{
		background-color: transparent;
		}
		</style>
		<tbody>
			<tr>
				<td  style="width:42%; vertical-align:middle;  font-size:10px; padding-top:5px; padding-bottom:5px; padding-left:0px; " >
				<% if irr -%>
					<table style="width:100%; margin-left:0px; border:0px">
						<tbody>
							<td  style="width:25%; vertical-align:middle;  font-size:10px; padding-top:5px; padding-bottom:5px; padding-left:0px; " >
							<% unless session.tracker.nil? || session.tracker.picture.url.split("/").last == "missing.png" %>
			      				<%= image_tag session.tracker.picture.url(:small_thumb) %>
							<% end %>
							</td>
							<td  style="width:75%; color:#000000; vertical-align:middle;  font-size:10px; padding-top:0px; padding-bottom:0px; padding-left:0px; " >
								<table>
									<tbody>
										<tr>
											<td style=" padding-left:20px; border:0px">
												<%= (session.tracker ) ? image_tag("black_belt.png", :width => 20): ""%>
											</td>
										</tr>
										<tr>
											<td style="font-size:9.5px; padding-left:20px; border:0px">
												<%= session.tracker ? session.tracker.full_name : ""%>
											</td>
										</tr>
										<tr>
											<td style="width:100%; border:0px solid #ddd;vertical-align:middle;  padding-left:20px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:9.5px; font-weight:normal">
												<%= link_to 'View CR Session', ctl_session_show_path(:organization_id => @current_organization, :tlt_session_id => session), {:target => '_blank'}  %>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tbody>
					</table>
				<% else -%>
				&nbsp;
				<% end -%>
				</td>
				<td   id = "view_select_<%= session.id %>" style="width:58%; border:0px solid #ddd;vertical-align:bottom;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #2061a5; font-size:10.5px; font-weight:bold">
					<%=  select(:res, session.id, views.collect{|v| [v[0], v[1]]}, :prompt => 'Select View') %>
				</td>
			</tr>
		</tbody>
	</table>

  <table style=" width:620px; border:1px solid #ddd; font-size:11px; font-weight:normal; color:#000000;">
    <thead>
      <tr  style="margin-left:00px">
        <th  style="width:32%; border-top:1px solid #ddd; border-left:1px solid #ddd;  border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
          <%= header[1] %>
        </th>
        <th  style=" width:3%; border-bottom:1px solid #ddd;  border-left:0px solid #ddd; border-right:1px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:11px; text-align:center">
          &nbsp;
        </th>
        <th  style=" width:8%; border-bottom:1px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:11px; text-align:center">
          <%= header[0] %>
        </th>
        <th  colspan=2 style="  border-bottom:1px solid #ddd; border-left:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
          Time Spent
          <span style="float:right; font-weight:bold; font-size:11px"><%= header[2] %>&nbsp;</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <style type="text/css" media="screen">
          table,tr,td { border:none; }
        table tr:hover{
            background-color: transparent;
            }
        </style>

      <%  task_list.each_with_index do |row, idx| -%>
        <tr  style="margin-left:00px">
          <td  style="width:32%; border:1px solid #ddd; border-right:0px solid #ddd; background-color: #ffffff; vertical-align:middle;  line-height: 1.750em; color:#2061a5; padding-top:0px; font-size:11px; text-align:center">
            <%= row[0] %>
          </td>
          <td  style=" width:3%; border-bottom:1px solid #ddd;  border-left:0px solid #ddd; border-right:1px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:11px; text-align:center">
            <% unless row[7].nil? -%>
              <% id = "strat_" + idx.to_s + row[9].to_s-%>
              <a id="<%= id%>" href=""><%= image_tag "button_warning.png",:width => 15%></a>
              <%= render :partial => "/apps/shared/help_box", :locals => {:id => id, :titl=> row[0], :blue=>row[7], :body=> row[8], :height=> 300, :width=> 600 } %>
            <% else -%>
              &nbsp;
            <% end -%>
          </td>
          <td  style="width:8%; border-bottom:1px solid #ddd; background-color: #ffffff; vertical-align:middle;  line-height: 1.750em; color:#2061a5; padding-top:0px; font-size:11px; text-align:center">
            <%= row[1] %>
          </td>
          <td  style=" border-bottom:1px solid #ddd; border-right:1px solid #ddd; background-color: #ffffff; vertical-align:middle;  line-height: 1.750em; color:#2061a5; padding-top:0px; font-size:11px; text-align:center">
            <table style=" width:100%; border:0px solid #ddd; font-size:11px; font-weight:normal; color:#000000;">
              <tbody>
                <tr  style="margin-left:00px">
                  <% ridx = 1 -%>
                  <% until ridx > 50 -%>
                    <% color_key = ridx <= row[2] ? row[3]: "#ffffff"%>
                    <td  style=" width:2%; border-bottom:1px solid #ffffff; line-height: 5.750em; font-size:2px; background-color:<%=color_key %>; padding-right:0px; text-align:right">
                      &nbsp;
                    </td>
                    <% ridx += 1 -%>
                  <% end -%>
                </tr>
                <tr  style="margin-left:00px">
                  <% ridx = 1 -%>
                  <% until ridx > 50 -%>
                    <% color_key = ridx <= row[2] ? row[4]: "#ffffff"%>
                    <td  style=" width:2%;  border-bottom:3px solid #ffffff; line-height: 5.750em; font-size:2px; background-color:<%=color_key %>; padding-right:0px; text-align:right">
                      &nbsp;
                    </td>
                    <% ridx += 1 -%>
                  <% end -%>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end%>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#view_select_<%= session.id %>').change(function() {
		var view = jQ('#res_<%=session.id%>').val();
		var url = "<%= ctl_observation_research_url(:organization_id => @current_organization, :irr=>irr, :session_id => session) %>";
			jQ.get(url, {'display_type':view}, function(data) {
			jQ("#research_<%= session.id %>").html(data); 
	   		jQ("#research_<%= session.id %>").show();
			});
	})
});
</script>