	<% subj_key = subject.nil? ? "0": subject.id.to_s -%>
	<table id="<%=teacher.public_id %>_<%=subj_key%>_dashboard"  style="width:880px; color: #2061a5;">
		<tbody>  
			<% subj_label = subject.nil? ? "": (" " + subject.name) -%>
			<% col_label = teacher.last_name + subj_label -%>
			<tr>
				<td class="resource_levels_close">
				<%= link_to '', ctl_reflection_dashboard_teacher_path(:organization_id => @current_organization, :teacher_id => teacher, :subject_id => subject) %>
				<%= col_label %> Dashboard
				<span></span>
				</td>
			</tr>
		</tbody>
	</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%= teacher.public_id %>_<%=subj_key%>_dashboard .resource_levels_close').toggleResourceLevels();
	jQ('#<%= teacher.public_id %>_<%=subj_key%>_dashboard .resource_levels_open').toggleResourceLevels();	
});
</script>

