<div id ="school_subject_dashboard_<%=school.public_id%><%=subject.id%>" style="width:850px;">
	<% family = "Garamond, Time New Roman, Helvitica,sans-serif" -%>
	<% units = " Hrs/Wk" -%>
	<% columns = [0,1,2,3,4,5] %>
<!--
	<%# all_sessions = school.itl_summaries.since_date(Date.today - school.itl_org_option.stat_window.weeks).for_subject(subject) %>
-->
	<% all_sessions = school.itl_summaries_since_date_subject( subject, (Date.today - school.itl_org_option.stat_window.weeks)) %>

	<% session_months = all_sessions.collect{|s| s.yr_mnth_of}.uniq.sort{|a,b| b <=> a} %>
	<% unless session_months.empty? -%>
		<% session_months.in_groups_of(columns.size).each_with_index do |month, index| %>			
			<% group = subject.id.to_s + school.public_id + index.to_s -%>
			<% subject_hours = school.minutes_in_subject(subject).to_f/60.0%>

			<table  style="width:830px;  border:1px solid #ddd; ">
				<tbody>
					<style type="text/css" media="screen">
			    		table,tr,td { border:medium }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
						<tr style="border:0px solid #ddd;">
							<th style="border:0px solid #ddd; " >
				<table  style="width:820px; border:0px solid #ddd; font-family:<%=family%>">
					<tbody>
						<style type="text/css" media="screen">
				    		table,tr,td { border:medium }
							table tr:hover{
			        		background-color: transparent;
			      			}
			   			</style>
			
						<tr style="border:0px solid #ddd;">
							<th style=" border:0px  solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-weight:bold; font-size:12px" >
									 <%= number_with_precision(subject_hours, :precision => 0)%>&nbsp;Hrs/Wk
							</th>
			
							<%columns.each do |idx| -%>	
								<th   style=" width:95px; width:fixed; border:0px  solid #ddd; color: #000000; vertical-align:middle;text-align:center; font-weight:bold; font-size:12px" >
									<u><%=month[idx].strftime("%b %Y") unless month[idx].nil? %></u>
								</th>
							<% end -%>
						</tr>
						<tr style="border:0px  solid #ddd;">
							<td style=" border:0px  solid #ddd; color: #000000; vertical-align:top;text-align:center; font-size:12px" >
									Observations
							</td>
							<% tl_sessions = [] -%>
							<% session_count = [] -%>
							<%columns.each do |idx| -%>	
								<td  style="width:95px;  width:fixed; border:0px  solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:12px" >
									<% tl_sessions[idx] = month[idx].nil? ? [] : all_sessions.select{|s| s.yr_mnth_of == month[idx]} %>
									<% session_count[idx] = tl_sessions[idx].collect{|s| s.observation_count}.sum%>
									<%= session_count[idx] unless month[idx].nil? %>
								</td>
							<% end -%>
						</tr>
						
						<tr style="border:0px  solid #ddd;">
							<td style="border:0px  solid #ddd; color: #000000; vertical-align:top;text-align:center; font-size:12px" >
									Observed Time (Hrs)
							</td>
							<%columns.each do |idx| -%>	
								<td  style="width:95px;  width:fixed; border:0px  solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:12px" >
									<% unless month[idx].nil? %> 
										<% tot_secs = tl_sessions[idx].collect{|s| s.observation_duration}.sum %>
										<%= tl_sessions[idx].empty? ? "-" : number_with_precision(tot_secs.to_f/3600.0, :precision => 1) %>
									<% end -%>
								</td>
			
							<% end -%>
						</tr>
			
						<tr style="border:0px  solid #ddd;">
							<td style="border:0px  solid #ddd; color: #000000; vertical-align:top;text-align:center; font-size:12px" >
									Avg. Observation (Mins)
							</td>
							<%columns.each do |idx| -%>	
								<td  style="width:95px;  width:fixed; border:0px  solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:12px" >
									<% unless month[idx].nil? %> 
										<%= tl_sessions[idx].empty? || tl_sessions[idx].collect{|s| s.observation_count}.sum == 0 ? "-" : (number_with_precision(tl_sessions[idx].collect{|s| s.observation_duration}.sum.to_f/(60*tl_sessions[idx].collect{|s| s.observation_count}.sum).to_f, :precision => 0))  %>
									<% end -%>
								</td>
							<% end -%>
						</tr>
				</tbody>
			</table>
							</th>
						</tr>
				</tbody>
			</table>

			<% school.itl_org_option.app_methods.each do |method| -%>
				<table  style="width:830px; border:1px solid #ddd; font-family:<%=family%>; margin-top:0px;">
					<tbody>
						<style type="text/css" media="screen">
				    		table,tr,td { border:medium }
							table tr:hover{
			        		background-color: transparent;
			      			}
			   			</style>
						<% backgrnd = "#"+ method.dashboard_color -%>
						<% method.tl_activity_types.by_position.each do |activity| -%>
							<tr style="border:0px solid #ddd;background:<%=backgrnd%>;">
								<td style="border:0px solid #ddd; " >
								 <%= render :partial => "/apps/time_learning/subject_method_activity_dashboard", :locals => {:school => school, :group=>group, :subject=>subject, :session_count=>session_count, :month =>month, :activity=>activity, :columns=>columns, :task_details=> false}  %>		
								</td>
							</tr>
						<% end -%>	
					</tbody>
				</table>

			<% end -%>	
		<br/>
		<% end -%>

	<% else -%>
		<span style="color:#C73914;">
			No Finalized <%=subject.name %>&nbsp;Observations Since <%= (Date.today - school.itl_org_option.stat_window.weeks).strftime("%b %Y") %>
			<br/>
		</span>
	<% end -%>
</div>

