<div id="subject_tasks_<%= group %><%= activity.id %>">
	<% method= activity.app_method -%>
	<% backgrnd = "#"+ method.dashboard_color -%>	
	<% task_border = task_details ? "0px" : "0px"%>
	<% activity_weight = task_details ? "bold" : "normal"%>
	<% session_ids =[]%>
	<% columns.each do |idx| -%>
		<% session_ids[idx] = sessions[idx].nil? ? nil:sessions[idx].id -%>	
	<% end -%>
	<table  style="width:99%; border:<%=task_border%> solid #ddd;">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tr style="border:0px solid #ddd; background:<%=backgrnd%>;">						
				<td style=" width:5%; border:0px solid #ddd; color: #000000; vertical-align:middle; font-size:9px" >
					<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
						<% label = task_details ? "Hide" : "Show" -%>
						<% toggle = task_details ? 0 : 1 -%>
						<%= link_to label, { :controller =>"apps/time_learning", :action => "toggle_teacher_dashboard_details", :organization_id => @current_organization, :task_details=>toggle, :teacher_id => teacher, :subject_id=> subject, :session_ids => session_ids, :group=>group, :activity_id=>activity.id, :columns=>columns}, :class => "toggle_task" + group + activity.id.to_s  %>

					</span>		
				</td>
				<td style=" border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:<%=activity_weight%>; font-size:10px" >
					<%= activity.activity %>
				</td>	
				<% columns.each do |idx| -%>	
					<td  style="width:10%; border:0px solid #ddd; color: #000000; vertical-align:middle;text-align:center;  font-weight:<%=activity_weight%>; font-size:10px" >
						<% if sessions[idx] && sessions[idx].app_methods.include?(method) && method.timed? -%>
							<% secs = sessions[idx].tlt_dashboards.for_activity(activity).collect{|d| d.duration_secs}.sum -%>
							<% session_duration = sessions[idx].duration -%>
							<% unless session_duration == 0%>
								<%= number_to_percentage((100.0*secs.to_f/session_duration.to_f).round, :precision => 0) -%>
								<% avg_rating =  sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_count}.sum == 0 ? nil : (sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_total.to_f}.sum/sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_count.to_f}.sum).to_f -%>
								<% unless avg_rating.nil? -%>
									<span style="font-size:9px; font-weight:<%=activity_weight%>; color:#C73914;" >
										<br/><%= method.rating_label%>:&nbsp;<%= number_with_precision(avg_rating, :precision => 1) %>
									</span>
								<% end -%>
							<% else -%>
								&nbsp;
							<% end -%>

						<% elsif sessions[idx] && sessions[idx].app_methods.include?(method) && !method.timed? -%>
							<%= sessions[idx].tlt_dashboards.for_activity(activity).empty? ? nil : sessions[idx].tlt_dashboards.for_activity(activity).collect{|d| d.segments}.sum  -%>								
							<% avg_rating =  sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_count}.sum == 0 ? nil : (sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_total.to_f}.sum/sessions[idx].tlt_dashboards.for_activity(activity).collect{|ss| ss.involve_count.to_f}.sum).to_f -%>
							<% unless avg_rating.nil? -%>
								<span style="font-size:9px; font-weight:<%=activity_weight%>; color:#C73914;" >
									<br/><%= method.rating_label%>:&nbsp;<%= number_with_precision(avg_rating, :precision => 1) %>
								</span>
							<% end -%>		
						<% else%>
							&nbsp;
						<% end -%>
					</td>
				<% end -%>
			</tr>
			<% if task_details -%>			
				<% activity.tl_activity_type_tasks.enabled.each do |task| -%>
					<% db_task = [] -%>
					<% task_row = false -%>
					<% columns.each do |idx| -%>
						<% db_task[idx] = sessions[idx].tlt_dashboards.for_task(task).first rescue nil -%>
						<% task_row = true unless db_task[idx].nil? -%>
					<% end -%>
					<% if task_row -%>
						<% hover = "<center>" + task.name + "</center>" -%>
						<tr style="border-top:1px dashed #ddd;">
							<td style=" width:5%; border:0px solid #ddd; color: #000000; vertical-align:middle; font-size:9px" >
								&nbsp;	
							</td>
							<td  class="tip_2_<%=group%><%=task.id%>" title= "<%= hover %>" style=" border:0px solid #ddd;  color: #000000; padding-top:4px;vertical-align:top;text-align:center; font-weight:normal; font-size:12px" >
									<%= task.abbrev %> 
							</td>
	
								<% columns.each do |idx| -%>	
									<% if sessions[idx] && sessions[idx].app_methods.include?(method)-%>
										<% session_duration = sessions[idx].duration -%>
												<td style="width:10%; border:0px solid #ddd; color: #000000;  padding-top:4px; padding-bottom:4px; vertical-align:top;text-align:center; font-weight:normal; font-size:10px" >
	
													<% if db_task[idx] && session_duration > 0 -%>
														 <% if method.timed? -%>
														 	<%= number_to_percentage((100.0*db_task[idx].duration_secs.to_f/session_duration.to_f).round, :precision => 0) %>
														 <% end -%>
														<span style="font-size:9px; font-weight:normal;" >
															<u><i><a id="dash_1_<%=group%><%=task.id%><%=idx.to_s%>" href=""><%= pluralize(db_task[idx].segments,  " Log") %></a></i></u>
														</span>
															<div id="dash_2_<%=group%><%=task.id%><%=idx.to_s%>" title= "<%= sessions[idx].session_date.strftime("%m/%d/%Y") %>&nbsp;&nbsp;<%=sessions[idx].classroom_name%>,&nbsp;<%=sessions[idx].class_period_name%>" style="text-align:left;">
															    <div class="title_large_blue" style="margin-bottom:15px;">
															      <%= task.name %>&nbsp;&nbsp;
															      <span style ="font-size:12px; font-weight:normal">
															      	(<%= pluralize(sessions[idx].tlt_session_logs.for_task(task).size, " Instance")%><%= sessions[idx].tracker ? (" Logged By " + sessions[idx].tracker.last_name) : "" %>)
															      </span>
															    </div>
															    <div class="normal_text" style=" font-size:11px;line-height:1.2em">
																	<% notes_empty = true -%>
																	<% sessions[idx].tlt_session_logs.for_task(task).collect{|l| [l.note,l.involve]}.compact.each do |n| -%>
																		<% unless (n[0].nil? || n[0]== "") && n[1].nil?-%>
																			<% notes_empty = false -%>
																		<% end -%> 
																	<% end -%>
																	<% if notes_empty -%>
																		<i>Nothing Noted</i>
																	<% else -%>
																		<% sessions[idx].tlt_session_logs.for_task(task).each_with_index do |log, indx| -%>
																			<%=indx+1%>)&nbsp;
																			<i><%= log.involve.nil? ? "" : (log.involve + " " + method.rating_label +  "&nbsp;&nbsp;" ) %></i>
																			<% unless (log.note.nil? || log.note.empty?) -%>
																				<i><u>Note:</u></i>&nbsp;<%= log.note.humanize -%>
																			<% end -%>
																			<br/><br/>
																		<% end -%>
																	<% end -%>
															    </div>
															</div>
														<% inv_count = db_task[idx].involve_count -%>
														<span style="font-size:9px; font-weight:normal; color:#C73914;" >
															<% unless inv_count == 0 -%>
																<br/><%= method.rating_label%>:&nbsp;<%= number_with_precision(db_task[idx].involve_total.to_f/inv_count.to_f, :precision => 1) %>
															<% end -%>
															<% imp_count = db_task[idx].impact_count-%>
															<% unless imp_count == 0 -%>
																<br/>Impact: <%= number_with_precision(db_task[idx].impact_total.to_f/imp_count.to_f, :precision => 1) %>
															<% end -%>
														</span>
													<% else -%>
														&nbsp;
													<% end -%>
												</td>
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {
    	    jQ("#dash_2_<%=group%><%=task.id%><%=idx.to_s%>").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: 600,
    	            height: 300,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);
    		jQ('#dash_1_<%=group%><%=task.id%><%=idx.to_s%>').click(function(event){
    		    jQ("#dash_2_<%=group%><%=task.id%><%=idx.to_s%>").dialog('open');
    			 event.preventDefault();
    		})
    });
</script>
										<% else -%>
											<td  style="width:10%; border:0px solid #ddd; color: #000000; vertical-align:top;text-align:center; font-weight:normal; font-size:10px" >
												&nbsp;
											</td>							
										<% end -%>
								<% end -%>
						</tr>
	<script>
	jQ(function(){
	jQ('td.tip_2_<%=group%><%=task.id%>').qtip({
	   content: { text: false },
	      position: {
	      corner: {
	         target: 'topMiddle',
	         tooltip: 'bottomMiddle'
	      }
	   },
	   style: { 
	      name: 'cream',
		  border: {
	         width: 1,
	         radius: 1,
	         color: '#99911a'
	      },
	      width: 250,
		  tip: { // Now an object instead of a string
	         corner: 'bottomLeft', // We declare our corner within the object using the corner sub-option
	         color: '#99911a',
	         size: {
	            x: 0, // Be careful that the x and y values refer to coordinates on screen, not height or width.
	            y : 0 // Depending on which corner your tooltip is at, x and y could mean either height or width!
	         }
	}  }
	,
	   show: 'mouseover',
	   hide: 'mouseout'
	});
	});
	</script>

					<% end -%>
				<% end -%>
			<% end -%>			
		</tbody>
	</table>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_task<%= group %><%= activity.id.to_s %>').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#subject_tasks_<%= group %><%= activity.id %>").html(data);
				jQ("#subject_tasks_<%= group %><%= activity.id %>").show();
			})
			return false;
	})
});
</script>