<div id ="teacher_dashboard_<%=teacher.public_id%><%=subject.public_id%>">
<% unless teacher.nil? || subject.nil? %>
	<% teacher_sessions = subject.nil? ? teacher.tlt_sessions.final.sort{|a,b| b.session_date <=> a.session_date} : teacher.tlt_sessions.for_subject(subject).final.sort{|a,b| b.session_date <=> a.session_date} %>
	<% used_methods = teacher_sessions.collect{|s| s.app_methods}.flatten.uniq.sort_by{|m| m.position} -%>
		<table  style="width:900px; font-weight:bold; color: #2061a5; font-size: 12px">
			<tbody>  
				<tr>
					<td colspan=9 style=" border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						<center><strong><%= pluralize(teacher_sessions.size, subject.name + " Observation" ) %></strong></center>
					</td>
				</tr>
			</tbody>
		</table>


	<% columns = [0,1,2,3,4,5,6]-%>
	<% teacher_sessions.in_groups_of(7).each_with_index do |session, index| -%>			
	<% group = "dashboard_" + teacher.public_id + subject.public_id + index.to_s -%>

	<table  style="width:900px;  border:1px solid #ddd; ">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
				<tr style="border:0px solid #ddd;">
					<th style="border:0px solid #ddd; " >
	<table  style="width:890px; border:0px solid #ddd;">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>

			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						&nbsp;
				</th>

				<% columns.each do |idx| -%>	
					<% hover = session[idx] ? "<center>" + session[idx].classroom_name  + "</center>" : "" -%>	
					<% hover_class = session[idx] ? "tip_overview" : ""%>
					<th class="<%= hover_class %>" title= "<%= hover %>"  style=" width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle;text-align:center; font-weight:normal; font-size:10px" >
						<% if session[idx] -%>
							<%= session[idx].session_date.strftime("%b %d, %Y") %><br/>
							<u>
								<%= link_to "View", {:controller =>  "/apps/time_learning", :action => "static_itl_session", :organization_id => @current_organization, :tlt_session_id => session[idx]}, {:target => "_blank"}  %>
							</u>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Observer
				</th>
				<% columns.each do |idx| -%>	
				<% if session[idx] -%>
					<% hover = session[idx].tracker ? ("<center>" + session[idx].tracker.full_name  + "</center>") : ""-%>	
				<% end -%>
					<th  class="tip_overview" title= "<%= hover %>"  style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<% observer = session[idx].tracker ? session[idx].tracker.last_name : "Former User" -%>
							<%= truncate(observer, :length => 10) %>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Method(s)
				</th>
				<% columns.each do |idx| -%>	
					<th  style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<%= session[idx].app_methods.by_position.collect{|m| m.abbrev}.join(", ") -%>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			<tr style="border:0px solid #ddd;">
				<th style=" border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Attendance
				</th>
				<% columns.each do |idx| -%>	
					<th  style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<%= session[idx].students %>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			<!--
			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Student Feedbacks
				</th>
				<% columns.each do |idx| -%>	
					<th  style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<%#= session[idx].tlt_survey_responses.empty? ? 0 :  session[idx].tlt_survey_responses.for_audience(@app.tlt_survey_audiences.student.first).size -%>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			-->
			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Class Time (Min)
				</th>
				<% columns.each do |idx| -%>	
					<th  style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<% duration_mins = number_with_precision(session[idx].duration/60.0, :precision => 1) rescue 0%>
							<%=  duration_mins -%>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
			<tr style="border:0px solid #ddd;">
				<th style="  border:0px solid #ddd; color: #000000; vertical-align:middle; text-align:center; font-size:11px" >
						Observation (Min)
				</th>
				<% columns.each do |idx| -%>	
					<th style="width:90px; width:fixed; border:0px solid #ddd; color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<% if session[idx] -%>
							<% duration_mins = number_with_precision(session[idx].session_length/60.0, :precision => 1) rescue 0%>
							<%=  duration_mins -%>
						<% else%>
							&nbsp;
						<% end -%>
					</th>
				<% end -%>
			</tr>
		</tbody>
	</table>
					</th>
				</tr>
		</tbody>
	</table>

	<% used_methods.each do |method| -%>
	<table  style="width:900px;  border:1px solid #ddd; margin-top:0px;">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<% backgrnd = "#"+ method.dashboard_color -%>
			<% method.tl_activity_types.by_position.each do |activity| -%>
				<% db_activity = [] -%>
				<% activity_row = false -%>
				<% columns.each do |idx| -%>
					<% db_activity[idx] = session[idx].tlt_dashboards.for_activity(activity).first rescue nil -%>
					<% activity_row = true unless db_activity[idx].nil? -%>
				<% end -%>
				<% if activity_row -%>
					<tr style="border:0px solid #ddd;background:<%=backgrnd%>;">
						<td style="border:0px solid #ddd; " >
						 	<%= render :partial => "/apps/time_learning/teacher_method_activity_dashboard", :locals => {:teacher => teacher, :group=>group, :subject=>subject, :sessions=>session, :activity=>activity, :columns=>columns, :task_details=> false}  %>		
						</td>
					</tr>
				<% end -%>
			<% end -%>	
		</tbody>
	</table>	
	<% end -%>	
<br/>
<% end -%>
<br/>
<% else -%>
	<div style="font-size:12px; text-align:center; font-weight:normal; color:#C73914;">
	<center>* * Teacher Or Subject Not Found In DB * *</center>
	</div>
<% end -%>
</div>
<script>
jQ(function(){
jQ('th.tip_overview').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'blue',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 200,
	  tip: { // Now an object instead of a string
         corner: 'bottomLeft', // We declare our corner within the object using the corner sub-option
         color: '#1115cc',
         size: {
            x: 0, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 0 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>