
<% unless teacher.nil?%>
	<div id ="teacher_diagnostic">


	<% unless teacher.tlt_sessions.for_subject(subject).final.empty? || (!admin && teacher != @current_user)-%>
		<table id="<%=teacher.public_id %><%= subject.id %>_history"   style="width:650px; color: #2061a5;">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/time_learning", :action => :diagnostic_history, :teacher_id => teacher, :organization_id => @current_organization, :subject_area_id => subject  %>
						<%= subject.name %> Reflection History
						<span></span>
					</td>
				</tr>
			</tbody>
		</table>

		<table id="<%=teacher.public_id %><%= subject.id %>_feedback"   style="width:650px; color: #2061a5;">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/time_learning", :action => :student_feedback, :teacher_id => teacher, :organization_id => @current_organization, :subject_area_id => subject  %>
						<%= subject.name %> Student Feedback
						<span></span>
					</td>
				</tr>
			</tbody>
		</table>		
		

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=teacher.public_id %>_levels .resource_levels_close').toggleResourceLevels();
	jQ('#<%=teacher.public_id %>_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=teacher.public_id %><%= subject.id %>_history .resource_levels_close').toggleResourceLevels();
	jQ('#<%=teacher.public_id %><%= subject.id %>_history .resource_levels_open').toggleResourceLevels();	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=teacher.public_id %><%= subject.id %>_feedback .resource_levels_close').toggleResourceLevels();
	jQ('#<%=teacher.public_id %><%= subject.id %>_feedback .resource_levels_open').toggleResourceLevels();	
});
</script>

	<% end -%>
	</div>
<% else -%>
	<div style="font-size:12px; text-align:center; font-weight:normal; color:#C73914;">
	<center>* * No Teacher Found In DB * *</center>
	</div>
<% end -%>

