<div  id="then_now_<%= type %>_<%= current_subject[1]%>">
	<% type_org_key = type + @current_organization.public_id %>	
	<% if type == "teacher" -%>
		<table style="width:720px;margin-left:80px; padding-top:0px;">
			<tbody>  
				<tr  style="margin-left:00px;">
					<td   id = "teacher_submit_<%= type %>_<%= type_org_key %>" style="width:14%; border:0px solid #ddd;vertical-align:bottom;  padding-left:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
						<button><span style="cursor:pointer;">Submit</span></button>
					</td>
					<td style="width:39%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<%=  select(:teach, :subject,   [current_subject] +  [["All Subjects", "A"]] + subject_list.collect{|s| [s.name, s.id]}) %>
					</td>
					<td   style="width:28%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<%=  select(:teach, :entity,  ([current_r_entity] + [[teacher.last_name, "T"]] + [["All " + @current_organization.organization_type.name.pluralize, "P"]] + @current_user.my_schools_for_app(@app).collect{|s| [s.medium_name, s.id]})) %>
					</td>
					<td   style="width:19%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<% if @current_organization.itl_belt_ranking? %>
							<%=  select(:belt_t, :rank, [[belt.filter_select, belt.id]] + ItlBeltRank.all.sort_by{|r| r.rank_score}.collect{|b| [b.filter_select, b.id]}) %>
						<% else -%>
							<span style="font-size:9px; text-align:center; vertical-align:middle; color:#787c80">Quality Filters Not Enabled</span>
							<input id="belt_t_rank" type="hidden" value="<%= ItlBeltRank.none.first.id %>" />
						<% end -%>
					</td>
				</tr>
			</tbody>
		</table>
	<% else -%>
		<table style="width:720px;margin-left:80px; padding-top:0px;">
			<tbody>  
				<tr  style="margin-left:00px;">
					<td   id = "org_submit_<%= type %>_<%= type_org_key %>" style="width:14%; border:0px solid #ddd;vertical-align:bottom;  padding-left:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
						<button><span style="cursor:pointer;">Submit</span></button>
					</td>
					<td    style="width:39%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<%=  select(:org, :subject,   [current_subject] +  [["All Subjects", "A"]] + subject_list.collect{|s| [s.name, s.id]}) %>
					</td>
					<td   style="width:28%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<%=  select(:org, :entity,  ([current_r_entity] + [["All " + @current_organization.organization_type.name.pluralize, "P"]] + @current_user.my_schools_for_app(@app).collect{|s| [s.medium_name, s.id]})) %>
					</td>
					<td   style="width:19%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-left:0px; font-size:11px; text-align:left">
						<% if @current_organization.itl_belt_ranking? %>
							<%=  select(:belt_o, :rank, [[belt.filter_select, belt.id]] + ItlBeltRank.all.sort_by{|r| r.rank_score}.collect{|b| [b.filter_select, b.id]}) %>
						<% else -%>
							<span style="font-size:9px; text-align:center; vertical-align:middle; color:#787c80">Quality Filters Not Enabled</span>
							<input id="belt_o_rank" type="hidden" value="<%= ItlBeltRank.none.first.id %>" />
						<% end -%>
					</td>
				</tr>
			</tbody>
		</table>
	<% end -%>	
	<table style=" width:580px; margin-left:120px; font-size:11px; font-weight:normal; color:#000000;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
				<tr  id="key_header_<%= type %>_<%= current_subject[1]%>" style="margin-left:00px">
					<td style="width:41%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						&nbsp;
					</td>
					<td  id="key_show_<%= type %>_<%= current_subject[1] %>" style="width:17%;;  border:0px solid #ddd; vertical-align:bottom;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						<span style=" font-weight:normal;  font-size:9px; color: #2061a5;  text-align:left">
							>&nbsp;&nbsp;<u>View Key</u>  
						</span>		
					</td>
					<td style="width:41%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						&nbsp;
					</td>
				</tr>
				<tr id="key_descript_<%= type %>_<%= current_subject[1] %>"  style="margin-left:00px">
					<td   id="key_hide_<%= type %>_<%= current_subject[1]%>" style=" width:17%; border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em; color:#000000; padding-top:0px; padding-bottom:10px; font-size:12px; text-align:left">
						<span style=" font-weight:normal;  font-size:9px; color: #2061a5; vertical-align:middle;  text-align:left">
							>&nbsp;&nbsp;<u>Hide Key</u>  
						</span>			
					</td>
					<td style="width:83%;; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em;  padding-right:0px; font-size:11px; text-align:left">
						<table style=" width:100%; margin-left:0px; font-size:11px; font-weight:normal; color:#000000;">
							<tbody>  
								<style type="text/css" media="screen">
						    		table,tr,td { border:none; }
									table tr:hover{
					        		background-color: transparent;
					      			}
					   			</style>
								<tr>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[0] %>; padding-right:0px; font-size:11px; text-align:center">
										Very High			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[1] %>; padding-right:0px; font-size:11px; text-align:center">
										High			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[2] %>; padding-right:0px; font-size:11px; text-align:center">
										Moderate		
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:left">
										&nbsp;			
									</td>
									<td  style="width:15%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; background-color:<%= color_key[3] %>; padding-right:0px; font-size:11px; text-align:center">
										Low			
									</td>
									<td  style="width:10%; border:0px solid #ddd; vertical-align:top;  line-height: 1.5em; color:#000000; padding-right:0px; font-size:11px; text-align:center">
										&nbsp;			
									</td>
								</tr>
								<tr>
									<td  colspan=4 style="border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em;  padding-top:20px; font-size:13px; text-align:left">
										Top Bar: Research Impact			
									</td>
									<td  colspan=4 style="border:0px solid #ddd; vertical-align:middle;  line-height: 1.5em;  padding-top:20px; font-size:13px; text-align:left">
										Bottom Bar: Student Engagement		
									</td>
								</tr>
							</tbody>
						</table>							
					</td>
				</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		jQ(document).ready(function() {
	  		  jQ("#key_header_<%= type %>_<%= current_subject[1] %>").show();
			  jQ("#key_descript_<%= type %>_<%= current_subject[1] %>").hide();		  
	
		jQ("#key_show_<%= type %>_<%= current_subject[1]%>").click(function() {
			  	jQ("#key_header_<%= type %>_<%= current_subject[1] %>").slideUp("slow");	 
		   		jQ("#key_descript_<%= type %>_<%= current_subject[1] %>").slideDown("slow");
		})
	
		jQ("#key_hide_<%= type %>_<%= current_subject[1] %>").click(function() {
		   		jQ("#key_descript_<%= type %>_<%= current_subject[1] %>").slideUp("slow");
		   		jQ("#key_header_<%= type %>_<%= current_subject[1] %>").show();
		})	
	});
	</script>

	<table style="width:800px;margin-left:20px">
		<tbody>  
			<tr  style="border:0px solid #ddd;" >
				<td    style="width:16%; border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
        			<%= date_select(:ts_start, type_org_key, :use_short_month=>true, :default=>time_table[0], :order=>[:month, :year],:start_year => Time.now.year - 5, :end_year => Time.now.year) %></td>
				</td>
				<td    style="width:6%; border:0px solid #ddd;vertical-align:bottom;  padding-left:0px;  padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
					thru
				</td>
				<td    style="width:16%; border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
        			<%= date_select(:ts_end, type_org_key,  :use_short_month=>true, :default=>time_table[1], :order=>[:month, :year], :start_year => Time.now.year - 5, :end_year => Time.now.year) %></td>
				</td>
				<td    style="width:24%; border:0px solid #ddd;vertical-align:bottom;  padding-left:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
					&nbsp;
				</td>
				<td    style="width:16%; border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
        			<%= date_select(:ns_start, type_org_key, :use_short_month=>true, :default=>time_table[2], :order=>[:month, :year], :start_year => Time.now.year - 5, :end_year => Time.now.year) %></td>
				</td>
				<td    style=" border:0px solid #ddd;vertical-align:bottom;  padding-left:0px;  padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
					thru
				</td>
				<td    style="width:17%; border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
        			<%= date_select(:ns_end, type_org_key, :use_short_month=>true, :default=>time_table[3], :order=>[:month, :year], :start_year => Time.now.year - 5, :end_year => Time.now.year) %></td>
				</td>
 			</tr>
		</tbody>
	</table>

		<table style=" width:820px; border:1px solid #ddd; font-size:11px; font-weight:normal; color:#000000;">
			<thead>
				<tr  style="margin-left:00px">
					<th  style="width:1%; border-bottom:0px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
					<th  style="width:37%; border-bottom:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						<span style="font-size:14px; font-weight:bold"><%= header[0][0] %></span>		
					</th>									
					<th  style=" width:24%; border-bottom:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-top:5px; padding-left:27px; font-size:12px; text-align:center">
						<%= belt.filter_image == "" ? " " : image_tag(belt.filter_image, :width => 100)%>			
					</th>
					<th  style="width:37%; border-bottom:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						<span style="font-size:14px; font-weight:bold"><%= header[0][2] %></span>		
					</th>									
					<th  style="width:1%; border-bottom:0px solid #ddd; border-left:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
				</tr>
				<tr  style="margin-left:00px">
					<th  style="width:1%; border-top:0px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
					<th  style="width:37%; border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						<%= time_table[0].strftime("%B %Y") %>&nbsp;-&nbsp;<%= time_table[1].strftime("%B %Y") %>
						<br/><span style="font-size:10.5px;">(<%= pluralize(sessions[0], " Observation")%>)</span>				
					</th>									
					<th  style=" width:24%; border-bottom:1px solid #ddd;border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						<span style="font-size:14px; font-weight:bold"><%= header[0][1] %></span><br/>			
					</th>
					<th  style="width:37%; border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						<%= time_table[2].strftime("%B %Y") %>&nbsp;-&nbsp;<%= time_table[3].strftime("%B %Y") %>
						<br/><span style="font-size:10.5px;">(<%= pluralize(sessions[1], " Observation")%>)</span>		
					</th>									
					<th  style="width:1%; border-top:0px solid #ddd; border-left:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
				</tr>
			</thead>
		    <%= render :partial => "/apps/time_learning/then_now_display_table", :locals => {:table => category_table, :background=>"#f0f9fb", :font_weight=>"normal", :color=>"#C73914"}  %>
			<thead>
				<tr  style="margin-left:00px">
					<th  style="width:1%; border-top:0px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
					<th  style="width:37%; border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;					</th>									
					<th  style=" width:24%; border-bottom:1px solid #ddd;border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 3.15em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						Strategies			
					</th>
					<th  style="width:37%; border-top:0px solid #ddd; border-left:0px solid #ddd; border-right:0px solid #ddd; font-weight:normal; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;
					</th>									
					<th  style="width:1%; border-top:0px solid #ddd; border-left:0px solid #ddd; font-weight:bold; vertical-align:middle;  line-height: 1.75em; color:#2061a5; padding-right:0px; font-size:12px; text-align:center">
						&nbsp;				
					</th>
				</tr>
			</thead>
		    <%= render :partial => "/apps/time_learning/then_now_display_table", :locals => {:table => strategy_table, :background=>"#ffffff", :font_weight=>"normal", :color=>"#2061a5"}  %>
		</table>
</div>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#teacher_submit_<%= type %>_<%= type_org_key %>').click(function() {
		var then_sy = jQ('#ts_start_<%= type_org_key %>_1i').val();
		var then_sm = jQ('#ts_start_<%= type_org_key %>_2i').val();
		var then_ey = jQ('#ts_end_<%= type_org_key %>_1i').val();
		var then_em = jQ('#ts_end_<%= type_org_key %>_2i').val();
		var now_sy = jQ('#ns_start_<%= type_org_key %>_1i').val();
		var now_sm = jQ('#ns_start_<%= type_org_key %>_2i').val();
		var now_ey = jQ('#ns_end_<%= type_org_key %>_1i').val();
		var now_em = jQ('#ns_end_<%= type_org_key %>_2i').val();
		var right_entity = jQ('#teach_entity').val();
		var new_subject = jQ('#teach_subject').val();
		var belt_id = jQ('#belt_t_rank').val();
		var url = "<%= ctl_analyze_period_url(:type => type, :teacher_id => teacher, :organization_id => @current_organization, :l_entity => l_entity.id, :r_entity => r_entity.id) %>";
			jQ.get(url, {'t_start_y':then_sy,'t_start_m':then_sm, 't_end_y':then_ey,'t_end_m':then_em,'n_start_y':now_sy,'n_start_m':now_sm,'n_end_y':now_ey,'n_end_m':now_em, 'new_r_entity':right_entity, 'new_subject':new_subject, 'belt_id':belt_id}, function(data) {
			jQ("#then_now_<%= type %>_<%= current_subject[1] %>").html(data); 
	   		jQ("#then_now_<%= type %>_<%= current_subject[1] %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#org_submit_<%= type %>_<%= type_org_key %>').click(function() {
		var then_sy = jQ('#ts_start_<%= type_org_key %>_1i').val();
		var then_sm = jQ('#ts_start_<%= type_org_key %>_2i').val();
		var then_ey = jQ('#ts_end_<%= type_org_key %>_1i').val();
		var then_em = jQ('#ts_end_<%= type_org_key %>_2i').val();
		var now_sy = jQ('#ns_start_<%= type_org_key %>_1i').val();
		var now_sm = jQ('#ns_start_<%= type_org_key %>_2i').val();
		var now_ey = jQ('#ns_end_<%= type_org_key %>_1i').val();
		var now_em = jQ('#ns_end_<%= type_org_key %>_2i').val();
		var right_entity = jQ('#org_entity').val();
		var new_subject = jQ('#org_subject').val();
		var belt_id = jQ('#belt_o_rank').val();
		var url = "<%= ctl_analyze_period_url(:type => type, :teacher_id => teacher, :organization_id => @current_organization, :l_entity => l_entity.id, :r_entity => r_entity.id) %>";
			jQ.get(url, {'t_start_y':then_sy,'t_start_m':then_sm, 't_end_y':then_ey,'t_end_m':then_em,'n_start_y':now_sy,'n_start_m':now_sm,'n_end_y':now_ey,'n_end_m':now_em, 'new_r_entity':right_entity, 'new_subject':new_subject, 'belt_id':belt_id}, function(data) {
			jQ("#then_now_<%= type %>_<%= current_subject[1] %>").html(data); 
	   		jQ("#then_now_<%= type %>_<%= current_subject[1] %>").show();
			});
	})
});
</script>
