<div  id="video_attach">
	<% if observer == true && !session.training?  -%>
		<% embed = session.tlt_session_video ? session.tlt_session_video.embed_code : nil -%>
		<% show_label = embed.nil? ? "Add" : "Edit" -%>
      <div  class='row session_content_row'>
        <div class="col-md-3 session_label">
          <p>
            Observation Video
          </p>
        </div>
        <div class="col-md-9">
          <div id="vid_header">
            <p id="vid_show">
              <span class="button_gray">
                <%= show_label %>&nbsp;Video
              </span>
            </p>
          </div>
          <div id="vid_descript">
            <p id= "vid_hide">
              <span class="button_gray">
                Cancel
              </span>
            </p>
            <p  class='video_embed'>
              Paste Video Embed Code In Text Box Below
            </p>
            <p  class="ctl_embed_text">
              <%= text_area :embed, :code, :value => embed, :rows => 4, :cols => 75  %>
            </p>
            <div class="row">
              <div id = "attachment_del" class="col-md-2">
                <span class="button_red">
                  Delete
                </span>
              </div>
              <div id = "attachment" class="col-md-2">
                <span  class="button_green">
                  Attach
                </span>
              </div>
            </div>
          </div>

          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ("#vid_header").show();
              jQ("#vid_descript").hide();

              jQ("#vid_show").click(function() {
                jQ("#vid_header").slideUp("slow");
                jQ("#vid_descript").slideDown("slow");
              })

              jQ("#vid_hide").click(function() {
                jQ("#vid_descript").slideUp("slow");
                jQ("#vid_header").show();
              })
            });
          </script>

          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ('#attachment').click(function() {
                var session_id = '<%= @tlt_session.public_id %>';
                var embed = jQ('#embed_code').val();
                var url = "<%= ctl_observation_video_attach_url(:organization_id => @current_organization) %>";
                jQ.get(url, {'embed_code':embed,'tlt_session_id': session_id}, function(data) {
                  jQ("#video_attach").html(data);
                  jQ("#video_attach").show();
                });
              })
            });
          </script>

          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ('#attachment_del').click(function() {
                var session_id = '<%= @tlt_session.public_id %>';
                var url = "<%= ctl_observation_video_remove_url(:organization_id => @current_organization) %>";
                jQ.get(url, {'tlt_session_id': session_id}, function(data) {
                  jQ("#video_attach").html(data);
                  jQ("#video_attach").show();
                });
              })
            });
          </script>
          <% if  session.tlt_session_video  -%>
              <% if (teacher || observer) && !session.training? && !session.tlt_session_video.embed_code.empty? && @current_user.content_manager_for_org?(@current_organization) && !session.content-%>
                <%= render :partial => "video_training_create", :locals => {:session => session}%>
              <% end -%>
              <%= render(:partial => "video_show", :locals => {:session => session}) %>
          <% end -%>
        </div>
      </div>
  <% end -%>
</div>
