<div id="create_training_video">
  <div  class='row'>
    <div class="col-md-12 session_notice">
      <p style="font-weight:bold; text-decoration:underline;">
        Notice
      </p>
      <p>
        You are about to submit this video to the Resource Library. By doing so, this video will become a community resource that can be used as a "TRAINING VIDEO" for others to use.
        The attributes assigned to this video are summarized below. You can alter them after the submission by selecting "MANAGE Your Resources" under "Library" on the header bar above.
      </p>
      <p>
        By selecting "Submit" you are agreeing that you are authorized to make this submission according to the
        <span style="text-decoration:underline">
          <%= link_to 'Terms of Service', terms_path,:target => '_blank' %>
        </span>.
      </p>
    </div>
  </div>
  <hr>
  <div  class='row'>
    <div class="col-md-2 video_label">
      Title:
    </div>
    <div class="col-md-10 video_content">
      <p>
        <%= @current_application.abbrev %>&nbsp;Observation:&nbsp;<%= @tlt_session.classroom_name %>,&nbsp;<%= @tlt_session.organization.medium_name %>
      </p>
    </div>
  </div>
  <div  class='row'>
    <div class="col-md-2 video_label">
      Subject:
    </div>
    <div class="col-md-10 video_content">
      <p>
        <%= SubjectArea.pd.first.name %>
      </p>
    </div>
  </div>
  <div  class='row'>
    <div class="col-md-2 video_label">
      Type:
    </div>
    <div class="col-md-10 video_content">
      <p>
        <%= ContentResourceType.ctl.first.name %>
      </p>
    </div>
  </div>
  <div  class='row'>
    <div class="col-md-2 video_label">
      Owner:
    </div>
    <div class="col-md-10 video_content">
      <p>
        <%= @current_user.full_name %>,&nbsp;<%=@tlt_session.organization.name %>
      </p>
    </div>
  </div>
  <div  class='row'>
    <div class="col-md-2 video_label">
      Desc:
    </div>
    <div class="col-md-10 video_content">
      <p>
        <%= @tlt_session.session_date.strftime("%b %d, %Y") %>&nbsp;observation of <%= @tlt_session.user.full_name%>&nbsp;by observer <%=@tlt_session.tracker.full_name %>.
        The <%= @tlt_session.organization.short_name %>&nbsp;<%= @tlt_session.classroom_name %>&nbsp;class was observed for <%= pluralize((@tlt_session.session_length/60).round, " minute") %>.
      </p>
    </div>
  </div>
  <div  class='row'>
    <div class="col-md-12">
      <p>
        <span id="add_content" class="button_blue">
          Submit
        </span>
      </p>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ('#add_content').click(function() {
            var url = "<%= ctl_observation_video_rl_url(:organization_id => @current_organization, :tlt_session_id => @tlt_session) %>";
            jQ.get(url, {}, function(data) {
              jQ("#video_attach").html(data);
              jQ("#video_attach").show();
            });
          })
        });
      </script>
    </div>
  </div>
  <hr>
</div>
