<div class= 'panel_title_blue'>
  <%=  @classroom.course_name %>:&nbsp;<%=  @period.name %>
</div>
<div class= 'panel_subtitle_blue'>
  <%= @practice ? (@current_user.full_name + ' (Practice)') : @teacher.full_name %>
</div>
<hr>
<%= render :partial => "/shared/error_and_notice" %>
<div class="row ">
  <div class="col-md-1"></div>
  <div class="col-md-1 ctl_button">
    <%= link_to 'Cancel', self.send(@current_application.link_path, {:organization_id => @current_organization, :coop_app_id => @current_application}), :class =>"btn btn-default btn-xs" %>
  </div>
  <div class="col-md-8 session_setup">
    <% unless @templates.empty? %>
      <%= form_for(:tlt_session, :url => ctl_observation_add_path(:organization_id => @current_organization, :user_id => @current_user, :classroom_id => @classroom,  :period_id => @period, :teacher_id => @teacher , :practice=>@practice, :function => 'Track')) do |form| -%>
        <div class="row setup_row">
          <div class="col-md-3 setup_form_labels">
            Class Duration
          </div>
          <div class="col-md-9 setup_form_boxes">
            <%= text_field :tlt_session, :duration, :value => "", :size => 3 %>&nbsp;&nbsp;Minutes
          </div>
        </div>
        <div class="row setup_row">
          <div class="col-md-3 setup_form_labels">
            Estimated Attendance
          </div>
          <div class="col-md-9 setup_form_boxes">
            <%= text_field :tlt_session, :students, :value=> 0, :size => 3 %>
          </div>
        </div>
        <% if !@classroom.topics.empty? -%>
          <div class="row setup_row">
            <div class="col-md-3 setup_form_labels">
              Learning Unit
            </div>
            <div class="col-md-9 setup_form_boxes">
              <%=  select(:tlt_session, :topic_id, @classroom.topics.collect{|lu| [lu.title.titleize, lu.id]},{:prompt => "Select Unit"}) %>
            </div>
          </div>
        <% end %>
        <div class="row setup_row">
          <div class="col-md-3 setup_form_labels">
            Lesson
          </div>
          <div class="col-md-9 setup_form_boxes">
            <%= text_field :tlt_session, :lesson, :size => 55, :maxlength => 150 %>
          </div>
        </div>
        <div class="row setup_row">
          <div class="col-md-3 setup_form_labels">
            Pre-Observation Notes
          </div>
          <div class="col-md-9 setup_form_boxes">
            <%= text_area :tlt_session, :observations, :rows => 2, :cols => 70  %>
          </div>
        </div>
        <% if @practice %>
          <div class="row setup_row">
            <div class="col-md-3 setup_form_labels">
              Practice Video<br/>
              <span class="video_help">
                <a id="cr_1" href="">What?</a>
              </span>
              <div title="Calibration Resource" id="cr_2" style="text-align:left;">
                <div class="title_large_blue" style="margin-bottom:15px;">
                  ** Proficiency Calibration Video
                </div>
                <div class="normal_text" style=" font-size:12px;">
                  After observing a video, an observer can reflect on her results relative to those of an accomplished "blackbelt" observer.<br/>
                  <br/>
                  This helps teachers independently develop their understandings of research-based strategies and calibrate their skills against an established standard.
                  <br/>
                </div>
              </div>
            </div>
            <div class="col-md-9 setup_form_boxes">
              <%=  @video_list.empty? ? "No Practice Videos Available" : select(:tlt_session, :content_id, @video_list.collect{|res| [res.title, res.id]},{:prompt => "Select Video"}) %>
            </div>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ("#cr_2").dialog({
                    bgiframe: true,
                    autoOpen: false,
                    width: 500,
                    height: 220,
                    modal: true,
                    buttons: {
                      Close: function(){
                        jQ(this).dialog('close');
                      }
                    }
                  }
              );
              jQ('#cr_1').click(function(event){
                jQ("#cr_2").dialog('open');
                event.preventDefault();
              })
            });
          </script>
          </div>
        <% end %>
        <% if @templates.size > 1 %>
          <div class="row setup_row">
            <div class="col-md-3 setup_form_labels">
              Observation Template
            </div>
            <div class="col-md-9 setup_form_boxes">
              <%=  select(:coop_app, :meth, @templates.collect{|m| [m.name.titleize, m.id]},{:prompt => @current_organization.default_template.nil? ? "Select Template": @current_organization.default_template.name}) %>
            </div>
          </div>
        <% end %>
        <div class="row button_row">
          <%= submit_tag (@practice ? 'Begin Practice' : 'Begin Observation'), :class =>"button_blue" %>
        </div>
      <% end %>
  <% else %>
      <div class="sorry">
        No Observation Templates Defined For <%=@current_organization.short_name %>
      </div>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

