<div class="container session_container">
  <div class="row">
    <div class="col-md-4 session_left_panel">
      <%= render :partial => "itl_left_header", :locals => {:session => @tlt_session, :observer => @observer_update, :teacher => @teacher_update, :survey=>@survey}%>
    </div>
    <div class="col-md-8 session_right_panel">
      <%= render :partial => "itl_right_header", :locals => {:session => @tlt_session, :observer => @observer_update, :teacher => @teacher_update}%>
      <%= render :partial => "itl_session_notes", :locals => {:session => @tlt_session, :observer => @observer_update, :teacher => @teacher_update}%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 session_center_panel">
      <%= render :partial => "video_attach", :locals => {:session => @tlt_session, :teacher => @teacher_update, :observer => @observer_update}%>
      <div class="row">
        <% if !@tlt_session.training? && !@tlt_session.irr? -%>
          <%= render :partial => "itl_session_student_survey", :locals => {:session => @tlt_session, :observer => @observer_update}%>
        <% end -%>
      </div>
      <div class="row">
        <% if @tlt_session.app_methods.include?(AppMethod.strategy)%>
          <%= render :partial => "research", :locals => {:session => @tlt_session, :irr=> false, :graph_label => 'Observation Graphs'}%>
        <% end -%>
      </div>
      <div class="row">
        <% if @tlt_session.blackbelt_available? %>
            <%= render :partial => "research", :locals => {:session => @tlt_session.irr_session, :irr=> true, :graph_label => 'Calibration Graphs'}%>
        <% end -%>
      </div>
      <%= render :partial => "itl_activity_summary", :locals => {:session => @tlt_session, :update=>@observer_update} %>

        <table id="<%=@tlt_session.public_id %>_log">
          <tbody>
          <tr>
            <td class="resource_levels_close">
              <%= link_to '', ctl_observation_log_path(:organization_id => @current_organization, :tlt_session_id => @tlt_session, :update=> @observer_update) %>
              Observation Log&nbsp;&nbsp;(<%= pluralize(@tlt_session.tlt_session_logs.size, " Observation")%>)
              <span></span>
            </td>
          </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#<%=@tlt_session.public_id %>_log .resource_levels_close').toggleResourceLevels();
            jQ('#<%=@tlt_session.public_id %>_log .resource_levels_open').toggleResourceLevels();
          });
        </script>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

