
	<% no_feedbacks = true -%>
	<% @teacher.tlt_sessions.for_subject(@tlt_subject).collect{|s| s.survey_schedules.for_organization(@current_organization).for_audience(@audience)}.flatten.sort{|a,b| b.created_at <=> a.created_at}.each do |ses| -%>
		<% unless ses.question_responses.empty?%>
			<% no_feedbacks = false -%>
			<table id="<%=ses.public_id %>_feedback"   style="width:650px; color:#C73914; font-size:10px; font-weight:normal">
				<tbody>  
					<tr>
						<td class="resource_levels_close" style=" color:#1b5698;  font-weight:normal; font-size:10.5px">
							<%= link_to '', :controller => "apps/shared", :action => :show_aggregated_results, :organization_id => @current_organization, :schedule_id => ses  %>
							<%= ses.entity.session_date.strftime("%b %d, %Y") %> Session
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>	
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#<%=ses.public_id %>_feedback .resource_levels_close').toggleResourceLevels();
				jQ('#<%=ses.public_id %>_feedback .resource_levels_open').toggleResourceLevels();	
			});
			</script>	
		<% end %>
	<% end -%>
	<% if no_feedbacks -%>
		<table style="width:700px; margin-left:0px;border:0px solid #ddd;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
	
				<tr  style="border:0px solid #ddd;">
					<td  style=" border:0px solid #ddd;  color: #C83A14; vertical-align:top;text-align:center; font-weight:normald; font-size:11px" >
							 * * No <%= @teacher.last_name %> <%= @tlt_subject.name %> Student Feedback * *
					</td>
				</tr>
			<tbody> 
		</table>	
	<% end -%>
