<div >
	<% if (@group =="teacher" || @group == "observer") &&  @user != @current_user%>
		<%= render(:partial => "/apps/time_learning/observation_invite", :locals => {:group => @group, :recipient => @user, :sender => @current_user}) %>
	<% end -%>
	<% if @user == @current_user || @current_user.superuser? -%>	
		<% unless @sessions.size == 0 %>
				
			<table style="width:800px; border:1px solid #ddd;">
				<thead style="border:1px solid #ddd;">
					<tr style=" border:1px solid #ddd;">
						<th style = "color:#000000"><center><%= pluralize(@sessions.size, " Session") %></center></th>
						<th style = "color:#000000"><center>Classroom</center></th>
						<th colspan=2 style = "color:#000000"><center>Summary Info</center></th>
					</tr>
				</thead>
				<tbody>
					<style type="text/css" media="screen">
			    		table,tr,td { border:medium }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
		
					<% @sessions.each do |tlt| -%>
					<% teacher = tlt.user ? tlt.user.full_name : "Former User" -%>
					<% observer = tlt.tracker ? tlt.tracker.last_name : "Former User" -%>
					<tr style="border:1px solid #ddd;">
		
							<td width = 200px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
								<u>
									<%= link_to "View Session", {:controller =>  "/apps/time_learning", :action => "static_itl_session", :organization_id => @current_organization, :tlt_session_id => tlt}, {:target => "_blank"}  %>
								</u><br/>
								<%= tlt.session_date.strftime("%b %d, %Y") %><br/>
								Duration:&nbsp;<%= number_with_precision(tlt.session_length/60.0, :precision => 1) %>&nbsp;Minutes<br/>
								Observer: <%= observer %><br/>
								<span style="color:#C73914;font-size:10px"><i>
								<% if (tlt.is_final)%>
									<strong>Final</strong>
								<% elsif (!tlt.is_observer_done && !tlt.is_teacher_done) %>
									<strong>Open</strong>
								<% else%>
									<% if tlt.is_observer_done -%>
										<strong>Observer Final</strong>
									<% end -%>
									<% if tlt.is_teacher_done -%>
										<strong>Teacher Final</strong>
									<% end -%>
								<% end -%>
								</i></span>
							</td>
							<td width = 300px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:10px" >
								<span style= "font-size:12px; color: #2061a5;">
									<strong><%= teacher %></strong>;&nbsp;&nbsp;
									
									<% if tlt.classroom -%>
										<% link_string = "View " + tlt.classroom_name -%>
										<u><%= link_to link_string,{:controller => "site/site", :action => "static_classroom", :organization_id => @current_organization, :id => tlt.classroom}, :target => '_blank' %></u>
									<% else -%>
										<u><%= tlt.classroom_name %></u>
									<% end -%>
								</span>
									<br/>Period:&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.class_period_name %>,&nbsp;<%= number_with_precision(tlt.duration/60.0, :precision => 1) %>&nbsp;Minutes
								<% if tlt.topic %>
									<br/>Unit:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.topic.title.titleize %>
								<% end-%>
								<% unless tlt.lesson.empty? %>
									<br/>Lesson:&nbsp;&nbsp;&nbsp;&nbsp;<%= tlt.lesson.titleize %>
								<% end-%>
							</td>
							<td width = 250px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:10px" >
								<% tlt.app_methods.by_position.each do |method| %>
									<%= method.name %><br/>
									<% if method.rs? %>
										<% method.tl_activity_types.by_position.each do |activity| %>
										<%= activity.activity_pct(tlt) %>%&nbsp;<%= activity.activity %></br/>
									<% end -%>
								<% end -%>
							</td> 			
							<td width = 50px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:10px" >
								<% if tlt.user && tlt.user == @current_user && !tlt.finalized?-%>
									<%= link_to "Destroy", {:controller =>  "/apps/time_learning", :action => "destroy_session", :organization_id => @current_organization, :hat=> hat, :tlt_session_id => tlt, :user_id => @current_user}, :confirm => "Are You Sure?", :class => "destroy_session"  %>
								<% else -%>
									&nbsp;
								<% end -%>
							</td>
		 				</tr>
					<% end -%>
				</tbody>
			</table>
		<% else -%>	
			No Time & Learning Sessions For This <%= @group.titleize %>
		<% end -%>
	<% else -%>
	 	  <%= render :partial => "/apps/time_learning/history_observations", :locals => {:sessions => @sessions} %>
	<% end -%>
</div>
