<div class="container Form_Container">
  <%= form_for(:elt_standard, :url => elt_config_standard_edit_path(:organization_id => @current_organization,
                                                                    :elt_standard_id=>@standard.public_id, :task=>@task, :function => @task)) do |f| %>
      <div class="Form_Row">
        <div class="Form_Row_Title">
          Name:
        </div>
        <div class="Form_Row_Data">
          <%= text_field :elt_standard, :name, :value => @standard.name, :size => 50 %>
        </div>
      </div>
      <div class="Form_Row">
        <div class="Form_Row_Title">
          Abbrev:
        </div>
        <div class="Form_Row_Data">
          <%= text_field :elt_standard, :abbrev, :value => @standard.abbrev, :size => 10 %>
        </div>
      </div>
      <div class="Form_Row">
        <div class="Form_Row_Title">
          Public?
        </div>
        <div class="Form_Row_Data">
          <%= check_box :elt_standard, :is_public, :checked=> @standard.is_public %>
        </div>
      </div>
      <div class="Form_Row">
        <div class="Form_Row_Title">
          Active?
        </div>
        <div class="Form_Row_Data">
          <%= check_box :elt_standard, :is_active, :checked=> @standard.is_active%>
        </div>
      </div>
      <div class="Form_Row">
        <div class="Form_Row_Title">
          <%= f.submit :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
        </div>
      </div>
  <% end %>
</div>
