<<div class="container">
  <div class= 'panel_title_blue'>
    <%= @standard.name %>&nbsp;Element
  </div>
  <%= render :partial => "/shared/error_and_notice" %>
  <div class="Form_Container clear">
    <span class="fsn-button ui-button ui-state-default ui-corner-all" style ='margin:20px'>
      <%= link_to ' Return ', elt_config_standards_path(:organization_id => @current_organization) %>
    </span>
    <%= form_for(:elt_element, :url => elt_config_standard_element_update_path(:organization_id => @current_organization, :elt_element_id=>@element, :elt_standard_id => @standard)) do |f| %>
        <%= render :partial => "/apps/learning_time_standards/form_element" %>
        <div class="Form_Row">
          <div class="Form_Row_Title">
          </div>
          <div class="Form_Row_Data">
            <%= f.submit :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
          </div>
        </div>
    <% end -%>
    <%= render :partial => "/apps/learning_time/activate_rubric", :locals=>{:entity => @element} %>
  </div>
  <%= render :partial => "manage_element_indicators", :locals=>{:element => @element} %>
</div>