<div class="module results">
  <div class="module_body">
  	<br/>
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
	<br/> <br/> 
	
	<table id="orgroles" class="tablesorter">
		<tbody>
		    <style type="text/css" media="screen">
	    	table,tr,td { border:none; }  
    		</style>	
		
	
	<% for message in @messages %>
      <div class="discusssion_by_same_author_box">
        <div class="discusssion_by_same_author_warp">
          <div class="discusssion_by_same_author">
            <div>
              <%= h message.content %>
            </div>
          </div>
        </div>
        <div class="discusssion_by_same_author_info">
          <span>
						<%= message.sender %>
          </span>
          <abbr title="<%= message.created_at.xmlschema %>"> sent you a message
            <% if message.created_at > Time.now.utc - 24.hours -%>
             &nbsp;<%= time_ago_in_words(message.created_at).sub(/about /, '') %> ago
            <% else -%>
              &nbsp;on&nbsp;<%= message.created_at.strftime("%a, %b %d, %Y") %>
            <% end -%>
			&nbsp;&nbsp;<%= link_to "Delete", {:controller => "/messages", :action => :delete_message, :organization_id => @current_organization, :user_id => @current_user, :message_id => message.id}, :confirm => "Are You Sure?"  %>
          </abbr>
        </div>
      </div>
	  <br/>
    <% end %>

	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
	<br/> <br/>  
  
  
  </div>
</div>
