<html>
<head>
	<style type="text/css">

	</style>
</head>
<body >
	<% if !@case.nil? && @case.activity-%>
		<% ind_count = 0 -%>
		<% @case.elements.each do |element| -%>
			<div style = "page-break-after: always; max-width:1100px; font-family:Garamond, Calibri;">
				<table   style="width:1050px;  margin-left:0px; border:0px solid black ">
					<tbody>
						<tr style=" border:0px solid white;">
							<td style="width:260px; width:fixed;  text-align:left; padding-left:1px; border:0px solid black">
								<div style="padding-bottom:0px;">
									<%= pdf_image_tag(@case.provider.logo.url, :alt => @case.provider.name, :width => 240) if @case.provider.logo.file? -%>
								    <%= @case.provider.name %>
                                </div>
							</td>
							<td  style="font-size: 20px; text-align:center; line-height: 1.2em; color:#1b5698; font-weight:normal;">
								<%= @school.nil? ? 'School Unkown' : @school.name %>
                                <span  style="font-size: 14px; line-height: 1.2em; color:#000000;">
									<br/><%= @case.activity.name %>
                                  <br/><%= @case.submit_date.strftime('%B %d, %Y')%>&nbsp;&nbsp; <%= @case.user_name %>
								</span>
							</td>
							<td style="width:260px; width:fixed;  text-align:left; padding-left:1px; border:0px solid black">
								<div style="padding-bottom:10px;">
									<%= pdf_image_tag(@school.logo.url, :width => 240) if @school.logo.file? -%>
								</div>
								<span  style="font-size: 14px; line-height: 1.2em; color:#000000;">
									<%= @cycle_name %>
								</span>										
							</td>
						</tr>
                        <tr style=" border:0px solid white;">
                          <td colspan = 3 style=" text-align:center; font-size: 20px; line-height: 1.2em; color:#000000;padding-top:10px;">
                            <%= @case.name + (@case.subject_area ? (' ' + @case.subject_area.name) : '') +  (@case.grade_level ? (' ' + @case.grade_level.name) : '') %>
                          </td>
                        </tr>
                    </tbody>
				</table>
				<table style = " width:1050px; width:fixed; margin-top:5px; border:2px solid <%=element.form_background%>; background:<%=element.form_background%>;">
					<tbody>
						<tr style ="border:5px solid <%=element.form_background%>;">
							<td colspan=2 style = " font-size:18px; font-weight:bold; min-height:50px; line-height:1.8em; vertical-align:middle; text-align:center; background:<%=element.form_background%>; color: <%=element.e_font_color%>">
								<%= element.name %>
							</td>
						</tr>
						<tr style ="border:5px solid <%=element.form_background%>;">
							<td colspan=2 style = "line-height:1px; background:<%=element.form_background%>;">
								
							</td>
						</tr>
						<% @case.element_indicators(element).each do |indicator| -%>
							<tr style ="border:5px solid <%=element.form_background%>; background:#FFFFFF;">
								<td style ="width:200px; text-align:center; vertical-align:top; padding:10px; font-size:13px;">
                                  <% if @case.activity.master? %>
                                      <% if  indicator.lookfors.empty? %>
                                          <span style="color:#C73914;">Not Informed</span>
                                      <% else %>
                                          <% lookfor_groups = indicator.lookfors.group_by(&:elt_type_id)%>
                                          <% lookfor_groups.each do |lfg, informer| %>
                                              <%= truncate(informer.first.elt_type.name, :length => 21, :omission => '')%>&nbsp;<em>(<%=informer.size%>)</em></br>
                                          <% end %>
                                      <% end %>
                                  <% else %>
                                    <%= indicator.support_indicators.map{ |si| indicator_tiered_label(si)}.join(', ') %>
                                  <% end %>
                                </td>
								<td style =" width:850px; width:fixed; padding:10px; text-align:left; font-size:14px; ">
									<%= indicator.indicator %></br>
                                  <span style="padding-top:10px; font-weight:normal; font-family:Arial; color:#871a19">
                                    <% if @case.activity.rubric? %>
                                        <strong><%= (!@case.case_indicator(indicator).nil? && @case.case_indicator(indicator).rubric) ? (simple_format @case.case_indicator(indicator).rubric.name) : "Not Rated" %></strong>
                                    <% end -%>
                                    <%= @case.case_indicator(indicator).nil? || @case.case_indicator(indicator).note.nil? || @case.case_indicator(indicator).note.empty? ? 'No Evidence' : simple_format (@case.case_indicator(indicator).note) %>
                                  </span>
                                </td>
							</tr>
						<% end -%>
                       <% if !@case.element_note(element).nil? %>
                            <tr style ="border:5px solid <%=element.form_background%>;">
                              <td  colspan=2 style = "background:#FFFFFF;vertical-align:top;padding-top:5px;padding-bottom:2px; ">
                                <%= simple_format @case.element_note(element).note %>
                              </td>
                            </tr>
                        <% end %>
					</tbody>
				</table>
			</div>
		<% end -%>
	<% else -%>
		<table style="width:1050px;margin-left:60px; margin-top:2px; border:0px solid #000000;">
			<tbody> 
				<tr>
					<td style = "vertical-align:middle; text-align:left; padding-top:15px; padding-left:5px; font-size:14px; ">
						<div class = "app_report_title_2">
							Case Was Not Found
						</div>
					</td>
				</tr>
			</tbody>
		</table>	
	<% end -%>		
</body>
</html>
