<div class="MasterItemHeaderDiv">Organization Types</div>

<table>
  <tr>
    <th>Name</th>
    <th>Template name</th>
    <th>Has size</th>
    <th>Has religious affiliation</th>
  </tr>

<% @organization_types.each do |organization_type| %>
  <tr>
    <td><%=h organization_type.name %></td>
    <td><%=h organization_type.template_name %></td>
    <td><%=h organization_type.has_size %></td>
    <td><%=h organization_type.has_religious_affiliation %></td>
    <td><%= link_to 'Show', organization_type %></td>
    <td><%= link_to 'Edit', edit_organization_type_path(organization_type) %></td>
    <td><%= link_to 'Destroy', organization_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New organization_type', new_organization_type_path %>