
<div class="MasterItemHeaderDiv">View Organization Type</div>
	<table>
		<tr><th style="width:150px;"></th><th></th></tr>
		<tr>
			<td>
			    <b>Name:</b>
			</td>
			<td>
				<%=h @organization_type.name %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Template name:</b>
			</td>
			<td>
				<%=h @organization_type.template_name %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Has size:</b>
			</td>
			<td>
				<%=h @organization_type.has_size %>
			</td>
		</tr>
		<tr>
			<td>
				<b>Has religious affiliation:</b>
			</td>
			<td>
				<%=h @organization_type.has_religious_affiliation %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= link_to 'Edit', edit_organization_type_path(@organization_type) %>
				&nbsp;&nbsp;
				<%= link_to 'Cancel', organization_types_path %>
  			</td>
		</tr>
	</table>


