<div style="padding-bottom:10px;">
	<%= link_to (image_tag(@current_organization.logo.url, organization_view_path(:organization_id => @current_organization)) if @current_organization.logo.file? -%>
</div>
<div class="affiliate_information_title" style="word-wrap:break-word;">
<span class="normal_text"><%= to_br(@current_organization.body) %></span>
</div>
<% if @current_organization.include_information %>
<div class="affiliate_information_title">
	<span class="normal_text"><%= @current_organization.name rescue nil %></span>	
</div>
<div class="affiliate_information_title">
	<span class="normal_text">
	<% if @current_organization.addresses.first.country == 'US' %>
		<%= @current_organization.addresses.first.city rescue nil -%>,	
	 	<%= @current_organization.addresses.first.state rescue nil -%>
	<% else %>
		<%= @current_organization.addresses.first.city rescue nil -%>, 
		<%= I18n.t @current_organization.addresses.first.country, :scope => 'countries' %>	
	<% end %>
	 </span>
</div>

<% unless @current_organization.web_site_url.nil? %>
<div class="affiliate_information_title">
	<span class="normal_text"><%= link_to @current_organization.web_site_url, @current_organization.web_site_url, :target => "_blank"  %></span>
</div>
<% end %>
<% end %>