<div id="ifa_optionsx" style="padding:0px; width:99%;  border:0px; margin: 0px 0px 0px 0px; text-align:left; min-height:5px;">
<br/>

	<table  class="tablesorter" style="width:900px; border:0px;">
		<tbody>
			<% if classroom.ifa_classroom_option -%>
				<% repeat_days = [] -%>
				<% repeat_prompt = classroom.ifa_classroom_option.days_til_repeat == nil ? "0" : classroom.ifa_classroom_option.days_til_repeat.to_s -%>
				<% days = 0 -%>
				<% while days <= 200 -%>
					<% repeat_days<<days -%>
					<% days +=5 -%>
				<% end -%>
				<tr style=" border:0px;">
					<td   id="ifa_on_off" style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						<%= (image_tag "button_enabled.png",:width => 15) -%>
					</td>			
					<% if classroom.ifa_classroom_option.is_ifa_notify -%>
						<td  id="ifa_notify" style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						</td>
					<%else -%>
						<td  id="ifa_notify" style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						</td>
					<% end-%>
					<% if classroom.ifa_classroom_option.is_ifa_auto_finalize -%>
						<td  id="ifa_auto_finalize"style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						</td>
					<%else -%>
						<td  id="ifa_auto_finalize" style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						</td>
					<% end-%>
					<td  id="days_repeat" style="width:180px;vertical-align:middle;  padding-top:10px; padding-left:55px; text-align:left; color: #000000; font-size:11px; font-weight:bold">
						<%=  select(:clsrm, :dtr, repeat_days,{:prompt => repeat_prompt}) %>
					</td>
					<td  style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
				</tr>
			<%else -%>			
				<tr style=" border:0px;">
					<td  id="ifa_on_off" style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						<%= (image_tag "button_disabled.png",:width => 15) -%>
					</td>				
					<td   style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
					<td   style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:11px; padding-left:70px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:bold;">
						&nbsp;
					</td>
				</tr>
			<%end -%>
			<% if classroom.ifa_classroom_option -%>
					<% ifa_enable_hover = "<center>Green Button Disables Integrated Formative Assessment Practices <br/>In <i>" + classroom.course_name + "</i>.</center>" %>
				<tr style=" border:0px;">
					<td   class="tip" title="<%= ifa_enable_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						IFA Enabled
					</td>				
					<% if classroom.ifa_classroom_option.is_ifa_notify -%>
						<% ifa_notify_hover = "<center>You Will Be Automatically Notified By Email When A Student Submits An Assessment.<br/>Green Button Disables This Feature.</center>" %>
						<td   class="tip" title="<%= ifa_notify_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
							Assessment<br/>Notifications
						</td>
					<%else -%>
						<% ifa_notify_hover = "<center>You Will Not Be Automatically Notified By Email When A Student Submits An Assessment.</center>" %>
						<td   class="tip" title="<%= ifa_notify_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
							Assessment<br/>Notifications
						</td>
					<% end-%>
					<% if classroom.ifa_classroom_option.is_ifa_auto_finalize -%>
						<% ifa_finalize_hover = "<center>Student Assessments Will Be Automatically Finalized Without Your Review.<br/>This Does Not Apply To Short Answer Assessments.</center>" %>
						<td    class="tip" title="<%= ifa_finalize_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
							Auto-Finalize<br/>Assessments
						</td>
					<%else -%>
						<% ifa_finalize_hover = "<center>All Student Assessments Currently Require Your Review Before Being Finalized.</center>" %>
						<td   class="tip" title="<%= ifa_finalize_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
							Auto-Finalize<br/>Assessments
						</td>
					<% end-%>
						<% ifa_retake_hover = "<center>Students Can Retake Assessments After This Number Of Days Has Expired.</center>" %>
						<td   class="tip" title="<%= ifa_retake_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
							Days Until<br/>Assessment Retake
						</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
				</tr>
			<%else -%>			
				<tr style=" border:0px;">
					<% ifa_enable_hover = "<center>Red Button Enables Integrated Formative Assessment Practices <br/>In <i>" + classroom.course_name + "</i>.</center>" %>
					<td   class="tip" title="<%= ifa_enable_hover %>" style="width:180px; border:0px; font-size:10px;  vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						IFA Disabled
					</td>				
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
					<td  style="width:180px; border:0px; font-size:10px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
						&nbsp;
					</td>
				</tr>
			<%end -%>				
		</tbody>					
	</table>

</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#ifa_on_off").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var classroom = "<%= classroom.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :toggle_classroom_ifa_enable %>";
		jQ.get(url,{'organization_id': organization,'classroom_id': classroom, 'user_id': user},  function(data) {
			jQ("#ifa_options").html(data); 
	   		jQ("#ifa_options").show();
					});
               
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#ifa_notify").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var classroom = "<%= classroom.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :toggle_classroom_ifa_notify %>";
		jQ.get(url,{'organization_id': organization,'classroom_id': classroom, 'user_id': user},  function(data) {
			jQ("#ifa_options").html(data); 
	   		jQ("#ifa_options").show();
					});
               
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#ifa_auto_finalize").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var classroom = "<%= classroom.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :toggle_classroom_ifa_auto_finalize %>";
		jQ.get(url,{'organization_id': organization,'classroom_id': classroom, 'user_id': user},  function(data) {
			jQ("#ifa_options").html(data); 
	   		jQ("#ifa_options").show();
					});
               
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#days_repeat").change(function(){
		var organization = "<%= @current_organization.public_id %>";
		var dtr = jQ('#clsrm_dtr').val();
		var classroom = "<%= classroom.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :set_classroom_ifa_days_repeat %>";
		jQ.get(url,{'organization_id': organization,'classroom_id': classroom, 'dtr': dtr, 'user_id': user},  function(data) {
			jQ("#ifa_options").html(data); 
	   		jQ("#ifa_options").show();
					});
	})
});
</script>

<script>
jQ(function(){
jQ('td.tip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'bottomMiddle',
         tooltip: 'topMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 180,
	  tip: { // Now an object instead of a string
         corner: 'topMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>