
	<div id="topic_resources">

	<% unless @topic.contents.empty? %>

	<table   style="width:900px; border:0px solid white;">
		<tbody id="topic_content">
			<tr style=" border:0px solid white;">
				<td  colspan=3 style="width:90px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					<u>Sequence</u>
				</td>		
				<td  style="width:60px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					<u>Featured</u>
				</td>
				<td  style="width:60px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					<u>Remove</u>
				</td>		
				<td  style="width:490px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<u>Description</u>
				</td>				
				<td  style="width:200px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<u>Contributor</u>
				</td>
			</tr>
				<% @topic.contents.each do |rsrc| -%>
				<% unless rsrc.nil? || !(rsrc.content_status.name == "Available" || rsrc.content_status.name =="Restricted")%>
				<tr id="<%= rsrc.public_id %>" class="content-list-item">
					<% unless rsrc.position_for_topic(@topic) <= 1 -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:02px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%= link_to (image_tag "button_arrow_up.png", :width=>15), {:controller =>  "/site/site", :action => "manage_topic_resource_sequence", :organization_id => @current_organization,  :topic_id => @topic, :resource_id => rsrc, :direction=>"up"}, :class => "resequence" %>
						</td>
					<% else -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:02px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							&nbsp;
						</td>					
					<% end -%>
					<% unless rsrc.position_for_topic(@topic) <= 1 -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:middle; text-align:center; color: #C83A14;font-weight:normal;">
							<%= link_to "top", {:controller =>  "/site/site", :action => "manage_topic_resource_sequence", :organization_id => @current_organization,  :topic_id => @topic, :resource_id => rsrc, :direction=>"top"}, :class => "resequence" %>
						</td>
					<% else -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:02px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							&nbsp;
						</td>					
					<% end -%>
					<% unless rsrc.position_for_topic(@topic) >= @topic.contents.size -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:02px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%= link_to (image_tag "button_arrow_down.png", :width=>15), {:controller =>  "/site/site", :action => "manage_topic_resource_sequence", :organization_id => @current_organization,  :topic_id => @topic, :resource_id => rsrc, :direction=>"down"}, :class => "resequence" %>
						</td>
					<% else -%>
						<td  style="width:30px; border:0px solid white; font-size:11px; padding-left:02px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
								&nbsp;
						</td>					
					<% end -%>
					<% if @topic.featured_content == rsrc.id %>
						<td  style="width:60px; border:0px solid white; font-size:11px; padding-left:30px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%=link_to (image_tag "button_enabled.png",:width => 15), {:controller =>  "/site/site", :action => "manage_topic_set_featured_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc}, :class => "feature"%>
						</td>			
					<%else -%>
						<td     style="width:60px; border:0px solid white; font-size:11px; padding-left:30px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%=link_to (image_tag "button_disabled.png",:width => 15), {:controller =>  "/site/site", :action => "manage_topic_set_featured_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc}, :class => "feature"%>
						</td>
					<% end-%>
						<td   style="width:60px; border:0px solid white; font-size:11px; padding-left:30px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%= link_to (image_tag "delete.png"), {:controller => "/site/site", :action => "manage_topic_add_remove_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc}, :class => "remove_button"%>
						</td>
						<td   style="width:490px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:middle; text-align:leftt;color: #000000;font-weight:normal;">
							<strong><%= link_to rsrc.title.titleize,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => rsrc}, {:target => "_blank"} %></strong>
							<% if rsrc.content_status.name =="Restricted"%>&nbsp;<i>(RESTRICTED)</i><% end %>						
							&nbsp; &nbsp;<%= rsrc.subject_area.name.humanize if rsrc.subject_area %> <%= rsrc.content_resource_type.name.humanize if rsrc.content_resource_type %>
							&nbsp; (<%= rsrc.content_object_type.content_object_type_group.name.downcase%>)
							<br/>Contributed <%= time_ago_in_words(rsrc.created_at.to_s, include_seconds = false)%> ago.
							<br/><%= rsrc.description%>						
						</td>
						<td   style="width:200px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:middle; text-align:leftt;color: #000000;font-weight:normal;">
							<% unless rsrc.user.nil?%><%= rsrc.user.full_name%>,&nbsp <br/><%end%>
							<% if rsrc.organization%> <%= rsrc.organization.name %>
								<% else %>  Former Organization
							<% end %>						
						</td>
					</tr>
				<% end %>
			<% end -%>
		</tbody>
	</table>

	<% else -%>	
	<span style ="color: #C83A14;   font-size:11px"><br/>
	<i>No Resources Currently Used By This Unit: <%= @topic.title %></i>
	</span>
	<% end -%>		

	
	<% res_types = @current_user.favorite_resources.collect{|rt| rt.content_resource_type}.compact.uniq rescue []%>
	<% unless @resource_tag %>
		<% @resource_tag = "Select Resource Type" %>
	<% end -%>
	<% unless res_types.empty? -%>
	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">
					<td  id = "pool_search"  style="width:100px; vertical-align:middle;  padding-left:0px; padding-top:10px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						<%=  select(:res, :resource_id, res_types.collect{|r| [r.name,r.id]},{:prompt => @resource_tag}) %>
					</td>	
					<td   style="width=800px; vertical-align:middle;  padding-left:15px; padding-top:10px; text-align:left; color: #C83A14; font-size:11px; font-weight:normal">
							Add From Your Tagged Resources
					</td>
			</tr>
		</tbody>					
	</table>			
	<% else -%>	
	<span style ="color: #C83A14;   font-size:11px"><br/>
		<i>You Have No Tagged Resources To Add</i>
	</span>
	<% end -%>		
	<% if @resource_pool %>
		<% unless @resource_pool.size.zero? -%>
		<table    style="width:800px; margin-left:75px; border:0px solid white;">
			<tbody id="topic_content">
			<tr style=" border:0px solid white;">
				<td  colspan=3 style="width:800px; border:0px solid white; font-size:12px; padding-left:100px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<%= pluralize(@resource_pool.size, @resource_tag.capitalize) %>
				</td>				
			</tr>

				<% @resource_pool.each do |rsrc| -%>
				<% unless rsrc.nil? || !(rsrc.content_status.name == "Available" || rsrc.content_status.name =="Restricted") %>
				<tr >
					<td   id="resource_add" style="width:40px; border:0px solid white; font-size:11px; padding-top:6px; padding-left:20px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
						<% if @topic.contents.include?(rsrc) %>
							<%= link_to (image_tag "delete.png"), {:controller => "/site/site", :action => "manage_topic_add_remove_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc, :type_id => rsrc.content_resource_type_id}, :class => "remove_button"%>
						<% else -%>
							<%= link_to (image_tag "add.png"), {:controller => "/site/site", :action => "manage_topic_add_remove_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc, :type_id => rsrc.content_resource_type_id}, :class => "remove_button"%>
						<% end -%>
					</td>
					<td   style="width:580px; border:0px solid white; font-size:11px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:leftt;color: #000000;font-weight:normal;">
						<strong><u><%= link_to rsrc.title.titleize,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => rsrc}, {:target => "_blank"} %></u></strong>
						<% if rsrc.content_status.name =="Restricted"%>&nbsp;<i>(RESTRICTED)</i><% end %>						
							&nbsp; &nbsp;<%= rsrc.subject_area.name.humanize if rsrc.subject_area %> <%= rsrc.content_resource_type.name.humanize if rsrc.content_resource_type %>&nbsp; (<%= rsrc.content_object_type.content_object_type_group.name.downcase%>)
						<br/>Contributed <%= time_ago_in_words(rsrc.created_at.to_s, include_seconds = false)%> ago.
						<br/><%= rsrc.description%>					
					</td>
					<td   style="width:220px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:0px; vertical-align:middle; text-align:leftt;color: #000000;font-weight:normal;">
						<% unless rsrc.user.nil?%><%= rsrc.user.full_name%>,&nbsp <br/><%end%>
						<% if rsrc.organization%> <%= rsrc.organization.name %>
							<% else %> <% Former Organization%>
						<% end %>						
					</td>
				</tr>
			<% end %>
		<% end -%>
		</tbody>
	</table>
		<% else -%>
		No Resources Found 
		<% end -%>
	<% end -%>
	
	
	<% tagged_topics = @current_user.favorite_classrooms.collect{|cl| cl.topics}.flatten.select{|t| t.contents.size>0}.sort_by{|t| [t.classroom.organization.name, t.classroom.course_name, t.title]} rescue [] %>
	<% prompt_label = "Select A Tagged Learning Unit" -%>
	<% if @tagged_topic  -%>
		<% prompt_label = @tagged_topic.classroom.course_name.upcase + ": " + @tagged_topic.title.titleize + " - " + @tagged_topic.classroom.leaders.collect{|l| l.last_name}.join("/") + ", " + @tagged_topic.classroom.organization.short_name -%>
	<% end -%>
	<% unless tagged_topics.empty? -%>
	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">
					<td  id = "topic_search"  style="width:100px; vertical-align:middle;  padding-left:0px; padding-top:10px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						<%=  select(:res, :tagged_topic_id, tagged_topics.collect{|tpc| [(tpc.classroom.course_name.upcase + ": " + tpc.title.titleize + " - " + tpc.classroom.teacher_list + ", " + tpc.classroom.organization.short_name),tpc.id]},{:prompt => prompt_label}) %>
					</td>	
					<td   style="width=800px; vertical-align:middle;  padding-left:15px; padding-top:10px; text-align:left; color: #C83A14; font-size:11px; font-weight:normal">
							Or, Add From Your Tagged Learning Units
					</td>
			</tr>
		</tbody>					
	</table>			
	<% else -%>	
	<span style ="color: #C83A14;   font-size:11px"><br/>
		<i>You Have No Tagged Learning Units To Add Resources From</i>
	</span>
	<% end -%>
	<% if @tagged_topic %>
		<% unless @tagged_topic.contents.empty? -%>
		<table    style="width:800px; margin-left:75px; border:0px solid white;">
			<tbody id="topic_content">
			<tr style=" border:0px solid white;">
				<td  colspan=3 style="width:800px; border:0px solid white; font-size:12px; padding-left:100px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<%= pluralize(@tagged_topic.contents.size,  " Resource") %>&nbsp;From&nbsp;<%=prompt_label %>
				</td>				
			</tr>

				<% @tagged_topic.contents.each do |rsrc| -%>
				<% unless rsrc.nil? || !(rsrc.content_status.name == "Available" || rsrc.content_status.name =="Restricted") %>
				<tr >
					<td   id="resource_add" style="width:40px; border:0px solid white; font-size:11px; padding-top:6px; padding-left:20px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
						<% if @topic.contents.include?(rsrc) %>
							<%= link_to (image_tag "delete.png"), {:controller => "/site/site", :action => "manage_topic_add_remove_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc, :fav_topic_id => @tagged_topic.id}, :class => "remove_button"%>
						<% else -%>
							<%= link_to (image_tag "add.png"), {:controller => "/site/site", :action => "manage_topic_add_remove_resource",:organization_id => @current_organization, :topic_id => @topic, :resource_id => rsrc, :fav_topic_id => @tagged_topic.id}, :class => "remove_button"%>
						<% end -%>
					</td>
					<td   style="width:580px; border:0px solid white; font-size:11px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:leftt;color: #000000;font-weight:normal;">
						<strong><u><%= link_to rsrc.title.titleize,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => rsrc}, {:target => "_blank"} %></u></strong>
						<% if rsrc.content_status.name =="Restricted"%>&nbsp;<i>(RESTRICTED)</i><% end %>						
							&nbsp; &nbsp;<%= rsrc.subject_area.name.humanize if rsrc.subject_area %> <%= rsrc.content_resource_type.name.humanize if rsrc.content_resource_type %>&nbsp; (<%= rsrc.content_object_type.content_object_type_group.name.downcase%>)
						<br/>Contributed <%= time_ago_in_words(rsrc.created_at.to_s, include_seconds = false)%> ago.
						<br/><%= rsrc.description%>					
					</td>
					<td   style="width:220px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:0px; vertical-align:middle; text-align:leftt;color: #000000;font-weight:normal;">
						<% unless rsrc.user.nil?%><%= rsrc.user.full_name%>,&nbsp <br/><%end%>
						<% if rsrc.organization%> <%= rsrc.organization.name %>
							<% else %> <% Former Organization%>
						<% end %>						
					</td>
				</tr>
			<% end %>
		<% end -%>
		</tbody>
	</table>
		<% else -%>
		No Resources Found 
		<% end -%>
	<% end -%>
	
	
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.feature').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#topic_resources").html(data);
				jQ("#topic_resources").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.resequence').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#topic_resources").html(data);
				jQ("#topic_resources").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.remove_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#topic_resources").html(data);
				jQ("#topic_resources").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#pool_search").change(function(){
		var type_id = jQ('#res_resource_id').val();
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :manage_topic_add_remove_resource, :organization_id => @current_organization,:topic_id => @topic  %>";
			jQ.get(url, {'type_id':type_id, 'user_id': user}, function(data) {
				jQ("#topic_resources").html(data);
				jQ("#topic_resources").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#topic_search").change(function(){
		var tagged_topic_id = jQ('#res_tagged_topic_id').val();
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :manage_topic_add_remove_resource, :organization_id => @current_organization,:topic_id => @topic  %>";
			jQ.get(url, {'fav_topic_id':tagged_topic_id, 'user_id': user}, function(data) {
				jQ("#topic_resources").html(data);
				jQ("#topic_resources").show();
			});
	})
});
</script>