
	<div id="classroom_referrals">

	<% if @classroom.classroom_referrals.size > 0 %>

	<table   style="width:620px; margin-left:75px; border:0px solid white;">
		<tbody id="topic_content">
			<tr style=" border:0px solid white;">
		
				<td  style="width:60px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					<u>Remove</u>
				</td>		
				<td  style="width:560px; border:0px solid white; font-size:12px; padding-left:0px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<u><%= @classroom.course_name %> Links To Other Learning Units</u>
				</td>				
			</tr>
				<% @classroom.classroom_referrals.each do |ref|-%>

				<tr >
					<td   style="width:60px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:30px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
							<%= link_to (image_tag "delete.png"), {:controller => "/site/site", :action => "manage_classroom_add_remove_referral",:organization_id => @current_organization, :classroom_id => @classroom, :referral_id => ref}, :class => "ref_button"%>
					</td>
					<td   style="width:560px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:0px; vertical-align:top; text-align:leftt;color: #000000;font-weight:normal;">
						<% unless ref.topic.nil? %>
							<% topic_link = ref.topic.classroom.course_name.upcase + ": " + ref.topic.title.titleize %>
							<strong><%= link_to topic_link, {:controller => "site/site", :action => "static_classroom", :organization_id => ref.topic.classroom.organization, :topic_id => ref.topic, :id => ref.topic.classroom}, {:target => "_blank"} %></strong>
							<br/>&nbsp; &nbsp;&nbsp; &nbsp;<%= ref.topic.classroom.organization.name.upcase %>,
							&nbsp; &nbsp; <%= ref.topic.classroom.leaders.collect{|l| l.last_name}.join("/") %>
						<% else -%> * * * Unkown Learning Unit * * *
						<% end %>						
					</td>
				</tr>
				<% end %>
		</tbody>
	</table>

	<% else -%>	
	<span style ="color: #C83A14;   font-size:11px"><br/>
	<i>No Referral Links Currently Used By This Classroom: <%= @classroom.course_name %></i>
	</span>
	<% end -%>
	
	<% prompt_label = "Select A Tagged Classroom" -%>
	<% if @tagged_classroom  -%>
		<% prompt_label = @tagged_classroom.course_name.upcase + " - " + @tagged_classroom.leaders.collect{|l| l.last_name}.join("/") + ", " + @tagged_classroom.organization.short_name -%>
	<% end -%>
	<% unless @current_user.favorite_classrooms.empty? -%>
	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">
					<td  id = "referral_search"  style="width:100px; vertical-align:middle;  padding-left:0px; padding-top:10px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						<%=  select(:ref, :tagged_classroom_id, @current_user.favorite_classrooms.select{|c| !c.topics.empty?}.collect{|cl| [(cl.course_name.upcase + " - " + cl.leaders.collect{|l| l.last_name}.join("/") + ", " + cl.organization.short_name),cl.id]},{:prompt => prompt_label}) %>
					</td>	
					<td   style="width=800px; vertical-align:middle;  padding-left:15px; padding-top:10px; text-align:left; color: #C83A14; font-size:11px; font-weight:normal">
							Add From Your Tagged Classrooms
					</td>
			</tr>
		</tbody>					
	</table>			
	<% else -%>	
	<span style ="color: #C83A14;   font-size:11px"><br/>
		<i>You Have No Tagged Classrooms To Link To</i>
	</span>
	<% end -%>
	<% if @tagged_classroom %>
		<% unless @tagged_classroom.topics.empty? -%>
		<table    style="width:620px; margin-left:75px; border:0px solid white;">
			<tbody id="topic_content">
			<tr style=" border:0px solid white;">
				<td  colspan=3 style="width:620px; border:0px solid white; font-size:12px; padding-left:100px; vertical-align:bottom; text-align:left;color: #000000;font-weight:normal;">
					<%= pluralize(@tagged_classroom.topics.size, " Available Link") %>&nbsp;To&nbsp;<%=prompt_label%>
				</td>				
			</tr>

				<% @tagged_classroom.topics.each do |ref| -%>
				<% unless ref.nil? %>
				<tr >
					<td   style="width:60px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:30px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:normal;">
						<% if @classroom.classroom_referrals.collect{|cr| cr.topic_id}.include?(ref.id) %>
							<%= link_to (image_tag "delete.png"), {:controller => "/site/site", :action => "manage_classroom_add_remove_referral",:organization_id => @current_organization, :classroom_id => @classroom, :tagged_classroom_id => @tagged_classroom.id, :ref_topic_id => ref}, :class => "ref_button"%>
						<% else -%>
							<%= link_to (image_tag "add.png"), {:controller => "/site/site", :action => "manage_classroom_add_remove_referral",:organization_id => @current_organization, :classroom_id => @classroom, :tagged_classroom_id => @tagged_classroom.id, :ref_topic_id => ref}, :class => "ref_button"%>
						<% end -%>
					</td>
					<td   style="width:560px; border:0px solid white; font-size:11px; padding-top:8px; padding-left:0px; vertical-align:top; text-align:leftt;color: #000000;font-weight:normal;">
						<% unless ref.nil? %>
							<% topic_link = ref.classroom.course_name.upcase + ": " + ref.title.titleize %>
							<strong><%= link_to topic_link, {:controller => "site/site", :action => "static_classroom", :organization_id => ref.classroom.organization, :topic_id => ref, :id => ref.classroom}, {:target => "_blank"} %></strong>
							<br/>&nbsp; &nbsp;&nbsp; &nbsp;<%= ref.classroom.organization.name.upcase %>,
							&nbsp; &nbsp; <%= ref.classroom.leaders.collect{|l| l.last_name}.join("/") %>
						<% else -%> * * * Unkown Learning Unit * * *
						<% end %>
				</tr>
			<% end %>
		<% end -%>
		</tbody>
	</table>
		<% else -%>
		No Classroom Learning Unit Links Found 
		<% end -%>
	<% end -%>

	
			
	</div>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.resequence').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#classroom_resources").html(data);
				jQ("#classroom_resources").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.ref_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#classroom_referrals").html(data);
				jQ("#classroom_referrals").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#referral_search").change(function(){
		var tagged_classroom_id = jQ('#ref_tagged_classroom_id').val();
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/site/site', :action => :manage_classroom_add_remove_referral, :organization_id => @current_organization,:classroom_id => @classroom  %>";
			jQ.get(url, {'tagged_classroom_id':tagged_classroom_id, 'user_id': user}, function(data) {
				jQ("#classroom_referrals").html(data);
				jQ("#classroom_referrals").show();
			});
	})
});
</script>