
<div class="section_selector" class="clear">
	<!-- ALK put Organizations & Cause Searches back in.
	Then change Label of Buttons from "Content" to "Resources" and "Causes" to "Classrooms" -->
	<% for section in ["People", "Resources","Organizations","Offerings"] do -%>
		<% if @search_type == section -%>
			<div class="active_section">
				<span><%= section %></span>
			</div>
		<% else -%>
			<div>
				<%= link_to_remote section, :update => "search_panel", :url => {:controller => :site, :action => :search_form, :organization_id => @current_organization, :search_type => section, :keywords => @keywords }, :method => :get %>
			</div>
		<% end -%>
	<% end -%>
</div>
	<div style= " margin-top:0px; margin-left:420px; width:300px; font-weight:normal; text-align:center; font-size:22px; color:#2061a5; ">
	<strong><u><%= @search_type %></u></strong>
	</div> 

<script type="text/javascript">
	jQ(document).ready(function() {
		jQ(".section_selector").segmentedControl();
		jQ("#keywords").autocomplete("<%= url_for :controller => '/site/site', :action => :keywords_autocomplete, :organization_id => @current_organization %>", 
			{extraParams : {
				search_type : '<%= @search_type %>',
				search_field : function() { var search_field_value;
					jQ("input[name='search_field']").each(function() {
						if (jQ(this).attr("checked")) search_field_value = jQ(this).val();
					});
					return search_field_value;
				}
			},
			formatResult: function(row) {
				var re = /\s+/;
				if (re.test(row))
					return '"' + row + '"';
				else
					return row;
			}
			});
	})
</script>
<div id="search_section_selector_option" style=" margin-left:350px; width:550 px; font-weight:normal; text-align:center;">
<br/>
	<% form_tag({:action => :search, :organization_id => @current_organization}, :method => :get) do -%>
		<% for search_field in @search_fields do -%>
			<span><%= radio_button_tag "search_field", search_field, @search_field == search_field %> <%= search_field %></span>
		<% end -%>
		<%= hidden_field_tag :search_type, @search_type %>
		<%= hidden_field_tag :prev_keywords, @keywords %>
		<!-- ALK: Reset search field to "nil" so previous search criteria doesn't remain. -->
		<%= text_field_tag "keywords", @keywords, :value => nil, :class => "text", :size => 25 %>

		<input type="submit" style="background:url(/images/searchbutton.png) top left no-repeat; width:80px; height:25px; border:0;" name="" value="" />
      <br style="clear:both" />
      <!-- Eliminate Search Results Filters for now
      <%#= render :partial => "search_filters" %>
      -->
	 <% end -%>
</div>


