
		<% unless @items_found.empty? -%>
		<table class="tablesorter" style= "border:1px solid #ddd;">
			<thead>
				<tr>
				<% if @items_found.first.is_a?(Content) -%>
					<th class="<%= params[:order_by] == 'title' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Resource Title", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "title" %>
					</th>
					<th class="<%= params[:order_by] == 'organization_provider' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Contributor", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "organization_provider" %>
					</th>
				<!-- ALK Change. Sort Description field by Resource_type -->
					<th class="<%= params[:order_by] == 'subject_area' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Subject Area & Type", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "content_resource_type.name" %>
					</th>
					<th class="<%= params[:order_by] == 'type' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Format", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "type" %>
					</th> 
				<% elsif @items_found.first.is_a?(User) -%>
					<th class="<%= params[:order_by] == 'people_name' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Name", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "people_name" %>
					</th>
					<!--  ALK Change
					<th class="<%= params[:order_by] == 'religious_affiliation_name' ? 'order' : '' %>">
						<%= link_to "Religious Affiliation", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "religious_affiliation_name" %>
					</th> -->
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;"> General Information </th>
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;">Connections</th>
					<!-- <th>&nbsp;</th> -->					
				<% elsif @items_found.first.is_a?(Classroom) -%>
					<th class="<%= params[:order_by] == 'topic_category' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Offering", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "course_name" %>
					</th>
					<th class="<%= params[:order_by] == 'topic_description' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Organization", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "organization_name" %>
					</th>
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;">Learning Units</th>
					<!-- <th>&nbsp;</th>	-->				
				<% elsif @items_found.first.is_a?(Organization) -%>
					<th class="<%= params[:order_by] == 'organization_name' ? 'order' : '' %>" style="vertical-align:middle; fontsize:14px; font-weight:bold; border:1px solid #ddd;">
						<%= link_to "Name", :controller => :site, :action => :search, :organization_id => @current_organization, :search_field => params[:search_field], :search_type => params[:search_type], :keywords => params[:keywords], :order_by => "organization_name" %>
					</th>
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;">Contact Person</th>
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;"> Classrooms </th>
					<th style="vertical-align:middle; fontsize:14px; font-weight:bold;">Type</th>
											
				<% end -%>
				</tr>
			</thead>
			<tbody>
					
		<% for item_found in @items_found do -%>
			<% unless item_found.nil? -%>
				<% if @items_found.first.is_a?(Content) -%>
					<tr>				
				
					<td width=250 style="vertical-align:middle;font-size:11px; border:1px solid #ddd;" class="<%= params[:order_by] == 'title' ? 'order' : '' %>">
						<center><%= link_to item_found.title,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => item_found}%>
					<br/>Contributed <%= time_ago_in_words(item_found.created_at.to_s, include_seconds = false) %> ago</center>
					</td>	
					<!-- ALK Include User Name of Submitter with Org Name -->
					<td width=200 style="vertical-align:middle;font-size:11px; border:1px solid #ddd;" class="<%= params[:order_by] == 'organization_provider' ? 'order' : '' %>"> 
					<small><center><% unless item_found.user.nil?%>
					<%= link_to item_found.user.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => item_found.user}, :html => {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"} %>	
					<% end %> 
					<% unless item_found.organization.nil?%>
						<br/><%= link_to item_found.organization.name, {:controller => "/site/site", :action => :static_organization, :organization_id => item_found.organization}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} %>
 					<% end %></center></small></td>
					<!-- ALK Include Resource Type in Description Field   -->
					<td style="vertical-align:middle;font-size:11px; border:1px solid #ddd;" class="<%= params[:order_by] == 'description' ? 'order' : '' %>">
						<div style="color:#C73914;">
						<center><% unless item_found.subject_area.nil?%><%=item_found.subject_area.name.humanize%><% end %> 
						<% unless item_found.content_resource_type.nil?%><%=item_found.content_resource_type.name.humanize%> <% end %><br />
						</center></div> 
						<% unless item_found.topics.size == 0 %> <center>Used By <%= pluralize(item_found.topics.size, 'Teacher')%><% end %></center>
					</td>
					<td width=160 style="vertical-align:middle;font-size:11px; border:1px solid #ddd;" class="<%= params[:order_by] == 'type' ? 'order' : '' %>">
					<div class="icon">
						<% unless item_found.content_object_type.nil? -%>
							<center><% if [2,1].include?(item_found.content_object_type.content_object_type_group_id) && item_found.source_file_preview_file_name.present? %>
						  		<img src="<%= item_found.source_file_preview.url(:thumb) %>">
								 <% end -%>
						  	<strong><%= item_found.content_object_type.content_object_type_group.name.downcase %></strong>
							</center>
						<% end -%>
					</div>
					</td>
					</tr>

				<% elsif @items_found.first.is_a?(User) -%>
				<tr>			
				<td width=140 style="vertical-align:middle; padding-top:10px; border:1px solid #ddd;" class="<%= params[:order_by] == 'people_name' ? 'order' : '' %>">
					<center>
					<% unless item_found.picture.url.split("/").last == "missing.png" %>
                    	<%= link_to (image_tag item_found.picture.url :small_thumb), {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => item_found}, :html => {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"}%> 
					<% end %>
					<%= link_to item_found.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => item_found}, :html => {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"} %>	
					<% unless item_found.home_organization.nil? %><br/>
						<span style= "font-size:10px; font-weight:bold;">
						<%= item_found.home_organization.name %>
						</span>
					<% end -%>
					</center>
				</td>

				<td width=380 style="width:fixed; font-size:11px; word-wrap; border:1px solid #ddd;">
					<% unless item_found.philosophy.nil?%>
						<span style="color:#C83A14; font-size:12px; font-weight:normal; padding-left:20px; padding-right:20px;">
						<i><center> <%=item_found.philosophy %></center></i></span>
						<% end %>
					<% unless item_found.all_roles.empty? %>
						<% role_string = item_found.all_roles.join(", ")%>
							<br/><%= role_string.titleize%> 
					<% end %>
						<% unless item_found.credentials.nil? %><br/><%= item_found.credentials.humanize %><% end %>
						<% unless item_found.talents.nil? || item_found.talents.size==0 %><br/> Interested in <%=item_found.all_talents %><% end %>
				</td>

				<td width=380 style="vertical-align:middle;margin-left:10px; border:1px solid #ddd;"> 

					<span style= "font-size:11px; font-weight:normal ">
					<%= "Connected To " + pluralize(item_found.favorite_organizations.size, 'Organization') -%>					
					<% if item_found.followers.size + item_found.colleagues.size > 0 %>
						<br/> <%= "Has " + pluralize(item_found.followers.size + item_found.colleagues.size, 'Colleague Connection') -%>
						<% end -%>
					<% if item_found.favorite_resources.size  > 0 %>
						<br/> <%= "Tagged " + pluralize(item_found.favorite_resources.size, 'Resource') -%>
						<% end -%>						

					<% unless item_found.lead_classrooms.empty? %>
						<br/>
						<strong>Teaches:</strong> <% item_found.lead_classrooms.each do |c| %>
							&nbsp;
							<% link_string = c.course_name + ", " + c.organization.short_name -%>
							<%= link_to link_string,{:controller => "site/site", :action => "static_classroom", :organization_id => c.organization, :id => c}%>
						<% end %>	
					<% end %>	
					<% unless item_found.participate_classrooms.size ==0 %>
						<% label_needed = true %>
						<% item_found.participate_classrooms.each do |c| %>
							<% unless item_found.lead_classrooms.include?(c) %>
								<%if label_needed %><br/><strong>Student:</strong> <% label_needed = false%> <% end %>
								&nbsp;
							<% link_string = c.course_name + ", " + c.organization.short_name -%>									 
								<%= link_to link_string,{:controller => "site/site", :action => "static_classroom", :organization_id => c.organization, :id => c}%>
							<% end %>
						<% end %>	
					<% end %>						
					<% unless item_found.favorite_classrooms.size ==0 %>
						<% label_needed = true %>
						<% item_found.favorite_classrooms.each do |c| %>
							<% unless c.nil?%>
								<% unless item_found.lead_classrooms.include?(c) || item_found.participate_classrooms.include?(c) %>
									<%if label_needed %><br/><strong>Observes:</strong> <% label_needed = false%> <% end %>
									&nbsp;
									<% link_string = c.course_name + ", " + c.organization.short_name -%>
									<%= link_to link_string,{:controller => "site/site", :action => "static_classroom", :organization_id => c.organization, :id => c}%>
								<% end %>
							<% end %>
						<% end %>
					<% end %>			
				</span>
				</td>
				</tr>				

				<!-- ALK Take out View Button Column and replace with Link on Name 
				<td>
				  <%= link_to "View", {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => item_found}, {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"} %>					
				</td> 
				-->   
				<% elsif @items_found.first.is_a?(Classroom) -%>
				<tr>				
				<td width=190 style=" vertical-align:middle;text-align:center; word-wrap; border:1px solid #ddd;" class="<%= params[:order_by] == 'course_name' ? 'order' : '' %>">
					<span style="font-weight:bold; font-size:12px">
					<% room_org = Organization.find_by_id(item_found.organization_id) %>
					<%= link_to h(item_found.course_name), :controller => :site, :action => :static_classroom, :id => item_found, :organization_id => room_org  %>
					<br/></span> 
					<%= item_found.subject_area.name %>
					<% unless item_found.observers.size == 0 %><br/><span style = "font-size:10px"> Observed By <%= pluralize(item_found.observers.size, 'Person')%></span><% end %>
				</td>
				<td width=190 style=" vertical-align:middle;padding-top:10px; padding-left:0px; word-wrap; border:1px solid #ddd;" class="<%= params[:order_by] == 'organization_name' ? 'order' : '' %>">
					<% if item_found.organization %>
					<center>
					<%= link_to (image_tag item_found.organization.logo.url :small_thumb), {:controller => "/site/site", :action => :static_organization, :organization_id => item_found.organization}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} if item_found.organization.logo.file? -%>
					<%= link_to item_found.organization.name, {:controller => "/site/site", :action => :static_organization, :organization_id => item_found.organization}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} %><br/>
					<% address = item_found.organization.default_address ? item_found.organization.default_address : item_found.organization.addresses.first -%>
					<%=  address.city if address.city %>
					<%= ',' if address.city and address.state %>
					<%= address.state if address.state %>
					<% else%><i> * * Former Organization * *</i>
					</center><% end %>
				</td>
				<td style="font-size:11px; word-wrap; border:1px solid #ddd;"> 
					<% if item_found.leaders.size == 0%> <small><i> * * No Teachers * *</i></small><% end %>
					<% if item_found.leaders.size == 1%> <strong>Teacher:</strong> &nbsp<% end %>
					<% if item_found.leaders.size > 1 %><strong>Teachers:</strong> &nbsp; <% end %>
					<% item_found.leaders.each_with_index do |ldr,i|%>
						<% unless ldr.nil? %>
							<%= link_to ldr.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => ldr}%>
						<% unless i+1 == item_found.leaders.size%>, &nbsp;
						<%end%>
						<% end %>
					<% end %><br/>

					<% if item_found.topics.size == 0%> <small><i> * * No Learning Units * *</i></small><br/><br/><% end %>
					<% if item_found.topics.size == 1%> <strong>Unit:</strong> &nbsp<% end %>
					<% if item_found.topics.size > 1 %><strong>Units:</strong> &nbsp; <% end %>
					<% item_found.topics.each_with_index do |t,i| %>
						<% unless t.nil? %>
        					<%= link_to t.title, :controller => "/site/site", :action => :static_classroom, :organization_id => item_found.organization, :topic_id => t, :id => t.classroom %>
						<% unless i+1 == item_found.topics.size%>, &nbsp;
						<%end%>
						<% end %>
					<% end %>		
				</td>
				</tr>	
											
				<% elsif @items_found.first.is_a?(Organization) -%>
				<% address = item_found.default_address ? item_found.default_address : item_found.addresses.first -%>
				<tr>				
				<td width=220 style=" vertical-align:middle;word-wrap; border:1px solid #ddd;" class="<%= params[:order_by] == 'organization_name' ? 'order' : '' %>">
					<center>
					<%= link_to (image_tag item_found.logo.url :thumb), {:controller => "/site/site", :action => :static_organization, :organization_id => item_found}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} if item_found.logo.file? -%><br/>
						
						<span style="font-weight:bold; font-size:12px"> <%= link_to item_found.name, {:controller => "/site/site", :action => :static_organization, :organization_id => item_found}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} %>
					<br /></span>
					<%=  address.city if address.city %>
					<%= ',' if address.city and address.state %>
					<%= address.state if address.state %>
					</center>
				</td>
				
				<!-- ALK change Org. search results -->
				<td width=220 style=" vertical-align:middle;word-wrap; border:1px solid #ddd;"> <center>	
								
					<% contact_user = User.org_contact(item_found.contact_email)%>
					<% if contact_user && item_found.contact_name %> 
	  					<% unless contact_user.picture.url.split("/").last == "missing.png" %>
            			<%= link_to (image_tag contact_user.picture.url :small_thumb), {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => contact_user}, :html => {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"}%> <% end %>
						<center><%= link_to item_found.contact_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => contact_user}, :html => {:style => "text-decoration:none;padding:1px 5px;margin-top:5px;margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"} %>	</center>
      				<% else %>
					<strong><%= item_found.contact_name if item_found.contact_name %></strong><br />					
					<% end %>
					
					<%= item_found.contact_role if item_found.contact_role %><br />
					<%= item_found.contact_phone if item_found.contact_phone %><br />
					<%= item_found.contact_email if item_found.contact_email %><br />
					</center>
				</td>
				  
				<td style="font-size:11px; border:1px solid #ddd;"> 

      				<% if item_found.classrooms.active.size == 0%>   No Classrooms  
						<% else %>
							<% item_found.classrooms.active.each_with_index do |c,i| %>
								<% room_org = Organization.find_by_id(c.organization_id) %>
        						<%= link_to h(c.course_name), :controller => :site, :action => :static_classroom, :id => c,:organization_id => room_org %>
								<% unless i+1 == item_found.classrooms.active.size%>, &nbsp; 
								<% end %>
						<% end %>
					<% end %>		
				</td>
				
				<td width=80 style=" vertical-align:middle; font-size:9px; font-weight:bold;; border:1px solid #ddd;"><center><%= item_found.organization_type.name if item_found.organization_type %></center></td>
<!-- ALK Take out View Button.  Replace with Link on Org Name 
				<td>
					<%= link_to item_found.name, {:controller => "/site/site", :action => :static_organization, :organization_id => item_found}, {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} %>
				</td>
				-->
				</tr>
				
				<% end -%>

		 <% end -%>
		<% end -%>
				</tbody>
		</table>
		<div class="digg_pagination">
			<%= will_paginate @items_found %>
		</div>
	<% else -%>
	<div style="color:#C73914;font-size:11px">
		<br/>
		<strong><i> * * No content found matching the criteria. </i></strong>
	</div>	
	<% end -%>