
		<table  style="width:360px; margin-left:10px; word-wrap:break-word;color: #2061a5;">
			<tbody>  
				<tr>
					<td style="text-align:left; ">
						<%= pluralize( @current_organization.friends_of_org.size, " User Connection") %>
					</td>
				</tr>
				<tr>
					<td style="text-align:left; ">
						<u><%= (@current_organization.administrators.size> 1 ? " Admins:":"Admin:") %></u>&nbsp;<%= @current_organization.administrator_list %>
					</td>
				</tr>
			</tbody>
		</table>			


	<% @current_organization.enabled_apps.sort_by{|a| a.abbrev}.each do |app| %>
		<% unless app.core? || app.beta? -%>
			<table id="<%=app.public_id %>" style="margin-left:10px">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
						<%= link_to '', :controller => "site/site", :action => :summarize_org_app, :organization_id => @current_organization, :app_id => app %>
								<%= app.abbrev%>:&nbsp;&nbsp;<%= app.name %>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>			

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=app.public_id%> .resource_levels_close').toggleResourceLevels();
	jQ('#<%=app.public_id%> .resource_levels_open').toggleResourceLevels();	
});
</script>
		<% end -%>
	<% end -%>