
	<% (display=="lu" ? @current_organization.active_featured_topic_folders : @current_organization.populated_offering_folders_app(CoopApp.offering)).each do |folder| %>
		<table id="<%=folder.public_id %>_<%=display%>" style="margin-left:10px">
			<tbody>  
				<tr>
					<td class="resource_levels_close">
					<%= link_to '', :controller => "site/site", :action => :summarize_org_subject_offerings, :organization_id => @current_organization, :display=>display, :folder_id=>folder %>
							<%= folder.name %>
					<span></span>
					</td>
				</tr>
			</tbody>
		</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=folder.public_id%>_<%=display%> .resource_levels_close').toggleResourceLevels();
	jQ('#<%=folder.public_id%>_<%=display%> .resource_levels_open').toggleResourceLevels();	
});
</script>
	<% end-%>
  <% subjects = display=="lu" ? @current_organization.unfoldered_active_offerings.select{|c| c.featured_topic}.collect{|c| c.parent_subject}.compact.uniq : @current_organization.unfoldered_active_offerings.collect{|c| c.parent_subject}.compact.uniq -%>
      <% subjects.sort_by{|s| s.name}.each do |sub| %>
			<table id="s_<%=sub.public_id %>_<%=display%>" style="margin-left:10px">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
						<%= link_to '', :controller => "site/site", :action => :summarize_org_subject_offerings, :organization_id => @current_organization, :display=>display, :subject_area_id => sub %>
								<%= sub.name %>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>			

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#s_<%=sub.public_id%>_<%=display%> .resource_levels_close').toggleResourceLevels();
	jQ('#s_<%=sub.public_id%>_<%=display%> .resource_levels_open').toggleResourceLevels();	
});
</script>
	<% end -%>