
<div class="module_header" style="margin:0px 10px">	
	<div class="iwing_module_title" style="text-align:left;">
		<div id="header_our_causes" style="line-height:16px; font-size:14px; width:98%; float:left; cursor:pointer;">
			<div id="shared_discussion_warp" style="float:right;padding-right:0px">
				<%= render :partial => "site/discussions/share_discussion_btn" %>
			</div>
			<div id="view_our_blog_tab" style="width:130px">
				<%= link_to "View Our Blogs", :controller => "/site/blogs", :action => :index, :organization_id => @current_organization %>
			</div>
			<div id="tool_tip_causes" style="display:none;" class="tooltip">
			   <%= @current_organization.blogs.features.first.title rescue "In weakness is our strength" %>
		    </div>
		</div>
	</div>	
</div>
<div class="module_header" style="margin: 15px 10px 0px 10px; text-align:left; padding-top:5px;">
  <% if @current_topic -%>
	<%= @current_topic.title %>
  <% else -%> 
    No Topic At This Time
  <% end -%>

</div>
<div id="share_discussion_form" style="display: none;clear:both;">
    <%= render :partial => "/shared/share_login" %>
</div>
<div style="padding:5px; background-color:#F9F9F9; width:auto; margin: 0px 10px 5px 10px; text-align:left; min-height:75px;">
    <% if @current_topic -%>
      <%= @current_topic.description %>
    <% else -%>
      No topic has been defined for this classroom
		<% end -%>
		<div id="shared_discussion_warp_box">
			<%= render :partial => "/shared/shared_discussion", :locals => {:discussion => @current_topic} %>		
		</div>		
</div>
<div class="module_body" >
    <div id="control_panel" style="width:563px; float:left;">
      <!-- just for some javascript hack, jQ("#control_panel_ul").attr("class") -->
        <%= hidden_field_tag "control_panel_ul", @current_topic.public_id %>
        <ul>
            <li>
                <%= link_to "<span>Primary Resource</span>", :action => :featured_content, :organization_id => @current_organization, :topic_id => @current_topic %>
            </li>
            <% unless @related_content.nil? || @related_content.empty? %>
            <li>
                <%= link_to "<span>Additional Material</span>", :action => :related_content, :organization_id => @current_organization, :topic_id => @current_topic %>
            </li>
            <% end -%>
        </ul>
        <br/>
    </div>

    <script type="text/javascript" charset="utf-8">
        jQuery(document).ready(function(){
            jQ('#control_panel').tabs();
            // selects 
            jQ("#view_our_blog_tab").tooltip({
      				position: ['bottom','center'],
      				offset:[0,170]
      			});
        });
    </script>
    <div id="discussions_panel" style="float:left; width:570px;">
        <%= render :partial => "/site/discussions/discussions" %>
		&nbsp;
    </div>
</div>
