
<div style = "font-size:12px; color: #000000;padding-left:10px;">
    <style type="text/css">

    </style>
	<br/>
	<span style ="color: #C83A14; font-size:20px">
	<center><strong>Manage <%= @classroom.course_name %></strong></center>
	</span>
	<span style ="color: #000000; font-size:11px">
	<center>(Close Window To Exit)</center>
	</span>

	<% if @current_organization.app_enabled?(CoopApp.classroom) -%>
	    <%= render :partial => "manage_classroom_options", :locals=>{:classroom => @classroom, :topic => @topic} %>
	
	
		<div id="assign_resources_panel">
		<table  class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<th><strong>LEARNING UNITS</strong></th>											
				</tr>
			</thead>
		</table>
		<table id="add_unit_levels" class="tablesorter" style="width:99%; color: #2061a5;">
			<tbody>
				<% col_label = "Create " + @classroom.course_name + " Learning Units" -%>
				<tr>
				<td class="resource_levels_close" style=" color: #2061a5;">
	
					<%= link_to '', :controller => "/site/site", :action => :create_new_topic, :organization_id => @current_organization, :classroom_id => @classroom %>
					<%= col_label %>
					<span></span>
				</td>
				</tr>
			</tbody>
		</table>
		<table id="remove_unit_levels" class="tablesorter" style="width:99%; color: #2061a5;">
			<tbody>
				<% col_label = "Permanently Remove Learning Units " -%>
				<tr>
				<td class="resource_levels_close" style=" color: #2061a5;">
	
					<%= link_to '', :controller => "/site/site", :action => :list_classroom_topics, :organization_id => @current_organization, :classroom_id => @classroom %>
					<%= col_label %>
					<span></span>
				</td>
				</tr>
			</tbody>
		</table>
		<br/>
			<%= render :partial => "apps/classroom/manage_classroom_students", :locals=>{:classroom => @classroom} %>
		
		<br/>
			<%= render :partial => "apps/classroom/manage_classroom_surveys", :locals=>{:classroom => @classroom} %>
		
	        <% if @current_organization.app_enabled?(CoopApp.ifa)-%>
				<%= render :partial => "manage_classroom_ifa", :locals=>{:classroom => @classroom} %>
			<% end -%>
	
	
		<table class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<th><strong>GENERAL COURSE MATERIAL</strong></th>											
				</tr>
			</thead>
		</table>
		<table id="general_levels" class="tablesorter" style="width:99%;color: #2061a5;">
			<tbody>
				<% col_label = "Manage General " + @classroom.course_name + " Course Material" -%>
				<tr>
				<td class="resource_levels_close" style=" color: #2061a5;">
	
					<%= link_to '', :controller => "site/site", :action => :assign_classroom_resource, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :id => @current_user %>
					<%= col_label %>
					<span></span>
				</td>
				</tr>
			</tbody>
		</table>
		<br/>		
	
		<table class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<th><strong>LINKS TO OTHER LEARNING UNITS</strong></th>											
				</tr>
			</thead>
		</table>
		<table id="link_levels" class="tablesorter" style="width:99%; color: #2061a5;">
			<tbody>
				<% classroom_label = "Manage " + @classroom.course_name + " Links" -%>
				<tr>
					<td class="resource_levels_close" style=" color: #2061a5;">
					<%= link_to '', :controller => "site/site", :action => :list_classroom_referrals, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic  %>
					<%= classroom_label %>
					<span></span>
					</td>
				</tr>
			
			</tbody>
		</table>
		<br/>
	
		</div>
<% else -%>

<br/><br/>
		<table  class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<th><strong>Classroom Applications Are Not Enabled For <%= @current_organization.name %></strong></th>											
				</tr>
			</thead>
		</table>
		<br/><br/><br/><br/>
<% end -%>


</div>


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#resource_levels .resource_levels_close').toggleResourceLevels();
	jQ('#resource_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#people_levels .resource_levels_close').toggleResourceLevels();
	jQ('#people_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#link_levels .resource_levels_close').toggleResourceLevels();
	jQ('#link_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#general_levels .resource_levels_close').toggleResourceLevels();
	jQ('#general_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#add_unit_levels .resource_levels_close').toggleResourceLevels();
	jQ('#add_unit_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#remove_unit_levels .resource_levels_close').toggleResourceLevels();
	jQ('#remove_unit_levels .resource_levels_open').toggleResourceLevels();	
});
</script>