
<div>
	<div style='text-align:center;'>
    <br/>
    <span style ="color: #C83A14; font-size:20px">
    <%= @classroom.course_name.upcase %> HOMEWORK<br/>
    <%= @current_user.full_name.upcase %> <br/>
    </span>
    <span style ="color: #C83A14; font-size:14px">
    <% unless @teacher_list.size > 1 -%>
      <% @teacher_list.each do |t| -%>
      Teacher: <%= t.full_name %>
      <% end -%>
    <% end -%>
    </span>
    <span style =" color: #C83A14; font-size:12px">
    <%= Time.now.strftime("%B %d, %Y") %><br/>
    </span>
  </div>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	Back To: <%= link_to @classroom.course_name, offering_view_path(:organization_id => @current_organization, :topic_id => @topic, :id => @classroom) %>
</div>

<% if @topic.nil?%> 
<br/> <i> * * *  There Are No Topics Created For <%= @classroom.course_name.upcase %>.  Homework Submissions Are Not Yet Possible  * * *</i>
<br/><br/><br/>

<% else -%>
    <%= render :partial => "/shared/error_and_notice" %>


<div class="Form clear" >
  <%= form_for(:homework, :url => offering_homework_path(:organization_id => @current_organization, :topic_id => @topic, :classroom_id => @classroom), :html => { :multipart => true, :method => :put}) do |form| %>

<div class="formBox">

	    <div class="FormRow">
				<div class="FormRowTitle">Teacher:</div>
				<div class="FormRowData">
				  <%= select(:homework, :teacher_id, @teacher_list.collect{|d| [d.last_name, d.id]}) %>
				</div>
	    </div>

	
	<div class="FormRow">
    <div class="FormRowTitle">
      Title:
    </div>
    <div class="FormRowData">
         <%= text_area :homework, :title,  :class=>"text", :rows => 1, :cols => 50, :maxlength => 150 %>
        </div>
    </div>
	
	<div class="FormRow">
      <div class="FormRowTitle">
            Comment:
        </div>
        <div class="FormRowData">
		   <%= text_area :homework, :comments, :class=>"text", :rows => 7, :cols => 75, :maxlength => 4000 %>
	   </div>
    </div>
	
	<div class="FormRow" >
    <div class="FormRowTitle">
      Homework:
    </div>
		<div class="FormRowData">
      <%= file_field_tag 'homework[homework]' %>
		</div>
	</div>


	<% unless @submitted %>
		<div class="FormRow submit_warp">
			<%= submit_tag "Submit Homework", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>
	<% end -%>
<% end -%>
  </div>
</div>
      <br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	Back To: <%= link_to @classroom.course_name, offering_view_path(:organization_id => @current_organization, :topic_id => @topic, :id => @classroom) %>
</div>
<% end -%>

</div>