<div id="guardian_metrics">
  <% if @metrics_org_list.size > 1 %>
  <div class="row metrics_pool_select">
    <div class="col-md-7 "></div>
    <div class="col-md-4">
      <div id="org_select">
        <%=  select( :school, :id, @metrics_org_list.collect{|s| [(s.short_name), s.id]}, {:prompt => "Select Organization"}) %>
      </div>
    </div>
    <div class="col-md-1 "></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#org_select").change(function(){
        var entity_id = jQ('#school_id').val();
        var url = "<%= precision_metrics_guardian_filter_url(:organization_id => @current_organization) %>";
        jQ.get(url, {'entity_id': entity_id}, function(data) {
          jQ("#guardian_metrics").html(data);
          jQ("#guardian_metrics").show();
        });
      })
    });
  </script>
  <% end %>
  <div class="row metrics_list">
    <div class= "col-md-12 ">
      <div class="metrics_panel metric_panel_label">
        <%= pluralize(@students.size, @metric_organization.short_name + ' Student') %> With Guardian&nbsp;|&nbsp;
        <%= pluralize(@notify_count, ' Notification')%>,&nbsp;
        <%= pluralize(@inquiry_count, ' Inquiry')%>
      </div>
    </div>
  </div>
  <div class="row metrics_list_row">
    <div class = 'col-md-12 quiet'>
      <%= pluralize(@no_guardians, ' Student')%> With No Guardian Contact Information
    </div>
  </div>
  <hr>
  <% @students.each do |student| %>
    <div class="row metrics_list_row">
      <div class= "col-md-3">
        <% metric_class = student.guardian_inquiry_count == 0 ? 'quiet' : 'alarm'%>
        <div class="<%=metric_class%>">
          <%= student.name %>
          <div class="count">
            <%= student.guardian_notify_count %>&nbsp;|&nbsp;<%= student.guardian_inquiry_count %>
          </div>
        </div>
      </div>
      <div class= "col-md-9 ">
          <% student.guardians.each do |guard| %>
            <% metric_class = guard.inquiry_count == 0 ? 'quiet' : 'alarm'%>
            <div class="<%=metric_class%> metrics_list_names">
              <%= guard.full_name %>,&nbsp;
              <%=guard.email_address %>,&nbsp;
              <%=guard.phone.empty? ? 'No Phone' : guard.phone %>
              <div class="count">
                <%= pluralize(guard.notify_count, ' Notification')%>,&nbsp;
                <%= pluralize(guard.inquiry_count, ' Inquiry')%>
              </div>
            </div>
          <% end %>
      </div>
    </div>
    <hr>
  <% end %>
</div>