<div id="strategy_metrics_<%=subject.id%>">
  <div class="metrics_box">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6 metrics_title">
          <%= @strategy_metrics[subject.id.to_s + 'view_offering'].nil? ? subject.name : @strategy_metrics[subject.id.to_s + 'view_offering'].name %> Strategy Data
        </div>
        <div class="col-md-5">
          <div id="show_<%= subject.id %>">
            <%=  select( :classroom, subject.id, @strategy_metrics[subject.id.to_s + 'offerings'].collect{|c| [(c.name), c.id]}, {:prompt => "Select Offering"}) %>
          </div>
        </div>
      </div>
        <script type="text/javascript">
          jQ(document).ready(function() {
            jQ("#show_<%= subject.id %>").change(function(){
              var classroom_id = jQ('#classroom_<%= subject.id %>').val();
              var url = "<%= precision_metrics_strategies_url(:organization_id => @current_organization, :subject_id=>subject.id) %>";
              jQ.get(url, {'classroom_id': classroom_id}, function(data) {
                  jQ("#strategy_metrics_<%=subject.id%>").html(data);
                  jQ("#strategy_metrics_<%=subject.id%>").show();
              });
            })
          });
        </script>
    <% if !@strategy_metrics[subject.id.to_s + 'view_offering'].nil? %>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-6 metrics_subtitle">
            <%= pluralize(@strategy_metrics['submission_count'], ' Assessment') %> Taken
          </div>
          <div class="col-md-5">

          </div>
        </div>
      <% @strategy_metrics['assessments'].each do |ass| %>
        <% if @strategy_metrics[ass.id.to_s + 'submissions'] > 0%>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
              <table class="assessment_metrics_table">
                <tbody >
                  <colgroup>
                    <col style="width:30%">
                    <col style="width:10%">
                    <col style="width:10%">
                    <col style="width:50%">
                  </colgroup>
                  <tr >
                    <td class="metrics_ass_name">
                      <%= ass.name %>
                    </td>
                    <td class="metrics_ass_data">
                      <%= @strategy_metrics[ass.id.to_s + 'submissions'] %> Taken
                    </td>
                    <td class="metrics_ass_data">
                      <%= @strategy_metrics[ass.id.to_s + 'pct'] %>%
                    </td>
                    <td class="metrics_ass_data">
                      <%= pluralize(@strategy_metrics[ass.id.to_s + 'q_pace'], 'Sec')%> vs <%= pluralize(@strategy_metrics[ass.id.to_s + 'target_pace'], 'Sec')%> (Target Pace)
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <table class="strategy_metrics_table">
                        <tbody >
                          <colgroup>
                            <col style="width:35%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:45%">
                          </colgroup>
                          <tr>
                            <td></td>
                            <td>
                              Used
                            </td>
                            <td>
                              Correct
                            </td>
                            <td>
                              Preferred Match
                            </td>
                          </tr>
                          <% subject.act_strategies.active.each do |strat| %>
                            <tr >
                              <td class="metrics_strat_name">
                                <%= @strategy_metrics[ass.id.to_s + strat.id.to_s + 'strat_name'] %>
                              </td>
                              <td class="metrics_strat_data">
                                <%= @strategy_metrics[ass.id.to_s + strat.id.to_s + 'used'] %>
                              </td>
                              <td class="metrics_strat_data">
                                <%= @strategy_metrics[ass.id.to_s + strat.id.to_s + 'pct'] %>%
                              </td>
                              <td class="metrics_strat_data">
                                <%= @strategy_metrics[ass.id.to_s + strat.id.to_s + 'preferred'] %>
                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>