<div class="thank_you_box">
  <% if @notify_success %>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-4">
          <% if @current_organization.logo.present? %>
              <%=image_tag @current_organization.logo %>
          <% else %>
              <%= @current_organization.name %>
          <%end%>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div>
        <p>
          Thank you for asking about the Advanced Instruction program at <%= @current_organization.name %>.
        </p>
        <p>
          Following are the <%= @current_organization.short_name %> teachers that have been informed of your interest:
        </p>
        <ul style="margin-left: 10px;">
          <% @current_organization.ifa_admins.each do |admin| %>
              <li style="margin-left: 10px;">
                <%= admin.full_name %>
              </li>
          <% end %>
        </ul>
        <p>
          <%=@current_student.first_name %> is participating in an SAT/ACT preparation program using the tools and methods of
          <a style="text-decoration: underline" href="http://www.precisionschoolimprovement.com/?child_id=76&id=64" target="_blank">Precision School Improvement</a>.
          The tools allow <%=@current_student.first_name %> to identify the intructional priorities in terms of SAT & ACT benchmarks.
        </p>
        <p>
          The purpose of the <span style="font-style:italic;">Advanced Intruction</span> program is to help <%= @current_student.first_name %> achieve personalized milestones leading to SAT/ACT goals,
          and to provide guardians a means to visibly monitor progress toward those goals.
        </p>
        <p>
          Thank you again for your interest in Precision Prep.  You will be contacted shortly regarding the Advanced Instruction program at <%= @current_organization.short_name %>.
        </p>
      </div>
  <% else %>
      <div class="interest_fail">
        <p>
          We're sorry. A problem occurred with your request.
        </p>
        <% @err_msgs.each do |msg| %>
            <p>
              <%= msg %>
            </p>
        <% end %>
      </div>
  <% end %>
</div>
