

<div id="school_diag" >

		<table   style="width:1170px;  margin-left:10px; border:0px solid black;">
			<tbody>
				<style type="text/css" media="screen">
			    table,tr,td { border:medium}
				table tr:hover{
	 	       	background-color: transparent;
	 	     	}
	 		   	</style>
				<tr style=" border:0px solid white;">
					<td colspan=2 style="width:260px; width:fixed;  text-align:left; padding-left:1px; border:0px solid black">
						<div style="padding-bottom:0px;">
							<%= image_tag(provider.logo.url, :alt => provider.name, :width => 140) if provider.logo.file? -%>
						</div>						
					</td>
					<td  style="vertical-align:top;  padding-top:5px;  padding-left:0px; border:0px solid black;">
						<div class="blog_item">
							<div class="app_report_title">
								<center><strong><%= school.nil? ? "School Diagnostic Report" : school.name %></strong></center>
							</div>
						</div>
					</td>
					<td id = "select_school" style="width:180px; width:fixed; vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
						<% if @current_organization == provider %>
							<%=  select(:schoola, provider.id,  EltCase.schools_for_provider(provider).collect{|s| [s.short_name, s.public_id]}, :prompt=> "Select School") %>
						<% else -%>&nbsp;
						<% end %>
					</td>
					<td style="width:100px; width:fixed; vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
						<% unless school.nil? || cycle.nil? || activity.nil?-%>
							<span class="fsn-button ui-button ui-state-default ui-corner-all"  >
								<%= link_to "Create PDF", {:controller => "/apps/app_pdf", :action => "elt_school_plan", :organization_id => @current_organization, :school_id => school, :elt_cycle_id => cycle, :activity_id => activity, :provider_id => provider, :app_id=> app.id}, {:target => "_blank"} %>
							</span>
						<% end -%>
					</td>
				</tr>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#select_school').change(function() {
			var school_id = jQ('#schoola_<%= provider.id%>').val();
			var url = "<%= url_for :controller => "/apps/app_report", :action => :elt_select_school_for_diag, :organization_id => @current_organization, :provider_id => provider, :activity_id => activity, :app_id=> app.id %>";
				jQ.get(url, {'school_id':school_id}, function(data) {
				jQ("#school_diag").html(data); 
		   		jQ("#school_diag").show();
				});
		})
	});
	</script>

				<tr style=" border:0px solid white;">
					<td colspan=2 style="width:260px; width:fixed; border:0px solid black">
						<div style="font-size: 13px; padding-left:0px; vertical-align:middle; line-height: 1.5em; color:#1b5698; font-weight:normal; font-family:Verdana, Arial, Helvetica, sans-serif;">
							<%= provider.name -%>
						</div>				
					</td>
					<td  style="vertical-align:top;  padding-top:5px;  padding-left:0px; border:0px solid black;">
						<% unless school.nil? -%>
							<div style="font-size: 18px; text-align:center; line-height: 1.5em; color:#1b5698; font-weight:normal; font-family:Verdana, Arial, Helvetica, sans-serif;">
								<%= cycle.nil?  ? "Cycle Not Defined" : cycle.name -%>
							</div>
						<% end -%>
					</td>
						<% unless school.nil? -%>
							<td colspan=2 id = "select_cycle" style=" vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
								<%=  select(:cycla, provider.id,  school.elt_all_cycles(provider).collect{|c| [c.name, c.public_id]}, :prompt=> "Select Diagnostic Cycle") %>
							</td>
						<% end -%>
					</tr>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#select_cycle').change(function() {
			var cycle_id = jQ('#cycla_<%= provider.id%>').val();
			var url = "<%= url_for :controller => "/apps/app_report", :action => :elt_select_cycle_for_school, :organization_id => @current_organization, :provider_id => provider, :activity_id => activity, :school_id => school, :app_id=> app.id %>";
				jQ.get(url, {'elt_cycle_id':cycle_id}, function(data) {
				jQ("#school_diag").html(data); 
		   		jQ("#school_diag").show();
				});
		})
	});
	</script>
				<% unless school.nil? || cycle.nil? -%>
					<tr style="border:0px solid #000000;">
						<% if @current_user.elt_reviewer?(provider) || @current_user.elt_admin?(@current_organization)%>
							<% plan_label = school.elt_cycle_plan(cycle).nil? ? "Create" : (school.elt_cycle_plan(cycle).open? ? "Close" : "Open")%>
							<td id = "cycle_plan" style="width:120px; width:fixed;  text-align:left; padding-left:5px; border:0px solid black">
								<span class="fsn-button ui-button ui-state-default ui-corner-all" style = "cursor:pointer">
									<%= plan_label %> Plan
								</span>
							</td>
							<td style="width:140px; width:fixed;  text-align:left; padding-left:20px; border:0px solid black">
								<% if (!school.elt_cycle_plan(cycle).nil? && school.elt_cycle_plan(cycle).open?)%>
									<span class="fsn-button ui-button ui-state-default ui-corner-all" style = "cursor:pointer">
										<%= link_to "Destroy Plan", {:controller => "/apps/app_report", :action => "elt_destroy_plan", :organization_id => @current_organization, :elt_plan_id => school.elt_cycle_plan(cycle)}, :confirm => "Are you sure?" %>
									</span>
								<% else -%>
									&nbsp;
								<% end -%>
							</td>
						<% else -%>
							<td style="width:120px; width:fixed;">
								&nbsp;
							</td>
							<td style="width:140px; width:fixed;">
								&nbsp;
							</td>
						<% end -%>
						<td  style="vertical-align:top;  padding-top:5px;  text-align:center; border:0px solid black;">
							<div class="app_report_title_3">
								<%= activity.nil? ? "No Activity Available" : activity.name %>
							</div>
						</td>
						<td colspan=2 id = "select_activity" style=" vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
							<%=  select(:activa, provider.id,  (@current_organization == provider ? school.elt_case_activities_finalized : school.elt_case_activities_reportable).collect{|a| [a.name, a.public_id]}, :prompt=> "Select Finalized " + school.short_name + " Activity") %>
						</td>
					</tr>
	<script type="text/javascript">
		jQ(document).ready(function() {
			jQ('#cycle_plan').click(function() {
				var url = "<%= url_for :controller => "/apps/learning_time", :action => :school_cycle_plan, :organization_id => @current_organization, :provider_id => provider, :elt_type_id => activity, :elt_cycle_id => cycle, :school_id => school, :app_id=> app.id %>";
					jQ.get(url, {}, function(data) {
					jQ("#school_diag").html(data); 
			   		jQ("#school_diag").show();
					});
			})
		});
	</script>
	<script type="text/javascript">
		jQ(document).ready(function() {
			jQ('#select_activity').change(function() {
				var activity_id = jQ('#activa_<%= provider.id%>').val();
				var url = "<%= url_for :controller => "/apps/app_report", :action => :elt_select_activity_for_school, :organization_id => @current_organization, :provider_id => provider, :elt_cycle_id => cycle, :school_id => school, :app_id=> app.id %>";
					jQ.get(url, {'activity_id':activity_id}, function(data) {
					jQ("#school_diag").html(data); 
			   		jQ("#school_diag").show();
					});
			})
		});
	</script>
				<% end -%>
			</tbody>					
		</table>
		<% unless school.nil? || activity.nil?-%>
			<%= render :partial => "/apps/app_report/elt_show_rubric", :locals => {:activity => activity} -%>					
			<% unless school.elt_cycle_plan(cycle).nil? -%>
				<%= render :partial => "/apps/app_report/elt_show_plan_rubric", :locals => {:plan_type => EltPlanType.school} -%>								
			<% end -%>
			<%= render :partial => "/apps/app_report/elt_school_activity_summary", :locals => {:activity => activity, :cycle=> cycle, :school=> school} -%>					
		<% end -%>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>

	<br style="clear:both" />	

</div>

