
<table style="width:<%=table_width%>; width:fixed;">
	<tbody> 
		<tr style ="border:0px solid #dddddd">
			<td style = "width:20px; width:fixed; font-family:Garamond; font-size:12px;  text-align:center; vertical-align:top; padding-top:8px;  color: #00000 ; font-weight:normal ">
				<%= seq_num %>
			</td>
			<td colspan=2 style = " vertical-align:top; font-size:14px; font-family:Garamond; padding-top:8px; padding-bottom:8px;font-weight:normal; color: #000000; line-height:1.3em ">
				<%= indicator.indicator %>
				<% unless activity.master? || indicator.support_indicators.empty? -%>
					<br/>
					<div style = "  vertical-align:middle; font-size:10px; font-family:Helvetica; font-weight:normal; color: #000000; line-height:1.2em ">
						Informs:&nbsp;
						<% indicator.support_indicators.each do |si|%>
							<% id = indicator.id.to_s + si.id.to_s -%>
							<a id="<%= id%>" href=""><%= si.elt_element.abbrev + "-" + si.position.to_s %></a>
							<%= render :partial => "/apps/shared/help_box", :locals => {:id => id, :title=> si.elt_type.name, :blue=>("Indicator " + si.position.to_s + ",   " + si.elt_element.name), :body=> si.indicator, :height=> 200, :width=> 700 } %>
							&nbsp;
						<% end -%>
					</div>
				<% end -%>
			</td>
			<td style = " width:80px; width:fixed;  text-align:center; vertical-align:middle; padding-top:0px;  color: #00000 ; font-weight:normal ">
				&nbsp;
			</td>
		</tr>
		<% unless school.elt_cases.final.for_activity(activity).for_cycle(cycle).empty?%>
			<% school.elt_cases.final.for_activity(activity).for_cycle(cycle).each do |elt_case| -%>
				<% font_color = "#C73914" -%>
				<tr style="border:0px  solid #000000; border:0px solid #000000">
					<td style = "width:20px; width:fixed; ">
						&nbsp;
					</td>
					<td style = " width:55px; width:fixed; border:0px solid #000000; vertical-align:top; color:<%=font_color%>">
						<div class="app_report_case_1">
							<%= elt_case.submit_date ? elt_case.submit_date.strftime("%b %Y") : "No Date" %>
						</div>
					</td>
					<td style = " vertical-align:top; padding-bottom:5px; border:0px solid #000000; color:<%=font_color%>">
						<div class="app_report_case_3">
							<%= elt_case.note_for_indicator(indicator) %>
						</div>
					</td>
					<td style = " width:80px; width:fixed; border:0px solid #000000; vertical-align:top; text-align:center; color:<%=font_color%>">
						<div class="app_report_case_2">
							<strong><%= (!elt_case.elt_case_indicators.for_indicator(indicator).empty? && elt_case.elt_case_indicators.for_indicator(indicator).first.rubric) ? elt_case.elt_case_indicators.for_indicator(indicator).first.rubric.name : "-" %></strong>
						</div>
					</td>
				</tr>			
			<% end -%>								
		<% end -%>		
	</tbody>
</table>
<% unless school.elt_cases.final.for_activity(activity).for_other_cycles(cycle).empty? -%>
<% font_color = "#2061a5;" -%>

<table  style="width:<%=table_width%>; width:fixed; margin-top:0px;">
	<tbody>
		<tr style="border:0px  solid #000000; border:0px solid #000000">
			<td style = "width:20px; width:fixed; ">
				&nbsp;
			</td>
			<td  colspan=3 style = "font-size:10px;">
				<table id="other_cycles_<%=indicator.public_id%>" style="margin-left:0px; border:0px solid #ddd;">
					<tbody>  
						<tr>
							<td class="resource_levels_close" style="font-size:10px; color:<%=font_color%>">
			
							<%= link_to '', :controller => "apps/app_report", :action => :elt_other_school_cycles, :organization_id => @current_organization, :school_id => school, :activity_id => activity, :indicator_id => indicator, :elt_cycle_id => cycle, :app_id=> @app.id  %>
							View History
							<span></span>
							</td>
						</tr>
					</tbody>
				</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#other_cycles_<%=indicator.public_id%> .resource_levels_close').toggleResourceLevels();
			jQ('#other_cycles_<%=indicator.public_id%> .resource_levels_open').toggleResourceLevels();	
		});
		</script> 	
			</td>
		</tr>			
	</tbody>
</table>
<% end -%>

