

<div id="cycle_diag" >

		<table   style="width:1170px;  margin-left:10px; border:0px solid black;">
			<tbody>
				<style type="text/css" media="screen">
			    table,tr,td { border:medium}
				table tr:hover{
	 	       	background-color: transparent;
	 	     	}
	 		   	</style>
				<tr style=" border:0px solid white;">
					<td style="width:260px; width:fixed;  text-align:left; padding-left:1px; border:0px solid black">
						<div style="padding-bottom:0px;">
							<%= image_tag(provider.logo.url, :alt => provider.name, :width => 140) if provider.logo.file? -%>
						</div>						
					</td>
					<td  style="vertical-align:top;  padding-top:5px;  padding-left:0px; border:0px solid black;">
						<div class="blog_item">
							<div class="app_report_title">
								<center><strong><%= cycle.nil? ? "Cycle Diagnostic Report" : cycle.name %></strong></center>
							</div>
						</div>
					</td>
					<td id = "select_cycle" style="width:280px; width:fixed; vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
						<%=  select(:cycla, provider.id,  (@current_organization == provider ? provider.elt_summarized_cycles : @current_organization.elt_active_cycles(provider)).collect{|c| [c.name, c.public_id]}, :prompt=> "Select Diagnostic Cycle") %>
					</td>
				</tr>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#select_cycle').change(function() {
			var cycle_id = jQ('#cycla_<%= provider.id%>').val();
			var url = "<%= url_for :controller => "/apps/app_report", :action => :elt_select_cycle_for_diag, :organization_id => @current_organization, :provider_id => provider, :activity_id => activity, :app_id=> app.id %>";
				jQ.get(url, {'elt_cycle_id':cycle_id}, function(data) {
				jQ("#cycle_diag").html(data); 
		   		jQ("#cycle_diag").show();
				});
		})
	});
	</script>
				<% unless cycle.nil? -%>
					<tr style="border:0px solid #000000;">
						<td colspan=3 style="vertical-align:top; text-align:center; padding-top:5px;  padding-left:0px; border:0px solid black;">
							<div class="app_report_title_2">
								<%= provider.name.upcase -%>
							</div>
						</td>
					</tr>
					<tr style="border:0px solid #000000;">
						<td style="width:260px; width:fixed;  text-align:left; padding-left:1px; border:0px solid black">
							&nbsp;
						</td>
						<td  style="vertical-align:top;  padding-top:5px;  text-align:center; border:0px solid black;">
							<div class="app_report_title_3">
								<%= activity.nil? ? "No Activity Available" : activity.name %>
							</div>
						</td>
						<td id = "select_activity" style="width:280px; width:fixed; vertical-align:top; text-align:left; padding-top:10px; padding-left:30px; border:0px solid black;">
							<%=  select(:activa, provider.id,  cycle.activities.active.collect{|a| [a.name, a.public_id]}, :prompt=> "Select Cycle Activity") %>
						</td>
					</tr>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#select_activity').change(function() {
			var activity_id = jQ('#activa_<%= provider.id%>').val();
			var url = "<%= url_for :controller => "/apps/app_report", :action => :elt_select_activity_for_cycle, :organization_id => @current_organization, :provider_id => provider, :elt_cycle_id => cycle, :app_id=> app.id %>";
				jQ.get(url, {'activity_id':activity_id}, function(data) {
				jQ("#cycle_diag").html(data); 
		   		jQ("#cycle_diag").show();
				});
		})
	});
	</script>

				<% end -%>
			</tbody>					
		</table>
		<% unless cycle.nil? || activity.nil?-%>
			<%= render :partial => "/apps/app_report/elt_show_rubric", :locals => {:activity => activity} -%>					
			<%= render :partial => "/apps/app_report/elt_cycle_activity_summary", :locals => {:activity => activity, :cycle=> cycle, :provider => provider} -%>					
		<% end -%>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>
		<br/><br/><br/><br/><br/>

	<br style="clear:both" />	

</div>

