<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Network">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= Date.today.strftime("%b %d, %Y")%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%=@activity.organization.short_name%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%=@activity.name%></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Element</Data></Cell>
        <Cell><Data ss:Type="String">Indicator</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String">Network</Data></Cell>

      </Row>
		<% ind_count = 0 -%>
		<% @activity.elements.each do |element| %>
		    <% element.elt_indicators.active.for_activity(@activity).each do |indicator| %>
				<% ind_count += 1 -%>
		      <Row>
		        <Cell><Data ss:Type="String"><%= element.name%></Data></Cell>
		        <Cell><Data ss:Type="Number"><%= ind_count %></Data></Cell>
		        <Cell><Data ss:Type="String"><%= indicator.indicator %></Data></Cell>
		        <Cell><Data ss:Type="Number"><%= indicator.cycle_summaries(nil).empty? ? 0.0 : number_with_precision(indicator.cycle_summary_avg_score(nil), :precision => 1) %></Data></Cell>
		      </Row>
    		<% end -%>
    	<% end -%>
    </Table>
  </Worksheet>
</Workbook>
