<div class="discusssion_by_same_author_box" style="padding-top:20px;">
	<div class="discusssion_by_same_author_warp">
		<div class="discusssion_by_same_author">
			<div class="blog_font">
				<% comment_string = (com_num + 1).to_s + ". " + comment.body -%>
				<%= simple_format comment_string %>
				<% if @current_user && @current_user.app_superuser?(app) -%>
					<%= link_to '[Remove]', blog_comment_remove_path(:id => comment.id, :app=>app) %>
				<% end -%>
			</div>
		</div>
	</div>
	<div class="discusssion_by_same_author_info">

		</span>
		<abbr title="<%= comment.created_at.xmlschema %>"> posted  
				<% if comment.created_at > Time.now.utc - 24.hours -%>
					<%= time_ago_in_words(comment.created_at).sub(/about /, '') %> ago
				<% else -%>
					<%= comment.created_at.strftime("%b %e, %Y") %>
				<% end -%>
		</abbr>
		<span>
			<% if comment.user%>
				&nbsp;&nbsp;&nbsp;<%= comment.user_name %>
				<span style="font-size:10px; font-weight:normal;" >
					<i><a id="commenter_1<%=comment.id %>" href="">Who?</a></i>
				</span>
				<div id="commenter_2<%=comment.id %>" title= "Comment On: <%= comment.blog_post.title %>" style="text-align:left;">
			 	   <%= render :partial => "apps/app_blog/user_info_box", :locals=>{:user=>comment.user, :pic=>true} %>					
				</div>						

<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {

    	    jQ("#commenter_2<%=comment.id %>").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: 600,
    	            height: 300,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);					
			
    		jQ('#commenter_1<%=comment.id %>').click(function(event){
    		    jQ("#commenter_2<%=comment.id %>").dialog('open');
    			 event.preventDefault();
    		})							

    });
</script>				
			<% end -%>
    </span>
	</div>
</div>		