<div id="share_email_<%= blog.public_id %>">

    <div class="title_large_blue" style="margin-bottom:5px;">
      <%= blog.title %>
    </div>
	  <%= render :partial => "/shared/error_and_notice" %>
    <div class="normal_text" >
	<%= form_tag do %>
	<div class="FormRow">
	  <div class="FormRowTitle">
		&nbsp;
	  </div>
	</div>
	<div class="FormRow">
	  <div class="FormRowTitle">
		Email To:<br/>
		<small>(separate with comma)</small>
	  </div>
	  <div class="FormRowData">
		<%= text_field :email_to, blog.public_id, :value => to_email, :class=>"text required" %>
	  </div>
	</div>

	<div class="FormRow">
	  <div class="FormRowTitle">
		From:
	  </div>
	  <div class="FormRowData">
		<%= text_field :from_name, blog.public_id, :value => user_name, :class=>"text required" %>
	  </div>
	</div>
	
	<div class="FormRow">
	  <div class="FormRowTitle">
		Message:
	  </div>
	  <div class="FormRowData">
		<%= text_area :body, blog.public_id, :value => message, :class=>"text required", :style => "width:375px;height:100px;" %>
	  </div>
	</div>
	<% unless @current_user %>
		<div class="FormRow">
			<div class="FormRowTitle">&nbsp;</div>
			<div class="FormRowData" style = " border:0px">
			 <%#= show_simple_captcha %><br/>
			</div>
		</div>
	<% end -%>
<% end -%>
	<div id= "send_email_<%=blog.public_id %>" style=" text-align:left; padding-left:40px;font-size:14px;">
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
		  Send
		</span>
	</div>
	<div class="FormRow">
	  <div class="FormRowTitle">
		&nbsp;<br/>
	  </div>
	</div>
    </div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#send_email_<%=blog.public_id %>").click(function() {
		var email_to = jQ('#email_to_<%= blog.public_id %>').val();
		var from_name = jQ('#from_name_<%= blog.public_id %>').val();
		var message = jQ('#body_<%= blog.public_id %>').val();
		var captcha = jQ('#captcha').val();
		var url = "<%= blog_email_url(:organization_id => @current_organization, :blog_id => blog.public_id) %>";
			jQ.get(url, {'email_to':email_to, 'from_name':from_name, 'message':message, 'captcha':captcha }, function(data) {
			jQ("#share_email_<%= blog.public_id %>").html(data); 
	   		jQ("#share_email_<%= blog.public_id %>").show();
			});
	})
});
</script>    

</div>
