    <div class="title_large_blue" style="margin-bottom:5px;">
      <%= user.full_name %>
    </div>
    <div class="normal_text" >
	<table style="width:100%; border:0px solid #ddd; font-size:11px; line-height:1.2em">
		<tbody>
			<tr >
				<td style="width:9%; border:0px solid #ddd;" >
					<%= user.picture && pic ? (image_tag user.picture.url(:small_thumb) ): ("&nbsp;").html_safe %>
				</td>
				<td style="width:73%; vertical-align:top; border:0px solid #ddd;padding-bottom:0px; line-height:1.2em" >
				  	<% if user.display_emai_and_phone == true %>
				  		<%= user.preferred_email %> <br />
						<%= user.phone.nil? ? "" : (user.phone + "<br/>").html_safe %>
					<% end %>
					<% if user.organization -%>
						<%= user.organization.name -%>
					<% end -%>
				</td>
			</tr>
		<% unless user.bio -%>
			<tr >
				<td colspan=2 style="border:0px solid #ddd; vertical-align:top; padding-top:10px; padding-bottom:10px; line-height:1.2em" >
					<% unless user.favorite_other_organizations.empty? -%>
						<u>Connections:</u>&nbsp;<%= user.favorite_other_organizations.collect{|o| o.medium_name}.join(", ") -%>
					<% end -%>
					<% unless user.offerings.empty? -%>
						<br/><br/><u>Teaches:</u>&nbsp;<%= user.offerings.collect{|o| o.course_name}.join(", ") -%>
					<% end -%>
					<% unless user.credentials.nil? -%>
						<br/><br/><%= simple_format user.credentials.html_safe %>
					<% end -%>					
				</td>
			</tr>
		<% else -%>
			<% unless user.bio.job_title.nil? %>
				<tr >
					<td colspan=2 style="border:0px solid #ddd; font-size:11px; vertical-align:top; padding-top:10px;padding-bottom:5px; padding-left:25px;  font-weight:bold" >
						<%= user.bio.job_title.html_safe %>
					</td>
				</tr>
			<% end -%>
			<% unless user.bio.description.nil? %>
				<tr >
					<td colspan=2 style="border:0px solid #ddd; margin-top:0px; vertical-align:top; padding-top:0px; padding-bottom:0px; font-weight:normal; line-height:1.2em" >
						<%= user.bio.description.html_safe -%>
					</td>
				</tr>
			<% end -%>				
		<% end -%>
		</tbody>
	</table>
  </div>
