	<% @heading_color = "#1b5698" -%> 
    <% @post_title_color = "#1b5698" -%>
    <% @text_color = "#555555" -%>
	<% back_color = (!@blog_app.app_discussions.for_org(@current_organization).empty? && !@blog_app.app_discussions.for_org(@current_organization).first.background_color.nil?) ?  ("#" + @blog_app.app_discussions.for_org(@current_organization).first.background_color) : "#000000" -%>


<div class="appblog_box_warp" >
	<% if @blog.active || (@current_user && @blog.panelists.include?(@current_user))%>	
<a name="Top"></a>
<style type="text/css" media="screen">
	#app_blog_comment_warp .mempro_box { width:1140px; }
	h3.blog_item_title { font-size: 20px; line-height: .8em; color:#000000; font-family:Verdana;}
</style>

	<div  >
		<table   style="width:1170px;  margin-left:10px; border:0px solid black;">
			<tbody>
				<style type="text/css" media="screen">
			    table,tr,td { border:medium}
				table tr:hover{
	 	       	background-color: transparent;
	 	     	}
	 		   	</style>
				<tr style=" border:0px solid white;">
					<td style="width:22%;  text-align:left; padding-left:1px; border:0px solid black">
						<div style="padding-bottom:0px;">
							<%= image_tag(@current_organization.logo.url, :alt => @current_organization.name, :width => 140) if @current_organization.logo.file? -%>
						</div>	
						<table style="padding-top:0px; border:0px solid #dddddd;">
							<tbody>
								<style type="text/css" media="screen">
							    table,tr,td { border:medium}
								table tr:hover{
					 	       	background-color: transparent;
					 	     	}
					 		   	</style>
								<tr style=" border:0px solid #dddddd;">
									<td style="text-align:center; font-size:10px; margin-top:0px; border:0px solid #dddddd;">
					     	  			<h3><%= pluralize( @blog.blog_posts.active.size, ' Point')%>&nbsp;Of View</h3>			
									</td>
								</tr>
								<% @blog.panelists_with_active_posts.each do |panelist| %>
									<tr style=" border:0px solid #dddddd;margin-top:0px;">
										<td style="text-align:left; font-size:10px; padding-bottom:8px; border:0px solid #dddddd;line-height:1.3em;">
                      <strong><%= panelist.last_name %></strong>
                      <small>&nbsp;
                        <span style="font-size:9px; font-weight:normal;" >
                          <a id="panelist_1_<%=@blog.public_id%>_<%=panelist.public_id %>" href="">Who?</a>
                        </span>
                      </small>
											</br>
											<div id="panelist_2_<%=@blog.public_id%>_<%=panelist.public_id %>" title= "Panelist: <%= @blog.title %>" style="text-align:left;">
										 	   <%= render :partial => "apps/app_blog/user_info_box", :locals=>{:user=>panelist, :pic=>true} %>					
											</div>						

<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {

    	    jQ("#panelist_2_<%=@blog.public_id%>_<%=panelist.public_id %>").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: 600,
    	            height: 500,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);					
			
    		jQ('#panelist_1_<%=@blog.public_id%>_<%=panelist.public_id %>').click(function(event){
    		    jQ("#panelist_2_<%=@blog.public_id%>_<%=panelist.public_id %>").dialog('open');
    			 event.preventDefault();
    		})							

    });
</script>
						     	  				<% @blog.blog_posts.for_panelist(panelist).active.each do |post| %>
													<a href= "#<%= post.public_id%>" style="font-size:10px; text-align:left"><%= post.title %></a><br/>					     	  					
						     	  				<% end -%>	
						     	  			</span>			
										</td>
									</tr>
								<% end -%>
							</tbody>					
						</table>					
					</td>
					<td  style="vertical-align:top;  padding-top:5px;  padding-left:0px; border:0px solid black;">
						<div class="blog_item">
							<div class="app_blog_title" style="text-align:center">
								<%= h @blog.title %>
							</div>
							<div class="app_blog_panelists" style="text-align:center" >
								<%= h @blog.panel_list_with_posts %>
							</div>
							<div class="app_blog_description_text" >
								<%= simple_format @blog.description %>
							</div>
						</div>
					</td>
					<td style="width:24%; vertical-align:top; text-align:left; padding-top:10px; padding-left:10px; border:0px solid black;font-size:12px; font-family: Calibri; color:<%= @heading_color %>">
		 				<% if @blog.picture_file_name.nil? -%>
		 					&nbsp;
		 				<% else-%>	
							<% blog_file = @blog.picture.url -%>
							<% if @blog.picture_file_name.include?(".swf") -%>	
								<div id="flash_content">
							    	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="348" height="228" id="fs_home" align="top">
							    	   <param name="allowScriptAccess" value="sameDomain" /><param name="allowFullScreen" value="false" /><param name="movie" value= <%= blog_file %> /><param name="quality" value="best" /><param name="bgcolor" value="#ffffff" /><embed src= <%= blog_file %> quality="best" bgcolor="#ffffff" width="348" height="228" name="FS_attempt9_REVISED_JOSH" align="top" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
							    	</object>
							  	</div>
						   	<% else -%>
								<%= image_tag(blog_file, :width => 270,:alt => "No Image File") -%>
							<% end -%>
						<% end -%>
						<br/>
						<%= render :partial => "apps/app_blog/share_blog", :locals=> {:blog => @blog} %>	
					</td>
				</tr>
			</tbody>					
		</table>
		<div id="blog_comment_warp">
	
			<%= render :file => "/apps/app_blog/show_posts", :locals=>{:app=>@blog_app, :blog=>@blog, :first_post=> @blog_post} %>
	
		</div>
	<a name="Bottom"></a>
	</div>
	<br style="clear:both" />	

	<% else -%>
		<div class="app_blog_title" >
			<center><%= h @blog.title %></center>
		</div>
		<span style= "color:#C73914; font-size:11px">
			<br/></br/><center>* * * Discussion Not Active * * *</center><br/></br/>
		</span>
	<% end -%>

</div>

<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		$share_blog_warp = jQ("#share_blog_warp");
		jQ("#share_blog_btn").click(function() {
			$share_blog_warp.show();
		})
		$share_blog_warp.find("button:first").click(function() {
			$share_blog_warp.hide();
		})
		$share_blog_warp.find("button:last").click(function() {
			var $sender_email = $share_blog_warp.find("input[name='email_archive[sender_email]']");
			var $plain_body = $share_blog_warp.find("textarea");
			var sender_email = $sender_email.val();
			var plain_body = $plain_body.val();
			share_url = '<%= blog_share_url(:blog_id => @blog.public_id) %>';
			jQ.post(share_url, {'email_archive[sender_email]':sender_email, 'email_archive[plain_body]':plain_body}, function() {
				$share_blog_warp.hide();
			})
		})
	})
</script>
