<p>
	<%= @user.full_name %> posted a comment to your blog post <i> <%= simple_format @blog_post.title %></i>.
</p>
<br/><br />
<%= @user.first_name %> said: <i>"<%= simple_format @comment %>"</i>
<br /><br />
<p>Click <%= link_to "here", blog_show_url(:blog_id => @blog.public_id, :only_path => false,:host => @ep_host) %> to see.</p>
<br />

