<%= error_messages_for :content %>
<p>
	<%= label_tag 'content_status_id', 'Status:' %>
	<%= select("content", "content_status_id", ContentStatus.all.collect {|p| [ p.name, p.id ] }, :prompt => "Select a status") %>
</p>
<p>
	<%= label_tag 'organization_id', 'Organization:' %>
	<%= select("content", "organization_id", Organization.all.collect {|p| [ p.name, p.id ] }, :prompt => "Select a organization") %>
</p>
<p>
	<%= label_tag 'user_id', 'User:' %>
	<%= select("content", "user_id", User.all.collect {|p| [ p.full_name, p.id ] }, :prompt => "Select a user") %>
</p>
<p>
	<%= label_tag 'content_title', 'Title:' %>
	<%= text_field :content, :title %>
</p>
<p>
	<%= label_tag 'content_description', 'Description:' %>
	<%= text_field :content, :description %>
</p>
<% if @content.content_object_type_id == 6 or @content.content_object_type_id == 7
	display = true
end %>
<p id="content_content_object" style="display:<%= display ? 'block' : 'none' %>;">
	<%= label_tag 'content_content_object', 'Content Object:' %>
	<%= text_area_tag "content[content_object]", @content.content_object, :rows => 15, :cols => 60 %>	

</p>
<p>
	<%= label_tag 'content_mature_content', 'Mature Content:' %>
	<%= radio_button("content", "mature_content", true) %> yes<br />
	<%= radio_button("content", "mature_content", false) %> no
</p>

<p>
	<%= label_tag 'content_source_url', 'Source Url:' %>
	<%= text_field :content, :source_url %>
</p>
<p>
	<%= label_tag 'content_object_type_id', 'Content Object Type:' %>
	<%= select("content", "content_object_type_id", ContentObjectType.all.collect {|p| [ p.name, p.id ] }, :prompt => "Select a content object type") %>
</p>
<script type="text/javascript" charset="utf-8">
 $(document).ready(function() {
	if (tinyMCE.getInstanceById("content[content_object]")) {
		initTinyMCE();
	}
	tinyMCE.execCommand("mceAddControl", false, 'content[content_object]');
	var $content_object_type_id = $("#content_content_object_type_id");
	$content_object_type_id.change(function() {
		var val =$content_object_type_id.val()
		if(val == 6) {
			$("#content_content_object").css("display", "block");
		} else if (val == 7) {
			$("#content_content_object").css("display", "block");
		} else {
			$("#content_content_object").css("display", "none");
		}
	})
})
</script>
