<h2>Content list</h2>
<%= link_to "Add", :action => :new %>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th></th>
		</tr>		
	</thead>
	<tbody>
		<% @contents.each do |content| -%>
		<tr>
			<td><%= content.title %></td>
			<td class="edit_and_remove">
				<button title="<%= content.id %>" class="show fsn-button ui-button ui-state-default ui-corner-all">Show</button>
				<button title="<%= content.id %>" class="edit fsn-button ui-button ui-state-default ui-corner-all">Edit</button>				
				<%= button_to "remove", {:action => :delete, :id => content.id}, :confirm => 'Are you sure?', :class => "fsn-button ui-button ui-state-default ui-corner-all"  %>
			</td>
		</tr>		
		<% end -%>
	</tbody>
</table>