<div id="<%= app.public_id%>_ownership">

	<table style="width:840px; border:2px solid #ddd; margin-left:0px; color: #2061a5;">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:2px solid #ddd; }
				table tr:hover{
        		background-color: transparent;
      			}
			</style>
			<tr >
				<td colspan=4 style="text-align:center; padding-top:10px; vertical-align:top; color:#2061a5;font-weight:bold;font-size:13px;">
					<center><%= app.name%></center>
				</td>
			</tr>
			<tr >
				<th style="width:210px; width:fixed; text-align:center; padding-top:10px; vertical-align:top; color:#2061a5;font-weight:normal;font-size:12px;">
					<center>Master<br/><%= app.owner ? app.owner.name : app.owner_id.to_s + " Invalid Owner ID"%></center>
				</th>
				<th style="width:210px; width:fixed; text-align:center; padding-top:10px; vertical-align:top; color:#2061a5;font-weight:normal;font-size:12px;">
					<center>Discussion Owner<br/><%= app.discussion_owner ? app.discussion_owner.name : "Not Defined" %></center>
				</th>
				<th colspan=2 style="text-align:center; padding-top:10px; vertical-align:top; color:#2061a5;font-weight:normal;font-size:12px;">
					<center>Co-Owners Can Assign App Owner-Admins</center>
				</th>
			</tr>
			<tr >
				<td  id="<%=app.id%>_master" style=" color:#000000; font-weight:normal; font-size:12px; padding-bottom:0px;">
					<%=  select(:app_master, app.id, Organization.active.sort_by{|o| o.name}.collect{|o| [(o.medium_name), o.id]}, :prompt => app.abbrev + " Master") %>				
				</td>	
				<td id="<%=app.id%>_discussion" style="font-size:12px; ">
					<%=  select(:app_discussion, app.id, Organization.active.sort_by{|o| o.name}.collect{|o| [(o.medium_name), o.id]}, :prompt => app.abbrev + " Discussion Owner") %>				
				</td>
				<td  id="<%=app.id%>_del_co_owner" style=" color:#000000; font-weight:normal; font-size:12px; padding-bottom:0px;">
					<%=  select(:remove_co_owner, app.id, app.owners.sort_by{|o| o.name}.collect{|o| [(o.medium_name), o.id]}, :prompt => "Remove " + app.abbrev + " Co-Owner") %>				
				</td>	
				<td id="<%=app.id%>_add_co_owner" style="font-size:12px; ">
					<%=  select(:add_co_owner, app.id, (app.organizations.active - app.owners).sort_by{|o| o.name}.collect{|o| [(o.medium_name), o.id]}, :prompt => "Add " + app.abbrev + " Co-Owner") %>				
				</td>			
			</tr>
		</tbody>
	</table>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_master').change(function() {
		var master_id = jQ('#app_master_<%=app.id%>').val();
		var url = "<%= url_for :controller => "/master/organizations", :action => :change_app_master, :organization_id => @current_organization, :app_id=> app.id %>";
			jQ.get(url, {'master_id':master_id}, function(data) {
			jQ("#<%= app.public_id%>_ownership").html(data); 
	   		jQ("#<%= app.public_id%>_ownership").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_discussion').change(function() {
		var owner_id = jQ('#app_discussion_<%=app.id%>').val();
		var url = "<%= url_for :controller => "/master/organizations", :action => :change_app_discussion_owner, :organization_id => @current_organization, :app_id=> app.id %>";
			jQ.get(url, {'owner_id':owner_id}, function(data) {
			jQ("#<%= app.public_id%>_ownership").html(data); 
	   		jQ("#<%= app.public_id%>_ownership").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_del_co_owner').change(function() {
		var owner_id = jQ('#remove_co_owner_<%=app.id%>').val();
		var url = "<%= url_for :controller => "/master/organizations", :action => :toggle_co_owner, :organization_id => @current_organization, :app_id=> app.id %>";
			jQ.get(url, {'owner_id':owner_id}, function(data) {
			jQ("#<%= app.public_id%>_ownership").html(data); 
	   		jQ("#<%= app.public_id%>_ownership").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_add_co_owner').change(function() {
		var owner_id = jQ('#add_co_owner_<%=app.id%>').val();
		var url = "<%= url_for :controller => "/master/organizations", :action => :toggle_co_owner, :organization_id => @current_organization, :app_id=> app.id %>";
			jQ.get(url, {'owner_id':owner_id}, function(data) {
			jQ("#<%= app.public_id%>_ownership").html(data); 
	   		jQ("#<%= app.public_id%>_ownership").show();
			});
	})
});
</script>

<br/>

</div>
