<h2>Organization list</h2>

<table>
	<thead>
		<tr>
			<th style="width:40%">Name</th>
			<th style="width:20%"># of Active Classrooms
			<th style="width:40%"></th>
		</tr>		
	</thead>
	<tbody>
		<% @organizations.each do |organization| -%>
		<tr>
			<td style="width:40%"><%= organization.name %>&nbsp;
			</td>
			<td style="width:20%"><%= organization.classrooms.active.size %> &nbsp;</td>
			<td style="width:40%" class="edit_and_remove">
				<button title="<%= organization.id %>" class="show fsn-button ui-button ui-state-default ui-corner-all">Show</button>
				<button title="<%= organization.id %>" class="edit fsn-button ui-button ui-state-default ui-corner-all">Edit</button>				
				<% if organization.can_be_deleted? -%>
				<%= button_to "remove", {:action => :delete, :id => organization.id}, :confirm => 'Are you sure?', :class => "fsn-button ui-button ui-state-default ui-corner-all"  %>
				<% end -%>
			</td>
		</tr>		
		<% end -%>
	</tbody>
</table>