<div class="formBox">
	<h2>Show</h2>	
<!-- ALK remove religious Affiliation Views
<p>
	<%= label_tag 'organization_religious_affiliation_id', 'Religious Affiliation:' %>
	<%= @organization.religious_affiliation.name %>
</p>
-->
<p>
	<%= label_tag 'organization_organization_type_id', 'Organization Type:' %>
	<%= @organization.organization_type.name %>
</p>
<p>
	<%= label_tag 'organization_organization_size_id', 'Organization Size:' %>
	<%= @organization.organization_size.description if @organization.organization_size%>
</p>
<p>
	<%= label_tag 'organization_name', 'Name:' %>
	<%= @organization.name %>
</p>
<p>
	<%= label_tag 'organization_phone', 'Phone:' %>
	<%= @organization.phone %>
</p>
<p>
	<%= label_tag 'organization_fax', 'Fax:' %>
	<%= @organization.fax %>
</p>
<p>
	<%= label_tag 'organization_web_site_url', 'Web Site Url:' %>
	<%= @organization.web_site_url %>	
</p>
<p>
	<%= label_tag 'organization_contact_name', 'Contact Name:' %>
	<%= @organization.contact_name %>	
</p>
<p>
	<%= label_tag 'organization_contact_email', 'Contact Email:' %>
	<%= @organization.contact_email %>		
</p>
<p>
	<%= label_tag 'organization_contact_role', 'Contact Role:' %>
	<%= @organization.contact_role %>			
</p>
<p>
	<%= label_tag 'organization_contact_phone', 'Contact Phone:' %>
	<%= @organization.contact_phone %>				
</p>
<p><%= link_to 'Back', master_organizations_show_path %></p>
</div>