<div >

	<% unless @grade_level.nil? -%>
	
	<% unless @standards_list.empty? -%>
		<% master = ActMaster.co.first -%>
	<table id="roles"  style="width:810px; margin-left:10px">
		<tbody>

			<thead>
				<tr>
					<th style = "color:#000000"><strong><center>Knowledge Strand</center></strong></th>
					<th style = "color:#000000"><strong><center>Grade Level Expectations</center></strong></th>
				</tr>
			</thead>
			<tr>
				<td colspan=2 >
					&nbsp;
				</td>
			</tr>
			<% for std in @standards_list do -%>
			<tr>
				<td class="tip_std" title="<%= std.description %>"width = 280px style=" color: #000000; vertical-align:top;font-size:10px;" >
					<strong><u><%= std.abbrev.upcase%></u><br/><%=std.name.titleize %></strong>
				</td>	
				<!--<%# gle_list = CoGle.find(:all, :conditions => ["act_standard_id = ? AND co_grade_level_id = ?", std.id, @grade_level.id ]) rescue nil %>-->
        <% gle_list = std.co_gles.for_grade_level(@grade_level) %>
        <td width = 530px style=" color: #000000; vertical-align:top; padding-left: 11px; font-size:10px" >
					<% for gle in gle_list do -%>	
						<!--<%# evidence_list = ActBench.find(:all, :conditions => ["act_standard_id = ? AND co_gle_id = ?", std.id, gle.id ]) rescue nil %>-->
            <% evidence_list = std.act_benches.for_co_gle(gle) %>
						<% evidence_list = evidence_list.sort_by{|b| [b.act_score_range.upper_score]}-%>
						<strong><%= gle.skill.humanize %></strong><br/>
						<% if @edit_authorized -%>
							<u><%=link_to 'Add Evidence Outcome For GLE', ifa_benchmark_ifa_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :subject_id => @current_subject.id, :std_id => std.id, :gle_id => gle.id, :master_id => master.id, :function => "New") %></u>
						<% end -%>
						 <br>
						<% for ev in evidence_list do -%>						 
							<strong><%= ev.act_score_range.range %></strong>&nbsp;
							<% if @edit_authorized -%>
								<u><%= link_to "Edit", ifa_benchmark_edit_path(:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => ev) %></u>
							<% end -%>
							&nbsp;<u><%= link_to "Statistics", ifa_benchmark_show_path(:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => ev), {:target => "_blank"}  %></u>
							<br/><%= ev.description.humanize %><br/>
						<% end -%>
						<br/>- - - - - -<br/>						
					<% end -%>
 				</td>
 			</tr>
			<% end -%>
		</tbody>
	</table>

	<% else -%>	
		No Knowledge Strands.
	<% end -%>

	<% else -%>	
		No Grade Levels.
	<% end -%>
</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>
<script>
jQ(function(){
jQ('td.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topLeft',
         tooltip: 'bottomLeft'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 350,
	  tip: { // Now an object instead of a string
         corner: 'bottomLeft', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>