<div>
		<table style="width:500px; margin-left:70px; font-size:16px; border:0px solid #ddd; font-weight:bold; color: #2061a5; ">	
			<tbody style="font-size:14px; color: #2061a5;">

				<% video.tlt_sessions.for_observer(observer).each do |ses|%>
					<tr style=" border:1px solid #ddd;">
						<td style="width:60px; border:0px solid #ddd; vertical-align:middle; text-align:center;padding-left:0px">
							<center><%= ses.irr? ? image_tag("black_belt.png", :width => 40): ""%></center>
						</td>	
						<% label = ses.irr? ? "De-Select" : "Select"%>
						<td id="<%=ses.public_id%><%=video.id%>_ses" style="width:100px; border:0px solid #ddd; vertical-align:middle; text-align:center;padding-left:0px">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								<%=label%>
							</span>
						</td>						
						<td style="width:50px; border:0px solid #ddd; vertical-align:middle; text-align:center;padding-top:5px;padding-bottom:5px">
							<span class="fsn-button ui-button ui-state-default ui-corner-all">
								<%= link_to "View", {:controller =>  "/apps/time_learning", :action => "static_itl_session", :organization_id => @current_organization, :tlt_session_id => ses}, {:target => "_blank"}  %>		
							</span>
						</td>					
						<td style=" border:0px solid #ddd; vertical-align:middle; text-align:left;padding-left:10px">
							<%=ses.organization.medium_name%>:&nbsp;<%= ses.session_date.strftime("%b %d, %Y") %>		
						</td>
					</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=ses.public_id%><%=video.id%>_ses').click(function() {
		var url = "<%= url_for :controller => "master/coop_apps", :action => :toggle_blackbelt_session, :organization_id => @current_organization, :tlt_session_id=> ses, :app_id=> app.id %>";
			jQ.get(url, {}, function(data) {
				jQ("#<%=video.public_id%>_blackbelt").html(data);
				jQ("#<%=video.public_id%>_blackbelt").show();
			});
	})
});
</script>
				<% end -%>
			</tbody>
		</table>
<br/>

</div>

