<div id="main_content">
  <div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
    <br/><%= @function %> Applicationx
	</div>
  <%= render :partial => "/shared/error_and_notice" %>
	<% unless @function == "Destroyed" %>	
		<div class="Form clear">	
      <%= form_tag(master_apps_edit_path(:app_id => (@function == "New" ? nil : @app.id), :function=>(@function == "New" ? "Create" : @function)),  :multipart => true ) do |form| %>
        <%= render :partial => "/master/coop_apps/form_coop_app", :locals=>{:function=> @function, :app => @app} %>
      <% end -%>

      <% if @function == "Edit" && !@current_application.available?%>
        <%= form_for(:coop_app, :url => master_apps_edit_path(:app_id => @app.id, :function=>"Destroy")) do |form| %>
          <div class="FormRow submit_warp" style= "padding-left:25px; padding-bottom:20px">
            <%= submit_tag "Destroy", :confirm => "Are you sure?", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
            <br/>
          </div>
        <% end -%>
      <% end -%>
		</div>	
  <% else -%>
    Close Window
  <% end -%>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>

</div>

