<p>

<div class="clear">
	<p style="margin-bottom: 10px; font-weight: bold; font-size: 16px; color:#C73914; float:left;"><%=@classroom.course_name %>&nbsp;Authorizations<p>

</div>

	<div style="margin-bottom: 10px; float-left:">
		<p><%= button_to_remote "Assign More Authorizations", {:update => "classrooms_panel", :url => {:controller => :classrooms, :action => :new_user_authorization, :classroom_id => @classroom, :organization_id => @current_organization}, :method => :get}, :id => "add-role", :class =>"fsn-button ui-button ui-state-default ui-corner-all" %></p>
	</div>

<table id="authorization_levels" class="tablesorter">
	<thead>
		<tr>
			<th>Current Authorizations</th>											
		</tr>
	</thead>
	<tbody>
		<% for authorization_level in @authorization_levels do -%>
		<tr>
			<td class="authorization_levels_close">
				<%= link_to '', :controller => :classrooms, :action => :view_classroom_members, :organization_id => @current_organization, :id => authorization_level, :classroom_id => @classroom, :hide_back_button => true %>
				<%= authorization_level.name.titleize %>
				<span></span>
			</td>
		</tr>
		<% end -%>
	</tbody>
</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>



<br />

<%= button_to_remote 'Back', {:url => {:controller => 'admin/classrooms',:action => 'index', :organization_id => @current_organization},:method => 'get', :update => "classrooms_panel"},:class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
