<h2>Choose the Authorization, Select a Friend, then press "Add"</h2>
<div class="mempro_box clear">
<% form_remote_tag(:url => {:action => :new_user_authorization, :classroom_id => @classroom, :organization_id => @current_organization}, :update => "classrooms_panel") do %>
  <div class="FormRow">
		<div class="FormRowTitle"><%=@classroom.course_name %> Authorization:</div>
		<div class="FormRowData"><%= select_tag :authorization_level, options_for_select(@authorization_levels.collect{|al| [al.name,al.id]}) %> </div>
	</div>
  <div class="FormRow">
		<div class="FormRowTitle">Select Friend:</div>
		<div class="FormRowData">	<%= select_tag :user, options_for_select(@people.collect{|u| [u.full_name, u.id]} )%> </div>
  </div>
  <div class="FormRow submit_warp">
		<%= submit_tag "Add", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>	
  </div>
</div>
<% end %>
<div style="float:left; width:100%; padding:10px; text-align:center;">
<%= link_to "Back", :update => "classrooms_panel", :url => {:controller => :classrooms, :action => :authorization_assignments, :classroom_id => @classroom, :organization_id => @current_organization}, :html => {:class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:3px; text-decoration:none;", :remote=>true, :method => :get}%>
</div>