<p>
  <b>Course name:</b>
  <%=h @classroom.course_name %>
</p>

<p>
  <b>Subject area:</b>
  <%=h @classroom.subject_area.name %>
</p>


<p>
  <b>Status:</b>
  <%=h @classroom.status %>
</p>

<p>
  <b>Organization:</b>
  <%=h @classroom.organization_id %>
</p>
 Function Now Under Classroom App
<br />
<%= button_to 'Back', {:url => {:controller => 'admin/classrooms',:action => 'index', :organization_id => @current_organization},:remote => true,:method => 'get', :update => "classrooms_panel"},:class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
