<%= form_for(@address_type) do |f| %>
  <%= f.error_messages %>

	<div class="MasterItemHeaderDiv">New Address Type</div>
	<table>
		<tr><th style="width:150px;"></th><th></th></tr>
		<tr>
			<td>
				<%= f.label :name %><br />
			</td>
			<td>
				<%= f.text_field :name %>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<%= f.submit 'Create' %>
				&nbsp;&nbsp;
				<%= link_to 'Cancel', address_types_path %>
			</td>
		</tr>
	</table>



<% end %>
