
<div id="rightpane_main">
	<div id="heading" class="main_ep_page_heading" style ="margin-top:0px; margin-left:8px;text-align:left;">
<!--		<%# if blog.blog_type.blog_type == "OD" -%>
			<div id="purpose"></div></br/>
		<%# else -%>
			</br>
		<%# end -%>
-->
	</br>
		<%= blog.title %><br/>	
		<% if blog.blog_type.blog_type == "POV" -%>
			<span style="font-size:12px; font-weight:normal" ><%= blog.users.first.full_name rescue nil %></span>
		<% end -%>
	</div>
		<table  style = "width:650px; padding-top:10px; margin-left:10px; ">
			<tbody>
				<tr>
					<td  class="main_ep_page_text" style = "width:650px; ">
						<%= simple_format blog.description %>
					</td>
				</tr>
			</tbody>
		</table>

	    <div >
			<% blog.blog_posts.active.each do |post| -%>
				<table id="<%= post.public_id %>" class="main_ep_page_subheading"    style="width:650px; margin-left:0px;">
					<tbody>  
						<tr>
							<td class="view_levels_close" style=" cursor:pointer;">
								<%= link_to '', :controller => "fsn", :action => :show_post, :organization_id => @current_organization, :blog_post_id => post.public_id %>
								<%=  post.title %>
								<span></span>
							</td>
						</tr>
					</tbody>
				</table>

	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#<%= post.public_id %> .view_levels_close').toggleViewLevels();
		jQ('#<%= post.public_id %> .view_levels_open').toggleViewLevels();	
	});
	</script>	
	
		<% end -%>
		<br/>
		</div>
</div>
