
		<% unless @current_organization.testimonials.empty? -%>
			<% header_string = @current_organization.testimonials.size == 1 ? "Testimonial" : "Testimonials" -%>
			<div id="testimonials">
		    	<br/>
		    	<table style = "width:340px; margin-left:20px; font-size:10.5px; border:0px">
					<tbody>
						<tr>
							<td class="main_ep_page_subheading" >
								<center><u><%= header_string %></u></center>
							</td>
						</tr>
					</tbody>
				</table>	 
				<% @current_organization.testimonials.each do |tst| -%>
				<table  style = "width:400px; margin-left:40px; font-size:11px; line-height: 1.5em;">
					<tbody>
						<tr>
			        	<% unless tst.picture_file_name.nil? -%>
							<td style = " width:80px; text-align:center; vertical-align:top; padding-top:0px; padding-bottom:0px; font-weight:normal; font-size:10.5px; ">
								<%= image_tag(tst.picture.url,  :width => 65,:alt => " ") -%>
							</td>
						<% else -%>							
							<td style = " text-align:center; vertical-align:bottom; padding-top:0px; padding-bottom:0px; font-weight:normal; font-size:10.5px;">
								&nbsp;
							</td>
						<% end -%>
							<td  class="main_ep_page_subheading" style = " vertical-align:middle; padding-top:0px; padding-bottom:0px; font-weight:bold; font-size:13px;">
								<%= tst.title %> 
								<span style="font-weight:normal; font-size:11.5px"%><%= simple_format tst.description %></span>
							</td>
						</tr>
					</tbody>
				</table>
				<table  id="tst_header_<%= tst.public_id %>" style = "width:400px; margin-left:40px; font-size:11px; line-height: 1.5em;">
					<tbody>
						<tr>
							<td id="tst_show_<%= tst.public_id %>" class="main_ep_page_subheading" style = " vertical-align:top; padding-top:0px; padding-bottom:0px; font-weight:normal; font-size:12px;">
								<span style="font-weight:normal; margin-left:95px; font-size:10px"%><u>View Remarks</u></span>
							</td>
						</tr>					
					</tbody>
				</table>		
				<table  id="tst_descript_<%= tst.public_id %>" style = "width:400px; margin-left:40px; font-size:11px; line-height: 1.5em;">
					<tbody>
						<tr>
							<td id="tst_hide_<%= tst.public_id %>" class="main_ep_page_text" style = " vertical-align:top; padding-top:0px; padding-bottom:0px; font-weight:normal; font-size:12px;">
								<span class="main_ep_page_subheading" style="font-weight:normal; margin-left:95px;font-size:10px"%><u>Roll Up</u></span><br/><br/>
								<% unless tst.blog_posts.active.empty? %>
									<%= simple_format tst.blog_posts.active.first.body %>
								<% end -%>
							</td>
						</tr>					
					</tbody>
				</table>
				<br/>
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#tst_header_<%= tst.public_id %>").show();
		  jQ("#tst_descript_<%= tst.public_id %>").hide();		  

	jQ("#tst_show_<%= tst.public_id %>").click(function() {
		  	jQ("#tst_header_<%= tst.public_id %>").hide();	 
	   		jQ("#tst_descript_<%= tst.public_id %>").slideDown("slow");
	})

	jQ("#tst_hide_<%= tst.public_id %>").click(function() {
	   		jQ("#tst_descript_<%= tst.public_id %>").slideUp("slow");
	   		jQ("#tst_header_<%= tst.public_id %>").show();
	})	
});
</script>
			<% end -%>
		</div>
		<% end -%>
