
<div id="blog_posts" >
<% unless @blog.blog_posts.empty? -%>
	<table style="width:560px; margin-left:00px; border:1px solid #ddd;">
		<thead>
			<tr >
				<th width=50px style="vertical-align:middle; border:1px solid #ddd;  padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					Active
				</th>
				<th width=50px style="vertical-align:middle; border:1px solid #ddd;  padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					Feature
				</th>
				<th style="vertical-align:middle; border:1px solid #ddd;  padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					Display<br/>Position
				</th>				
				<th  width=250px style="vertical-align:middle; border:1px solid #ddd;   padding-left:10px; padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					Blog Posts
				</th>					
				<th width=180px style="vertical-align:middle; border:1px solid #ddd;  padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					Panelist
				</th>
			</tr>
				<% @blog.blog_posts.by_position.each do |post| -%>
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<tr >

				<td  width=50px style="vertical-align:middle; border:1px solid #ddd;  padding-left:17px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					<% if post.is_active %>
						<%= link_to (image_tag "button_enabled.png",:width => 12), blog_admin_post_activate_path(:organization_id => @current_organization, :blog_id => @blog, :blog_post_id => post.public_id, :user_id => @current_user), :class => "toggle_post_activate" %>
					<% else -%>
						<%= link_to (image_tag "button_disabled.png",:width => 12), blog_admin_post_activate_path(:organization_id => @current_organization, :blog_id => @blog, :blog_post_id => post.public_id, :user_id => @current_user), :class => "toggle_post_activate" %>
					<% end -%>
				</td>
				<td width=50px style="vertical-align:middle; border:1px solid #ddd;  padding-left:17px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					<% if post.is_featured %>
							<%= link_to (image_tag "button_enabled.png",:width => 12), blog_admin_post_feature_path(:organization_id => @current_organization, :blog_id => @blog, :blog_post_id => post.public_id, :user_id => @current_user), :class => "toggle_post_feature" %>
					<% else -%>
							<%= link_to (image_tag "button_disabled.png",:width => 12), blog_admin_post_feature_path(:organization_id => @current_organization, :blog_id => @blog, :blog_post_id => post.public_id, :user_id => @current_user), :class => "toggle_post_feature" %>
					<% end -%>
				</td>
				<td width=15px style="border:1px solid #ddd;vertical-align:middle;  padding-top:0px; padding-left:0px; padding-right:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					<%= post.position %>
				</td>			
				<td width=250px style="vertical-align:middle; border:1px solid #ddd;   padding-left:5px; padding-right:5px; padding-top:5px; text-align:left; color: #000000; font-size:11px; line-height: 1.3em; font-weight:normal">
					<% unless post.is_active %>
						<%= link_to 'Delete', blog_admin_post_destroy_path(:organization_id => @current_organization, :blog_id => @blog, :blog_post_id => post.public_id, :user_id => @current_user), :class => "delete_post" %>
						<br/><br/>
					<% end -%>					
					<span style="color:#1b5698;"><center><%= post.title -%></center></span>
					<center><%= pluralize(post.comments.size, ' Comment') %></center><br/>
				</td>					
				<td width=180px style="vertical-align:middle; border:1px solid #ddd;  padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
					<% if post.user -%>
						<%= post.user.full_name %>
					<% else -%>
						<i>Undefined User</i>
					<% end -%>
				</td>
			</tr>				
			<% end -%>					
		</tbody>
	</table>
	<br/><br/><br/><br/>
<% else -%>

			<center>* * * No Blog Postings * * * </center>
			<br/><br/><br/><br/>
<% end -%>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.delete_post').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#blog_posts").html(data);
				jQ("#blog_posts").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_post_activate').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#blog_posts").html(data);
				jQ("#blog_posts").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_post_feature').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#blog_posts").html(data);
				jQ("#blog_posts").show();
			})
			return false;
	})
});
</script>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.post_resequence').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#blog_posts").html(data);
				jQ("#blog_posts").show();
			})
			return false;
	})
});
</script>
