		<% unless @blog.blog_posts.active.empty? -%>
		<% read_more_label = "Read More..." -%>
		<table  style = "width:480px; margin-left:0px; font-weight:normal; font-size:12px; color:<%= @text_color %>">
			<tbody>

				<% if by_panelist -%>	
		
					<% @blog.panelists.each do |panelist| -%>
					<% unless panelist.blog_posts.active.for_blog(@blog).empty? -%> 
					<tr>
						<td style = "width:100px; vertical-align:top: padding-top:0px; padding-bottom:5px; font-weight:normal; font-size:11px; color:<%= @text_color %>">
               				<center><%= read_more_label %></center>
               				<% unless panelist.picture.url.split("/").last == "missing.png" -%>
               			     	<center><%= image_tag panelist.picture.url(:small_thumb) %></center>
							<% end %>
						</td>
						<td style = "width:380px; vertical-align:top; padding-top:15px; text-align:left; font-weight:bold; font-family:Calibri; line-height: 1.2em; font-size:13px;  color:<%= @post_title_color %>">
	            			<% panelist.blog_posts.active.for_blog(@blog).each do |post| -%>
	            				- <a class="blog_post_link"  href="<%= url_for( :controller => "site/blogs", :action => "show" , :blog_id => @blog ) %>">
	            				<%= post.title %>
	            			</a>
	            				<br/>
	            			<% end -%>
						</td>
					</tr>
					<% end -%>
					<% end -%>
				<%else -%>

					<tr>
						<td style = "width:100px; vertical-align:top: padding-top:0px; padding-bottom:5px; font-weight:normal; font-size:11px; color:<%= @text_color %>">
							<center><%= read_more_label %></center>
						</td>
						<td style = "width:380px; vertical-align:top; padding-top:15px; text-align:left; font-weight:bold; font-family:Calibri; line-height: 1.2em; font-size:13px;  color:<%= @post_title_color %>">
							<% @blog.blog_posts.active.each do |post| -%>
	            				- <a class="blog_post_link"  href="<%= url_for( :controller => "site/blogs" , :action => "show" , :blog_id => @blog ) %>">
	            				<%= post.title %>
	            			</a>
	            				<br/>
							<% end -%>
						</td>
					</tr>
						
				<% end -%>					
					
				</tbody>
			</table>
		<% end -%>