	
<div id="panel_listing" >
	<div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:normal">
		<%= @current_organization.provider_app_name(@current_application) %>&nbsp;Panelists
		<span style = "text-align:center; word-wrap:break-word; color: #C83A14;  font-size: 10px; font-style: normal; font-weight: normal">
			<br/>(Defined By <%= @current_organization.short_name %>&nbsp;Administrator)
		</span>
	</div>
	<% unless @current_organization.bloggers.empty? %>	
		<% @current_organization.bloggers.each do |panelist| -%>
			<table id="blogger_<%= panelist.public_id %>"   style="border:0px solid #ddd; width:700px; margin-left:100px;">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
              <%= link_to '', blog_admin_panelist_show_path(:organization_id => @current_organization, :panelist_id => panelist) %>
              <%= panelist.last_name %>
              <span></span>
						</td>
					</tr>
				</tbody>
			</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#blogger_<%= panelist.public_id %> .resource_levels_close').toggleResourceLevels();
			jQ('#blogger_<%= panelist.public_id %> .resource_levels_open').toggleResourceLevels();	
		});
		</script>
		<% end -%>
	<% else -%>
	
	  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 13px; font-style: normal; font-weight: normal">
				<br/><br/>
				* * * No Panelists * * * 
				<br/><br/><br/><br/>
		</div>
	<% end -%>

</div>
