<div id="mainContent">
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> UPDATE <%= @current_organization.name.upcase %> BLOG</center></strong>
	<br/>
</div>
	<%= render :partial => "/shared/error_and_notice" %>
	<% form_tag({:controller => "apps/blogs", :action => :add_blog_flash, :organization_id => @current_organization, :blog_id => @blog.public_id,  :user_id => @current_user, :function => "Update"}, :multipart => true) do -%>
	<div class="FormRow">
		<div class="FormRowTitle">Optional Image or Flash</div>
        <div class="FormRowData" style= "margin-left:25px">
  		    <%= file_field :blog, :picture %>
 		 </div>
	 </div>
	<div class="FormRow">
        <div class="FormRowData" style= "margin-left:305px">
		<%= submit_tag "Save File", :class => "fsn-button ui-button ui-state-default ui-corner-all", :onclick => "this.form.submit();"%>
		</div>
	</div>
  <% end -%>
	<% unless @blog.picture_file_name.nil? %>
		<% form_tag({:controller => "apps/blogs", :action => :remove_blog_flash, :organization_id => @current_organization, :blog_id => @blog.public_id, :user_id => @current_user, :function => "Remove"}) do -%>
		<div class="FormRow">
	        <div class="FormRowData" style= "margin-left:305px">
			<%= submit_tag "Remove File", :class => "fsn-button ui-button ui-state-default ui-corner-all", :onclick => "this.form.submit();"%>
			</div>
		</div>
	  	<% end -%>

	<div class="FormRow">
        <div class="FormRowData" style= "margin-left:305px">
  	<table id="blog_pic" style="width:200px;margin-left:0px">
		<tbody>
			<% pic_label = " Show File" -%>
			<tr>
				<td class="resource_levels_close">
				<%= link_to '', :controller => "apps/blogs", :action => :show_blog_flash, :organization_id => @current_organization, :blog_id => @blog, :user_id => @current_user  %>
				<%= pic_label %>
					<br/>  	<br/>
				<span></span>
				
				</td>
			</tr>
		</tbody>
	</table>
  	</div>
  	</div>
  	<br/>
  	<br/>
  	<% end -%>
  	
<%= form_for(:blog, :url => {:controller => "/apps/blogs", :action => :edit_blog, :organization_id => @current_organization, :blog_id => @blog, :user_id => @current_user, :function => "Update"}) do |form| -%>
	<div class="FormRow">
		<div class="FormRowTitle"></div>

			<div class="FormRowData" style= "margin-left:25px">

			</div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle">Title:</div>
        <div class="FormRowData" style= "margin-left:25px">
         <%= text_field :blog, :title, :size => 55, :maxlength => 150 %>
        </div>
    </div>
	<div class="FormRow">
		<div class="FormRowTitle"></div>
			<div class="FormRowData" style= "margin-left:25px">
			</div>
	</div>
	<br/>

	<div class="FormRow">
		<div class="FormRowTitle">Brief Overview:</div>
			<div class="FormRowData" style= "margin-left:25px">
   			  <%= text_area :blog, :description, :rows => 20, :cols => 75 %>
			</div>
	</div>

	<div class="FormRow" style="position: relative;">
			<div class="FormRowTitle">Type Of Blog:</div>
				<div class="FormRowData" style= "margin-left:25px">
					<%=  select(:blog, :blog_type_id, BlogType.all(:order => "id").collect{|b| [b.label, b.id]})  %>
				</div>
		</div>
	<br/>

	<div class="FormRow" style="position: relative;">
		<% prompt = @blog.coop_app ? @blog.coop_app.abbrev : "Select App"-%>
		<% value = @blog.coop_app ? @blog.coop_app.id : ""-%>
			<div class="FormRowTitle">Application</div>
				<div class="FormRowData" style= "margin-left:25px">
					<%=  select(:coop, :app,  @current_organization.provided_apps_blogable.sort_by{|a| a.abbrev}.collect{|b| [b.abbrev, b.id]}, :prompt => prompt)  %>

				</div>
		</div>
	<br/>

	<br/>
	   	<div class="FormRow">
			<div class="FormRowTitle">Allow User Comments?</div>
				<div class="FormRowData" style= "margin-left:25px">
					<%= check_box :blog, :is_commentable %>
				</div>
		</div>
	   	<div class="FormRow">
			<div class="FormRowTitle">Position</div>
				<div class="FormRowData" style= "margin-left:25px">
					<%= text_field :blog, :position, :value=>@blog.position, :size => 2, :maxlength => 2 %>
				</div>
		</div>

		<div class="FormRow submit_warp">
			<br/>
			<%= submit_tag "Update Info", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
<% end -%>
<div id="panel_enable_table" class="FormRow">
	
	<%= render :partial => "add_to_panel" %>

</div>

<div id="blog_posting_summary" class="FormRow">
	
	<%= render :partial => "blog_post_listings" %>

</div>
</div>
<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>

<script type="text/javascript">		
	jQ(document).ready(function() {
//		var AUTH_TOKEN = "<%= protect_against_forgery? ? form_authenticity_token : '' %>";
//		jQ.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
		jQ("form.ajax").submit(function() {
			var action = jQ(this).attr("action");					
			jQ("textarea.mceEditor", this).each(function() {
				jQ(this).val(tinyMCE.get(this.id).getContent());
			});
			var post_data = $(this).serialize()
		  jQ.post(action, post_data, function(data) {
				jQ("#reading_form").html(data);
			});

	    return false;
	  });

	})
</script>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#blog_pic .resource_levels_close').toggleResourceLevels();
	jQ('#blog_pic .resource_levels_open').toggleResourceLevels();	
});
</script>