<div id="main_content">
  <div style="text-align:center;  padding-top:10px; word-wrap:break-word; color: #C83A14;  font-size: 16px; font-style: normal; font-weight: bold">
    <%= @current_organization.app_provider(@current_application).short_name %>&nbsp;<%= @current_organization.provider_app_name(@current_application) %>
  </div>
		<% if @current_organization.provider?(@current_application)%>
      <div style="float:none;width:96.7%;" class="mempro_box clear" style="margin-left:00px;">
				<div id="centerpane_appl">			
					<div id="blog_box">
						<% @current_organization.provided_apps_blogable.each do |app| %>
            <!--    <%# @current_organization.blogs.for_app(app).collect{|b| b.blog_type}.uniq.each do |b_type| -%>
							-->
                <% BlogType.by_position.each do |b_type| -%>
                <table id="<%=app.public_id %>_<%=b_type.public_id%>"   style="border:0px solid #ddd; width:840px; margin-left:40px;">
										<tbody>  
											<tr>
												<td class="resource_levels_close">
                          <%= link_to '', blog_admin_show_path(:organization_id => @current_organization, :blog_type_id => b_type, :blog_app => app) %>
                          <%= app.abbrev -%>:&nbsp;<%= b_type.label %>
                          <span></span>
												</td>
											</tr>
										</tbody>
									</table>
									<script type="text/javascript" charset="utf-8">
									jQ(document).ready(function() {
										jQ('#<%=app.public_id %>_<%=b_type.public_id%> .resource_levels_close').toggleResourceLevels();
										jQ('#<%=app.public_id %>_<%=b_type.public_id%> .resource_levels_open').toggleResourceLevels();	
									});
									</script>
								<% end -%>
							<% end %>	
 		    		</div>
				</div>
      </div>
	
		  <div id="control_panel" >
		   <ul>
		      <li>
				    <%  tab_1_label = "Posting Activity" %>
		        <a href="#tabs-1"><span class="tab_label">
            <%= tab_1_label %></span></a>
          </li>
          <li>
            <%  tab_6_label = "Panelists" %>
            <a href="#tabs-6"><span class="tab_label">
            <%= tab_6_label %></span></a>
          </li>
          <% if @current_user.blog_admin_for_org?(@current_organization) -%>
            <li>
              <%  tab_7_label = "Surveys" %>
              <a href="#tabs-7"><span class="tab_label">
              <%= tab_7_label %></span></a>
            </li>
            <li>
              <%  tab_9_label = "Options" %>
              <a href="#tabs-9"><span class="tab_label">
              <%= tab_9_label %></span></a>
            </li>
          <% end -%>
       </ul>
			  <div id="tabs-1" class="favorite_organizations" style="width:900px">
	    		<%= render :partial => "/apps/blogs/panel_activity" %>
		   	</div>
  			<div id="tabs-6" class="favorite_organizations" style="width:900px">
	    		<%= render :partial => "/apps/blogs/panelist_listings" %>
		   	</div>
        <% if @current_user. blog_admin_for_org?(@current_organization) -%>
          <div id="tabs-7" class="favorite_organizations" style="width:900px">
            Surveys
          </div>
          <div id="tabs-9" class="favorite_organizations" style="width:900px">
  <!--
              <%#= render :partial => "/apps/blogs/manage_options", :locals=>{:app=>@current_application} %>
  -->			</div>
        <% end -%>
      </div>
		<% else -%>
	    <br/></br/>
  	  <div style="text-align:center;  padding-top:10px; word-wrap:break-word; color: #2061a5;  font-size: 14px; font-style: normal; font-weight: normal">
		    * * * <%= @current_organization.short_name %> Is Not A <%= @current_organization.provider_app_abbrev(@current_application) %> Provider * * *
	    </div>
      <br/></br/>
  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>


