<%= error_messages_for :submission %>

<p>
	<%= label_tag 'act_submission_id', 'ID:' %>
	<%= text_field :submission, :id %>
</p>
<p>
	<%= label_tag 'act_subject_id', 'Subj_id:' %>
	<%= text_field :submission, :act_subject_id %>
</p>
<p>
	<%= label_tag 'act_assessment_id', 'Assessment_id:' %>
	<%= text_field :submission, :act_assessment_id %>
</p>
<p>
	<%= label_tag 'classroom_id', 'classroom_id:' %>
	<%= text_field :submission, :classroom_id %>
</p>
<p>
	<%= label_tag 'teacher_id', 'Teacher ID:' %>
	<%= text_field :submission, :teacher_id %>	
</p>
<p>
	<%= label_tag 'organization_id', 'Org ID:' %>
	<%= text_field :submission, :organization_id %>	
</p>
<p>
	<%= label_tag 'is_final', 'Is Final:' %>
	<%= text_field :submission, :is_final %>	
</p>
<p>
	<%= label_tag 'upper_score_bound', 'Upper Score:' %>
	<%= text_field :submission, :upper_score_bound %>	
</p>

<p>
	<%= label_tag 'lower_score_bound', 'Lower Score:' %>
	<%= text_field :submission, :lower_score_bound %>	
</p>
<p>
	<%= label_tag 'est_sms', 'Estimate SMS:' %>
	<%= text_field :submission, :est_sms %>	
</p>
<p>
	<%= label_tag 'final_sms', 'Final SMS:' %>
	<%= text_field :submission, :final_sms %>	
</p>