<div class="formBox">
	<h2>Enter Record ID Range To Update</h2>
	<% form_for (:q_log, :url => {:controller => "/master/act_submissions", :action => :q_log_student_csap}) do |form|%>

<p>
	<%= label_tag 'begin_id', 'Begining ID:' %>
	<%= text_field :q_log, :b_id %>
</p>
<p>
	<%= label_tag 'end_id', 'Ending ID:' %>
	<%= text_field :q_log, :e_id %>
</p>
	<p>
		<%= submit_tag "Update", :class => "submit fsn-button ui-button ui-state-default ui-corner-all" %> 
	</p>
	<% end %>	
</div>