<h2>Listing merchant_accounts</h2>
<%= link_to 'New merchant_account', new_master_merchant_account_path %>
<table>
	<thead>
  <tr>
    <th>Organization</th>
    <th>Name</th>
    <th>Description</th>
    <th>Gateway type</th>
    <th>Gateway partner</th>
    <th>Gateway login</th>
    <th>Gateway password</th>
    <th>Gateway certification</th>
  </tr>
   </thead>
	 <tbody>
<% @merchant_accounts.each do |merchant_account| %>
  <tr>
    <td><%=h merchant_account.organization_id %></td>
    <td><%=h merchant_account.name %></td>
    <td><%=h merchant_account.description %></td>
    <td><%=h merchant_account.gateway_type %></td>
    <td><%=h merchant_account.gateway_partner %></td>
    <td><%=h merchant_account.gateway_login %></td>
    <td><%=h merchant_account.gateway_password %></td>
    <td><%=h merchant_account.gateway_certification_id %></td>
    <td><%= link_to 'Show', [:master,merchant_account] %></td>
    <td><%= link_to 'Edit', edit_master_merchant_account_path(merchant_account) %></td>
    <td><%= link_to 'Destroy', [:master,merchant_account], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

