<div style="margin-top: 15px;margin-bottom: 5px;"><%= title %></div>
<table id="<%= title.underscore %>" class="tablesorter">
	<thead>
		<tr>
			<th>Title</th>
			<th>Created By</th>
			<th>Posts</th>
			<th>Start</th>
			<th>Stop</th>
			<% if title == "Active Topics" -%>
			<th>Featured on iWing</th>
			<% end -%>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% for topic in topics do -%>
		<tr>
			<th><%= topic.title %></th>
			<th><%= topic.organization.name %></th>
			<th><%= topic.discussion_count %></th>
			<th><%= topic.publish_starts_at ? topic.publish_starts_at.to_date.to_s(:db) : "N/A" %></th>
			<th><%= topic.publish_ends_at ? topic.publish_ends_at.to_date.to_s(:db) : "N/A" %></th>
			<% if title == "Active Topics" -%>
			<th><%= radio_button_tag "featured", topic.public_id, @current_organization.featured_topic == topic, :class => "featured_on_iwing" %></th>
			<% end -%>
			<th>
				<%= button_to_remote "Edit", {:update => "topics_panel", :url => {:controller => :topics, :action => :edit, :organization_id => @current_organization, :id => topic}, :method => :get}, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
				<% if topic.can_be_deleted? -%>
				<%= button_to_remote "Delete", {:update => "topics_panel", :url => {:controller => :topics, :action => :destroy, :organization_id => @current_organization, :id => topic}, :confirm => 'Are you sure?', :method => :post}, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
				<% end -%>
			</th>
		</tr>
		<% end -%>
	</tbody>
</table>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
  jQ("#<%= title.underscore %>").tablesorter({ 
     headers: { 
         // we start counting at zero
         5: { 
             // disable it by setting the property sorter to false 
             sorter: false 
         }
     } 
  });
  <% if title == "Active Topics" -%>
  jQ(".featured_on_iwing").change(function() {
  	//alert("are you sure?" + jQ(this).attr("value"));
	jQ.post("<%= url_for(:controller => :topics, :action => :update_featured_topic, :organization_id => @current_organization) %>", { id: jQ(this).attr("value") } );
  });
  <% end -%>
});
</script>