

<div style="text-align:left;"><span style="color:#c73914;">Already Registered? Click <a href="/site">Cancel</a></span></div>
<br /><br />
<div style="text-align:left;"><span style="margin-left:85px; color:#c73914;">All Fields Required</span></div>
<br />

 <div style="width:700px; text-align:right;">
    <div class="FormRow">
        <div class="FormRowTitle">
            First Name:
        </div>
        <div class="FormRowData">
            <%= text_field :user, :first_name, :class=>"text", :size=>"50" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Last Name:
        </div>
        <div class="FormRowData">
            <%= text_field :user, :last_name, :class=>"text", :size=>"50" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Email Address:
        </div>
        <div class="FormRowData">
            <%= text_field :user, :email_address, :class=>"text", :size=>"50" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Verify Email Address: 
        </div>
        <div class="FormRowData">
            <%= text_field :user, :email_address_confirmation, :class=>"text", :size=>"50" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            School Affiliation: 
        </div>
			<% org = @user.organization.nil? ? @current_organization : @user.organization%>
			<div class="FormRowData">
				<%=  select(:user, :home_org_id, Organization.all(:order => "name").collect{|o| [o.name, o.id]}, :prompt => org.medium_name)  %>
			</div>
    </div>
    <!-- <div class="FormRow">
        <div class="FormRowTitle">
            Date of Birth: 
        </div>
        <div class="FormRowData">
			<%= date_select(:user, :date_of_birth, :order=>[:month, :day, :year], :start_year => 1930, :end_year => Time.now.year-13)%>
			<div>
			<a href="/" id="help_birthday">Why do we need this?</a>
			</div>
        </div>
    </div> -->

    <div class="FormRow">
        <div class="FormRowTitle">
            Password:
        </div>
        <div class="FormRowData">
            <%= password_field :user, :password, :class=>"text", :size=>"50" %>
            <p class="smallPrint">
                Minimum 7 Characters. Numbers/Letters Only. Case Sensitive.
            </p>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Verify Password:
        </div>
        <div class="FormRowData">
			<%= password_field :user, :password_confirmation, :class => "text", :size => "50", :value => "" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            &nbsp;
        </div>
        <div class="FormRowData">
<!-- Remove Country Field Entry
			<%#= localized_country_select(:user, :country, [], :include_blank => 'Please choose...') %>
-->
			<input type="hidden" name="user[country]" value="US" />


        </div>
    </div>	
    <div class="FormRow">
		<div class="FormRowTitle">&nbsp;</div>
		<div class="FormRowData">
		  <%= show_simple_captcha %>
		</div>
	</div>
	
	<!-- ALK
	<% unless @current_user.nil? -%>
    <div class="FormRow">
        <div class="FormRowTitle">
            Your Religious Affiliation, if any:
        </div>
        <div class="FormRowData">
            <%#= text_field  :user, :religious_affiliation_id, :id => "select_religious_affiliation", :class=>"text" %>
        </div>
    </div>
	<% end -%> -->
    <div class="FormRow" style="text-align:center;">
            &nbsp;
    </div>	
    <div class="FormRow" style="text-align:left;">
        <div class="FormRowTitle">
            &nbsp;
        </div>
        <div class="FormRowData">
            <%= check_box  :user, :age_verified %>
            I verify that I am 14 years of age or older.
            <br/>
            <br/>
            <%= check_box :user, :read_tos %>
            I have read and understand the Escent
			<%= link_to 'Terms of Service', {:controller => :fsn, :action => 'terms'}, :target => '_blank' %> .
        
            <p class="smallPrint" style="padding-left:17px;">
                Your email address will not be shared. See <%= link_to 'Privacy Policy', {:controller => :fsn, :action => 'privacy'},  :target => '_blank' %>
            </p>
        </div>
    </div>
    <div class="FormRow" style="text-align:center;">
            &nbsp;
    </div>
    <div class="FormRow" style="text-align:center;">
            &nbsp;
    </div>
</div>

