<div class="row registration_header" >
  <div class="col-md-7 ">
    Already Registered? <a href= <%= organization_view_path(:organization_id => @current_organization)%>>Cancel</a>
  </div>
  <div class="col-md-5"></div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    First Name:
  </div>
  <div class="col-md-9">
    <%= text_field :user, :first_name, :class=>"registration_form_box", :size=>"50" %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Last Name:
  </div>
  <div class="col-md-9 ">
    <%= text_field :user, :last_name, :class=>"registration_form_box", :size=>"50" %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Email Address:
  </div>
  <div class="col-md-9">
    <%= text_field :user, :email_address, :class=>"registration_form_box", :size=>"50" %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Verify Email:
  </div>
  <div class="col-md-9 ">
    <%= text_field :user, :email_address_confirmation, :class=>"registration_form_box", :size=>"50" %>
  </div>
</div>
<% if !org_list.empty? %>
  <div class="row registration_form" >
    <div class="col-md-3 registration_form_label">
      School:
    </div>
    <div class="col-md-9">
      <% org = @user.organization.nil? ? @current_organization : @user.organization%>
      <%=  select(:user, :organization_id, org_list.collect{|o| [o.name, o.id]}, :selected => org.id, :class=>"registration_form_box", :prompt => org.medium_name)  %>
    </div>
  </div>
<% end %>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Password:
  </div>
  <div class="col-md-9 ">
    <%= password_field :user, :password, :class=>"registration_form_box", :size=>"50", :placeholder=>'Minimum 7 Characters' %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label"></div>
  <div class="col-md-9 ">
    <%= password_field :user, :password_confirmation, :class => "registration_form_box", :size => "50", :placeholder=>'Confirm Password' %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Guardian Name:
  </div>
  <div class="col-md-4">
    <%= text_field :user_guardian, :first_name, :placeholder => 'First Name', :class=>"registration_form_box", :size=>"20" %>
  </div>
  <div class="col-md-5">
    <%= text_field :user_guardian, :last_name, :placeholder => 'Last Name', :class=>"registration_form_box", :size=>"30" %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Guardian Email:
  </div>
  <div class="col-md-9">
    <%= text_field :user_guardian, :email_address, :placeholder => 'name@example.com', :class=>"registration_form_box", :size=>"50" %>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-3 registration_form_label">
    Guardian Phone:
  </div>
  <div class="col-md-9">
    <%= text_field :user_guardian, :phone, :placeholder => 'xxx-xxx-xxxx', :class=>"registration_form_box", :size=>"15" %>
  </div>
</div>
<input type="hidden" name="user[country]" value="US" />
<% captcha = captcha_pick %>
<% if !captcha.nil? %>
  <div class="row registration_form" >
    <div class="col-md-3 registration_form_captcha">
      <%= image_tag captcha.image(:thumb) %>
    </div>
    <div class="col-md-9 ">
      <div class="row">
        <%= text_field :access, :registration_code, :class=>"registration_form_box", :size=>"15" %>
      </div>
      <div class="row registration_captcha_prompt">
        What's in the picture?
      </div>
    </div>
  </div>
  <input type="hidden" name="captcha_id" value= <%= captcha.id %> />
<% end %>
<div class="row registration_form" >
  <div class="col-md-2"></div>
  <div class="col-md-10 ">
    <%= check_box  :user, :age_verified %>
    <span class="registration_check">I verify that I am 14 years of age or older.</span>
  </div>
</div>
<div class="row registration_form" >
  <div class="col-md-2"></div>
  <div class="col-md-10 ">
    <%= check_box :user, :read_tos %><span class="registration_check">I have read and understand the
    <%= link_to 'Terms of Service', terms_path, :target => '_blank' %>.</span>
  </div>
</div>
