<%= form_tag user_forgot_password_path(:organization_id => @organization) do -%>
  <div style="width:500px;">
    <div class="title_large_blue" style="margin-bottom:10px;">
        FORGOT YOUR PASSWORD?
    </div>
    <div class="normal" style="margin-bottom:10px;">
        No need to worry. Please fill out the information below and we will send you a new one.
    </div>
    <div >
      <%= render :partial => "/shared/error_and_notice" %>
      <br/>
      <div class="form_container">
        <table style="text-align:center; width:100%; margin:10px 0px 10px 0px;">
          <tbody>
          <tr>
            <td style='width:50%'>
              <% if @user -%>
                  Go To: <%= link_to @user.organization.name,organization_view_path(:organization_id => @user.organization) %>
              <% else -%>
                  <input  style="font-size:14px; margin-top:20px;" type=button value="Cancel" onClick="history.go(-2)">
              <% end -%>
            </td>
            <td style='width:50%; '>
              <%= submit_tag 'Reset Password' %>
            </td>
          </tr>
          <tr>
              <td style='width:50%'>
                &nbsp;
              </td>
              <td style='width:50%'>
                Your Login ID: <%= text_field :user, :email_address, :class => "text" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end -%>