<div id="mainContent">

  	<div style="text-align:center;  word-wrap:break-word; overflow:hidden; color: #C83A14;  font-size: 16px; font-style: italic; font-weight: bold">
			<center><%= simple_format @user.philosophy %></center>
	</div>
		<!-- ALK Addition 
			<div style="width:650px;word-wrap:break-word; overflow:hidden; margin-top:10px;margin-right:100px">
				<em style="color: #C83A14; text-align:center; font-size:18px;font-style: italic; font-weight: bold;"><%= simple_format @user.philosophy %></em>
			</div> -->
				
	<%# image_tag "title_member_profile.gif" %>
	
	<div style="float:none;width:97%;" class="mempro_box clear">
   	<!-- ALK if user is logged in, Show either Edit Profile or Send message -->
	<% if @current_user -%>
	<% unless @current_user == @user %>
	 <p style="float:right; word-wrap:break-word; overflow:hidden;"><a id="send_message_link" href="#">Send <%= @user.full_name %> a message</a></p>
		      <br />
		      <div id="send_message_form" style="display:none">
		        <%= form_tag %>
		        <!-- ALK Take out Label
				<label for="message_content">Message: &#160;</label> -->
				<textarea id="message_content" name="message[content]" cols="40" rows="5"></textarea>
						<input type="hidden" name="message[user_id]" value="<%= @user.id %>">
						<input type="hidden" name="message[sender]" value="<%= @current_user.full_name %>">					
						
				<input type="submit" class="submit" value="Send Message" /> <br /><br />
		        </form>
		      </div>
		      <div id="send_message_succefully" style="display:none">
		        Message sent successfully.
		      </div>
	<% end %>
	<% end %>
    <!-- <h3 class="title_profile_large">Member Information</h3> -->
    <div id="member_ico">
      <% if @user.picture.url.split("/").last == "missing.png" %>
        <%= image_tag "member_ico.gif" %>
      <% else %>
        <%= image_tag @user.picture.url(:thumb) %>
      <% end %>
    </div>
    <div id="member_info">
			<div style="float:left; width:430px;">
	      <p class="name" style="width:530px; word-wrap:break-word; overflow:hidden; font-size:18px" > <%= @user.full_name %> <br/></p>
		 <!-- ALK include user-defined Website Label -->
		  <p class="moreinfo" > 
		  	<%= link_to( @user.website_referred_as, @user.personal_url,{'target' => 'blank'}) unless @user.personal_url.nil? || @user.personal_url.empty?%></p>
	      <p class="contactinfo"> 
		  <% if @user.display_emai_and_phone == true %>
		  		Email: <%= @user.preferred_email %> <br />
				<%= @user.phone %>
			<% end %>
			</p>
			<!-- ALK end of addition -->
			
		  <p class="locationinfo">
          <% if @user.country == "US" -%>
					<%= User::STATES.find { |n, m| m == @user.state_province }[0] rescue nil%>
					<%  unless @user.state_province.nil?-%> <%= "," %> <% end %>
					<% end -%>
			<%= @user.country.blank? ? "-&nbsp" : I18n.t(@user.country, :scope => 'countries') %><br />
				</p>
			

					<p class="homeorginfo_label"> 
					<% if @user.organization.nil? %> ** Home Organization Removed **
						<%elsif @user.organization.logo.file? %><br/><%= link_to (image_tag @user.organization.logo.url :small_thumb), :controller => "/site/site", :action => :static_organization, :organization_id => @user.organization -%><% end %>
					<% if @user.organization %><%=@user.organization.name %>

						<div style="width:700px;  font-size: 10px;  ">
							<% unless @classroom_lead.empty?%>
								<% need_label = true%>
								<% @classroom_lead.each do |c| %>
									<% if (c.organization.id == @user.home_org_id && need_label) then%>
									<strong>Teacher:&nbsp;&nbsp;</strong> <% need_label = false %><% end %>
									<% if c.organization.id == @user.home_org_id %>
									<% room_org = Organization.find_by_id(c.organization_id)%>
									<%= link_to h(c.course_name),:controller => "/site/site", :action => :static_classroom, :organization_id => room_org, :id => c %> &nbsp;
									<% end %>
								<% end %> <br/>
							<% end %>
							<% unless @classroom_participate.empty?%>
								<% need_label = true%>
								<% @classroom_participate.each do |c| %>
									<% if (c.organization.id == @user.home_org_id && need_label) then%>
									<strong>Student:&nbsp;&nbsp;</strong> <% need_label = false %><% end %>
									<% if c.organization.id == @user.home_org_id %>
									<% room_org = Organization.find_by_id(c.organization_id)%>
									<%= link_to h(c.course_name),:controller => "/site/site", :action => :static_classroom, :organization_id => room_org, :id => c %> &nbsp;
									<% end %>
								<% end %> <br/>
							<% end %>
							<% unless @classroom_favs.empty?%>
								<% need_label = true%>
								<% @classroom_favs.each do |c| %>
									<% if (c.organization.id == @user.home_org_id && need_label) then%>
									<strong>Observer:&nbsp;</strong> <% need_label = false %><% end %>								
									<% if c.organization.id == @user.home_org_id %>
									<% room_org = Organization.find_by_id(c.organization_id)%>
									<%= link_to h(c.course_name),:controller => "/site/site", :action => :static_classroom, :organization_id => room_org, :id => c %> &nbsp;
									<% end %>
								<% end %> <br/>
							<% end %>						
						</div>


			<% end %>
			<p class="interestinfo_label">					
			<% unless @user.credentials.nil? -%>
				<% unless @user.credentials.empty? %><br/> Credentials: </p>
			<p class="interestinfo">
				<%= simple_format @user.credentials %>
				<% end %>
				<% end %>
			</p>
			<br />

			
		</div>	
    </div>
  </div>
  <div id="control_panel" >
 
   <ul>

	  <li>
        <a href="#tabs-4"><span class="tab_label">
		<%= pluralize(@resource_favs.size, 'Tagged Resource')%></span></a>								
      </li>

      <li>
      	<% all_classrooms = @classroom_lead + @classroom_participate + @classroom_favs %>
		
		<a href="#tabs-1"><span class="tab_label">
		<%= pluralize(all_classrooms.size, 'Classroom Connection') %></span></a>				
		</li>

      <li>
        <a href="#tabs-2"><span class="tab_label">
		    <%= pluralize(@org_connects.size, 'Organization Connection') %></span></a>
      </li>

	    <li>
	    <% tot_colleague_connects = @colleagues.size + @followers.size %>
        <a href="#tabs-3"><span class="tab_label">
		<%= pluralize(tot_colleague_connects, 'Colleague Connection')%></span></a>								
      </li>

    </ul>

	
	<div id="tabs-4" class="favorite_organizations" style="width:900px">
  	<br/><span style = "margin-left:50px; text-align:center; font-weight:bold; font-size:14px; color:#C83A14"> 
		<center><% if @resource_favs.size.zero? %> * * <%=@user.first_name %> Has No Tagged Resources * *
		<% else %><%=@user.first_name %> Has <%= pluralize(@resource_favs.size, 'Tagged Resource')%> Below 
		</center></span><br/>
			<table class="tablesorter" style= "border:1px solid #ddd;">
			<thead></thead>
			<tbody>
			<% for resource in @resource_favs do -%>
			<% unless resource.nil? %>
				<tr> 
				<td width=200 style="text-align:center; vertical-align:middle; font-size: 12px; padding-top:8px; padding-bottom:10px; border:1px solid #ddd;" %>
				<strong><%= link_to resource.title.titleize,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => resource}%></strong><br/>

				<% unless resource.organization.nil? %>
					<% if resource.organization.logo.file? %><%= link_to (image_tag resource.organization.logo.url :small_thumb), :controller => "/site/site", :action => :static_organization, :organization_id => resource.organization -%>
					<% elsif resource.organization.name?%><%= link_to resource.organization.name, :controller => "/site/site", :action => :static_organization, :organization_id => resource.organization %>
					<% end %>
				<% end %>
				</td>
				<td width=510 style=" vertical-align:middle; border:1px solid #ddd;">
				<span style="color:#C83A14"><center><strong><%= resource.subject_area.name.humanize if resource.subject_area %> <%= resource.content_resource_type.name.humanize if resource.resource_type %></strong></center></span>
				<center><%= resource.description %></center>
				<center><span style="font-size:10px; font-weight:bold">
				Contributed <%= time_ago_in_words(resource.created_at.to_s, include_seconds = false) %> ago
				<% unless resource.user.id.nil?%>
						by <%= link_to resource.user.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => resource.user} %>	
				<% end %></span></center>			 
				</td>		
				<td> 
				<span style=" text-align:center; padding-top:10px; vertical-align:middle; font-weight:bold; font-size:10px; border:1px solid #ddd;">
				<% unless resource.content_object_type.nil? %>
				  <%=resource.content_object_type.content_object_type_group.name.downcase %><br/>
				<% end %>
          <%= pluralize(resource.views, 'View') %><br/>
	  			<% unless resource.star_rating.nil?%><%=resource.star_rating.rating %> Rating <br/>
	  				<%= pluralize(resource.star_rating.votes, 'Vote') %><br/>
				<% end %>
				Favorite Of <%=pluralize(resource.favorite_of.size, 'Person')%></span>
				</td>
			</tr>
			<% end %>	
		<% end %>
	</tbody>
	</table>				
	<% end %>  
   </div>
	

    <div id="tabs-1" class="favorite_organizations" style="width:900px; margin-left:20px;">

		<% if all_classrooms.size.zero?%> <span style="margin-left:50px; font-size:14px; font-weight:normal"><br/>
    		<i> * * No Classroom Connections * * </i></span>
	    		<% else %>
		<table class="tablesorter" style= "border:1px solid #ddd;">
		<thead></thead>
			<tbody>
			<% all_classrooms.uniq.each do |c|%>
			<tr> 
			<td width=25% style="vertical-align:middle; font-size: 12px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" >
				<center>
				<% if c.teachers.include?(@user)%> <span style="font-size:10px; font-weight:bold"><%= @user.first_name%> is a Teacher<br/><br/></span>
					<% elsif c.participants.include?(@user)%><span style="font-size:10px; font-weight:bold"><%= @user.first_name%> is a Participant<br/><br/></span>
						<% elsif c.observers.include?(@user)%><span style="font-size:10px; font-weight:bold"><%= @user.first_name%> is an Observer<br/><br/></span>
				<% end %>
				<% if c.organization.logo.file? %><%= link_to (image_tag c.organization.logo.url :small_thumb), :controller => "/site/site", :action => :static_organization, :organization_id => c.organization-%> <% end %>
				<span style="font-size:12px; "><%= link_to c.organization.name, :controller => "/site/site", :action => :static_organization, :organization_id => c.organization %> </span><br/>				
				<span style="font-size:14px; color: #C83A14; font-weight:bold" >
				<% room_org = Organization.find_by_id(c.organization_id) %>
				<% link_string = c.subject_area.name + ": " + c.course_name%>
				<%= link_to link_string, {:controller => "site/site", :action => "static_classroom", :organization_id => room_org, :id => c} %></span><br/>
				<span style="font-size:12px;" ><%= pluralize(c.participants.size, 'Participant')%>,&nbsp;<%= pluralize(c.observers.size, 'Observer')%></span><br/>
				</center>
			</td>
			
			<td width=15% style="vertical-align:middle; font-size: 12px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" >
				<center>
				<% c.teachers.each do |ldr|  %>
				<% unless ldr.nil? %>
						<br/>
						<% unless ldr.picture.url.split("/").last == "missing.png" %>
                    	<%= link_to (image_tag ldr.picture.url :small_thumb), {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => ldr}%> <% end %>
					<%= link_to ldr.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => ldr} %><br/>
					Has <%= pluralize(ldr.followers.size, 'Follower')%><br/>	
					<% end %>	
				<% end %>
				</center>
			</td>
			<td style="vertical-align:middle; font-size: 12px; padding-top:8px; padding-bottom:10px; border:1px solid #ddd;" >
			<center>
			<strong><u><%= pluralize(c.topics.size, 'Topic')%></u></strong><br/>
			</center>
			<% c.topics.each do |tpc|  %>
				<% unless tpc.nil? %>	
				<span style="margin-left:10px; align:left; font-weight:bold; border:1px solid #ddd;">
					<u><%= link_to tpc.title, {:controller => "site/site", :action => "static_classroom", :organization_id => tpc.classroom.organization, :topic_id => tpc, :id => tpc.classroom}%></u></span><br/>
				<span style="margin-left:10px; align:left;font-size:10px;; border:1px solid #ddd;"><strong><%=pluralize(tpc.resources_used.size,'Resource')%>&nbsp;Used:</strong>&nbsp;&nbsp;
					<%unless tpc.resources_used.nil?%>
					<% tpc.resources_used.each do |res| %>
					<%= link_to res.title.titleize,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => res}%>
					&nbsp; &nbsp; 
						<% end %>
					<% end %><br/><br/></span>
				<% end %>		
			<% end%>
			</td>						
		</tr>
		<% end %>
		</tbody>
	</table>
	<% end %>				
	</div>

    <div id="tabs-2" class="favorite_organizations" style="width:900px; margin-left:20px;">
	
	<% if @org_connects.size.zero?%> <span style="margin-left:50px; font-size:14px; font-weight:normal"><br/>
    	<i> * * No Organization Connections * * </i></span>
		<% else %> 	
		<table class="tablesorter" style=" border:1px solid #ddd;">
		<thead></thead>
			<tbody>
			<% @org_connects.compact.each do |org|%>
				<% if org %>
					<tr> 
						<td width=20% style="vertical-align:middle; font-size: 12px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" %>
							<center>
								<% if ( org.logo.file?) %><%= link_to (image_tag org.logo.url :thumb), :controller => "/site/site", :action => :static_organization, :organization_id => org-%> <% end %>
								<span style="font-size:12px; "><%= link_to org.name, :controller => "/site/site", :action => :static_organization, :organization_id => org %> </span>
								<% if (org.id == @user.organization_id) %> <i>  Home Organization  </i><br/><% end %>
							</center>
						</td>
			
						<td width=20% style="vertical-align:middle; font-size: 12px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" %>
							<center>
										
							<% contact_user = User.org_contact(org.contact_email)%>
							<% if contact_user%> 
				  				<% unless contact_user.picture.url.split("/").last == "missing.png" %>
			            		<%= image_tag contact_user.picture.url(:small_thumb) %> <% end %>
			      			<% end %>
							 <strong><%= org.contact_name%><br/></strong>
							<%= org.contact_role%><br/>
							<small><%= org.contact_email%></small><br/><%= org.contact_phone%>
							</center>
						</td>	
						<td width=20% style="vertical-align:middle; font-size: 10px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" %>
							<strong>
							<%=pluralize(org.home_users.size, 'Member')%>	<br/>
							<%= pluralize(org.contents.active.size, 'Contribution') %> To The Library <br/>
							<%= pluralize(org.classrooms.active.size, 'Classroom')%><br/>
							In <%=pluralize(org.uniq_classroom_subjects.size, 'Subject Area')%><br/>
							<%=pluralize(org.org_followers.size,'Follower')%> <br/>
							</strong>
						</td>						
						<td style="vertical-align:middle; font-size: 10px; padding-top:8px;padding-bttom:10px; border:1px solid #ddd;" %>
							<% if org.uniq_classroom_subjects.size == 0%>
                  * * No Classrooms * *
              <% else %>
                <% org.uniq_classroom_subjects.each do |sub|%>
                  <% courses_on_sub = org.classrooms_on_subject(sub)%>
                  <% unless courses_on_sub.empty? %>
                    <strong><%= sub %>:&nbsp; &nbsp;</strong>
                    <%courses_on_sub.each do|clsrm| %>
                      <%= link_to clsrm.course_name,{:controller => "site/site", :action => "static_classroom", :organization_id => clsrm.organization, :id => clsrm}%> &nbsp; &nbsp;
                    <% end %><br/>
                  <% end %>
                <% end %>
							<% end %>
						</td>					
					</tr>
				<% end -%>
			<% end %>
			</tbody>
		</table>
	<% end -%>
 	</div>

	
	 <div id="tabs-3" class="favorite_organizations" style="width:900px; margin-left:20px;">
	 	<br/><span style = "margin-left:50px; text-align:center; font-weight:bold; font-size:14px; color:#C83A14"> 
		<center><%=@user.first_name %> Has <%= pluralize(@followers.size, 'Follower')%><br/><br/>
   		<% if @colleagues.size.zero? %> And Is Following No Colleagues
			<% else %>And Is Following The <%= pluralize(@colleagues.size, 'Colleague')%> Below </center></span><br/>
			<table class="tablesorter" style=" border:1px solid #ddd;">
			<thead></thead>
				<tbody>
				<% for person in @colleagues do -%>
					<tr>
						<td width=80 style="vertical-align:middle; padding-top:8px; border:1px solid #ddd;" %>
						<center>
						<% unless person.nil? %>
						<% unless person.picture.url.split("/").last == "missing.png" %>
                    	<%= link_to (image_tag person.picture.url :small_thumb), {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => person}%> <% end %>

						<%= link_to person.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => person} %>	
						 <% if person.country == "US" -%>
							<%= User::STATES.find { |n, m| m == person.state_province }[0] rescue nil%>
							<% end -%>
						</center>
						</td>
						<td width=130 style=" vertical-align:middle; border:1px solid #ddd;" >
						
						<% if person.organization.nil?%><small><i><center>No<br/>Home<br/>Organization</center></i></small>
							<% elsif person.organization.logo.file? %>
							<span style="font-size:10px; align:center"><%= link_to (image_tag person.organization.logo.url :small_thumb), :controller => "/site/site", :action => :static_organization, :organization_id => person.organization -%>
							<%= link_to person.organization.name, :controller => "/site/site", :action => :static_organization, :organization_id => person.organization %></span>
						<% end %> 
						
						</td>	
						<td width=510 style=" vertical-align:middle; border:1px solid #ddd;">
						<span style="color:#C83A14"><center><strong><i><%= person.philosophy%></i></strong></center></span>
						<center><%= person.credentials %></center> 
						</td>		
	
						<td style=" border:1px solid #ddd;"> 
						<% tot_connects = person.favorite_classrooms.size + person.lead_classrooms.size + person.participate_classrooms.size %>
						<span style=" align:center; padding-top:10px; vertical-align:middle; font-weight:bold; font-size:10px">
						<center><u>CONNECTIONS</u><br/>
						<%= pluralize(tot_connects, 'Classroom') %><br/>
						<%= pluralize(person.favorite_resources.size, 'Resource') %><br/>
						<%= pluralize(person.colleagues.size, 'Colleague') %>
						</center></span></td>
					<% end %>		
					</tr>
					<% end %>
				</tbody>
			</table>				
		<% end %>
    </div>


    <!-- ALK Put Interests above 
	<div id="tabs-3">
      <% unless @user.talents.empty? -%>
        <% @user.talents.each do |t| -%><li><%= t.name %></li><% end -%>
      <% else -%>
        No Interests listed.
      <% end -%>
    </div>  -->
  </div>
</div>
<!-- kenny delete
  <div id="sideContent">
  <div id="search" class="clear">
    <%# form_tag({:controller => "/site/site", :action => :search, :organization_id => @current_organization}, :method => :get) do -%>
      <p class="title_find"><%#= image_tag "title_find.gif" %></p>
      <div class="radio_warp clear">-->
        <!--
                          <input type='radio' id='search_type_Organizations' name='search_type' value='Organizations' />
                          <label for="search_type_Organizations">Organizations</label>
        -->
        <!--kenny delete
		<input type='radio' id='search_type_People' name='search_type' value='People' />
        <label for="search_type_People" class="short">People</label>
        <input type='radio' id='search_type_Content' name='search_type' value='Content' checked/>
        <label for="search_type_Content" class="short">Content</label>
      </div>
      <div class="radio_warp clear">-->
        <!--
                          <input type='radio' id='search_type_Causes' name='search_type' value='Causes' />
                          <label for="search_type_Causes">Causes</label>
        -->
<!-- kenny delete
      </div>
      <div class="keyword_warp">
        <%#= text_field_tag "keywords", @keywords, :class => "text" %>
        <input type="submit" class="search_submit" name="" value="" />
      </div>
    <%# end -%>
  </div>-->

  <!-- taking this out for now.  Requested by Deb
	<div id="visit">

		<p class="title_visit"><%#= image_tag "title_visit.gif" %></p>
		<ul>
			<li><a href="#">Just a test</a></li>
		</ul>
	</div>
	-->
<!-- kenny delete
</div>-->
<br style="clear:both" />
<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();

    jQ('#send_message_link').click(
    function(){
      if(jQ("#send_message_form")[0].style.display == 'none'){
        jQ("#send_message_form").show();
      }else{
        jQ("#send_message_form").hide();
      }
      
      jQ("#send_message_succefully").hide();
    });

    jQ('#send_message_form .submit').click(function(){
      if(jQ('#send_message_form #message_content').attr('value') == ''){
        alert("you must fill some info for the message");
        return false;
      }
      jQ.ajax({
        type: "POST",
        url: "/messages/create",
        data: jQ("#send_message_form form").serialize(),
        dataType: "script"
      });
      return false;
    });


  });
</script>