<div class="row" >
  <img src=<%= asset_path('member_registration_new.jpg')%> width="258" height="28" />
</div>
<div class="row " >
  <div class="col-md-1"></div>
  <div class="col-md-8 registration_intro">
    You are joining the Precision School Improvement Community, where
	  education professionals adopt authentic principles of continuous performance improvement.
    <hr>
  </div>
  <div class="col-md-3"></div>
</div>
<div>
  <%= form_tag user_register_path(:organization_id => @current_organization) do %>
  <div class="row " >
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <%= render :partial => "/shared/error_and_notice" %>
      <%= render :partial => 'profile', :locals => {:org_list => @registration_orgs} %>
    </div>
    <div class="col-md-3"></div>
  </div>
    <div class="row registration_form" >
      <div class="col-md-2"></div>
      <div class="col-md-2 registration_join">
        <%= button_to " Join ", {}, :class => "button_blue registration_button" %>
      </div>
      <div class="col-md-8 registration_policy">
        Your email address will not be shared. See <%= link_to 'Privacy Policy', privacy_path,  :target => '_blank' %>
      </div>
    </div>
  <%end %>
	<div class="clear:both;">	</div>
</div>

