<div style="float:left;">
<br/>
		<!-- if we want add upload button, min-height should be 70px; -->
    <div style="width:100%; min-height:30px;text-align:left;font-weight:normal;font-size:12px;padding-bottom:10px;">
				
				<% if content.nil? -%>
					* * * Resource De-Activated  * * *<br/>
				<% elsif content.content_object_type.content_object_type_group_id == 3 -%>
					<% if @current_user -%>
						<%= javascript_include_tag "audio-player.js" %>
                		Play <%= content.title %> : <%= show_audio_player(content.source_file.url) %>
				 		<% content.increment_views %><br/><br/>
					<% else -%>
						<i> Log In To Play </i><u><%= content.title -%></u><br/>
					<% end -%>
				<% elsif content.content_object_type.content_object_type_group_id == 7  -%>
					<% if @current_user -%>
						 <span style="font-size:10px;cursor:pointer">
						 	<a href="<%= content.source_file.url %>" target="_blank"><button>Download</button></a>
						 </span>&nbsp;<%= content.title %>
					 	<% content.increment_views %><br/><br/>
					<% else -%>
						<i> Log In To Download </i><u><%= content.title %></u><br/>
					<% end -%>
				<% elsif content.content_object_type.content_object_type_group_id == 8  -%>
					<% if @current_user -%>
						<span style="font-size:10px;cursor:pointer">
							<a href="<%= content.source_file.url %>" target="_blank"><button>Download</button></a>
						</span>&nbsp;<%= content.title %>
					 	<% content.increment_views %><br/><br/>
					<% else -%>
						<i> Log In To Download </i><u><%= content.title %></u><br/>
					<% end -%>
		        <% elsif   content.content_object_type.content_object_type_group_id == 5 -%>
					<span style="font-size:10px;cursor:pointer">
		       			<a href="<%= content.content_object %>" target="_blank"><button>Go To</button></a>
		       		</span>&nbsp;<%= content.title %>
					<% content.increment_views %><br/><br/>
				<% else -%>

				<% end -%>

         <% if !content.nil? -%>
				 	<% if content.organization -%>
              Contributed By:&nbsp;<%= content.organization.name %></br>
				  	<% end -%>
					<% unless content.source_name.nil? || content.source_name.empty? -%> 
					 	Source: <%= content.source_name %>
					<% end -%>
        <% end -%>

		<br style="clear:both" />
    </div>
<% unless content.nil?%>
<% if ![3,5,7,8].include?(content.content_object_type.content_object_type_group_id) %>
    <div style="width:525px;  min-height:394px; border:0px solid black;padding-bottom:10px;">
        <% if content.content_object_type.content_object_type_group_id == 1 -%>
        <div id="<%= panel_id_prefix if defined?(panel_id_prefix) %>video_panel">
        </div>
        <script type="text/javascript">
            var so = new SWFObject('/player/player.swf', 'mpl', '470', '320', '9');
            so.addParam('allowscriptaccess', 'always');
            so.addParam('allowfullscreen', 'true');
            so.addParam('wmode', 'opaque');
            so.addParam('flashvars', '&file=<%= content.source_file.url %>&image=<%= content.source_file_preview.url %>');
            so.write('<%= panel_id_prefix if defined?(panel_id_prefix) %>video_panel');
        </script>

        <% elsif ["HTML", "HTM"].include? content.content_object_type.content_object_type -%>
        <div style="text-align:left;">
            <%= content.content_object.html_safe %>
        </div>
        <% elsif content.content_object_type.content_object_type_group_id == 2 %>
        	<img src="<%= content.source_file.url %>" width="400" /><% end -%>
    </div>
<% end -%>	
<% end -%>


</div>