<style type="text/css">
  .hdr-dropdown {
    position: relative;
    display: inline-block;
  }
  .hdr-dropdown-content {
    display: none;
    position: absolute;
    background-color:<%= Organization.default.style_setting_value_named("Header and Footer Bars") %>;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:<%= Organization.default.style_setting_value_named("Header and Footer Text") %>;
  }
  .hdr-dropdown:hover .hdr-dropdown-content {
    display: block;
  }
</style>
<div class="login_bar">
	<% reconstruct = true %>
  <div class="iwing_header_and_footer_bars clear">
      <div class="content" style="width:100%;">
        <div class="header_row clear">
              <div style="float:left; width:35%; vertical-align:middle" class="header_footer_text">
                CRUD MAINTENANCE: <%= @current_user.full_name %>
              </div>
              <div style="float:left; text-align:center; width:30%; " class="header_footer_text">
                  <%= link_to Organization.default.name, organization_view_path(:organization_id => Organization.default) %>
              </div>
              <div style="float:right;text-align:right; width:35%; " class="header_footer_text">
                <%= link_to 'Sign Out', user_signout_path(:organization_id => Organization.default) %>
                &nbsp;|&nbsp;
              </div>
        </div>
          <div class="header_row clear" style="border-top:2px solid #FFFFFF;">
            <div style="width:100%; float:left; text-align:left;vertical-align:bottom;"class="header_footer_text">
             <ul >
               <li style="width: 12%;" class="hdr-dropdown">
                 <%= render :partial => 'shared/my_schools', :locals => {:user => @current_user, :org => @current_organization}%>
               </li>
               <li style="width: 15%;" class="hdr-dropdown">
                  <span>Users</span>
                  <ul style="width: 80%;" class="hdr-dropdown-content">
                    <li ><%= link_to 'List', master_users_show_path %></li>
                  </ul>
                </li>
               <li style="width: 15%;" class="hdr-dropdown">
                 <span>Organizations</span>
                 <ul style="width: 80%;" class="hdr-dropdown-content">
                   <li><%= link_to "List", master_organizations_show_path %></li>
                   <li><%= link_to"App Ownership", master_organizations_app_owners_path %></li>
                   <li><%= link_to"App Useability", master_organizations_app_usage_path %></li>
                   <li><%= link_to "Create New", master_organizations_new_path,  :target => '_blank' %></li>
                 </ul>
               </li>
               <li style="width: 15%;" class="hdr-dropdown">
                 <span>Applications</span>
                 <ul style="width: 80%;" class="hdr-dropdown-content">
                   <li><%= link_to "Create App", master_apps_new_path(:function=>"New") %></li>
                   <% CoopApp.all.each do |app| %>
                     <li><%= link_to app.abbrev, master_apps_view_path(:app_id=> app.id) %></li>
                   <% end %>
                 </ul>
               </li>
               <li style="width: 15%;" class="hdr-dropdown">
                 <span>Maintenance</span>
                 <ul class="hdr-dropdown-content">
                   <li><%= "CTL: List Sessions"%></li>
                   <li><%="IFA: List Submissions" %></li>
                  </ul>
               </li>
               <li style="width: 15%;" class="hdr-dropdown">
                 <span>Authorizations</span>
                 <ul style="width: 200%;" class="hdr-dropdown-content">
                 </ul>
               </li>
             </ul>
            </div>
          </div>
       </div>
    </div>
 </div>
