<style type="text/css">
  .hdr-dropdown {
    position: relative;
    display: inline-block;
  }
  .hdr-dropdown-content {
    display: none;
    position: absolute;
    background-color:<%= @current_organization ? @current_organization.style_setting_value_named("Header and Footer Bars") : '000' %>;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:<%= @current_organization ? @current_organization.style_setting_value_named("Header and Footer Text") : '000' %>;
  }
  .hdr-dropdown:hover .hdr-dropdown-content {
    display: block;
  }
</style>
<div class="login_bar">
	<% reconstruct = true %>
  <div class="iwing_header_and_footer_bars clear">
      <div class="content" style="width:100%;">
        <div class="header_row clear">
          <% unless @current_user -%>
            <div style="float:left; width:25%;vertical-align:bottom" class="header_footer_text">
                <span style="font-size:12px; vertical-align:bottom; margin-left:10px;">
                  <% if @current_organization.registerable? %>
                    <%= link_to 'Register Here', user_register_path(:organization_id => @current_organization),  {:target => "_blank"}, :class => "join" %>
                  <% else %>
                    &nbsp;
                  <% end %>
                </span>
            </div>
            <%= form_tag user_signin_path(:organization_id => @current_organization) do -%>

            <div style="float:left; width:55%; "  class="content form">
              <script type="text/javascript">
                jQ(document).ready(function() {
                  jQ("#log_header").show();
                  jQ("#log_descript").hide();

                  jQ("#log_show").click(function() {
                    jQ("#log_header").slideUp("slow");
                    jQ("#log_descript").slideDown("slow");
                  });

                  jQ("#log_hide").click(function() {
                    jQ("#log_descript").slideUp("slow");
                    jQ("#log_header").show();
                  });
                });
              </script>
              <div id= "log_header" style="font-size:12px; margin-left:250px; padding-bottom:2px; vertical-align:top; " class="header_row clear">
                <div  id= "log_show" class="header_footer_text">
                    <label for="login_id">
                        <u>Sign In</u>
                    </label>
                </div>
              </div>
              <div id= "log_descript" class="header_row clear">
                <div  class="header_footer_text">
                  <label for="login_id">
                      <span  style="font-size:12px; vertical-align:top; ">ID:</span>
                  </label>
                  <span style="color:#000000;">
                    <%= text_field_tag "login_id]", "", :height=> 20,:size=> 15, :class => "text" %>
                  </span>
                  <label for="password">
                      <span id= "log_hide" style="font-size:12px; vertical-align:top; ">&nbsp;Password:</span>
                  </label>
                  <span style="color:#000000;">
                    <%= password_field_tag "user[password]", "", :size=> 8, :class => "text" %>
                  </span>
                  <%= submit_tag "Sign-in", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
                </div>
                <div class="forgot_password">
                  <div style="font-size:11px; vertical-align:top; " class="header_footer_text">
                       <%= link_to 'Forgot Password?', user_forgot_password_path(:organization_id => @current_organization), :class => "login_forgot_password" %>
                  </div>
                </div>
              </div>
            </div>
            <% end -%>
            <div style="float:right;text-align:center; width:20%; " class="header_footer_text">
              <span style="font-size:12px; margin-right:10px; vertical-align:bottom;">
                &nbsp;
              </span>
            </div>
          <% else -%>
              <div style="float:left; width:35%; vertical-align:middle" class="header_footer_text">
                Welcome, <%= @current_user.full_name %>
                <% if @current_user.created_at == @current_user.updated_at -%>
                  &nbsp;<%= link_to "Setup Your Profile!", user_edit_path(:organization_id => @current_organization, :id => @current_user) %>
                <% end -%>
              </div>
              <div style="float:left; text-align:center; width:30%; " class="header_footer_text">
                  <%= link_to @current_organization.name, organization_view_path(:organization_id => @current_organization) %>
              </div>
              <div style="float:right;text-align:right; width:35%; " class="header_footer_text">
                <%= link_to 'Sign Out', user_signout_path(:organization_id => @current_organization) %>
                &nbsp;|&nbsp;
              </div>
          <% end -%>
        </div>
          <div class="header_row clear" style="border-top:2px solid #FFFFFF;">
            <% stands = @current_organization.ifa_org_option.act_masters rescue []-%>
            <div style="width:100%; float:left; text-align:left;vertical-align:bottom;"class="header_footer_text">
             <ul >
                <li style="width: 10%;" class="hdr-dropdown">
                    <%= @current_user ? (render :partial => 'shared/my_profile', :locals=>{:user => @current_user, :org => @current_organization, :stands => stands}) : ' '%>
                </li>
                <li style="width: 10%;" class="hdr-dropdown">
                    <%= @current_user ? (render :partial => 'shared/my_schools', :locals=>{:user => @current_user, :org => @current_organization}) : ' '%>
                </li>
                <li style="width: 10%;"  class="hdr-dropdown">
                    <%= @current_user ? (render :partial => 'shared/my_classrooms', :locals=>{:user => @current_user, :org => @current_organization, :classroom => @classroom, :topic => @current_topic}) : ' '%>
                </li>
                <li style="width: 10%;"  class="hdr-dropdown">
                    <%= render :partial => 'shared/our_purpose', :locals=>{:org => @current_organization}%>
                </li>
                <li style="width: 10%;"  class="hdr-dropdown">
                    <%= render :partial => 'shared/our_technology', :locals=>{:org => @current_organization}%>
                </li>
                <li style="width: 10%;"  class="hdr-dropdown">
                  <%= !reconstruct ? (render :partial => 'shared/our_projects', :locals=>{:org => @current_organization}) : ' ' %>
                </li>
                <li style="width: 10%;"  class="hdr-dropdown">
                    <%= render :partial => 'shared/our_povs', :locals=>{:org => @current_organization}%>
                </li>
               <li style="width: 10%;"  class="hdr-dropdown">
                 <%= @current_user ? (render :partial => 'shared/our_apps', :locals=>{:user => @current_user, :org => @current_organization}) : ' '%>
               </li>
               <li style="width: 10%;"  class="hdr-dropdown">
                    <%= !reconstruct ?  (render :partial => 'shared/about_us', :locals=>{:org => @current_organization}) : ' ' %>
                </li>
                <li style="width: 5%;" class="hdr-dropdown">
                  <% if  @current_user && (@current_user.administrator_for_org?(@current_organization) || @current_user.superuser?) -%>
                    <span><%= link_to 'Admin', admin_path(:organization_id => @current_organization) %></span>
                  <% end -%>
                </li>
              </ul>
            </div>
          </div>
       </div>
    </div>
 </div>
