
<div class="login_bar">
    <div class="iwing_header_and_footer_bars clear">

        <%= form_tag user_signin_path(:organization_id => @current_organization) do -%>
        <div class="content form">
            <div class="header_row clear">
            	<div class="header_footer_text">
                <label for="login_id">
                    ID:
                </label>
                <span style="color:#000000;">
                  <%= text_field_tag "login_id]", "", :size=> 15, :class => "text" %>
                </span>
                <label for="password">
                    Password:
                </label>
                <span style="color:#000000;">
                  <%= password_field_tag "user[password]", "", :size=> 8, :class => "text" %>
                </span>
                <%= submit_tag "Sign-in", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
            	</div>
            	<div class="forgot_password">
                	<div class="header_footer_text">
                    <%= link_to 'Forgot Password?', user_forgot_password_path(:organization_id => @current_organization), :class => "login_forgot_password" %>
            			</div>
            	</div>
            </div>
        </div>
        <% end -%>
		<div class="content header_flash_notice" style="display:none;">
			<%= flash[:login_error] %>, <%= link_to "Try Again", "#", :id => "try_again" %>
		</div>
    </div>
</div>
<% if flash[:login_error] -%>
	<% if flash[:unverified] -%>
	<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			alert("Your ID is valid but not verified.  Please check your email from escent_registration@escentpartners.com and click on Verfication link.  Check Spam Folder, if email not found.");
	    })
	</script>
	<% flash[:unverified] = nil%>  

	<% elsif flash[:suspended] -%>
	<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			alert("Your ID has been suspended.  Contact Your Administrator.");
	    })
	</script>
	<% flash[:suspended] = nil%> 
	<% else %>
	<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ(".form").hide();
			jQ(".header_flash_notice").show();	
			jQ("#try_again").click(function() {
				jQ(".form").show();
				jQ(".header_flash_notice").hide();
				return false;
			});
		})
	</script>
	<% end %>
<% end -%>