<div class="masthead clear">
	<% master_org = @app ? @current_organization.app_provider(@app) : (Organization.ep_default.first rescue @current_organization) -%>

		<% unless master_org.web_site_url.nil? %>
			<%=  link_to (image_tag(master_org.logo.url, :class => "logo", :alt => master_org.name, :height => 10),master_org.web_site_url, :target => "_blank" ) %>
		<% else -%>
            <%= master_org.name %>
		<% end %>

	  <div style="float:left; margin-top:12px;margin-left:15px;text-align:center">

<% bypass_logo = true%>
<% unless bypass_logo %>	    
	<% if @current_user -%>
		<% if @current_user.has_authorization_level?("superuser") && !@classroom.nil?-%>
			<div id="shared_pilot_feedback_warp_box">
	    		<%#= render :partial => "/shared/share_pilot_feedback",:locals => {:user => @current_user} %>
			    <%= image_tag("COOP_logo.png", :alt => @current_organization.name, :height => 45) %>
	  		</div>
		<% else -%>
			    <%= image_tag("COOP_logo.png", :alt => @current_organization.name, :height => 45) %>
		<% end -%>
		
	<% else -%>
			    <%= image_tag("COOP_logo.png", :alt => @current_organization.name, :height => 45) %>
	<% end -%>		
<% end -%>
  </div>

    <% unless @current_action == "search" -%>
    <% form_tag({:controller => "/site/site", :action => :search, :organization_id => @current_organization}, :method => :get) do -%>
    <div style="float:left; padding-right:5px; padding-top:3px;" class="background_text">
		 
		<div style="float:left; border:0px solid white; line-height:10px;">
            <input type='radio' id='search_type' name='search_type' value='Organizations' />
        </div>
        <div style="float:left; border:0px solid white; line-height:10px; padding-top:5px;">
            Organizations 
            <br/>
            (<%= Organization.count %>)
        </div>
	
              <div style="float:left; border:0px solid white; line-height:10px;">
            <input type='radio' id='search_type' name='search_type' value='Offerings' />
        </div>
				
        <div style="float:left; border:0px solid white; line-height:10px; padding-top:5px;">
            Offerings
            <br/>			
            (<%= Classroom.count %>)
        </div>
		  
		<div style="float:left; border:0px solid white; line-height:10px;">
            <input type='radio' id='search_type' name='search_type' value='People' />
        </div>
        <div style="float:left; border:0px solid white; line-height:10px; padding-top:5px;">
            People
            <br/>			
            (<%= User.count %>) 
        </div>
						
        <div style="float:left; border:0px solid white; line-height:10px;">
            <input type='radio' id='search_type' name='search_type' value='Resources' checked/>
        </div>
        <div style="float:left; border:0px solid white; line-height:10px; padding-top:5px;">
            Resources
            <br/>			
            (<%= Content.active.count %>)			
        </div>
    </div>
    <%= text_field_tag "keywords", @keywords, :class => "text" %><input type="submit" class="submit" name="" value="" /><!-- IDP <a href="/fsn/help" class="help" title="help"><span>help</span></a> -->
    <% end -%>
    <% end -%>
</div>
