
	<a href="#" >My Profile</a>
	<ul>
		<li style="width: 130px;"><%= link_to "Edit", :controller => "/users", :action => :edit_profile, :organization_id => @current_organization, :id => @current_user %></li><br/>
		<li style="width: 130px;"><%= link_to "View", :controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => @current_user %></li>
		<li style="width: 130px;"><%= link_to "My Surveys", {:controller => "/apps/shared", :action => :my_surveys, :organization_id => @current_organization}, {:target => "_blank"}  %></li>
		<% unless stands.empty?%>
			<br/>
		
			<li style="width: 130px;margin-left:0px"><center><u>Standards View</u></center></li>
				<% stands.each do |mstr| -%>
				<% unless mstr == @current_user.act_master -%>
				<br/>
				<% link_string = mstr.abbrev.upcase -%>
				<li style="width: 130px;margin-left:0px">
				<center><%= link_to link_string, :controller => "/users", :action => :assign_standard_view, :organization_id => @current_organization, :id => @current_user, :view => mstr %></center></li>

				<% else -%>
				<br/>
				<% link_string = "Current: " + mstr.abbrev.upcase -%>
				<li style="width: 130px;margin-left:0px">								
				<center><i><%= link_string %></i></center></li>

				<% end -%>
			<% end -%>
		<% end -%>
	</ul>
