<style type="text/css">
  .hdr-dropdown {
    position: relative;
    display: inline-block;
  }
  .hdr-dropdown-content {
    display: none;
    position: absolute;
    background-color:<%= @current_organization ? @current_organization.style_setting_value_named("Header and Footer Bars") : '000' %>;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:<%= @current_organization ? @current_organization.style_setting_value_named("Header and Footer Text") : '000' %>;
  }
  .hdr-dropdown:hover .hdr-dropdown-content {
    display: block;
  }
</style>
<div class="login_bar">
  <div class="iwing_header_and_footer_bars clear">
    <% if @current_user -%>
      <div class="content" style="width:100%;">
        <div class="header_row clear">
          <div style="float:left; width:42%;" class="header_footer_text">
            Welcome, <%= @current_user.full_name %>&nbsp;
            <% if @current_user.created_at == @current_user.updated_at -%>
              &nbsp;<%= link_to "Setup Your Profile!", :controller => "/users", :action => :edit_profile, :organization_id => @current_organization, :id => @current_user %>
            <% end %>
          </div>
          <div style="float:left; width:33%;" class="header_footer_text">
            <%=@current_application.abbrev%>&nbsp;Application Maintenance
          </div>
          <% unless @current_organization.nil? %>
            <div style="float:left; width:25%; text-align:right;" class="header_footer_text">
              <%= link_to @current_organization.name, :controller => "/site/site", :action => :static_organization, :organization_id => @current_organization %>
            </div>
          <% else %>
            <div style="float:left; width:25%; text-align:right;" class="header_footer_text">
              &nbsp;
            </div>
          <% end %>
        </div>
        <div class="header_row clear" style="border-top:2px solid #FFFFFF;">
          <div style="width:100%; float:left; text-align:left;"class="header_footer_text">
            <ul>
              <li style="width: 10%;" class="hdr-dropdown">
                &nbsp;
              </li>
              <li style="text-align:center; width: 80%;" class="hdr-dropdown">
                    Close Window When Done
              </li>
              <li style="width:10%; text-align:center;" class="header_footer_text">
                  <%= link_to "Sign Out", :controller => "/users", :action => :logout, :organization_id => @current_organization %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
