<% num =  (checked ? (content.star_rating ? content.star_rating.rating.round : 0) : rating).to_i  %>
<% 1.upto(10) do |li| %>
		<input type="radio" class="star {split:2}" value="<%= li %>" <%= "disabled='disabled'" if disabled %> <%= "checked='checked'" if li == num %> />
<% end %>
<br />
<span id="votes" class="votes_<%= content.public_id %>">
	(
		<% if session[:viewed] %>
			<% if session[:viewed].key?(content.id) %>
				<%= pluralize(content ? content.views : 0), "view" %>
			<% else %>
				<% session[:viewed].store(content.id, true) %>
				<%= pluralize(content ? content.increment_views : 0), "view" %>
			<% end %>
		<% else %>
			<% session[:viewed] = {content.id, true} %>
			<%= pluralize(content ? content.increment_views : 0), "view" %>
		<% end %>
		 / 
		<%= pluralize(content.star_rating ? content.star_rating.votes : 0), "vote" %>
	)
</span>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('input.star').rating({
		  callback: function(value, link){
				var public_id = "<%= content.public_id %>";
				var url = '<%= url_for :controller => "/site/site", :action => :add_star_rating_to_content, :organization_id => @current_organization %>';
				jQ.post(url, {"id":public_id, "rating":value}, function(data) {
					jQ(".description_for_vote_<%= content.public_id %>").html(data)
					jQ(".votes_<%= content.public_id %>").html("(<%= pluralize(content ? content.views : 0), 'view' %> / <%= pluralize(content.star_rating ? content.star_rating.votes + 1 : 0), 'vote' %>)");
				})
		  }
		});	
	})
</script>