<div id="activities_share<%=activity.public_id%>">
	
	<table  style="width:690px; width:fixed; margin-top:0px; margin-bottom:20px; margin-left:10px">
		<thead>
			<tr style="border:1px solid #ddd; ">
				<th  style="width:7px; width:fixed; border:0px solid #ddd; font-size:9px; text-align:left; ">
					&nbsp;
				</th>
				<th style="35px; width:fixed; border:0px solid #ddd; font-size:9px; text-align:left; ">
					Active
				</th>
				<th  style="width:35px; width:fixed; border:0px solid #ddd; font-size:9px; text-align:left; ">
					&nbsp;
				</th>
				<th  style=" width:35px; width:fixed; border:0px solid #ddd; font-size:9px; text-align:left; ">
					Master
				</th>
				<th  style="border:0px solid #ddd; font-size:9px; text-align:left; padding-left:20px ">
					Activity
				</th>
			</tr>
		</thead>
		<tbody>  
				<tr style="border:1px solid #ddd; ">
					<td  style="width:7px; width:fixed; font-size:10px; text-align:right; ">
						<%= activity.position %>)&nbsp;
					</td>
					<% button_label = activity.active? ? "button_enabled.png" : "button_disabled.png"-%>
					<td id="toggle_active_<%= activity.public_id %>" style=" width:35px;  width:fixed; cursor:pointer; padding-left:10px; padding-top:0px; vertical-align:middle" >
						<%= (image_tag button_label,:width => 15) %>
					</td>
					<td  style="width:35px; width:fixed; padding-top:5px; padding-left:6px; line-height:1.2em; color:#2061a5;">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							<%= link_to 'Edit', {:controller => "/apps/learning_time", :action => :maintain_activity, :app_id=> app.id, :task=>"Update", :elt_type_id=>activity, :organization_id => @current_organization},{:target=>"_blank"}  %>
						</span>
					</td>
					<% button_label = activity.master? ? "button_enabled.png" : "button_disabled.png"-%>
					<td  id="toggle_master_<%= activity.public_id %>" style=" width:35px;  width:fixed; cursor:pointer; padding-left:10px; padding-top:0px; vertical-align:middle">
						<%= (image_tag button_label,:width => 15) %>
					</td>
					<% weight = activity.master? ? "bold" : "normal"-%>
					<td style=" text-align:left; font-size:13px; padding-left:0px;font-weight:<%=weight%>;">
						<span style ="color:#C73914;font-size:10px;font-weight:normal"><%= activity.provider_only? ? (activity.organization.short_name + " Only "):""%></span>
						<%=activity.name%>&nbsp;
						<span style="font-size:9px;font-weight:normal">
							<i>(<%= activity.activity_type%>,&nbsp;<%= activity.rubric? ? (pluralize(activity.rubrics.active.size, " Rubric")) :   "No Rubric" %>)</i>
						</span>
					</td>
				</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_active_<%= activity.public_id %>").click(function() {
		var url = "<%= url_for :controller => "apps/learning_time", :action => :toggle_active_activity, :organization_id => @current_organization, :elt_type_id => activity, :app_id=> app.id %>";
		jQ.get(url,{},  function(data) {
				jQ("#activities_share<%=activity.public_id%>").html(data);
				jQ("#activities_share<%=activity.public_id%>").show();
					});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_master_<%= activity.public_id %>").click(function() {
		var url = "<%= url_for :controller => "apps/learning_time", :action => :toggle_master_activity, :organization_id => @current_organization, :elt_type_id => activity, :app_id=> app.id %>";
		jQ.get(url,{},  function(data) {
				jQ("#activities_share<%=activity.public_id%>").html(data);
				jQ("#activities_share<%=activity.public_id%>").show();
					});
	})
});
</script>
		</tbody>
	</table>
</div>








