<div id="activate_rubric_<%=entity.public_id%>">

<% unless entity.nil? -%>	
	<table   style="width:300px; width:fixed; margin-top:10px; margin-left:300px">
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<tbody>  

			<tr style="border:0px solid #ddd; ">
				<% button_label = entity.rubric? ? "button_enabled.png" : "button_disabled.png"-%>
				<td id="toggle_rubric_<%= entity.public_id %>" style=" width:20px;  width:fixed; cursor:pointer; float:left; padding-left:10px; padding-top:5px; vertical-align:middle" >
					<%= (image_tag button_label,:width => 15) %>
				</td>
				<td style="width:280px; width:fixed; padding-left:20px; vertical-align:top ">
					<%= entity.rubric? ? "Rubric Used" : "No Rubric"%>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ("#toggle_rubric_<%= entity.public_id %>").click(function() {
			var url = "<%= url_for :controller => "apps/learning_time", :action => :toggle_rubric, :organization_id => @current_organization, :elt_type_id => entity, :app_id => app %>";
			jQ.get(url,{},  function(data) {
					jQ("#activate_rubric_<%=entity.public_id%>").html(data);
					jQ("#activate_rubric_<%=entity.public_id%>").show();
						});
		})
	});
	</script>
	<% unless !entity.rubric? -%>	

		<% unless entity.rubrics.active.empty? -%>	
			<table style="width:600px;margin-left:210px; border:0px solid #ddd;">
				<tbody>  
					<tr  style="border:0px solid #ddd;" >
						<td   style="border:0px solid #ddd; width:120px; width:fixed; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; font-size:10.5px; font-weight:normal">
							&nbsp;
						</td>
						<td   style="border:0px solid #ddd; vertical-align:middle;   color:#000000; padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; font-size:10.5px; font-weight:normal">
							<span style =" color:#C73914; font-weight:bold">
								<%= entity.share_rubric ? entity.share_rubric.name : "No"%>&nbsp;
							</span>
							Data Sharing
						</td>
					</tr>
				<tbody>  
					<tr  style="border:0px solid #ddd;" >
						<td   id = "share_rubric" style="border:0px solid #ddd; width:120px; width:fixed; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; font-size:10.5px; font-weight:normal">
							<%=  select(:share, entity.id,   entity.rubrics.active.by_score.collect{|r| [r.name, r.id]}<<["No Sharing", 0], :prompt => "Share Level") %>
						</td>
						<td   style="border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; font-size:10.5px; font-weight:normal">
							Select Minimum Score That Will Be Share-able Among Schools
						</td>
					</tr>
				</tbody>
			</table>	

	<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#share_rubric').change(function() {
			var rubric_id = jQ('#share_<%=entity.id%>').val();
			var url = "<%= url_for :controller => "/apps/learning_time", :action => :share_rubric, :organization_id => @current_organization, :elt_type_id => entity, :app_id => app %>";
				jQ.get(url, {'rubric_id':rubric_id}, function(data) {
					jQ("#activate_rubric_<%=entity.public_id%>").html(data);
					jQ("#activate_rubric_<%=entity.public_id%>").show();
				});
		})
	});
	</script>
		<% end -%>
		<%= render :partial => "/apps/learning_time/manage_rubrics", :locals=>{:entity => entity, :app => @app} %>
	<% end -%>
<% end -%>
</div>








