
<div class ="activity_map">
	<% if !@current_organization.active_elt_cycle.nil? %>
    <table id="activity_map_<%=org.public_id%>" style="margin-top:0px; width:490px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:480px;">
                      <%= link_to '', :controller => "apps/learning_time", :action => :show_activity_map, :org => @current_organization, :organization_id => @current_organization, :elt_cycle_id => @current_organization.active_elt_cycle %>
                          <%=org.app_provider(@current_application).short_name %> Activity Map
                      <span></span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#activity_map_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#activity_map_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
	});
	</script>
</div>
