
<div id="assign_activities_<%=cycle.public_id%>"> 
	
	<% unless cycle.elt_framework.activities.empty? -%>
		<div style = "padding-bottom:10px;padding-left:0px; ">
			<table  style="width:400px;margin-left:300px;">
				<thead>  
					<tr>
						<th style="text-align:center; vertical-align:middle; line-height:1.3em; padding-right:0px; font-size:12px">
							<span style="font-size:11px;">Involves&nbsp;<%= pluralize(cycle.activities.size, " Activity")%></span>
						</th>	
					</tr>
				</thead>
				<tbody>
					<% cycle.activities.all.each do |activity|-%>
						<tr>
							<td style="text-align:left; vertical-align:middle; padding-left:30px;  line-height:1.3em; font-size:11px; color:#000000">
								<%= activity.name %>
								<span style="font-size:9px;><%= activity.active? ? "" : "&nbsp;&nbsp;(Not Active)"%><span>
								<span style="font-size:9px;><%= activity.master? ? "&nbsp;&nbsp;(Master)" : ""%><span>
							</td>	
						</tr>
					<% end -%>
				</tbody>
			</table>
			<table  style="width:600px;margin-left:83px;">
				<tbody>  
					<tr>
						<td style="width:200px; text-align:right; vertical-align:middle; padding-right:6px; font-size:12px">
							Remove Activity
						</td>
						<td id="remove_activity" style=" font-size:normal">
							<%= select(:remove_activity, cycle.id, cycle.activities.all.collect{|a| [a.name, a.id]},{:include_blank =>'Remove Activity'}) %>
						</td>	
					</tr>
					<tr>
						<td style="width:200px; text-align:right; vertical-align:middle; padding-right:6px; font-size:12px">
							Add Activity
						</td>
						<td id="add_activity" style="font-size:normal">
							<%= select(:add_activity, cycle.id, (cycle.elt_framework.activities.all - cycle.activities).collect{|a| [a.name, a.id]},{:include_blank =>'Add Activity'}) %>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#remove_activity').change(function() {
		var activity_id = jQ('#remove_activity_<%=cycle.id%>').val();
		var url = "<%= url_for :controller => '/apps/learning_time', :action => :assign_cycle_activity, :organization_id => @current_organization, :elt_cycle_id=> cycle %>";
			jQ.get(url, {'activity_id':activity_id}, function(data) {
			jQ("#assign_activities_<%=cycle.public_id%>").html(data); 
	   		jQ("#assign_activities_<%=cycle.public_id%>").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_activity').change(function() {
		var activity_id = jQ('#add_activity_<%=cycle.id%>').val();
		var url = "<%= url_for :controller => '/apps/learning_time', :action => :assign_cycle_activity, :organization_id => @current_organization, :elt_cycle_id=> cycle %>";
			jQ.get(url, {'activity_id':activity_id}, function(data) {
			jQ("#assign_activities_<%=cycle.public_id%>").html(data); 
	   		jQ("#assign_activities_<%=cycle.public_id%>").show();
			});
	})
});
</script>
	<% end -%>		
</div>	
