
<div id="assign_activities_<%=cycl.public_id%>">
	<% unless cycl.elt_framework.activities.empty? -%>
		<div style = "padding-bottom:10px;padding-left:0px; ">
			<table  style="width:400px;margin-left:300px;">
				<thead>  
					<tr>
						<th style="text-align:center; vertical-align:middle; line-height:1.3em; padding-right:0px; font-size:12px">
							<span style="font-size:11px;">Involves&nbsp;<%= pluralize(cycl.activities.size, " Activity")%></span>
						</th>	
					</tr>
				</thead>
				<tbody>
					<% cycl.activities.all.each do |activity|-%>
						<tr>
							<td style="text-align:left; vertical-align:middle; padding-left:30px;  line-height:1.3em; font-size:11px; color:#000000">
								<%= activity.name %>
								<span style='font-size:9px;'><%= activity.active? ? "" : ("&nbsp;&nbsp;(Not Active)").html_safe%></span>
								<span style='font-size:9px;'><%= activity.master? ? ('&nbsp;&nbsp;(Master)').html_safe : ''%></span>
							</td>	
						</tr>
					<% end -%>
				</tbody>
			</table>
			<table  style="width:600px;margin-left:83px;">
				<tbody>  
					<tr>
						<td style="width:40%; text-align:right; vertical-align:middle; padding-right:6px; font-size:12px">
							&nbsp;
						</td>
						<td id="remove_activity" style='font-weight: normal'>
							<%= select(:remove_activity, cycl.id, cycl.activities.all.collect{|a| [a.name, a.id]},{:include_blank =>'Remove Activity'}) %>
						</td>	
					</tr>
					<tr>
						<td style="width:40%; text-align:right; vertical-align:middle; padding-right:6px; font-size:12px">
							&nbsp;
						</td>
						<td id="add_activity" style='font-weight:normal'>
							<%= select(:add_activity, cycl.id, (cycl.elt_framework.activities.all - cycl.activities).collect{|a| [a.name, a.id]},{:include_blank =>'Add Activity'}) %>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#remove_activity').change(function() {
		var activity_id = jQ('#remove_activity_<%=cycl.id%>').val();
		var url = "<%= elt_config_cycle_activity_assign_url(:organization_id => @current_organization, :elt_cycle_id=> cycl) %>";
			jQ.get(url, {'activity_id':activity_id}, function(data) {
			jQ("#assign_activities_<%=cycl.public_id%>").html(data);
	   		jQ("#assign_activities_<%=cycl.public_id%>").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_activity').change(function() {
		var activity_id = jQ('#add_activity_<%=cycl.id%>').val();
		var url = "<%= elt_config_cycle_activity_assign_url(:organization_id => @current_organization, :elt_cycle_id=> cycl) %>";
			jQ.get(url, {'activity_id':activity_id}, function(data) {
			jQ("#assign_activities_<%=cycl.public_id%>").html(data);
	   		jQ("#assign_activities_<%=cycl.public_id%>").show();
			});
	})
});
</script>
	<% end -%>		
</div>	
