<div id="case_indicators_<%= @element.public_id %>">
	<table style="width:75%;border:1px solid #000;">
		<tbody >
			<tr style="background:<%=@element.form_background%>; color: <%=@element.e_font_color%>">
				<td colspan=2 style= "vertical-align:middle; text-align:center; border:0px solid #000; border-bottom:1px solid #000; font-size:12px;font-weight:bold;">
					<%= @element.name %>, <%= @rubric.name %>
				</td>
			</tr>
			<% @findings.group_by{|f| f.elt_indicator}.each do |indicator, evidences| -%>
				<tr style="background:<%=@element.form_background%>; color: <%=@element.e_font_color%>; border-top:1px solid #000;">
					<td style= "width:11%; font-size:13px; line-height:1.3em; vertical-align:top; text-align:right; padding-left:0px; padding-right:0px; padding-top:5px; padding-bottom:5px;">
						 <%= @element.abbrev %>-<%= indicator.position%>&nbsp;&nbsp;
					</td>
					<td style= "font-size:13px; line-height:1.3em; vertical-align:top; text-align:left; padding-left:0px; padding-right:10px; padding-top:5px; padding-bottom:5px;">
						 <%= indicator.indicator%>
					</td>
				</tr>
				<% evidences.each do |evid| -%>
					<tr style="color: #000000; border-top:0px solid #000;">
						<td style="width:11%; border:0px solid #ddd; line-height:1.3em; color: #2061a5; padding-top:8px;padding-bottom:8px; vertical-align:top;text-align:left; font-size:11px" >
							<%= evid.elt_case.finalize_date.nil? ? "Date?" :evid.elt_case.finalize_date.strftime("%b %Y") %>
						</td>
						<td style=" border:0px solid #ddd; line-height:1.3em; color: #2061a5; padding-top:8px;padding-bottom:8px; vertical-align:top;text-align:left; font-size:11px" >
							<strong><%= evid.elt_case.organization.name%></strong>
							<% unless evid.note.nil? %>
								 <span style="font-size:11px;color:#000000">&nbsp;
									 <%=evid.note -%>
								 </span>
							<% end -%>
						</td>
					</tr>
				<% end -%>
			<% end -%>
		</tbody>
	</table>
<br/>
</div>

