
<div>
	<table id="evidence_map_<%=org.public_id%>_<%=cycl.id%>" style="margin-top:0px; width:490px; border:0px solid #ddd;">
		<tbody>  
			<tr>
				<td class="resource_levels_close" style="width:98%;">
                    <%= link_to '', elt_map_evidence_show_path(:org => org, :organization_id => @current_organization, :elt_cycle_id => cycl) %>
                    Evidence Map
                    <span></span>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#evidence_map_<%=org.public_id%>_<%=cycl.id%> .resource_levels_close').toggleResourceLevels();
		jQ('#evidence_map_<%=org.public_id%>_<%=cycl.id%> .resource_levels_open').toggleResourceLevels();
	});
	</script>
</div>
