
<div class="FormRow submit_warp" style= "padding-left:25px">	
	<%= submit_tag (button_label1 + button_label2), :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
	<br/>
</div>
<div class="formBox">
	<% if @activity.master? %>
		<div class="FormRow">
      <div class="FormRowTitle">
        Indicator Number:
      </div>
      <div class="FormRowData" style= "margin-left:25px">
        <%= text_field :elt_indicator, :ind_num, :value => (indicator.ind_num.nil? ? (@activity.elt_indicators.size+1) : indicator.ind_num),  :size => 1, :maxlength => 2 %>
      </div>
    </div>
	<% end -%>
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= button_label2 %>:
    </div>
    <div class="FormRowData" style= "margin-left:25px">
      <%= text_area :elt_indicator, :indicator, :value => indicator.indicator, :rows => 2, :cols => 65  %>
    </div>
  </div>
	<div class="FormRow">
    <div class="FormRowTitle">
      Display Position:
    </div>
    <div class="FormRowData" style= "margin-left:25px">
      <%= text_field :elt_indicator, :position, :value => (indicator.position.nil? ? "" : indicator.position),  :size => 1, :maxlength => 2 %>
    </div>
  </div>
	<div class="FormRow">
    <div class="FormRowTitle">
      Weight:
    </div>
    <div class="FormRowData" style= "margin-left:25px">
      <%= text_field :elt_indicator, :weight, :value => (indicator.weight.nil? ? 1 : indicator.weight),  :size => 1, :maxlength => 2 %>
    </div>
  </div>
	<div class="FormRow">
    <div class="FormRowTitle">
    </div>
    <div class="FormRowData" style= "margin-left:25px">
      &nbsp;
    </div>
  </div>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>
