<div id="list_cycle_schools_<%=cycle.public_id%>">

	<table  style="width:900px; margin-top:0px; border:0px solid #ddd; ">
		<tbody>  
			<tr>
				<td style ="width:440px; width:fixed; color: #C73914; vertical-align:middle; font-size:12px; margin-top:0px; font-weight:bold">
					<%=  cycle.name %>&nbsp;
					<span style = "font-size:10px;font-weight:normal">&nbsp;<%= cycle.begin_date.strftime("%m/%y")%>&nbsp;&nbsp;-&nbsp;&nbsp;<%= cycle.end_date.strftime("%m/%y")%></span>
				</td>
				<td>			
					<%= @current_user.elt_admin_for_org?(cycle.organization) ? (render :partial => "/apps/learning_time/survey_client_schools", :locals=>{:cycle=>cycle}) : "" %>
				</td>
			</tr>
		</tbody>
	</table>

	<% unless cycle.schools.empty? %>
		<% cycle.schools.sort_by{|s| s.name}.each do |school| -%>
          <table id="resource_list_<%=cycle.id%><%=school.public_id%>" style="width:900px;margin-left:10px; border:0px solid #ddd; margin-top:0px;">
			<tbody>  
				<tr>
					<td class="resource_levels_close" style="width:900px;">
					<%= link_to '', :controller => "apps/learning_time", :action => :list_school_cycle_activities, :organization_id => @current_organization, :school_id=> school, :elt_cycle_id => cycle  %>
					<%= school.name %>&nbsp;(<%=school.elt_cycle_cases(cycle).size%>)
					<span></span>
					</td>
				</tr>
			</tbody>
		</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#resource_list_<%=cycle.id%><%=school.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#resource_list_<%=cycle.id%><%=school.public_id%> .resource_levels_open').toggleResourceLevels();	
	});
	</script>

		<% end -%>	
	<% else -%>
		<table style="width:900px;margin-left:10px; border:0px solid #ddd; margin-top:0px;">
			<tbody>  
				<tr>
					<td style="width:900px;">
						No School Visits Recorded
					</td>
				</tr>
			</tbody>
		</table>	
	<% end -%>	
	<% unless cycle.client_feedback_surveys.empty? -%>
		<table id="<%= cycle.id %>_client_feedback"   style="width:700px;  font-size:8px; margin-top:0px; margin-left:10px; font-weight:normal">
			<tbody>  
				<tr>
					<td class="resource_levels_close" >
						<%= link_to '', :controller => "apps/shared", :action => :show_aggregated_results, :organization_id => @current_organization, :schedule_id => cycle.client_feedback_surveys.last  %>
						<small><%= cycle.survey_school_date.nil? ? "" : cycle.survey_school_date.strftime("%b %d, %Y ") %>Survey Results (<%= cycle.client_feedback_surveys.last.respondants.size %>)</small>
						<span></span>
					</td>
				</tr>
			</tbody>
		</table>	
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#<%= cycle.id %>_client_feedback .resource_levels_close').toggleResourceLevels();
			jQ('#<%= cycle.id %>_client_feedback .resource_levels_open').toggleResourceLevels();	
		});
		</script>	
	<% end%>
</div>

