<div id="list_activities_<%=org.public_id%><%= cycl.id%>">
	<% if @current_organization == cycl.organization -%>
      <%= render :partial => "/apps/learning_time/evidence_map", :locals => {:org => org, :cycl => cycl} %>
      <% unless cycl.activities.provider_only.active.empty? %>
			<table style="width:600px; text-align:left;font-size:12px; margin-top:0px">
				<tbody>  
					<style type="text/css" media="screen">
			    		table,tr,td { border:none; }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
					<% cycl.activities.provider_only.active.each do |activity| -%>
						<% if activity.has_active_indicators?%>
							<tr >
								<td  style="width:8%; border:0px solid #ddd; vertical-align:middle; text-align:left;padding-left:0px">
									<span class="fsn-button ui-button ui-state-default ui-corner-all">
										 <%= link_to 'Begin' , elt_case_add_path(:organization_id => @current_organization, :elt_cycle_id => cycl, :school_id=> org, :elt_type_id => activity, :step=>'Begin')%>
									</span>
								</td>
								<td  style="border:0px solid #ddd; vertical-align:middle; text-align:left;padding-left:0px">
									<span style="color: #2061a5;"><%= activity.name %></span>
								</td>
							</tr>
						<% end -%>
					<% end -%>
				</tbody>
			</table>
		<% end -%>	
	<% end -%>

    <% unless org.elt_cases.for_cycle(cycl).empty? -%>
        <% org.elt_cycle_activities(cycl).each do |activity| -%>
            <%= render :partial => "/apps/learning_time/show_school_cycle_activity_cases", :locals => {:activity => activity, :org => org, :cycl=>cycl} -%>
        <% end -%>
    <br/>
    <% end -%>
</div>

