
<div id ="maintain_frameworks" style = "font-size:12px; color: #2061a5; padding-left:0px;">
  <div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold">
    <%= @current_organization.provider_app_abbrev(@current_application) %>&nbsp;Configuration
  </div>
  <div style="margin-left:10%">
    <span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer; font-size:11px; padding-left:5px;">
      <%= link_to 'Standards', elt_config_standards_path(:organization_id => @current_organization)  %>
    </span>
  </div>
  <div>
    <% org_abbrev = @current_organization.app_provider(@current_application).short_name  + ' ' %>
    <table id="cycle_<%=org.public_id%>" style="margin-left:80px; width:90%; border:0px solid #ddd;">
        <tbody>
            <tr>
                <td class="resource_levels_close" style="width:95%">
                    <%= link_to '', elt_config_cycles_path(:organization_id => @current_organization) %>
                    Maintain Diagnostic Cycles
                <span></span>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#cycle_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#cycle_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <table id="activity_<%=org.public_id%>" style="margin-left:80px; width:90%; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:95%">
            <%= link_to '', elt_config_activities_path(:organization_id => @current_organization) %>
            Maintain Diagnostic Activities
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#activity_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#activity_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <% @standards.each do |std| %>
      <table id="indicator_<%=org.public_id%><%=std.id%>" style="margin-left:80px; width:90%; border:0px solid #ddd;">
        <tbody>
          <tr>
            <td class="resource_levels_close" style="width:95%;">
              <%= link_to '', elt_config_indicators_path(:organization_id => @current_organization, :elt_standard_id => std.public_id) %>
              Maintain Activity Look-fors: <%= std.abbrev %>
              <span></span>
            </td>
          </tr>
        </tbody>
      </table>
      <script type="text/javascript" charset="utf-8">
      jQ(document).ready(function() {
          jQ('#indicator_<%=org.public_id%><%=std.id%> .resource_levels_close').toggleResourceLevels();
          jQ('#indicator_<%=org.public_id%><%=std.id%> .resource_levels_open').toggleResourceLevels();
      });
      </script>
        <% end %>
   <!-- Temp Remove
    <table id="plan_<%#=org.public_id%>" style="margin-left:80px; width:810px; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%#= link_to '', elt_config_plans_path(:organization_id => @current_organization) %>
            Action Plan Settings
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#plan_<%#=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#plan_<%#=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    -->
    <table id="case_xfers_<%=org.public_id%>" style="margin-left:80px; width:90%; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:95%;">
            <%= link_to '', elt_config_cases_xfer_path(:organization_id => @current_organization) %>
            Move Cases To Other Schools or Cycles
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#case_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#case_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
    </script>
    <table id="plan_xfers_<%=org.public_id%>" style="margin-left:80px; width:90%; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:95%;">
            <%= link_to '', elt_config_plans_xfer_path(:organization_id => @current_organization) %>
            Move A School Plan  To Another Cycle
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#plan_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#plan_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
    </script>
  </div>
</div>
