
<div id ="maintain_frameworks" style = "font-size:12px; color: #2061a5; padding-left:0px;">
	<% if @current_organization.provider?(app) -%>
        <div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold">
          <% if @current_organization.elt_framework? %>
              <center><%=@current_organization.elt_framework.name%>&nbsp;Configuration</center>
          <% else -%>
              <center><%= app.name %>&nbsp;Configuration</center>
          <% end -%>
        </div>

        <% if @current_organization.elt_frameworks.size > 1 %>
          <table style="margin-left:350px; width:410px; width:fixed;  margin-top:5px; border:0px solid #ddd; font-size:11px; color: #2061a5;">
            <tbody>
            <tr>
              <td id="framework_assign">
                <%=  select(:config_framework, :id, @current_organization.elt_frameworks.select{|f| f != @current_organization.elt_framework}.sort_by{|o| o.name}.collect{|t| [t.name, t.public_id]}, {:include_blank => "Configure Another Framework"}) %>
              </td>
            </tr>
            </tbody>
          </table>
          <script type="text/javascript">
              jQ(document).ready(function() {
                  jQ('#framework_assign').change(function() {
                      var elt_framework_id = jQ('#config_framework_id').val();
                      var url = "<%= url_for :controller => "/apps/learning_time", :action => :set_framework, :organization_id => @current_organization, :app_id=> app.id%>";
                      jQ.get(url, {'elt_framework_id':elt_framework_id}, function(data) {
                          jQ("#maintain_frameworks").html(data);
                          jQ("#maintain_frameworks").show();
                      });
                  })
              });
          </script>
      <% elsif @current_organization.elt_frameworks.size == 0-%>
          <br/><div style="font-size:12px; color:#C73914; text-align:center">Please Create A Framework</div>
      <% end -%>
          <div>

            <table id="frameworks_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
              <tbody>
                  <tr>
                    <td class="resource_levels_close" style="width:800px;">
                      <%= link_to '', :controller => "apps/learning_time", :action => :manage_frameworks, :organization_id => @current_organization, :app_id=> @app.id  %>
                      Frameworks
                      <span></span>
                    </td>
                  </tr>
              </tbody>
            </table>
            <script type="text/javascript" charset="utf-8">
                jQ(document).ready(function() {
                    jQ('#frameworks_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
                    jQ('#frameworks_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
                });
            </script>
            <% if @current_organization.elt_framework? %>
                <% frame_abbrev = @current_organization.elt_framework.abbrev.empty? ? '' : @current_organization.elt_framework.abbrev + ' ' %>
                <table id="cycle_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                    <tbody>
                        <tr>
                            <td class="resource_levels_close" style="width:800px;">
                                <%= link_to '', :controller => "apps/learning_time", :action => :manage_cycles, :organization_id => @current_organization, :app_id=> @app.id  %>
                                <%= frame_abbrev %>Diagnostic Cycles
                            <span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <script type="text/javascript" charset="utf-8">
                jQ(document).ready(function() {
                    jQ('#cycle_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
                    jQ('#cycle_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
                });
                </script>

                <table id="element_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                  <tbody>
                  <tr>
                    <td class="resource_levels_close" style="width:800px;">
                      <%= link_to '', :controller => "apps/learning_time", :action => :manage_elements, :organization_id => @current_organization, :app_id=> @app.id  %>
                      <%= frame_abbrev %>Elements
                      <span></span>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <script type="text/javascript" charset="utf-8">
                    jQ(document).ready(function() {
                        jQ('#element_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
                        jQ('#element_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
                    });
                </script>

                <table id="activity_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                    <tbody>
                        <tr>
                            <td class="resource_levels_close" style="width:800px;">

                                <%= link_to '', :controller => "apps/learning_time", :action => :manage_activities, :organization_id => @current_organization, :app_id=> @app.id  %>
                              <%= frame_abbrev %>Activities
                            <span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#activity_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#activity_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
        </script>

                <table id="indicator_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                    <tbody>
                        <tr>
                            <td class="resource_levels_close" style="width:800px;">

                                <%= link_to '', :controller => "apps/learning_time", :action => :manage_indicators, :organization_id => @current_organization, :app_id=> @app.id  %>
                              <%= frame_abbrev %>Indicators & Look-fors
                            <span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#indicator_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#indicator_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
        </script>

                <table id="plan_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                    <tbody>
                        <tr>
                            <td class="resource_levels_close" style="width:800px;">

                                <%= link_to '', :controller => "apps/learning_time", :action => :manage_plan_types, :organization_id => @current_organization, :app_id=> @app.id  %>
                              <%= frame_abbrev %>Action Plan Settings
                            <span></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
        <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#plan_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#plan_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
        </script>

              <table id="case_xfers_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                <tbody>
                <tr>
                  <td class="resource_levels_close" style="width:800px;">

                        <%= link_to '', :controller => "apps/learning_time", :action => :transfer_cases, :organization_id => @current_organization, :app_id=> @app.id  %>
                    <%= frame_abbrev %>Move Cases To Other Schools or Cycles
                    <span></span>
                  </td>
                </tr>
                </tbody>
              </table>
              <script type="text/javascript" charset="utf-8">
                  jQ(document).ready(function() {
                      jQ('#case_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
                      jQ('#case_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
                  });
              </script>


              <table id="plan_xfers_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
                <tbody>
                    <tr>
                      <td class="resource_levels_close" style="width:800px;">
                            <%= link_to '', :controller => "apps/learning_time", :action => :transfer_plans, :organization_id => @current_organization, :app_id=> @app.id  %>
                        <%= frame_abbrev %>Move A School Plan  To Another Cycle
                        <span></span>
                      </td>
                    </tr>
                </tbody>
              </table>
              <script type="text/javascript" charset="utf-8">
                  jQ(document).ready(function() {
                      jQ('#plan_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
                      jQ('#plan_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
                  });
              </script>
                <% end -%>
            </div>
	<% else -%>
		<br/>
		<span style ="color: #C83A14; font-size:11px">
		    <center><i>* * *  <%= @current_organization.short_name %>&nbsp;Is Not An App Owner  * * *</i></center>
		</span>
	<% end %>
</div>
