
<div id ="maintain_frameworks" style = "font-size:12px; color: #2061a5; padding-left:0px;">
  <div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold">
    <%= @current_organization.provider_app_abbrev(@current_application) %>&nbsp;Configuration
  </div>
  <div>
    <%= link_to 'Maintain Standards', :controller => "apps/learning_time_standards", :action => :index, :organization_id => @current_organization  %>
    <% org_abbrev = @current_organization.app_provider(@current_application).short_name  + ' ' %>
    <table id="cycle_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
        <tbody>
            <tr>
                <td class="resource_levels_close" style="width:800px;">
                    <%= link_to '', :controller => "apps/learning_time", :action => :manage_cycles, :organization_id => @current_organization %>
                    <%= org_abbrev %>Diagnostic Cycles
                <span></span>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#cycle_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#cycle_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <table id="activity_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%= link_to '', :controller => "apps/learning_time", :action => :manage_activities, :organization_id => @current_organization %>
            <%= org_abbrev %>Activities
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#activity_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#activity_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <table id="indicator_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%= link_to '', :controller => "apps/learning_time", :action => :manage_indicators, :organization_id => @current_organization %>
            <%= org_abbrev %>Indicators & Look-fors
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#indicator_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#indicator_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <table id="plan_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%= link_to '', :controller => "apps/learning_time", :action => :manage_plan_types, :organization_id => @current_organization%>
            <%= org_abbrev %>Action Plan Settings
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
        jQ('#plan_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
        jQ('#plan_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
    });
    </script>
    <table id="case_xfers_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%= link_to '', :controller => "apps/learning_time", :action => :transfer_cases, :organization_id => @current_organization %>
            <%= org_abbrev %>Move Cases To Other Schools or Cycles
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#case_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#case_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
    </script>
    <table id="plan_xfers_<%=org.public_id%>" style="margin-left:80px; width:810px; width:fixed; border:0px solid #ddd;">
      <tbody>
        <tr>
          <td class="resource_levels_close" style="width:800px;">
            <%= link_to '', :controller => "apps/learning_time", :action => :transfer_plans, :organization_id => @current_organization %>
            <%= org_abbrev %>Move A School Plan  To Another Cycle
            <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
        jQ(document).ready(function() {
            jQ('#plan_xfers_<%=org.public_id%> .resource_levels_close').toggleResourceLevels();
            jQ('#plan_xfers_<%=org.public_id%> .resource_levels_open').toggleResourceLevels();
        });
    </script>
  </div>
</div>
