<div id="manage_rubrics_<%=entity.public_id%>">

<% unless entity.nil? -%>	
	<% if entity.rubrics.active.size < 6%>		
		<br/>
		<span id="add_rubric" style="margin-left:214px;" class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer; ">
			<%= link_to  'Add Rubric', app_rubric_add_path(:organization_id => @current_organization, :scope_id => entity.id, :scope_type => entity.class.to_s,  :function=>"", :rubric_id => nil), {:target => "_blank"} %>
		</span>
	<% else -%>
		<span style="color:#C73914; margin-left:200px">
			Number of <u>Active</u> Rubrics Reached
		</span>
	<% end-%>
	
	<table  style="width:650px; margin-top:10px; margin-bottom:10px; margin-left:200px">
		<thead>
			<tr style="border:1px solid #ddd; ">
				<th  style="width:9%; border:0px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; color:#2061a5;">
					&nbsp;
				</th>
				<th  style="width:9%; border:0px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; color:#2061a5;">
					&nbsp;
				</th>
				<th  style="width:6%; border:0px solid #ddd; ;text-align:center; vertical-align:middle; font-size:11px">
					Pos
				</th>
				<th  style="width:6%; border:0px solid #ddd; ;text-align:center; vertical-align:middle; font-size:11px">
					Score
				</th>
				<th  style=" border:0px solid #ddd; ;text-align:center; vertical-align:middle; font-size:11px">
					Rubric
				</th>
			</tr>
		</thead>
		<tbody>
			<% entity.rubrics.each do |rub| -%>
				<tr style="border:1px solid #ddd; ">
					<td  style="width:9%; border:0px solid #ddd; padding-top:0px; padding-left:5px; vertical-align:middle; color:#2061a5;">
						<span id="delete_rubric_<%=rub.id%>" class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer; ">
							 Delete
						</span>
					</td>
					<td  style="width:9%; border:0px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; color:#2061a5;">
						<span  class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer; ">
							<%= link_to  'Change', app_rubric_add_path(:organization_id => @current_organization, :scope_id => entity.id, :scope_type => entity.class.to_s,  :function=>'Update', :rubric_id => rub), {:target => "_blank"} %>
						</span>
					</td>
					<td  style="width:6%; border:0px solid #ddd; ;text-align:center; vertical-align:middle; color:#000000; font-size:11px">
						<%= rub.position %>
					</td>
					<td  style="width:6%; border:0px solid #ddd;;text-align:center; vertical-align:middle; color:#000000; font-size:11px ">
						<%= rub.score %>
					</td>
					<td  style="border:0px solid #ddd; font-size:11px; font-weight:normal; background:<%= rub.color_background %>; color:<%= rub.color_font %>; padding-top:4px; text-align:left; ">
						<span style = "font-size:12px; font-weight:bold"><%= rub.name %>&nbsp;(<%= rub.abbrev %>)</span>
						<% unless rub.active? %>
							<span style = "font-size:11px; color:#C73914;">&nbsp;Not Used</span>
						<% end -%>
						<span style = "font-size:11px; line-height:1.4em; padding-bottom:15px;">
							<%= simple_format rub.criteria %>	
						</span>
					</td>
				</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#delete_rubric_<%=rub.id%>").click(function() {			
		var url = "<%= elt_config_activity_rubric_delete_url(:organization_id => @current_organization, :elt_type_id => entity, :rubric_id => rub) %>";
		jQ.get(url,{},  function(data) {
				jQ("#manage_rubrics_<%=entity.public_id%>").html(data);
				jQ("#manage_rubrics_<%=entity.public_id%>").show();
					});
	})
});
</script>
			<% end -%>
		</tbody>
	</table>
<% end -%>
</div>
