<div id="manage_cycles_<%=framework.public_id%>">
	
	<table   style="width:700px; width:fixed; margin-top:10px; margin-left:30px">
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<tbody>  

			<tr style="border:0px solid #ddd; ">
				<td style="width:520px; width:fixed;">
					&nbsp;
				</td>
				<td style="width:180px; width:fixed; padding-left:20px; vertical-align:top ">
					<span class="fsn-button ui-button ui-state-default ui-corner-all">
						<%= link_to 'Create New Cycle', {:controller => "/apps/learning_time", :action => :maintain_cycle, :app_id=> app.id, :task=>"New", :elt_framework_id => framework, :organization_id => @current_organization},{:target=>"_blank"}  %>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<table  style="width:700px; width:fixed; margin-top:0px; margin-bottom:20px; margin-left:20px">
		<thead>
			<tr style="border:1px solid #ddd; ">
				<th  colspan=2 style=" border:0px solid #ddd; font-size:12px; text-align:left; ">
					&nbsp;
				</th>
				<th  colspan=2 style=" border:0px solid #ddd; font-size:12px; text-align:left; ">
					<%= pluralize(framework.elt_cycles.all.size, framework.name + " Cycle") %>
				</th>

			</tr>
		</thead>
		<tbody>  
			<% framework.elt_cycles.all.each do |cycle| -%>
				<% button_label = cycle.active? ? "button_enabled.png" : "button_disabled.png"-%>
				<tr style="border:1px solid #ddd; ">
					<td id="toggle_active_<%= cycle.public_id %>" style=" width:35px;  width:fixed; cursor:pointer; padding-left:10px; padding-top:8px; vertical-align:top" >
						<%= (image_tag button_label,:width => 13) %>
					</td>
					<td  style="width:35px; width:fixed; padding-top:5px; padding-left:0px; line-height:1.2em; color:#2061a5;">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							<%= link_to 'Edit', {:controller => "/apps/learning_time", :action => :maintain_cycle, :app_id=> app.id, :task=>"Update", :elt_cycle_id=>cycle,  :elt_framework_id => framework, :organization_id => @current_organization},{:target=>"_blank"}  %>
						</span>
					</td>
					<td style=" text-align:left; font-size:13px; padding-left:3px;font-weight:normal;">
						<%= cycle.name%> &nbsp;<span style="font-size:9px;"><%= cycle.begin_date ? cycle.begin_date.strftime("%m/%y") : "No Begin Date"%>&nbsp;-&nbsp;<%= cycle.end_date ? cycle.end_date.strftime("%m/%y") : "No End Date"%>&nbsp;&nbsp;(<%= pluralize(cycle.activities.size, " Activity") %>)</span><br/>
						<span style="font-size:10px; color:#C73914;"><%= cycle.current_schools.empty? ? "No Participating Schools" : cycle.current_schools.collect{|s| s.short_name}.join(", ")%></span>
						<% unless cycle.activities.empty?%>
							<%= render :partial => "/apps/learning_time/list_cycle_activities", :locals=>{:cycle => cycle} %>
                <%= render :partial => "/apps/learning_time/list_cycle_elements", :locals=>{:cycle => cycle} %>

          <% end -%>
					</td>
					<td  id="<%=cycle.id%>_org_assign" style="width:160px; width:fixed; color:#000000; font-weight:normal; font-size:10px; padding-left:10px; padding-top:10px;">
						<%=  select(:cycle_org, cycle.id, (framework.organization.provided_app_orgs(app,false) - cycle.current_schools).sort_by{|o| o.name}.collect{|o| [truncate(o.medium_name, :omission => "...", :length => 18), o.public_id]}, :prompt => "Assign Org To Cycle") %>
					</td>
				</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_active_<%= cycle.public_id %>").click(function() {
		var url = "<%= url_for :controller => "apps/learning_time", :action => :toggle_active_cycle, :organization_id => @current_organization, :elt_framework_id => framework, :elt_cycle_id => cycle, :app_id=> app.id %>";
		jQ.get(url,{},  function(data) {
            jQ("#manage_cycles_<%=framework.public_id%>").html(data);
            jQ("#manage_cycles_<%=framework.public_id%>").show();
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=cycle.id%>_org_assign').change(function() {
		var school_id = jQ('#cycle_org_<%=cycle.id%>').val();
		var url = "<%= url_for :controller => "/apps/learning_time", :action => :assign_framework_cycle, :organization_id => @current_organization, :elt_framework_id => framework, :elt_cycle_id => cycle, :app_id=> app.id%>";
			jQ.get(url, {'school_id':school_id}, function(data) {
				jQ("#manage_cycles_<%=framework.public_id%>").html(data);
				jQ("#manage_cycles_<%=framework.public_id%>").show();
			});
	})
});
</script>
			<% end -%>
		</tbody>
	</table>
</div>








