<div id="supported_indicator_<%= indicator.public_id%>">
  <table  style="width:650px;margin-left:200px;color: #000000; font-size:11px; font-weight:normal">
			<tbody> 
				<% unless indicator.support_indicators.empty? -%> 
					<% indicator.support_indicators.each do |ind| -%>
						<tr>
							<td style="width:100px; width:fixed; text-align:center; vertical-align:top; border:0px solid #ddd; ">
								<%= ind.elt_element ? (ind.elt_element.abbrev + "-" + ind.position.to_s) : ""%>
							</td>
							<td  style=" color: #2061a5; font-size:11px; padding-bottom:8px; line-height:1.3em">
								<%= ind.indicator %>				
							</td>	
						</tr>
					<% end -%>
					<tr>
						<td style=" vertical-align:top; border:0px solid #ddd;  padding-left:17px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							&nbsp;
						</td>
						<td id="remove_indicator" style=" font-size:normal; padding-bottom:10px; ">
							<%= select(:remove_indicator, indicator.id, indicator.support_indicators.collect{|ind| [(ind.elt_element.abbrev + "-" + ind.position.to_s), ind.id]},{:include_blank =>'Remove Supported Indicator'}) %>
						</td>	
					</tr>
				<% end -%>
                <tr>
                    <td style="vertical-align:top; border:0px solid #ddd;  padding-left:17px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
                        &nbsp;
                    </td>
                    <td id="add_indicator" style=" font-size:normal; padding-bottom:10px; ">
                        <%= select(:add_indicator, indicator.id, (indicator.master_indicators_active(indicator.elt_element) - indicator.support_indicators).collect{|ind| [(ind.elt_element.abbrev + "-" + ind.position.to_s), ind.id]},{:include_blank =>'Add Supported Indicator'}) %>
                    </td>
                </tr>
			</tbody>
		</table>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#remove_indicator').change(function() {
		var supported_indicator_id = jQ('#remove_indicator_<%= indicator.id%>').val();
		var url = "<%= url_for :controller => '/apps/learning_time', :action => :assign_supported_indicator, :organization_id => @current_organization, :elt_indicator_id=> indicator.public_id %>";
			jQ.get(url, {'supported_indicator_id':supported_indicator_id}, function(data) {
			jQ("#supported_indicator_<%= indicator.public_id%>").html(data); 
	   		jQ("#supported_indicator_<%= indicator.public_id%>").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_indicator').change(function() {
		var supported_indicator_id = jQ('#add_indicator_<%= indicator.id%>').val();
		var url = "<%= url_for :controller => '/apps/learning_time', :action => :assign_supported_indicator, :organization_id => @current_organization, :elt_indicator_id=> indicator.public_id %>";
			jQ.get(url, {'supported_indicator_id':supported_indicator_id}, function(data) {
			jQ("#supported_indicator_<%= indicator.public_id%>").html(data); 
	   		jQ("#supported_indicator_<%= indicator.public_id%>").show();
			});
	})
});
</script>
</div>
