
<div id ="rubric_schools_<%=activity.id%>" style = "font-size:12px; color: #2061a5; padding-left:0px;">
	<% unless rubric.nil? -%>
		<% if rubric_list.size > 1 -%>
			<center>
				<table style="width:350px;margin-left:0px; margin-top:0px;">
					<tbody>  
						<tr  style="border:0px solid #ddd;" >
							<td   id = "rubric_<%=activity.id%>" style="width:100px; width:fixed;  border:0px solid #ddd;vertical-align:middle;  padding-left:80px; padding-right:0px; padding-top:2px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:normal">
								<%=  select(:rating, activity.id,  rubric_list.collect{|r| [r.name, r.id]}, :prompt=> (rubric.name + " " + org_type.name.pluralize)) %>
							</td>
						</tr>
					</tbody>
				</table>	
			</center>
		<% end -%>
	

		<% activity.elements.select{|e| e.active?}.sort_by{|e| e.position}.each do |element| -%>
			<table id="list_<%=activity.id%>_<%=element.id%>" style="margin-left:40px; width:800px;">
				<tbody>  
					<tr>
						<td class="resource_levels_close" style="width:700px;">
							<%= link_to '', :controller => "apps/learning_time", :action => :case_indicators_element_rubric, :organization_id => @current_organization, :organization_type_id => org_type.id, :rubric_id=>rubric.id, :element_id=>element.id, :app_id=> app.id  %>
							<%= rubric.name + ": " + element.name %>
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#list_<%=activity.id%>_<%=element.id%> .resource_levels_close').toggleResourceLevels();
			jQ('#list_<%=activity.id%>_<%=element.id%> .resource_levels_open').toggleResourceLevels();	
		});
		</script>
		<% end-%>	

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#rubric_<%=activity.id%>').change(function() {
		var rubric_id = jQ('#rating_<%=activity.id%>').val();
		var url = "<%= url_for :controller => '/apps/learning_time', :action => :select_rubric, :organization_id => @current_organization, :elt_type_id => activity, :organization_type_id => org_type.id, :app_id => app.id  %>";
			jQ.get(url, {'rubric_id':rubric_id}, function(data) {
			jQ("#rubric_schools_<%=activity.id%>").html(data); 
	   		jQ("#rubric_schools_<%=activity.id%>").show();
			});
	})
});
</script>

	<% else -%>
		<div style ="color: #2061a5; font-size:12px; margin-top:5px; font-weight:normal"> 
			No Shareable Rubric
		</div>	
	<% end -%>

</div>