
<div id ="rubric_schools_<%=activity.id%>" style = "font-size:12px; color: #2061a5; padding-left:0px;">
	<% unless rubric.nil? -%>
	    <div style = "margin-left:50px; font-size:13px; font-weight:normal">
         <u><%= (rubric.name + " " + org_type.name.pluralize).upcase %></u>
        </div>
      <% activity.elements.select{|e| e.active?}.sort_by{|e| e.position}.each do |element| -%>
			<table id="list_<%=activity.id%>_<%=element.id%>" style="margin-left:40px; width:800px;">
				<tbody>  
					<tr>
						<td class="resource_levels_close" style="width:700px;">
							<%= link_to '', :controller => "apps/learning_time", :action => :case_indicators_element_rubric, :organization_id => @current_organization, :organization_type_id => org_type.id, :rubric_id=>rubric.id, :element_id=>element.id, :app_id=> app.id  %>
							<%= element.name %>
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#list_<%=activity.id%>_<%=element.id%> .resource_levels_close').toggleResourceLevels();
			jQ('#list_<%=activity.id%>_<%=element.id%> .resource_levels_open').toggleResourceLevels();	
		});
		</script>
		<% end-%>

	<% else -%>
		<div style ="color: #2061a5; font-size:12px; margin-top:5px; font-weight:normal"> 
			No Shareable Rubric
		</div>	
	<% end -%>

</div>
