
<div id ="share_rubric_data" style = "font-size:12px; color: #2061a5; padding-left:0px;">
	<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:normal"> 
		<strong><center><%=@current_organization.app_provider(app).short_name %>&nbsp;Community Knowledge Base</center></strong>
	</div>
  <% if !rubric.nil? -%>

      <table style="width:880px; width:fixed; margin-left:15px; margin-top:10px;">
        <tbody>
            <tr  style="border:0px solid #ddd;" >
              <td  style="width:50%; width:fixed;   border:0px solid #ddd;vertical-align:middle; text-align:right;  padding-left:0px; padding-right:5px;  color: #2061a5; font-size:10.5px; font-weight:bold">
                <%= framework.nil? ? 'No Framework Assigned' : framework.name %>
              </td>
              <td  id = "select_framework"  style="width:50%; width:fixed;   border:0px solid #ddd;vertical-align:middle;  padding-left:5px; padding-right:0px; padding-top:5px; color: #2061a5; font-size:10.5px;">
                <% if @current_organization.app_provider(app).active_frameworks.size > 1 %>
                    <%=  select(:framework, :id,  @current_organization.app_provider(app).active_frameworks.collect{|f| [f.name, f.public_id]}, :include_blank => "Choose Framework") %>
                <% else -%>
                    &nbsp;
                <% end -%>
              </td>
            </tr>
            <tr  style="border:0px solid #ddd;" >
              <td  style="width:50%; width:fixed;  border:0px solid #ddd;vertical-align:middle; text-align:right; padding-left:0px; padding-right:5px; padding-top:2px; color: #2061a5; font-size:10.5px; font-weight:bold">
                <%= org_type.nil? ? 'No School Type' : org_type.name.pluralize %>
              </td>
              <td id = "select_school_type"  style="width:50%; width:fixed;  border:0px solid #ddd;vertical-align:middle; padding-left:5px; padding-right:0px; padding-top:5px; color: #2061a5; font-size:10.5px;">
                <%=  select(:school, :type_id,  OrganizationType.k12.collect{|t| [t.name, t.id]}, :include_blank => "Choose School Type") %>
              </td>
            </tr>
            <tr  style="border:0px solid #ddd;" >
              <td  style="width:50%; width:fixed;   border:0px solid #ddd;vertical-align:middle; text-align:right;  padding-left:0px; padding-right:5px;  color: #2061a5; font-size:10.5px; font-weight:bold">
                <%= rubric.nil? ? 'No Performance Rating' : rubric.name %>
              </td>
              <td  id = "select_rubric"  style="width:50%; width:fixed; border:0px solid #ddd;vertical-align:middle;  padding-left:5px; padding-right:0px; padding-top:5px; color: #2061a5; font-size:10.5px;">
                <% if framework && framework.master_activity && framework.master_activity.shareable_rubrics.size > 1 %>
                    <%=  select(:rubric, :id,  framework.master_activity.shareable_rubrics.collect{|r| [r.name, r.id]}, :include_blank => "Choose Rating") %>
                <% else -%>
                    &nbsp;
                <% end -%>
              </td>
            </tr>
        </tbody>
      </table>

      <script type="text/javascript">
          jQ(document).ready(function() {
              jQ('#select_framework').change(function() {
                  var framework_id = jQ('#framework_id').val();
                  var url = "<%= url_for :controller => '/apps/learning_time', :action => :select_kb_filters, :organization_id => @current_organization, :rubric_id => rubric.id, :organization_type_id => org_type.id, :app_id => app.id  %>";
                  jQ.get(url, {'elt_framework_id':framework_id}, function(data) {
                      jQ("#share_rubric_data").html(data);
                      jQ("#share_rubric_data").show();
                  });
              })
          });
      </script>

        <script type="text/javascript">
        jQ(document).ready(function() {
            jQ('#select_school_type').change(function() {
                var type_id = jQ('#school_type_id').val();
                var url = "<%= url_for :controller => '/apps/learning_time', :action => :select_kb_filters, :organization_id => @current_organization, :rubric_id => rubric.id, :elt_framework_id => framework, :app_id => app.id  %>";
                    jQ.get(url, {'organization_type_id':type_id}, function(data) {
                    jQ("#share_rubric_data").html(data);
                    jQ("#share_rubric_data").show();
                    });
            })
        });
        </script>

      <script type="text/javascript">
          jQ(document).ready(function() {
              jQ('#select_rubric').change(function() {
                  var rubric_id = jQ('#rubric_id').val();
                  var url = "<%= url_for :controller => '/apps/learning_time', :action => :select_kb_filters, :organization_id => @current_organization, :elt_framework_id => framework,:organization_type_id => org_type.id, :app_id => app.id  %>";
                  jQ.get(url, {'rubric_id':rubric_id}, function(data) {
                      jQ("#share_rubric_data").html(data);
                      jQ("#share_rubric_data").show();
                  });
              })
          });
      </script>

        <%= render :partial => "/apps/learning_time/schools_by_rubric", :locals=>{:org_type => org_type, :rubric => rubric, :activity=> framework.master_activity, :app=>app} %>

	<% else -%>
		<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
			No Shareable Data For <%= @current_organization.app_provider(app).short_name %>&nbsp;Activities
		</div>	
	<% end -%>

</div>
