<div id="mainContent" style=" border:1px solid #ddd;">
<div id="diagnostic_box" >
	<div style="text-align:center;  word-wrap:break-word; color: #2061a5;  font-size: 15px; font-style: normal; font-weight: normal">
		<%= elt_case.elt_cycle ? elt_case.elt_cycle.name: "Removed Diagnostic Cycle" -%>:&nbsp;<%= elt_case.elt_type.name %>	
	</div>
   		<%= render :partial => "/apps/learning_time/show_edit_case_title", :locals => {:elt_case => elt_case, :app => app} -%>
	<div id="submit_buttons" style=" border:0px solid #ddd;">
		<% if elt_case.updatable?(@current_user)%>
			<table style="width:800px;margin-left:0px; border:0px solid #000000;">
				<tbody> 
					<tr>
						<td  style = " width:120px;  width:fixed; color: #C83A14; vertical-align:middle; text-align:left; padding-left:0px; font-size:12px ">
								<% if elt_case.destroyable?(@current_user) -%>
									<span class="fsn-button ui-button ui-state-default ui-corner-all">
										<%= link_to "DESTROY" ,{:controller => "apps/learning_time", :action => :abort_case, :organization_id => @current_organization,:elt_case_id=> elt_case, :app_id=> app.id}, :confirm=> "Are You Sure" %>
									</span>
								<% end -%>
						</td>
						<td  style = "color: #000000; vertical-align:middle; text-align:center; padding-left:0px; font-size:12px ">
							&nbsp;
						</td>
						<td  style = " width:120px; width:fixed; color: #000000; vertical-align:middle; text-align:left; padding-left:0px; font-size:12px ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all">
								 <%= link_to "END CASE" ,{:controller => "apps/learning_time", :action => :index, :organization_id => @current_organization, :user_id=> @current_user, :app_id=> app.id} %>
							</span>
						</td>
					</tr>			
				</tbody>
			</table>
		<% else -%>
			<table style="width:240px;margin-left:0px; border:0px solid #000000;">
				<tbody> 
					<tr>
						<td  style = " width:240px; color: #000000; vertical-align:middle; text-align:left; padding-left:60px; font-size:12px ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all">
								 <%= link_to "Return" ,{:controller => "apps/learning_time", :action => :index, :organization_id => @current_organization,:app_id=> @app.id} %>
							</span>
						</td>
					</tr>			
				</tbody>
			</table>		
		
		<% end -%>
	</div>
	<% if elt_case.elt_type.rubric? -%>
		<table id="rubric_header" style="width:650px;margin-left:100px; border:0px solid #000000;">
			<tbody> 
				<tr>
					<td id="rubric_show" style = " border-right:0px solid #000000; color: #2061a5; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
						> <u>Show ELT Rubric</u>
					</td>
				</tr>			
			</tbody>
		</table>
		<table id="rubric_descript" style="width:650px; margin-left:100px; border:0px solid #000000;">
			<tbody> 			
				<tr style="border:1px solid #000000;">
					<td id="rubric_hide" style = " width:150px; width:fixed; border-right:0px solid #000000; background: #2061a5; color: #FFFFFF; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
						> <u>Hide Rubric</u>
					</td>
					<td  style = " width:500px; width:fixed; border-right:0px solid #000000; background: #2061a5; color: #FFFFFF; padding-bottom:0px; vertical-align:middle; text-align:left; padding-left:5px; font-weight:bold; font-size:15px ">
						Rating Rubric
					</td>
				</tr>
				<% elt_case.elt_type.rubrics.all.each do |rubric| -%>
					<tr style="border:1px solid #000000;">
						<td  style = " width:170px; width:fixed; color: #2061a5; padding-top:5px; padding-bottom:5px; vertical-align:middle; text-align:center;  font-weight:normal; font-size:13px ">
							<%= rubric.name %>
						</td>
						<td  style = " width:500px; width:fixed; color: #000000; line-height:1.3em; padding-top:5px; padding-bottom:5px; vertical-align:middle; text-align:left;  font-weight:normal; font-size:13px; font-family:Garamond; ">
							<%= simple_format rubric.criteria %>
						</td>
					</tr>
				<% end-%>
			</tbody>
		</table>		
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#rubric_header").show();
		  jQ("#rubric_descript").hide();		  

	jQ("#rubric_show").click(function() {
		  	jQ("#rubric_header").slideUp("slow");	 
	   		jQ("#rubric_descript").slideDown("slow");
	})

	jQ("#rubric_hide").click(function() {
	   		jQ("#rubric_descript").slideUp("slow");
	   		jQ("#rubric_header").show();
	})	
});
</script>	
	<% end -%>
	<% elt_case.elt_type.active_elements.each do |element| -%>	
			<table id="element_<%=element.public_id%>" style="margin-left:10px; width:870px; width:fixed; border:0px solid #ddd;">
				<tbody>  
					<tr>
						<td class="resource_levels_close" style="width:870px; color: #2061a5;">
		
						<%= link_to '', :controller => "apps/learning_time", :action => :show_case_element_indicators, :organization_id => @current_organization, :elt_case_id => elt_case, :elt_element_id=> element, :app_id=> @app.id  %>
						<%= element.name %>&nbsp;(<%= pluralize(element.elt_indicators.active.for_activity(elt_case.elt_type).size, " Indicator") %>)
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#element_<%=element.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#element_<%=element.public_id%> .resource_levels_open').toggleResourceLevels();	
	});
	</script>

	<% end -%>
</div>
</div>
