
<div id="case_summary_list_<%=elt_case.public_id %> style="width:900px">
	<table style="width:800px; margin-left:0px; border:0px solid #000000;">
		<tbody> 	
			<tr>
				<td  style = " width:200px; width:fixed; border:0px solid #000000; color: #000000; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
					&nbsp;
				</td>
				<td  style = " width:100px; width:fixed; color: #000000; border:0px solid #000000; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
					<span class="fsn-button ui-button ui-state-default ui-corner-all">
						 <%= link_to elt_case.updatable?(@current_user) ? "Update" : "View" ,{:controller => "apps/learning_time", :action => :start_case, :elt_case_id => elt_case, :organization_id=>@current_organization, :app_id=>app},{:target=>"_blank"} %>
					</span>
				</td>
				<% if elt_case.deletable?(@current_user) -%>
					<td  style = " width:100px; width:fixed; border:0px solid #000000; color: #000000; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
						<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
							<%= link_to "Destroy", {:controller => "/apps/learning_time",:action => "destroy_case", :organization_id => @current_organization, :elt_case_id=>elt_case, :app_id=> app.id }, :class => "destroy_case_" + elt_case.id.to_s %>
						</span>	
					</td>
				<% else -%>
					<td  style = " width:100px; width:fixed;  color: #000000; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
						&nbsp;
					</td>				
				<% end -%>
				<td  style = " border:0px solid #000000; color: #000000; vertical-align:middle; text-align:left; padding-left:5px; font-size:11px ">
					&nbsp;
				</td>
			</tr>	
		</tbody>
	</table>
	   	<%= render :partial => "/apps/learning_time/indicator_map", :locals => {:elt_case => elt_case, :help_tag=>"list" + elt_case.id.to_s, :app => @app} -%>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.destroy_case_<%= elt_case.id.to_s %>').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#list_cases").html(data);
				jQ("#list_cases").show();
			})
			return false;
	})
});
</script>