<div id="activity_cases_<%=org.public_id%>" style="width:95%; border:0px solid #ddd;">
			
	<table style="width:850px; border:1px solid #ddd;">
		<thead style="border:1px solid #ddd;">
			<tr style=" border:1px solid #ddd;">
				<th colspan=4 style = "color:#000000">
					<center><%= pluralize(org.elt_cases.for_activity(activity).size, activity.name + " Case") %></center>
				</th>
			</tr>
		</thead>
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
		
			<% org.elt_cases.for_activity(activity).each do |elt_case| -%>
				<tr style="border:1px solid #ddd;">
					<td width = 100px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
						<%= elt_case.submit_date.nil? ? "Date?" :elt_case.submit_date.strftime("%b %d, %Y") %>
						</br/><%= elt_case.user ? elt_case.user.last_name : "" %>
					</td>
					<td width = 100px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
						<u><%= link_to "View Case", {:controller =>  "/apps/learning_time", :action => "show_case", :organization_id => @current_organization, :elt_case_id => elt_case}, {:target => "_blank"}  %></u>					</td>
					</td>
					<td width = 100px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
						<%= elt_case.final? ? "Final":"Not Final" %>
					</td>
					<td width = 300px style=" border:1px solid #ddd; color: #000000; vertical-align:top;text-align:left; font-size:10px" >
						<span style= "font-size:12px; color: #2061a5;">
							<%= elt_case.name %><br/>
							<%= [(elt_case.subject_area ? elt_case.subject_area.name : ""),(elt_case.classroom ? elt_case.classroom.course_name: "")].join(", ") %>
						</span>
					</td>
 				</tr>
			<% end -%>
		</tbody>
	</table>
</div>
