<div class='activity_form_box'>
  <div class="row" >
    <div class="col-md-1"></div>
    <div class= 'col-md-10 panel_title_blue'>
      <%= elt_case.elt_cycle ? elt_case.elt_cycle.name: "Removed Diagnostic Cycle" -%>:&nbsp;<%= elt_case.name %>
    </div>
    <div class="panel_subtitle_blue" >
      <%= elt_case.activity.collect_subject? ? (elt_case.subject_area ? (elt_case.subject_area.name ) : 'No Subject') : '' -%>
      <%= elt_case.activity.collect_grade? ? ( elt_case.grade_level ? " " + elt_case.grade_level.name : "  No Grade Level") : '' -%>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>
  <div class="row" >
    <div class="col-md-1"></div>
    <div class= 'col-md-10'>
      <% unless elt_case.elt_cycle.nil? %>
          <%= render :partial => '/apps/learning_time/form_case_b', :locals=> {:elt_case => elt_case} %>
      <% end -%>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>
</div>
