
<div id ="supporting_comments<%=element.public_id%>" style = "font-size:12px; padding-left:0px;">
	<table id="comments_<%=element.public_id%>" style="margin-top:0px; width:100%; border:0px solid #ddd;">
		<tbody>  
			<tr>
				<td class="resource_levels_close" style="width:99%;">
            <%= link_to '', elt_case_comments_path(:organization_id => @current_organization, :elt_case_id => elt_case, :elt_element_id => element)  %>
            Summary Comments
            <span></span>
				</td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#comments_<%=element.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#comments_<%=element.public_id%> .resource_levels_open').toggleResourceLevels();
	});
	</script>
</div>
