
<div id ="supporting_comments<%=element.public_id%>" style = "font-size:12px;color: #000000; padding-left:0px;">
	<table id="comments_<%=element.public_id%>" style="margin-top:0px; width:700px; border:0px solid #ddd;">
		<tbody>  
			<tr>
				<td class="resource_levels_close" style="width:480px;">
            <%= link_to '', elt_case_comments_path(:organization_id => @current_organization, :elt_case_id => elt_case, :elt_element_id => element)  %>
            Summary Comments
            <span></span>
				</td>
        <td style = "line-height:1.2em">
          <% elt_case.cycle_ratings_for_element(element).group_by{|r| r.name}.each do |name, rubs| -%>
           <br/><%= pluralize(rubs.size, ' ' + name) %>
          <%end%>
        </td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#comments_<%=element.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#comments_<%=element.public_id%> .resource_levels_open').toggleResourceLevels();
	});
	</script>
</div>
