<div  id="client_cycle_survey_<%=cycl.public_id %>">
	<table style= "width:450px; margin-top:5px ">
		<tbody>
			<tr>
			<% if  cycl.school_survey_available? && !cycl.school_survey_active?-%>
				<td   id = "send_survey_<%= cycl.id %>" style="border:0px solid #ddd; font-size:9px;vertical-align:middle;  padding-top:0px; padding-bottom:0px; padding-left:0px; vertical-align:bottom; ">
					<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
						Survey Schools
					</span>
				</td>
			<% elsif cycl.school_survey_active?-%>
				<td   id = "cancel_survey_<%= cycl.id %>" style="border:0px solid #ddd; font-size:9px;vertical-align:middle;  padding-top:0px; padding-bottom:0px; padding-left:0px; vertical-align:bottom; ">
					<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
						Cancel Survey
					</span>
				</td>
			<% else -%>
				<td  style="border:0px solid #ddd; font-size:9px;">
					&nbsp;
				</td>					
			<% end -%>	
			<script type="text/javascript">
			jQ(document).ready(function() {
				jQ('#send_survey_<%= cycl.id %>').click(function() {
					var url = "<%= elt_survey_start_url(:organization_id => @current_organization, :elt_cycle_id => cycl)  %>";
						jQ.get(url, {}, function(data) {
						jQ("#client_cycle_survey_<%=cycl.public_id %>").html(data);
				   		jQ("#client_cycle_survey_<%=cycl.public_id %>").show();
						});
				})
			});
			</script>
			<script type="text/javascript">
			jQ(document).ready(function() {
				jQ('#cancel_survey_<%= cycl.id %>').click(function() {
					var url = "<%= elt_survey_stop_url(:organization_id => @current_organization, :elt_cycle_id => cycl)  %>";
						jQ.get(url, {}, function(data) {
						jQ("#client_cycle_survey_<%=cycl.public_id %>").html(data);
				   		jQ("#client_cycle_survey_<%=cycl.public_id %>").show();
						});
				})
			});
			</script>
			</tr>
		</tbody>
	</table>		
</div>
