<div id="transfer_cases_<%=framework.public_id%>">
<% org = framework.organization -%>
  <% if org.appl_owner?(app) -%>

		<div>
			<table style="width:750px;margin-left:0px; border:0px solid #ddd;">
				<tbody>  
					<tr  style="border:0px solid #ddd;" >
						<td  id='<%=org.id%>_case_xfer' style="width:200px; width:fixed; color:#000000; font-weight:normal; font-size:12px; padding-left:40px; padding-bottom:0px;">
							<%=  select(:case_org, org.id, (org.provided_app_orgs(app,false)).sort_by{|o| o.name}.collect{|o| [truncate(o.medium_name, :omission => "...", :length => 18), o.public_id]}, :prompt => "Organization With Case") %>				
						</td>
					</tr>
				</tbody>
			</table>	
		</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#<%=org.id%>_case_xfer").change(function() {
		var base_org_id = jQ("#case_org_<%=org.id%>").val();
		var url = "<%= url_for :controller => "/apps/learning_time", :action => :transfer_case_org, :organization_id => @current_organization, :elt_framework_id => framework, :org_id => org, :app_id=> app %>";
			jQ.get(url, {'base_org_id':base_org_id}, function(data) {
			jQ("#transfer_cases_<%=framework.public_id%>").html(data);
			jQ("#transfer_cases_<%=framework.public_id%>").show();
			});
	})
});
</script>
	<div style = "margin-top:20px;">
		<% unless base_org.nil? -%>
			<table style="width:700px;margin-left:0px; border:0px solid #ddd;">
				<tbody>  
					<tr  colspan=2 style="border:0px solid #ddd;" >
						<td  style=" color: #C73914;  font-weight:bold; font-size:12px; padding-left:0px; padding-bottom:0px;">
							<%= base_org.name  %>				
						</td>
					</tr>
					<tr  style="border:0px solid #ddd;" >
						<td  style="width:350px; width:fixed; color:#000000; font-weight:normal; font-size:12px; padding-left:0px; padding-bottom:0px;">
							<%=  select(:xfer_org, org.id, (org.provided_app_orgs(app,false)).sort_by{|o| o.name}.collect{|o| [truncate(o.medium_name, :omission => "...", :length => 18), o.id]}, :prompt => "Transfer To Org") %>				
						</td>
						<td  style="width:350px; width:fixed; color:#000000; font-weight:normal; font-size:12px; padding-left:0px; padding-bottom:0px;">
							<%=  select(:xfer_cycle, org.id, (framework.elt_cycles.all).sort_by{|c| c.name}.collect{|c| [truncate(c.name, :omission => "...", :length => 18), c.id]}, :prompt => "Transfer To Cycle") %>
						</td>
					</tr>
				</tbody>
			</table>

			<% base_org.elt_cases.for_framework(framework).group_by(&:elt_cycle_id).each do |elt_cycle_id, elt_cases| %>
				<table  style="width:750px; width:fixed; border-top:0px solid #000; margin-top:10px; margin-bottom:0px; margin-left:0px">
					<tbody>  
						<tr style="border:1px solid #ddd;">
							<th colspan=3 style=" text-align:left; color: #2061a5;; font-size:12px; font-weight:bold; ">
								<%= EltCycle.find(elt_cycle_id).name%><span style="font_weight:normal">&nbsp;(<%= pluralize(elt_cases.size, " Case")%>)
							</th>
						</tr>
						<% elt_cases.each do |elt_case| -%>
							<tr style="border:1px solid #ddd;">
								<td id="xfer_<%= elt_case.public_id %>" style=" width:100px; width:fixed; text-align:left; color: #2061a5;; font-size:11px; font-weight:normal; ">
									<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer;padding-left:5px;">
										Transfer
									</span>
								</td>
								<td style=" width:150px; width:fixed; text-align:left; color: #2061a5; line-height:1.3em; font-size:11px; font-weight:normal; ">
									<%= elt_case.user_name %><br/>
									<%= elt_case.created_at.strftime("%m-%d-%y") %>
								</td>
								<td style="  text-align:left; color: #2061a5; line-height:1.3em; font-size:12px; font-weight:normal; ">
									<strong><%=elt_case.elt_type ? elt_case.elt_type.name : "Undefined Type"%></strong><br/>
									<%= elt_case.name %>
								</td>
							</tr>					
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#xfer_<%= elt_case.public_id %>").click(function() {
		var xfer_org_id = jQ('#xfer_org_<%=org.id%>').val();
		var xfer_cycle_id = jQ('#xfer_cycle_<%=org.id%>').val();
		var url = "<%= url_for :controller => "/apps/learning_time", :action => :transfer_case_org, :organization_id => @current_organization, :elt_framework_id => framework, :org_id => org, :base_org_id => base_org, :elt_case_id => elt_case, :app_id=> app %>";
		jQ.get(url,{'xfer_org_id':xfer_org_id, 'xfer_cycle_id':xfer_cycle_id},  function(data) {
			jQ("#transfer_cases_<%= framework.public_id%>").html(data);
			jQ("#transfer_cases_<%= framework.public_id%>").show();
					});
	})
});
</script>
						<% end -%>		
					</tbody>
				</table>
			<% end -%>
		<% end -%>
	</div>
	<% end -%>
</div>








