
<div class= 'panel_title_blue'>
  <%= @current_provider.short_name %>&nbsp;<%= @current_application.app_name(:provider=>@current_provider) %>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 activity_list">
    <div class='activity_panel'>
      <%= (!@current_cycle.nil? && @current_cycle.active?) ? (@current_cycle.name + ' Activities') : 'No Cycle Assignment' %>
    </div>
    <% idx = 0 %>
    <div class="list-group">
      <% while @activity_list.size > idx %>
          <div class="col-md-4">
            <% disabled = @activity_list[idx].has_active_indicators? ? '' : 'disabled' %>
            <a class="list-group-item <%=disabled%>"
               href= <%= @activity_list[idx].has_active_indicators? ? (elt_case_add_path(:organization_id => @current_organization, :elt_cycle_id => @current_cycle, :school_id=> @current_organization, :elt_type_id => @activity_list[idx])) : '#' %>>
              <%= @activity_list[idx].name %>
            </a>
            <% idx += 1 %>
          </div>
      <% end -%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <% if !@current_cycle.nil? && @current_cycle.active? %>
        <%= render :partial => "/apps/learning_time/activity_map", :locals => {:org => @current_organization} %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-1">&nbsp;</div>
</div>
</div>


<div id="control_panel" >
  <ul>
    <li>
      <%  tab_2_label = "All " + @current_organization.short_name + " Cases" %>
      <a href="#tabs-2"><span class="tab_label">
			<%= tab_2_label %></span></a>
    </li>
    <li>
      <%  tab_3_label = (@current_provider.short_name  + " Community") -%>
      <a href="#tabs-3"><span class="tab_label">
			<%= tab_3_label %></span></a>
    </li>
    <li>
      <%  tab_6_label = "Reports/Plans" %>
      <a href="#tabs-6"><span class="tab_label">
			<%= tab_6_label %></span></a>
    </li>

    <% if @current_user.elt_admin_for_org?(@current_organization)  && false-%>   <!-- skip local options for now -->
        <li>
          <%  tab_9_label = "Options" %>
          <a href="#tabs-9"><span class="tab_label">
				<%= tab_9_label %></span></a>
        </li>
    <% end -%>
    <% if @admin && @current_organization.provider?(@current_application) -%>
        <li>
          <%  tab_7_label = "Surveys" %>
          <a href="#tabs-7"><span class="tab_label">
				<%= tab_7_label %></span></a>
        </li>
        <li>
          <%  tab_8_label = "Tool Maintenance" %>
          <a href="#tabs-8"><span class="tab_label">
				<%= tab_8_label %></span></a>
        </li>
    <% end -%>
  </ul>
  <div id="tabs-2" class="favorite_organizations" style="width:900px">
    <%= render :partial => "/apps/learning_time/list_case_cycles", :locals=>{:org=>@current_organization} %>
  </div>
  <div id="tabs-3" class="favorite_organizations" style="width:900px">
    <% org_type = (@current_organization == @current_provider) ? nil : @current_organization.organization_type %>
    <%= render :partial => "/apps/learning_time/share_rubric_data", :locals=>{:org_type => org_type,
                                                                              :standard => nil,
                                                                              :rubric => nil, :activity => @current_provider.elt_master_activity} %>
  </div>
  <div id="tabs-6" class="favorite_organizations" style="width:900px">
    <%= render :partial => "/apps/learning_time/analysis_summaries", :locals=>{ :org => @current_organization} %>
  </div>
  <% if @current_user.elt_admin_for_org?(@current_organization)  && false-%>   <!-- skip local options for now  -->
      <div id="tabs-9" class="favorite_organizations" style="width:900px">
        <%= render :partial => "/apps/learning_time/manage_options", :locals=>{:org=>@current_organization, :app=>@current_application} %>
      </div>
  <% end -%>
  <% if @current_user.elt_admin_for_org?(@current_organization) && @current_organization.appl_owner?(@current_application) -%>
      <div id="tabs-7" class="favorite_organizations" style="width:900px">
        <%= render :partial => "/apps/shared/sumarize_surveys", :locals => {:admin => @admin, :org => @current_organization, :app => @current_application} %>
      </div>
      <div id="tabs-8" class="favorite_organizations" style="width:900px">
        <%= render :partial => "/apps/learning_time/maintain_tool", :locals=>{:org => @current_organization} %>
      </div>
  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>
