
	<div style ="text-align:center; color: #2061a5; font-size:16px; margin-top:0px; padding-top:20px; font-weight:bold">
		<strong><%= @current_organization.short_name %>&nbsp;Activity</strong>
	</div>
	
	<%= render :partial => "/shared/error_and_notice" %>

	
	<div class="Form clear">
		<% form_for(:elt_type, :url => {:controller => "/apps/learning_time", :action => :maintain_activity, :organization_id => @current_organization, :elt_type_id=>@activity, :task=>@task, :function => @task}) do |form| %>
		
			<%= render :partial => "/apps/learning_time/form_activity", :locals=>{:org=>@current_organization, :button_label=> (@task == "New" ? "Create Activity" : "Update"), :activity => @activity} %>
		
		<% end -%>	

		<% unless @task == "New"%>
			<%= render :partial => "/apps/learning_time/activate_rubric", :locals=>{:entity => @activity} %>
		<% end -%>
		
		<% unless @task == "New" || @activity.active?%>
			<% form_for(:elt_type, :url => {:controller => "/apps/learning_time", :action => :maintain_activity, :organization_id => @current_organization, :elt_type_id=>@activity, :task=>@task, :function => "Destroy"}) do |form| %>
				<div class="FormRow submit_warp" style= "padding-left:25px; padding-bottom:20px">	
					<br/>
					<%= submit_tag "Destroy", :confirm => "Are you sure?", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
					<br/>
				</div>			
			<% end -%>	
		<% end -%>
	</div>	

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>
