<% ind_label = @activity.nil? ? "Indicator" : (@activity.master? ? "Indicator" : "Look-for") %>
<div style ="color: #2061a5; font-size:16px; margin-top:0px; padding-top:20px; font-weight:bold"> 
	<strong><center><%= @current_organization.short_name %>&nbsp;<%= @app.abbrev %>&nbsp;<%= ind_label %></center></strong>
</div>
<div style ="color: #C83A14; font-size:14px; margin-top:0px; padding-top:10px; font-weight:normal"> 
	<center><%= @activity.nil? ? "Unknown Activity":@activity.name %>&nbsp;:&nbsp;<%= @element.nil? ? "Unknown Element":@element.name %></center>
</div>	

<% unless @element.nil? || @activity.nil? -%>

	<%= render :partial => "/shared/error_and_notice" %>
	<div class="Form clear">
		<% form_for(:elt_indicator, :url => {:controller => "/apps/learning_time", :action => :maintain_indicator, :organization_id => @current_organization, :elt_indicator_id=>@indicator, :elt_type_id=>@activity, :elt_element_id=>@element, :app_id => @app.id, :task=>@task, :function => @task}) do |form| %>
		
			<%= render :partial => "/apps/learning_time/form_indicator", :locals=>{:org=>@current_organization, :button_label1=> (@task == "New" ? "Create " : "Update "), :button_label2=> ind_label, :element => @element, :activity => @activity, :indicator => @indicator} %>
		
		<% end -%>	
		<% unless @task == "New" -%>
			<%= render :partial => "apps/learning_time/related_indicators", :locals=>{:indicator => @indicator} %>
			<%= render :partial => "apps/learning_time/indicator_lookfors", :locals=>{:indicator => @indicator} %>
		<% end -%>
		
		<% unless @task == "New" || @indicator.active?%>
			<% form_for(:elt_indicator, :url => {:controller => "/apps/learning_time", :action => :maintain_indicator, :organization_id => @current_organization, :elt_indicator_id=>@indicator, :elt_type_id=>@activity, :elt_element_id=>@element, :app_id => @app.id, :task=>@task, :function => "Destroy"}) do |form| %>
				<div class="FormRow submit_warp" style= "padding-left:25px; padding-bottom:20px">	
					<br/>
					<%= submit_tag "Destroy", :confirm => "Are you sure?", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
					<br/>
				</div>			
			<% end -%>	
		<% end -%>
	</div>	

<% end -%>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>
