
<div class="row">
  <div class="col-md-3">
    <div class="assess_header_margin_left">
      <%= image_tag(organization.logo.url, :alt => organization.name, :width => 150) if organization.logo.file? -%>
    </div>
  </div>
  <div class="col-md-6">
      <div class= "assess_header_ctr">
        <%= view_mode == 'Preview' ? 'Classroom Name Here' : classroom.name.upcase %>
      </div>
  </div>
  <div class="col-md-3">
     <div class="assess_header_margin_right">
        <% if user.picture.present? -%>
          <%= image_tag user.picture.url(:small_thumb) %>
        <% end %>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class= "assess_header_margin_left">
      <%= view_mode == 'Preview' ? 'Teacher Names' : classroom_period.teacher_list %>
    </div>
  </div>
  <div class="col-md-6">
    <div class= "assess_subheader_ctr">
      <%= Time.now.strftime("%B %d, %Y")%>
    </div>
  </div>
  <div class="col-md-3">
    <div class= "assess_header_margin_right">
      <%= user.full_name.upcase %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="assess_header_margin_left">
      <% if view_mode == 'Take' -%>
        <span class="button_gray">
          <%= link_to 'Return', ifa_take_path(:organization_id => organization, :classroom_id => classroom.id, :period_id => classroom_period.id, :topic_id => (topic.nil? ? nil : topic.id)), :confirm => "Are You Sure? You Have Not Submitted Your Assessment." %>
        </span>
      <% end -%>
    </div>
  </div>
  <div class="col-md-6">
    <div class= "assess_subheader_ctr">
      <%= assessment.name.titleize %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<%= form_for(:act_submission, :url => ifa_submission_submit_path(:organization_id => organization, :classroom_id => (classroom.nil? ? nil : classroom.id),
                                                                 :topic_id => (topic.nil? ? nil :topic.id), :period_id => (classroom_period.nil? ? nil : classroom_period.id),
                                                                 :act_assessment_id => assessment.id, :begin_time => begin_time), html: { id: "id"}) do |form| -%>
  <%= render :partial => "/shared/error_and_notice" %>
  <div class="question_list_box">
    <% @current_assessment.questions_for_test.each_with_index do |quest,idx| %>
      <%= render :partial => "view_question_in_assessment" , :locals => {:quest => quest, :num => idx+1} %>
    <% end -%>
    <div class="eoa">
      - - End - -
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 assess_form_end">
      <span class=".assess_form_end_label">Optional Comment:</span>
      <%= text_field :act_submission, :student_comment, :size => 55, :maxlength => 150 %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8 assess_submit_row">
        <%= render :partial => "submit_assessment_button", :locals=>{:view_mode => view_mode, :organization => organization,
                                                                     :classroom => classroom, :classroom_period => classroom_period,
                                                                     :teacher => teacher, :teacher_list => teacher_list} %>
    </div>
    <div class="col-md-2" ></div>
	</div>	
<% end -%>