
<div class="row">
  <div class="col-md-3">
    <div class="assess_header_margin_left">
      <%= image_tag(organization.logo.url, :alt => organization.name, :width => 150) if organization.logo.file? -%>
    </div>
  </div>
  <div class="col-md-6">
      <div class= "assess_header_ctr">
        <%= form_heading %>
      </div>
  </div>
  <div class="col-md-3">
     <div class="assess_header_margin_right">
        <% if user.picture.present? -%>
          <%= image_tag user.picture.url(:small_thumb) %>
        <% end %>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class= "assess_header_margin_left">
      <%= form_left %>
    </div>
  </div>
  <div class="col-md-6">
    <div class= "assess_subheader_ctr">
      <%= form_time.strftime("%B %d, %Y")%>
    </div>
  </div>
  <div class="col-md-3">
    <div class= "assess_header_margin_right">
      <%= user.full_name.upcase %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="assess_header_margin_left">
      <% if view_mode == 'Take' -%>
        <span class="button_gray">
          <%= link_to 'Return', ifa_take_path(:organization_id => organization, :classroom_id => classroom.id, :period_id => classroom_period.id, :topic_id => (topic.nil? ? nil : topic.id)), :confirm => "Are You Sure? You Have Not Submitted Your Assessment." %>
        </span>
      <% end -%>
    </div>
  </div>
  <div class="col-md-6">
    <div class= "assess_subheader_ctr">
      <%= assessment.name.titleize %>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

<%= render :partial => "/shared/error_and_notice" %>
<div class="question_list_box">
  <% assessment.questions_for_test.each_with_index do |quest,idx| %>
    <%= render :partial => "view_question_in_assessment" , :locals => {:submission => submission, :quest => quest, :num => idx+1, :review => (view_mode == 'Review')} %>
  <% end -%>
</div>
<% if view_mode != 'Review' %>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 assess_form_end">
      <span class="assess_form_end_label">End of Assessment:</span>
      <%= text_field :act_submission, :student_comment, :size => 55, :maxlength => 150, :placeholder => 'Optional Comment' %>
    </div>
    <div class="col-md-2"></div>
  </div>
<% else %>
  <div class="row comment_box">
    <div class="col-md-1"></div>
    <div class="col-md-2 student_comment_label">
      Student Comment:
    </div>
    <div class="col-md-8 student_comment">
      <%= simple_format(submission.student_comment == '' ? '- none -' : submission.student_comment) %>
    </div>
  </div>
  <% if submission.final? %>
    <div class="row comment_box">
      <div class="col-md-1"></div>
      <div class="col-md-2 student_comment_label">
        Teacher Comment:
      </div>
      <div class="col-md-8 student_comment">
        <%= simple_format(submission.teacher_comment == '' ? '- none -' : submission.teacher_comment) %>
      </div>
    </div>
  <% else %>
    <div class="row reviewer_end_row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <%= text_area :act_submission, :teacher_comment, :rows => 3, :cols => 70, :placeholder => 'Reviewer Comment', :value => @current_submission.teacher_comment  %>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>
<% end %>

