<div class="row ifa_panel_title">
  <%= pluralize(@current_classroom.act_assessments.active.size, ' Available Assessment') %>
</div>
<% student_submissions = @current_user.act_submissions.for_classroom(@current_classroom) -%>
<% if !@current_classroom.act_assessments.active.empty? %>
  <% for ass in @current_classroom.act_assessments.active.sort{|a,b| b.updated_at <=> a.updated_at}do -%>
    <% last_submit = @current_user.act_submissions.for_classroom(@current_classroom).for_assessment(ass).first rescue nil %>
    <% available_to_submit = last_submit.nil? ? true : (last_submit.created_at <= (Time.now - @current_classroom.ifa_classroom_option.days_til_repeat.days)) %>
    <div class="row ifa_take_list">
      <hr>
      <div class="col-md-1"></div>
      <div class="col-md-2 ">
        <%= last_submit.nil? ? 'Not Yet Taken' : (' Taken ' + (time_ago_in_words(last_submit.created_at).sub(/about /, '') + " ago")) %>
      </div>
      <div class="col-md-1">
        <% disabled =  available_to_submit ? nil : 'disabled' -%>
        <%= link_to "Take", ifa_submission_take_path(:organization_id => @current_organization, :classroom_id => @current_classroom.id, :period_id => @current_classroom_period.id, :topic_id => (@topic.nil? ? nil : @topic.id), :act_assessment_id => ass.id, :function => "Assess"),
                    :class => "btn btn-default btn-xs", :disabled => disabled, :method=>:get %>
      </div>
      <div class="col-md-7">
        <span style="font-weight:bold"><%= ass.name.titleize%></span><br/>
        <%= ass.act_subject.name%>:&nbsp;
        <% @current_provider.ifa_org_option.act_masters.each do |mstr| %>
            <%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%>&nbsp;&nbsp;
        <% end -%>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>
<% end -%>
