
 <div>
   <table class="table table-bordered table-hover answer_box">
     <tbody>
      <% if question.question_type =="MC" -%>
          <% answer_choices = submission.mc_answers_for_question(question) %>
         <% question.choices.each do |chc| -%>
             <tr>
               <td>
                  <% if answer_choices.include?(chc) %>
                    <% if chc.correct? %>
                       <span class='selected_symbol'><i class='correct_answer answer_symbol'></i></span>
                     <% else %>
                         <span class='selected_symbol'><i class='incorrect_answer answer_symbol'></i></span>
                     <% end %>
                  <% end %>
               </td>
               <td	class="question_choice"  >
                 <% symbol_text = chc.correct? ? ("<span class='answer_symbol'>&nbsp;<i class='star_achievement'></i></span>") : '' %>
                 <%= simple_format(chc.choice + symbol_text) %>
               </td>
             </tr>
         <% end -%>
      <% else -%>
         <tr>
           <td	colspan=2 class="sa_answer_box">
             <%= simple_format((submission.short_answer_for_question(question).nil? ? nil : submission.short_answer_for_question(question).short_answer)) %>
           </td>
         </tr>
     <% end -%>
     </tbody>
   </table>
   <% if question.question_type !="MC" -%>
       <div class="row sa_answer_score">
         <div class="col-md-4">
           Current Score:&nbsp;<%= number_with_precision(submission.short_answer_for_question(question).points, :precision => 1) %>
         </div>
         <%= hidden_field_tag "question_id[]", question.id %>
         <div class="col-md-6">
           <%=  select(:short_ans, question.id, ActAnswer::SCORES, :prompt => 'Score Answer') %>
         </div>
       </div>
   <% end%>
 </div>
