<div id="take_assess">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class= 'panel_title_blue'>
        <%= @current_classroom.course_name.upcase  %> Growth| <%= @current_user.full_name %>
      </div>
    </div>
    <div class="col-md-1 ">
      <div class="row ifa_take_right">
        <span class="button_gray">
          <%= link_to 'Return', offering_view_path(:organization_id => @current_organization, :topic_id => @topic, :id => @current_classroom) %>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class= 'panel_subtitle_blue'>
        Period: <%= @current_classroom_period.name.upcase  %> | <%= @current_classroom_period.teacher_list %>
        <%= render :partial => "/shared/error_and_notice" %>
      </div>
    </div>
    <div class="col-md-1 "></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 submission_success">
      <% if !@current_student_plan.nil? -%>
        <% if !@suggested_topics.empty? %>
          <div class="row plan_lus_header">
            Your Plan Learning Units
          </div>
          <% @suggested_topics.each do |lu| %>
            <div class="row plan_lus">
              <%= link_to lu.title, offering_view_path(:organization_id => @current_organization, :topic_id => lu, :id => @classroom) %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="row plan_create_msg">
          <%= @current_user.first_name.titleize %>, Please Initiate Your <%=@current_subject.name %> Growth Plan
        </div>
      <% end %>
    </div>
    <div class="col-md-2 "></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 ifa_dashboard_box">
      <% if !@last_submission.nil? %>
          <%= render :partial => "ifa/ifa_dashboard/dashboard",
                     :locals=>{:dashboard => @last_submission, :subject => @last_submission.subject, :standard=>@current_standard, :cell_corrects=>@cell_correct,
                               :cell_totals=>@cell_total, :cell_pcts=>@cell_pct, :cell_color=>@cell_color, :cell_font=>@cell_font,
                                :cell_milestones=>@cell_milestone, :cell_achieves=>@cell_achieve} %>
      <% end %>
      <hr>
    </div>
    <div class="col-md-1 "></div>
  </div>

  <div id="control_panel" >
    <ul>
      <li>
        <%  tab_1_label = " My Assessment Pool " %>
        <a href="#tabs-1"><span class="tab_label">
        <%= tab_1_label %></span></a>
      </li>
      <li>
        <%  tab_2_label = " My Growth " %>
        <a href="#tabs-2"><span class="tab_label">
        <%= tab_2_label %></span></a>
      </li>
      <% ActSubject.plannable.each do |subj| %>
        <li>
          <%  tab_2_label = 'My ' + subj.name + ' Plan' %>
          <a href="#tabs-3<%= subj.id.to_s%>"><span class="tab_label">
          <%= tab_2_label %></span></a>
        </li>
      <% end %>
    </ul>
    <div id="tabs-1" class="row">
      <div class="col-md-12">
        <%= render :partial => "list_classroom_assessments"  -%>
      </div>
    </div>
    <div id="tabs-2" class="row">
      <div class="col-md-12">
        <%= render :partial => "your_growth"  -%>
      </div>
    </div>
    <% ActSubject.plannable.each do |subj| %>
      <div id="tabs-3<%= subj.id.to_s%>" class="row">
        <div class="col-md-12">
          <%= render :partial => "/ifa/ifa_plan/manage_subj_plan", :locals=>{:student => @current_user, :subject => subj, :show_form => @current_user.show_ifa_plan_form?(subj)} %>
        </div>
      </div>
    <% end %>
  </div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
</div>