<%= error_messages_for :outreach_priority %>
<p>
	<%= label_tag 'Name:' %>
	<%= text_field :outreach_priority, :name %>
</p>
<p>
	<% root = OutreachPriority.find_by_name("ROOT") %>
	<%= label_tag 'Parent ID:' %>

	<% 
		if root == nil 
			op = OutreachPriority.new
			op.name = "root"
			op.parent_id = 0
			op.save
		end	
	%>
	<%= collection_select :outreach_priority, :parent_id, OutreachPriority.find(:all), :id, :name %>

</p>
