<div id="assessment_pool">
  <div class="row repo_pool_select">
    <div class="col-md-1 "></div>
    <div class="col-md-5">
      <div id="ass_user_select">
        <%=  select( :ass_user, :id, @assessment_creators.collect{|s| [(s.last_name + ' | ' + s.organization.short_name), s.id]}, {:prompt => "Assessment Creator"}) %>
      </div>
    </div>
    <div class="col-md-5 ">
      <div id="ass_strand_select">
        <%=  select( :ass_standard, :id,  @current_strands.collect{|s| [(s.act_subject.name + ' | ' +s.abbrev.upcase), s.id]}.push([' Empty Assessments', 0]), {:prompt => "Assessment Strand"}) %>
      </div>
    </div>
    <div class="col-md-1 "></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#ass_user_select").change(function(){
        var entity_id = jQ('#ass_user_id').val();
        var url = "<%= ifa_repo_assessment_pool_select_url(:organization_id => @current_organization, :entity_class => 'User') %>";
        jQ.get(url, {'entity_id': entity_id}, function(data) {
          jQ("#assessment_pool").html(data);
          jQ("#assessment_pool").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#ass_strand_select").change(function(){
        var entity_id = jQ('#ass_standard_id').val();
        var url = "<%= ifa_repo_assessment_pool_select_url(:organization_id => @current_organization, :entity_class => 'ActStandard') %>";
        jQ.get(url, {'entity_id': entity_id}, function(data) {
          jQ("#assessment_pool").html(data);
          jQ("#assessment_pool").show();
        });
      })
    });
  </script>
  <% if @entity_assessments %>
    <div class="row repo_pool_list">
      <div class= "col-md-12 ">
        <div class="repo_panel repo_pool_header_label">
          <%= pluralize(@entity_assessments.size, ' ' + (@current_entity.nil? ? 'Empty':@current_entity.name) + ' Assessment') %>
        </div>
      </div>
    </div>
    <% @entity_assessments.each do |ass| %>
      <div class="row repo_pool_text">
        <div class= "col-md-2 assessment_pool_name">
          <div >
            <%= ass.act_subject.name %>
          </div>
          <% if !ass.active? %>
            <div class=" assessment_disabled">
              Disabled
            </div>
          <% end %>
          <% if !ass.calibrated? %>
            <div class=" assessment_disabled">
              Calibrated
            </div>
          <% end %>
          <div >
            <%= ass.user ? ass.user.last_name.upcase : 'Former User' %>
          </div>
        </div>
        <div class= "col-md-8">
          <div class="assessment_pool_name">
            <p>
              <%= ass.name%>
            </p>
            <p>
              <%= ass.min_score%> - <%= ass.max_score%> | <%= ass.strand_string %>
            </p>
          </div>
          <% if ass.comment != '' %>
            <div class="assessment_pool_name">
              COMMENT: <%= ass.comment %>
            </div>
          <% end %>
          <div class="assessment_pool_name">
            <%= pluralize(ass.act_questions.size, ' Question') %>
          </div>
          <%= render :partial => "assessment_classrooms", :locals => {:assessment => ass} %>
        </div>
        <div class= "col-md-2">
          <div class="row assessment_pool_button">
            <%= link_to "PreView", ifa_submission_take_path(:organization_id => @current_organization, :act_assessment_id => ass.id,
                                                              :function => "preview"), {:class => 'button_gray', :target => '_blank'}%>
          </div>
          <% if @current_user.id == ass.user_id || @current_user_app_admin %>
            <div class="row">
              <div class="col-md-12 assessment_pool_button">
                <%= link_to 'Edit', ifa_repo_assessment_edit_path(:organization_id => @current_organization,
                                                                :act_subject_id => ass.act_subject.id, :act_assessment_id => ass.id), {:class => 'button_gray', :target => '_blank'} %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-md-12 assessment_pool_button">
              <%= link_to 'Details', ifa_repo_assessment_view_path(:organization_id => @current_organization, :act_assessment_id => ass.id), {:class => 'button_gray', :target => '_blank'} %>
            </div>
          </div>
          <% if (@current_user.id == ass.user_id || @current_user_app_admin) && ass.destroyable? %>
            <div class="row">
              <div class="col-md-12 assessment_pool_button">
                <span id = "destroy_<%=ass.id%>" class="button_red">
                  Destroy Assessment
                </span>
              </div>
            </div>
            <script type="text/javascript">
              jQ(document).ready(function() {
                jQ("#destroy_<%=ass.id%>").click(function(){
                  var url = "<%= ifa_repo_assessment_destroy_url(:organization_id => @current_organization,
                              :entity_class => (@current_entity.nil? ? '' : @current_entity.class.to_s), :entity_id => (@current_entity.nil? ? 0 :@current_entity.id), :act_assessment_id => ass.id ) %>";
                  jQ.get(url, {}, function(data) {
                    jQ("#assessment_pool").html(data);
                    jQ("#assessment_pool").show();
                  });
                })
              });
            </script>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>
</div>