<div id= 'assessment_buttons_<%= @current_assessment.id %>'>
  <div class="row repo_button_list">
    <div class= "col-md-4 ">
      <% button_color = @current_assessment.active? ? 'button_green' : 'button_red'%>
      <% button_label = @current_assessment.active? ? ' Enabled ' : ' Disabled '%>
      <% button_status = @current_assessment.enableable? ? 'active' : 'disabled'%>
      <% descript = @current_assessment.active? ? 'CAN be used' : 'CANNOT be used'%>
      <span id = "toggle_active_<%=@current_assessment.id%>" class = "update_button <%=button_color%> <%=button_status%>">
        <%=button_label %>
      </span>
    </div>
    <div class= "col-md-8 ">
      <%=descript %>
    </div>
  </div>
  <div class="row repo_button_list">
    <div class= "col-md-4 ">
      <% button_color = @current_assessment.locked? ? 'button_green' : 'button_red'%>
      <% button_label = @current_assessment.locked? ? ' Locked ' : ' Not Locked '%>
      <% button_status = @current_assessment.active? ? 'active' : 'disabled'%>
      <% descript = @current_assessment.locked? ? 'CANNOT be changed' : 'CAN be changed'%>
      <span id = "toggle_lock_<%=@current_assessment.id%>" class = "update_button <%=button_color%> <%=button_status%>">
        <%=button_label %>
      </span>
    </div>
    <div class= "col-md-8 ">
      <%=descript %>
    </div>
  </div>
  <div class="row repo_button_list">
    <div class= "col-md-4 ">
      <% button_color = @current_assessment.test_strategies?? 'button_green' : 'button_red'%>
      <% button_label = @current_assessment.test_strategies? ? ' Strategies ' : ' No Strategies '%>
      <% descript = @current_assessment.test_strategies? ? 'Strategies Tested' : 'Strategies NOT Tested'%>
      <span id = "toggle_strategy_<%=@current_assessment.id%>" class = "update_button <%=button_color%>">
        <%=button_label %>
      </span>
    </div>
    <div class= "col-md-8 ">
      <%=descript %>
    </div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#toggle_strategy_<%=@current_assessment.id%>").click(function(){
        var url = "<%= ifa_repo_assessment_active_url(:organization_id => @current_organization,
                  :act_assessment_id => @current_assessment.id, :function => 'Strategy' ) %>";
        jQ.get(url, {}, function(data) {
          jQ("#assessment_buttons_<%= @current_assessment.id %>").html(data);
          jQ("#assessment_buttons_<%= @current_assessment.id %>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#toggle_active_<%=@current_assessment.id%>").click(function(){
        var url = "<%= ifa_repo_assessment_active_url(:organization_id => @current_organization,
                  :act_assessment_id => @current_assessment.id, :function => 'Active' ) %>";
        jQ.get(url, {}, function(data) {
          jQ("#assessment_buttons_<%= @current_assessment.id %>").html(data);
          jQ("#assessment_buttons_<%= @current_assessment.id %>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#toggle_lock_<%=@current_assessment.id%>").click(function(){
        var url = "<%= ifa_repo_assessment_active_url(:organization_id => @current_organization,
                  :act_assessment_id => @current_assessment.id, :function => 'Lock' ) %>";
        jQ.get(url, {}, function(data) {
          jQ("#assessment_buttons_<%= @current_assessment.id %>").html(data);
          jQ("#assessment_buttons_<%= @current_assessment.id %>").show();
        });
      })
    });
  </script>
</div>
