<div id= 'assessment_questions<%= @current_assessment.id %>' class="repo_tags_box">

  <div class="row">
    <div class= "col-md-1"></div>
    <div class= "col-md-10 ">
      <%= render :partial => "assessment_summary_row" %>
    </div>
    <div class= "col-md-1"></div>
  </div>

  <div class="row">
    <div class= "col-md-1"></div>
    <div class= "col-md-10 ">
      <div class="repo_assessment_panel repo_header_label">
        <div class="row">
          <div class= "col-md-2">
            <span class="button_gray repo_header_button" id="create_question">
              <%= link_to 'Create Question', ifa_repo_question_add_path(:organization_id => @current_organization, :act_subject_id => @current_assessment.act_subject.id,
              :act_assessment_id => @current_assessment.id), { :target=>'_blank'}  %>
            </span>
          </div>
          <div class= "col-md-8 ">
            <%= pluralize(@assessment_questions.size, ' Assessment Question')%> | <%= number_with_precision(@assessment_questions_mins, :precision=>1) %> Minutes
          </div>
          <div class= "col-md-2">
            <span class="button_gray repo_header_button" id="refresh_assessment">
              Refresh
            </span>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        jQ(document).ready(function() {
          jQ("#refresh_assessment").click(function(){
            var url = "<%= ifa_repo_assessment_refresh_url(:organization_id => @current_organization, :act_assessment_id => @current_assessment.id,
            :filter_user_id => (@user_filter ? @user_filter.id : ''), :filter_level_id => (@level_filter ? @level_filter.id : ''), :filter_strand_id => (@strand_filter ? @strand_filter.id : '')) %>";
            jQ.get(url, {}, function(data) {
              jQ("#assessment_questions<%= @current_assessment.id %>").html(data);
              jQ("#assessment_questions<%= @current_assessment.id %>").show();
            });
          })
        });
      </script>
      <% @assessment_questions.each do |question| %>
        <div class="row question_table">
          <div class = "col-md-1 question_table_button">
            <% button_color = 'button_orange'%>
            <% button_label = 'Remove'%>
            <span id = "toggle_remove_<%=question.id%>" class=<%=button_color%>>
              <%=button_label %>
            </span>
          </div>
          <div class = "col-md-1 question_table_button">
            <% button_color = 'button_blue'%>
            <% button_label = 'Change'%>
            <span id = "toggle_reposition_<%=question.id%>" class=<%=button_color%>>
              <%=button_label %>
            </span>
          </div>
          <div class = "col-md-1 question_table_button">
            <%= text_field :position, question.id, :value => @current_assessment.position_for(question), :size => 2, :maxlength => 2%>
          </div>
          <div class = "col-md-9">
            <%= render :partial => "question_info_row", :locals => {:question => question} %>
          </div>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ("#toggle_remove_<%=question.id%>").click(function(){
                var url = "<%= ifa_repo_assessment_question_toggle_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
                :act_assessment_id => @current_assessment.id, :act_question_id => question.id ) %>";
                jQ.get(url, {}, function(data) {
                  jQ("#assessment_questions<%= @current_assessment.id %>").html(data);
                  jQ("#assessment_questions<%= @current_assessment.id %>").show();
                });
              })
            });
          </script>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ("#toggle_reposition_<%=question.id%>").click(function(){
                var position = jQ('#position_<%=question.id%>').val();
                var url = "<%= ifa_repo_assessment_question_position_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
              :act_assessment_id => @current_assessment.id, :act_question_id => question.id ) %>";
                jQ.get(url, {'position': position}, function(data) {
                  jQ("#assessment_questions<%= @current_assessment.id %>").html(data);
                  jQ("#assessment_questions<%= @current_assessment.id %>").show();
                });
              })
            });
          </script>
        </div>
        <hr>
      <% end %>
      <%= render :partial => "question_pool" %>
    </div>
    <div class= "col-md-1"></div>
  </div>
</div>