<div id= 'assessment_classrooms<%= assessment.id %>'>
  <div class="row assessment_classroom_header">
    Used In <%= pluralize(assessment.classrooms.size, ' Offering') %>
  </div>
  <div class="row assessment_classroom_list">
      <div class="col-md-6">
        <div id="add_select_<%= assessment.id %>">
          <%=  select( :add_class, assessment.id, @classroom_set['available'+ assessment.id.to_s].collect{|c| [truncate((c.organization.short_name.upcase + ' | ' + c.name), :ommission=>'', :length=>40), c.id]}, {:prompt => "Assign To Offering"}) %>
        </div>
      </div>
      <div class="col-md-6 ">
        <div id="rem_select_<%= assessment.id %>">
          <%=  select( :rem_class, assessment.id,  @classroom_set['used'+ assessment.id.to_s].collect{|c| [truncate((c.organization.short_name.upcase + ' | ' + c.name), :ommission=>'', :length=>40), c.id]}, {:prompt => "Remove From Offering"}) %>
        </div>
      </div>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#add_select_<%= assessment.id %>").change(function(){
          var classroom_id = jQ('#add_class_<%=assessment.id%>').val();
          var url = "<%= ifa_repo_assessment_classroom_assign_url(:organization_id => @current_organization, :act_assessment_id => assessment.id) %>";
          jQ.get(url, {'classroom_id': classroom_id}, function(data) {
            jQ("#assessment_classrooms<%= assessment.id %>").html(data);
            jQ("#assessment_classrooms<%= assessment.id %>").show();
          });
        })
      });
    </script>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#rem_select_<%= assessment.id %>").change(function(){
          var classroom_id = jQ('#rem_class_<%=assessment.id%>').val();
          var url = "<%= ifa_repo_assessment_classroom_assign_url(:organization_id => @current_organization, :act_assessment_id => assessment.id) %>";
          jQ.get(url, {'classroom_id': classroom_id}, function(data) {
            jQ("#assessment_classrooms<%= assessment.id %>").html(data);
            jQ("#assessment_classrooms<%= assessment.id %>").show();
          });
        })
      });
    </script>
  </div>
</div>