<div id= 'assessment_questions<%= @current_assessment.id %>'>
  <div class="row">
    <div class= "col-md-12 ">
      <div class="repo_q_choice_panel repo_header_label">
        <div class="row">
          <%= pluralize(@current_assessment.active_questions.size, ' Questions')%>
        </div>
      </div>
    </div>
  </div>
  <div class="assessment_question_box">
    <% @current_assessment.active_questions.each do |question| %>
      <div class="row">
        <div class = "col-md-3 performance_cell">
          <%= @question_set['points' + question.id.to_s] %> of <%= @question_set['selections' + question.id.to_s]%><br/>
          <%= @question_set['proficiency'+ question.id.to_s].nil? ?  '' : @question_set['proficiency'+ question.id.to_s]%>%
        </div>
        <div class = "col-md-7">
          <div class="row">
            <div class="col-md-7 static_assess_q_level">
              <%= mastery_label(question.mastery_level, true) %>
            </div>
            <div class="col-md-5">
              <%= render :partial =>'/ifa/question_repo/question_thumbs', :locals=>{:seq_score => @question_set['seq_score'+ question.id.to_s], :align_score => @question_set['align_score'+ question.id.to_s] } %>
            </div>
          </div>
          <div class="static_assess_question">
            <%= question.question %>
          </div>
        </div>
        <div class = "col-md-2  static_assess_question_view">
          <%= link_to 'Analyze', ifa_repo_assessment_question_analyze_path(:organization_id => @current_organization,  :act_assessment_id => @current_assessment.id, :act_question_id => question.id), :class => 'button_gray' %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
