<div id="ifa_question_repo" class="repo_box">
  <% if !@current_subject.nil? %>
    <div class= 'row panel_title_blue'>
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <%=@function.upcase %>&nbsp;<%=@current_subject.name %> Assessment
      </div>
      <div class="col-md-2">
        <%= link_to  "Back", self.send(@current_application.link_path,{:organization_id => @current_organization}), :class => "button_gray" %>
      </div>
    </div>
    <hr>
    <%= render :partial => "/shared/error_and_notice" %>
    <%= render :partial =>  "form_assessment", :locals=>{}%>
  <% if @function == 'Update' %>
    <hr>
    <%= render :partial =>  "assessment_questions", :locals=>{}%>
  <% end %>
  <% else %>
    <div class= 'row panel_title_blue'>
      No <%= @current_application.app_name(:provider=>@current_provider) %> Subject Identified
    </div>
  <% end %>
</div>