
<style>
  li.ui-tabs-selected {
    background: #F9F9F9;
  }
</style>
<script>
  jQ(function() {
    jQ( "#tabs" ).tabs();
  });
</script>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQ('#control_panel').tabs();
    jQ(".section_selector").segmentedControl();


    var $link_metrics = jQ("#metrics");
    var $link_abuse = jQ("#report_abuses");
    $link_abuse.click(function(event){
      event.preventDefault();
      jQuery.get("/admin/reported_abuses/index/<%=@current_organization.public_id%>" , function(data){
        jQuery("#report_metrics_abuse").html(data);
      })
      return false;
    })
    $link_metrics.click(function(event){
      event.preventDefault();
      jQuery.get("/admin/metrics/index/<%=@current_organization.public_id%>" , function(data){
        jQuery("#report_metrics_abuse").html(data);
      })
      return false;
    })

    <% if params[:from_front] == "true" %>
    jQ("#control_panel > ul li:nth-child(1) a").click();
    content_edit_url = "<%= url_for({:controller => :content, :action => :edit, :organization_id => @current_organization, :content_id => params[:content_id]}) %>";
    jQ.post(content_edit_url, {"from_front":true},function(data) {
      jQ("#content_panel").html(data);
    })
    <% end  %>
  });
</script>
<% if @current_user -%>
  <div id="control_panel">
  	
	 <div style= "text-align:center; color:#C73914; margin-top:5px; font-size:18px; font-weight:bold">
		<%= @current_organization.name %> Admin
		 	<span style="font-size:12px; font-weight:normal;text-align:center;color:#000000;">
				<br/><%= pluralize( @current_organization.views, " View")%>&nbsp;Since&nbsp;<%= @current_organization.first_view_date.strftime("%b %e, %Y")%>
			</span>
		 <% if @current_user.superuser? -%>
			<span style= "text-align:center;font-size:12px; font-weight:normal;">
				<br/><%= link_to " CRUD ", master_index_path(:organization_id => @current_organization), {:target => "_blank", :class => "fsn-button ui-button ui-state-default ui-corner-all"} %>
		 	</span>
   <% end -%>
		<br/>
  </div>
    <div id="tabs">
      <ul>
    <!--
        <%# if @current_user.has_authorization_level?("superuser")-%>
          <li>
            <a href="#tabs-1"><span><strong>Resource Library</strong></span></a>
          </li>
        <%# end -%>
    -->
        <li>
          <a href="#tabs-4"><span><strong>Org Info</strong></span></a>
        </li>
        <li>
          <a href="#tabs-3"><span><strong>People</strong></span></a>
        </li>
        <li>
          <a href="#tabs-5"><span><strong>Org Appearance</strong></span></a>
        </li>
        <li>
          <a href="#tabs-6"><span><strong>Tools</strong></span></a>
        </li>
        <li>
          <a href="#tabs-7"><span><strong>Provider</strong></span></a>
        </li>
      </ul>

    <!-- #tab-1 Our Content -->
<!--
    <%# if @current_user.has_authorization_level?("superuser")-%>
    1 - Rails 3.x Bypass
      <div id="tabs-1">
        <%#= render :file => "/admin/content/index" %>
      </div>
    <%# end -%>
-->
	  
    <!-- #tab-4 Our Organization - Info -->
    <div id="tabs-4">
      <%= @current_organization.name %>
      <%= render :file => "/admin/our_organization/information" %>
    </div>

      <!-- #tab-3 Roles -->
      <div id="tabs-3">
        <%= render :file => "/admin/our_family/authorization_levels" %>
      </div>

      <!-- #tab-5 Our Organization - Appearance -->
      <div id="tabs-5">
        <%= render :file => "/admin/our_organization/branding" %>
      </div>

	    <!-- #tab-6 Our Applications  -->
    <div id="tabs-6">
      <%= render :file => "/admin/our_organization/app_subscriptions" %>
    </div>  
		 
	    <!-- #tab-7 Our Provider Solutions  -->
    <div id="tabs-7">
      <%= render :file => "/admin/our_organization/provider_subscriptions" %>
    </div>

      <!--
      Rails 3.x Upgade Bypass
    <div id="tabs-8">

        <div class="report_link">
          <div>
            <a id="metrics">
                                    Metrics
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a id="report_abuses">
                                    Report Abuse
            </a>
          </div>
        </div>

        <br>
        <div id="report_metrics_abuse">
          <%#= render :file => "/admin/reported_abuses/index" %>
        </div>
    </div>
      -->
  </div>

  <% else -%>
    <div>
      Please use the login bar at the top of this page to get access the administrator section.
    </div>
  <% end -%>

</div>