

<div id="stage_add_<%=@plan.dle_cycle.id %>" style = "font-size:12px; color: #000000;padding-left:0px;">

	<table style="width:800px;margin-left:0px">
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>  
				<tr  style="width:800px; border:0px solid #ddd;" >
					<td   width=540px style="vertical-align:top;  padding-left:3px; padding-right:0px; padding-top:0px; text-align:left; color: #2061a5;  font-size:11.5px; font-weight:normal">
						<u><strong>Purpose</strong></u><br/>
						<%= @plan.dle_cycle.purpose -%>
					</td>
					<td   width=60px style="vertical-align:top;  padding-left:3px; padding-right:0px; padding-top:0px; text-align:left; color: #2061a5;  font-size:11px; font-weight:normal">
						&nbsp;
					</td>
					<td   width=200px style="vertical-align:top;  padding-left:3px; padding-right:0px; padding-top:0px; text-align:right; color: #2061a5;  font-size:11px; font-weight:normal">
						<% label = "CLOSE-OUT " + @plan.dle_cycle.name.upcase -%>
						<%= button_to label, {:controller => :staff_develop, :action => :close_cycle, :organization_id => @current_organization, :plan_id => @plan}, :confirm=> "All Updates Entered?", :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>
					</td>
				</tr>
			</tbody>
		</table>

	<% if @plan.preferences(@current_organization).is_attachable -%>
		<table style="width:650px;margin-left:0px">
			<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
	   		</style>
			<tbody>  
				<tr  style="width:650px; border:0px solid #ddd;" >
					<td  style="width:630px; border:0px solid #ddd; padding-top:0px;  text-align:left; color: #000000;  font-size:11px;">
						 <%= render :partial => "/apps/staff_develop/upload_attachment" %>			
					</td>					
				</tr>
			</tbody>
		</table>
	<% end-%>
	<% unless @plan.survey_schedules.active.empty? || @plan.preferences(@current_organization).tlt_survey_type.nil? -%>
		<table id="plan_<%= @plan.id %>"   style="width:99%;">
			<tbody>  
				<% label = "Take " + @plan.preferences(@current_organization).tlt_survey_type.description + " Survey"%>
					<tr>
					<td class="resource_levels_close" style="color: #C83A14;  font-size:11.5px; font-weight:normal">
	
					<%= link_to '', :controller => "/apps/staff_develop", :action => :take_survey, :organization_id => @current_organization, :plan_id=> @plan, :schedule_id=>@plan.survey_schedules.active.last%>
					<%= label %>
					<span></span>
					</td>
					</tr>
			</tbody>
		</table>
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#plan_<%= @plan.id %> .resource_levels_close').toggleResourceLevels();
			jQ('#plan_<%= @plan.id %> .resource_levels_open').toggleResourceLevels();	
		});
		</script>
	<% end-%>

	<% unless @plan.survey_schedules.suspended.empty?  -%>
		<table style="width:800px;margin-left:0px">
			<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>
				<tr  style="border:0px solid #ddd;" >
					<td  style="width:800px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #2061a5;  font-size:11px;">
					    <strong><u>Survey Responses</u></strong> 	
					</td>					
				</tr>
			</tbody>
		</table>
		<%= render :partial => "apps/shared/show_results", :locals => {:survey => @plan.survey_schedules.last, :offering=> nil, :teacher => nil} %>	

	<% end-%>

	<% if @plan.preferences(@current_organization).is_output -%>
		<table style="width:600px;margin-left:0px">
			<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>
				<tr  style="border:0px solid #ddd;" >
					<td   id = "add_observation_<%=@plan.dle_cycle.id%>" width=20px style="vertical-align:top;  padding-left:3px; padding-right:0px; padding-top:26px; text-align:right; color: #2061a5;  font-size:11px; font-weight:normal">
						<%= (image_tag "add.png") -%>
					</td>
					<td  style="width:580px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #000000;  font-size:11px;">
					     <span style="color: #2061a5;  font-size:11px; font-weight:bold"><%= @plan.preferences(@current_organization).output_label %><br/></span>
					     <%= text_area :observation,   @plan.id, :value => @plan.output_notes,:rows => 4, :cols => 100  %>		
					</td>					
				</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_observation_<%=@plan.dle_cycle.id%>').click(function() {
		var observation = jQ('#observation_<%=@plan.id%>').val();
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_cycle, :organization_id => @current_organization, :plan_id=> @plan  %>";
			jQ.get(url, {'output_note':observation }, function(data) {
			jQ("#stage_add_<%=@plan.dle_cycle.id %>").html(data); 
	   		jQ("#stage_add_<%=@plan.dle_cycle.id %>").show();
			});
	})
});
</script>
			</tbody>
		</table>
	<%end -%>

	<% targets =  @plan.preferences(@current_organization).is_targets -%>
	<% if targets && !@current_organization.dle_metrics.empty?-%>
		<br/>
	 	<%= render :partial => "/apps/staff_develop/targets_update" %>	
	<%end -%>
	<br/>

</div>
