

	<% org_users = @current_organization.dle_org_option.is_coach_enabled ? @current_user.coachees.select{|u| !u.user_dle_plans.empty?} : @current_organization.users.select{|u| !u.user_dle_plans.empty?}-%>

	<table   style="width:99%;">
			<thead>
				<tr style= "font-size:13px; color: #2061a5;">
					<% header_string = pluralize(org_users.size.to_s, app.name + " User Plan") + " Available" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>  
			</tbody>
		</table>

	<% unless org_users.size == 0 -%>

<div id="dle_plan_list">			
	<table style="width:700px; margin-left:70px; border:1px solid #ddd;">
		<thead style="border:1px solid #ddd;">
			<tr style=" border:1px solid #ddd;">
				<th style = "color:#000000"><center>Teacher</center></th>
				<th style = "color:#000000"><center>Plan Summary</center></th>

			</tr>
		</thead>
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>

			<% org_users.sort_by{|u| u.last_name.titleize}.each do |teacher| -%>
			<tr style="border:1px solid #ddd;">

					<td width = 200px style=" border:1px solid #ddd; padding-top:5px; padding-bottom:5px; color: #000000; vertical-align:top;text-align:left; font-size:11px" >
						<span style= "font-size:12px; color: #2061a5;">
						<%= teacher.last_name_first %>&nbsp;</span>
						<u>
							<%= link_to "View Plan", {:controller => "/apps/staff_develop", :action => :index, :organization_id => @current_organization, :teacher_id => teacher}, {:target => "_blank"}  %>
						</u>
					</td>
					<td width = 500px style=" border:1px solid #ddd; padding-top:5px; padding-bottom:5px; color: #000000; vertical-align:top;text-align:left; font-size:10.5px" >
						<% teacher.user_dle_plans.last.package.each do |plan| -%>
							<%= plan.dle_cycle.description %>:&nbsp;
							<% unless plan.date_finalized -%>
								<span style= "font-size:10.5px; font-weight:normal; color: #2061a5;"><i>Current</i>
								</span><br/>
							<% else-%> 
								<span style= "font-size:10.5px; font-weight:normal; color: #2061a5;">
									<%= plan.date_finalized.strftime("%b %d, %Y") %>
								</span><br/>
							<% end -%>
						<% end -%>
					</td>
 			</tr>
			<% end -%>
		</tbody>
	</table>

</div>

<% end -%>
