
  	<% unless plan.user_dle_plan_metrics.empty? -%>
		<table style=" width:650px; margin-left:0px;border:0px solid #ddd;">
			<thead>
					<tr  style=" border:0px solid #ddd;" >
						<th  style=" border:1px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; text-align:center; color: #000000; font-size:12px; font-weight:bold">
							Actual
						</th>
						<th  style=" border:1px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; text-align:center; color: #000000; font-size:12px; font-weight:bold">
							Target
						</th>
						<th  style=" border:1px solid #ddd; padding-top:0px; padding-left:0px;vertical-align:left; text-align:center; color: #000000; font-size:12px; font-weight:bold">
							<%= pluralize(plan.user_dle_plan_metrics.size, plan.user.last_name + " Metric") %>
						</th>
					</tr>
			</thead>
			<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>  
			<% plan.user_dle_plan_metrics.sort_by{|m| m.dle_metric.abbrev}.each do |met| %>
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:80px; width:fixed; border:1px solid #ddd; padding-top:0px;  vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal">
					     	<%= number_with_precision(met.actual, :precision => 1) %>
					</td>
					<td  style="width:80px; width:fixed; border:1px solid #ddd; padding-top:0px;  vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal">
					     	<%= number_with_precision(met.target, :precision => 1) %>
					</td>					
					<td  style="width:490px; border:1px solid #ddd; padding-top:0px;  padding-bottom:5px; text-align:left; color: #000000;  font-size:10.5px;">
					     <span style="color: #00000;  font-size:11px; font-weight:bold">
					     	<%= met.dle_metric.name %><br/></span>
					     <% unless met.note.empty? -%>
					     <span style="color: #C83A14;;  font-size:10.5px; font-weight:normal">
					     	Teacher Note: <i><%= met.note.humanize %></i><br/></span>
					     <% end -%>
					     <% school_note = @current_organization.organization_dle_metrics.for_metric(met.dle_metric).first ? @current_organization.organization_dle_metrics.for_metric(met.dle_metric).first.note : "" -%>
					     <% unless school_note.empty? -%>
					     <span style="color: #2061a5;  font-size:10.5px; font-weight:normal">
					     	School Note: <i><%= school_note.humanize %></i><br/></span>
					     <% end -%>
					</td>
					<% end -%>
				</tr>
			</tbody>
		</table>
	<% else -%>
			<table style=" width:600px; margin-left:0px;border:0px solid #ddd;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tr  style=" border:0px solid #ddd;">   			
	 				<td  style=" border:0px solid #ddd;vertical-align:top; padding-left:0px; padding-right:0px; text-align:left; color: #000000; font-size:11.5px; font-weight:normal">
						&nbsp;* * No Metrics Defined * *
					</td>
				</tr>
	   		</tbody>
	   	</table>
	<% end -%>
