

<div id="metric_add" style = "font-size:12px; color: #000000;padding-left:0px;">
<div id="metric_data">

	<% if @current_user.pd_authorized_for?(@current_organization) -%>
	<table   style="width:750px; margin-left:0px">
			<thead>
				<tr>
					<% header_string = pluralize(@current_organization.dle_metrics.size.to_s,  " Metric") + " Selected For " + @current_organization.short_name + " " + app.name.titleize %>
					<th><strong><center><%= header_string %></center></strong></th>											
				</tr>
			</thead>
			<tbody>  
			</tbody>
		</table>
	<br/>
	<table style="width:750px;margin-left:0px">
		<thead>
				<tr  style="width:750px; border:0px solid #ddd;" >
					<th   style="width:60px; width:fixed; border:1px solid #ddd;  vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:12px; font-weight:bold">
						<u>Select</u>
					</th>
					<th  style=" border:1px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; text-align:center; font-size:12px; font-weight:bold">
						<u>Metric</u>
					</th>
					<th  style=" border:1px solid #ddd; padding-top:0px; padding-left:0px;vertical-align:middle; text-align:center; font-size:12px; font-weight:bold">
						<u>Note For Teachers</u>
					</th>
				</tr>
		</thead>
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>  

				<% DleMetric.all_by_position.each do |@met| %>
				<tr  style="border:1px solid #ddd;" >
					<% org_note = @current_organization.dle_metrics.include?(@met) ? @current_organization.organization_dle_metrics.for_metric(@met).first.note : "" %>
					<% if admin %>
						<% if @current_organization.dle_metrics.include?(@met) %>
							<td   id = "add_metric_<%= @met.position %>"  style="width:60px; width:fixed; vertical-align:middle;  padding-left:40px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
								<%= (image_tag "button_enabled.png", :width=>15) -%>
								
							</td>
							<% else -%>
							<td   id = "add_metric_<%= @met.position %>"  style="width:60px; width:fixed;vertical-align:middle;  padding-left:40px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
								<%= (image_tag "button_disabled.png", :width=>15) -%>
							</td>					
						<% end -%>
					<% else -%>
						<td   style="width:60px; width:fixed; vertical-align:middle;  padding-left:40px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							&nbsp;
						</td>
					<% end -%>
					<td  style="width:365px; border:1px solid #ddd; padding-top:3px; vertical-align:middle; text-align:left; font-size:11px; ">
					   <span style="color: #2061a5;  font-size:11.px; font-weight:bold">
					   		<%= @met.name %><br/>
					   	</span>
					   	
					   	<%= @met.purpose.humanize %><br/>
					   	<% unless @met.prereq.empty? %>
					   <span style="color: #C83A14; font-weight:normal; font-size:9.5px;">
					   		<strong><%= @met.prereq %></strong>&nbsp;Pre-req <br/>
					   	</span>  
						<% end-%>
					</td>					
					<% if admin %>
						<td  style=" width:275px; border:1px solid #ddd; padding-top:3px; padding-left:5px; vertical-align:middle; text-align:left; font-size:11px;">
						     <%= text_field :org_metric, @met.id, :value => org_note, :size => 45, :maxlength => 210 %>		
						</td>
					<% else -%>
						<td  style=" width:275px; border:1px solid #ddd; padding-top:3px; padding-left:5px; vertical-align:middle; text-align:left; font-size:11px;">
						     <%=  org_note %>		
						</td>
					<% end -%>
				</tr>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_metric_<%= @met.position %>').click(function() {
		var note = jQ('#org_metric_<%= @met.id %>').val();
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :metric_for_organization, :organization_id => @current_organization, :metric_id => @met.id, :app_id => app.id  %>";
			jQ.get(url, {'metric_note':note}, function(data) {
			jQ("#metric_add").html(data); 
	   		jQ("#metric_add").show();
			});
	})
});
</script>
				<% end -%>
			</tbody>
		</table>
	<br/>
	<% end -%>
	</div>
</div>


