

<div id="stage_edit_<%= stage.id %>" style = "font-size:12px; color: #000000;padding-left:0px;">

	<% survey_types = app.tlt_survey_types.collect{|t| [t.name, t.id]} << ["- No Survey -", 0] -%>


	<table id="opt_descript_<%= stage.id %>" style="width:780px;margin-left:0px">
		<thead>
				<tr  style="width:780px; border:0px solid #ddd;" >
					<th   style="width:150px; width:fixed; border:1px solid #ddd;  vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						Preference
					</th>
					<th   style="width:60px; width:fixed; border:1px solid #ddd;  vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						Update
					</th>
					<th   style="width:150px; width:fixed; border:1px solid #ddd;  vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						Current Setting
					</th>
					<th   style="width:400px; width:fixed; border:1px solid #ddd;  vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						Description
					</th>
				</tr>
		</thead>
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<tbody>  

				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
					   		Enable/Disable<br/>Reflection Comments
					</td>
					<% output =  stage.for_org(@current_organization).nil? ? stage.is_output : stage.for_org(@current_organization).is_output -%>
					<td   id = "enable_output_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<% if output -%>
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						<% else -%>
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						<% end -%>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						<% if output -%>
							Enabled
						<% else -%>
							Disabled
						<% end -%>
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This allows/disallows a teacher to log observations or reflective comments associated with the <%= stage.name %> stage. 
					</td>
				</tr>
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
						Label For<br/>Reflection Comments
					</td>
					<% output_label =  stage.for_org(@current_organization).nil? ? stage.output_label : stage.for_org(@current_organization).output_label -%>
					<td   id = "label_output_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<%= (image_tag "add.png") -%><br/>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						    <%= text_field :output_label, stage.id, :value => output_label, :size => 25, :maxlength => 35 %>		
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This is the displayed label of the text block in which the teacher will enter observations or reflective comments associated with the <%= stage.name %> stage. 
					</td>
				</tr>				
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
						Enable/Disable<br/>Attachment Document
					</td>
					<% attach =  stage.for_org(@current_organization).nil? ? stage.is_attachable : stage.for_org(@current_organization).is_attachable -%>
					<td   id = "enable_attach_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<% if attach -%>
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						<% else -%>
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						<% end -%>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						<% if attach -%>
							Attachment Allowed
						<% else -%>
							No Attachment
						<% end -%>
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This allows/disallows a teacher to upload a document (such as a Log) associated with the <%= stage.name %> stage. 
					</td>
				</tr>
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
					   		Label For<br/>Attachment
					</td>
					<% attach_label =  stage.for_org(@current_organization).nil? ? stage.attach_label : stage.for_org(@current_organization).attach_label -%>
					<td   id = "label_attach_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<%= (image_tag "add.png") -%><br/>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						    <%= text_field :attach_label, stage.id, :value => attach_label, :size => 25, :maxlength => 35 %>		
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This is the displayed label of document a teacher should be uploding during in the <%= stage.name %> stage. 
					</td>
				</tr>				
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
					   		Enable/Disable<br/>Teacher Targets
					</td>
					<% targets =  stage.for_org(@current_organization).nil? ? stage.is_targets : stage.for_org(@current_organization).is_targets -%>
					<td   id = "enable_targets_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<% if targets -%>
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						<% else -%>
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						<% end -%>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						<% if targets -%>
							Teacher Targets<br/>Captured
						<% else -%>
							Teacher Targets<br/>Not Captured
						<% end -%>
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This allows/disallows a teacher to enter his measureable target associated with the <%= stage.name %> stage.<br/>
						The targets he chooses from is determined by the metrics <%=@current_organization.medium_name %> has selected.
					</td>
				</tr>				
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
					   		Enable/Disable<br/>Teacher Actuals
					</td>
					<% actual =  stage.for_org(@current_organization).nil? ? stage.is_actual : stage.for_org(@current_organization).is_actual -%>
					<td   id = "enable_actual_<%= stage.id %>"  style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:28px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						<% if actual -%>
							<%= (image_tag "button_enabled.png",:width => 15) -%>
						<% else -%>
							<%= (image_tag "button_disabled.png",:width => 15) -%>
						<% end -%>
					</td>
					<td   style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						<% if actual -%>
							Teacher Actuals<br/>Captured
						<% else -%>
							Teacher Actuals<br/>Not Captured
						<% end -%>
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						This allows/disallows the actual metrics associated with the teacher to be calcualted and stored at the close of the <%= stage.name %> stage.<br/>
						The actuals that are calculate are determined by the targets the teacher defined.
					</td>
				</tr>
				<tr  style="border:1px solid #ddd;" >
					<td  style="width:150px; border:1px solid #ddd; padding-top:0px; vertical-align:middle; text-align:center; color: #000000;  font-size:10.5px; font-weight:normal ">
					   		Conduct Survey
					</td>
					<% survey =  stage.for_org(@current_organization).nil? ? stage.tlt_survey_type : stage.for_org(@current_organization).tlt_survey_type rescue nil -%>
					<% survey_name = survey.nil? ? "No Survey" : survey.name -%>
					<td    style="width:60px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:6px; text-align:center; color: #000000; ">
						&nbsp;
					</td>
					<td   id = "select_survey_<%= stage.id %>" style="width:150px; width:fixed; border:1px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:6px; text-align:center; color: #2061a5; font-size:10.5px; font-weight:bold">
						<%= survey_name %><br/><br/>
						<%=  select(:tlt_survey_type, stage.id, survey_types, :prompt=>"Select Survey Type") %>
					</td>
					<td   style="width:400px; width:fixed; border:1px solid #ddd;vertical-align:top;  padding-left:5px; padding-bottom:10px; padding-top:10px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
						The selected survey type will be conducted during the <%= stage.name %> stage.<br/>
						Surveys are created under the Surveys Tab.
					</td>
				</tr>
			</tbody>
		</table>
		
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#enable_output_<%= stage.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'toggle_output':true}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#label_output_<%= stage.id %>').click(function() {
		var label = jQ('#output_label_<%= stage.id %>').val();
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'output_label':label}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#enable_attach_<%= stage.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'toggle_attach':true}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#label_attach_<%= stage.id %>').click(function() {
		var label = jQ('#attach_label_<%= stage.id %>').val();
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'attach_label':label}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#enable_targets_<%= stage.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'toggle_targets':true}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#enable_actual_<%= stage.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'toggle_actual':true}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#select_survey_<%= stage.id %>').change(function() {
		var survey_id = jQ('#tlt_survey_type_<%= stage.id %>').val();
		var url = "<%= url_for :controller => '/apps/staff_develop', :action => :edit_org_stage_preferences, :organization_id => @current_organization, :cycle_id => stage.id, :app_id => app.id  %>";
			jQ.get(url, {'survey_type_id':survey_id}, function(data) {
			jQ("#stage_edit_<%= stage.id %>").html(data); 
	   		jQ("#stage_edit_<%= stage.id %>").show();
			});
	})
});
</script>

</div>

