<div id="reflect_lists">
	<% unless teacher.nil? || !@current_organization.app_enabled?(@current_application) %>
		<% if admin || (teacher == @current_user)%>
			<% unless teacher.tlt_sessions.final.empty? -%>
				<table id="<%=teacher.public_id %>_thenow"   style="width:650px; color: #2061a5;">
					<tbody>  
						<tr>
							<td class="resource_levels_close">
								<%= link_to '', ctl_analyse_period_path(:type => "teacher", :teacher_id => teacher, :organization_id => @current_organization, :l_entity => teacher.id, :r_entity => teacher.id, :new_r_entity=> "T", :new_subject => teacher.tlt_sessions.last.subject_area_id) %>
								<%= teacher.last_name %> Strategy Comparisons
								<span></span>
							</td>
						</tr>
					</tbody>
				</table>
				<br/>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%=teacher.public_id %>_thenow .resource_levels_close').toggleResourceLevels();
	jQ('#<%=teacher.public_id %>_thenow .resource_levels_open').toggleResourceLevels();	
});
</script>


				<% teacher.itl_subjects.each do |subject| -%>
					<% if teacher == @current_user -%>
						<table   style="width:500px; font-size:12px; color: #2061a5; padding-left:0px;">
							<thead>
								<tr>
									<th>
										<strong><%= pluralize( teacher.tlt_sessions.for_subject(subject).final.size.to_s, subject.name + " Observation") -%></strong>
										<span style="float:right; font-size:10.5px;padding-right:10px">
										<%= link_to 'Self-Reflect', ctl_reflection_path(:organization_id => @current_organization,:subject_area_id => subject, :teacher_id => @current_user), {:target => '_blank'}%>
										</span>
									</th>											
								</tr>
							</thead>
						</table>
					<% else -%>
						<table   style="width:400px; font-size:12px; color: #2061a5; padding-left:0px;">
							<thead>
								<tr>
									<th>
										<strong><%= pluralize( teacher.tlt_sessions.for_subject(subject).final.size.to_s, subject.name + " Observation") -%></strong>
									</th>											
								</tr>
							</thead>
						</table>
					<% end -%>
				<%= render :partial => "/apps/time_learning/show_itl_dashboard", :locals => {:teacher => teacher, :subject=> subject} %>
				<%= render :partial => "/apps/time_learning/teacher_itl_reflections", :locals => {:teacher => teacher,  :admin => admin, :subject => subject } %>
				<br/>

				<% end-%>
				<% else -%>
					<table   style="width:400px; font-size:12px; color: #2061a5; padding-left:0px;">
						<thead>
							<tr>
								<th>
									<strong><%= pluralize( teacher.tlt_sessions.final.size.to_s,  " Observation") -%></strong>
								</th>											
							</tr>
						</thead>
					</table>
				<% end -%>
		<% end -%>
	<% end -%>
</div>
