
	<% if @size == "wide" -%>
		<% flash_w = "400" -%>
		<% flash_h = "290" -%>
		<% pic_w = "400" -%>
		<% text_w = "width:630px" -%>
	<% else -%>
		<% flash_w = "300" -%>
		<% flash_h = "160" -%>
		<% pic_w = "300" -%>
		<% text_w = "width:425px" -%>
	<% end-%>
	 <div id="flash_box">
		<% if !@blog_post.picture_file_name.nil? && @blog_post.picture_file_name.include?(".swf") -%>
		     <center><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width=<%=flash_w%> height=<%=flash_h%> id="fs_home" align="top">
		         <param name="allowScriptAccess" value="sameDomain" /><param name="allowFullScreen" value="false" /><param name="movie" value= <%= @blog_post.picture.url %> /><param name="quality" value="best" /><param name="bgcolor" value="#ffffff" /><embed src= <%= @blog_post.picture.url %> quality="best" bgcolor="#ffffff" width=<%=flash_w%> height=<%=flash_h%> name="FS_attempt9_REVISED_JOSH" align="top" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		     </object></center>
		<% elsif !@blog_post.picture_file_name.nil? -%>
	 	      <center><img src="<%= @blog_post.picture.url %>" width=<%=pic_w%> /></center>
		<% end -%>
	  </div>


		<table  style = "<%=text_w%>; padding-top:3px; margin-left:0px; ">
			<tbody>
				<tr>
					<td  class="main_page_text" style = "<%=text_w%> ">
						<%= simple_format @blog_post.body %>
					</td>
				</tr>
			</tbody>
		</table>
