
<div id="cycle_update"> 

	<% if @plan.preferences(@current_organization).is_attachable-%>
		<% if @plan.attach_file_name -%>
			<table style=" width=600px; margin-left:0px;border:0px solid #ddd;">
				<tbody>  
					<style type="text/css" media="screen">
			    		table,tr,td { border:medium }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
					<tr  style=" border:0px solid #ddd;" >
						<td  style="width:600px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #000000;  font-size:11.5px;">
					     	<strong><%= @plan.attach_title.titleize %></strong>&nbsp;Uploaded
					     	<% unless @plan.attach_date.nil? %>&nbsp;On&nbsp;<%=  @plan.attach_date.strftime("%b %d, %Y") -%><% end -%>
						 	,&nbsp;<a href="<%= @plan.attach.url %>" target="_blank">
							 		<span style="color: #2061a5;  font-size:11.5px; font-weight:normal"><u>Download</u></span>
							 		</a>
						</td>					
					</tr>
		   		</tbody>
		   	</table>
		<% else -%>
		<table style=" width=600px; margin-left:0px;border:0px solid #ddd;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
					<tr  style=" border:0px solid #ddd;" >
						<td  style="width:600px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #000000;  font-size:11.5px;">
					     	* * No&nbsp;<%= @plan.preferences(@current_organization).attach_label%>&nbsp;Uploaded&nbsp;* *
						</td>					
					</tr>
		   		</tbody>
		   	</table>
		<% end -%>
	<% end -%>
	
	<% if @plan.preferences(@current_organization).is_output && (!@plan.output_notes.nil? || !@plan.output_notes == "")-%>
		<table style=" width=600px; margin-left:0px;border:0px solid #ddd;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tr  style=" border:0px solid #ddd;">   			
	 				<td  style="width:100px; width:fixed; border:0px solid #ddd;vertical-align:top; color: #000000;  font-size:12px; font-weight:bold; padding-top:0px; padding-left:0px; padding-right:5px; text-align:right;">
						<%= @plan.preferences(@current_organization).output_label%>
					</td>
	 				<td  style=" width:500px; border:0px solid #ddd;vertical-align:top; padding-left:0px; padding-right:0px; text-align:left; color: #000000; font-size:12px; font-weight:normal">
						<%= simple_format @plan.output_notes %>
					</td>
				</tr>
	   		</tbody>
	   	</table>
	<br/>
	<% end -%>

  	<% if @plan.preferences(@current_organization).is_actual || @plan.preferences(@current_organization).is_targets -%>
	    <%= render :partial => "apps/staff_develop/metrics_display", :locals=> {:plan => @plan} %>
	<% end -%>
	<% unless @plan.survey_schedules.suspended.empty?  -%>
		<% if !(@plan.survey_schedules.suspended.last.tlt_survey_responses.size == 0) %>
			<table style="width:800px;margin-left:0px">
				<style type="text/css" media="screen">
		    		table,tr,td { border:none }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tbody>
					<tr  style="border:0px solid #ddd;" >
						<td  style="width:800px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #2061a5;  font-size:11px;">
						    <strong><u>Survey Responses</u></strong> 	
						</td>					
					</tr>
				</tbody>
			</table>
			<%= render :partial => "apps/shared/show_results", :locals => {:survey => @plan.survey_schedules.last, :offering=> nil, :teacher => nil} %>	


		<% else -%>
		<table style=" width=600px; margin-left:0px;border:0px solid #ddd;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
					<tr  style=" border:0px solid #ddd;" >
						<td  style="width:600px; border:0px solid #ddd; padding-top:3px;  text-align:left; color: #000000;  font-size:11.5px;">
					     	* * No&nbsp;<%= @plan.survey_schedules.last.tlt_survey_type.description %>&nbsp;Survey Submitted&nbsp;* *
						</td>					
					</tr>
		   		</tbody>
		   	</table>
		<% end -%>
	<% end -%>

<br/>
</div>	