
<div id="user_selection">
	<div  style = "padding-bottom:10px;padding-left:0px; ">
		<table  style="width:650px;margin-left:0px;">
			<tbody>  
				<tr>
					<td style="width:180px; text-align:right; vertical-align:middle; padding-right:6px; font-size:12px">
						Authorizations For:
					</td>
					<td id="for_user" style="width:420px; font-size:normal">
						<%=  select(:user, :id, @current_organization.friends_of_org.collect{|t| [t.last_name_first, t.public_id]},{:include_blank =>'Select User'}) %>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
	

	<% unless user.nil? %>
		<div style = "padding-bottom:10px;padding-left:0px; ">
			<table  style="width:650px;margin-left:0px;">
				<thead>
					<tr>
						<th colspan=3, style="text-align:center; padding-bottom:0px;  font-size:14px; text-align:center;">
							<strong><%= user.full_name %>&nbsp;Authorizations</strong>
						</th>
					</tr>
				</thead>
				<tbody>  
					<% for authorization_level in @current_organization.enabled_app_authorizations do -%>
            <!--
            <%# if user.has_authority?(authorization_level, @current_organization,:superuser=>true )-%>
							-->
							<tr>
								<td width=40px style="vertical-align:bottom;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #C73914; font-size:9px; font-weight:normal">
									<i><%= authorization_level.coop_app.beta? ? "(Beta)" : "" %></i>
								</td>
								<% if user.has_authority?(@current_organization, authorization_level) %>
									<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:15px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
										<%= link_to (image_tag "button_enabled.png", :width => 15), {:controller => "admin/our_family",:action => "toggle_authorization", :organization_id => @current_organization, :user_id=> user, :authorization_level=>authorization_level.id}, :class => "toggle_auth" %>
									</td>					
								<% else -%>
									<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:15px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
										<%= link_to (image_tag "button_disabled.png", :width => 15), {:controller => "admin/our_family",:action => "toggle_authorization", :organization_id => @current_organization, :user_id=> user, :authorization_level=>authorization_level.id}, :class => "toggle_auth" %>
									</td>
								<% end -%>
								<td style="width:585px; font-size:normal; vertical-align:top">
									<table id="auth_header_<%= authorization_level.id%>" style="width:575px; vertical-align:top; margin-left:0px; border:0px solid white;">
										<tbody>
											<tr>
												<td id="auth_show_<%= authorization_level.id%>"  >
													<%= authorization_level.coop_app.abbrev + ": " + authorization_level.name.titleize %>&nbsp;<span style="font-size:10px"><i>(<u>Show Description</u>)</i></span>
												</td>
											</tr>
										</tbody>
									</table>
									<table id="auth_descript_<%= authorization_level.id%>" style="width:575px; vertical-align:top; margin-left:0px; border:0px solid white;">
										<tbody>
											<tr>
												<td id="auth_hide_<%= authorization_level.id%>"  >
													<%= authorization_level.coop_app.abbrev + ": " + authorization_level.name.titleize %>&nbsp;<span style="font-size:10px"><i>(<u>Hide Description</u>)</i></span>
													<br/> <span style="color:#000000"><i><%= authorization_level.explanation  %></i></span>
												</td>
											</tr>
										</tbody>
									</table>
								</td>	
							</tr>
<script type="text/javascript">
jQ(document).ready(function() {
  		  jQ("#auth_header_<%= authorization_level.id%>").show();
		  jQ("#auth_descript_<%= authorization_level.id%>").hide();		  

	jQ("#auth_show_<%= authorization_level.id%>").click(function() {
		  	jQ("#auth_header_<%= authorization_level.id%>").hide();	 
	   		jQ("#auth_descript_<%= authorization_level.id%>").slideDown("slow");
	})

	jQ("#auth_hide_<%= authorization_level.id%>").click(function() {
	   		jQ("#auth_descript_<%= authorization_level.id%>").slideUp("slow");
	   		jQ("#auth_header_<%= authorization_level.id%>").show();
	})	
});
</script>
		<!--				<%# end -%>  -->
					<% end -%>
					<% @current_organization.owned_apps.each do |app| -%>
            <% for authorization_level in AuthorizationLevel.app_provider_authorizations do -%>
							<% if user.beta_app_user?(app, @current_organization)-%>	
								<tr>
									<td width=40px style="vertical-align:bottom;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:center; color: #C73914; font-size:9px; font-weight:normal">
										<i><%= app.beta? ? "(Beta)" : "" %></i>
									</td>
									<% if user.has_authorization_level_for?(app, authorization_level) %>
										<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:15px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
											<%= link_to (image_tag "button_enabled.png", :width => 15), {:controller => "admin/our_family",:action => "toggle_app_authorization", :organization_id => @current_organization, :app_id=> app.id, :user_id=> user, :authorization_level=>authorization_level.id}, :class => "toggle_auth" %>
										</td>					
									<% else -%>
										<td width=25px style="vertical-align:top;  padding-left:5px; padding-right:0px; padding-top:15px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
											<%= link_to (image_tag "button_disabled.png", :width => 15), {:controller => "admin/our_family",:action => "toggle_app_authorization", :organization_id => @current_organization, :app_id=> app.id, :user_id=> user, :authorization_level=>authorization_level.id}, :class => "toggle_auth" %>
										</td>
									<% end -%>
									<td style="width:585px; font-size:normal; vertical-align:top">
										<table id="auth_app_header_<%= authorization_level.id%><%=app.id%>" style="width:575px; vertical-align:top; margin-left:0px; border:0px solid white;">
											<tbody>
												<tr>
													<td id="auth_app_show_<%= authorization_level.id%><%=app.id%>"  >
														<%= app.abbrev + ": " + authorization_level.name.titleize %>&nbsp;<span style="font-size:10px"><i>(<u>Show Description</u>)</i></span>
													</td>
												</tr>
											</tbody>
										</table>
										<table id="auth_app_descript_<%= authorization_level.id%><%=app.id%>" style="width:575px; vertical-align:top; margin-left:0px; border:0px solid white;">
											<tbody>
												<tr>
													<td id="auth_app_hide_<%= authorization_level.id%><%=app.id%>"  >
														<%= app.abbrev + ": " + authorization_level.name.titleize %>&nbsp;<span style="font-size:10px"><i>(<u>Hide Description</u>)</i></span>
														<br/> <span style="color:#000000"><i><%= authorization_level.explanation  %></i></span>
													</td>
												</tr>
											</tbody>
										</table>
									</td>	
								</tr>
<script type="text/javascript">
jQ(document).ready(function() {
  		  jQ("#auth_app_header_<%= authorization_level.id%><%=app.id%>").show();
		  jQ("#auth_app_descript_<%= authorization_level.id%><%=app.id%>").hide();		  

	jQ("#auth_app_show_<%= authorization_level.id%><%=app.id%>").click(function() {
		  	jQ("#auth_app_header_<%= authorization_level.id%><%=app.id%>").hide();	 
	   		jQ("#auth_app_descript_<%= authorization_level.id%><%=app.id%>").slideDown("slow");
	})

	jQ("#auth_app_hide_<%= authorization_level.id%><%=app.id%>").click(function() {
	   		jQ("#auth_app_descript_<%= authorization_level.id%><%=app.id%>").slideUp("slow");
	   		jQ("#auth_app_header_<%= authorization_level.id%><%=app.id%>").show();
	})	
});
</script>
							<% end -%>
						<% end -%>
					<% end -%>
				</tbody>
			</table>
		</div>
	<% end -%>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_auth').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
			jQ("#user_selection").html(data); 
	   		jQ("#user_selection").show();
			})
			return false;
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#for_user').change(function() {
		var user_id = jQ('#user_id').val();
		var url = "<%= url_for :controller => '/admin/our_family', :action => :authorize_user, :organization_id => @current_organization %>";
			jQ.get(url, {'user_id':user_id}, function(data) {
			jQ("#user_selection").html(data); 
	   		jQ("#user_selection").show();
			});
	})
});
</script>
