<h2>Add a Friend of <strong><%=@current_organization.name %></strong> to a role.</h2>
<div class="mempro_box clear">
	<% form_remote_tag(:url => {:action => :add_member_to_role, :organization_id => @current_organization}, :update => "our_family_panel") do %>
  <div class="FormRow">
		<div class="FormRowTitle">Role:</div>
		<div class="FormRowData"><%= select_tag :role, options_for_select(@roles.collect{|r| [r.name,r.id]}) %></div>
  </div>
  <div class="FormRow">
		<div class="FormRowTitle">Member:</div>
		<div class="FormRowData"><%= select_tag :user , options_for_select(@users.collect{|u| [u.full_name, u.id]} )%></div>
  </div>
	<div class="FormRow submit_warp">
		<%= submit_tag "Add", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
	</div>
	<% end %>	
</div>
<div style="width:100%; text-align:center; border:1px solid black;">
<%= link_to_remote "back", :update => "our_family_panel", :url => {:controller => :our_family, :action => :roles, :organization_id => @current_organization}, :method => :get, :class =>"fsn-button ui-button ui-state-default ui-corner-all" %>	
</div>