<div class="clear">
	<div style="margin-bottom: 10px; font-weight: bold; font-size: 14px; float:left;">Authorization Levels</div>


  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#add_authorization .authorization_levels_close').toggleAuthorizationLevels();
      jQ('#add_authorization .authorization_levels_open').toggleAuthorizationLevels();
      jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
    });
  </script>
  <table id="add_authorization" style="width:600px; margin-bottom: 10px; color: #2061a5; margin-left:180px;">
		<tbody>
				<tr>
					<td class="authorization_levels_close">
						<%= link_to '', :controller => :our_family, :action => :new_user_authorization, :organization_id => @current_organization %>
						Grant More Authorizations
						<span></span>
					</td>
				</tr>
		</tbody>
	</table>

</div>

<table id="authorization_levels" class="tablesorter">
	<thead>
		<tr>
			<th>Current Authorizations</th>											
		</tr>
	</thead>
	<tbody>
  <% for authorization_level in @current_organization.enabled_app_authorizations  do -%>
			<% auth_string =   authorization_level.coop_app.abbrev + ": " + authorization_level.name.titleize -%>
			<tr>
				<td class="authorization_levels_close">
					<%= link_to '', :controller => :our_family, :action => :view_auth_members, :organization_id => @current_organization, :scope=>"o", :id => authorization_level, :hide_back_button => true %>
					<%= auth_string %>
					<span></span>
				</td>
			</tr>
		<% end -%>
		<% @current_organization.owned_apps.each do |app| -%>
      <% for authorization_level in AuthorizationLevel.app_provider_authorizations do -%>
				<% auth_string =   app.abbrev + ": " + authorization_level.name.titleize -%>
				<tr>
					<td class="authorization_levels_close">
						<%= link_to '', :controller => :our_family, :action => :view_auth_members, :organization_id => @current_organization, :app_id=>app.id, :scope=>"a", :id => authorization_level, :hide_back_button => true %>
						<%= auth_string %>
						<span></span>
					</td>
				</tr>
			<% end -%>
		<% end -%>
	</tbody>
</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>