<p>
	<%=@current_organization.name %> Friends Can Be Added As A <strong><%= @role.name %></strong>
</p>
<div class="flash_notice" style="display:none;"></div>
<div>
	<% unless @users.size.zero? %>
	<table id="roles" class="tablesorter" style="width:99%;">
		<thead>
			<tr>
				<th></th>
				<th style="width:400px;">Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<% for user in @users do -%>
			<tr>
			  <td width=40px style="padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><%= button_to "Add", {:controller => :our_family, :action => :add_user_to_role, :organization_id => @current_organization, :user_id => user, :role_id => @role}, {:class =>"add_user_to_role fsn-button ui-button ui-state-default ui-corner-all"} %>
			  <td><%= link_to user.full_name, user_view_path(:organization_id => @current_organization, :id => user), {:target => "_blank"} %></td>
			  <td><%= user.preferred_email %>
			</td>		
			</tr>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		<strong>No Friends Available To Add.</strong>
	<% end -%>

</div>
<div style="width:100%; text-align:center; padding:10px;">
	<%= link_to "Back", :update => "our_family_panel", :url => {:controller => :our_family, :action => :roles, :organization_id => @current_organization}, :remote => true, :method => :get, :html => { :class =>"fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:3px; text-decoration:none;" } %>
</div>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('input.add_user_to_role').click(function() {
			var $this = jQ(this);
			var url = $this.parents("form").attr("action");
			jQ.post(url, function(data) {
				$this.parents("tr").remove();
				jQ('.flash_notice').html(data).css("display", "block");
			})
			return false;
		})
	})
</script>