<div id="benchmark_source" >
  <% label = 'Source Standard' %>
  <% if !@current_benchmark.source_level.nil? && !@current_benchmark.source_strand.nil? %>
    <% label = 'Source: ' + (@current_benchmark.source_level.standard == @current_benchmark.source_strand.standard ?
        @current_benchmark.source_level.standard.name : 'Incomaptible Standard for Level & Strand') %>
  <% elsif !@current_benchmark.source_level.nil?%>
    <% label = 'Level Source: ' + @current_benchmark.source_level.standard.name + ' | Strand Not Identified' %>
  <% elsif !@current_benchmark.source_strand.nil?%>
      <% label = 'Strand Source: ' + @current_benchmark.source_strand.standard.name + ' | Level Not Identified' %>
  <% end %>

  <div class="row source_tag_row1">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= label %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row source_tag_row2">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <%= @current_benchmark.source_level ? (@current_benchmark.source_level.range) : 'No Source Level'%>
    </div>
    <div class="col-md-4">
      <%= @current_benchmark.source_strand ? (@current_benchmark.source_strand.name) : 'No Source Strand'%>
    </div>
    <div class="col-md-2"></div>
  </div>
  <% if !@source_levels.empty? && !@source_strands.empty? %>
    <div class="row ifa_edit_row">
      <div class="col-md-2"></div>
      <div class="col-md-4 ifa_edit_text">
        <%=  select(:act_bench, :source_level_id, @source_levels.collect{|s| [( s.standard.abbrev + ': ' + s.range),s.id]}<<['No Source Level', 0],{:prompt => 'Source Mastery Level'}) %>
      </div>
      <div class="col-md-4 ifa_edit_text">
        <%=  select(:act_bench, :source_strand_id, @source_strands.collect{|s| [(s.standard.abbrev + ': ' +  s.name),s.id]}<<['No Source Strand', 0],{:prompt => 'Source Knoweldge Strand'}) %>
      </div>
      <div class="col-md-2"></div>
    </div>
  <% end %>
</div>