<div id="benchamrk_dashboard_<%=@current_subject.id%>">
  <div class="row bench_dashboard_box">
    <% level_width = 10 %>
    <% strnd_width = ((100 - level_width)/@active_strands.size).to_f.to_i.to_s + '%'%>
    <div class="col-md-12 bench_dashboard_header">
      <div class="row bench_dashboard_header1">
          <%= pluralize(@bench_total['all'], ' Benchmark') %> | <%= @bench_total['enabled'] %> Enabled
      </div>
      <div class="row">
        <%= @bench_dashboard_hdr[0] %>
      </div>
    </div>
    <table >
      <tbody >
      <tr>
        <td class="bench_dashboard_label">
          <div class="row ">
            <div class="benchmark_add">
            <span class="button_gray" id="dashboard_refresh<%=@current_subject.id%>">
              Refresh
            </span>
            </div>
          </div>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ("#dashboard_refresh<%=@current_subject.id%>").click(function() {
                var url = "<%= app_maintenance_ifa_b_dashboard_refresh_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
                :act_master_id => @current_standard.id)%>";
                jQ.get(url,{},  function(data) {
                  jQ("#benchamrk_dashboard_<%=@current_subject.id%>").html(data);
                  jQ("#benchamrk_dashboard_<%=@current_subject.id%>").show();
                });
              })
            });
          </script>
        </td>
        <% @active_strands.each do |s|%>
            <td class=" bench_dashboard_strand_header tip_std" title="<center><%= s.name.titleize %></center>"  style="width:<%=strnd_width%>; background:<%= s.strand_background%>; color:<%= s.strand_font%>"  >
              <%= s.abbrev.upcase %><br/><%= @bench_total[s.abbrev] %> Total
            </td>
        <% end -%>
      </tr>
        <% @active_levels.each do |ml|%>
          <tr>
            <td class="bench_dashboard_levels" style="background:<%= ml.score_background%>; color:<%= ml.score_font%>">
              <%= @current_standard.abbrev %>&nbsp;<%=ml.range%><br/><%= @bench_total[ml.range] %> Total
            </td>
            <% @active_strands.each do |s|%>
              <% hashkey = ml.id.to_s + s.id.to_s %>
              <td class="bench_dashboard_cells" >
                <div class="bench_dashboard_cell_total">
                  <%= @bench_total[hashkey] %> Enabled
                </div>
                <hr>
                <div class="row bench_dashboard_cell_subtotal_row">
                  <% @bench_types_hdr[hashkey].each_with_index do |t,idx| %>
                    <%= @bench_types_hdr[hashkey][idx]%>(<%= @bench_types[hashkey][idx]%>)&nbsp;
                  <% end %>
                </div>
                <div class="row bench_dashboard_cell_subtotal_row">
                  <% @bench_sources_hdr[hashkey].each_with_index do |t,idx| %>
                    <%= @bench_sources_hdr[hashkey][idx]%>(<%= @bench_sources[hashkey][idx]%>)&nbsp;
                  <% end %>
                </div>
                <hr>
                <div class="row bench_dashboard_maint_row">
                  <div class="bench_dashboard_maint_update">
                    <span id="view_benchmarks<%=ml.id%><%=s.id%>">
                      View Them
                    </span>
                  </div>
                  <script type="text/javascript">
                    jQ(document).ready(function() {
                      jQ("#view_benchmarks<%=ml.id%><%=s.id%>").click(function() {
                        var url = "<%= app_maintenance_ifa_b_cell_select_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id,
                          :act_master_id => @current_standard.id, :act_standard_id => s.id, :act_score_range_id => ml.id)%>";
                        jQ.get(url,{},  function(data) {
                          jQ("#manage_benchmarks").html(data);
                          jQ("#manage_benchmarks").show();
                        });
                      })
                    });
                  </script>
                  <div >
                    <%= link_to 'Add One', app_maintenance_ifa_benchmark_add_path(:organization_id => @current_organization,
                                                                                  :act_subject_id => @current_subject.id, :act_standard_id=>s.id,
                                                                                  :act_score_range_id=>ml.id), {:target=>'_blank'}  %>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
  jQ(function(){
    jQ('td.tip_std').qtip({
      content: { text: false },
      position: {
        corner: {
          target: 'topMiddle',
          tooltip: 'bottomMiddle'
        }
      },
      style: {
        name: 'cream',
        border: {
          width: 0,
          radius: 0,
          color: '#99911a'
        },
        width: 250,
        tip: { // Now an object instead of a string
          corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
          color: '#99911a',
          size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
          }
        }  }
      ,
      show: 'mouseover',
      hide: 'mouseout'
    });
  });
</script>