<div id="edit_strand_<%= strand ? strand.id : '' %>" >
  <% if !strand.nil? %>
  <div class="precision_panel "  style="color: <%= strand.strand_font%>; background-color:<%= strand.strand_background %>">
    <%= strand.name %>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Name
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :strand, :name, :rows=>1, :cols => 60, :value => strand.name %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Abbreviation
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :strand, :abbrev, :rows=>1, :cols => 8, :value => strand.abbrev %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Description
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :strand, :description, :rows=>4, :cols => 60, :value => strand.description %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Panel Color
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :strand, :strand_background, :rows=>1, :cols => 8, :value => strand.strand_background %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Text Color
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :strand, :strand_font, :rows=>1, :cols => 8, :value => strand.strand_font %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Position
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_field :strand, :pos, :size => 2, :value => strand.pos %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      <span class="button_blue" id="strand_update">
          Update
      </span>
    </div>
    <div class="col-md-3 ifa_edit_label">
      <% button_color = @current_strand.active? ? 'button_green':'button_orange'%>
      <% button_label = @current_strand.active? ? ' Active ':' Not Active '%>
      <span class=<%=button_color%> id="toggle_strand_active">
          <%=button_label%>
      </span>
    </div>
    <div class="col-md-2 ifa_edit_label">
      <% if @current_strand.destroyable? %>
        <span class= "button_red" id="strand_destroy">
            Destroy
        </span>
      <% end %>
    </div>
    <div class="col-md-3 ifa_edit_text"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#strand_update").click(function(){
        var name = jQ('#strand_name').val();
        var abbrev = jQ('#strand_abbrev').val();
        var description = jQ('#strand_description').val();
        var panel = jQ('#strand_strand_background').val();
        var font = jQ('#strand_strand_font').val();
        var pos = jQ('#strand_pos').val();
        var url = "<%= app_maintenance_ifa_strand_update_url(:organization_id => @current_organization, :act_standard_id => strand.id,
         :act_master_id => strand.act_master_id, :act_subject_id=>strand.act_subject_id) %>";
        jQ.get(url, {'name':name, 'abbrev':abbrev, 'description':description, 'strand_background':panel, 'strand_font':font,
          'pos':pos}, function(data) {
          jQ("#edit_strand_<%=strand.id%>").html(data);
          jQ("#edit_strand_<%=strand.id%>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#toggle_strand_active").click(function() {
        var url = "<%= app_maintenance_ifa_strand_toggle_url(:organization_id => @current_organization, :act_standard_id => strand.id,
         :act_master_id => strand.act_master_id, :act_subject_id=>strand.act_subject_id) %>";
        jQ.get(url,{},  function(data) {
          jQ("#edit_strand_<%=strand.id%>").html(data);
          jQ("#edit_strand_<%=strand.id%>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#strand_destroy").click(function() {
        var url = "<%= app_maintenance_ifa_strand_destroy_url(:organization_id => @current_organization, :act_standard_id => strand.id,
         :act_master_id => strand.act_master_id, :act_subject_id=>strand.act_subject_id) %>";
        jQ.get(url,{},  function(data) {
          jQ("#edit_strand_<%=strand.id%>").html(data);
          jQ("#edit_strand_<%=strand.id%>").show();
        });
      })
    });
  </script>
  <% else %>
    <div class="precision_panel ">
      No Strand Available
    </div>
  <% end %>
</div>