<div id="edit_strategy_<%= strategy.id %>" >
  <div class="precision_panel " >
    <%= strategy.act_subject.nil? ? 'No Subject' : strategy.act_subject.name %> | <%= strategy.name %>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Name
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :act_strategy, :name, :rows=>1, :cols => 60, :value => strategy.name %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Position
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_field :act_strategy, :pos, :size=>4, :value => strategy.pos %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      Description
    </div>
    <div class="col-md-10 ifa_edit_text">
      <%= text_area :act_strategy, :description, :rows=>5, :cols => 60, :value => strategy.description %>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-3 ifa_edit_label">
      Active?
    </div>
    <div class="col-md-9 ifa_edit_text">
      <%= text_field :act_strategy, :is_active, :size=>1, :value=> @current_strategy.active? ? 'Y':'N'%>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-3 ifa_edit_label">
      Subject Default?
    </div>
    <div class="col-md-9 ifa_edit_text">
      <%= text_field :act_strategy, :is_default, :size=>1, :value=> @current_strategy.default? ? 'Y':'N'%>
    </div>
  </div>
  <div class="row ifa_edit_row">
    <div class="col-md-2 ifa_edit_label">
      <span class="button_blue" id="strategy_update">
          Update
      </span>
    </div>
    <div class="col-md-2 ifa_edit_label">
      <% if strategy.destroyable? %>
        <span class= "button_red" id="strategy_destroy">
            Destroy
        </span>
      <% end %>
    </div>
    <div class="col-md-3 ifa_edit_text"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#strategy_update").click(function(){
        var name = jQ('#act_strategy_name').val();
        var pos = jQ('#act_strategy_pos').val();
        var description = jQ('#act_strategy_description').val();
        var active = jQ('#act_strategy_is_active').val();
        var is_default = jQ('#act_strategy_is_default').val();
        var url = "<%= app_maintenance_ifa_strategy_update_url(:organization_id => @current_organization, :act_strategy_id => strategy.id) %>";
        jQ.get(url, {'name':name, 'description':description, 'pos':pos, 'is_active':active, 'is_default':is_default}, function(data) {
          jQ("#edit_strategy_<%= strategy.id %>").html(data);
          jQ("#edit_strategy_<%= strategy.id %>").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#strategy_destroy").click(function() {
        var url = "<%= app_maintenance_ifa_strategy_destroy_url(:organization_id => @current_organization, :act_strategy_id => strategy.id) %>";
        jQ.get(url,{},  function(data) {
          jQ("#manage_strategies").html(data);
          jQ("#manage_strategies").show();
        });
      })
    });
  </script>
</div>