<div id="strand_benchmarks<%=strand.id %>">
  <div class="row precision_panel" style="color: <%= strand.strand_font%>; background-color:<%= strand.strand_background %>">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= strand.name %>
    </div>
    <div class="col-md-2">
      <span class="button_gray" id="benchmark_refresh<%=strand.id%>">
        Refresh Benchmarks
      </span>
    </div>
  </div>
  <div class="benchmark_box">
    <% @levels.each do |level| %>
      <% if !level.na? %>
        <div class="row benchmark_level_row" style="color: <%= level.score_font%>; background-color:<%= level.score_background %>">
          <div class="col-md-10 benchmark_level">
            <%= mastery_label(level, true) %>&nbsp;|&nbsp;<%= pluralize(ActBench.all_for_level_strand( level, strand).size, ' Benchmark')%>
          </div>
          <div class="col-md-2 benchmark_add">
            <%= link_to 'Add Benchmark', app_maintenance_ifa_benchmark_add_path(:organization_id => @current_organization, :act_standard_id=>strand.id, :act_score_range_id=>level.id), {:target=>'_blank'}  %>
          </div>
        </div>
        <% ActBench.all_for_level_strand( level, strand).each do |benchmark| %>
          <%= render :partial =>  "show_benchmark", :locals=>{:strand => strand, :level => level, :benchmark => benchmark, :benchmark_id => benchmark.public_id}%>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <hr>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#benchmark_refresh<%=strand.id%>").click(function() {
        var url = "<%= app_maintenance_ifa_benchmark_refresh_url(:organization_id => @current_organization, :act_subject_id => @current_subject.id, :act_standard_id => strand.id)%>";
        jQ.get(url,{},  function(data) {
          jQ("#strand_benchmarks<%=strand.id %>").html(data);
          jQ("#strand_benchmarks<%=strand.id %>").show();
        });
      })
    });
  </script>
</div>