<div id="manage_options">
  <div class="row standard_row">
    <div class="strand_label">
      <%= @current_provider.medium_name %> <%=@current_application.name %> Options
    </div>
  </div>
  <hr>
  <%= render :partial => "manage_options_ifa_masters" %>
  <div class="options_box">
    <%= form_for(:ifa_org_option, :url => app_maintenance_options_edit_path(:organization_id => @current_organization)) do |form| -%>
    <div class="row options_row">
      <div class="col-md-2">
        <%= submit_tag "Change Options", :class => "button_blue" %>
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Master Standard (<%= @current_organization.master_standard? ? @current_organization.master_standard.abbrev : 'Not Defined' %>)
      </div>
      <div class="col-md-2">
        <div class="col-md-9 repo_select_field">
          <%=  select(:ifa_org_option, :standard_id,  ActMaster.all.collect{|s| [s.abbrev,s.id]}, :value => @current_ifa_options.master_standard ? @current_ifa_options.standard_id : 1 ) %>
        </div>
      </div>
      <div class="col-md-6 options_descript">
        DO NOT CHANGE THIS Unless you know what you're doing.<br/>
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Begin School Year
      </div>
      <div class="col-md-2">
        <!-- Needs New Calendar Helper --><%#= xalendar_date_select "" , "start_date" , :value => @current_ifa_options.begin_school_year , :size => "18px", :class => "text" %>
        <%#= date_select(:ts_start, type_org_key, :use_short_month=>true, :default=>time_table[0], :order=>[:month, :year],:start_year => Time.now.year - 5, :end_year => Time.now.year) %>
        <%= @current_ifa_options.begin_school_year.strftime("%b %d, %Y") %>
      </div>
      <div class="col-md-6 options_descript">
        The School Year Start Date. It is used for data analysis & reporting purposes.  <br/>Data preceding this date will be omitted from the analysis.<br/>
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        SMS Window (days)
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :sms_calc_cycle, :size => 3, :maxlength => 3, :value => @current_ifa_options.sms_calc_cycle  %>
      </div>
      <div class="col-md-6 options_label">
        This establishes the window, in days, that the SMS algorithm uses to determine the actual Score Level of a student.<br/>
        A value of 0 would use just the most recent assessment as a guide. (This might be too sensitive and cause the student to vary between score levels too much.)<br/>
        A value of 100 would use the previous 100 days of assessment scores to determine a students current level. (This might be too insensitive to real progress.)<br/>
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Days Until Repeat Assessment
      </div>
      <div class="col-md-2">
        <%= text_field :option, :days_til_repeat, :size => 3, :maxlength => 3, :value => @current_ifa_options.days_til_repeat  %>
      </div>
      <div class="col-md-6 options_label">
        This defines the number of days that can pass before a student can take the same assessment.<br/>
        A value of 0 would allow the student to re-take the same assessment immediately. (This might be create SMS biases.)<br/>
        A value of 365 would allow the student to take the same assessment once a year.  (This might require a very large Assessment pool.)<br/>
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        "H" Threshold</br>
        0 < H < 1
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :sms_h_threshold, :size => 4, :precision => 3, :scale => 2, :maxlength => 4, :value => @current_ifa_options.sms_h_threshold  %>
      </div>
      <div class="col-md-6 options_label">
        This defines the SMS (Stotts Mastery Score) "H" threshold.  This represents the % of correct answers at a given Score Level required to establish that Score Level as the basis for the SMS algorithm.
        If, at a given score level, a student correctly answers 50% of the questions and the "H threshhold" is 75%, then this score level will not be the SMS basis.
        If the "H threshold" is 40%, then the student's 50% performance is sufficient to establish the Score Level as the basis for the SMS calculation.
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Remedial Threshold
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :pct_correct_red, :size => 4, :maxlength => 4, :value => @current_ifa_options.pct_correct_red  %> %
      </div>
      <div class="col-md-6 options_label">
        Proficiency in terms of Percent Correct Answers.  Dashboards will display statistics that fall below this level in RED.<br/>
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Mastery Threshold
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :pct_correct_green, :size => 4, :maxlength => 4, :value => @current_ifa_options.pct_correct_green  %> %
      </div>
      <div class="col-md-6 options_label">
        Proficiency  in terms of Percent Correct Answers.  Dashboards will display statistics that fall above this level in GREEN.<br/>
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.remedial_color%>; color:<%=@current_ifa_options.remedial_font%>">
        Remedial Color
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :remedial_color, :size => 7, :maxlength => 7, :value => @current_ifa_options.remedial_color  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell color for Remedial performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.remedial_color%>; color:<%=@current_ifa_options.remedial_font%>">
        Remedial Font
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :remedial_font, :size => 7, :maxlength => 7, :value => @current_ifa_options.remedial_font  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell font color for Remedial performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.growth_color%>; color:<%=@current_ifa_options.growth_font%>">
        Growth Color
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :growth_color, :size => 7, :maxlength => 7, :value => @current_ifa_options.growth_color  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell color for Growth performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.growth_color%>; color:<%=@current_ifa_options.growth_font%>">
        Growth Font
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :growth_font, :size => 7, :maxlength => 7, :value => @current_ifa_options.growth_font  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell font color for Growth performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.mastery_color%>; color:<%=@current_ifa_options.mastery_font%>">
        Master Color
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :mastery_color, :size => 7, :maxlength => 7, :value => @current_ifa_options.mastery_color  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell color for Mastery performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.mastery_color%>; color:<%=@current_ifa_options.mastery_font%>">
        Mastery Font
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :mastery_font, :size => 7, :maxlength => 7, :value => @current_ifa_options.mastery_font  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell font color for Mastery performance.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.empty_cell_color%>; color:<%=@current_ifa_options.empty_cell_font%>">
        Empty Cell Color
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :empty_cell_color, :size => 7, :maxlength => 7, :value => @current_ifa_options.empty_cell_color  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell color for Cells with No Data.
      </div>
    </div>
    <div class="row options_row">
      <div class="col-md-3 options_label" style = "background:<%=@current_ifa_options.empty_cell_color%>; color:<%=@current_ifa_options.empty_cell_font%>">
        Empty Cell Font
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :empty_cell_font, :size => 7, :maxlength => 7, :value => @current_ifa_options.empty_cell_font  %>
      </div>
      <div class="col-md-6 options_label">
        Dashboards cell font color for Cells with No Data.
      </div>
    </div>
    <hr>
    <div class="row options_row">
      <div class="col-md-3 options_label">
        Months Back For Repository Analysis
      </div>
      <div class="col-md-2">
        <%= text_field :ifa_org_option, :months_for_questions, :size => 2, :maxlength => 2, :value => @current_ifa_options.months_for_questions  %>
      </div>
      <div class="col-md-6 options_label">
        This defines the the number of months back in history that Student Answers will be used for analysing the Question repository.<br/>
        Students having achieved a certain proficiency level will be used as Dependent variables in analysing how well question they faced perform.  This variable determines how must historical answers should be used in the analysis.<br/>
        A long history creates a good sample size.  But it also may go back too far in time, when that student was not performing near current levels of proficiency.<br/>
        default is 3 months.<br/>
        </tr>
      </div>
    </div>
    <% end -%>
  </div>
</div>

