<div id="master_options">
	<% org_masters = @current_ifa_options.act_masters rescue [] %>
  <div class="row options_standards_row">
    <div class="col-md-4">
      <table >
        <tbody>
          <% ActMaster.by_abbrev.each do |mstr| -%>
            <% if mstr.default? -%>
              <tr>
                <td class="options_standards_indicator">
                  <%= (image_tag "button_enabled.png",:width => 15) -%>
                </td>
                <td class="options_standards_name">
                  <%= mstr.name.titleize %>
                </td>
              </tr>
            <%else %>
              <tr>
                <td  id="toggle_<%=mstr.id%>">
                  <% if org_masters.include?(mstr) -%>
                    <%= (image_tag "button_enabled.png",:width => 15)%>
                  <% else %>
                    <%= (image_tag "button_disabled.png",:width => 15)%>
                  <% end %>
                </td>
                <td class="options_standards_name">
                  <%= mstr.name.titleize %>
                </td>
              </tr>
                <script type="text/javascript">
                  jQ(document).ready(function() {
                    jQ("#toggle_<%=mstr.id%>").click(function(){
                      var url = "<%= ifa_option_master_toggle_url(:organization_id => @current_organization, :master_id => mstr.public_id)%>";
                      jQ.get(url, {}, function(data) {
                        jQ("#master_options").html(data);
                        jQ("#master_options").show();
                      });
                    })
                  });
                </script>
            <% end-%>
          <% end-%>
        </tbody>
      </table>
    </div>
  </div>
</div>