<div id="manage_benchmarks">
  <div class="row standard_row">
    <div class="strand_label">
      Manage <%= @current_standard.abbrev + " " + @current_subject.name + ' Benchmarks' %>
    </div>
  </div>
  <div class="row standard_row">
    <div class="strand_add">
      <%#= link_to 'New benchmark', app_maintenance_ifa_benchmark_add_path(:organization_id => @current_organization), {class: 'button_blue', :target=>'_blank'}  %>
    </div>
  </div>
  <% @strands.each do |strand| %>
      <div class="row standard_row" style="color: <%= strand.strand_font%>; background-color:<%= strand.strand_background %>">
        <%= strand.name %>
      </div>
    <% @levels.each do |level| %>
      <div class="row standard_row" style="color: <%= level.score_font%>; background-color:<%= level.score_background %>">
        <div class="col-md-3">
          <%= level.range %>
        </div>
        <div class="col-md-9">
          <% ActBench.all_for_level_strand( level, strand).each do |benchmark| %>
              <%=benchmark.id %>
            <%#= render :partial =>  "edit_benchmark", :locals=>{:benchmark => benchmark}%>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>