<div id="tool_ox">
  <div class="row tool_row">
    <%= render :partial => "/shared/error_and_notice" %>
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <span id = "tool_o" class='button_gray enabled'>
        <%='GO' %>
      </span>
    </div>
    <div class="col-md-8">
      Count Internally Correct Dashboards. Cell Data consistent with Summary Data
      <% if !@tool_o_summary.nil? %>
        <div class="row tool_sumry">
          <%=@tool_o_summary %><br/>
          <%= pluralize(@tool_o_initial_db_count, ' Total Dashboard') %><br/>
          <%= pluralize(@tool_o_wrong_fpoints_total, ' Dashboard') %> With Incorrect Point Total<br/>
          <%= pluralize(@tool_o_wrong_cpoints_total, ' Dashboard') %> With Incorrect Cal Point Total<br/>
          <%= pluralize(@tool_o_wrong_fanswer_total, ' Dashboard') %> With Incorrect Answer Total<br/>
          <%= pluralize(@tool_o_wrong_canswer_total, ' Dashboard') %> With Incorrect Cal Answer Total<br/>
          <%= pluralize(@tool_o_bad_entity, ' Dashboard') %> With Bad Entity<br/>
          <%= pluralize(@tool_o_db_plannable, ' Dashboard') %> With Non-Plannable Subject<br/>
          <%= pluralize(@tool_o_extra_std_cell, ' Dashboard') %> With Cells Having extra Standard Cells<br/>
          <%= pluralize(@tool_o_extra_std_score, ' Dashboard') %> With Extra Standard Score Records<br/>
          <%= pluralize(@tool_o_no_std_cell, ' Dashboard') %> With NO <%= @current_standard.abbrev%> Cells<br/><br/>
          <%= pluralize(@tool_o_no_std_cell_deleted, ' Dashboard Cell') %> Destroyed NOT <%= @current_standard.abbrev%><br/>
          <%= pluralize(@tool_o_no_std_score_deleted, ' Dashboard Score') %> Destroyed NOT <%= @current_standard.abbrev%><br/>
          <%= pluralize(@tool_o_bad_level_cell_deleted, ' Dashboard Cell') %> Destroyed With BAD <%= @current_standard.abbrev%> Levels<br/>
          <%= pluralize(@tool_o_bad_subject_db_deleted , ' Dashboard') %> Destroyed With Non-Plannable Subject<br/>
          <%= pluralize(@tool_o_no_std_db_deleted, ' Dashboard') %> Destroyed With NO <%= @current_standard.abbrev%> Cells<br/>
          <%= pluralize(@tool_o_db_score_updated, ' Dashboard') %> Reconciled Summary Scores With Cells Scores<br/>
          <br/>
        </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_o").click(function(){
        var url = "<%= app_maintenance_ifa_tool_o_url(:organization_id => @current_organization, :reconcile_them => 'No') %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_ox").html(data);
          jQ("#tool_ox").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_oo").click(function(){
        var url = "<%= app_maintenance_ifa_tool_o_url(:organization_id => @current_organization, :reconcile_them => 'Remove') %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_ox").html(data);
          jQ("#tool_ox").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_ooo").click(function(){
        var url = "<%= app_maintenance_ifa_tool_o_url(:organization_id => @current_organization, :reconcile_them => 'Reconcile') %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_ox").html(data);
          jQ("#tool_ox").show();
        });
      })
    });
  </script>
</div>