<div id="tool_rx">
  <div class="row tool_row">
    <%= render :partial => "/shared/error_and_notice" %>
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <span id = "tool_r" class='button_gray enabled'>
        <%='GO' %>
      </span>
    </div>
    <div class="col-md-8">
      Reset All Classroom ActSubject ID's
      <% if !@tool_r_summary.nil? %>
        <div class="row tool_sumry">
          <%=@tool_r_summary %><br/>
          <%= pluralize(@tool_r_classroom_total, ' Total Classroom') %><br/>
          <%= pluralize(@tool_r_classroom_count, ' Classroom Update') %><br/>
          <%= pluralize(@tool_r_not_enabled_count, ' Not Enabled Update') %><br/>
          <br/>
        </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_r").click(function(){
        var url = "<%= app_maintenance_ifa_tool_r_url(:organization_id => @current_organization) %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_rx").html(data);
          jQ("#tool_rx").show();
        });
      })
    });
  </script>
</div>