<div >
  <div class="row standard_row">
    <div class="strand_label">
      <%= @current_organization.provider_app_name(@current_application)%> Maintenance Tools
    </div>
  </div>
  <div class="row standard_row">
    <div class="strand_label">
      <%= link_to 'Dashboard Analysis', app_dashboard_path(:organization_id => @current_organization), :class=> "button_green", :target => '_blank' %>
    </div>
  </div>
  <%= render :partial => 'tool_p' %>
  <%= render :partial => 'tool_o' %>
  <%#= render :partial => 'tool_n' %>
  <%= render :partial => 'tool_m' %>
  <%= render :partial => 'tool_l' %>
  <%= render :partial => 'tool_k' %>
  <%= render :partial => 'tool_j' %>
  <%= render :partial => 'tool_i' %>
  <%= render :partial => 'tool_h' %>
  <%= render :partial => 'tool_g' %>
  <%= render :partial => 'tool_f' %>
  <%= render :partial => 'tool_e' %>
  <%= render :partial => 'tool_d' %>
  <%= render :partial => 'tool_c' %>
  <%= render :partial => 'tool_b' %>
  <%= render :partial => 'tool_a' %>
</div>