<div id="tool_kx">
  <div class="row tool_row">
    <%= render :partial => "/shared/error_and_notice" %>
    <div class="col-md-2"></div>
    <div class="col-md-1">
      <span id = "tool_k1" class='button_gray enabled'>
        <%='GO' %>
      </span>
    </div>
    <div class="col-md-8">
      Identify Orphan Answers, (With NO Submission Or Question)
      <% if !@tool_k_summary.nil? %>
        <div class="row tool_sumry">
          <%=@tool_k_summary %><br/>
          <%= pluralize(@tool_k_answer_count, ' Total Answer') %><br/>
          <%= pluralize(@tool_k_s_orphan_answer_count, ' Sub Orphan Answer') %> With No Submission<br/>
          <%= pluralize(@tool_k_q_orphan_answer_count, ' Question Orphan Answer') %> With No Question<br/>
          <br/>
        </div>
      <% end %>
      <% if @tool_k_destroy  && false%>
          <div class="row">
            <div class="col-md-2">
            <span id = "tool_kk" class='button_gray enabled'>
              <%='GO' %>
            </span>
            </div>
            <div class="col-md-9">
              Destroy Orphan Answers
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_k").click(function(){
        var url = "<%= app_maintenance_ifa_tool_k_url(:organization_id => @current_organization, :destroy_them => 'No') %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_kx").html(data);
          jQ("#tool_kx").show();
        });
      })
    });
  </script>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#tool_kk").click(function(){
        var url = "<%= app_maintenance_ifa_tool_k_url(:organization_id => @current_organization, :destroy_them => 'Yes') %>";
        jQ.get(url, {}, function(data) {
          jQ("#tool_kx").html(data);
          jQ("#tool_kx").show();
        });
      })
    });
  </script>
</div>