<div class= 'row panel_title_blue'>
  Create Benchmark<br/><%=@current_strand.subject_area.name %> | <%= @current_strand.name %> | <%= @current_standard.abbrev %> <%= mastery_label(@current_level, false)%>
</div>
<hr>
<div class="container Form_Container">
  <%= render :partial => "/shared/error_and_notice" %>
  <%= form_for(:act_bench, :url => app_maintenance_ifa_benchmark_create_path(:organization_id => @current_organization,
                                                                             :act_standard_id=>@current_strand.id,
                                                                             :act_score_range_id => @current_level.id,
                                                                              :act_subject_id => @current_subject.id)) do |f| %>
    <div class= 'row panel_subtitle_blue'>
      Taken <%= @current_strand.abbrev %> | <%= @current_level.range %> Positions:
      <%= !ActBench.all_for_level_strand( @current_level, @current_strand).empty? ? ActBench.all_for_level_strand( @current_level, @current_strand).map{|b| b.pos}.sort_by{|p| p}.join(', ') : 'None' %>
      <hr>
    </div>
    <%= render :partial => "form_benchmark" %>
    <%= render :partial => "benchmark_source" %>
      <div class="row ifa_edit_row">
        <div class="col-md-2 ifa_edit_label">
          <%= f.submit :class =>"button_blue" %>
        </div>
      </div>
  <% end %>
</div>
