<h2>User list</h2>
<table>
	<thead>
		<tr>
			<th colspan=2 style="text-align:left">Full Name, School</th>
			<th colspan=2 style="text-align:left">Registration</th>
			<th colspan=2 style="text-align:left">Last Login</th>
			<th style="text-align:left">ID Email</th>
			<th colspan=2 >&nbsp;</th>
		</tr>		
		<tr>
			<th style="width:2%; padding-left:20px"><%= link_to (image_tag "button_arrow_up.png",:width => 12), master_users_show_path(:sort_by => 'na') -%></th>
			<th style="width:18%; padding-left:20px"><%= link_to (image_tag "button_arrow_down.png",:width => 12), master_users_show_path(:sort_by => 'nd') -%></th>
			<th style="width:2%; padding-left:20px"><%= link_to (image_tag "button_arrow_up.png",:width => 12), master_users_show_path(:sort_by => 'ra') -%></th>
			<th style="width:13%; padding-left:20px"><%= link_to (image_tag "button_arrow_down.png",:width => 12), master_users_show_path(:sort_by => 'rd') -%></th>
			<th style="width:2%; padding-left:20px"><%= link_to (image_tag "button_arrow_up.png",:width => 12), master_users_show_path(:sort_by => 'la') -%></th>
			<th style="width:13%; padding-left:20px"><%= link_to (image_tag "button_arrow_down.png",:width => 12), master_users_show_path(:sort_by => 'ld') -%></th>
      <th style="width:20%; padding-left:20px">&nbsp;</th>
      <th colspan="2">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<% prev_name = "" -%>
		<% @users.each do |user| -%>
		<% org_name = user.organization.nil? ? "* * No Org * *" : user.organization.short_name %>
		<% background = prev_name == user.last_name_first + org_name ? "#f7c2c2" : "#ffffff"  -%>
		<tr>
			<td colspan=2 style="background-color:<%=background %>"><%= user.last_name_first %>,&nbsp;&nbsp;<%= org_name %></td>
			<td colspan=2 style="background-color:<%=background %>"><%= user.created_at.strftime("%b %d, %Y")%></td>
			<td colspan=2 style="background-color:<%=background %>"><%= user.last_logon.nil? ? "----":user.last_logon.strftime("%b %d, %Y")%></td>
			<td style="background-color:<%=background %>"><%= user.email_address%></td>
			<td class="edit_and_remove" style="background-color:<%=background %>">
				<% if user.can_be_deleted? -%>
					<%= link_to "Destroy", master_users_delete_path(:id => user.id), :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
				<% end -%>
				<% unless user.superuser? -%>
					<%button_label =  user.suspended? ? "Activate" : "Suspend"-%>
					<%= link_to button_label, master_users_suspend_path(:id => user.id), :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
				<% end -%>
			</td>
			<td class="edit_and_remove" style="background-color:<%=background %>">
				<%button_label =  user.superuser? ? "Remove SU" : "Make SU"-%>
				<%= link_to button_label, master_users_super_path(:id => user.id), :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
			</td>
		</tr>		
		<% prev_name = user.last_name_first + org_name -%>
		<% end -%>
	</tbody>
</table>


