<div id="logo">
    <%= link_to (image_tag ("EP_logo.png"), :style => "float:left"), "http://www.odysseynetworks.org/causes/peace/tabid/178/default.aspx" %>
</div>
<div style="text-align:center;">
	<%= image_tag ("pledge_mmfp_hdr.png") %>
</div>
<div id="register_step_1">
	<div id="warp">
		<div id="main_content">
			<h2>Because Peace Must Be Waged Every Day</h2>
				<p>Join Odyssey Networks in building and nurturing a culture of peace. In the coming months, as we build toward September 21, 2010, we'll use our media to explore all the things that contribute to  a peaceful world : forgiveness, tolerance, social  justice, the care of all creation. Share your ideas. Get involved. Wage peace with us.</p>
			<p><em>* Required Field</em></p>
			<% form_for @prayer_pledge, :url => { :action => "register_en" } do |f| %>
			<div id="register_form">
				<div id="error">
					<%= error_messages_for :prayer_pledge %>
				</div>
				<%= hidden_field_tag "prayer_pledge[i18n_locale]", "en" %>
				<div class="fieldRow">
					<%= f.label :first_name, content_tag(:em, "* ") + "First Name" %>
					<%= f.text_field :first_name %>
				</div>
				<div class="fieldRow">
					<%= f.label :last_name, content_tag(:em, "* ") + "Last Name" %>
					<%= f.text_field :last_name %>
				</div>
				<div class="fieldRow">
					<%= f.label :email_address, content_tag(:em, "* ") + "Email Address" %>
					<%= f.text_field :email_address %>
				</div>
				<div class="fieldRow">
					<%= f.label :email_address_confirmation, content_tag(:em, "* ") + "Verify Email Address" %>
					<%= f.text_field :email_address_confirmation %>
				</div>				
				<div class="fieldRow">
					<%= f.label :country, content_tag(:em, "* ") + "Country" %>
					<%= localized_country_select(:prayer_pledge, :country, [], :include_blank => 'Please choose...') %>
				</div>				
				<div class="fieldRow tip">
					Your email address will not be shared. See <%= link_to 'Privacy Policy', {:controller => "../fsn", :action => 'privacy'},  :target => '_blank' %>
				</div>					
				<div class="fieldRow verify">
					<%= check_box :prayer_pledge, :age_verified %>					
					I verify that I am 14 years of age or older.
				</div>
				<div class="fieldRow verify">
					<%= check_box :prayer_pledge, :should_inform %>					
					Please Keep Me Informed About Odyssey Networks.
				</div>
				<div class="fieldRow submit"><%= f.submit "Submit" %></div>				
			</div>
			<% end -%>
			<div style="text-align:center;">
				<%= image_tag ("pledge_mppoe_hdr.png") %>			
			</div>
		</div>
	</div>
</div>
<% if @current_user -%>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var email_address = $("#prayer_pledge_email_address").val();
		$("#prayer_pledge_email_address_confirmation").val(email_address);
	})
</script>
<% end -%>