<div id="logo">
	<%= image_tag ("EP_logo.png") %>
</div>
<div id="register_step_3">
  <div id="warp">
    <div id="main_content">
      <h2>Thanks again!   Please learn more and engage yourself in the cause for peace: </h2>
      <p>
        <b>PARTICIPATE IN OUR DISCUSSIONS</b>
        <% for topic in @current_organization.topics.active do -%>
        <br/>
        <%= link_to topic.title, :controller => "../site/site",:action => "more_topic", :organization_id => @current_organization, :topic_id => topic %>
        <% end -%>
      </p>
      <p>
        <b>PARTICIPATE OUR BLOGS</b>
			  <% @current_organization.blogs.each do |blog| -%>
				  <% if blog.active -%>
					<br/>	<%= link_to h(blog.title.humanize), :controller => "../site/blogs" , :action => "show" , :blog_id => blog %> 
				  <% end -%>
			  <% end -%>
      </p>
      <p>
				<b>LEARN MORE ABOUT</b>
        <br/>
        Discover More Peace Activities at <a href="http://odysseynetworks.org">OdysseyNetworks.org</a>
      </p>
			<div class="fieldRow">
				<%= check_box_tag :invite_friend %>
				Invite A Friend to Pledge.
			</div>
			<div id="invite">
				<div class="fieldRow">
					<label for="name">Email to:</label>
					<input class="text" id="email_archive_sender_email" name="email_archive[sender_email]" size="30" type="text" />
				</div>
				<div class="fieldRow tip">Use commas for multiple emails.</div>
				<div class="fieldRow">
					<label for="name">Message:</label>
					<textarea cols="40" id="email_archive_plain_body" name="email_archive[plain_body]" rows="8"></textarea>
				</div>
				<div class="fieldRow">
					<button style="margin-left:140px;">send</button>
				</div>
			</div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$invite_friend = $("#invite_friend");
		function HideShowShare() {
			if($invite_friend.attr("checked") == true) {
				$("#invite").show();
			} else {
				$("#invite").hide();
			}
		}
		HideShowShare();
		$invite_friend.click(function() {
			HideShowShare();
		})
		$('button').click(function() {
			var sender_email = $("#invite").find("input[name='email_archive[sender_email]']").val();
			var plain_body = $("#invite").find("textarea").val();
			var share_url = '<%= url_for :controller => "/site/prayer_pledges", :action => :invite_friend, :organization_id => @prayer_pledge.organization %>';
			$.post(share_url, {
				'email_archive[sender_email]':sender_email, 
				'email_archive[plain_body]':plain_body}, function() {
					$("#invite").hide();
			})
		})		
	})
</script>