
<% unless @classroom_list.empty? -%>
<div>

	<span style ="color: #C83A14; font-size:12px">
	<center><strong><i><%= @start_date.strftime("%B %d, %Y")%>&nbsp;&nbsp;-&nbsp;&nbsp;<%= @end_date.strftime("%B %d, %Y")%> </i></strong></center>
	</span>
</div>
<% if @num_clsrm_metrics == 0 -%>
	<div>
		<span style ="color: #C83A14; font-size:12px">
		<br/><center><strong>Select "Options" Tab To Choose Your Statistics</strong></center>
		</span>
	</div>
<% end -%>
<table>
	<thead>
		<tr>
			<td width = 120px style="vertical-align:bottom; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #000000; font-size:10px; margin-left:0px" >
				&nbsp;</td>	
			<td width = 80px style="vertical-align:bottom; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #000000; font-size:10px; margin-left:0px" >
				&nbsp;</td>
			<% @metric_header.each_with_index do |hdr, vdx| %>
			<td class="tip_std" title="<%= @metric_header_hover[vdx] %>" width = 60px style="vertical-align:bottom; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #000000; font-size:10px; margin-left:0px" >
				?
			</td>			
			<% end -%>															
		</tr>
	</thead>
</table>
<table id="classrooms" class="tablesorter">
	<thead>
		<tr>
			<th width = 120px style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #C83A14; font-size:10px; margin-left:0px; font-weight:bold" >
				Classroom</th>
			<th width = 80px style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #C83A14; font-size:10px; margin-left:0px; font-weight:bold" >
				Teachers</th>	
			<% @metric_header.each_with_index do |hdr, vdx| %>
			<th width = 60px style="vertical-align:middle; text-align:center;; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #C83A14; font-size:10px; margin-left:0px; font-weight:bold" >
				<%= hdr %>
			</th>			
			<% end -%>															
		</tr>
	</thead><tbody>
		<% @classroom_list.each_with_index do |c, idx| -%>
		<tr>
			<td style="width:120px;font-size:10px;"><u><%= link_to @c_name[idx], offering_view_path(:organization_id => @current_organization, :id => c),{:target=>"_blank"} %></u></td>
			<td style="text-align:center; width:80px;font-size:10px;"> <%= @c_tchrs[idx] %></td>
			<% @c_metrics[idx].each do |met| -%>
				<td style="width:60px; text-align:center;font-size:10px;"><%= met %></td>
			<% end -%>	 	
		</tr>
		<% end -%>
	</tbody>
</table>

<% else -%>
<div>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  No Classrooms Identified  * * *</i></center>
	</span>
</div>
<% end -%>


<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
  jQ("#classrooms").tablesorter({ headers: { 1:{sorter: false}}});
});
</script>


<script>
jQ(function(){
jQ('td.tip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'rightTop',
         tooltip: 'leftTop'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 150,
	  tip: { // Now an object instead of a string
         corner: 'leftTop', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('td.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 250,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('td.tip_bench').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'leftTop',
         tooltip: 'rightTop'
      }
   },
   style: { 
      name: 'blue',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 350,
	  tip: { // Now an object instead of a string
         corner: 'rightTop', // We declare our corner within the object using the corner sub-option
         color: '#1115cc',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('td.tip_org').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'rightTop',
         tooltip: 'leftTop'
      }
   },
   style: { 
	  background: '#e8c4d1',

	  border: {
         width: 0,
         radius: 0,

      },
      width: 280,
	  tip: { // Now an object instead of a string
         corner: 'leftTop', // We declare our corner within the object using the corner sub-option
         color: '#e8c4d1',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>