<style type="text/css" media="screen">
	.blog_panel_user { clear:both; }
	.blog_info { margin-top: 15px; }
/*	.blog_panel_user img { float: left; }	*/
/*	.blog_panel_user strong { margin-left: 10px; }*/
</style>
<p class="blog_info">

	<% unless @blog.users.size.zero? -%>
		<% @blog.users.each do |user| -%>
      <span style="float:left; margin-right:10px;">
        <%#= image_tag_with_link(@blog, user) %>
        <br /><br/>
      </span>
       <span class="blog_panel_user">
          <%= image_tag user.picture.url(:small_thumb) if user.picture %>
          <strong><%= link_to user.full_name, user_view_path(:organization_id => @blog.organization, :id => user), {:target => "blank"} %></strong>
          <%= link_to( "(Bio)", user.personal_url,{'target' => 'blank'}) unless user.personal_url.nil? %>
          <% last_blog_post_create_at = user.last_blog_post_create_at(@blog) -%>
          <abbr>
            <% unless user.blog_post_count(@blog).zero? -%> 
             posted on
              <% if last_blog_post_create_at > Time.now.utc - 24.hours -%>
                <%= time_ago_in_words(last_blog_post_create_at).sub(/about /, '') %> ago
              <% else -%>
                <%= last_blog_post_create_at.strftime("%b %e, %Y") %>
              <% end -%>
            <% end -%>
          </abbr>
           | <%= pluralize(user.blog_post_count(@blog), "Blog") %>
          <br />
          <%= user.credentials %>
          <% unless user.organization.nil? -%>
          	<%= user.organization.name%>
          <% end -%>
      </span>
      <br style="clear:both" /> 
		<% end -%>
	<% end -%>
	<br style="clear:both" />
	<% if @blog.creator %>
		<strong><%= link_to @blog.cretor.full_name, user_view_path(:organization_id => @blog.organization, :id => @blog.creator) %></strong>
   		<%= link_to( "(Bio)", @blog.creator.personal_url,{'target' => 'blank'}) unless @blog.creator.personal_url.nil? %>
	<% end -%>
 	<abbr title="<%= @blog.created_at.xmlschema %>"> posted on 
			<% if @blog.created_at > Time.now.utc - 24.hours -%>
				on <%= time_ago_in_words(@blog.created_at).sub(/about /, '') %> ago
			<% else -%>
				<%= @blog.created_at.strftime("%b %e, %Y") %>
			<% end -%>
	</abbr>
	 |  
</p>