	<% @heading_color = "#1b5698" -%> 
    <% @post_title_color = "#1b5698" -%>
    <% @text_color = "#555555" -%>
<a name="Top"></a>
<style type="text/css" media="screen">
	#blog_comment_warp .mempro_box { width:900px; }
	h3.blog_item_title { font-size: 20px; line-height: .8em; color:#000000; font-family:Verdana;}
</style>
<div class="blog_box_warp">
	<div class="mempro_box">
		<table   style="width:900px;  margin-left:00px; border:0px solid white;">
		<tbody>
			<style type="text/css" media="screen">
		    table,tr,td { border:medium}
			table tr:hover{
 	       	background-color: transparent;
 	     	}
 		   	</style>
			<tr style=" border:0px solid white;">
				<td style="width:200px;  text-align:left; padding-left:1px; border:0px solid black">
				<div style="padding-bottom:0px;">
					<%= image_tag(@current_organization.logo.url, :alt => @current_organization.name, :width => 180) if @current_organization.logo.file? -%>
				</div>	
				</td>

				<td  style="width:580px; vertical-align:top; color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold; padding-left:0px; border:0px solid black;">
					<strong><center> <%= @current_organization.name.upcase %> 
						<% if @blog.blog_type.blog_type == "POV" -%>
							<br/><%= @blog.blog_type.label.titleize %>
						<% end -%>
						</center></strong>

						<% other_blogs = @current_organization.blogs.active.for_type(@blog).select{|b| b.id != @blog.id}  rescue []  -%>
						<% unless other_blogs.empty? -%>
						<table id="blogs_header"style = "width:520px; margin-left:40px">
							<tbody>
								<tr>
									<td  id="blogs_show" style = "width:520px; text-align:center; font-weight:bold; font-family: Calibri; color:<%= @heading_color %>">
										=> Show Other POVs To Read										
									</td>
								</tr>
						</tbody>
						</table>
						<table id="blogs_descript"style = "width:520px; margin-left:40px">
							<tbody>
								<tr>
									<td  id="blogs_hide" style = "width:520px; text-align:center; font-weight:bold; font-family: Calibri; color:<%= @heading_color %>">
										=> Hide Other POVs										
									</td>
								</tr>
								<tr>
									<% other_blogs.each do |blog| -%>
									<td style="width:520px; text-align:left; font-family: Calibri; color:<%= @heading_color %>">
										<%= link_to (blog.title), :controller => "site/blogs" , :action => "show" , :blog_id => blog %> (<%= pluralize blog.blog_posts.size, " Posting" %>)
									</td>
								</tr>
									<% end -%>
						</tbody>
						</table>

						<% end -%>
					<br/>
				</td>
				<td style="width:120px;  vertical-align:top; text-align:left; padding-left:0px; border:0px solid black">
					<%= link_to "Return", organization_view_path(:organization_id => @current_organization), :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>
					<br/>

					<% if @current_user -%>

						<%= link_to "Share This POV", "#", :id => "share_blog_btn", :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>		
						<div id="share_blog_warp" style="display:none;">
							<div class="fieldRow" style="padding-top:10px; clear:both;">
								<label for="name">Email to:</label>
								<input class="text" id="email_archive_sender_email" name="email_archive[sender_email]" size="30" type="text" />
								<br/>
								<span style = "font-size:10px; color: #C83A14;">
									<i>Separate multiple addresses with a <u>comma</u>.</i>
								</span>
							</div>
							<div class="fieldRow" style="padding-top:10px; clear:both;">
								<label for="name">Message:</label>
								<textarea cols="30" id="email_archive_plain_body" name="email_archive[plain_body]" rows="8"></textarea>
							</div>
							<div class="fieldRow clear" style="padding-top:10px; clear:both;">
								<button class="fsn-button ui-button ui-state-default ui-corner-all">cancel</button>
								<button class="fsn-button ui-button ui-state-default ui-corner-all" style="margin-left:10px;">send</button>
							</div>
						</div>
					<br/>
					<% end -%>
					<br/>
			<!--		<%#= link_to "View All Blogs", {:controller => "site/blogs" , :action => "index" , :organization_id => @current_organization.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>	-->	
					<br/>

				</td>
			</tr>
		</tbody>					
	</table>


	<table style="width:900px;  margin-left:00px; border:0px solid white;">
		<tbody>
			<style type="text/css" media="screen">
		    table,tr,td { border:medium}
			table tr:hover{
 	       	background-color: transparent;
 	     	}
 		   	</style>
			<tr style=" border:0px solid white;">
				<td style="width:200px;  text-align:left; font-size:10px; padding-left:10px;">
     	  			<% if @blog.act_subject -%>
     	  			<h3><%= @blog.act_subject.name.titleize %></h3>
     	  			<% end -%>
     	  			<h3><%= pluralize( @blog_posts.size , ' Posting') %></h3>
	<!--
						 <%# @blog.blog_posts.active.each_with_index do |post, idx| %>
						<%#= idx+1 %>)&nbsp;<a href="#post_<%#=idx+1 %>"><%#= post.title %></a><br/>
					<%# end -%>
	-->					
				</td>

				<td  style="width:580px; vertical-align:top;  margin-top:5px;  padding-left:0px;  border:0px solid black;">
		<div class="blog_item">
			<div class="blog_title" >
				<%= h @blog.title %>
			</div>
			<div class="blog_description_text" >
				<%= simple_format @blog.description %>
			</div>
		</div>
				</td>
				<td style="width:120px;  vertical-align:top; text-align:left; padding-left:0px; border:0px solid black">

				</td>
			</tr>
		</tbody>					
	</table>

	<div id="blog_comment_warp">

				<%= render :file => "/site/blog_posts/index" %>

	</div>
<a name="Bottom"></a>
</div>
	<br style="clear:both" />	
</div>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		$share_blog_warp = jQ("#share_blog_warp");
		jQ("#share_blog_btn").click(function() {
			$share_blog_warp.show();
		})
		$share_blog_warp.find("button:first").click(function() {
			$share_blog_warp.hide();
		})
		$share_blog_warp.find("button:last").click(function() {
			var $sender_email = $share_blog_warp.find("input[name='email_archive[sender_email]']");
			var $plain_body = $share_blog_warp.find("textarea");
			var sender_email = $sender_email.val();
			var plain_body = $plain_body.val();
			share_url = '<%= url_for :controller => "/site/blogs", :action => :share_blog, :blog_id => @blog.public_id %>';
			jQ.post(share_url, {'email_archive[sender_email]':sender_email, 'email_archive[plain_body]':plain_body}, function() {
				$share_blog_warp.hide();
			})
		})
	})
</script>
<script type="text/javascript">
jQ(document).ready(function() {
  		  jQ("#blogs_header").show();
		  jQ("#blogs_descript").hide();		  

	jQ("#blogs_show").click(function() {
		  	jQ("#blogs_header").hide();	 
	   		jQ("#blogs_descript").slideDown("slow");
	})

	jQ("#blogs_hide").click(function() {
	   		jQ("#blogs_descript").slideUp("slow");
	   		jQ("#blogs_header").show();
	})	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>