<div class="discusssion_by_same_author_box">
	<div class="discusssion_by_same_author_warp">
		<div class="discusssion_by_same_author">
			<div class="blog_font">
				<% comment_string = (@com_num + 1).to_s + ". " + @comment.body -%>
				<%= simple_format comment_string %>
				<% if @current_user && (@current_user == @blog_post.user || @current_user.has_authority?(@current_organization, AuthorizationLevel.app_administrator(CoopApp.core))) -%>
				  <%= link_to '[X]', {:controller => "blog_posts", :action => "delete_comment", :id => @comment.id}, :confirm => "Are you sure?" %>
				<% end -%>
			</div>
		</div>
	</div>
	<div class="discusssion_by_same_author_info">
		<span>
			<% if @comment.user%>
				<% if @comment.user_name.blank? -%>
					<%= @comment.user.full_name %>
					<%= link_to @comment.user.full_name, user_view_path(:organization_id => @comment.blog_post.blog.organization, :id => @comment.user) %>
				<% else -%>
					<%= @comment.user_name %> <% end %>
			<% else -%> Former Member
			<% end -%>
		</span>
		<abbr title="<%= @comment.created_at.xmlschema %>"> posted  
				<% if @comment.created_at > Time.now.utc - 24.hours -%>
					on <%= time_ago_in_words(@comment.created_at).sub(/about /, '') %> ago
				<% else -%>
					<%= @comment.created_at.strftime("%b %e, %Y") %>
				<% end -%>
		</abbr>
	</div>
</div>		