<style type="text/css" media="screen">
	h3.blog_item_title { font-size: 20px; line-height: .8em; color:#000000; }
</style>
<div class="blog_box_warp">
	<div class="mempro_box">
		<div class="blog_item">
			<h3 class="blog_item_title"><%= h @blog_post.title %></h3>
	    <div id="show_share_head">
		     <%# render :partial => "share_head" %>
         <p class="blog_info">
          <span style="float:left;"><%= image_tag @blog_post.user.picture.url(:thumb) if @blog_post.user.picture %></span>
          <span style="float:left;width:470px;margin-left:20px;">
            <%= @blog_post.user.credentials %><br />
           	<abbr title="<%= @blog_post.created_at.xmlschema %>"> 
           	    Posted 
           			<% if @blog_post.created_at > Time.now.utc - 24.hours -%>
           			less than <%= time_ago_in_words(@blog_post.created_at).sub(/about /, '') %> ago
           			<% else -%>
           			on <%= @blog_post.created_at.strftime("%b %e, %Y") %>
           			<% end -%>
           	</abbr>            
          </span>
          <br style="clear:both" />
         </p>		     
		  </div>
			<div class="blog_content blog_font">
				<%= simple_format @blog_post.body %>
			</div>
		</div>
		<div id="blog_comments">
			<h3>Comments</h3>
		<!-- not sure what this is for	<a href="#respond">Leave a response</a> -->
			<div id="blog_comment_warp" style="background-color:#f7f7f7; padding-top:10px">
				 <% @comments.each_with_index do |@comment, @number| %>
				   <%= render :partial => "comment_show" %>
				 <% end %>
			</div>
			<% if @current_user.present? -%>
				<a id="respond" name="respond"></a>
				<div class="post_new_comment">
					<h3>Post a new comment</h3>
						<% form_remote_tag :url => {:action => "add_comment", :blog_id => @blog.public_id , :blog_post_id => @blog_post.public_id} do %>
					<div id="comment_form_div">
				  		<%= render :partial => "comment_form" %>
					</div>
					<% end %>
				</div>
			<% end -%>
		</div>
	</div>
	<div class="mempro_box blogs_side_nav">
		<h3>Blog List</h3>
		<ul class="blog_content">
			<% @blogs.each do |blog| -%>
				<% if blog.active -%>
					<li>
						<%= link_to h(blog.title.humanize), :controller => "site/blogs" , :action => "show" , :blog_id => blog %> Blog Posts(<%= blog.blog_posts.size %>)
					</li>
				<% end -%>
			<% end -%>
			<li>&nbsp;</li>
		</ul>
		<div class="blogs_said_nav_tile">
			<%= link_to "Blog Summary Page" , {:controller => "site/blogs" , :action => "index" , :organization_id => @current_organization.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>		
		</div>
		<div class="blogs_said_nav_tile">
			<%= link_to "Blog Posts" , {:controller => "site/blogs" , :action => "show" , :blog_id => @blog.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>
		</div>
		<div class="blogs_said_nav_tile">
				<% if @current_user.present? && (@current_user.has_authority?(@current_organization, AuthorizationLevel.app_administrator(CoopApp.core), :superuser=>true) ||  @blog.blog_panel.users.include?(@current_user)) %>
				<%= link_to "Add a Post" , {:controller => "site/blog_posts" , :action => "create" , :blog_id => @blog.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>
			<% end %>
		</div>	
	</div>
	<br style="clear:both" />	
</div>