<div class="blog_box_warp">
	<div style="float:left; width:690px">
		<div class="mempro_box">	
			<h3>Update Blog Post</h3>
			<% error_messages_for(:blog_post) %>

	<%= form_tag({:controller => "site/blog_posts", :action => :add_post_picture, :organization_id => @current_organization, :blog_id => @blog.public_id, :blog_post_id => @blog_post.public_id , :user_id => @current_user, :function => "Update"}, :multipart => true) do -%>
	<div class="FormRow">
		<div class="FormRowTitle">Cover Picture</div>
        <div class="FormRowData" style= "margin-left:0px">
  		    <%= file_field :blog_post, :picture %>
 		 </div>
	 </div>
	<div class="FormRow">
        <div class="FormRowData" style= "margin-left:205px">
		<%= submit_tag "Save Cover Picture", :class => "fsn-button ui-button ui-state-default ui-corner-all", :onclick => "this.form.submit();"%>
		</div>
	</div>
  <% end -%>
	<% unless @blog_post.picture_file_name.nil? %>
	<div class="FormRow">
        <div class="FormRowData" style= "margin-left:25px">
  	<table id="post_pic" style="width:200px;margin-left:170px">
		<tbody>
			<% pic_label = " Show Cover Picture" -%>
			<tr>
				<td class="resource_levels_close">
				<%= link_to '', :controller => "site/blog_posts", :action => :show_blog_post_picture, :organization_id => @current_organization, :blog_id => @blog, :blog_post_id => @blog_post.public_id, :user_id => @current_user  %>
				<%= pic_label %>
					<br/>  	<br/>
				<span></span>
				
				</td>
			</tr>
		</tbody>
	</table>
  	</div>
  	</div>
  	<br/>
  	<% end -%>
  


			<%= form_for :blog_post , @blog_post , :url=>{:controller => "site/blog_posts" , :action => "update" , :blog_id => @blog.public_id , :blog_post_id => @blog_post.public_id } do |@f| %>
			  <%= render :partial => "site/blog_posts/form" %>
			<% end %>
		</div>	
	</div>	
	<div class="mempro_box blogs_side_nav">
		<%= link_to "Blog Posts" , {:controller => "site/blogs" , :action => "show" , :blog_id => @blog.public_id}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "padding:0 4px" %>	
	</div>	
	<br style="clear:both" />	
</div>	

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#post_pic .resource_levels_close').toggleResourceLevels();
	jQ('#post_pic .resource_levels_open').toggleResourceLevels();	
});
</script>