
<div id="student_assign" style = "font-size:14px; color: #000000;">
	<div  id="<%=@letter_group%>">

	<% user_group = @current_organization.friends_of_org.select{|u| u.last_name[0].chr.upcase == @letter_group.upcase} rescue [] -%>

	<table  style="width:600px; margin-left:90px; border:0px">

				<style  type="text/css" media="screen">
				table,tr,td { border:0px solid white; }
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			
			<thead>
				<tr style="border:0px" >
					<th style="border:0px; width:50px; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Add</center></strong>
					</th>
					<th style="border:0px; width:550px;vertical-align:middle;  text-align:left; padding-left:10px; padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong>Student</strong></th>
				</tr>
			</thead>
			<tbody >
			<% unless user_group.empty? %>	
			<% user_group.each do |stud| -%>
				<% unless stud.nil? -%>
				<% unless stud.superuser? -%>				
					<tr>
						
						<% if @period.classroom.users.include?(stud)%>
						<td  style="width:50px; width:fixed; border:0px solid #ddd; padding-top:0px; padding-left:8px; vertical-align:middle; color: #C83A14; text-align:center; font-size:9px">
							 - - -
						</td>
						<% else -%>						
						<td  id = "add_student_<%= stud.id %>" style="width:50px; width:fixed; border:0px solid #ddd; padding-top:0px; padding-left:18px; vertical-align:middle; color: #C83A14; text-align:center; font-size:9px">
							<%= (image_tag "add.png") -%>
						</td>
						<% end -%>
						<td align="left" style="width:550px; color: #2061a5; vertical-align:middle;">
						<% name_link = stud.last_name_first -%>
						<strong><%= link_to name_link,{:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => stud}, {:target => "_blank"} %></strong>,&nbsp;
						&nbsp;&nbsp;
						<span style="color: #000000; vertical-align:middle;">
						<% if stud.home_organization.nil? %> ** Home Organization Removed **
							<%else %> <%= stud.home_organization.short_name %>
						<% end -%>
						</span>
						</td>						
					</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_student_<%= stud.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/classroom', :action => :add_student, :organization_id => @current_organization, :period_id => @period, :student_id => stud.id, :letter => @letter_group %>";
			jQ.get(url, {}, function(data) {
				jQ("#<%=@letter_group%>").html(data);
				jQ("#<%=@letter_group%>").show();
			});
	})
});
</script>
				<% end -%>
				<% end -%>
			<% end -%>
			<% else -%>
				<span style="font-size:10.5px; color: #C83A14;">
					No Unassigned Students In group
				</span>
			<% end -%>
		</tbody>
	</table>

</div>
</div>

