
<div class="offering_teachers">
  <% if !@classroom.active_for?(@current_user) || classroom.student_period(@current_user).nil? -%>
    <% classroom.teachers.sort_by{|t| t.last_name}.each do |cl|-%>
      <% unless cl.nil? -%>
        <div class="row">
          <div class="col-md-2 pics">
            <% unless cl.picture.url.split("/").last == "missing.png" -%>
                <%= image_tag cl.picture.url(:small_thumb) %>
            <% end %>
          </div>
          <div class="col-md-8 names">
            <strong><%= cl.full_name %></strong>
            <% if classroom.classroom_periods.size > 1 -%>
              <% classroom.teacher_periods(cl).each do |per| -%>
              <br/><%= per.name %>
              <% end %>
            <% end -%>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else -%>
    <% classroom.teachers_for_student(@current_user).sort_by{|t| t.last_name}.each do |cl|%>
      <% unless cl.nil? -%>
        <div class="row">
          <div class="col-md-2 pics">
            <% unless cl.picture.url.split("/").last == "missing.png" -%>
                <%= image_tag cl.picture.url(:small_thumb) %>
            <% end %>
          </div>
          <div class="col-md-8 names">
            <strong><%= cl.full_name %></strong>
            <% if classroom.classroom_periods.size > 1 -%>
              <br/><%= classroom.period_for_student(@current_user).name %>
            <% end -%>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

