
<div id="classroom_edit">
  <div class= 'row panel_title_blue'>
    <%= @current_organization.medium_name %> <%= app.name.titleize %> Maintainence
  </div>
  <% header_string = classroom.subject_area.parent.nil? ? classroom.subject_area.name.upcase :  classroom.subject_area.parent.name.upcase + ": " + classroom.subject_area.name -%>
  <div class= 'row panel_subtitle_blue'>
    <%= header_string %>:&nbsp;<%=classroom.course_name %>
    <br/><span class="teacher_list"><%= classroom.teachers.empty? ? "No Teachers Assigned " : classroom.teacher_list %></span>
  </div>
  <div class="row">
    <div class="col-md-1">
      <%= link_to "Back", offering_path(:organization_id => @current_organization,:user_id => @current_user, :teacher_id => @current_user)%>
    </div>
    <div class="col-md-10 ">
      <% if admin %>
        <%= render :partial => "apps/classroom/edit_classroom_admin", :locals => {:classroom => classroom, :parent=>parent}%>
      <% end %>
      <hr>
      <% if @current_user.can_edit_offering?(classroom)-%>
          <%= render :partial => "offering_options", :locals=>{:offering => classroom} %>
      <% end -%>
      <hr>
      <% if admin -%>
        <table id="classroom_pers">
          <tbody>
          <tr>
            <td class="resource_levels_close">
              <div class="offering_item">
                <%= link_to '', offering_admin_periods_path(:organization_id => @current_organization, :classroom_id => classroom) %>
                Periods <i>(<%=classroom.classroom_periods.size %>)</i>
                <span></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#classroom_pers .resource_levels_close').toggleResourceLevels();
            jQ('#classroom_pers .resource_levels_open').toggleResourceLevels();
          });
        </script>
      <% end -%>
      <% if @current_user.can_edit_offering?(classroom)-%>
        <table id="classroom_lus">
          <tbody>
          <tr>
            <td class="resource_levels_close">
              <div class="offering_item">
                <%= link_to '', offering_admin_lus_path(:organization_id => @current_organization, :classroom_id => classroom) %>
                Learning Units <i>(<%=classroom.learning_units.size %>)</i>
                <span></span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#classroom_lus .resource_levels_close').toggleResourceLevels();
            jQ('#classroom_lus .resource_levels_open').toggleResourceLevels();
          });
        </script>
        <table id="classroom_resources">
          <tbody>
            <tr>
              <td class="resource_levels_close">
                <div class="offering_item">
                  <%= link_to '', offering_admin_resources_path(:organization_id => @current_organization, :classroom_id => classroom, :topic_id => nil) %>
                  General Resources <i>(<%=classroom.contents.active.size %>)</i>
                  <span></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#classroom_resources .resource_levels_close').toggleResourceLevels();
            jQ('#classroom_resources .resource_levels_open').toggleResourceLevels();
          });
        </script>
          <table id="classroom_links">
            <tbody>
            <tr>
              <td class="resource_levels_close">
                <div class="offering_item">
                  <%= link_to '', offering_admin_referrals_path(:organization_id => @current_organization, :classroom_id => classroom) %>
                  Related Offerings <i>(<%=classroom.classroom_referrals.size %>)</i>
                  <span></span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ('#classroom_links .resource_levels_close').toggleResourceLevels();
              jQ('#classroom_links .resource_levels_open').toggleResourceLevels();
            });
          </script>
          <table id="classroom_students">
            <tbody>
            <tr>
              <td class="resource_levels_close">
                <div class="offering_item">
                  <%= link_to '', offering_admin_students_path(:organization_id => @current_organization, :classroom_id => classroom) %>
                  Students <i>(<%=classroom.students.size %>)</i>
                  <span></span>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ('#classroom_students .resource_levels_close').toggleResourceLevels();
              jQ('#classroom_students .resource_levels_open').toggleResourceLevels();
            });
          </script>
          <% if @current_organization.ifa_enabled? -%>
            <table id="classroom_ifa" class="tablesorter">
              <tbody>
              <% col_label = "IFA Assessment Pool" -%>
              <tr>
                <td class="ifa_levels_close">
                  <div class="offering_item">
                    <%= link_to '', offering_admin_assessments_path(:organization_id => @current_organization, :classroom_id => classroom, :id => @current_user) %>
                    <%= col_label %>
                    <span></span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <script type="text/javascript" charset="utf-8">
              jQ(document).ready(function() {
                jQ('#classroom_ifa .ifa_levels_close').toggleIfaLevels();
                jQ('#classroom .ifa_levels_open').toggleIfaLevels();
              });
            </script>
          <% end -%>
          <table id="classroom_surveys">
            <tbody>
              <tr>
                <td class="resource_levels_close">
                  <div class="offering_item">
                    <%= link_to '', offering_admin_surveys_path(:organization_id => @current_organization, :classroom_id => classroom) %>
                    Student Surveys
                    <span></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ('#classroom_surveys .resource_levels_close').toggleResourceLevels();
              jQ('#classroom_surveys .resource_levels_open').toggleResourceLevels();
            });
          </script>
      <% end %>
    </div>
    <div class="col-md-1">
      <%= classroom.organization ?  (link_to "View", offering_view_path(:organization_id => classroom.organization, :id => classroom), {:target=> 'blank'}) : ""%>
    </div>
  </div>
</div>


