

<div id="classroom_edit" style = "font-size:12px; color: #000000;padding-left:0px;">
	<div style ="color: #2061a5; font-size:14px; padding-top:15px; font-weight:normal"> 
		<strong><center> <%= @current_organization.medium_name %> <%= app.name.titleize %> Maintainence</center></strong>
		<% header_string = classroom.subject_area.parent.nil? ? classroom.subject_area.name.upcase :  classroom.subject_area.parent.name.upcase + ": " + classroom.subject_area.name -%>
		<center><%= header_string %>:&nbsp;<%=classroom.course_name %><%= classroom.active? ? "" : "<span style='font-size:10px;color: #C83A14;'>  (Not Active)</span>" %>	</center>	
		<center><span style='font-size:12px;color: #C83A14;'><%= classroom.teachers.empty? ? "No Teachers Assigned " : classroom.teacher_list %></span></center>	
	</div>
	<div id="back_button" style = "font-size:9px; color: #000000;padding-left:0px;">
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
			<%= link_to "Manage Offerings", {:controller => '/apps/classroom', :action => :index, :organization_id => @current_organization,:user_id => @current_user, :teacher_id => @current_user}%>
		</span>
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer;float:right">
			<%= classroom.organization ?  (link_to "View Offering", {:controller => "/site/site", :action => :static_classroom, :organization_id => classroom.organization, :id => classroom}, {:target=> 'blank'}) : ""%>
		</span>
	</div>
	<div id="classroom_edit_box">
		<% if admin -%>
			<table style="width:750px; margin-left:0px; border:0px solid #ddd;">
				<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
	   			</style>
				<tbody>  
					<tr >
						<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:middle;  padding-left:0px; padding-right:1px; padding-top:0px; text-align:right; font-size:12px; ">
							Status:
						</td>
						<td   id = "toggle_status" style="width:80px; width:fixed; border:0px solid #ddd; vertical-align:middle;  padding-left:12px; padding-right:2px; padding-top:2px; font-size:11px; ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								<%= classroom.active? ? "De-Activate" : "Activate" %>
							</span>
						</td>
						<td   colspan=2 style="border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
							<%= classroom.active? ? "Active" : "Not Active" %>
						 	<span style="font-size:10px; font-weight:normal;text-align:center;color:#000000;">
								&nbsp;(<%= pluralize( classroom.views, " View")%>&nbsp;Since&nbsp;<%= classroom.first_view_date.strftime("%b %e, %Y")%>)
							</span>
						</td>
					</tr>
					<% unless classroom.active?-%>
						<tr >
							<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:3.5em; vertical-align:middle;  padding-left:0px; padding-right:1px; padding-top:0px; text-align:right; font-size:12px; ">
								&nbsp;
							</td>
							<td   style="width:80px; width:fixed; border:0px solid #ddd; vertical-align:top;  padding-left:12px; padding-right:2px; padding-top:2px; font-size:11px; ">
								<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
									<%= link_to "Destroy", {:controller => '/apps/classroom', :action => :destroy_classroom, :organization_id => @current_organization, :classroom_id => classroom, :app_id=>app}, :confirm => "Are you sure?" %>
								</span>
							</td>
							<td   colspan=2 style="border:0px solid #ddd; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
								<u>Permanently</u> Removes Offering, and all related data.	
							</td>
						</tr>
					<% end -%>
					<tr>
						<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:3.5em; vertical-align:middle;  padding-left:0px; padding-right:1px; padding-top:0px; text-align:right; font-size:12px; ">
							Name:
						</td>
						<td   id = "edit_classroom_name" style="width:80px; width:fixed; border:0px solid #ddd; vertical-align:middle;  padding-left:28px; padding-right:2px; padding-top:2px; font-size:11px; ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								Change
							</span>
						</td>
						<td   colspan=2 style="border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
						     <%= text_field :classroom, :course_name, :value => classroom.course_name, :size => 65, :maxlength => 250 %>			
						</td>
					</tr>
					<tr>
						<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:3.5em; vertical-align:middle;  padding-left:0px; padding-right:1px; padding-top:0px; text-align:right; font-size:12px; ">
							Subject Area:
						</td>
						<td   id = "edit_classroom_subject" style="width:80px; width:fixed; border:0px solid #ddd; vertical-align:middle;  padding-left:28px; padding-right:2px; padding-top:2px; font-size:11px; ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								Change
							</span>
						</td>
						<td   id = "select_subject" style="width:220px; width:fixed; border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
							<%=  select(:parent, :parent_subject,  SubjectArea.all_parents.sort_by{|a| [a.name]}.collect{|s| [s.name, s.id]},{:include_blank =>parent.name}) %>
						</td>
						<td   style="border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
							<% prompt_label = (!(parent == classroom.parent_subject) || ((parent == classroom.parent_subject) && classroom.subject_area.parent?)) ? parent.name + " Detail (Optional)" : classroom.subject_area.name   %>
							<%=  select(:child, :child_subject, parent.all_children.sort_by{|a| [a.name]}.collect{|s| [s.name, s.id]},{:include_blank => prompt_label}) %>
						</td>
					</tr>
				</tbody>
			</table>
		<% end -%>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#toggle_status').click(function() {
		var url = "<%= url_for :controller => '/apps/classroom', :action => :toggle_active, :organization_id => @current_organization, :classroom_id => classroom, :app_id => app.id  %>";
			jQ.get(url, { }, function(data) {
			jQ("#classroom_edit").html(data); 
	   		jQ("#classroom_edit").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#edit_classroom_name').click(function() {
		var classroom = jQ('#classroom_course_name').val();
		var url = "<%= url_for :controller => '/apps/classroom', :action => :change_classroom_name, :organization_id => @current_organization, :classroom_id => classroom, :app_id => app.id %>";
			jQ.get(url, {'classroom_name':classroom}, function(data) {
			jQ("#classroom_edit").html(data); 
	   		jQ("#classroom_edit").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#edit_classroom_subject').click(function() {
		var child_id = jQ('#child_child_subject').val();
		var url = "<%= url_for :controller => '/apps/classroom', :action => :change_classroom_subject, :organization_id => @current_organization, :classroom_id => classroom, :parent_subject_id=>parent.id, :app_id => app.id %>";
			jQ.get(url, { 'child_subject_id': child_id}, function(data) {
			jQ("#classroom_edit").html(data); 
	   		jQ("#classroom_edit").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#select_subject').change(function() {
		var parent_id = jQ('#parent_parent_subject').val();
		var url = "<%= url_for :controller => '/apps/classroom', :action => :change_parent_subject, :organization_id => @current_organization, :classroom_id => classroom, :app_id => app.id %>";
			jQ.get(url, {'parent_subject_id': parent_id}, function(data) {
			jQ("#classroom_edit").html(data); 
	   		jQ("#classroom_edit").show();
			});
	})
});
</script>

		<% if @current_user.can_edit_offering?(classroom)-%>
		    <%= render :partial => "offering_options", :locals=>{:offering => classroom} %>
		<% end -%>
		
		<% if admin -%>
		<table id="classroom_pers"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">	
							<%= link_to '', :controller => "apps/classroom", :action => "offering_periods", :organization_id => @current_organization, :classroom_id => classroom %>
							Periods <i>(<%=classroom.classroom_periods.size %>)</i>
							<span></span>
						</td>
					</tr>
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_pers .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_pers .resource_levels_open').toggleResourceLevels();	
	});
	</script>

	<% else -%>
<!--
		<%#= render(:partial => "list_periods", :locals => {:admin => admin, :classroom=>classroom, :app=>app}) %>
-->
	<% end -%>

	<% if @current_user.can_edit_offering?(classroom)-%>
	
		<table id="classroom_lus"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
						
						<%= link_to '', :controller => "apps/classroom", :action => "offering_lus", :organization_id => @current_organization, :classroom_id => classroom %>
						Learning Units <i>(<%=classroom.learning_units.size %>)</i>
						<span></span>
						</td>
					</tr>
	
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_lus .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_lus .resource_levels_open').toggleResourceLevels();	
	});
	</script>

		<table id="classroom_resources"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
						
						<%= link_to '', :controller => "apps/classroom", :action => "offering_resources", :organization_id => @current_organization, :classroom_id => classroom, :topic_id => nil %>
						General Resources <i>(<%=classroom.contents.active.size %>)</i>
						<span></span>
						</td>
					</tr>
	
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_resources .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_resources .resource_levels_open').toggleResourceLevels();	
	});
	</script>

		<table id="classroom_links"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
						
						<%= link_to '', :controller => "apps/classroom", :action => "offering_referrals", :organization_id => @current_organization, :classroom_id => classroom %>
						Related Offerings <i>(<%=classroom.classroom_referrals.size %>)</i>
						<span></span>
						</td>
					</tr>
	
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_links .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_links .resource_levels_open').toggleResourceLevels();	
	});
	</script>

		<table id="classroom_students"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
						
						<%= link_to '', :controller => "apps/classroom", :action => "offering_students", :organization_id => @current_organization, :classroom_id => classroom %>
						Students <i>(<%=classroom.students.size %>)</i>
						<span></span>
						</td>
					</tr>
	
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_students .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_students .resource_levels_open').toggleResourceLevels();	
	});
	</script>
	
	<% if @current_organization.ifa_enabled? -%>
		<table id="classroom_ifa" class="tablesorter" style="width:99%;">
			<tbody>
				<% col_label = "IFA Assessment Pool" -%>
				<tr>
				<td class="ifa_levels_close" style=" color: #2061a5;">
					<%= link_to '', :controller => "apps/assessment", :action => :assign_classroom_assessment, :organization_id => @current_organization, :classroom_id => classroom, :id => @current_user %>
					<%= col_label %>
					<span></span>
				</td>
				</tr>
			</tbody>
		</table>
	<% end -%>	

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#classroom_ifa .ifa_levels_close').toggleIfaLevels();
	jQ('#classroom .ifa_levels_open').toggleIfaLevels();
});
</script>


		<table id="classroom_surveys"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
			<tbody> 
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
						
						<%= link_to '', :controller => "apps/classroom", :action => "offering_surveys", :organization_id => @current_organization, :classroom_id => classroom %>
						Student Surveys
						<span></span>
						</td>
					</tr>
	
			</tbody>
		</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#classroom_surveys .resource_levels_close').toggleResourceLevels();
		jQ('#classroom_surveys .resource_levels_open').toggleResourceLevels();	
	});
	</script>

	<% end -%>	
<br/></br/>
	</div>
</div>


