
<div id="lu_edit">
  <div class= 'row panel_title_blue'>
		<%= @current_organization.medium_name %> Learning Unit Maintainence
  </div>
  <div class= 'row panel_subtitle_blue'>
		<%=lu.classroom.course_name.upcase %><%= lu.classroom.active? ? '' : "<span style='font-size:10px;color: #C83A14;'>  (Not Active)</span>" %>:&nbsp;<%=lu.title %>
	</div>
  <div class= 'row panel_subsubtitle_blue'>
		<%= lu.estimated_start_date.strftime("%b %d, %Y")%> - <%= lu.estimated_end_date.strftime("%b %d, %Y")%>
	</div>
  <div class="row">
    <div class="col-md-1">
      <%= link_to "Back", offering_admin_setup_path(:organization_id => @current_organization,  :classroom_id => lu.classroom) %>
    </div>
    <div class="col-md-10 ">
      <%= render :partial => "/shared/error_and_notice" %>
      <% if @current_user.can_edit_offering?(lu.classroom)-%>
        <%= render :partial => "apps/classroom/edit_classroom_lu_admin", :locals => {:lu => lu}%>
        <hr>
        <%= render :partial => "lu_options", :locals=>{:lu => lu} %>
        <hr>
        <table id="lu_folder_list">
          <tbody>
            <tr>
              <td class="resource_levels_close">
                <%= link_to '', offering_admin_folder_setup_path(:organization_id => @current_organization, :topic_id => lu) %>
                Setup Folders: <small> <%= pluralize(lu.resource_folders.size, "Folder") %></small>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#lu_folder_list .resource_levels_close').toggleResourceLevels();
            jQ('#lu_folder_list .resource_levels_open').toggleResourceLevels();
          });
        </script>

        <table id="lu_resource_list">
          <tbody>
            <tr>
              <td class="resource_levels_close">
                <%= link_to '', offering_admin_resources_path(:organization_id => @current_organization, :classroom_id => lu.classroom, :topic_id => lu) %>
                Assign Resources: <small> <%= pluralize(lu.contents.active.size, "Resource") %></small>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#lu_resource_list .resource_levels_close').toggleResourceLevels();
            jQ('#lu_resource_list .resource_levels_open').toggleResourceLevels();
          });
        </script>

        <table id="lu_strands">
          <tbody>
          <tr>
            <td class="resource_levels_close">
              <%= link_to '', offering_admin_strands_path(:organization_id => @current_organization, :classroom_id => lu.classroom, :topic_id => lu) %>
              Assign Knowledge Strands
              <span></span>
            </td>
          </tr>
          </tbody>
        </table>
        <script type="text/javascript" charset="utf-8">
          jQ(document).ready(function() {
            jQ('#lu_strands .resource_levels_close').toggleResourceLevels();
            jQ('#lu_strands .resource_levels_open').toggleResourceLevels();
          });
        </script>

      <% end %>
    </div>
    <div class="col-md-1">
      <%= lu.classroom.organization ?  (link_to "View", offering_view_path(:organization_id => lu.classroom.organization, :id => lu.classroom, :topic_id => lu), {:target=> 'blank'}) : ""%>
    </div>
  </div>
</div>
