
<div id="lu_edit" style = "font-size:12px; color: #000000;padding-left:0px;">
	<div style ="color: #2061a5; font-size:14px; padding-top:15px; font-weight:normal"> 
		<strong><center> <%= @current_organization.medium_name %> Learning Unit Maintainence</center></strong>
		<center><%=lu.classroom.course_name.upcase %><%= lu.classroom.active? ? "" : "<span style='font-size:10px;color: #C83A14;'>  (Not Active)</span>" %>:&nbsp;<%=lu.title %></center>
	</div>
	<div style ="color: #000000; font-size:11px; padding-top:0px; font-weight:normal">			
		<center><%= lu.estimated_start_date.strftime("%b %d, %Y")%> - <%= lu.estimated_end_date.strftime("%b %d, %Y")%>	</center>
	</div>
	<div id="back_button" style = "font-size:9px; color: #000000;padding-left:0px;">
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
			<%= link_to "Edit Offering", {:controller => "apps/classroom", :action => :setup_classroom, :organization_id => @current_organization,  :classroom_id => lu.classroom}%>
		</span>
		<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer;float:right">
			<%= lu.classroom.organization ?  (link_to "View Learning Unit", {:controller => "/site/site", :action => :static_classroom, :organization_id => lu.classroom.organization, :id => lu.classroom, :topic_id=>lu}, {:target=> 'blank'}) : ""%>
		</span>
	</div>
	<%= render :partial => "/shared/error_and_notice" %>
	<div id="lu_edit_box">

		<% if @current_user.can_edit_offering?(lu.classroom)-%>
			<div class="Form clear"></div>
				<% form_for(:topic, lu, :url => {:controller => "apps/classroom", :action => :setup_classroom_lu, :organization_id => @current_organization, :topic_id => lu, :function => "Update"}) do |form| %>
					<div class="FormRow submit_warp" style= "padding-left:90px" >
						<%= submit_tag "Update Info", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
					</div>	
					<table style="width:900px; margin-left:0px; border:0px solid #ddd;">
						<style type="text/css" media="screen">
				    		table,tr,td { border:none }
							table tr:hover{
			        		background-color: transparent;
			      			}
			   			</style>
						<tbody> 
							<tr>
								<td   style="width:380px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:top;  padding-left:0px; padding-right:3px; padding-top:5px; text-align:right; font-size:12px; ">
									Title:
								</td>
								<td   colspan=2 style="border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-bottom:10px; text-align:left; color: #C83A14; font-size:13px; font-weight:normal">
								     <%= text_field :topic, :title, :value => lu.title, :size => 65, :maxlength => 250 %>			
								</td>
								<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:middle;  padding-left:0px; padding-right:3px; padding-top:5px; text-align:right; font-size:12px; ">
									&nbsp;
								</td>
							</tr>
							<tr style="padding-bottom:10px;">
								<td   style="width:380px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:top;  padding-bottom:10px; padding-right:3px; padding-top:5px; text-align:right; font-size:12px; ">
									Est. Begining & End:
								</td>
								<td style=" width:220px; border:0px solid #ddd;  padding-bottom:10px; vertical-align:middle; text-align:center; font-size:12px">
				    				<%= date_select(:topic, :estimated_start_date,  :use_short_month=>true, :default=>lu.estimated_start_date, :order=>[:month, :day, :year], :start_year => Time.now.year-1, :end_year => Time.now.year+1) %></td>
								</td>
								<td style=" width:300px; border:0px solid #ddd; padding-bottom:10px; vertical-align:middle; text-align:left; font-size:12px">
				    				<%= date_select(:topic, :estimated_end_date,  :use_short_month=>true, :default=>lu.estimated_end_date, :order=>[:month, :day, :year], :start_year => Time.now.year-1, :end_year => Time.now.year+1) %></td>
								</td>
								<td   style="width:100px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:middle;  padding-left:0px; padding-right:3px; padding-top:0px; text-align:right; font-size:12px; ">
									&nbsp;
								</td>
							</tr>
					      	<tr>
								<td   style="width:380px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:top;  padding-left:0px; padding-right:3px; padding-top:8px; text-align:right; font-size:12px; ">
									Overview & Objectives:
								</td>
				        		<td colspan=3 style = "line-height:1.5em; text-align:left;vertical-align:middle; padding-top:8px; padding-bottom:0px; font-size:12px;">
									<%=  text_area :topic, :instructional_remarks, :class =>"mceEditor", :rows => 4, :cols => 55, :maxlength => 4000 %>
								</td> 
				       		</tr>
					      	<tr>
								<td   style="width:380px; width:fixed; border:0px solid #ddd; line-height:1.5em; vertical-align:top;  padding-left:0px; padding-right:3px; padding-top:8px; text-align:right; font-size:12px; ">
									Assignment:
								</td>
				        		<td colspan=3 style = "text-align:left;vertical-align:middle; padding-top:8px; padding-bottom:0px; font-size:12px;">
									<%= text_area :topic, :assignments, :value=>lu.assignments, :class=>"text", :rows => 3, :cols => 65, :maxlength => 4000 %>
								</td> 
				       		</tr>
						</tbody>
					</table>
				<% end -%>
			</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#edit_lu_name').click(function() {
		var title = jQ('#topic_title').val();
		var url = "<%= url_for :controller => '/apps/classroom', :action => :change_lu_title, :organization_id => @current_organization, :topic_id => lu %>";
			jQ.get(url, {'title':title}, function(data) {
			jQ("#lu_edit").html(data); 
	   		jQ("#lu_edit").show();
			});
	})
});
</script>

			<div id="lu_options">
				<span class="fsn-button ui-button ui-state-default ui-corner-all" style="float:right; width:80px; width:fixed; cursor:pointer">
					<%= link_to "Destroy Unit", {:controller => '/apps/classroom', :action => :destroy_lu, :organization_id => @current_organization, :topic_id => lu}, :confirm => "Are you sure?" %>
				</span>
				<%= render :partial => "lu_options", :locals=>{:lu => lu} %>
			</div>

			<div id="lu_resources">
				<table id="lu_folder_list"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
					<tbody> 
						<tr>
							<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
								<%= link_to '', :controller => "apps/classroom", :action => "offering_folder_setup", :organization_id => @current_organization, :topic_id => lu %>
								Setup Folders: <small> <%= pluralize(lu.positioned_folders.size, "Folder") %></small>
								<span></span>
							</td>
						</tr>				
					</tbody>
				</table>
				
				<script type="text/javascript" charset="utf-8">
				jQ(document).ready(function() {
					jQ('#lu_folder_list .resource_levels_close').toggleResourceLevels();
					jQ('#lu_folder_list .resource_levels_open').toggleResourceLevels();	
				});
				</script>

				<table id="lu_resource_list"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
					<tbody> 
						<tr>
							<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">
								<%= link_to '', :controller => "apps/classroom", :action => "offering_resources", :organization_id => @current_organization, :classroom_id => lu.classroom, :topic_id => lu %>
								Assign Resources: <small> <%= pluralize(lu.contents.active.size, "Resource") %></small>
								<span></span>
							</td>
						</tr>				
					</tbody>
				</table>
				
				<script type="text/javascript" charset="utf-8">
				jQ(document).ready(function() {
					jQ('#lu_resource_list .resource_levels_close').toggleResourceLevels();
					jQ('#lu_resource_list .resource_levels_open').toggleResourceLevels();	
				});
				</script>
			</div>	
		<% end -%>
	<br/>
	</div>
