
	<table id="folder_levels">
		<tbody> 
		 	<% Folder.by_position(topic.positioned_folders).each do |folder| %>
				<% unless folder.no_lu_contents?(topic)%>
					<tr>
            <% if folder.show?(topic)%>
						<td class="resource_levels_close">
              <%= link_to '', offering_lu_resources_show_path(:organization_id => @current_organization, :topic_id => topic, :folder_id => folder.id) %>
              <%= folder.name%>&nbsp;<i>(<%= folder.resources_for_lu(topic).size%>)</i>
						<span></span>
						</td>
            <% else %>
              <td class="hidden_resource_folder">
                <%= folder.name%>&nbsp;<i>(<%= folder.resources_for_lu(topic).size%>)</i>
              </td>
            <% end %>
					</tr>
				<% end -%>
			<% end -%>
      <% unless topic.unfoldered_resources.empty? %>
        <tr>
          <td >
           <div class='lu_panel_box_label'>Un-Foldered Resources</div>
            <%= render :partial => 'apps/classroom/show_lu_resources', :locals => {:lu => topic, :folder => nil}%>
          </td>
        </tr>
      <% end %>
		</tbody>
	</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#folder_levels .resource_levels_close').toggleResourceLevels();
	jQ('#folder_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
