

<div id="classroom_list" >
	<% if admin -%>
	<table id="classroom_folders"  style="margin-top:0px; width:705px; width:fixed; border:0px solid #ddd;">
		<tbody> 
		 	<% @current_organization.populated_offering_folders_app(CoopApp.offering).each do |folder| %>
				<tr>
					<td class="resource_levels_close" style=" color: #000000;font-weight:normal;  padding-bottom:4px; font-size:12px">
					
					<%= link_to '', :controller => "apps/classroom", :action => "subject_offerings", :organization_id => @current_organization, :folder_id=> folder.id %>
					<%= folder.name %>&nbsp;<i>(<%=@current_organization.offerings_in_folder(folder).size%>)</i>
					<span></span>
					</td>
				</tr>
			<% end -%>
		</tbody>
	</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#classroom_folders .resource_levels_close').toggleResourceLevels();
	jQ('#classroom_folders .resource_levels_open').toggleResourceLevels();	
});
</script>
	<table id="classroom_levels"  style="margin-top:0px; width:705px; width:fixed; border:0px solid #ddd;">
		<tbody> 
		 	<% @current_organization.unfoldered_parent_subjects.each do |subject_parent| %>
				<tr>
					<td class="resource_levels_close" style=" color: #000000;font-weight:normal;  padding-bottom:4px; font-size:12px">
					
					<%= link_to '', :controller => "apps/classroom", :action => "subject_offerings", :organization_id => @current_organization, :subject_area_id => subject_parent.id %>
					<%= pluralize(@current_organization.unfoldered_offerings_for_parent_subject(subject_parent).size, " " + subject_parent.name.upcase + " Offering")%>
					<span></span>
					</td>
				</tr>
			<% end -%>
		</tbody>
	</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#classroom_levels .resource_levels_close').toggleResourceLevels();
	jQ('#classroom_levels .resource_levels_open').toggleResourceLevels();	
});
</script>

	<% else -%>	  	
		<%= render :partial => "subject_offerings_list", :locals => {:admin => admin, :folder=> nil, :subject_parent => nil} %>
	<% end -%>
	<br/>
</div>