

<div id="student_list">

	<% unless period.students.empty? -%>
	<table style="width:600px; margin-left:90px; border:0px">

				<style  type="text/css" media="screen">
				table,tr,td { border:0px solid white; }
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			
			<thead>
				<tr style="border:0px" >
					<th style="border:0px; width:50px; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Remove</center></strong>
					</th>
					<th style="border:0px; width:550px;vertical-align:middle;  text-align:left; padding-left:10px; padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><%= pluralize(period.students.size, " Student") %></strong></th>
				</tr>
			</thead>
			<tbody >	
					<% period.students.sort_by{|s| s.last_name}.each do |stud| -%>
					<tr>
						<td  id = "remove_student_<%= stud.id %>" style="width:50px; width:fixed; border:0px solid #ddd; padding-top:0px; padding-left:8px; vertical-align:middle; color: #C83A14; text-align:center; font-size:9px">
							<%= (image_tag "delete.png") -%>
						</td>
						<td align="left" style="width:550px; color: #2061a5; vertical-align:middle;">
							<% name_link = stud.last_name_first -%>
							<strong><%= link_to name_link, user_view_path(:organization_id => @current_organization, :id => stud), {:target => "_blank"} %></strong>,&nbsp;
							&nbsp;&nbsp;
							<span style="color: #000000; vertical-align:middle;">
							<% if stud.home_organization.nil? %> ** Home Organization Removed **
								<%else %> <%= stud.home_organization.short_name %>
							<% end -%>
							</span>
						</td>				
					</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#remove_student_<%= stud.id %>').click(function() {
		var url = "<%= url_for :controller => '/apps/classroom', :action => :remove_student, :organization_id => @current_organization, :period_id => period, :student_id => stud.id, :teacher_id => @teacher.id %>";
			jQ.get(url, {}, function(data) {
				jQ("#student_list").html(data);
				jQ("#student_list").show();
			});
	})
});
</script>


					<% end -%>
				</tbody
		</table>

	<% else -%>
	<span style="font-size:10.5px; color: #C83A14;">
		No Students Assigned
	</span>
	<% end -%>

</div>

