<div id="lu_options_<%=lu.public_id%>" >
  <table class="options_table">
		<tbody>
			<tr style=" border:0px;">
				<% featured_button = lu.featured? ? "button_enabled.png" : "button_disabled.png" -%>
        <td class="option_label">
						Unit&nbsp;<%= lu.featured? ? "Currently Featured" : "Not Currently Featured" %>
				</td>
        <td class="toggle_button" id="toggle_feature">
          <%= (image_tag featured_button,:width => 12) -%>
        </td>
				<% open_button = lu.open? ? "button_enabled.png" : "button_disabled.png" -%>
        <td class="option_label">
          Discussion Forum&nbsp;<%= lu.open? ? "Open" : "Closed" %>
        </td>
        <td class="toggle_button" id="toggle_discussion">
						<%= (image_tag open_button,:width => 12) -%>
				</td>
				<% notify_button = lu.notify? ? "button_enabled.png" : "button_disabled.png" -%>
        <td class="option_label">
          Discussion Notifications&nbsp;<%= lu.notify? ? "On" : "Off" %>
				</td>
        <td class="toggle_button" id="toggle_notify">
          <%= (image_tag notify_button,:width => 12) -%>
        </td>
			</tr>
		</tbody>					
	</table>
  <table class="options_table">
		<tbody>
			<tr style=" border:0px solid #ddd;">
        <td class="discussion_clear" >
					<span class="button_red" id="clear_discussion" >
						Clear
					</span>
          &nbsp;<%= pluralize(lu.discussions.active.size.to_s, "Discussion Comment") %>
				</td>
			</tr>
		</tbody>					
	</table>
</div>

<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#toggle_feature').click(function() {
      var url = "<%= offering_admin_lu_options_url(:organization_id => @current_organization, :topic_id => lu, :option=>'feature') %>";
        jQ.get(url, { }, function(data) {
        jQ("#lu_options_<%=lu.public_id%>").html(data);
          jQ("#lu_options_<%=lu.public_id%>").show();
        });
    })
  });
</script>

<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#toggle_discussion').click(function() {
      var url = "<%= offering_admin_lu_options_url(:organization_id => @current_organization, :topic_id => lu, :option=>'discussion') %>";
        jQ.get(url, { }, function(data) {
        jQ("#lu_options_<%=lu.public_id%>").html(data);
          jQ("#lu_options_<%=lu.public_id%>").show();
        });
    })
  });
</script>

<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#toggle_notify').click(function() {
      var url = "<%= offering_admin_lu_options_url(:organization_id => @current_organization, :topic_id => lu, :option=>'notify') %>";
        jQ.get(url, { }, function(data) {
        jQ("#lu_options_<%=lu.public_id%>").html(data);
          jQ("#lu_options_<%=lu.public_id%>").show();
        });
    })
  });
</script>

<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#clear_discussion').click(function() {
      var url = "<%= offering_admin_lu_options_url(:organization_id => @current_organization, :topic_id => lu, :option=>'d_clear') %>";
      jQ.get(url, { }, function(data) {
        jQ("#lu_options_<%=lu.public_id%>").html(data);
        jQ("#lu_options_<%=lu.public_id%>").show();
      });
    })
  });
</script>
