
<div id="offering_folder_setup_<%=lu.id%>" >
	<% if admin && lu-%>
		<table class="lu_admin_folder_box">
			<tbody>  
				<tr>
					<td class='folder_header' colspan = 2 >
						Add / Remove LU Folders<br/>
						<span class ="warning">
							Folders Must Be Emptied Before They Can Be Removed From LU
						</span>
					</td>
				</tr>
				<tr  >
					<td class='folder_select' id = "assign_folder_<%= lu.public_id %>">
						<%=  select(:folder_assign, lu.public_id, (@current_organization.folders - lu.positioned_folders).sort_by{|f| f.name}.collect{|f| [truncate(f.name, :omission => "...", :length => 40), f.public_id]},{:include_blank =>'Add ' + @current_organization.short_name + ' Folder'}) %>
					</td>
					<td class='folder_select' id = "remove_folder_<%= lu.public_id %>">
						<%=  select(:folder_remove, lu.public_id, lu.positioned_folders.select{|f| f.topic_contents.for_lu(lu).empty?}.sort_by{|f| f.name}.collect{|f| [truncate(f.name, :omission => "...", :length => 40), f.public_id]},{:include_blank =>'Remove Emptied Folder'}) %>
					</td>				
				</tr>
			</tbody>
		</table>				
				
		<script type="text/javascript">
		jQ(document).ready(function() {
			jQ('#assign_folder_<%= lu.public_id %>').change(function() {
				var folder_id = jQ('#folder_assign_<%= lu.public_id %>').val();
				var url = "<%= offering_admin_lu_folder_url(:organization_id => @current_organization, :topic_id => lu) %>";
					jQ.get(url, {'folder_id':folder_id}, function(data) {
					jQ("#offering_folder_setup_<%=lu.id%>").html(data);
			   		jQ("#offering_folder_setup_<%=lu.id%>").show();
					});
			})
		});
		</script>
		<script type="text/javascript">
		jQ(document).ready(function() {
			jQ('#remove_folder_<%= lu.public_id %>').change(function() {
				var folder_id = jQ('#folder_remove_<%= lu.public_id %>').val();
				var url = "<%= offering_admin_lu_folder_url(:organization_id => @current_organization, :topic_id => lu) %>";
					jQ.get(url, {'folder_id':folder_id}, function(data) {
					jQ("#offering_folder_setup_<%=lu.id%>").html(data);
			   		jQ("#offering_folder_setup_<%=lu.id%>").show();
					});
			})
		});
		</script>
    <table class="lu_admin_folder_box">
			<thead>
				<tr>
					<th colspan = 4 class='folder_header'>
            <%= pluralize(lu.positioned_folders.size, (lu.title + " Folder")) -%>
					</th>
				</tr>
			</thead>
      <% if !lu.positioned_folders.empty? %>
			<tbody>
				<% Folder.by_position(lu.positioned_folders).each do |folder| %>
					<tr class="folder_row">
						<td class="position" id = "assign_position_<%= folder.public_id %>">
							<%=  select(:folder_position, folder.public_id, [*1...lu.folder_positions.size + 1], {:include_blank =>'Position (' + lu.folder_position(folder).to_s + ')'}) %>
						</td>
            <% show_button = folder.show?(lu) ? "button_enabled.png" : "button_disabled.png" -%>
            <td class="activate" id="toggle_show_<%= folder.public_id %>">
              <%= (image_tag show_button,:width => 12) -%>
            </td>
            <td class="description">
							<%= folder.parent ? (folder.parent.name + ' / <strong>' + folder.name + '</strong>').html_safe : ('<strong>' + folder.name + '</strong>').html_safe  %>
              (<%= pluralize(lu.topic_contents.for_folder(folder).size, " Resource") %>)
						</td>
            <td class="mastery">
              <% folder.subject_mastery_levels(lu.classroom.act_subject).each do |ml| %>
                <%= ml.mastery_label %>
                <br/>
              <% end %>
            </td>
					</tr>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ('#assign_position_<%= folder.public_id %>').change(function() {
                var pos = jQ('#folder_position_<%=folder.public_id%>').val();
                var url = "<%= offering_admin_lu_folder_position_url(:organization_id => @current_organization, :topic_id => lu, :folder_id => folder) %>";
                  jQ.get(url, {'position':pos}, function(data) {
                    jQ("#offering_folder_setup_<%=lu.id%>").html(data);
                      jQ("#offering_folder_setup_<%=lu.id%>").show();
                  });
              })
            });
          </script>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ('#toggle_show_<%= folder.public_id %>').click(function() {
                var url = "<%= offering_admin_lu_folder_toggle_url(:organization_id => @current_organization, :topic_id => lu, :folder_id => folder ) %>";
                jQ.get(url, {}, function(data) {
                  jQ("#offering_folder_setup_<%=lu.id%>").html(data);
                  jQ("#offering_folder_setup_<%=lu.id%>").show();
                });
              })
            });
          </script>
				<% end -%>
			</tbody>
      <% end %>
		</table>
	<% end -%>
	<br/>
</div>