
<div id="offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>" style = "font-size:12px; color: #2061a5;  padding-left:0px;">

	<% if @current_user.can_edit_offering?(offering) -%>
		<% if (lu.nil? && offering.contents.active.size > 0) || (!lu.nil? && lu.contents.active.size>0) %>
			<% if !lu.nil? -%>
			<table   style="width:750px; border:0px solid #ddd;">
				<tbody>
					<tr>
						<td style="width:7%; border:0px solid #ddd; font-size:11px; padding-top:2px; text-align:right; padding-left:25px;">
							<%= lu.featured_resource ? (image_tag "button_enabled.png",:width => 12) : ""-%>
						</td>
						<td  style=" border:0px solid #ddd; font-size:12px; padding-top:0px; padding-bottom:10px; padding-left:0px; vertical-align:top; text-align:left; line-height:1.4em; color: #2061a5; font-weight:normal;">
							<i><%= lu.featured_resource ? lu.featured_resource.title : "No Featured Resource"-%></i>
						</td>
					</tr>
				</tbody>
			</table>
			<%end -%>
		<table   style="width:750px; border:1px solid #ddd;">
			<tbody id="topic_content">
				<% unless lu.nil? -%>
					<% lu.folders.by_position.each do |folder| -%>
						<tr>
							<th  colspan=7 style=" border:0px solid #ddd; font-size:13px; padding-top:4px; padding-bottom:4px; vertical-align:middle; text-align:left; line-height:1.4em; color:#C73914; font-weight:normal;">
								<%= folder.parent ? (folder.parent.name + ': ' + folder.name) : folder.name  %>
							</th>
						</tr>						
						<% lu.resources_for_folder(folder).each do |rsrc| -%>
							<% if !rsrc.nil? -%>
		    					<%= render :partial => "apps/classroom/offering_resources_line", :locals => {:app => app, :folder=> folder, :offering => offering, :lu=>lu, :rsrc=> rsrc, :pool_class => pool_class, :pool_filter => pool_filter, :filters => filters, :pool=>pool, :header=>header}  %>
							<% end %>
						<% end -%>
						<tr>
							<td  colspan=7 style=" border:0px solid #ddd; line-height:1.0em; font-size:10px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:left;  color: #2061a5; font-weight:normal;">
								&nbsp;
							</td>
						</tr>					
					<% end -%>
				<% end -%>
				<% (lu.nil? ? offering.contents.active.compact : lu.unfoldered_resources.sort_by).each_with_index do |rsrc,idx| -%>
					<% if idx == 0 -%>					
					<tr>
						<th  colspan=7 style=" border:0px solid #ddd; font-size:13px; padding-top:4px; padding-bottom:4px; vertical-align:middle; text-align:left; line-height:1.4em; color:#C73914; font-weight:normal;">
							<u>Un-Foldered</u>
						</th>
					</tr>
					<% end -%>
					<% if !rsrc.nil? -%>
    					<%= render :partial => "apps/classroom/offering_resources_line", :locals => {:app => app, :folder=> nil, :offering => offering, :lu=>lu, :rsrc=> rsrc, :pool_class => pool_class, :pool_filter => pool_filter, :filters => filters, :pool=>pool, :header=>header}  %>
					<% end %>
				<% end -%>
			</tbody>
		</table>
	
		<% else -%>	
			<span style ="color: #C83A14;   font-size:11px"><br/>
				<i>No Resources Defined</i>
			</span>
		<% end -%>
    	<%= render :partial => "apps/classroom/resource_pools", :locals => {:admin => admin,  :copy_lu=>copy_lu, :offering => offering, :lu=>lu, :pool_class => pool_class, :pool_filter => pool_filter, :filters => filters, :pool=>pool, :header=>header}  %>

	<% else -%>
		Not Authorized 
	<% end -%>
</div>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.remove_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").html(data);
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").show();
			})
			return false;
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.resequence').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").html(data);
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").show();
			})
			return false;
	})
});
</script>
<script>
jQ(function(){
jQ('td.tip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 200,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
