<div id="offering_options_<%=offering.public_id%>">
  <table class="options_table">
		<tbody>
			<tr >
				<% homework_button = offering.homework_enabled? ? "button_enabled.png" : "button_disabled.png" -%>
        <td class="option_label">
          Homework&nbsp;<%= offering.homework_enabled? ? "On" : "Off" %>
        </td>
        <td class="toggle_button" id="toggle_homework">
						<%= (image_tag homework_button,:width => 12) -%>
				</td>
				<% open_button = offering.open? ? "button_enabled.png" : "button_disabled.png" -%>
        <td class="option_label">
          <%= offering.open? ? "Open" : "Closed" %>&nbsp;Viewing
          <% unless offering.open? %>
              <br/>Key:&nbsp;<span style='color:#C73914;font-size:12px;'><%= offering.registration_key %></span>
          <% end-%>
        </td>
        <td  class="toggle_button" id="toggle_open" >
						<%= (image_tag open_button,:width => 12) -%>
				</td>
				<% if offering.ifable? %>
          <td class="option_label">
            <%=CoopApp.ifa.abbrev%>&nbsp;<%= offering.ifa_enabled? ? "On" : "Off" %>
          </td>
          <% ifa_button = offering.ifa_enabled? ? "button_enabled.png" : "button_disabled.png" -%>
					<td  class="toggle_button" id="toggle_ifa">
							<%= (image_tag ifa_button,:width => 12) -%>
					</td>
				<% else -%>			
					<td  class="toggle_button">
            &nbsp;
					</td>
          <td class="option_label">
            &nbsp;
					</td>
				<% end -%>
        <td  class="toggle_button">
          &nbsp;
        </td>
        <td class="option_label">
          &nbsp;
        </td>
			</tr>
		</tbody>					
	</table>
	<% if offering.ifable? && offering.ifa_classroom_option -%>
		<table class="options_table">
			<tbody>
				<tr >
					<% ifa_notify_button = offering.ifa_notify? ? "button_enabled.png" : "button_disabled.png" -%>
          <td class="option_label">
            <%=CoopApp.ifa.abbrev%> Notifications&nbsp;<%= offering.ifa_notify? ? "On" : "Off" %>
          </td>
          <td class="toggle_button" id="toggle_ifa_notify">
							<%= (image_tag ifa_notify_button,:width => 12) -%>
					</td>
					<% ifa_finalize_button = offering.ifa_auto_finalize? ? "button_enabled.png" : "button_disabled.png" -%>
          <td class="option_label">
            <%=CoopApp.ifa.abbrev%> Auto-finalize&nbsp;<%= offering.ifa_auto_finalize? ? "On" : "Off" %>
          </td>
          <td class="toggle_button" id="toggle_ifa_finalize">
							<%= (image_tag ifa_finalize_button,:width => 12) -%>
					</td>
					<% repeat_days = [] -%>
					<% days = 0 -%>
					<% while days <= 100 -%>
						<% repeat_days<<days -%>
						<% days +=7 -%>
					<% end -%>
          <td class="option_label">
            <%=pluralize(offering.ifa_retake_days, " Day")%>&nbsp;Before Retake
          </td>
          <td class="days_select"  id="days_repeat">
						<%=  select(:ifa, :dtr, repeat_days,{:include_blank => offering.ifa_retake_days.to_s}) %>
					</td>
          <% prep_button = offering.precision_prep? ? "button_enabled.png" : "button_disabled.png" -%>
          <td class="option_label">
            <%= @ifa_app_name %>&nbsp;<%= offering.precision_prep? ? "Yes" : "No" %>
          </td>
          <td class="toggle_button" id="toggle_precision_prep">
            <%= (image_tag prep_button,:width => 12) -%>
          </td>
				</tr>
			</tbody>					
		</table>
	<% end -%>
<br/>		
	<% if offering.homework_enabled? && @current_user.current_teacher_of_classroom?(offering) -%>
	<table id="classroom_homework"  style="margin-left:0px; width:700px; border:0px solid #ddd;">
		<tbody> 
				<tr>
					<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:0px; font-size:12px">	
						<%= link_to '', offering_admin_homeworks_path(:organization_id => @current_organization, :classroom_id => offering) %>
						Manage <%= @current_user.last_name %>&nbsp;Homeworks
						<span></span>
					</td>
				</tr>
		</tbody>
	</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#classroom_homework .resource_levels_close').toggleResourceLevels();
	jQ('#classroom_homework .resource_levels_open').toggleResourceLevels();	
});
</script>

	<% end -%>

</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_homework").click(function() {
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'homework') %>";
		jQ.get(url,{},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});        
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_open").click(function() {
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'viewing') %>";
		jQ.get(url,{},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});        
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_ifa").click(function() {
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'ifa') %>";
		jQ.get(url,{},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});            
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_ifa_notify").click(function() {
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'ifa_notify') %>";
		jQ.get(url,{},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});              
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_ifa_finalize").click(function() {
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'ifa_finalize') %>";
		jQ.get(url,{},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});               
	})
});
</script>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ("#toggle_precision_prep").click(function() {
      var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'precision_prep') %>";
      jQ.get(url,{},  function(data) {
        jQ("#offering_options_<%=offering.public_id%>").html(data);
        jQ("#offering_options_<%=offering.public_id%>").show();
      });
    })
  });
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#days_repeat").change(function() {
		var days = jQ('#ifa_dtr').val();
		var url = "<%= offering_admin_option_activate_url(:organization_id => @current_organization, :classroom_id=> offering, :option=>'retake') %>";
		jQ.get(url,{'days': days},  function(data) {
			jQ("#offering_options_<%=offering.public_id%>").html(data); 
	   		jQ("#offering_options_<%=offering.public_id%>").show();
					});               
	})
});
</script>
