					<% key = folder.nil? ? (rsrc.public_id.to_s + "nil") : (rsrc.public_id.to_s + folder.id.to_s) %>
					<% folder_id = folder.nil? ? 0 : folder.id -%>
						<tr id="<%= key %>" class="content-list-item">								
							<% if lu.nil? -%>
								<td   style="width:3%; border:0px solid #ddd; font-size:11px; padding-top:20px; padding-left:8px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
									&nbsp;
								</td>
							<% else -%>
								<% feature_button = rsrc == lu.featured_resource ? 'button_enabled.png' : "button_disabled.png"%>
								<td   id="feature_toggle_<%=key%>" style="width:3%; border:0px solid #ddd; cursor:pointer; font-size:11px; padding-top:20px; padding-left:3px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
									<%= (image_tag feature_button,:width => 12) -%>
								</td>
							<% end -%>
							<td  style="width:3%; border:0px solid #ddd; font-size:11px; padding-top:20px; padding-left:02px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
								<%= rsrc.position_for_classroom((lu.nil? ? offering : lu), folder) <= 1 ? "" :
                        (link_to (image_tag 'button_arrow_up.png', :width=>15), offering_lu_resources_sequence_path(:organization_id => @current_organization, :classroom_id => offering, :topic_id=>lu, :folder_id=>folder_id, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id => rsrc, :direction=>'up'), :class => 'resequence') %>
							</td>
							<td  style="width:3%; border:0px solid #ddd; font-size:11px; padding-top:17px; padding-left:0px; vertical-align:top; text-align:center; color: #C83A14; font-weight:normal;">
								<u><%= rsrc.position_for_classroom((lu.nil? ? offering : lu), folder) <= 1 ? "" :
                         (link_to "top",  offering_lu_resources_sequence_path(:organization_id => @current_organization,  :classroom_id => offering, :topic_id=> lu, :folder_id=>folder_id, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id => rsrc, :direction=>'top'), :class => 'resequence') %></u>
							</td>
							<td  style="width:3%; border:0px solid #ddd; font-size:11px; padding-top:20px; padding-left:02px; vertical-align:top; text-align:right;color: #C83A14;font-weight:normal;">
								<%= rsrc.position_for_classroom((lu.nil? ? offering : lu), folder) >= (lu.nil? ? offering.contents.active.compact.size : lu.resources_for_folder(folder).size)  ? "" :
                        (link_to (image_tag 'button_arrow_down.png', :width=>15), offering_lu_resources_sequence_path(:organization_id => @current_organization,  :classroom_id => offering, :topic_id=> lu, :folder_id=>folder_id, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id => rsrc, :direction=>'down'), :class => 'resequence') %>
							</td>
							<td   style="width:3%; border:0px solid #ddd; font-size:11px; padding-top:17px; padding-left:3px; vertical-align:top;">
								<%= link_to (image_tag 'delete.png'), offering_admin_resource_assign_path(:organization_id => @current_organization, :classroom_id=>offering, :topic_id=> lu, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id=>rsrc), :class => 'remove_button'%>
							</td>
							<td   style=" border:0px solid #ddd; font-size:11px; padding-top:13px; padding-left:0px; vertical-align:top; text-align:left; line-height:1.4em; color: #000000;font-weight:normal;">
								<u><%= link_to rsrc.title.titleize, resource_view_path(:organization_id => @current_organization, :id => rsrc), {:target => '_blank'} %></u>
								<span  style= "color:#C73914; font-size:10px;">
									<%= rsrc.content_status.name == "Restricted" ? " <i>(Restricted)</i>" : "" %>						
								</span>
								<br/><%= rsrc.subject_area.name if rsrc.subject_area %> <%= rsrc.content_resource_type.name if rsrc.content_resource_type %>
								&nbsp;(<%= rsrc.content_object_type.content_object_type_group.name.downcase if rsrc.content_object_type.content_object_type_group %>)
								<br/>Contributed <%= time_ago_in_words(rsrc.created_at.to_s, include_seconds = false)%> ago.				
								<% unless rsrc.user.nil?%><%= ",  " + rsrc.user.full_name%><%end%>
								<%= rsrc.organization ? (",  " + rsrc.organization.short_name + "."): "." %>
							</td>	
							<td   id="folder_<%=key%>" style="width:30%; border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
								<% unless lu.nil? || lu.positioned_folders.empty? -%>
									<%=  select(:folderx, key, [["No Folder", 0]] + Folder.by_position(lu.positioned_folders).collect{|f| [truncate(f.name, :omission=>"...", :length=>20), f.id]}, {:prompt=> folder.nil? ? "Select Folder" : folder.name}) %>
								<% else -%>
									&nbsp;
								<% end -%>
							</td>
						</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#feature_toggle_<%=key%>').click(function() {
		var url = "<%= offering_admin_resource_feature_url(:organization_id => @current_organization, :classroom_id=>offering, :topic_id=>lu, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id=>rsrc) %>";
			jQ.get(url, {}, function(data) {
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").html(data);
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#folder_<%=key%>').change(function() {
		var folder_id = jQ('#folderx_<%=key%>').val();
		var url = "<%= offering_admin_resource_folder_url(:organization_id => @current_organization, :classroom_id=>offering, :topic_id=>lu, :pool_filter=>pool_filter, :pool_class=>pool_class, :resource_id=>rsrc) %>";
			jQ.get(url, {'folder_id':folder_id}, function(data) {
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").html(data);
				jQ("#offering_resources_<%=offering.public_id%>_<%=lu.nil? ? "":lu.id.to_s%>").show();
			});
	})
});
</script>
