
<div id="referral_links_<%=offering.public_id%>"> 
	<% if @current_user.can_edit_offering?(offering) -%>	
		<div style = "padding-bottom:10px;padding-top:10px; ">
			<table   style="width:650px; border:0px solid white;">
				<thead style="border:1px solid #ddd;">
					<tr>
						<th colspan=2 style="border:0px solid #ddd; text-align:center; vertical-align:middle; font-size:13px; font-weight:normal; padding-right:5px; color: #2061a5;">
							Add From Your Tagged Offerings
						</th>
					</tr>
				</thead>
			</table>
			<% unless @current_user.favorite_classrooms.empty? -%>
				<table style="width:650px; border:0px solid white;">
					<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
		   			</style>
					<tbody>  
						<% @current_user.favorite_classrooms.each do |clsrm| -%>
							<% if clsrm.open? && clsrm.active? && (!clsrm.topics.empty?)%>
								<tr style="border:1px solid #ddd;">
									<td style="width:34%;; border:0px solid #ddd; line-height:1.3em; text-align:right; vertical-align:top; padding-top:8px; font-size:12px; font-weight:normal; padding-right:0px; color: #2061a5;">
										<%= (clsrm.course_name.upcase + (clsrm.organization ? ("<br/>" + clsrm.organization.medium_name) : '')).html_safe%>
                  </td>
									<td style="width:66%; border:0px solid #ddd; line-height:1.3em; text-align:left; vertical-align:top; padding-top:0px; font-size:12px; font-weight:normal; padding-right:0px; color: #2061a5;">
										<table style="width:100%;">
											<tbody>
												<% clsrm.topics.compact.each do |lu| -%>
													<tr>
                            <% if !offering.referenced_topics.include?(lu) %>
                              <td id="add_referral_<%=lu.public_id%>" style="width:11%; border:0px solid white; font-size:11px; padding-top:0px; padding-left:15px; cursor:pointer; vertical-align:top;">
                                <%= image_tag "add.png" %>
                              </td>
                            <% else %>
                              <td style="width:11%; border:0px solid white; text-align:center; font-size:9px; padding-top:0px; padding-left:15px; cursor:pointer; vertical-align:top;">
                                -
                              </td>
                            <% end %>
														<td   style=" border:0px solid white; font-size:12px; padding-bottom:10px; padding-left:0px; line-height:1.3em; vertical-align:top; text-align:left; color: #000000;font-weight:normal;">
															<u><%= clsrm.organization ? (link_to lu.title.titleize, offering_view_path(:organization_id => clsrm.organization, :topic_id => lu, :id => clsrm), {:target => '_blank'}) : "" %></u>
															<br/><%= clsrm.leaders.collect{|l| l.last_name}.join("/") %>
														</td>													
													</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_referral_<%=lu.public_id%>').click(function() {
		var url = "<%= offering_admin_referral_assign_url(:organization_id => @current_organization, :classroom_id=>offering, :topic_id=> lu) %>";
			jQ.get(url, {}, function(data) {
				jQ("#offering_referrals_<%=offering.public_id%>").html(data);
				jQ("#offering_referrals_<%=offering.public_id%>").show();
			});
	})
});
</script>
												<% end -%>
											</tbody>
										</table>
									</td>									
								</tr>
							<% end -%>
						<% end -%>
					</tbody>
				</table>
			<% else -%>	
				<span style ="color: #C83A14;   font-size:11px">
					<%=@current_user.last_name %>&nbsp;<i>No Tagged Offerings</i>
				</span>
			<% end -%>
		</div>

	<% else -%>
		Not Authorized 
	<% end -%>	
</div>	