<div class="left_panel_box">
  <div class="offering_panel_header ">
    <span class="offering_panel_text">Other Learning Units</span>
  </div>
  <div class="left_panel_scroll_box">
    <% classroom.topics.each do |topic| %>
      <% if topic != @current_topic %>
        <% button_label = 'Go' %>
        <% button_class = 'button_light_blue' %>
        <div class="left_panel_row">
          <div class="row ">
            <div class="col-md-3 ">
              <div class="left_panel_button">
                <%= link_to button_label, offering_view_path(:organization_id => @current_organization, :topic_id => topic, :id => classroom), :class=> button_class %>
              </div>
            </div>
            <div class="col-md-9 left_panel_label">
              <%= topic.title %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if student.offerings.size > 1 %>
        <div class="row ">
          <div class="col-md-12 left_panel_subtitle_row ">
            - - - Other <%=student.first_name%> Subjects - - -
          </div>
        </div>
      <% student.offerings.each do |offering| %>
        <% if offering != classroom %>
          <% button_label = 'Go' %>
          <% button_class = 'button_gray' %>
          <div class="left_panel_row">
            <div class="row ">
              <div class="col-md-3 ">
                <div class="left_panel_button">
                  <%= link_to button_label, offering_view_path(:organization_id => offering.organization, :id => offering), :class=> button_class %>
                </div>
              </div>
              <div class="col-md-9 left_panel_label">
                <%= offering.name %> | <%= offering.organization.short_name %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if !classroom.referenced_topics.empty? %>
        <div class="row ">
          <div class="col-md-12 left_panel_subtitle_row ">
            - - - More Related Units - -
          </div>
        </div>
        <% classroom.referenced_topics.each do |topic| %>
            <% button_label = 'Go' %>
            <% button_class = 'button_gray' %>
            <div class="left_panel_row">
              <div class="row ">
                <div class="col-md-3 ">
                  <div class="left_panel_button">
                    <%= link_to button_label, offering_view_path(:organization_id => topic.classroom.organization, :topic_id => topic, :id => topic.classroom), :class=> button_class %>
                  </div>
                </div>
                <div class="col-md-9 left_panel_label">
                  <%= topic.title %>&nbsp;|&nbsp;<%=topic.classroom.organization.short_name %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>