<div class="left_panel_box">
  <div class="offering_panel_header ">
    <span class="offering_panel_text"><%= classroom.act_subject.name %> Growth & Growth Plans</span>
  </div>
  <div class="left_panel_noscroll_box">
    <div class="row ifa_assessment_row">
      <% if !current_period.nil? %>
        <div class="col-md-3">
          <%= link_to 'Assessments', ifa_submission_teacher_review_path(:organization_id => @current_organization,:classroom_id => classroom.id, :period_id => current_period.id, :topic_id => (topic.nil? ? nil : topic.id)), class: 'button_blue' %>
        </div>
        <div class="col-md-9 ass_label">
          <%= pluralize(classroom.act_submissions.size, ' Assessment') %>&nbsp;|
          <%= pluralize(classroom.ifa_dashboards.size, ' Dashboard') %>&nbsp; |
          <%= pluralize(classroom.students.size, ' Student') %>
        </div>
      <% else %>
          No Classroom Period Defined
      <% end %>
    </div>
    <% if classroom.ifa_plannable? && !classroom.students.empty?%>
      <hr>
      <div class="left_panel_plan_list">
        <% classroom.students.each do |student| %>
          <% if student.ifa_plans.for_subject(classroom.act_subject).empty? %>
            <% link_label = 'No Plan' %>
            <% link_class = '' %>
          <% else %>
            <% link_label = 'View Plan' %>
            <% link_class = 'view' %>
          <% end %>
          <div class="left_panel_row">
            <div class="row ">
              <div class="col-md-3 ">
                <div class="left_panel_link">
                  <%= link_label == 'No Plan' ? link_label : (link_to link_label, ifa_plan_student_path(:organization_id=>@current_organization, :student_id => student.id,
                                                             :act_subject_id => classroom.act_subject.id), :class => link_class, :target => "_blank")  %>
                </div>
              </div>
              <div class="col-md-9 left_panel_label">
                <span class="name">
                  <%= student.last_name %>
                </span>
                <span class="sumry">&nbsp;
                  <% if !student.ifa_plans.for_subject(classroom.act_subject).empty? %>
                    <% plan = student.ifa_plans.for_subject(classroom.act_subject).first %>
                    <%= pluralize(plan.milestones.not_achieved.size, ' Milestone')%> |
                    <%= plan.evidence_list.size %>&nbsp;Evidence |
                    <%= pluralize(plan.remarks.size, ' Remark') %>
                    <% if !plan.milestones.not_achieved.empty? %>
                      </br>Working:&nbsp;<%=plan.open_milestone_range_endpoints %> | <%=plan.open_milestone_strands_abbrev %>
                    <% end %>
                    &nbsp;
                  <% end %>
                </span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>