 <div class= 'row panel_title_blue'>
    <%= @current_application.app_name(:provider=>@current_provider).upcase %>
  </div>
  <div class= 'row panel_subtitle_blue'>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= @admin ? pluralize(@current_organization.classrooms.size.to_s, " " + @current_organization.short_name + " Offering"): pluralize(@current_user.offerings_taught(@current_organization).size, @current_user.last_name + " Offerings") %>
      <%#= render :partial => "apps/shared/app_owner_button", :locals => {:app=>@current_application} %>
    </div>
    <div class="col-md-2">
      <% if !@admin_orgs.empty? %>
        <%= link_to "Quick Setup", offering_admin_utilities_path(:organization_id => @current_organization), :class=>"button_blue"%>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
			<% if @admin -%>
				<div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
					<table class= "offering_create_box" id="off_header">
						<tbody>
							<style type="text/css" media="screen">
						    table,tr,td { border:medium}
							table tr:hover{
				 	       	background-color: transparent;
				 	     	}
				 		   	</style>
							<tr>
								<td id="off_show"  style = "border:0px solid #ddd; cursor:pointer; text-align:left; font-weight:normal; vertical-align:top; font-size:10.5px; color: #1b5698;">
									<u>Create New Offering </u>
								</td>
							</tr>
						</tbody>
					</table>
					<table class= "offering_create_box" id="off_descript">
						<style type="text/css" media="screen">
					    		table,tr,td { border:none }
								table tr:hover{
				        		background-color: transparent;
				      			}
				   			</style>
							<tbody>  
								<tr>
									<td colspan=3 id="off_hide"   style = " border:0px solid #ddd; cursor:pointer; text-align:left; font-weight:normal; vertical-align:top; font-size:10.5px; color: #1b5698;">
										<u>Cancel</u>
									</td>
								</tr>
								<tr  style="border:0px solid #ddd;" >
									<td  style=" border:0px solid #ddd; padding-top:3px; padding-left:43px; vertical-align:middle; text-align:left; font-size:12px">
										<%= render :partial => "/apps/classroom/admin_classrooms", :locals => {:admin => @admin, :parent=> nil, :name => ""}  %>
									</td>
								</tr>
							</tbody>
						</table>
				<script type="text/javascript">
				jQ(document).ready(function() {
				  		  jQ("#off_header").show();
						  jQ("#off_descript").hide();		  
				
					jQ("#off_show").click(function() {
						  	jQ("#off_header").hide();	 
					   		jQ("#off_descript").slideDown("slow");
					})
				
					jQ("#off_hide").click(function() {
					   		jQ("#off_descript").slideUp("slow");
					   		jQ("#off_header").show();
					})	
				});
				</script>
            </div>
          <div class="col-md-1"></div>
				</div>		
			<% end -%>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9 offering_list_box">
          <%= render :partial => "list_classrooms", :locals => {:admin => @admin} %>
        </div>
        <div class="col-md-1"></div>
      </div>
      </div>
  </div>

  <div id="control_panel" >
   <ul>
    <li>
        <%  tab_1_label = "Teacher Assignments" %>
        <a href="#tabs-1"><span class="tab_label">
			  <%= tab_1_label %></span></a>
    </li>
      <li>
        <%  tab_4_label = "Student Assignments" %>
        <a href="#tabs-4"><span class="tab_label">
			  <%= tab_4_label %></span></a>
		  </li>	
      <li>
        <%  tab_3_label = "Surveys" %>
        <a href="#tabs-3"><span class="tab_label">
			  <%= tab_3_label %></span></a>
		  </li>	
			<% if @admin -%>			
        <li>
          <%  tab_2_label = "Folders" %>
          <a href="#tabs-2"><span class="tab_label">
				  <%= tab_2_label %></span></a>
			  </li>	
			<% end -%>	
     <!--
     <li>
        <%#  tab_5_label = "Utilities" %>
        <a href="#tabs-5"><span class="tab_label">
			  <%#= tab_5_label %></span></a>
		  </li>
		  -->
    </ul>
		<div id="tabs-1" >
	 	  <%= render :partial => "/apps/classroom/manage_teachers", :locals => {:admin => @admin, :teacher=> (@admin ? nil : @current_user), :subject=>nil} %>
	   	</div >	
		<div id="tabs-4" >
	 	  <%= render :partial => "/apps/classroom/manage_students", :locals => {:admin => @admin} %>
	   	</div >	 	
		<div id="tabs-3">
	 	  <%= render :partial => "/apps/shared/sumarize_surveys", :locals => {:admin => @admin, :org => @current_organization, :app => @current_application} %>
	   	</div>
		<div id="tabs-2" >
	 	  <%= render :partial => "/apps/shared/manage_app_folders", :locals => {:admin => @admin, :folder=>nil, :app => @current_application} %>
    </div>
    <!--
		<div id="tabs-5" >
      <%#= render :partial => "/apps/classroom/manage_utilities", :locals => {:admin => @admin, :app => @current_application} %>
    </div>
    -->
	 </div>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>

<br style="clear:both" />

