<div id="offering_students" style="padding:0px; width:99%;  border:0px; margin: 0px 0px 0px 0px; text-align:left; min-height:5px;">

		<% @classroom.classroom_periods.compact.sort_by{|p| p.name}.each do |period| -%>
				<table id="students_<%= period.public_id %>" class="tablesorter" style="width:99%;">
					<tbody>
						<tr>
						<td class="ifa_levels_close" style=" color: #2061a5;">
							<%= link_to '', :controller => "apps/classroom", :action => :manage_period_students, :organization_id => @current_organization, :period_id => period, :classroom_id => @classroom %>
							<%= period.name %>&nbsp;&nbsp;<i>(<%=period.teacher_list %>)</i>
							<span></span>
						</td>
						</tr>
					</tbody>
				</table>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#students_<%= period.public_id %> .ifa_levels_close').toggleIfaLevels();
	jQ('#students_<%= period.public_id %> .ifa_levels_open').toggleIfaLevels();
});
</script>

		<% end -%>
		<br/>

</div>