
<div style = "font-size:14px; color: #000000;">

	<% unless @audience.nil? || @classroom.nil? -%>

		<% schedule_surveys = @classroom.classroom_periods.collect{|cp| cp.survey_schedules.for_audience(@audience)}.flatten -%>
		<% survey_responses = schedule_surveys.collect{|s| s.tlt_survey_responses}.flatten -%>
		<% survey_questions = survey_responses.collect{|r| r.tlt_survey_question}.uniq.sort_by{|q| q.position} -%>
		<% survey_questions.each do |question| -%>
	
			<table id="q_<%=question.public_id%>" class="tablesorter" style="width:99%;">
				<tbody>
					<% col_label = "Question " + question.position.to_s + ": " + question.question -%>
					<tr>
					<td class="ifa_levels_close" style=" color: #000000; font-size:13.5px">
						<%= link_to '', :controller => "apps/classroom", :action => :question_aggregation, :organization_id => @current_organization, :question_id => question, :classroom_id => @classroom, :period_id => nil, :schedule => nil, :audience_id => @audience %>
						<%= col_label %>
						<span></span>
					</td>
					</tr>
				</tbody>
			</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#q_<%=question.public_id%> .ifa_levels_close').toggleIfaLevels();
	jQ('#q_<%=question.public_id%> .ifa_levels_open').toggleIfaLevels();
});
</script>					
		<% end -%>

	<% end -%>	
</div>

