<div id="admin_app_resources">
	<div style ="color: #C73914; font-size:13px; margin-top:5px; font-weight:normal"> 
		<center><%= pluralize(active_pool.size, app.abbrev + " Resource") %>&nbsp;Currently Used By <%=@current_organization.short_name %></center>
	</div>
	<% unless active_pool.empty? -%>
	    <%= render :partial => "/apps/shared/admin_app_resource_table", :locals => {:admin => admin, :app => app, :active=> true, :pool => active_pool}  %>
	<% end -%>
</br>
	<div style ="color: #C73914; font-size:13px; margin-top:5px; font-weight:normal"> 
		<center><%= pluralize(resource_pool.size, app.abbrev + " Resource") %>&nbsp;Currently Available To <%= @current_user.last_name %></center>
		<table style=" width:860px; margin-left:0px; font-size:11px; font-weight:normal; color:#000000;">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:none; }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
					<tr   style="margin-left:00px">
						<td  colspan=2 id="key_show" style="width:100%; ">
							<span style = "font-size:9px">
								<u><i><a id="pool_1" href="">Explain The <%= app.abbrev %> Resource Pool</a></i></u>
							</span>
								<br/>
							<div id="pool_2" style="text-align:left;">
							    <div class="title_large_blue" style="margin-bottom:15px;">
							      The <%= app.abbrev %> Resource Pool
							    </div>
							    <div class="normal_text" style=" font-size:12px;">
									The <%= app.abbrev%> Pool consists of resources that have been catalogued in the Resource Library with<br/>
									<br/><strong>Type =></strong> <%= app.content_resource_types.empty? ? " none" : app.content_resource_types.collect(&:name).join(" or ") %><br/>
									&nbsp;&nbsp;or<br/>
									<strong>Subject Area =></strong> <%= app.subject_areas.empty? ? " none" : app.subject_areas.collect(&:name).join(" or ") %>.</br>
									&nbsp;</br/>
									Your <%=@current_user.last_name %>&nbsp;pool is determined by the Resources you have <u>tagged</u>, the Colleagues you have <u>tagged</u>, and <%= @current_organization.medium_name %> <%= @current_organization.parent? ? "children" : "sibling" %> institutions.</br>			
									<br/>
									If you'd like to use resources that are being used by another school, and that school is outside the <%= @current_organization.parent_or_self.short_name %> family, you must visit the school's network page and <u>tag</u> that school.</br>
									<br/>
									If you'd like to use <%= app.abbrev%> resources that were added to the library by a colleague not from <%= @current_organization.short_name %>, you must visit your colleague's network page and <u>tag</u> that user.</br>
									<br/>
									<% unless @current_organization.parent? -%>
										<% unless @current_organization.active_siblings.select{|o| o.app_enabled?(app)}.empty? -%>
											Currently, you are able to use <%= app.abbrev %> resources from </strong> <%= @current_organization.active_siblings.select{|o| o.app_enabled?(app)}.sort_by{|o| o.name}.collect(&:medium_name).join(", ") %></br>
										<% else -%>
											Currently, you cannot use <%= app.abbrev %> resources from other schools.</br/>
										<% end -%>
									<% else-%>
										<% unless @current_organization.all_active_children.select{|o| o.app_enabled?(app)}.empty? -%>
											Currently, you are able to use <%= app.abbrev %> resources from </strong> <%= @current_organization.all_active_children.select{|o| o.app_enabled?(app)}.sort_by{|o| o.name}.collect(&:medium_name).join(", ") %></br>
										<% else -%>
											Currently, you cannot use <%= app.abbrev %> resources from other schools.</br/>
										<% end -%>
									<% end -%>
							    </div>
							</div>
						</td>
					</tr>
			</tbody>
		</table>
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {

    	    jQ("#pool_2").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: 650,
    	            height: 450,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);					
			
    		jQ('#pool_1').click(function(event){
    		    jQ("#pool_2").dialog('open');
    			 event.preventDefault();
    		})							

    });
</script>
	</div>

	<% unless resource_pool.empty? -%>
	    <%= render :partial => "/apps/shared/admin_app_resource_table", :locals => {:admin => admin, :app => app, :active=> false, :pool => resource_pool}  %>
	<% end -%>

	<script type="text/javascript">
		jQ(document).ready(function() {
	  		  jQ("#key_header").show();
			  jQ("#key_descript").hide();		  
	
		jQ("#key_show").click(function() {
			  	jQ("#key_header").slideUp("slow");	 
		   		jQ("#key_descript").slideDown("slow");
		})
	
		jQ("#key_hide").click(function() {
		   		jQ("#key_descript").slideUp("slow");
		   		jQ("#key_header").show();
		})	
	});
	</script>
</div>
