<% if admin -%>
	    <table style="width:800px;">
	        <thead>
	            <tr>
	                <th  style="width:11%;" >
	                    <%= app.abbrev %>&nbsp;Usage
	                </th>
	                <th  style="width:13%;" >
	                    Contributor
	                </th>
	                <th style="width:56%;">
	                   Description
	                </th>
                  <th colspan=3>
                    Edit Options
                  </th>
	            </tr>
	        </thead>
				<tbody >
					<% pool.sort{|a,b| b.updated_at <=> a.updated_at}.each do |rsrc| -%>
					<% unless !(rsrc.available? || rsrc.restricted? || rsrc.active?)%>
					<tr id="<%= rsrc.public_id %>" class="content-list-item" >
							<td   style="width:11%; border:1px solid #ddd; font-size:11.5px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:left; color:#2061a5; font-weight:normal;">
								<%= pluralize(rsrc.coop_app_resources.for_app(app).size, " School") %>
								<% if app.ctl? && rsrc.embed_code? -%> <br/><%= pluralize(rsrc.tlt_sessions.size, " Practice")%><% end-%>
							</td>
							<td   style="width:13%; border:1px solid #ddd; font-size:11.5px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:left; color:#2061a5; font-weight:normal;">
								<%= rsrc.organization.nil? ? "Former Organization" : rsrc.organization.medium_name -%></br>
								<%= rsrc.user.nil? ? "Former User": rsrc.user.last_name %></br>
								<%= rsrc.updated_at.strftime("%m-%d-%y")%>
							</td>
							<td   style="width:56%; border:1px solid #ddd; font-size:10px; padding-top:0px; padding-left:0px; vertical-align:top; text-align:left;color:#2061a5; font-weight:normal;">
								&nbsp;<u><%= link_to "View",{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => rsrc}, :target => '_blank' %></u>&nbsp;
								<span style="color: #2061a5;font-weight:bold; font-size:11.5px; ">
									<%= rsrc.title %></br>
								</span>
								<span style="color: #000000;font-weight:normal; font-size:10.5px; line-height: 1.4em;">
									<%= simple_format rsrc.description%>
								</span>
								<% if app.ctl? && rsrc.irr_resource?%>																					
									<table style = "width:100%; margin-left:20px;">
										<tbody>
											<tr>
												<td style="color: #2061a5; width:7%; padding-left: 0px; font-weight:normal;font-size:10px;">
													<%= (image_tag ItlBeltRank.black.image,:width => 20)%>
												</td>
												<td style="color: #2061a5; text-align:left; font-weight:normal;font-size:10px; padding-bottom:5px;">
													<u><%= link_to "View CR Observation Data", ctl_session_show_path(:organization_id => @current_organization, :tlt_session_id => rsrc.itl_blackbelt.tlt_session), {:target => '_blank'}  %></u>
												</td>
											</tr>							
										</tbody>
									</table>
								<% end -%>
							</td>
					<% if active -%>
						<td  style="width:20%; border-bottom:1px solid #ddd; border-right:0px solid #ddd;padding-left:0px; padding-top:16px; vertical-align:top; ">
							<%= text_field :position, rsrc.id, :value => rsrc.app_resource_position(@current_organization, app), :size => 2, :maxlength => 2%>
						</td>
						<td  id= "repo_<%= rsrc.public_id %>" style="width:40%; font-size:9px; border-bottom:1px solid #ddd; border-right:0px solid #ddd;padding-left:0px; padding-top:20px; vertical-align:top; ">
							<button>Change</button>
						</td>						
						<td  id= "remove_<%= rsrc.public_id %>" style="width:40%; font-size:9px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding-left:0px; padding-top:20px; vertical-align:top; ">
							<button>Remove</button>
						</td>

					<% else -%>
						<td  style="width:20%; border-bottom:1px solid #ddd; border-right:0px solid #ddd;padding-left:0px; padding-top:16px; vertical-align:top; ">
							<%= text_field :position, rsrc.id, :value => rsrc.app_resource_position(@current_organization, app), :size => 2, :maxlength => 2%>
						</td>
						<td  id= "add_<%= rsrc.public_id %>" style="width:40%; font-size:9px; border-bottom:1px solid #ddd; border-right:0px  solid #ddd;padding-left:0px; padding-top:20px; vertical-align:top; ">
							<button>Add</button>
						</td>						
						<td  style="width:40%; font-size:9px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding-left:0px; padding-top:20px; vertical-align:top; ">
							&nbsp;
						</td>
					<% end-%>
						</tr>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#remove_<%= rsrc.public_id %>').click(function() {
		var position = jQ('#position_<%=rsrc.id%>').val();
		var url = "<%= app_resource_assign_url(:organization_id => @current_organization, :resource_id => rsrc, :function=>"remove", :admin=>admin, :app_id=>app) %>";
			jQ.get(url, {'position':position}, function(data) {
				jQ("#admin_app_resources").html(data);
				jQ("#admin_app_resources").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#repo_<%= rsrc.public_id %>').click(function() {
		var position = jQ('#position_<%=rsrc.id%>').val();
		var url = "<%= app_resource_assign_url(:organization_id => @current_organization, :resource_id => rsrc, :function=>"repo", :admin=>admin, :app_id=>app) %>";
			jQ.get(url, {'position':position}, function(data) {
				jQ("#admin_app_resources").html(data);
				jQ("#admin_app_resources").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#add_<%= rsrc.public_id %>').click(function() {
		var position = jQ('#position_<%=rsrc.id%>').val();
		var url = "<%= app_resource_assign_url(:organization_id => @current_organization, :resource_id => rsrc, :function=>"add", :admin=>admin, :app_id=>app) %>";
			jQ.get(url, {'position':position}, function(data) {
				jQ("#admin_app_resources").html(data);
				jQ("#admin_app_resources").show();
			});
	})
});
</script>
				
					<% end %>
				<% end -%>
			</tbody>
		</table>
<% end-%>
