<div id="issue_surveys">
		<% unless instruction.active_questions_for_org(@current_organization).empty? %>
			<table id="issue_<%= instruction.public_id%>"  style="margin-left:40px; width:800px;">
				<tbody>
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5;font-weight:normal;  font-size:10.5px">
							<%= link_to '', survey_broadcast_path(:organization_id => @current_organization, :admin => admin, :app_id => app, :survey_instruction =>instruction) %>
							Broadcast&nbsp;A&nbsp;<%= instruction.display_name -%>
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#issue_<%= instruction.public_id%> .resource_levels_close').toggleResourceLevels();
		jQ('#issue_<%= instruction.public_id%> .resource_levels_open').toggleResourceLevels();	
	});
	</script>
	

		<% end -%>


</div>
