<div >

	<% unless entity.tlt_survey_responses.empty? -%>
	<table id="results_header_<%= entity.public_id %>" style="width:580px; margin-left:0px;border:0px solid #ddd;">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>

			<tr  style="border:0px solid #ddd;">
				<td  id="results_show_<%= entity.public_id %>"  style=" border:0px solid #ddd;   vertical-align:top;text-align:left; font-weight:normal;" >
						 >  <u>Show <%= survey_type.description %>  Survey Results</u>
				</td>
			</tr>
		<tbody> 
	</table>			

	<table id="results_descript_<%= entity.public_id %>" style="width:580px; margin-left:0px;border:1px solid #ddd;">
		<thead>
			<tr>
					<th id="results_hide_<%= entity.public_id %>" colspan=2 style=" vertical-align:middle;  text-align:left; padding-top:3px; padding-bottom:3px; ">
						>  <u>Hide <%= survey_type.description %>  Survey Results</u>
					</th>
			</tr>
		</thead>
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>

			<tr  style="border:1px solid #ddd;">
				<td width = 580px style=" border:0px solid #ddd; color: #000000; vertical-align: top;text-align:left; font-weight:normal; font-size:10.5px" >
					<% entity.tlt_survey_responses.sort_by{|r| r.tlt_survey_question.position}.each_with_index do |resp,idx| -%>

						<table  style="width:550px; margin-left:0px;border:0px solid #ddd;">
							<tbody> 
							<style type="text/css" media="screen">
					    		table,tr,td { border:none }
								table tr:hover{
				        		background-color: transparent;
				      			}
				   			</style>
								<tr>
									<td style=" width:100px; vertical-align:top;  padding-top:3px; padding-bottom:3px; color: #C83A14; font-weight:normal; font-size:10.5px">
										<u>Question <%= resp.tlt_survey_question.position %>:</u>
									</td>
									<td style=" width:450px; vertical-align:middle;  text-align:left; padding-top:3px; padding-bottom:3px; color: #C83A14; font-weight:normal; font-size:10.5px">
										<i><%= resp.tlt_survey_question.question  %></i>
									</td>
								</tr>
								<% label1 = (resp.score == 2 || resp.score == 3) ? "Somewhat " : "" -%>
								<% label2 = (resp.score <= 2) ?  resp.tlt_survey_question.tlt_survey_range_type.low_end  :  resp.tlt_survey_question.tlt_survey_range_type.high_end  -%>
								<tr>
									<td id=style=" width:100px; vertical-align:top;  padding-top:0px; padding-bottom:0px; color: #000000; font-weight:normal; font-size:10.5px">
										<u>Response:</u>
									</td>
									<td style=" width:450px; vertical-align:top;  text-align:left; padding-top:0px; padding-bottom:0px; color: #000000; font-weight:normal; font-size:10.5px">
										<i><%= label1 %><%=label2 %></i><br/><%= resp.comment %>
									</td>
								</tr>
							<tbody> 
						</table>
					<% end -%>
				</td>
			</tr>
		<tbody> 
	</table>
	
<script type="text/javascript">
	jQ(document).ready(function() {
  		  jQ("#results_header_<%= entity.public_id %>").show();
		  jQ("#results_descript_<%= entity.public_id %>").hide();		  

	jQ("#results_show_<%= entity.public_id %>").click(function() {
		  	jQ("#results_header_<%= entity.public_id %>").slideUp("slow");	 
	   		jQ("#results_descript_<%= entity.public_id %>").slideDown("slow");
	})

	jQ("#results_hide_<%= entity.public_id %>").click(function() {
	   		jQ("#results_descript_<%= entity.public_id %>").slideUp("slow");
	   		jQ("#results_header_<%= entity.public_id %>").show();
	})	
});
</script>				

	<% end -%>

					
</div>