<div id="folders_<%=org.public_id%>_<%=app.id%>">
  <% unless org.folders.for_app(app).size == 0 -%>
		<table class="folder_edit_box" >
			<thead>
				<tr>
					<th colspan = 4 class="folder_assign_header">
            <%= pluralize(org.folders.for_app(app).size, " " + app.name + " Folder") -%>
					</th>
				</tr>
			</thead>
			<tbody>
				<% org.folders.for_app(app).all_parents.sort_by{|f| f.name.upcase}.each do |p_folder|%>
          <tr style="  border:1px solid #ddd;">
						<td  class="button_col">
							<%= link_to 'Edit', app_folder_edit_path(:organization_id => @current_organization, :app_id=>app.id, :folder_id => p_folder), :class => "edit_folder" %>
						</td>
						<td class="folder_name" style="font-weight:bold;">
							<%=p_folder.name %>
							<span style="font-size:9px;">&nbsp;&nbsp;(Used By <%= pluralize( p_folder.topics.size, " Learning Unit")%>)</span>
              <br/>
              <span class="descript">
                <%= p_folder.description %>
              </span>
            </td>
            <td class="folder_name levels mastery_list">
							<% if p_folder.mastery_levels.empty? %>
                No Mastery Levels
              <% else %>
                <% p_folder.mastery_levels.each do |ml| %>
                  <%= ml.act_master.abbrev.upcase%>:&nbsp;<%= ml.act_subject.name%>&nbsp;-&nbsp;<%= ml.range%>
                  <br/>
                <% end %>
              <% end %>
						</td>
            <td  class="button_col">
              <%= link_to 'Destroy', app_folder_destroy_path(:organization_id => @current_organization, :app_id=>app.id, :folder_id => p_folder), :class => "destroy_folder" %>
						</td>
					</tr>
					<% p_folder.all_children.sort_by{|f| f.name.upcase}.each do |c_folder|%>
						<tr style="  border:1px solid #ddd;">
              <td  class="button_col">
                <%= link_to 'Edit', app_folder_edit_path(:organization_id => @current_organization, :app_id=>app.id, :folder_id => c_folder), :class => "edit_folder" %>
							</td>
              <td class="folder_name" style="font-weight:normal;">
								<%=c_folder.name %>
							  <span style="font-size:9px;">&nbsp;&nbsp;(<%= pluralize( c_folder.views, " View")%>)</span>
                <br/>
                <span class="descript">
                  <%= c_folder.description %>
                </span>
							</td>
              <td class="folder_name levels mastery_list">
                <% if c_folder.mastery_levels.empty? %>
                    No Mastery Levels
                <% else %>
                  <% c_folder.mastery_levels.each do |ml| %>
                    <%= ml.act_master.abbrev.upcase%>:&nbsp;<%= ml.act_subject.name%>&nbsp;-&nbsp;<%= ml.range%>
                    <br/>
                  <% end %>
                <% end %>
              </td>
              <td  class="button_col">
                <%= link_to 'Destroy', app_folder_destroy_path(:organization_id => @current_organization, :app_id=>app.id, :folder_id => c_folder), :class => "destroy_folder" %>
              </td>
						</tr>
					<% end -%>				
				<% end -%>										
			</tbody>
		</table>					

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.edit_folder').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#manage_folders").html(data);
				jQ("#manage_folders").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.destroy_folder').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#manage_folders").html(data);
				jQ("#manage_folders").show();
			})
			return false;
	})
});
</script>
	<% else -%>
		No Folders Currently Defined
	<% end -%>
</div>

