								<div id="<%= id%>dialog">
                  <div class="ifa_modal_header">
                    <%=titl%>
                  </div>
                  <div class="ifa_modal_title">
                      <%= pluralize(body.size, ' ' + blue) %>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="ifa_modal_box">
                      <% body.each_with_index do |benchmark| %>
                        <%= benchmark.description.html_safe%>
                        <% if benchmark.other_source_standard %>
                          <div class="ifa_modal_std">
                            <span class="ifa_modal_std_src"><%= benchmark.other_source_standard.name %></span>:&nbsp;
                            <%=benchmark.source_level ? (benchmark.source_level.range + ' | ') : '' %>
                            <%=benchmark.source_strand ? (benchmark.source_strand.abbrev) : '' %>
                          </div>
                        <% end %>
                        <hr>
                      <% end %>
                    </div>
                  </div>
								</div>
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {

    	    jQ("#<%= id%>dialog").dialog({
    	            bgiframe: true,
    	            autoOpen: false,
    	            width: <%=width%>,
    	            height: <%=height%>,
    	            modal: true,
    				buttons: {
    					 Close: function(){
    		                        jQ(this).dialog('close');
    		                    }
    				}
        	    }
    		);					
			
    		jQ('#<%= id%>').click(function(event){
    		    jQ("#<%= id%>dialog").dialog('open');
    			 event.preventDefault();
    		})							

    });
</script>
