
<div id="surv_list_<%= instruction.public_id %>" style = "font-size:12px; color: #000000;padding-left:0px;">
	<table  style="width:800px; margin-left:0px;border:1px solid #ddd;">
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
		<thead>
			<tr  style=" border:1px solid #ddd;" >
				<th colspan=3 style=" text-align:center; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-weight:normal; font-size:12px">
					<%=instruction.description %>
				</th>				
			</tr>
		</thead>		
		<% unless instruction.survey_schedules.for_organization(@current_organization).empty? %>
			<tbody>
				<tr  style=" border:1px solid #ddd;" >
					<td style=" width:200px;vertical-align:middle; text-align:center; padding-top:3px; padding-bottom:3px; color: #000000; font-weight:normal; font-size:12px">
						<%= pluralize(instruction.survey_schedules.for_organization(@current_organization).size, " Survey")%>,&nbsp;<%= instruction.survey_schedules.for_organization(@current_organization).active.size %>&nbsp;Open<br/>
						<%= "Latest " + time_ago_in_words(instruction.survey_schedules.for_organization(@current_organization).last.created_at.to_s, include_seconds = false) + " ago" %>
						
					</td>				
					<td style=" width:200px;vertical-align:middle; text-align:center; padding-top:3px; padding-bottom:3px; color: #000000; font-weight:normal; font-size:12px">
						<%= pluralize(instruction.survey_schedules.for_organization(@current_organization).collect{|s| s.respondants.size}.sum, " Return")%><br/>
						<%= pluralize(instruction.survey_schedules.for_organization(@current_organization).collect{|s| s.respondants}.flatten.uniq.size, " Respondant")%>
					</td>
					<td style=" width:200px;vertical-align:middle; text-align:center; padding-top:3px; padding-bottom:3px; color: #000000; font-weight:normal; font-size:12px">
						<% question_responses = instruction.survey_schedules.for_organization(@current_organization).collect{|s| s.question_responses}.flatten.sort_by{|r| r.created_at}  -%>
						<%= pluralize(question_responses.size, " Question Response")%><br/>
						<%= question_responses.empty? ? "":"Latest " + time_ago_in_words(question_responses.last.created_at.to_s, include_seconds = false) + " ago" %>
					</td>
			</tr>
		</tbody>
		<% end -%>
	</table>

	<% audience = instruction.tlt_survey_audience -%>
	<% survey_type = instruction.tlt_survey_type -%>
	<% if admin %>

		<table id="create_<%= instruction.public_id%>"  style="margin-left:40px; width:800px;">
			<tbody>
				<tr>
					<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  font-size:10.5px">
						<%= link_to '', survey_question_new_path(:organization_id => @current_organization, :admin => admin, :app_id => app, :survey_instruction => instruction) %>
						Create New Question
						<span></span>
					</td>
				</tr>
			</tbody>
		</table>

		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#create_<%= instruction.public_id%> .resource_levels_close').toggleResourceLevels();
			jQ('#create_<%= instruction.public_id%> .resource_levels_open').toggleResourceLevels();	
		});
		</script>
		<% unless @current_user.tagged_school_surveys_for_(instruction.tlt_survey_audience, instruction.tlt_survey_type, @current_organization).empty? %>
			<table id="other_<%= instruction.public_id%>"  style="margin-left:40px; width:800px;">
				<tbody>
					<tr>
						<td class="resource_levels_close" style=" color: #2061a5;font-weight:normal;  font-size:10.5px">
							<%= link_to '', surveys_others_show_path(:organization_id => @current_organization, :admin => admin, :app_id => app, :survey_instruction => instruction) %>
							View Questions Used By Other Schools
							<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#other_<%= instruction.public_id%> .resource_levels_close').toggleResourceLevels();
				jQ('#other_<%= instruction.public_id%> .resource_levels_open').toggleResourceLevels();	
			});
			</script>
		<% end-%>
		<% if survey_type.general? && !@current_organization.tlt_survey_questions.for_audience(audience).for_type(survey_type).active.empty?-%>
			<%= render :partial => "apps/shared/broadcast_a_survey", :locals => {:admin => admin, :app => app, :instruction => instruction}%>
		<% end -%>
	<% end -%>

	<% unless instruction.all_questions_for_org(@current_organization).empty? -%>
		<% if admin -%>
			<table  style="width:800px;">
				<thead>
						<tr>
							<th colspan=5 style=" text-aling:center; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #C73914; font-weight:normal; font-size:12px">
								CAUTION: Altering A Question May Invalidate Its Historical Data
							</th>				
						</tr>
				</thead>
			</table>
		<% end -%>	
	
	<% instruction.all_questions_for_org(@current_organization).each do |question| -%>


	<table  style="width:800px;border:1px solid #ddd;">	
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
				<tbody>  

					<% @q_id = question.public_id -%>
					<% if admin -%>
						<tr  style=" border:0px solid #ddd;" >
							<% if question.is_active-%>
								<td id= "q_<%= question.id %>"  style="width:50px; border:0px solid #ddd; padding-left:20px; padding-bottom:7px; vertical-align:bottom; ">
									<%=  image_tag "button_enabled.png",:width => 12 %>
								</td>
							<% else -%>
								<td id= "q_<%= question.id %>"  style="width:50px; border:0px solid #ddd; padding-left:20px;  padding-bottom:7px; vertical-align:bottom; ">
									<%=  image_tag "button_disabled.png",:width => 12 %>
								</td>
							<% end -%>
							<td id= "p_<%= question.id %>"  style="width:30px; border:0px solid #ddd; border-right:0px solid #ddd;padding-left:5px;  padding-bottom:5px; vertical-align:bottom; ">
								<%= (image_tag "add.png") -%>		
							</td>
							<td  style="width:45px; border:0px solid #ddd; border-left:0px solid #ddd;padding-left:0px; vertical-align:bottom; ">
								<%= text_field :position, @q_id, :value => question.position, :size => 2, :maxlength => 2%>
							</td>
							<td  style=" border:0px solid #ddd; vertical-align:bottom;  padding-top:0px; padding-bottom:0px; color: #000000; text-align:left; font-weight:normal; font-size:12px">
								<%= text_area :question, @q_id, :value => question.question, :cols => 45, :rows => 2 %>
							</td>
							<td  style=" width:350px; border:0px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; text-align:left; font-size:12px">
								<table style=" width:300px;">
									<tbody>
										<tr>
											<td  style="width:200px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
												<%=  select(:range, @q_id, TltSurveyRangeType.all.collect{|t| [t.label, t.id]}, {:prompt => question.tlt_survey_range_type.label}) %>
											</td>					
											<% if !question.is_active && question.tlt_survey_responses.empty?-%>
												<td  id= "d_<%= question.id %>" style=" border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
												     <button>Delete</button>		
												</td>
											<% else-%>
												<td  style="border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
												     &nbsp;
												</td>
											<% end-%>
										</tr>
									</tbody>
								</table>

								<table style=" width:300px;">
									<tbody>
										<tr>
											<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
											    <%= question.tlt_survey_range_type.low_end %><br/><%= question.tlt_survey_responses.of_score(1).size%>	
											</td>					
											<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
											     &nbsp;<br/><%= question.tlt_survey_responses.of_score(2).size%>		
											</td>
											<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
											     &nbsp;<br/><%= question.tlt_survey_responses.of_score(3).size%>			
											</td>					
											<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
											     <%= question.tlt_survey_range_type.high_end %><br/><%= question.tlt_survey_responses.of_score(4).size %>		
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td  colspan=5 style=" border:0px solid #ddd; padding-left:0px; vertical-align:top; ">

	
								<table id="analyze_<%= question.public_id%>"  style="border:0px solid #ddd; margin-left:40px; width:700px;">
									<tbody>
										<tr>
											<td class="resource_levels_close" style=" border:0px solid #ddd; color: #C73914; font-weight:normal;  font-size:9.5px">
												<%= link_to '', survey_question_analyze_path(:organization_id => @current_organization,:admin => admin, :app_id => app, :survey_question_id => question) %>
												Analyze Question
												<span></span>
											</td>
										</tr>
									</tbody>
								</table>


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#analyze_<%= question.public_id%> .resource_levels_close').toggleResourceLevels();
	jQ('#analyze_<%= question.public_id%> .resource_levels_open').toggleResourceLevels();	
});
</script>

							</td>
						</tr>
						<% else -%>
							<tr  style=" border:1px solid #ddd;" >
							<% if question.is_active-%>
								<td  style="width:50px; border:0px solid #ddd; padding-left:20px; vertical-align:middle; ">
										<%= image_tag "button_enabled.png",:width => 12%>
								</td>
							<% else -%>
								<td  style="width:50px; border:0px solid #ddd; padding-left:20px; vertical-align:middle; ">
										<%= image_tag "button_disabled.png",:width => 12%>
								</td>
							<% end -%>
							<td   style="width:30px; border:0px solid #ddd; border-right:0px solid #ddd;padding-left:0px; vertical-align:middle; ">
								&nbsp;		
							</td>
							<td  style="width:45px; border:0px solid #ddd; border-left:0px solid #ddd;padding-left:0px; vertical-align:middle; ">
								<%= question.position %>
							</td>
							<td  style=" border:0px solid #ddd; vertical-align:middle;  padding-top:0px; padding-bottom:0px; color: #000000; text-align:left; font-weight:normal; font-size:12px">
								<%= question.question %>
							</td>
							<td  style=" width:350px; border:0px solid #ddd; padding-top:0px; padding-left:0px; vertical-align:middle; text-align:center; font-size:12px">
								<table >
									<tbody>
										<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
										    <%= question.tlt_survey_range_type.low_end %><br/><%= question.tlt_survey_responses.of_score(1).size%>	
										</td>					
										<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
										     &nbsp;<br/><%= question.tlt_survey_responses.of_score(2).size%>		
										</td>
										<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
										     &nbsp;<br/><%= question.tlt_survey_responses.of_score(3).size%>			
										</td>					
										<td  style="width:50px; border:0px solid #ddd; padding-top:0px; vertical-align:bottom; text-align:center; font-size:10.5px">
										     <%= question.tlt_survey_range_type.high_end %><br/><%= question.tlt_survey_responses.of_score(4).size %>		
										</td>
									</tbody>
								</table>
							</td>
						</tr>
					<% end -%>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#q_<%= question.id %>').click(function() {
		var url = "<%= survey_activate_url(:organization_id => @current_organization, :survey_question_id => question, :user_id => @current_user, :admin => admin, :survey_instruction => instruction, :app_id => app.id) %>";
			jQ.get(url, {}, function(data) {
				jQ("#surv_list_<%= instruction.public_id %>").html(data);
				jQ("#surv_list_<%= instruction.public_id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#p_<%= question.id %>').click(function() {
		var position = jQ('#position_<%=@q_id%>').val();
		var question = jQ('#question_<%=@q_id%>').val();
		var range = jQ('#range_<%=@q_id%>').val();
		var url = "<%= survey_position_url(:organization_id => @current_organization, :survey_question_id => question, :user_id => @current_user, :admin => admin, :survey_instruction => instruction, :app_id => app.id) %>";
			jQ.get(url, {'question':question, 'position':position, 'range_type_id': range}, function(data) {
				jQ("#surv_list_<%= instruction.public_id %>").html(data);
				jQ("#surv_list_<%= instruction.public_id %>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#d_<%= question.id %>').click(function() {
		var url = "<%= survey_question_destroy_url(:organization_id => @current_organization, :survey_question_id => question, :user_id => @current_user, :admin => admin, :survey_instruction => instruction, :app_id => app.id) %>";
			jQ.get(url, {}, function(data) {
				jQ("#surv_list_<%= instruction.public_id %>").html(data);
				jQ("#surv_list_<%= instruction.public_id %>").show();
			});
	})
});
</script>

			</tbody>
		</table>
		
		<% end-%>


	<% else -%>
	<table  style="width:800px;">
		<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
		<tbody>
			<tr  style=" border:0px solid #ddd;" >
				<td style="text-align:center; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #C73914; font-weight:normal; font-size:12px">
					No Questions For <%=instruction.display_name %>
				</td>				
			</tr>
		</tbody>
	</table>
	<% end -%>
</div>

