<div id="manage_folders">
<div style ="color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold"> 
	<strong><center> <%= @current_organization.medium_name %> <%= app.name.titleize %> Folders</center></strong>
</div>	
	<%= render :partial => "/shared/error_and_notice" %>
	<% if admin -%>
		<% if folder.nil?%>
			<table id="create_header" style="width:750px;  margin-left:80px; border:0px solid #ddd;">
				<tbody>
					<style type="text/css" media="screen">
				    table,tr,td { border:medium}
					table tr:hover{
		 	       	background-color: transparent;
		 	     	}
		 		   	</style>
					<tr>
						<td id="create_show"  style = "border:0px solid #ddd; cursor:pointer; text-align:left; font-weight:normal; vertical-align:top; padding-bottom:5px; font-size:10.5px; color: #1b5698;">
							<u>Create Folder </u>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="create_descript" style="width:750px; margin-left:80px; border:0px solid #ddd;">
				<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
	   			</style>
				<tbody>  
					<tr>
						<td   id = "create_hide" style="width:7%; border:0px solid #ddd; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; font-size:11px; ">
							<u>Cancel</u>
						</td>
						<td   id = "create_folder" style="width:11%; border:0px solid #ddd; vertical-align:top;  padding-left:10px; padding-right:2px; padding-top:0px; font-size:11px; ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								Create
							</span>
						</td>
						<td   style="width:40%; border:0px solid #ddd; line-height:1.3em; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						     Name<br/>
						     <%= text_field :folder, :name, :value => "", :size => 30, :maxlength => 30 %>			
						</td>
						<td   style="width:43%; border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							<%=  select(:parent, :id,  [["Not A Sub-Folder", 0]] + @current_organization.folders.for_app(app).all_parents.sort_by{|f| [f.name]}.collect{|f| [f.name, f.id]},{:prompt =>"Sub-Folder Of..."}) %>
						</td>
					</tr>
					<tr>
						<td   colspan = 2 style=" border:0px solid #ddd; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; font-size:11px; ">
							&nbsp;
						</td>
						<td   colspan=2 style=" border:0px solid #ddd; line-height:1.3em; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						     Description<br/>
						     <%= text_area :folder, :descript, :value => "", :rows => 2, :col => 45 %>			
						</td>
					</tr>
				</tbody>
			</table>
		<script type="text/javascript">
		jQ(document).ready(function() {
		  		  jQ("#create_header").show();
				  jQ("#create_descript").hide();		  
		
			jQ("#create_show").click(function() {
				  	jQ("#create_header").hide();	 
			   		jQ("#create_descript").slideDown("slow");
			})
		
			jQ("#create_hide").click(function() {
			   		jQ("#create_descript").slideUp("slow");
			   		jQ("#create_header").show();
			})	
		});
		</script>
		<% else -%>
			<table style="width:750px; margin-left:80px; border:0px solid #ddd;">
				<style type="text/css" media="screen">
			    		table,tr,td { border:none }
						table tr:hover{
		        		background-color: transparent;
		      			}
	   			</style>
				<tbody>  
					<tr>
						<td style="width:8%; border:0px solid #ddd; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; font-size:11px; ">
							<%= link_to 'Cancel', app_folder_edit_path(:organization_id => @current_organization,  :app_id=>app.id, :folder_id => nil), :class => "cancel_edit" %>
						</td>
						<td   id = "create_folder" style="width:11%; border:0px solid #ddd; vertical-align:top;  padding-left:10px; padding-right:2px; padding-top:0px; font-size:11px; ">
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
								Update
							</span>
						</td>
						<td   style="width:40%; border:0px solid #ddd; line-height:1.3em; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						     Name<br/>
						     <%= text_field :folder, :name, :value => folder.name, :size => 30, :maxlength => 30 %>			
						</td>
						<td   style="width:41%; border:0px solid #ddd; vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							<%=  select(:parent, :id, [["Not A Sub-Folder", 0]] + app.folders.for_org(@current_organization).all_parents.sort_by{|f| [f.name.upcase]}.collect{|f| [f.name, f.id]}, {:include_blank =>folder.parent_folder.name}) %>
						</td>
					</tr>
					<tr>
						<td   colspan = 2 style=" border:0px solid #ddd; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; font-size:11px; ">
							&nbsp;
						</td>
						<td   colspan=2 style=" border:0px solid #ddd; line-height:1.3em; vertical-align:top;  padding-left:0px; padding-right:0px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
						     Description<br/>
						     <%= text_area :folder, :descript, :value => folder.description, :rows => 2, :col => 45 %>			
						</td>
					</tr>
				</tbody>
			</table>
		<% end -%>
		<% unless @current_organization.folders.for_app(app).empty? || !app.classroom?%>
			<table id="offering_levels"  style="margin-left:80px; width:535px; border:0px solid #ddd;">
				<tbody> 
						<tr>
							<td class="resource_levels_close" style=" color: #2061a5; font-weight:normal;  padding-bottom:4px; font-size:12px">							
								<%= link_to '', offering_admin_folders_path(:organization_id => @current_organization) %>
								Assign Offerings To Folders
								<span></span>
							</td>
						</tr>
				</tbody>
			</table>
		
		<script type="text/javascript" charset="utf-8">
		jQ(document).ready(function() {
			jQ('#offering_levels .resource_levels_close').toggleResourceLevels();
			jQ('#offering_levels .resource_levels_open').toggleResourceLevels();	
		});
		</script>
		<% end %>

		<%= render :partial => "/apps/shared/edit_folders", :locals => {:app => app, :org => @current_organization}  %>

	<% else -%>
		<span style="text-align:center; font-size:12.5px;  color: #C83A14;">
			Not Authorized
		</span>
	<% end -%>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#create_folder').click(function() {
		var parent_id = jQ('#parent_id').val();
		var folder_name = jQ('#folder_name').val();
		var folder_description = jQ('#folder_descript').val();
		var url = "<%= app_folder_new_url(:organization_id => @current_organization, :app_id => app.id, :folder_id=> folder) %>";
			jQ.get(url, { 'parent_id': parent_id, 'name':folder_name, 'description':folder_description}, function(data) {
			jQ("#manage_folders").html(data); 
	   		jQ("#manage_folder").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.cancel_edit').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#manage_folders").html(data);
				jQ("#manage_folders").show();
			})
			return false;
	})
});
</script>
</div>
