<div id="manage_folders">
  <div class= 'row panel_title_blue'>
    <%= @current_organization.medium_name %> <%= app.name.titleize %> Folders
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
	    <%= render :partial => "/shared/error_and_notice" %>
      <% if admin -%>
        <% if folder.nil?%>
          <table class="folder_edit_box" id="create_header">
            <tbody>
              <tr>
                <td class="hide_show" id="create_show">
                  Create Folder
                </td>
              </tr>
            </tbody>
          </table>
			    <table class="folder_edit_box" id="create_descript">
            <tbody>
              <tr>
                <td class="hide_show" id = "create_hide">
                  Cancel
                </td>
                <td class="button_col" id = "create_folder">
                  <span class="button_blue">
                    Create
                  </span>
                </td>
                <td class="label_col">
                    Folder Name
                </td>
                <td class="input_col">
                  <%= text_field :folder, :name, :value => "", :size => 30, :maxlength => 30 %>
                </td>
              </tr>
              <tr>
                <td   colspan = 2>
                  &nbsp;
                </td>
                <td class="label_col">
                     Description
                </td>
                <td class="input_col">
                  <%= text_area :folder, :descript, :value => "", :rows => 2, :col => 45 %>
                </td>
              </tr>
              <tr>
                <td   colspan = 3>
                  &nbsp;
                </td>
                <td class="input_col">
                  <%=  select(:parent, :id,  [["Not A Sub-Folder", 0]] + @current_organization.folders.for_app(app).all_parents.sort_by{|f| [f.name]}.collect{|f| [f.name, f.id]},{:prompt =>"Sub-Folder Of..."}) %>
                </td>
              </tr>
            </tbody>
          </table>
	      	<script type="text/javascript">
		jQ(document).ready(function() {
		  		  jQ("#create_header").show();
				  jQ("#create_descript").hide();		  
		
			jQ("#create_show").click(function() {
				  	jQ("#create_header").hide();	 
			   		jQ("#create_descript").slideDown("slow");
			})
		
			jQ("#create_hide").click(function() {
			   		jQ("#create_descript").slideUp("slow");
			   		jQ("#create_header").show();
			})	
		});
		</script>
        <% else -%>
			    <table class="folder_edit_box">
            <tbody>
              <tr>
                <td class="hide_show">
                  <%= link_to 'Cancel', app_folder_edit_path(:organization_id => @current_organization,  :app_id=>app.id, :folder_id => nil), :class => "cancel_edit" %>
                </td>
                <td class="button_col" id = "create_folder">
                  <span class="button_blue">
                    Update
                  </span>
                </td>
                <td class="label_col">
                  Folder Name
                </td>
                <td class="input_col">
                  <%= text_field :folder, :name, :value => folder.name, :size => 30, :maxlength => 30 %>
                </td>
              </tr>
              <tr>
                <td   colspan = 2>
                  &nbsp;
                </td>
                <td class="label_col">
                  Description
                </td>
                <td class="input_col">
                  <%= text_area :folder, :descript, :value => folder.description, :rows => 2, :col => 45 %>
                </td>
              </tr>
              <tr>
                <td   colspan = 3>
                  &nbsp;
                </td>
                <td class="input_col">
                  <%=  select(:parent, :id, [["Not A Sub-Folder", 0]] + app.folders.for_org(@current_organization).all_parents.sort_by{|f| [f.name.upcase]}.collect{|f| [f.name, f.id]}, {:include_blank =>folder.parent_folder.name}) %>
                </td>
              </tr>
            </tbody>
          </table>
		    <% end -%>
		    <% unless @current_organization.folders.for_app(app).empty? || !app.classroom?%>
          <table id="offering_levels">
            <tbody>
                <tr>
                  <td class="resource_levels_close" >
                    <%= link_to '', offering_admin_folders_path(:organization_id => @current_organization) %>
                    Assign Offerings To Folders
                    <span></span>
                  </td>
                </tr>
            </tbody>
          </table>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ('#offering_levels .resource_levels_close').toggleResourceLevels();
              jQ('#offering_levels .resource_levels_open').toggleResourceLevels();
            });
          </script>
          <table id="mastery_levels">
            <tbody>
            <tr>
              <td class="resource_levels_close" >
                <%= link_to '', offering_folder_mastery_path(:organization_id => @current_organization) %>
                Assign Mastery Levels To Folders
                <span></span>
              </td>
            </tr>
            </tbody>
          </table>
          <script type="text/javascript" charset="utf-8">
            jQ(document).ready(function() {
              jQ('#mastery_levels .resource_levels_close').toggleResourceLevels();
              jQ('#mastery_levels .resource_levels_open').toggleResourceLevels();
            });
          </script>
		    <% end %>

		    <%= render :partial => "/apps/shared/edit_folders", :locals => {:app => app, :org => @current_organization}  %>

      <% else -%>
        <span style="text-align:center; font-size:12.5px;  color: #C83A14;">
          Not Authorized
        </span>
      <% end -%>

    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ('#create_folder').click(function() {
          var parent_id = jQ('#parent_id').val();
          var folder_name = jQ('#folder_name').val();
          var folder_description = jQ('#folder_descript').val();
          var url = "<%= app_folder_new_url(:organization_id => @current_organization, :app_id => app.id, :folder_id=> folder) %>";
            jQ.get(url, { 'parent_id': parent_id, 'name':folder_name, 'description':folder_description}, function(data) {
            jQ("#manage_folders").html(data);
              jQ("#manage_folder").show();
            });
        })
      });
    </script>

    <script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.cancel_edit').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#manage_folders").html(data);
				jQ("#manage_folders").show();
			})
			return false;
	})
});
</script>
  </div>
     <div class="col-md-1"></div>
  </div>
</div>