<div id="waiting_surveys">
	<% no_surveys = true -%>
	<% user.waiting_surveys.active.sort{|a,b| b.created_at <=> a.created_at}.each do |survey| -%>
		<% if (survey.schedule_end.nil? || Date.today <= survey.schedule_end)-%>
			<% no_surveys = false -%>
			<table id="survey_<%= survey.id %>"   style="width:99%;">
				<tbody>  
					<% col_label = "Take " + survey.display_label + " " + survey.type_name + " Survey" -%>
					<% col_label2 = "<small><i>(" + time_ago_in_words(survey.created_at.to_s, include_seconds = false) + " ago)</i></small>" -%>
						<tr>
						<td class="resource_levels_close" style="color: #C83A14;  font-size:11.5px; font-weight:normal">
		
						<%= link_to '', survey_take_path(:organization_id => @current_organization, :schedule_id => survey.public_id) %>
						<%= col_label %>&nbsp;&nbsp;<%= col_label2 %>
						<span></span>
						</td>
						</tr>
				</tbody>
			</table>
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#survey_<%= survey.id %> .resource_levels_close').toggleResourceLevels();
				jQ('#survey_<%= survey.id %> .resource_levels_open').toggleResourceLevels();	
			});
			</script>	
		<% else -%>
			<% survey.de_activate -%>
		<% end -%>
	<% end -%>

	<% if no_surveys-%>
		<table  style="width:99%;">
			<tbody>  
				<% col_label = "No " + user.last_name + " Surveys Currently Scheduled To Take"  %>
					<tr>
						<td style="color: #C83A14;  font-size:11.5px; font-weight:normal">
						<i><%= col_label %></i>
						<span></span>
						</td>
					</tr>
			</tbody>
		</table>
	<% end -%>
</div>