<div id="history_<%= question.public_id %>" style = "color: #2061a5; font-weight:normal;  font-size:12.5px">
	<table style="width:600px; margin-left:0px; border:1px solid #ddd;">
		<thead>
			<tr style="margin-left:0px; border:1px solid #ddd;">
					<th style=" width:120px;  border:1px solid #ddd; vertical-align:middle;  text-align:center; padding-top:0px; padding-bottom:0px;  color: #2061a5; font-weight:normal; font-size:12px ">
						<br/>Month
					</th>
					<th style=" width:120px; border:1px solid #ddd; vertical-align:middle;  text-align:center; padding-top:0px; padding-bottom:0px; color: #2061a5; font-weight:normal; font-size:12px">
						<br/>
						<%= question.tlt_survey_range_type.low_end%>
					</th>
					<th style=" width:120px; border:1px solid #ddd; vertical-align:middle;  text-align:center; padding-top:0px; padding-bottom:0px; color: #2061a5; font-weight:normal; font-size:12px">
						Somewhat<br/>
						<%= question.tlt_survey_range_type.low_end%>
					</th>
					<th style=" width:120px; border:1px solid #ddd; vertical-align:middle;  text-align:center; padding-top:0px; padding-bottom:0px;  color: #2061a5; font-weight:normal; font-size:12px">
						Somewhat<br/>
						<%= question.tlt_survey_range_type.high_end%>
					</th>
					<th style=" width:120px; border:1px solid #ddd; vertical-align:middle;  text-align:center; padding-top:0px; padding-bottom:0px;  color: #2061a5; font-weight:normal; font-size:12px">
						<br/>
						<%= question.tlt_survey_range_type.high_end%>
					</th>
			</tr>
		</thead>
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<% for_month = end_date.beginning_of_month%>
			<% until for_month < start_date.beginning_of_month do -%>
				<% unless question.tlt_survey_responses.between(for_month, for_month.end_of_month).empty? -%>
					<% avg_score = (question.tlt_survey_responses.between(for_month, for_month.end_of_month).collect{|r| r.score}.sum.to_f/question.tlt_survey_responses.between(for_month, for_month.end_of_month).size.to_f).to_f -%>
					<% score_idx = (avg_score*12.0/4.0).to_i -%>
					<tr  style="border:1px solid #ddd;">
						<td style=" width:120px; border:1px solid #ddd;  color: #2061a5; vertical-align:middle; text-align:center; font-weight:normal; font-size:12.5px" >
							<%= for_month.strftime("%B")%></br><%= for_month.strftime("%G")%>
						</td>
						<td style=" width:120px; border:1px solid #ddd;  color: #2061a5; vertical-align:bottom; text-align:center; font-weight:normal; font-size:12.5px" >
							<%= question.tlt_survey_responses.of_score(1).between(for_month, for_month.end_of_month).size%>
							<center>
								<table style="width:120px; margin-left:0px; border:0px solid #ddd;">
									<tbody>
										<tr>
											<% [2,3,4].each do |s|%>
												<% if score_idx == s -%>
													<td style="width:40px; padding-left:15px; border:0px solid #ddd;">
														<%=  image_tag "button_enabled.png",:width => 12 %>
													</td>
												<% else -%>
													<td style="width:40px; margin-left:0px; border:0px solid #ddd;">
														<center>.</center>
													</td>												
												<% end -%>
											<% end -%>
										</tr>
									</tbody>
								</table>
							</center>
						</td>

						<td style=" width:120px; border:1px solid #ddd;  color: #2061a5; padding-top:10px; vertical-align:bottom; text-align:center; font-weight:normal; font-size:12.5px" >
							<%= question.tlt_survey_responses.of_score(2).between(for_month, for_month.end_of_month).size%>
							<center>
								<table style="width:120px; margin-left:0px; border:0px solid #ddd;">
									<tbody>
										<tr>
											<% [5,6,7].each do |s|%>
												<% if score_idx == s -%>
													<td style="width:40px; padding-left:15px; border:0px solid #ddd;">
														<%=  image_tag "button_enabled.png",:width => 12 %>
													</td>
												<% else -%>
													<td style="width:40px; margin-left:0px; border:0px solid #ddd;">
														<center>.</center>
													</td>												
												<% end -%>
											<% end -%>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
						<td style="width:120px; border:1px solid #ddd;  color: #2061a5; vertical-align:bottom; text-align:center; font-weight:normal; font-size:12.5px" >
							<%= question.tlt_survey_responses.of_score(3).between(for_month, for_month.end_of_month).size%>
							<br/>
							<center>
								<table style="width:120px; margin-left:0px; border:0px solid #ddd;">
									<tbody>
										<tr>
											<% [8,9,10].each do |s|%>
												<% if score_idx == s -%>
													<td style="width:40px; padding-left:15px; border:0px solid #ddd;">
														<%=  image_tag "button_enabled.png",:width => 12 %>
													</td>
												<% else -%>
													<td style="width:40px; margin-left:0px; border:0px solid #ddd;">
														<center>.</center>
													</td>												
												<% end -%>
											<% end -%>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
						<td style=" width:120px; border:1px solid #ddd;  color: #2061a5; vertical-align:bottom; text-align:center; font-weight:normal; font-size:12.5px" >
							<%= question.tlt_survey_responses.of_score(4).between(for_month, for_month.end_of_month).size%>
							<br/>
							<center>
								<table style="width:120px; margin-left:0px; border:0px solid #ddd;">
									<tbody>
										<tr>
											<% [11,12,13].each do |s|%>
												<% if score_idx == s -%>
													<td style="width:40px; padding-left:15px; border:0px solid #ddd;">
														<%=  image_tag "button_enabled.png",:width => 12 %>
													</td>
												<% else -%>
													<td style="width:40px; margin-left:0px; border:0px solid #ddd;">
														<center>.</center>
													</td>												
												<% end -%>
											<% end -%>
										</tr>
									</tbody>
								</table>
							</center>
						</td>
					</tr>
					<% end -%>
				<% for_month += -1.month%>
			<% end -%>
		<tbody> 
	</table>
					
</div>
