<div id="survey_summary">
<div style ="text-align:center; color: #2061a5; font-size:14px; margin-top:5px; font-weight:bold">
	<strong><%= org.provider_app_name(app) %> Survey Repository</strong>
</div>

<% app.tlt_survey_types.collect{|t| t.survey_instructions}.flatten.sort_by{|si| si.tlt_survey_type.sequence}.each do |instruction| -%>	

		<table id="surveys_<%= instruction.public_id%>"  style="margin-left:40px; width:800px;">
			<tbody>
				<tr>
					<td class="resource_levels_close" style=" color: #2061a5;font-weight:normal;  font-size:12px">
						<%= link_to '', surveys_show_path(:organization_id => @current_organization, :org_id => org, :admin => admin, :app_id => app, :survey_instruction => instruction) %>
						<%= instruction.display_name %>
						<span></span>
					</td>
				</tr>
			</tbody>
		</table>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#surveys_<%= instruction.public_id%> .resource_levels_close').toggleResourceLevels();
	jQ('#surveys_<%= instruction.public_id%> .resource_levels_open').toggleResourceLevels();	
});
</script>

<% end -%>
</div>
