<table style="width:700px; border:0px solid #ddd; color:#000000;">
	<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:medium }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<% schedule.organization.tlt_survey_questions.for_audience(audience).for_type(survey_type).active.each_with_index do |quest,idx|%>
				<tr   style="margin-left:00px; border:0px solid #ddd;">
					<td   style="width:700px; border:0px solid #ddd; margin-left:0px; padding-top:20px; vertical-align:top; color: #2061a5;  font-size:13.5px; font-weight:normal; padding-left:0px; padding-right:0px; text-align:left;">
						<%= quest.position %>)&nbsp;<%= quest.question %>
					</td>
				<tr/>
				<tr   style="margin-left:00px; border:0px solid #ddd;">
					<td syle="width:700px; border:0px solid #ddd;">
						<table syle="width:720px; border:0px solid #ddd;">
							<tbody>  
								<style type="text/css" media="screen">
						    		table,tr,td { border:none; }
									table tr:hover{
					        		background-color: transparent;
					      			}
					   			</style>
								<tr>
									<td   style="width:175px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:10px;">
										<input type='radio' id='survey_answer' name="question[<%=quest.id %>]" value='1' />&nbsp;<%= quest.tlt_survey_range_type.low_end %>
									</td>										
									<td   style="width:175px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:10px;">
										<input type='radio' id='survey_answer' name="question[<%=quest.id %>]" value='2' />&nbsp;Somewhat&nbsp;<%= quest.tlt_survey_range_type.low_end %>
									</td>										
									<td   style="width:175px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:10px;">
										<input type='radio' id='survey_answer' name="question[<%=quest.id %>]" value='3' />&nbsp;Somewhat&nbsp;<%= quest.tlt_survey_range_type.high_end %>
									</td>										
									<td   style="width:175px; border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:10px;">
										<input type='radio' id='survey_answer' name="question[<%=quest.id %>]" value='4' />&nbsp;<%= quest.tlt_survey_range_type.high_end %>
									</td>
								</tr>
								<tr>
									<td   colspan=4 style=" border:0px solid #ddd; margin-left:0px; vertical-align:top; text-align:left; font-size:11px;">
										<%= text_area :survey_response, quest.id.to_s , :rows => 1, :cols => 85  %><br/>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>		
			<tr>
				<td   colspan=2 style=" border:0px solid #ddd; margin-left:0px; vertical-align:bottom; text-align:left; font-size:11px;">
					&nbsp;
				</td>
			</tr>
			<% end -%>
		</tbody>
	</table>
