
	<div style ="color: #2061a5; font-size:16px; margin-top:0px; padding-top:20px; font-weight:bold"> 
		<strong><center>Maintain&nbsp;<%= @app.name %>&nbsp;Rubric</center></strong>
	</div>
	
	<%= render :partial => "/shared/error_and_notice" %>

<% unless @entity.nil? %>	
<div class="Form clear">
	<% form_for(:rubric, :url => {:controller => "/apps/shared", :action => :maintain_rubric, :organization_id => @current_organization, :scope_id=>@entity.id, :scope_type=>@entity.class.to_s, :rubric_id=>@rubric, :app_id => @app, :function => @function}) do |form| %>
	
		<div class="FormRow submit_warp" style= "padding-left:25px">	
			<%= submit_tag (@function + " Rubric"), :class =>"fsn-button ui-button ui-state-default ui-corner-all save"  %>
		<br/>
		</div>	
	
		<div class="formBox">
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Name:
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        <%= text_field :rubric, :name, :value => @rubric.name, :size => 15, :maxlength => 15 %>
		        </div>
		    </div>	
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Abbreviation:
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        	<%= text_field :rubric, :abbrev, :value => @rubric.abbrev,  :size => 1, :maxlength => 1 %>
		        </div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Drop-down Position:
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        	<%= text_field :rubric, :position, :value => @rubric.position,  :size => 1, :maxlength => 2 %>
		        </div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Score:
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        	<%= text_field :rubric, :score, :value => @rubric.score,  :size => 1, :maxlength => 3 %>
		        </div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Activate:
	        	</div>
				<div class="FormRowData" style= "margin-left:25px">
        			<%= check_box :rubric, :is_active, :value=>@rubric.is_active %>
				</div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Background Color:<br/>
		        	<small> #xxxxxx  (hex)</small>
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        	<%= text_field :rubric, :color_background, :value => (@rubric.color_background.nil? ? "" : @rubric.color_background),  :size => 7, :maxlength => 7 %>
		        </div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Font Color:<br/>
		            <small> #xxxxxx  (hex)</small>
		        </div>
		        <div class="FormRowData" style= "margin-left:25px">
		        	<%= text_field :rubric, :color_font, :value => (@rubric.color_font.nil? ? "" : @rubric.color_font), :size => 7, :maxlength => 7 %>
		        </div>
		    </div>
			<div class="FormRow">
		      <div class="FormRowTitle">
		            Criteria:
		        </div>
					<div class="FormRowData" style= "margin-left:25px">
		   			  <%= text_area :rubric, :criteria, :rows => 20, :cols => 75, :maxlength => 1024, :value => @rubric.criteria  %>
					</div>
		    </div>	
			<div class="FormRow">
	      <div class="FormRowTitle">
	           
	        </div>
	        <div class="FormRowData" style= "margin-left:25px">
	        	&nbsp;
	        </div>
	    </div>
		</div>	
	<% end -%>
</div>
<% else-%>
	No Entity Class Defined
<% end -%>
<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>