<% activity_tasks.in_groups_of(3).each do |task| -%>
  <% if task[0] || task[1] || task[2] -%>
    <div class="row untimed_row">
      <div class="col-md-4  ">
        <% if task[0] -%>
          <div class="row untimed_button">
            <div class="col-md-2">
              <div id="no_time_log_<%= task[0].id.to_s %>" >
                <span class='btn btn-default btn-xs'>
                  <%= link_to 'Log', ctl_observe_evidence_add_path(:user_id => @current_user, :organization_id => @current_organization, :tlt_task_id => task[0].id,:tlt_session_id => tl_session), :class => 'task_button' %>
                </span>
              </div>
            </div>
            <div class="col-md-10">
              <div id="c0a_<%=task[0].id %>" href="">
                <span class="untimed_label">
                  <%= task[0].name.titleize -%>
                </span>
              </div>
              <div title="<%=task[0].tl_activity_type.activity %>" id="c0b_<%=task[0].id %>">
                <div class="title_large_blue" style="margin-bottom:15px;">
                  <%= task[0].name.titleize -%>
                </div>
                <div class="normal_text" style=" font-size:12px;">
                  <%= task[0].description -%>
                </div>
              </div>
              <script type="text/javascript" charset="utf-8">
                jQ(document).ready(function() {
                  jQ("#c0b_<%=task[0].id %>").dialog({
                        bgiframe: true,
                        autoOpen: false,
                        width: 500,
                        height: 180,
                        modal: true,
                        buttons: {
                          Close: function(){
                            jQ(this).dialog('close');
                          }
                        }
                      }
                  );
                  jQ('#c0a_<%=task[0].id %>').click(function(event){
                    jQ("#c0b_<%=task[0].id %>").dialog('open');
                    event.preventDefault();
                  })
                });
              </script>
            </div>
          </div>
        <% else -%>
          &nbsp;
        <% end %>
      </div>
      <div class="col-md-4 untimed_button">
        <% if task[1] -%>
          <div class="row untimed_button">
            <div class="col-md-2">
              <div id="no_time_log_<%= task[1].id.to_s %>" >
                <span class='btn btn-default btn-xs'>
                  <%= link_to 'Log', ctl_observe_evidence_add_path(:user_id => @current_user, :organization_id => @current_organization, :tlt_task_id => task[1].id,:tlt_session_id => tl_session), :class => 'task_button' %>
                </span>
              </div>
            </div>
            <div class="col-md-10">
              <div id="c1a_<%=task[1].id %>" href="">
                <span class="untimed_label">
                  <%= task[1].name.titleize -%>
                </span>
              </div>
              <div title="<%=task[1].tl_activity_type.activity %>" id="c1b_<%=task[1].id %>">
                <div class="title_large_blue" style="margin-bottom:15px;">
                  <%= task[1].name.titleize -%>
                </div>
                <div class="normal_text" style=" font-size:12px;">
                  <%= task[1].description -%>
                </div>
              </div>
              <script type="text/javascript" charset="utf-8">
                jQ(document).ready(function() {
                  jQ("#c1b_<%=task[1].id %>").dialog({
                        bgiframe: true,
                        autoOpen: false,
                        width: 500,
                        height: 180,
                        modal: true,
                        buttons: {
                          Close: function(){
                            jQ(this).dialog('close');
                          }
                        }
                      }
                  );
                  jQ('#c1a_<%=task[1].id %>').click(function(event){
                    jQ("#c1b_<%=task[1].id %>").dialog('open');
                    event.preventDefault();
                  })
                });
              </script>
            </div>
          </div>
        <% else -%>
            &nbsp;
        <% end %>
      </div>
      <div class="col-md-4 untimed_button">
        <% if task[2] -%>
          <div class="row untimed_button">
            <div class="col-md-2">
              <div id="no_time_log_<%= task[2].id.to_s %>" >
                <span class='btn btn-default btn-xs'>
                  <%= link_to 'Log', ctl_observe_evidence_add_path(:user_id => @current_user, :organization_id => @current_organization, :tlt_task_id => task[2].id,:tlt_session_id => tl_session), :class => 'task_button' %>
                </span>
              </div>
            </div>
            <div class="col-md-10">
              <div id="c2a_<%=task[2].id %>" href="">
                <span class="untimed_label">
                  <%= task[2].name.titleize -%>
                </span>
              </div>
              <div title="<%=task[2].tl_activity_type.activity %>" id="c2b_<%=task[2].id %>">
                <div class="title_large_blue" style="margin-bottom:15px;">
                  <%= task[2].name.titleize -%>
                </div>
                <div class="normal_text" style=" font-size:12px;">
                  <%= task[2].description -%>
                </div>
              </div>
              <script type="text/javascript" charset="utf-8">
                jQ(document).ready(function() {
                  jQ("#c2b_<%=task[2].id %>").dialog({
                        bgiframe: true,
                        autoOpen: false,
                        width: 500,
                        height: 180,
                        modal: true,
                        buttons: {
                          Close: function(){
                            jQ(this).dialog('close');
                          }
                        }
                      }
                  );
                  jQ('#c2a_<%=task[2].id %>').click(function(event){
                    jQ("#c2b_<%=task[2].id %>").dialog('open');
                    event.preventDefault();
                  })
                });
              </script>
            </div>
          </div>
        <% else -%>
            &nbsp;
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>