
<div id="no_timed_tasks">
  <% unless for_strategy -%>
    <div class="row">
      <div class="col-md-12">
        <p class="observation_method">
          <%= app_method.task_name.pluralize.upcase %>
        </p>
      </div>
    </div>
  <% end %>
			<% if for_strategy-%>
				<% tl_session.active_strategies.each do |strat| -%>
          <div class="row">
            <div class="col-md-12">
              <p class=" observation_activity">
                Typical Evidence for <%= strat.name.upcase %>
              </p>
            </div>
          </div>
          <%= render :partial => "tlt_activity_timed_no_row", :locals => { :tl_session=> tl_session, :activity_tasks => strat.evidences_method(app_method), :app_method=>app_method}%>
				<% end -%>
			<% else -%>
				<% app_method.tl_activity_types.by_position.select{|a| !a.tl_activity_type_tasks.empty?}.each do |activity| -%>
					<% filtered_tasks = (tl_session.itl_template && !tl_session.itl_template.tl_activity_type_tasks.empty?) ? tl_session.itl_template.tl_activity_type_tasks.for_activity(activity) : [] %>
					<% activity_tasks = activity.tl_activity_type_tasks.enabled.by_position - filtered_tasks  -%>
					<% unless activity_tasks.empty? -%>
            <div class="row">
              <div class="col-md-12">
                <p class="observation_activity">
                  <%=activity.activity %>
                </p>
              </div>
            </div>
            <%= render :partial => "tlt_activity_timed_no_row", :locals => { :tl_session=> tl_session, :activity_tasks => activity_tasks, :app_method=>app_method}%>
					<% end -%>
				<% end -%>
			<% end -%>
</div>

