<div id="track_activities">
	<% text_color = "#59637f" -%>
	<% family = "Garamond, Time New Roman, Helvitica,sans-serif" -%>
	<% background = "transparent" -%>
	<table  style="width:1195px; width:fixed; border:0px solid #ddd;padding-top:0px; font-family:<%=family%>; background:<%= background%>">
		<tbody>  
			<style type="text/css" media="screen">
	    		table,tr,td { border:none }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
			<% if @suspended -%>
				<tr>
					<td colspan=2 style= "width:830px; width:fixed; border:0px solid #ddd;padding-left:0px; line-height:2.0em; background-color: #C83A14; color: #FFFFFF; font-size:16px; text-align:center; font-weight:bold">
						Resuming An Interupted Session.  Please Check Your Last Log Entry 
					</td>
				</tr>
			<% end -%>
			<tr>
				<td style= "width:360px; width:fixed; border:0px solid #ddd;padding-left:0px;">
					<div style="max-width: 360px;">
						<%= render :partial => "tlt_activity_log", :locals => {:tl_session => tl_session, :no_impact_updates => true, :count=>7}%>
					</div>
				</td>
				<td style= "width:830px; width:fixed; border:0px solid #ddd; vertical-align:top; padding-top:0px;">
					<div style="overflow: auto;  max-height: 650px;">
						<div >
							<% tl_session.app_methods.by_position.each do |method| -%>
								<% if method.timed? -%>
									<%= render :partial => "tlt_activity_timed_yes", :locals => {:tl_session => tl_session, :app_method => method, :text_color=>text_color, :family=>family}%>
									<% @current_organization.itl_org_option.app_methods.not_timed.each do |meth| -%>
										<% if !tl_session.active_strategy_evidences_method(meth).empty?%>
											<%= render :partial => "tlt_activity_timed_no", :locals => {:tl_session => tl_session, :app_method => meth, :for_strategy=>true,:text_color=>text_color, :family=>family}%>
										<% end -%>
									<% end -%>
								<% else -%>
									<%= render :partial => "tlt_activity_timed_no", :locals => {:tl_session => tl_session, :app_method => method, :for_strategy=>false, :text_color=>text_color, :family=>family}%>
								<% end -%>
							<% end -%>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<br/>

</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.task_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#track_activities").html(data);
				jQ("#track_activities").show();
			})
			return false;
	})
});
</script>


