<div id="track_activities">
  <% if @suspended -%>
    <div class="row sorry">
      Resuming An Interrupted Session.  Please Check Your Last Log Entry
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="log_panel">
        <%= render :partial => "tlt_activity_log", :locals => {:tl_session => tl_session, :no_impact_updates => true}%>
      </div>
    </div>
    <div class="col-md-8">
        <% tl_session.app_methods.by_position.each do |method| -%>
          <% if method.timed? -%>
            <div class="observation_panel"style="background-color:<%= '#'+ method.dashboard_color %>">
              <%= render :partial => "tlt_activity_timed_yes", :locals => {:tl_session => tl_session, :app_method => method}%>
            </div>
            <% @current_organization.itl_org_option.app_methods.not_timed.each do |meth| -%>
              <% if !tl_session.active_strategy_evidences_method(meth).empty?%>
                <div class="observation_panel" style="background-color:<%= "#"+ meth.dashboard_color %>">
                  <%= render :partial => "tlt_activity_timed_no", :locals => {:tl_session => tl_session, :app_method => meth, :for_strategy=>true}%>
                </div>
              <% end -%>
            <% end -%>
          <% else -%>
            <div class="observation_panel" style="background-color:<%= "#"+ method.dashboard_color %>">
              <%= render :partial => "tlt_activity_timed_no", :locals => {:tl_session => tl_session, :app_method => method, :for_strategy=>false}%>
            </div>
          <% end -%>
        <% end -%>

    </div>
  </div>

</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.task_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#track_activities").html(data);
				jQ("#track_activities").show();
			})
			return false;
	})
});
</script>


