<div class="row">
  <div class="col-md-3">
    <% if !tl_session.user.nil? && tl_session.user.image_present? %>
      <p class = 'ctl_user_pic'>
        <%= image_tag tl_session.user.picture.url(:thumb) %>
      </p>
    <% end -%>
    <p class = 'ctl_user_name'>
      <%= tl_session.user.nil? ? 'Undefined User' : tl_session.user.full_name %>
    </p>
  </div>
  <div class="col-md-6 observation_title">
    <%= tl_session.is_training? ? '(Practice) ' : '' %><%= tl_session.classroom.course_name %>;&nbsp;<%=  tl_session.class_period_name %>
    <p class="observation_subtitle">
      <%= pluralize(tl_session.students, " Student")%>,&nbsp;<%= pluralize((tl_session.duration/60).round, ' Minute')%>
    </p>
    <% if tl_session.topic %>
        <p class="header_label">
          Learning Unit:
      <span class="header_text">
        <%=  tl_session.topic.title.titleize %>
      </span>
        </p>
    <% end %>
    <% if !tl_session.lesson.blank? %>
      <p class="header_label">
        Lesson:
        <span class="header_text">
          <%=  tl_session.lesson.titleize %>
        </span>
      </p>
    <% end%>
    <% if !tl_session.observations.blank? %>
      <p class="header_label">
        Pre-Conference Notes:
        <span class="header_text">
          <%= tl_session.observations %>
        </span>
      </p>
    <% end %>
  </div>
  <div class="col-md-3">
    <% if !tl_session.observer.nil? && tl_session.observer.image_present?%>
      <p class = 'ctl_user_pic'>
        <%= image_tag tl_session.observer.picture.url(:thumb) %>
      </p>
    <% end -%>
    <p class = 'ctl_user_name'>
      <%= tl_session.observer.nil? ? 'Undefined Observer' : tl_session.observer.full_name %>
    </p>
  </div>
</div>
<% if tl_session.practice_video? -%>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div id="panel_video">
          <%= render :partial => "/apps/shared/show_video", :locals => {:code => tl_session.tlt_session_video.embed_code} %>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
<% end %>
<div class="row ctl_button_row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <%= link_to '  Abort  ', ctl_observe_abort_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => @tlt_session), :class =>"btn btn-danger btn-xs", :confirm => 'Are You Sure?  All Data Will Be Lost'  %>
  </div>
  <div class="col-md-6">
  </div>
  <div class="col-md-3 ctl_button">
    <%= link_to ' End Session ', ctl_observe_end_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => @tlt_session, :function => 'Close'), :class =>"btn btn-primary btn-xs", :confirm => 'All Notes Entered?' %>
  </div>
</div>