<div id="panel_header">
		<table style="width:1200px; background:<%=background%>; font-family:<%=family%>; color:<%=text_color%>">
			<tbody>  
				<style type="text/css" media="screen">
		    		table,tr,td { border:none; }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<tr>
					<td   style="width:5%; width:fixed; border:0px solid #ddd; color: #C83A14; font-size:14px; vertical-align:middle; text-align:right; padding-right:0px; margin-top:0px; font-weight:bold">
						&nbsp;
					</td>
		  			<% unless tl_session.user.picture.url.split("/").last == "missing.png" %>
						<td   style="width:17%; width:fixed; border:0px solid #ddd; color: #C83A14; font-size:14px; padding-left:60px; vertical-align:middle;  font-weight:bold">
				                 <%= image_tag tl_session.user.picture.url(:thumb) %> 
						</td>
		  			<% else -%>
						<td   style="width:17%; width:fixed; border:0px solid #ddd; color: #C83A14; font-size:14px; vertical-align:middle; text-align:center; padding-top:10px; font-weight:bold">
							<%=  tl_session.user.full_name %>
						</td>
			  		<% end -%>
					<td   style="width:10%; width:fixed; border:0px solid #ddd; color: #C83A14; font-size:12px; vertical-align:bottom; text-align:left; padding-left:0px; margin-top:0px; font-weight:bold">
						&nbsp;
					</td>
					<% unless tl_session.practice_video? -%>
						<td   style="width:60%; width:fixed; border:0px solid #ddd; vertical-align:middle;  margin-top:0px; padding-right:0px; font-weight:bold;  line-height:1.0em;">
							<span style = "color: #C83A14; font-size:18px;">
								<center><strong><%=  tl_session.classroom.course_name %></strong></center>
							</span>
							<% if tl_session.is_training? -%>
							<span style = "color: #C83A14; font-size:14px;">
								<br/><center><strong>Practice</strong></center>
							</span>							
							<% end -%>
							<% skip = true -%>		
							<% unless skip -%>
								<table style="width:520px; border:0px solid #ddd; color: #000000; line-height:1.5em;">
									<tbody>  
										<style type="text/css" media="screen">
								    		table,tr,td { border:none; }
											table tr:hover{
							        		background-color: transparent;
							      			}
							   			</style>
										<% if tl_session.classroom_period %>
											<tr  >
												<td   style="width:80px; padding-right:0px; text-align:right">
													Period:				
												</td>
												<td   style=" padding-right:0px; text-align:left">
													<%=  tl_session.class_period_name %>,&nbsp;<%= (tl_session.duration/60).round %>&nbsp;Minutes, &nbsp;<%= pluralize(tl_session.students, "Student")%>			
												</td>
											</tr>		
										<% end -%>
										<% if tl_session.topic %>
											<tr  >
												<td   style="width:80px; padding-right:0px; text-align:right">
													Unit:				
												</td>
												<td   style=" padding-right:0px; text-align:left">
													<%=  tl_session.topic.title.titleize %>				
												</td>
											</tr>		
										<% end -%>
										<% unless tl_session.lesson.empty? %>
											<tr  >
												<td   style="width:80px; padding-right:0px; text-align:right">
													Lesson:				
												</td>
												<td   style=" padding-right:0px; text-align:left">
													<%=  tl_session.lesson.titleize %>				
												</td>
											</tr>		
										<% end -%>		
										<% unless tl_session.observations.empty? %>
											<tr  >
												<td   style="width:80px; padding-right:0px; text-align:right">
													Pre-Conf:				
												</td>
												<td   style="padding-right:0px; line-height:1.5em; text-align:left">
													<%=  simple_format tl_session.observations %>				
												</td>
											</tr>		
										<% end -%>		
									</tbody>
								</table>	
							<% else -%>
								<% unless tl_session.observations.empty? -%>
									<span style=" text-align:left; font-weight:normal; font-size:14px; line-height:1.5em;">
										<br/><u>Pre-Conference Notes</u>	<br/>			
									</span>	
									<span style=" text-align:left; font-weight:normal; font-size:16px; line-height:1.5em;">
										<%=  simple_format tl_session.observations %>					
									</span>							
								<% else -%>
									<span style=" font-weight:normal; font-size:15px; line-height:1.5em;">
										</br/><center>* *&nbsp;&nbsp;No Pre-Conference Notes&nbsp;&nbsp;* *</center>			
									</span>									
								<% end -%>
							<% end -%>
						</td>
						<td   style="width:8%; width:fixed; border:0px solid #ddd; color: #C83A14; font-size:12px; vertical-align:bottom; text-align:left; padding-left:0px; margin-top:0px; font-weight:bold">
							&nbsp;
						</td>
					<% else -%>
					<td   style="width:68%; width:fixed; border:0px solid #ddd; color: #C83A14; vertical-align:top; font-size:14px; margin-top:0px; font-weight:bold;  line-height:1.5em;">
						<div id="panel_video">
							<%= render :partial => "/apps/shared/show_video", :locals => {:code => tl_session.tlt_session_video.embed_code} %>
						</div>
					</td>
					<% end -%>
					<td   style="width:10%; width:fixed; border:0px solid #ddd; color: #C83A14; vertical-align:top; font-size:14px; margin-top:0px; font-weight:bold;  line-height:1.5em;">
						&nbsp;
					</td>
				<tr>
			</tbody>
		</table>
</div>
