<div class="panel_container" style="width:100%;background-color:#f6f8f9;">
	<% text_color = "#59637f" -%>
	<% family = "Garamond, Time New Roman, Helvitica,sans-serif" -%>
	<% background = "#f6f8f9" -%>
    <%= render :partial => "track_session_header", :locals => {:tl_session => @tlt_session, :family=>family, :background=>background, :text_color=> text_color} %>
	<table  style="width:1200px; width:fixed; border:0px solid #ddd;padding-top:0px; background:<%= background%>; color:<%=text_color%>; font-family:<%=family%>">
		<tbody>
			<tr>
				<td style="width:200px; width:fixed; border:0px solid #ddd; padding-top:10px; padding-left:70px; vertical-align:bottom; font-size:14px">
					<span class = 'fsn-button ui-button ui-state-default ui-corner-all' style = "font-size:14px;cursor:pointer;">
						<%= link_to 'End Session', ctl_observe_end_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => @tlt_session, :function => 'Close'),:confirm => 'All Notes Entered?' %>
					</span>
				</td>
				<td style="width:125px; width:fixed; border:0px solid #ddd; padding-top:20px; vertical-align:bottom; text-align:right; font-size:16px;">
					&nbsp;
				</td>
				<td style="width:775px; width:fixed; border:0px solid #ddd; padding-top:20px; vertical-align:bottom; text-align:center; font-size:16px;">
					<%= @tlt_session.itl_template ? @tlt_session.itl_template.name : "" %>
				</td>
				<td style="width:100px; width:fixed; border:0px solid #ddd; padding-top:10px; vertical-align:bottom; font-size:14px;cursor:pointer;">
						<%= link_to 'ABORT', ctl_observe_abort_path(:organization_id => @current_organization, :user_id => @current_user, :tlt_session_id => @tlt_session), :confirm => 'Are You Sure?  All Data Will Be Lost'  %>
				</td>
			</tr>
		</tbody>
	</table>
  <%= render :partial => "tlt_activity_tracking", :locals => {:tl_session => @tlt_session}%>
</div>
