	<% unless @entity_submission_list.size == 0 -%>
<br/>
	<table id="roles" style="width:800px; border:0px">
			<thead>
				<tr>
					<th style="vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
					<strong><center>Date Taken</center></strong></th>
					<th style="vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Student</center></strong></th>			
					<th style="vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Assessment Summary</center></strong></th>
					<th><strong><center>&nbsp;</center></strong></th>
				</tr>
			</thead>
		<tbody>
			<style type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			<% for sub in @entity_submission_list do -%>
				<tr id="<%= sub.public_id %>" class="content-list-item">

						<td  width=150px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<%= sub.created_at.strftime("%m-%d-%y") %>
							</center>
						</td>
						<td  width=120px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= sub.user.full_name.titleize %>

						</td>
						
					 	<% range_string = sub.act_assessment.score_range(@current_standard) %>
						<td  width=420px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<% if sub.act_assessment.is_calibrated%> <center><%= (image_tag "calibrated_yes.png",:width => 15) -%></center><% end -%>
							<%= sub.act_assessment.name.titleize %><br/>
							<%= @current_standard.abbrev %> Mastery Level:&nbsp;<%= range_string %>
							<% if sub.is_final -%>
								<% final_label = "Final" -%>
							<% else -%>
								<% final_label = "Estimate"%>
							<% end -%>	
							, Score:&nbsp;<%= sub.sms_score(@current_standard)%>&nbsp;<i><%= final_label %></i><br/>
							Duration: <%= number_with_precision(sub.duration/60.0, :precision => 1) %> Minutes
						</td>
						<td  width=80px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<u>
							<%= link_to "VIEW", {:controller => "apps/assessment", :action => "view_submission", :organization_id => @current_organization, :classroom_id => @classroom,:submission_id => sub},{:target=>"_blank"} %> 
							</u>
							</center>
						</td>
		
					</tr>

			<% end %>
		</tbody>
	</table>

<% end -%>
