<div id="question_form" class="Form clear">
	<%= form_for(:act_question, :url => ifa_question_edit_path(:organization_id => @current_organization, :assessment_id => @assessment , :function => "Submit", :question_id => @question)) do |form| -%>
	<div class="FormRow">
		<br/>
		<div class="FormRowTitle"><strong>Related Content:</strong></div>
    <div class="FormRowData" id="reading_id" style= "margin-left:5px">
      <%=  select(:reading, :reading_id, @rel_readings,{:prompt => @reading_label}) %>
    </div>
  </div>
  <div class="FormRow">
    <br/>
    <div class="FormRowTitle"><strong>No Calculator:</strong></div>
    <div class="FormRowData" style= "margin-left:5px">
      <%= form.check_box :is_calc_free, :checked => @question.is_calc_free %>
    </div>
  </div>
    <div class="FormRow">
      <br/>
      <div class="FormRowTitle"><strong>Randomize Answers:</strong></div>
      <div class="FormRowData" style= "margin-left:5px">
        <%= form.check_box :is_random, :checked => @question.is_random %>
      </div>
    </div>

	<div class="FormRow" id="reading_text" >
		<div class="FormRowTitle">&nbsp;</div>
    <div class="FormRowData" style= "margin-left:5px">
      <%= text_area :quest, :reading, :rows => 15, :cols => 75, :value => @question_reading, :class =>"tinymce" %>
      <%= tinymce %>
    </div>
	</div>

	<div class="FormRow" id="question_text">
		<br/>
		<div class="FormRowTitle"><strong>Question:</strong></div>
		<div class="FormRowData" style= "margin-left:5px">
 		     <%= text_area :act_question, :question, :class =>"tinymce", :rows => 2, :cols => 105, :placeholder => 'Add Comment', :value => @question.question  %>
      <%= tinymce %>
      <br/>
 	    </div>
    </div>
 
  	<div class="FormRow">
      <br/>
      <div class="FormRowTitle"><strong>Comment:</strong></div>
      <div class="FormRowData" style= "margin-left:0px">
        <%= text_field :act_question, :comment, :size => 55, :maxlength => 150,  :value => @question.comment  %>
 	    </div>
    </div>	
	
		<div class="FormRow submit_warp" style =" padding-left:280px;font-size:12px;font-weight:normal">
			<% if @assessment -%>
				<%= submit_tag "Add To Assessment", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
				&nbsp;<i><%= @assessment.name %></i><br/>
			<% else -%>
				<%= submit_tag "Update Information", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
			<% end -%>
		<br/>
		</div>
	<% end -%>

</div>		
		
<script type="text/javascript">
        jQuery(document).ready(function(){
        
		    switch("<%= @question.act_rel_reading_id %>"){
               case "0":
               	jQ("#reading_text").hide();
 
         		jQ("#reading_id").change(function(){
					var related_reading_id = jQ('#reading_reading_id').val();
         		     switch(related_reading_id){
          		     case "":
		               	jQ("#reading_text").hide();
 		              break;
 		              default:
					   	var url = "<%= ifa_related_reading_url(:organization_id => @current_organization) %>";
							jQ.get(url, {'id':related_reading_id}, function(data) {
							jQ('#quest_reading').val(tinyMCE.activeEditor.setContent(data));
						});
 		              	jQ("#reading_text").show();              
		             }
 		          });
  	              break;

 	              default:
 			       jQ("#reading_id").change(function(){
						var related_reading_id = jQ('#reading_reading_id').val();
						var question_id = '<%= @question.id %>';
 			            switch(related_reading_id){
               				case "":
			   					var url = "<%= ifa_question_reading_url(:organization_id => @current_organization) %>";
									jQ.get(url, {'id':question_id}, function(data) {
									jQ('#quest_reading').val(tinyMCE.activeEditor.setContent(data));
								});
               					jQ("#reading_text").show();
               				break;
               				case "0":
               				jQ("#reading_text").hide();
               				break;
               				default:
			   					var url = "<%= ifa_related_reading_url(:organization_id => @current_organization) %>";
									jQ.get(url, {'id':related_reading_id}, function(data) {
									jQ('#quest_reading').val(tinyMCE.activeEditor.setContent(data));
								});
               					jQ("#reading_text").show();              
             				}
           				});
		            }
         });
 </script>
