<div style="border:0px solid white;">
	<% if @months_back_org || @months_back_classroom || @months_back_user-%>
		<table id="dashboard_updates" style="width:750px;  border:0px solid white; margin-left:80px">
			<tbody >
				<tr style=" border:0px;">
					<td id="org_db_update" width = 250px style=" ; border:0px; color: #000000; padding-left:100px; vertical-align:middle;text-align:center; font-size:12px" >
						<% if @months_back_org -%>
							<%= (image_tag "button_update.png",:width => 50) -%>
						<%else -%>
							&nbsp;
						<% end-%>
					</td>

					<td id="classroom_db_update" width = 250px style="border:0px; color: #000000; padding-left:100px; vertical-align:middle;text-align:center; font-size:12px" >
						<% if @months_back_classroom -%>
							<%= (image_tag "button_update.png",:width => 50) -%>
						<%else -%>
							&nbsp;
						<% end-%>
					</td>
			
					<td id="user_db_update" width = 250px style=" border:0px; color: #000000; padding-left:100px; vertical-align:middle;text-align:center; font-size:12px" >
						<% if @months_back_user -%>
							<%= (image_tag "button_update.png",:width => 50) -%>
						<%else -%>
							&nbsp;
						<% end-%>
					</td>
				</tr>
				<tr style=" border:0px;">
					<td width = 250px style=" border:0px; color: #C83A14; padding-right:0px; vertical-align:middle; text-align:center; font-size:10px" >
						<% if @months_back_org -%>
					  		<strong>Aggregated Dashboard </strong><br/>
							New Data <%= time_ago_in_words(@start_date_org.to_s, include_seconds = false).titleize %> Ago
						<%else -%>
							&nbsp;
						<% end-%>
					</td>

					<td width = 250px style=" border:0px; color: #C83A14; padding-right:0px; vertical-align:middle; text-align:center; font-size:10px" >
						<% if @months_back_classroom -%>
							<strong>Classroom Dashboards</strong><br/>
							New Data <%= time_ago_in_words(@start_date_classroom.to_s, include_seconds = false).titleize %> Ago
						<%else -%>
							&nbsp;
						<% end-%>
					</td>			

					<td width = 250px style=" border:0px; color: #C83A14; padding-right:0px; vertical-align:middle; text-align:center; font-size:10px" >
						<% if @months_back_user -%>
					  		<strong>Student Dashboards</strong><br/>
							New Data <%= time_ago_in_words(@start_date_user.to_s, include_seconds = false).titleize %> Ago
						<%else -%>
							&nbsp;
						<% end-%>
					</td>				
				</tr>
			</tbody>
		</table>
	<% end -%>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#org_db_update").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var requester = "<%= @requester %>";
		var classroom = "<%= @ifa_classroom.public_id %>";
		var e_class = "Organization";
		var months_back = "<%= @months_back_org %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :ifa_user_update_dashboards %>";
		jQ.get(url,{'organization_id': organization, 'requester': requester,'classroom_id' : classroom, 'entity_class': e_class, 'periods': months_back},  function(data) {
			jQ("#dashboard_updates").html(data); 
	   		jQ("#dashboard_updates").show();
					});
               
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#classroom_db_update").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var requester = "<%= @requester %>";
		var classroom = "<%= @ifa_classroom.public_id %>";
		var e_class = "Classroom";
		var months_back = "<%= @months_back_classroom %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :ifa_user_update_dashboards %>";
		jQ.get(url,{'organization_id': organization,'requester': requester,'classroom_id' : classroom, 'entity_class': e_class, 'periods': months_back},  function(data) {
			jQ("#dashboard_updates").html(data); 
	   		jQ("#dashboard_updates").show();
					});
               
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#user_db_update").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var requester = "<%= @requester %>";
		var classroom = "<%= @ifa_classroom.public_id %>";
		var e_class = "User";
		var months_back = "<%= @months_back_user %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :ifa_user_update_dashboards %>";
		jQ.get(url,{'organization_id': organization,'requester': requester,'classroom_id' : classroom,'entity_class': e_class, 'periods': months_back},  function(data) {
			jQ("#dashboard_updates").html(data); 
	   		jQ("#dashboard_updates").show();
					});
               
	})
});
</script>
