<div id="assessment_form" class="Form clear">
	<%= form_for(:act_assessment, :url => ifa_assessment_edit_path(:organization_id => @current_organization, :classroom_id => @classroom , :function => "Submit", :assessment_id => @assessment, :question_id => @question)) do |form| -%>
	
	<div class="FormRow">
		<div class="FormRowTitle">Subject:</div>
        <div class="FormRowData" style= "margin-left:0px">
			<strong><%= @assessment.act_subject.name.upcase%></strong>
		</div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>
	<br/>	
  	<div class="FormRow">
		<div class="FormRowTitle">Title:</div>
        <div class="FormRowData" style= "margin-left:0px">
 		   <% if !@assessment.is_locked%> 
 		     <%= text_field :act_assessment, :name, :size => 55, :maxlength => 150, :value => @assessment.name  %>
 	    	<% else -%>
			<strong><%= @assessment.name%></strong>			
			<% end -%>
		
		</div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>
 
  	<div class="FormRow">
		<div class="FormRowTitle">Comment:</div>
        <div class="FormRowData" style= "margin-left:0px">
 		   <% if !@assessment.is_locked%>
			 <%= text_field :act_assessment, :comment, :size => 55, :maxlength => 150, :value => @assessment.comment  %>
 	    	<% else -%>
			<strong><%= @assessment.comment%></strong>			
			<% end -%>
		</div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>

<br/>

  <br style="clear:both">
	<div class="FormRow submit_warp" style =" padding-left:280px;font-size:12px;font-weight:bold">
 		   <% if !@assessment.is_locked%>
				<%= submit_tag "Update Title & Comment", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
				<br/>
			<% end -%>
		</div>
	<% end -%>

</div>		


	
