<div id="question_tags" style=" padding:0px; width:99%;  border:0px; margin: 0px 0px 0px 0px; text-align:left; min-height:5px;">
	<br/>
		<table  style="width:550px;margin-left:200px; border:0px solid white">
			<tbody>
				<tr style="border:0px solid white;"> 
				<td id="questions_up" style="width:550px; border:0px solid white; padding-left:260px;">
					<%= (image_tag "button_up.png",:width => 25) -%>				
				</td>
				</tr>
			</tbody>
		</table>
		
<script type="text/javascript">
jQ(document).ready(function() {

	jQ("#questions_up").click(function() {
			var organization = "<%= @current_organization.public_id %>";
			var assessment = "<%= @assessment.public_id %>";
			var url = "<%= ifa_assessment_options_recycle_url %>";
			jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
				jQ("#assessment_options").html(data);
		  		jQ("#question_tags").hide();
	   			jQ("#options_table").slideDown("slow");
					});
	})
	
});
</script>
	<% question_assessments = @question.act_assessments.select{|ass| ass.user_id == @current_user.id} -%>
	<% if question_assessments.size > 0 -%>		
		<table  style="width:750px;margin-left:100px; border:1px solid #ddd;">
			<thead>

				<tr style="border:1px solid #ddd;">
					<th width=80px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Remove</center>
					</th>					
					<th width=100px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Updated</center>
					</th>
					<th colspan=2 width=570px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Question Is Assigned To <%=pluralize(question_assessments.size, @question.act_subject.name + " Assessment") %></center>
					</th>					
				</tr>

			</thead>
			<tbody >
				<style  type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>	
				<% question_assessments.sort{|a,b| b.updated_at <=> a.updated_at}.each do |ass| -%>

						<tr style="border:1px solid #ddd;">
							<td width=80px style="vertical-align:middle;  padding-left:40px; padding-right:3px; padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							<%= link_to (image_tag "delete.png", :class => "del"), ifa_question_assessments_remove_path(:organization_id => @current_organization, :question_id => @question, :assessment_id => ass.id), :class => "assess_remove" %>
						</td>
						<td width=100px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							<%= time_ago_in_words(ass.updated_at.to_s, include_seconds = false).titleize %> Ago
						</td>
						<td width=30px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							<% if ass.is_calibrated -%>
								<%= (image_tag "calibrated_yes.png",:width => 20) -%>
							<% else -%>
								&nbsp;
							<% end -%>
						</td>
						<td width=540px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							<i><%=  ass.name.titleize %></i>&nbsp;&nbsp;<%= link_to "View In Separate Window", ifa_assessment_view_path(:organization_id => @current_organization, :question_id => @question, :assessment_id => ass), {:target => "_blank"}  %>
							<br/>
							<% @current_organization.ifa_org_option.act_masters.each do |mstr| %>
							<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%><br/>
							<% end -%>
						</td>
						</tr>

				<% end -%>
			</tbody>
		</table>
		<% else -%>
		<span style="margin-left:0px;font-size:11px;color:#000000"><center>This Question Is Not Currently Assigned Any Of Your Assessments</center></span>				
	<% end -%>
	<% if @current_user.act_assessments.size > 0 -%>		
		<table  style="width:750px;margin-left:100px; border:1px solid #ddd;">
			<thead>

				<tr style="border:1px solid #ddd;">
					<th width=80px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Assign</center>
					</th>					
					<th width=100px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Updated</center>
					</th>
					<th colspan=2 width=570px style="vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-top:0px; font-weight:normal" >
						<center>Available <%= @question.act_subject.name %> Assessments</center>
					</th>					
				</tr>

			</thead>
			<tbody id = "tagged_benchmarks">
				<style  type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>	
				<% @current_user.act_assessments.sort{|a,b| b.updated_at <=> a.updated_at}.each do |ass| -%>
					<% unless ass.act_questions.include?(@question)%>
						<tr style="border:1px solid #ddd;">
							<td width=80px style="vertical-align:middle;  padding-left:40px; padding-right:3px; padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							<%= link_to (image_tag "add.png", :class => "del"), ifa_question_assessments_attach_path(:organization_id => @current_organization, :question_id => @question, :assessment_id => ass.id), :class => "assess_attach" %>
						</td>
						<td width=100px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
						<%= time_ago_in_words(ass.updated_at.to_s, include_seconds = false).titleize %> Ago
						</td>
						<td width=30px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:center; color: #000000; font-size:11px; font-weight:normal">
							<% if ass.is_calibrated -%>
								<%= (image_tag "calibrated_yes.png",:width => 20) -%>
							<% else -%>
								&nbsp;
							<% end -%>
						</td>
						<td width=540px style="vertical-align:middle;  padding-left:10px; padding-right:3px; padding-top:0px; text-align:left; color: #000000; font-size:11px; font-weight:normal">
							<i><%=  ass.name.titleize %></i>&nbsp;&nbsp;<%= link_to "View In Separate Window", ifa_assessment_view_path(:organization_id => @current_organization, :question_id => @question, :assessment_id => ass), {:target => "_blank"}  %>
							<br/>
							<% @current_organization.ifa_org_option.act_masters.each do |mstr| %>
							<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%><br/>
							<% end -%>
						</td>
						</tr>
					<% end -%>
				<% end -%>
			</tbody>
		</table>				
		<% else -%>
		You Have No Assessments To Assign 
	<% end -%>
	
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.assess_attach').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#assessment_tags").html(data);
				jQ("#assessment_tags").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.assess_remove').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#assessment_tags").html(data);
				jQ("#assessment_tags").show();
			})
			return false;
	})
});
</script>

<script>
jQ(function(){
jQ('td.tip_assesses').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'bottomMiddle',
         tooltip: 'topMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 300,
	  tip: { // Now an object instead of a string
         corner: 'topMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>