
			
<div id="repository_assessments" >
	<table style="width:500px; border:0px">
		<tbody>
			<tr>
				<td  id = "get_assessments" style="width:80px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:left; color: #000000;font-weight:normal;">
					<%= (image_tag "searchbutton.png",:width => 60)%>
				</td>
				<td  style="width:420px; color: #C83A14; vertical-align:middle; padding-bottom:3px; font-size:11px; text-align:left; padding-top:0px;">
					<strong><%= pluralize(@assessment_pool.size, " Assessment")%></strong>
					<% if @assessment_pool.size > 0 -%> <i>Use Buttons To Add(+) or Remove(-)</i>
					<% end -%>
				</td>

			</tr>
		</tbody>
	</table>
	<table id="repository" style="width:99%; border:0px">
		<tbody>
			<% for ass in @assessment_pool do -%>
				
				<tr id="<%= ass.public_id %>" class="content-list-item">
					<% unless ass.is_calibrated -%>
						<td width = 20px style=" color: #000000; vertical-align:middle;text-align:right; font-size:10px" >
							&nbsp;
						</td>
					<% else -%>
						<td width = 20px style=" color: #C83A14; vertical-align:middle;text-align:right; padding-left:0px;font-size:10px" >
							<%= (image_tag "calibrated_yes.png",:width => 18) -%>
						</td>
					<% end -%>
					<% if ass.is_locked -%>
						<td width = 15px style=" color: #000000; vertical-align:middle;text-align:right; font-size:0px" >
							<%= (image_tag "lock_yes.png",:width => 15) -%>
						</td>
					<% else -%>
						<td width = 15px style=" color: #C83A14; vertical-align:middle;text-align:right; padding-left:0px;font-size:10px" >
							<%= (image_tag 'lock_no.png',:width => 15) -%>
						</td>
					<% end -%>
					<td width = 15px style=" color: #C83A14; vertical-align:bottom;text-align:center; padding-top:5px;font-size:10px" >
						<% if @classroom.act_assessments.include?(ass) -%>
							<%= link_to (image_tag 'delete.png'), ifa_classroom_assessment_pool_update_path(:organization_id => @current_organization,  :classroom_id => @classroom, :assessment_id => ass), :class => "toggle_filtered" %>
						<% else -%>
							<%= link_to (image_tag 'add.png'), ifa_classroom_assessment_pool_update_path(:organization_id => @current_organization,  :classroom_id => @classroom, :assessment_id => ass), :class => "toggle_filtered" %>
						<% end -%>
					</td>
					<td width=380px, style="color: #000000; vertical-align:middle; padding-top:3px;padding-left:5px;">
						<u><%= link_to 'View & Analyze', ifa_assessment_view_path(:organization_id => @current_organization, :assessment_id => ass), {:target => "_blank"} %></u> &nbsp;&nbsp;
						<strong><% unless ass.is_active %> <span style="color:#C83A14;"> <i>INACTIVE: </i></span> <% end -%>
						<%= ass.name.titleize%></strong>
						<% unless ass.user.nil?%>&nbsp;&nbsp;<%= ass.user.full_name%><%end%>
							<% if ass.organization%>, <%= ass.organization.medium_name %>
							<% end %><br/>
						<span style ="color: #000000;font-size:10px">
						<strong><%= ass.act_subject.name.upcase %></strong>,&nbsp
						<% @current_organization.ifa_org_option.act_masters.each do |mstr| %>
							<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%>&nbsp;&nbsp;&nbsp;
						<% end -%>
						<%= pluralize(ass.act_questions.count, ' Question')%>, &nbsp;&nbsp;Last Updated: <%=ass.updated_at.strftime("%m-%d-%y") %><br/>
						</span>
					</td>
				<tr>
					<td colspan=4 style="color: #000000; vertical-align:middle; padding-bottom:3px;padding-top:3px;">
						<center>- - - - - - - - -</center>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_filtered').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#repository_assessments").html(data);
				jQ("#repository_assessments").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#get_assessments").click(function(){
		var classroom = "<%= @classroom.public_id %>";
		var url = "<%= ifa_classroom_assessments_filtered_url(:organization_id => @current_organization)  %>";
			jQ.get(url, {'classroom_id':classroom}, function(data) {
				jQ("#repository_assessments").html(data);
				jQ("#repository_assessments").show();
			});
	})
});
</script>

<script>
jQ(function(){
jQ('td.reptip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 390,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>