	
<div id="questions" >
	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<% if @assessment.is_locked -%>
					<td id="lock_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "lock_yes.png",:width => 20) -%>
					</td>			
				<%else -%>
					<% if @assessment.act_questions.collect{|q| q.is_locked}.include?( false) -%>
						<td class="tip_std" title="<center>Cannot Lock When Some Questions Are Unlocked</center>" style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "lock_no.png",:width => 20) -%>
						</td>					
					<% else -%>
						<td  id="lock_toggle" style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "lock_no.png",:width => 20) -%>
						</td>
					<% end -%>
				<% end-%>
				<% if @assessment.is_active %>
					<td id="active_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:68px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "button_enabled.png",:width => 15) -%>
					</td>			
				<%else -%>
					<td  id="active_toggle" style="width:120px; border:0px solid white; font-size:11px; padding-left:68px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
						<%= (image_tag "button_disabled.png",:width => 15) -%>
					</td>
				<% end-%>
				<% if @assessment.act_submissions.empty? && !@assessment.is_locked %>
					<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:58px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
						<%=link_to (image_tag "button_destroy.png",:width => 20), {:controller => 'apps/assessment',:action => "edit_assessment_destroy_assessment",:organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment}, :confirm => "Are You Sure?"%>
					</td>			
				<%else -%>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
						&nbsp;
				</td>
				<% end-%>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>			


			</tr>
			<tr style=" border:0px solid white;">
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<% if @assessment.is_locked %>
				<% lock_hover = "<center>This Assessment Cannot Be Edited.<br/>To Unlock, Click On The Lock Icon.</center>" %>
					<td style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Locked
					</td>
				<%else -%>
				<% lock_hover = "<center>This Assessment Is Not Locked.<br/>To Lock, Click On The Lock Icon.</center>" %>
					<td style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Not Locked
					</td>
				<% end-%>
				<% if @assessment.is_active %>
				<% active_hover = "<center>This Assessment Is Available For Use. <br/>Green Button De-Activates The Assessment.</center>" %>
					<td style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Active
					</td>
				<%else -%>
				<% active_hover = "<center>This Assessment Is Not Available For Use. <br/>Red Button Activates The Assessment.</center>" %>
					<td style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Not Active
					</td>
				<% end-%>
				<% if @assessment.act_submissions.empty? && !@assessment.is_locked %>
				<% destroy_hover = "<center>This Assessment Has Not Been Used.<br>It Can Be Permanently Destroyed.</center>" %>
					<td style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Destroy
					</td>
				<%else -%>
					<td style="width:120px; border:0px; font-size:11px; padding-left:0px; vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						&nbsp;
					</td>
				<% end-%>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
			</tr>
		</tbody>					
	</table>
	<br/>
    <%= render :partial => "ifa_assessment_form_update" %>	

<br/>
	<table style="width:600px; margin-left:120px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<% if @assessment.is_calibrated -%>
			<tr >
				<td colspan=4 style="vertical-align:middle;  padding-left:295px; padding-top:0px; text-align:center; color: #000000;font-size:14px; font-weight:bold">
						<%= (image_tag "calibrated_yes.png",:width => 30) %>
				</td>
			</tr>
			<% end -%>
		<% @current_organization.ifa_org_option.act_masters.each do |mstr| %>
			<tr >
				<td colspan=4 style="vertical-align:middle;  padding-right:3px; padding-top:0px; text-align:center; color: #000000;font-size:13px; font-weight:bold">
						<%= mstr.abbrev.upcase %> Mastery Range:  <%= @assessment.score_range(mstr) %>
				</td>
			</tr>				
			<% end -%>
		</tbody>
	</table>
	<% unless @assessment.act_questions.size.zero? %>

	<table style="width:800px; margin-left:70px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td {border:0px solid #ddd;}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<% @assessment.act_questions.each do |quest| -%>
		<tr style="border:0px solid #ddd;">
			
			<% if !quest.is_locked -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-top:10px; padding-left:20px; padding-right:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						<%= (image_tag "lock_no.png",:width => 20) %>
				</td>
			<% else-%>
				<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-top:5px; padding-left:20px; padding-right:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					&nbsp;
				</td>			
			<% end -%>
			<% if !@assessment.is_locked -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-top:10px; padding-left:0px; padding-right:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					<%= link_to (image_tag "delete.png", :class => "del"), ifa_assessment_question_remove_path(:organization_id => @current_organization, :assessment_id => @assessment, :question_id => quest.id), :class => "purge_button" %>
				</td>
			<% else -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:3px; padding-top:5px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					&nbsp;
				</td>				
			<% end -%>
			<%= render :partial => "thumbs_columns", :locals => {:quest => quest, :std => ActMaster.act.first, :filter =>"ACT"}%>
			<% @q_id = quest.public_id -%>
			<% if !@assessment.is_locked -%>
				<td id= "p_<%= @q_id %>"  style="width:15px; border:0px solid #ddd; border-right:0px solid #ddd;padding-left:0px; padding-top:10px; vertical-align:top; ">
					<%= (image_tag "add.png") -%>		
				</td>
				<td  style="width:45px; border:0px solid #ddd; border-left:0px solid #ddd;padding-left:0px; padding-top:5px; vertical-align:top; ">
					<%= text_field :position, @q_id, :value => @assessment.position_for(quest), :size => 2, :maxlength => 2%>
				</td>
			<% else -%>
				<td style="width:15px; border:0px solid #ddd; border-right:0px solid #ddd;padding-left:0px; vertical-align:top;">
					&nbsp;
				</td>				
				<td style="width:45px; border:0px solid #ddd; border-left:0px solid #ddd;padding-right:5px; padding-top:5px; text-align:right; ">
					<%= @assessment.position_for(quest) %>:
				</td>
			<% end -%>
			<td  style="width:460px; border:0px solid #ddd;color: #000000; padding-top:5px; padding-bottom:5px;vertical-align:top;font-size:11px;" >
				<% if quest.act_rel_reading %><u>Reading:</u><i> <%= quest.act_rel_reading.label %></i><br/><% end -%>
				<i><%= quest.question.titleize %></i>
				<br/><%= pluralize(quest.act_choices.size, ' Choice') %><br/>
				<%= link_to "View", ifa_question_show_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest), {:target => "_blank"}  %>
				<% if quest.user_id == @current_user.id %>
					&nbsp;&nbsp;<%= link_to "Edit", ifa_question_edit_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest), {:target => "_blank"}  %>
				<% end -%>
 			</td>
			<% if quest.is_calibrated -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-top:5px; padding-left:20px; padding-right:0px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						<%= (image_tag "calibrated_yes.png",:width => 20) %>
				</td>
			<% else -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:3px; padding-top:5px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					&nbsp;
				</td>				
			<% end -%>
			<td   style=" border:0px solid #ddd;color: #000000; vertical-align:top; padding-top:5px;font-size:10px;" >
				<% @current_organization.ifa_org_option.act_masters.each do|mstr| -%>
				<% strand = quest.standard(mstr).abbrev.upcase rescue ""-%>
	 			<% range = quest.score_range(mstr).range rescue "" -%>
				<% unless strand == "" && range == ""%><%= mstr.abbrev %>: <%= strand%> <%=range %><% end -%><br/>
				<% end -%>
 			</td>
		</tr>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#p_<%= @q_id %>').click(function() {
		var position = jQ('#position_<%=@q_id%>').val();
		var url = "<%= ifa_question_position_url(:organization_id => @current_organization, :assessment_id => @assessment, :question_id => quest, :user_id => @current_user) %>";
			jQ.get(url, {'position':position}, function(data) {
				jQ("#questions").html(data);
				jQ("#questions").show();
			});
	})
});
</script>

		<% end -%>				
		</tbody>
	</table>
	<% else -%>
	 	<br/>
		<span style="font-size:12px; margin-left:280px; color:#C73914; font-weight:normal">
			* * * No Questions Assigned To Assessment * * *		
		</span><br/>
	<% end -%>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.purge_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#questions").html(data);
				jQ("#questions").show();
			})
			return false;
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.resequence').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#questions").html(data);
				jQ("#questions").show();
			})
			return false;
	})
});
</script>



<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#lock_toggle").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_assessment_toggle_lock_url %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
				jQ("#questions").html(data);
				jQ("#questions").show();
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#active_toggle").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_assessment_toggle_active_url %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
				jQ("#questions").html(data);
				jQ("#questions").show();
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#destroy_assessment").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_assessment_destroy_url %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
					});
	})
});
</script>



<script>
jQ(function(){
jQ('td.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 310,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
