<div id="ifa_dashboard_<%= div_key %>">
  <div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <% if  !dashboard.nil? && (@current_organization.ifa_standards.size > 1)%>
        <div   id = "standard_view_<%= dashboard.id %>" style="margin-left:45px;">
          <%=  select(:master, div_key, @current_organization.ifa_standards.collect{|s| [s.name, s.id]}, :prompt => "View Standard") %>
        </div>
        <script type="text/javascript">
        jQ(document).ready(function() {
          jQ('#standard_view_<%= dashboard.id %>').change(function() {
            var master_id = jQ('#master_<%= div_key %>').val();
            var url = "<%= ifa_user_switch_standard_url(:organization_id => @current_organization,  :classroom_id => @classroom, :subject_id => @current_subject.id,  :dashboard_id => dashboard, :period => dashboard.period_end,:details => @show_details) %>";
              jQ.get(url, {'master_id':master_id}, function(data) {
              jQ("#ifa_dashboard_<%= div_key %>").html(data);
              jQ("#ifa_dashboard_<%= div_key %>").show();
              });
          })
        });
        </script>
      <% end -%>
    </div>
    <div class="col-md-1"></div>
  </div>
  <% if !dashboard.nil? && dashboard.period_end && dashboard.ifa_dashboardable %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <% if ActSubmission.not_dashboarded(dashboard.ifa_dashboardable_type, dashboard.ifa_dashboardable, @current_subject, dashboard.period_beginning, dashboard.period_ending).size == 0 %>
          <%= 'All ' + dashboard.ifa_dashboardable.name + ' Assessments Between ' +  dashboard.period_beginning.strftime("%m/%d/%Y") + ' and ' + dashboard.period_ending.strftime("%m/%d/%Y") + ' Have Been Dashboarded' %>
        <% else %>
          <%= pluralize(ActSubmission.not_dashboarded(dashboard.ifa_dashboardable_type, dashboard.ifa_dashboardable, @current_subject, dashboard.period_beginning, dashboard.period_ending).size,
          (dashboard.ifa_dashboardable.name + ' Assessment')) + ' Between ' +  dashboard.period_beginning.strftime("%m/%d/%Y") + ' and ' + dashboard.period_ending.strftime("%m/%d/%Y") + ' Not Dashboarded' %>
          <% if @current_user.ifa_admin_for_org?(dashboard.organization) %>
            <div id="refresh_dashboard<%= dashboard.id %>">
              <span class="fsn-button ui-button ui-state-default ui-corner-all", style="cursor:pointer">
                 <%= ActSubmission.not_dashboarded(dashboard.ifa_dashboardable_type, dashboard.ifa_dashboardable, @current_subject, dashboard.period_beginning, dashboard.period_ending).size == 1 ? ' Dashboard It ' : ' Dashboard Them ' %>
              </span>
            </div>
            <script type="text/javascript">
              jQ(document).ready(function() {
                jQ("#refresh_dashboard<%= dashboard.id %>").click(function() {
                  var url = "<%= ifa_dashboard_submissions_url(:organization_id => @current_organization,  :classroom_id => @classroom, :subject_id => @current_subject.id,  :dashboard_id => dashboard, :period => dashboard.period_end,:details => @show_details) %>";
                  jQ.get(url,{},  function(data) {
                    jQ("#ifa_dashboard_<%= div_key %>").html(data);
                    jQ("#ifa_dashboard_<%= div_key %>").show();
                  });
                })
              });
            </script>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>
  <div class="row dashboard">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table  class="dashboard" id = "dash">
        <thead class="dashboard_header">
          <tr >
            <% filter = @current_user.calibrate_view? ? " Calibrated" : " Finalized" -%>
            <% header_string = @current_subject.name + filter + " Results"  %>
            <th colspan=13  class = "dashboard_header_1">
              <%= header_string %>
            </th>
          </tr>
          <tr >
            <th colspan=13 class = "dashboard_header_2" >
              <% if @start_period -%>
                  <%= @start_period.strftime("%B, %Y") %> - <%= @end_period.strftime("%B, %Y") %>
              <% else -%>
                  <%= @end_period.strftime("%B, %Y") %>
              <% end -%>
            </th>
          </tr>
          <tr >
            <th colspan=13  class = "dashboard_header_3">
              <% if false %>   <!-- skip this for now %>  -->
                <% mastery_line = @current_user.calibrate_view? ? @current_sms_c.to_s + "<small>(UnCalibrated: " + @current_sms_f.to_s + ")</small>" :  @current_sms_f.to_s + "<small>(Calibrated: " + @current_sms_c.to_s + ")</small>" -%>
                <% if @baseline_score && @baseline_score != 0%>
                  <% mastery_line += "<small>(Baseline: " + @baseline_score.to_s + ")</small>" -%>
                <% end -%>
              <% end %>
              <%= pluralize(@total_taken, ' Assessment') %>&nbsp;&nbsp;|&nbsp;&nbsp;
              <%= pluralize(@total_answers, ' Answer Choice') -%>&nbsp;&nbsp;|&nbsp;&nbsp;
              <%= @total_proficiency -%>% Proficiency&nbsp;&nbsp;|&nbsp;&nbsp;
              <%= @total_efficiency -%> Secs/Point
            </th>
          </tr>
          <tr >
            <th colspan=13  class = "dashboard_header_4">
              <%= @current_standard.abbrev_view(@current_user)%>&nbsp;Mastery Level: <%= @current_user.calibrate_view? ? @current_sms_c.to_s : @current_sms_f.to_s %>
            </th>
          </tr>
          <%# col_width = @strand_list.size > 0 ? ((750 - 120)/@strand_list.size).round : 1 -%>
          <% label_col_pct = 12 %>
          <% strand_col_pct = 100 - label_col_pct %>
          <% col_width = @strand_list.size > 0 ? (strand_col_pct/@strand_list.size).round : strand_col_pct -%>
          <tr >
            <th  class = "dashboard_header_1" style="width:<%= label_col_pct %>%" >
              <%= @current_user.sat_view? ? 'SAT' : @current_standard.abbrev %> Mastery
            </th>
            <% @strand_list.each do |s|%>
                <th class="dashboard_header_1 tip_std" title="<center><strong><%= s.name.titleize %></strong></center>" width = <%= col_width %>%  >
                  <%= s.abbrev.upcase %>
                </th>
            <% end -%>
          </tr>
        </thead>
        <tbody >
          <% @range_list.each_with_index do |r,rdx|%>
          <tr>
            <td class="dashboard_cell" width = <%= label_col_pct %>% >
                <%= r.range_view(@current_user) %>
            </td>
            <% @strand_list.each_with_index do |s,sdx|-%>
            <% answers = @range_answers[rdx].fetch(sdx)-%>
            <% points =  @range_points[rdx].fetch(sdx) -%>
            <% pct_correct = answers == 0 ? 0 : number_to_percentage((100*points.to_f/answers.to_f).round, :precision => 0) -%>
            <% hover_text =  @hover_text ? @range_hover_text[rdx].fetch(sdx) : ""-%>
            <% if !@hover_text -%>
              <% hover_class = hover_text == "" ? "" : "tip_cell_" + div_key -%>
            <% end -%>
            <% hover_text += "<br/><strong>" + r.range + " </strong>" + @current_standard.cell_benchmarks(@current_subject.id, s.id, r.id) -%>
            <% cell_color = "#6a6529" -%>
            <% if pct_correct.to_i <= @current_organization.ifa_org_option.pct_correct_red -%> <% cell_color = "#C83A14" -%> <% end -%>
            <% if pct_correct.to_i >= @current_organization.ifa_org_option.pct_correct_green -%> <% cell_color = "#279605" -%> <% end -%>
            <% back_color = "#f7f5cc" -%>
            <% if pct_correct.to_i <= @current_organization.ifa_org_option.pct_correct_red -%> <% back_color = "#fcd1ca" -%> <% end -%>
            <% if pct_correct.to_i >= @current_organization.ifa_org_option.pct_correct_green -%> <% back_color = "#baeaa9" -%> <% end -%>
            <% cell_color = "#000000" -%>
            <% unless answers == 0 -%>
            <% id = div_key + r.id.to_s + s.id.to_s %>
            <td  width = <%= col_width %>% style="border:1px solid #ddd; vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px; background:<%=back_color%>; color:<%= cell_color %>; font-size:11px; margin-top:0px; font-weight:bold" >
                <%=  points.round.to_i %> of <%=  answers %><br>
                <a id="<%= id %>" href=""><%=  pct_correct %></a>
                <%= render :partial => "/apps/shared/help_box", :locals => {:id => id, :titl=> (@dashboard_name.nil? ? "" : (@dashboard_name + " => " )) + pct_correct, :blue=>  s.name.titleize, :body=> hover_text, :height=> 300, :width=> 650 } %>
            </td>
              <%else -%>
            <td  width = <%= col_width %>% style="border:1px solid #ddd;" >
              &nbsp;
            </td>
              <% end -%>

            <% end -%>
          </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<script>
jQ(function(){
jQ('td.tip_cell_<%= div_key %>').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'rightTop',
         tooltip: 'leftTop'
      }
   },
   style: { 
	  background: '#e8c4d1',

	  border: {
         width: 0,
         radius: 0,

      },
      width: 280,
	  tip: { // Now an object instead of a string
         corner: 'leftTop', // We declare our corner within the object using the corner sub-option
         color: '#e8c4d1',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('th.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 250,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>		