<div id="sumry_dashboard" width = 50px style=" color: #000000;  font-size:9px">
<center>
	<table id="toggle_filter" style="width:100px; border:0px;">
		<tbody>
			<tr style=" border:0px;">
				<td   id="toggle_filter" style="width:100px; border:0px; font-size:10px; padding-left:35px; vertical-align:bottom; text-align:center;color: #C83A14;font-weight:bold;">
					<% if @current_user.calibrated_only -%>
						<%= (image_tag "calibrated_yes.png",:width => 25) -%>
						<% calibrate_hover = "<center><u>Calibrated Results</u><br/>Associated With Questions That Have Been Designated As<br/>Valid Indicators Of Mastery Levels. <br/><strong>Click Ribbon To Remove Calibration Filter.</strong></center>" %>
					<% else %>
						<%= (image_tag "calibrated_no.png",:width => 25) -%>
						<% calibrate_hover = "<center><u>Calibrated Results</u><br/>Associated With Questions That Have Been Designated As<br/>Valid Indicators Of Mastery Levels. <br/><strong>Click Ribbon To View Calibrated Result Only.</strong></center>" %>
					<% end %>
				</td>	
			</tr>
			<tr style=" border:0px; height: 10px;">	
				<td   class="tip_filter" title="<%= calibrate_hover %>" style="width:50px; border:0px; font-size:8px; padding-left:92px; vertical-align:middle; text-align:right;color: #C83A14;font-weight:bold;">
					&nbsp;
				</td>	
			</tr>	
		</tbody>					
	</table>
</center>
	<table  style="width:730px; text-align:center;  margin-left:0px;">
			<thead>
				
				<tr>
					<th width = 30px style=" color: #000000;  vertical-align:middle;text-align:center; font-size:18px;font-weight:bold; color:#C83A14;">
						<%= @current_standard.abbrev.upcase %>
					</th>
					<th colspan=5 style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:12px; font-weight:bold; color:#000000;">
					Most Recent 
					</th>
					<th colspan=3 style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:12px; font-weight:bold; color:#000000;">
					Since <%= @options.begin_school_year.strftime("%m-%d-%y") %>
					</th>			
				</tr>
				<tr>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					Subject Area</th>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					Period</th>
					<th  class="tip" title="<center>Current <%= @current_standard.abbrev.upcase %> Mastery Level, and<br/>The Tested Score Range</center>" style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					Mastery<br/>&<br/>Range</th>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					<%= @assessments_column_header%></th>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					<%= @answers_column_header%></th>			
					<th  class="tip" title="<center>Percent Correct, and<br/>Seconds/Point<br/></center>" style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					Proficiency<br/>&<br/>Efficiency</th>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					<%= @assessments_column_header%></th>
					<th  style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					<%= @answers_column_header%></th>			
					<th  class="tip" title="<center>Percent Correct, and<br/>Seconds/Point<br/></center>" style ="word-wrap:break-word; overflow:hidden; vertical-align:middle; font-size:10px; font-weight:bold; color:#000000;">
					Proficiency<br/>&<br/>Efficiency</th>		
				</tr>

			</thead>				
				<tbody id="dashboard_data">
		  		  <style type="text/css" media="screen">
	    			table,tr,td { border:none; }  
    				</style> 

					<% @subjects.each_with_index do |subj, idx|%>
					<% if @current_period[idx] %>
										<tr>
						<td style="vertical-align:middle; width:100px; text-align:center; font-size:10px;  padding-top:8px;font-weight:bold; padding-bottom:0px" >
						 	<%= subj.name.upcase %> 
							<% if @current_user.has_authorization_level_for?(@current_organization, "ifa_administrator") -%>
							 	<!--
                  <center><%#= button_to  "Dashboards", {:controller => "/apps/assessment", :action => :org_analysis, :organization_id => @current_organization,:classroom_id => @classroom, :topic_id => @topic, :subject_id => subj.id}, :class => "fsn-button ui-button ui-state-default ui-corner-all" %></center>
                  -->
                  <center><%= button_to  "Dashboards", {:controller => "/apps/assessment", :action => :org_analysis, :organization_id => @current_organization, :subject_id => subj.id}, :class => "fsn-button ui-button ui-state-default ui-corner-all" %></center>
              <% end -%>
						</td>
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal; color:#000000;" >
							<%=@current_period[idx] %>
						</td>
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal; color:#000000;" >
							<%= @current_mastery[idx] -%><br/>
							<%= @low_bound[idx]%>&nbsp;-&nbsp;<%=@high_bound[idx] %>
						</td>						
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal color:#000000;" >
							<%= @current_assessments[idx] -%><br/>
						</td>
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal color:#000000;" >
							<%= @current_answers[idx] -%>
						</td>
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal color:#000000;" >
							<%= number_to_percentage(@current_proficiency[idx], :precision => 0) -%>
							<br/>
							<%= @current_efficiency[idx] -%>
						</td>						
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal; color:#000000;" >
						 	<%= @total_assessments[idx] -%>
						</td>
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal; color:#000000;" >
							<%= @total_answers[idx] -%>
						</td>															
						<td style="vertical-align:middle; width:60px; text-align:center; font-size: 12px; padding-top:8px;padding-bottom:0px;font-weight:normal; color:#000000;" >
							<%= number_to_percentage(@total_proficiency[idx], :precision =>0) -%>
							<br/>
							<%= @total_efficiency[idx] -%>
						</td>
					  </tr>
					  <tr>
						<td colspan=9 >
							- - - - - - -
						</td>					  	
 					  </tr>
					  <% end -%>
					<% end -%>
					</tbody>
				</table>
</div>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>


<script>
jQ(function(){
jQ('td.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 250,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('td.tip_bench').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'leftTop',
         tooltip: 'rightTop'
      }
   },
   style: { 
      name: 'blue',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 350,
	  tip: { // Now an object instead of a string
         corner: 'rightTop', // We declare our corner within the object using the corner sub-option
         color: '#1115cc',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('th.tip').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 1,
         radius: 1,
         color: '#99911a'
      },
      width: 250,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 10, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#toggle_filter").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :toggle_sumry_ifa_dashboard %>";
		jQ.get(url,{'organization_id': organization},  function(data) {
			jQ("#sumry_dashboard").html(data); 
	   		jQ("#sumry_dashboard").show();
					});
               
	})
});
</script>
<script>
jQ(function(){
jQ('td.tip_filter').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'bottomMiddle',
         tooltip: 'topMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 400,
	  tip: { // Now an object instead of a string
         corner: 'topMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>