<div id="assessment_options" style="padding:0px; width:99%;  border:0px solid #ddd; margin: 5px 0px 0px 0px; text-align:left; min-height:5px;">
	<br/>
<div id="options_table1">

<br/>
				<% master_tag = @current_user.ifa_user_option.act_master.abbrev rescue "ACT"-%>
				<% mastery_tag = @current_user.ifa_user_option.act_score_range.range rescue "Select Mastery Filter" %>
				<% strand_tag = @current_user.ifa_user_option.act_standard.name rescue "Select Knowledge Strand Filter" %>
				<% reading_tag = @current_user.ifa_user_option.act_rel_reading.label rescue "Select Related Reading Filter" %>
				<% score_ranges = ["no filter"] + ActScoreRange.find(:all, :conditions => ["act_subject_id =? AND act_master_id = ? AND upper_score > ?", @assessment.act_subject_id, @current_user.ifa_user_option.act_master_id, 0],:order => "upper_score").collect{|s| [s.range, s.id]}%>
				<% strands = ["no filter"] + ActStandard.find(:all, :conditions => ["act_subject_id =? AND act_master_id = ?", @assessment.act_subject_id, @current_user.ifa_user_option.act_master_id],:order => "name").collect{|s| [s.name, s.id]}%>
				<% readings = ["no filter"] + ActRelReading.find(:all, :conditions => ["act_subject_id =? ", @assessment.act_subject_id],:order => "label").collect{|r| [r.label, r.id]}%>

	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">

				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<% if @current_user.ifa_user_option.is_calibrated %>
					<td id="calibrate_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "calibrated_yes.png",:width => 20) -%>
					</td>			
				<%else -%>
					<td id="calibrate_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "calibrated_no.png",:width => 20) -%>
					</td>
				<% end-%>
				<% if @current_user.ifa_user_option.is_user_filtered %>
					<td id="user_filter_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "button_enabled.png",:width => 15) -%>
					</td>			
				<%else -%>
					<td id="user_filter_toggle"  style="width:120px; border:0px solid white; font-size:11px; padding-left:60px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
							<%= (image_tag "button_disabled.png",:width => 15) -%>
					</td>
				<% end-%>
					<td  id = "master_id" width=60px style="vertical-align:middle;  padding-left:30px; padding-top:10px; text-align:right; color: #000000; font-size:11px; font-weight:normal">
						<%=  select(:ass, :master_id, @current_organization.ifa_org_option.act_masters.collect{|m| [m.abbrev,m.id]},{:prompt => master_tag}) %>
					</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>			

			</tr>
			<tr style=" border:0px solid white;">
				<td  colspan=2 style="width:120px; border:0px solid white; font-size:12px; padding-left:100px; vertical-align:top; text-align:left;color: #000000;font-weight:bold;">
					<u>Question Pool Filters</u>
				</td>
				<% if @current_user.ifa_user_option.is_calibrated %>
					<td   style="width:120px; border:0px solid white; font-size:11px;  vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Calibrated Only<br/>YES
					</td>
				<%else -%>
					<td  style="width:120px; border:0px; font-size:11px; padding-left:0px; vertical-align:top; text-align:center; color: #000000; font-weight:normal;">
						Calibrated Only<br/>NO
					</td>
				<% end-%>
				<% if @current_user.ifa_user_option.is_user_filtered %>
					<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
						<%=@current_user.last_name%>&nbsp;Only<br/>YES
					</td>			
				<%else -%>
					<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
						<%=@current_user.last_name%>&nbsp;Only<br/>NO
					</td>
				<% end-%>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
						Standards<br/>&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
			</tr>
		</tbody>					
	</table>
	<table style="width:950px; margin-left:20px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>

				<tr >
					<td   width=40px style="vertical-align:middle;  padding-right:0px; padding-top:10px; text-align:right; color: #000000; font-size:11px; font-weight:normal">
						&nbsp;
					</td>
					<td  id="range_change" width=160px style="vertical-align:middle;  padding-top:10px; text-align:left; color: #000000; font-size:11px; font-weight:bold">
						<%=  select(:ass, :range_id, score_ranges,{:prompt => mastery_tag}) %>
					</td>
					<td  id="strand_change"  width=360px style="vertical-align:middle;  padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						<%=  select(:ass, :strand_id, strands ,{:prompt => strand_tag}) %>
					</td>
					<td  id="reading_change"   style="vertical-align:middle;  padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
						<%=  select(:ass, :reading_id, readings,{:prompt => reading_tag}) %>
					</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<% pool = @assessment.question_pool_for(@current_user) -%>

	<table  style="width:670px; margin-left:100px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td {border:0px solid #ddd;}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<tr style="border:0px solid #ddd;">
			<td id="pool_show" style="width:150px; border:0px solid white;">
				<u><strong>Show <%= pluralize(pool.size, " Available Question")%></u></strong>
			</td>
		</tr>
	</tbody>
	</table>
</div>



	<table id="pool_contents" style="width:670px; margin-left:120px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td {border:0px solid #ddd;}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<tr style="border:0px solid #ddd;">
			<td id="options_show" colspan=4 style=";border:0px solid #ddd;">
				<u>Show Filter Options</u>
			</td>
		</tr>
		<% if @assessment.is_locked -%>
		<tr style="border:0px solid #ddd;">
			<td  colspan=4 style="color:#C73914;border:0px solid #ddd;">
				<center><i>Assessment Locked.  Questions Cannot Be Added.</i></center>
			</td>
		</tr>		
		<% end -%>			
		<% pool.each do |quest| -%>
		
		<tr style="border:1px solid #ddd;">
			<% if !@assessment.is_locked -%>
			<td width=40px style="border:0px solid #ddd;vertical-align:top;  padding-left:20px; padding-right:0px; padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
				<%= link_to (image_tag "add.png", :class => "del"), {:action => "edit_assessment_add_question", :organization_id => @current_organization, :assessment_id => @assessment, :question_id => quest.id}, :class => "add_button" %>
			</td>						
			<% else -%>
				<td width=20px style="border:0px solid #ddd;vertical-align:middle;  padding-left:0px; padding-right:3px; padding-top:105px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
					&nbsp;
				</td>				
			<% end -%>
			<% if quest.is_locked -%>
			<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-left:2px; padding-right:0px; padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
				<%= (image_tag "lock_yes.png",:width => 15) -%>
			</td>						
			<% else -%>
			<td width=20px style="border:0px solid #ddd;vertical-align:top;  padding-left:2px; padding-right:0px; padding-top:10px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
				<%= (image_tag "lock_no.png",:width => 15) -%>
			</td>			
			<% end -%>
			
			<%= render :partial => "thumbs_columns", :locals => {:quest => quest, :std => ActMaster.act.first, :filter =>"ACT"}%>
			<td width=380px style=" border:0px solid #ddd;color: #000000; padding-top:5px; padding-bottom:5px; vertical-align:top;font-size:11px;" >
				<% if quest.act_rel_reading %><u>Reading:</u><i> <%= quest.act_rel_reading.label %></i><br/><% end -%>
				<span style="color:#C73914;"><i><%= quest.question.titleize %></i></span>,&nbsp;<%= pluralize(quest.act_choices.size, ' Choice') %><br/>
				<% unless quest.user.nil?%><%= quest.user.full_name%><%end%>
				<% unless quest.organization.nil? %>,  <%= quest.organization.name.titleize%><%end%>
				<br/>
				Updated <%= time_ago_in_words(quest.updated_at.to_s, include_seconds = false) %> ago<br/>
				<%= link_to "View", {:controller =>  "/apps/assessment", :action => "static_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest}, {:target => "_blank"}  %>
				<% if quest.user_id == @current_user.id %>
					&nbsp;&nbsp;<%= link_to "Edit", {:controller =>  "/apps/assessment", :action => "edit_ifa_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest}, {:target => "_blank"}  %>
				<% end -%>
 			</td>
			<td width=160px style=" border:0px solid #ddd;color: #000000; vertical-align:top;font-size:10px;" >
				<% if quest.is_calibrated -%>
					 <%= (image_tag "calibrated_yes.png",:width => 20) %>
				<% end -%>
				<% @current_organization.ifa_org_option.act_masters.each do|mstr| -%>
				<% strand = quest.standard(mstr).abbrev.upcase rescue ""-%>
	 			<% range = quest.score_range(mstr).range rescue "" -%>
				<% unless strand == "" && range == ""%><%= mstr.abbrev %>: <%= strand%> <%=range %><% end -%><br/>
				<% end -%>
 			</td>
		</tr>
		<% end -%>				
		</tbody>
	</table>
<div id="options_table2">	
	<table   style="width:900px; border:0px solid white;">
		<tbody>
			<tr style=" border:0px solid white;">
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:40px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					<%= link_to (image_tag "button_new.png",:width => 50), {:controller => 'apps/assessment',:action => "add_ifa_question",:organization_id => @current_organization, :assessment_id => @assessment,:subject_id => @assessment.act_subject.id, :function => "New"}, {:target => "_blank"}%>
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:50px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					<%= link_to (image_tag "button_new.png",:width => 50), {:controller => 'apps/assessment',:action => "add_ifa_assessment",:organization_id => @current_organization,:subject_id => @assessment.act_subject.id, :function => "New"} %>
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:35px; vertical-align:bottom; text-align:right;color: #C83A14;font-weight:normal;">
					<%= link_to (image_tag "button_view.png",:width => 50), {:controller =>  "/apps/assessment",:action => :submit_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment, :function => "preview"}, {:target => "_blank"}  %>
				</td>			

			</tr>
			<tr style=" border:0px solid white;">
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
						Add New Question<br/><small>(Separate Window)</small>
				</td>				
			
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					&nbsp;
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
						Assessment<br/><small>&nbsp;</small>
				</td>
				<td  style="width:120px; border:0px solid white; font-size:11px; padding-left:0px; vertical-align:bottom; text-align:center;color: #000000;font-weight:normal;">
					Pre-View<br/><small>(Separate Window)</small>
				</td>			
			</tr>
		</tbody>					
	</table>
</div>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
  		  jQ("#options_table1").show();
  		  jQ("#options_table2").show();
		  jQ("#pool_contents").hide();		  

	jQ("#pool_show").click(function() {
		  	jQ("#options_table1").hide();
		  	jQ("#options_table2").hide();	 
	   		jQ("#pool_contents").slideDown("slow");
	})

	jQ("#options_show").click(function() {
	   		jQ("#pool_contents").slideUp("slow");
  		  jQ("#options_table1").show();
  		  jQ("#options_table2").show();
	})	
});
</script>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.add_button').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#questions").html(data);
				jQ("#questions").show();
			})
			return false;
	})
});
</script>


<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#calibrate_toggle").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_option_toggle_calibrate %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#user_filter_toggle").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_option_toggle_user_filter %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#get_pool").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var assessment = "<%= @assessment.public_id %>";
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :edit_assessment_question_pool_recycle %>";
		jQ.get(url,{'organization_id': organization,'assessment_id': assessment},  function(data) {
			jQ("#assessment_options").html(data); 
  		  jQ("#options_table1").hide();
  		  jQ("#options_table2").hide();	 
	   		jQ("#pool_contents").slideDown("slow");
					});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#range_change").change(function(){
		var range_id = jQ('#ass_range_id').val();
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_options_update, :organization_id => @current_organization  %>";
			jQ.get(url, {'assessment_id':assessment_id, 'range_id':range_id, 'user_id': user}, function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#strand_change").change(function(){
		var strand_id = jQ('#ass_strand_id').val();
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_options_update, :organization_id => @current_organization  %>";
			jQ.get(url, {'assessment_id':assessment_id,  'strand_id':strand_id, 'user_id': user}, function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
			});
	})
});
</script>


<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#reading_change").change(function(){
		var reading_id = jQ('#ass_reading_id').val();
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_options_update, :organization_id => @current_organization  %>";
			jQ.get(url, {'assessment_id':assessment_id,  'reading_id':reading_id, 'user_id': user}, function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#master_id").change(function(){
		var master_id = jQ('#ass_master_id').val();
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= url_for :controller => '/apps/assessment', :action => :user_options_update, :organization_id => @current_organization  %>";
			jQ.get(url, {'assessment_id':assessment_id, 'master_id': master_id, 'user_id': user}, function(data) {
			jQ("#assessment_options").html(data); 
	   		jQ("#assessment_options").show();
			});
	})
});
</script>	



<script>
jQ(function(){
jQ('td.tip_options').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'bottomMiddle',
         tooltip: 'topMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 200,
	  tip: { // Now an object instead of a string
         corner: 'topMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>