
<div>
	<% unless @classroom.act_assessments.active.locked.size.zero? %>

  	<% student_submissions = @current_user.act_submissions.for_classroom(@classroom) -%>
	<br/>	
	<table style="width:900px; border:0px">

				<style  type="text/css" media="screen">
				table,tr,td { border:1px solid #ddd; }
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			
			<thead>
				<tr>
					<th style="width:80px; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Last Taken</center></strong></th>
					<th style="width:60px;">
						<strong><center>&nbsp;</center></strong></th>
					<th style="width:760px;vertical-align:middle;  text-align:left; padding-left:10px; padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong>Assessment Title</strong></th>
				</tr>
			</thead>
			
			<% for ass in @classroom.act_assessments.active.locked.sort{|a,b| b.updated_at <=> a.updated_at}do -%>
				<% previous_submits = []%>
				<% available_to_submit = true -%>
				<% unless student_submissions.empty? -%>
					<% previous_submits = student_submissions.select{|s| s.act_assessment_id == ass.id} -%>
					<% unless previous_submits.empty? -%>
						<% last_date_taken = previous_submits.collect{|s| s.created_at}.max -%>
						<% if last_date_taken > (Time.now - @classroom.ifa_classroom_option.days_til_repeat.days) -%>
								<% available_to_submit = false -%>
							<% else -%>
								<% available_to_submit = true -%>
						<% end -%>
					<% end -%>
				<% end -%>
				
					<tr id="<%= ass.public_id %>" class="content-list-item">

						<td  style="width:80px;vertical-align:middle;  padding-top:6px; padding-bottom:6px; text-align:center; color: #000000; font-size:11px">
						<% unless previous_submits.empty? -%>
							<center>
							<%= last_date_taken.strftime("%m-%d-%y") %>
							</center>
						<% else -%>
							<center>
							First Time
							</center>							
						<% end -%>
						</td>
						<% if available_to_submit -%>	
						<td  style="width:60px;vertical-align:middle;  padding-left:15px; padding-top:8px; padding-bottom:6px;color: #000000; font-size:10px">
							<u>
							<%= button_to "TAKE", ifa_assessment_submit_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :assessment_id => ass, :function => "Assess"), :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
							</u><br/>
						</td>	
						<% else -%>
						<td  style="width:60px;vertical-align:middle;  padding-left:0px; padding-top:0px; color: #C83A14; font-size:10px">
							<center><i>Not<br/>Available</i></center>	
						<% end -%>
						</td>
						<td  style="width:760px;color: #000000; text-align:left; padding-left:10px; vertical-align:middle; padding-top:6px; padding-bottom:6px; font-size:12px">
							<strong>"<%= ass.name.titleize%>"</strong>&nbsp;&nbsp;&nbsp;&nbsp;
							<span style="font-size:10px;">
							<%= ass.act_subject.name%>:&nbsp;
							<% @current_organization.ifa_org_option.act_masters.each do |mstr| %>
								<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%>&nbsp;&nbsp;
							<% end -%>	
							<span/>				
						</td>
			
					</tr>

			<% end %>
		</tbody>
	</table>
<% else -%>
	<br/>
	<span style ="color: #C83A14; font-size:16px">
	<center><i>* * *  <%= @classroom.course_name.upcase %> Has An Empty Assessment Pool  * * *</i></center>
	</span>
<% end -%>	


</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
