<div class="row ifa_panel_title">

</div>

<% student_submissions = @current_user.act_submissions.for_classroom(@classroom) -%>
<% unless @classroom.act_assessments.active.lock.empty? %>
  <% for ass in @classroom.act_assessments.active.lock.sort{|a,b| b.updated_at <=> a.updated_at}do -%>
    <% previous_submits = []%>
    <% available_to_submit = true -%>
    <% unless student_submissions.empty? -%>
      <% previous_submits = student_submissions.select{|s| s.act_assessment_id == ass.id} -%>
      <% unless previous_submits.empty? -%>
        <% last_date_taken = previous_submits.collect{|s| s.created_at}.max -%>
        <% if last_date_taken > (Time.now - @classroom.ifa_classroom_option.days_til_repeat.days) -%>
            <% available_to_submit = false -%>
        <% else -%>
            <% available_to_submit = true -%>
        <% end -%>
      <% end -%>
    <% end -%>

    <div class="row assess_to_take">
      <hr>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <%= previous_submits.empty? ? 'Not Yet Taken' : ('Last Taken: ' + last_date_taken.strftime("%m-%d-%y")) %>
      </div>
      <div class="col-md-1">
        <% disabled =  available_to_submit ? nil : 'disabled' -%>
        <%= link_to "Take", ifa_assessment_submit_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :assessment_id => ass, :function => "Assess"),
                            :class => "btn btn-default btn-xs", :disabled => disabled, :method=>:get %>
       <!-- NEW  -->
        <%#= link_to "Take", ifa_submission_take_path(:organization_id => @current_organization, :classroom_id => @classroom.id, :topic_id => @topic.id, :act_assessment_id => ass.id, :function => "Assess"),
                    :class => "btn btn-default btn-xs", :disabled => disabled, :method=>:get %>
      </div>
      <div class="col-md-7">
        <span style="font-weight:bold"><%= ass.name.titleize%></span><br/>
        <%= ass.act_subject.name%>:&nbsp;
        <% @current_provider.ifa_org_option.act_masters.each do |mstr| %>
            <%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%>&nbsp;&nbsp;
        <% end -%>
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end %>
<% end -%>
