<div>
  <div class="row">
    <div class="ifa_panel_title">
      Assessment Repository
    </div>
  </div>
  <hr>
  <div class="row">
	  <%= form_for(:act_assesment, :url => ifa_assessment_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :function => 'New')) do |form| -%>
      <div class="col-md-4 "></div>
        <div class="col-md-2 ">
          <div class="repo_select">
            <%=  select( :assess, :subject_id, ActSubject.all_subjects.collect{|s| [s.name, s.id]}, {:prompt => ActSubject.first.name}) %>
          </div>
        </div>
        <div class="col-md-6 ">
        <div class="repo_submit">
     <!--     <%#= form.submit 'Create New Assessment', :class => "fsn-button ui-button ui-state-default ui-corner-all" %> -->
          <%= form.submit 'Create New Assessment', :class => "btn btn-primary btn-xs" %>
        </div>
      </div>
    <% end -%>
  </div>

	<% unless @assessments.size.zero? %>
	<div id="assign_resources_panel">
		<table id="assessment_levels"  class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<% header_string = pluralize(@assessments.size.to_s, " Mastery Assessments") + " In The Repository" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>  
				<% unless @current_user.act_assessments.size.zero? %>
					<tr>
					<td class="resource_levels_close">
						<% col_label = pluralize(@current_user.act_assessments.size, @current_user.last_name + " Assessment") -%>
						<%= link_to '', ifa_user_assessments_list_path(:organization_id => @current_organization, :classroom_id => @classroom) %>
						<strong><%= col_label %></strong>
						<span></span>
					</td>
					</tr>				
				<% else -%>
					<tr>
						<td style ="text-align:center; color: #C83A14; font-size:11px">
							<i>* * *  There Are No <%=@current_user.last_name %> Assessments In The Library  * * *</i>
						</td>
					</tr>
				<% end -%>				
				<% sub_ids = @assessments.group_by(&:act_subject_id) %>
				<% sub_ids.each do |si, asses| %>
					<% subj_name = ActSubject.find(si).name rescue nil-%> 
					<% col_label = asses.size.to_s + " Active " + subj_name-%>
					<tr>
					<td class="resource_levels_close">

					<%= link_to '', ifa_subject_assessments_list_path(:organization_id => @current_organization, :classroom_id => @classroom, :subject_id => si) %>
					<strong><%= col_label %></strong>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>
	</div>
<% else -%>
	<br/>
	<span style ="text-align:center; color: #C83A14; font-size:11px">
	<i>* * *  There Are No Assessments In The Library At This Time  * * *</i>
	</span>
<% end -%>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#assessment_levels .resource_levels_close').toggleResourceLevels();
      jQ('#assessment_levels .resource_levels_open').toggleResourceLevels();
    });
  </script>
</div>
