<div>
  <div class="row">
    <div class="ifa_panel_title">
      Related Reading Repository
    </div>
  </div>
  <hr>
  <div class="row">
	  <%= form_for(:act_reading, :url => ifa_question_reading_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :function => "New")) do |form| -%>
      <div class="col-md-4 "></div>
      <div class="col-md-2 ">
        <div class="repo_select">
          <%=  select( :read, :subject_id, ActSubject.all_subjects.collect{|s| [s.name, s.id]}, {:prompt => ActSubject.first.name}) %>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="repo_submit">
          <%= form.submit 'Create New Reading', :class => "btn btn-primary btn-xs" %>
        </div>
      </div>
	  <% end -%>
	</div>
  <hr>
  <div class="row ifa_panel_title">

      <%= pluralize(@readings.size.to_s, " Related Reading") %>

  </div>
      <div class="row ">
      <div class="ifa_panel_list">
      <table id="reading_levels" >
			<tbody >
				<% sub_ids = @readings.group_by(&:act_subject_id) %>
				<% sub_ids.each do |si, readings| %>
					<% subj_name = ActSubject.find(si).name -%> 
					<% col_label = readings.size.to_s + " " + subj_name-%>
					<tr>
					<td class="resource_levels_close">
					<%= link_to '', ifa_subject_readings_path(:organization_id => @current_organization, :classroom_id => @classroom, :subject_id => si) %>
					<%= col_label %>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>
      </div>
</div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#reading_levels .resource_levels_close').toggleResourceLevels();
      jQ('#reading_levels .resource_levels_open').toggleResourceLevels();
    });
  </script>
</div>
