<div>
  <div class="row">
    <div class="ifa_panel_title">
      <%= @current_standard.abbrev %>&nbsp;Benchmark Repository
    </div>
  </div>
  <hr>
  <div class="row">
	  <%= form_for(:act_question, :url => ifa_benchmark_ifa_add_path(:organization_id => @current_organization, :classroom_id => @classroom)) do |form| -%>
      <div class="col-md-4 "></div>
      <div class="col-md-2 ">
        <div class="repo_select">
          <%=  select( :bench,:subject_id, @current_standard.act_subjects.collect{|s| [s.name, s.id]}, {:prompt => "Select " + @current_standard.abbrev + " Subject"}) %>
    <!--
        <%# master_list = (@current_provider.ifa_org_option.act_masters - ActMaster.where('abbrev = ?', 'CO')) & ActBenchType.all.collect{|m| m.act_master} -%>
        <%#=  select(  :bench,:master_id, master_list.collect{|m| [m.abbrev, m.id]}, {:prompt => master_list.first.abbrev}) %>
    -->
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="repo_submit">
          <%= form.submit 'Create New Benchmark', :class => "btn btn-primary btn-xs" %>
        </div>
      </div>
    <% end -%>
  </div>
	<div>
	<div id="assign_resources_panel">
		<% ActMaster.national.each do |std| %>
			<% unless std.act_benches.size.zero? %>
			<table id="benchmark_levels"   style="width:99%;">
				<thead>
					<tr>
						<% header_string = pluralize(std.act_benches.size.to_s, " " + std.abbrev + " Benchmark") + " In The Repository" %>
						<th><strong><%= header_string %></strong></th>											
					</tr>
				</thead>
				<tbody>
					<% sub_ids = std.act_benches.sort{|a,b| a.act_subject_id <=> b.act_subject_id}.group_by(&:act_subject_id) %>
					<% sub_ids.each do |si, benchmarks| %>
						<% subj_name = ActSubject.find(si).name -%> 
						<% col_label = benchmarks.size.to_s + " " + subj_name-%>
						<tr>
						<td class="resource_levels_close">
	
						<%= link_to '', ifa_subject_benchmarks_path(:organization_id => @current_organization, :classroom_id => @classroom, :master => std,  :subject_id => si) %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
						</tr>
						<% end -%>
				</tbody>
			</table>
		<br/>
		<% else -%>
			<br/>
			<span style ="text-align:center; color: #C83A14; font-size:11px">
			<i>* * *  There Are No <%= std.abbrev.upcase %>&nbsp;Benchmarks In The Library At This Time  * * *</i>
			</span>
		<% end -%>	
	<% end -%>
	</div>
</div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#benchmark_levels .resource_levels_close').toggleResourceLevels();
      jQ('#benchmark_levels .resource_levels_open').toggleResourceLevels();
    });
  </script>
</div>
