<div>
  <div class="row">
    <div class="ifa_panel_title">
      Related Reading Repository
    </div>
  </div>
  <hr>
  <div class="row">
	  <%= form_for(:act_reading, :url => ifa_question_reading_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :function => "New")) do |form| -%>
      <div class="col-md-4 "></div>
      <div class="col-md-2 ">
        <div class="repo_select">
          <%=  select( :read, :subject_id, ActSubject.all_subjects.collect{|s| [s.name, s.id]}, {:prompt => ActSubject.first.name}) %>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="repo_submit">
          <%= form.submit 'Create New Reading', :class => "btn btn-primary btn-xs" %>
        </div>
      </div>
	  <% end -%>
	</div>
  <div>
	<% unless @readings.size.zero? %>
	<div id="assign_resources_panel">
		<table id="reading_levels" style="width:99%;">
			<thead>
				<tr>
					<% header_string = pluralize(@readings.size.to_s, " Related Reading") + " In The Repository" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>  
				<% sub_ids = @readings.group_by(&:act_subject_id) %>
				<% sub_ids.each do |si, readings| %>
					<% subj_name = ActSubject.find(si).name -%> 
					<% col_label = readings.size.to_s + " " + subj_name-%>
					<tr>
					<td class="resource_levels_close">

					<%= link_to '', ifa_subject_readings_path(:organization_id => @current_organization, :classroom_id => @classroom, :subject_id => si) %>
					<strong><%= col_label %></strong>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>
<% else -%>
	<br/>
	<span style ="text-align:center; color: #C83A14; font-size:11px">
	<i>* * *  There Are No Related Readings In The Library At This Time  * * *</i>
	</span>
<% end -%>	

</div>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#reading_levels .resource_levels_close').toggleResourceLevels();
      jQ('#reading_levels .resource_levels_open').toggleResourceLevels();
    });
  </script>
</div>
