
<div style = "font-size:12px; color: #000000;padding-left:10px;">
	<br/>
	<span style ="text-align:center; color: #C83A14; font-size:18px">
	<strong>Integrated Formative Assessment <%= @current_standard.abbrev %> Benchmark Repository</strong>
	</span>
	<% if @current_user.ifa_admin_for_org?(@current_organization)%>
	<div style = "padding-bottom:10px;padding-left:0px; ">
	<%= form_for(:act_question, :url => {:controller => "/apps/assessment", :action => :add_ifa_benchmark, :organization_id => @current_organization, :classroom_id => @classroom}) do |form| -%>
		<table  style="width:200px;margin-left:305px;">
			<tbody>  
				<tr>
					<td style="width:120px; font-size:normal">
						<%=  select( :bench,:subject_id, @current_standard.act_subjects.collect{|s| [s.name, s.id]}, {:prompt => "Select " + @current_standard.abbrev + " Subject"}) %>
					</td>
					<% master_list = (@current_organization.ifa_org_option.act_masters - ActMaster.all.where('abbrev = ?', 'CO')) & ActBenchType.all.collect{|m| m.act_master} -%>
					<td style="width:120px; font-size:normal">
<!--
						<%#=  select(  :bench,:master_id, master_list.collect{|m| [m.abbrev, m.id]}, {:prompt => master_list.first.abbrev}) %>
-->
					</td>
        			<td>
          				<%= form.submit 'Create New Benchmark',:class => 'fsn-button ui-button ui-state-default ui-corner-all' %>
        			</td>			
				</tr>
			</tbody>
		</table>
	<% end -%>
	</div>
	<% end -%>
	<div>
	<div id="assign_resources_panel">
		<% ActMaster.national.each do |std| %>
			<% unless std.act_benches.size.zero? %>
			<table id="resource_levels"   style="width:99%;">
				<thead>
					<tr>
						<% header_string = pluralize(std.act_benches.size.to_s, " " + std.abbrev + " Benchmark") + " In The Repository" %>
						<th><strong><%= header_string %></strong></th>											
					</tr>
				</thead>
				<tbody>
					<% sub_ids = std.act_benches.sort{|a,b| a.act_subject_id <=> b.act_subject_id}.group_by(&:act_subject_id) %>
					<% sub_ids.each do |si, benchmarks| %>
						<% subj_name = ActSubject.find(si).name -%> 
						<% col_label = benchmarks.size.to_s + " " + subj_name-%>
						<tr>
						<td class="resource_levels_close">
	
						<%= link_to '', :controller => "apps/assessment", :action => :subject_benchmarks, :organization_id => @current_organization, :classroom_id => @classroom, :master => std,  :subject_id => si %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
						</tr>
						<% end -%>
				</tbody>
			</table>
		<br/>
		<% else -%>
			<br/>
			<span style ="text-align:center; color: #C83A14; font-size:11px">
			<i>* * *  There Are No <%= std.abbrev.upcase %>&nbsp;Benchmarks In The Library At This Time  * * *</i>
			</span>
		<% end -%>	
	<% end -%>
	</div>


</div>
</div>
