<div id="assess_options">
  <div class="row">
    <div class="col-md-7">
      <%= @current_user.last_name %> Students Only:
    </div>
    <div id="student_filter" class="col-md-5" style="padding-top:.7em;">
      <% if @current_user.ifa_user_option.is_student_filtered %>
          <%= (image_tag "button_enabled.png",:width => 12) -%>
      <% else -%>
          <%= (image_tag "button_disabled.png",:width => 12) -%>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      Tagged Classrooms Only:
    </div>
    <div id="classroom_filter" class="col-md-5" style="padding-top:.7em;">
      <% if @current_user.ifa_user_option.is_classroom_filtered %>
          <%= (image_tag "button_enabled.png",:width => 12) -%>
      <% else -%>
          <%= (image_tag "button_disabled.png",:width => 12) -%>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      Tagged Colleagues Only:
    </div>
    <div id="colleague_filter" class="col-md-5" style="padding-top:.7em;">
      <% if @current_user.ifa_user_option.is_colleague_filtered %>
          <%= (image_tag "button_enabled.png",:width => 12) -%>
      <% else -%>
          <%= (image_tag "button_disabled.png",:width => 12) -%>
      <% end -%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      Tagged Organizations Only:
    </div>
    <div id="org_filter" class="col-md-5" style="padding-top:.7em;">
      <% if @current_user.ifa_user_option.is_org_filtered %>
          <%= (image_tag "button_enabled.png",:width => 12) -%>
      <% else -%>
          <%= (image_tag "button_disabled.png",:width => 12) -%>
      <% end -%>
    </div>
  </div>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#period_change").click(function(){
		var period = jQ('#period_begin').val();
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_user_options_assessment_update_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'assessment_id':assessment_id, 'begin_date':period, 'user_id': user}, function(data) {
			jQ("#assess_options").html(data);
	   		jQ("#assess_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#student_filter").click(function(){
		var filter = 'student';
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_user_options_assessment_update_url(:organization_id => @current_organization)  %>";
			jQ.get(url, {'assessment_id':assessment_id, 'filter':filter, 'user_id': user}, function(data) {
			jQ("#assess_options").html(data);
	   		jQ("#assess_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#org_filter").click(function(){
		var filter = 'org';
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_user_options_assessment_update_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'assessment_id':assessment_id, 'filter':filter, 'user_id': user}, function(data) {
			jQ("#assess_options").html(data);
	   		jQ("#assess_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#classroom_filter").click(function(){
		var filter = 'classroom';
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_user_options_assessment_update_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'assessment_id':assessment_id, 'filter':filter, 'user_id': user}, function(data) {
			jQ("#assess_options").html(data);
	   		jQ("#assess_options").show();
			});
	})
});
</script>

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#colleague_filter").click(function(){
		var filter = 'colleague';
		var assessment_id = '<%= @assessment.public_id %>';
		var user = "<%= @current_user.public_id %>";
		var url = "<%= ifa_user_options_assessment_update_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'assessment_id':assessment_id, 'filter':filter, 'user_id': user}, function(data) {
			jQ("#assess_options").html(data);
	   		jQ("#assess_options").show();
			});
	})
});
</script>
