<div id= "question_option"  >
	<table style="width:205px;  margin-left:0px; border:0px solid white;">
		<tbody>
			<style type="text/css" media="screen">
		    table,tr,td { border:medium}
			table tr:hover{
 	       	background-color: transparent;
 	     	}
 		   	</style>

			<tr style=" border:0px solid white;">
				<td style=" width:35px; border:0px solid white; font-size:11px; padding-top:5px;padding-bottom:5px; padding-left:3px; vertical-align:bottom; text-align:left;color: #C83A14;font-weight:normal;">
				<% if @question.is_calibrated? -%>			
						<%= (image_tag "calibrated_yes.png",:width => 25)%>					
				<%else -%>
						<%= (image_tag "calibrated_no.png",:width => 25)%>					
				<% end -%>
				</td>
				<td style=" width:35px; border:0px solid white; font-size:11px; padding-top:5px;padding-bottom:5px; padding-left:3px; vertical-align:bottom; text-align:left;color: #C83A14;font-weight:normal;">
				<% if @question.is_locked? -%>			
						<%= (image_tag "lock_yes.png",:width => 25)%>					
				<%else -%>
						<%= (image_tag "lock_no.png",:width => 25)%>					
				<% end -%>
				</td>
				<td style=" width:135px; border:0px solid white; font-size:11px; padding-top:5px;padding-bottom:5px; padding-left:13px; vertical-align:bottom; text-align:left;color: #C83A14;font-weight:normal;">
						&nbsp;
				</td>
			</tr>
			<% if @current_user.ifa_admin_for_org?(@current_organization)-%>
				<tr style=" border:0px solid white;">
					<td colspan=3 style="  border:0px solid white; font-size:11px; padding-top:15px;padding-bottom:0px; padding-left:3px; vertical-align:middle; text-align:left;color: #C83A14;font-weight:normal;">
						<% if @question.is_calibrated -%>
							<%= link_to  "Remove Calibration", ifa_question_toggle_calibration_path(:organization_id => @current_organization, :question_id => @question), :class => "toggle_calibration" %></u><br/>
						<% else -%>
							<%= link_to  "Calibrate Question", ifa_question_toggle_calibration_path(:organization_id => @current_organization,  :question_id => @question), :class => "toggle_calibration" %></u><br/>
						<%end -%>
					</td>
				</tr>
			<%end -%>	
			<tr style=" border:0px solid white;">
				<td colspan=3 style="  border:0px solid white; font-size:11px; padding-top:15px;padding-bottom:0px; padding-left:3px; vertical-align:middle; text-align:left;color: #C83A14;font-weight:normal;">
					<% if @current_user == @question.user -%>
						<%= button_to  "EDIT Question", ifa_question_edit_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :function => "Edit"), :class => "btn btn-primary btn-xs" %><br/>
					<% else -%>
						&nbsp;
					<%end -%>
				</td>
			</tr>						
			<tr style=" border:0px solid white;">
				<td colspan=3 style="  border:0px solid white; font-size:11px; padding-top:0px;padding-bottom:5px; padding-left:3px; vertical-align:middle; text-align:left;color: #C83A14;font-weight:normal;">
					<% if @current_user.ifa_admin_for_org?(@current_organization)-%>
						<br/><%= button_to  "CLONE Question", {:controller => "/apps/assessment", :action => :copy_question, :organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question}, :class => "fsn-button ui-button ui-state-default ui-corner-all" %></u><br/>
					<% else -%>
						&nbsp;
					<%end -%>
				</td>
			</tr>
			<tr style=" border:0px solid white;">
				<td style=" border:0px solid white; font-size:11px; padding-top:5px;padding-bottom:5px; padding-left:3px; vertical-align:bottom; text-align:left;color: #C83A14;font-weight:normal;">
					<br/>
					<%= link_to "Return", self.send(@current_application.link_path(:organization_id => @current_organization, :classroom_id => @classroom)) %>
				</td>		
			</tr>
		</tbody>					
	</table>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.toggle_calibration').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#question_option").html(data);
				jQ("#question_option").show();
			})
			return false;
	})
});
</script>
