
<table id="<%=que.id.to_s %>_<%=qdx.to_s%>_anal">
  <tbody>
  <tr>
    <td class="resource_levels_close">
      <%= link_to '', ifa_assessment_question_analyze_path(:organization_id => @current_organization,  :q_id => que.id) %>
      Analyze
      <span></span>
    </td>
  </tr>
  </tbody>
</table>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function() {
    jQ('#<%=que.id.to_s %>_<%=qdx.to_s%>_anal .resource_levels_close').toggleResourceLevels();
    jQ('#<%=que.id.to_s %>_<%=qdx.to_s%>_anal .resource_levels_open').toggleResourceLevels();
  });
</script>