<div id="student_scores" >

	<table id="roles"  style="width:750px; margin-left:100px">
		<tbody >
			<style type="text/css" media="screen">
		    table,tr,td { border:1px solid #ddd; }
			table tr:hover{
	        background-color: transparent;
		    }
    		</style>
		<tr>
			<td style="width:150px; text-align:center;border:1px solid #ddd;">
				<u>Subject Area</u>
			</td>
			<% @current_provider.ifa_org_option.act_masters.each do|mstr| -%>
				<td style = "width:200px; text-align:center;border:1px solid #ddd;">
					<u><%= mstr.abbrev.upcase -%></u>
				</td>
				<% if mstr.abbrev == "CO" %>
				<td style = "width:200px; text-align:center;border:1px solid #ddd;">
					<u>CSAP</u>
				</td>
				<% end -%>
			<% end -%>
		</tr>

		<% ActSubject.no_na.each do |subj| -%>
		<tr>
			<td style="width:150px; vertical-aign:middle; text-align:center; padding-top:20px; padding-bottom:20px;border:1px solid #ddd;">
				<%= subj.name.upcase %>
			</td>
			<% @current_provider.ifa_org_option.act_masters.each do|mstr| -%>
				<% score = @student.ifa_user_baseline_scores.for_subject(subj).for_standard(mstr).first ? @student.ifa_user_baseline_scores.for_subject(subj).for_standard(mstr).first.score.to_s: "Not Defined" -%>
				<% @score_id = subj.public_id + mstr.public_id -%>
				<td id="s_<%= @score_id %>" style = "text-align:center; width:200px; padding-top:10px;border:1px solid #ddd;color: #C83A14; font-size:12px">
					<%= score -%>&nbsp;&nbsp;
		<!--		<%#=  select(@score_id, :score, ActScoreRange.find(:all, :conditions => ["act_subject_id =? AND act_master_id = ?", subj.id, mstr.id],:order => "lower_score").collect{|s| [s.range, s.lower_score]},{:prompt => "Assign Score"}) %>   -->
            <%=  select(@score_id, :score, ActScoreRange.for_standard_and_subject(mstr, subj).sort_by{|sr| sr.lower_score}.collect{|s| [s.range, s.lower_score]},{:prompt => "Assign Score"}) %>
				</td>
					<% if mstr.abbrev == "CO" %>
						<% unless @student.student_subject_demographics.for_subject(subj).empty? -%>
							<% csap = @student.student_subject_demographics.for_subject(subj).first.latest_csap ? @student.student_subject_demographics.for_subject(subj).first.latest_csap.to_s: "No CSAP" -%>
						<% else -%>
							<% csap = "No CSAP" -%>
						<% end -%>
				<td id="c_<%= subj.public_id %>" style = "text-align:center; width:200px; padding-top:10px;border:1px solid #ddd;color: #C83A14; font-size:12px">
						<%= csap -%>&nbsp;&nbsp;
							<%=  select(subj.public_id, :csap, subj.co_csap_ranges.order('lower_score').collect{|s| [s.range, s.lower_score]},{:prompt => "Assign Score"}) %>
					<% end -%>
				</td>					

<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#s_<%= @score_id %>").change(function(){
		var score = jQ('#<%= @score_id%>_score').val();
		var student_id = '<%= @student.public_id %>';
		var master_id = '<%= mstr.public_id %>';
		var subject_id = '<%= subj.public_id %>';
		var url = "<%= ifa_student_baseline_edit_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'student_id':student_id, 'master_id': master_id, 'subject_id': subject_id,'score':score}, function(data) {
			jQ("#student_scores").html(data); 
	   		jQ("#student_scores").show();
			});
	})
});
</script>

			<% end -%>
<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#c_<%= subj.public_id %>").change(function(){
		var score = jQ('#<%= subj.public_id%>_csap').val();
		var student_id = '<%= @student.public_id %>';
		var subject_id = '<%= subj.public_id %>';
		var url = "<%= ifa_student_csap_demographic_edit_url(:organization_id => @current_organization) %>";
			jQ.get(url, {'student_id':student_id, 'subject_id': subject_id,'score':score}, function(data) {
			jQ("#student_scores").html(data); 
	   		jQ("#student_scores").show();
			});
	})
});
</script>
		</tr>

		<% end -%>

	</tbody>
</table>
<br/><br/><br/>
</div>

