<div id="assessment_submission" >
  <div class="row">
    <div class="col-md-3"></div>
	    <% teacher = @teacher ? @teacher.last_name : "Select Your Teacher" -%>
      <div class= 'col-md-3 '>
        <% if @teacher %>
          <div class=" assess_button">
            <input type="hidden" name="teacher[teacher_id]" value="<%= @teacher.id %>">
            <%= submit_tag 'Submit Assessment',:class => 'btn btn-primary btn-xs', :confirm => "Are You Sure?" %>
            <span class='assess_button_label'><%=@teacher.last_name%></span>
          </div>
        <% end -%>
      </div>
      <div class= 'col-md-3'>
        <% if @teacher_list.size > 1 %>
          <%= select(:submission, :teacher_id, @teacher_list.collect{|d| [d.last_name, d.id]}, :prompt => teacher) %>
        <% end -%>
      </div>
      <div class="col-md-1"></div>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#submission_teacher_id").change(function(){
          var teacher_id = jQ('#submission_teacher_id').val();
          var classroom_id = '<%= @classroom.public_id %>';
          var url = "<%= ifa_assessment_submission_url(:organization_id => @current_organization) %>";
            jQ.get(url, {'classroom_id':classroom_id,  'teacher_id':teacher_id}, function(data) {
            jQ("#assessment_submission").html(data);
              jQ("#assessment_submission").show();
            });
        })
      });
    </script>
    <script>
      jQ('form#id').submit(function(){
        jQ(this).find(':input[type=submit]').prop('disabled', true);
      });
    </script>
  </div>
</div>




