
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> ADD RELATED READING TO LIBRARY</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom %>
</div>

<div id="reading_form" class="Form clear">
<%= form_for(:act_rel_reading, :url => {:controller => "/apps/assessment", :action => :add_reading, :organization_id => @current_organization, :classroom_id => @classroom , :subject_id => @reading.act_subject_id, :function => "Submit"}) do |form| -%>

	<div class="FormRow">
		<div class="FormRowTitle"><strong>Subject Area:</strong></div>

			<div class="FormRowData" style= "margin-left:25px">
				<strong><%=@reading.act_subject.name.upcase%></strong>
			</div>
	</div>
	
	<% score_range = @reading.score_range(@current_standard) -%>
	<% if score_range -%>
		<% prompt_label = score_range.range -%>
		<% else -%>
		<% prompt_label = "Select " + @current_standard.abbrev + " Mastery Level" -%>
		<% end -%>	
		<div class="FormRow">
			<div class="FormRowTitle"><strong><%= @current_standard.abbrev %> Mastery Level:</strong></div>
  	      <div class="FormRowData" style= "margin-left:25px">
	<!--			<%#=  select(:range, :act_score_range_id, ActScoreRange.find(:all, :conditions => ["act_subject_id =? AND act_master_id = ?", @reading.act_subject_id, @current_standard.id],:order => "upper_score").collect{|s| [s.range, s.id]},{:prompt => prompt_label}) %> -->
            <%=  select(:range, :act_score_range_id, ActScoreRange.for_standard_and_subject( @current_standard, @reading.act_subject_id).collect{|s| [s.range, s.id]},{:prompt => prompt_label}) %>
  	      </div>
  	  </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>
	
	<div class="FormRow">
		<div class="FormRowTitle"><strong>Genre:</strong></div>

			<div class="FormRowData" style= "margin-left:25px">

				<%=  select(:rdg, :act_genre_id, ActGenre.all.collect{|g| [g.name, g.id]},{:prompt => "Select Genre"}) %>

			</div>
	</div>	<div class="FormRow">
		<div class="FormRowTitle"></div>

			<div class="FormRowData" style= "margin-left:25px">

			</div>
	</div>
	<div class="FormRow">
		<div class="FormRowTitle"><strong>Label:</strong></div>
        <div class="FormRowData" style= "margin-left:25px">
         <%= text_field :rdg, :label, :size => 55, :maxlength => 150, :value => @reading.label  %>
        </div>
    </div>
	<div class="FormRow">
		<div class="FormRowTitle"></div>

			<div class="FormRowData" style= "margin-left:25px">
			</div>
	</div>
	<br/>

	<div class="FormRow">
		<div class="FormRowTitle"><strong>Reading:</strong></div>
			<div class="FormRowData" style= "margin-left:25px">
   			  <%= text_area :rdg, :reading, :rows => 20, :cols => 75, :maxlength => 255, :value => @reading.reading, :class =>"mceEditor"  %>
			</div>
	</div>


		<div class="FormRow submit_warp">
			<br/>
			<%= submit_tag "Add Reading", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
<% end -%>	
</div>	


<br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom %>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>


<script type="text/javascript">
        jQuery(document).ready(function(){
        jQ(".standards").hide();
        jQ("#rdg_subj_id").change(function(){
        jQ(".standards").hide();
		var selected_subj = jQ("#content_act_subject_id");
            switch(jQ(this).val()){
               case "1":
               jQ("#act_math").show();
               //jQ("#not_applic").show();
               break;
                         
               case "2":
               jQ("#act_english").show();
               break;
                          
               case "3":
               jQ("#act_read").show();
			   // jQ("#not_applic").show();
               break;
                         
               case "4":
               jQ("#act_science").show();
			   // jQ("#not_applic").show();
               break;			   
                        
               case "5":
               jQ("#act_write").show();
			   // jQ("#not_applic").show();
               break;			   

               default:
               jQ("#not_applic").show();              
             }
           });
         });
 </script>
<script type="text/javascript">		
	jQ(document).ready(function() {
//		var AUTH_TOKEN = "<%= protect_against_forgery? ? form_authenticity_token : '' %>";
//		jQ.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
		jQ("form.ajax").submit(function() {
			var action = jQ(this).attr("action");					
			jQ("textarea.mceEditor", this).each(function() {
				jQ(this).val(tinyMCE.get(this.id).getContent());
			});
			var post_data = $(this).serialize()
		  jQ.post(action, post_data, function(data) {
				jQ("#reading_form").html(data);
			});

	    return false;
	  });

	})
</script>