
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> ADD <%= @benchmark.act_master.abbrev %> BENCHMARK TO IFA LIBRARY</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
</div>

<div class="Form clear">
<%= form_for(:act_bench, :url => {:controller => "/apps/assessment", :action => :add_benchmark, :organization_id => @current_organization, :classroom_id => @classroom , :function => "Submit"}) do |form| -%>

 	<input type="hidden" name="standard" value="<%= @benchmark.standard %>" />
 	<input type="hidden" name="bench[subj_id]" value="<%= @benchmark.act_subject_id %>" />
 	<input type="hidden" name="bench[std_id]" value="<%= @benchmark.act_standard_id %>" />	
 	<input type="hidden" name="bench[mstr_id]" value="<%= @benchmark.act_master_id %>" />
			
	<div class="FormRow">
		<div class="FormRowTitle"><strong>Subject Area:</strong></div>

			<div class="FormRowData" style= "margin-left:25px">
				<strong><%=@benchmark.act_subject.name.upcase%></strong>
			</div>
	</div>
	
	<div class="FormRow">
		<div class="FormRowTitle"><strong><%= @benchmark.act_master.abbrev %> Strand: </strong></div>

			<div class="FormRowData" style= "margin-left:25px">
				<strong><%=@benchmark.act_standard.name.titleize%></strong>
			</div>
	</div>

	<% unless @gle.nil? -%>
	<div class="FormRow">
		<div class="FormRowTitle"><strong>GLE:</strong></div>

			<div class="FormRowData" style= "margin-left:25px">
				<strong><%= @gle.co_grade_level.level.titleize %></strong>
			 	<input type="hidden" name="bench[co_gle_id]" value="<%= @gle.id %>" />
			</div>
	</div>
	<div class="FormRow">

			<div class="FormRowData" style= " margin-left:300px">
				<span style = "font-size:12px; color:#C83A14"><%= @gle.skill.humanize %></span>
			</div>
	</div>	
		
	<% end -%>
		<div class="FormRow submit_warp">
			<br/><% tag_string = "Add " + @benchmark.standard.upcase + " Benchmark"%>
			<%= submit_tag tag_string, :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>
	<div class="FormRow">
		<div class="FormRowTitle">&nbsp; </div>			
			<div class="FormRowData" style= "margin-left:25px">		
 	<table id="bench" class="benches" style=" width:800px;"> 
		<tbody>
			<style type="text/css" media="screen">
    		table,tr,td { border:none; }
			table tr:hover{
       		background-color: transparent;
   			}
   			</style>
			<tr>
				 <td colspan="3"><strong><center>Add Up To Ten</center></strong></td>
			</tr>
				
				<% [1,2,3,4,5,6,7,8,9,10].each do |bnch| -%>
					<tr id="<%= bnch %>">
 						<td style="width:100px; vertical-align:top; padding-left:50px;">
							<%=  select(:score, bnch,  ActScoreRange.find(:all, :conditions => ["act_subject_id =? AND standard = ?", @benchmark.act_subject_id, @benchmark.standard],:order => "upper_score").collect{|s| [s.range, s.id]},{:prompt => "Select Mastery Level"}) %>
							<br/>
						<td>
						<td style="width:100px; vertical-align:top; padding-left:0px;">
							<%=  select( :type, bnch, ActBenchType.find(:all, :conditions => ["standard = ?", @benchmark.standard], :order => "name").collect{|b| [b.name.titleize, b.id]}) %>
							<br/>
						<td>
 						<td style="width:550px; text-align:left;">
   							  <%= text_area  :descript, bnch, :rows => 2, :cols => 65, :maxlength => 255 %>

							<br/>
   					    </td>
  					 </tr>
					 <% end -%>
 					<tr> <td>&nbsp;</td></tr>
				</tbody>
			</table>
			</div>
	</div>


		<div class="FormRow submit_warp">
			<br/><% tag_string = "Add " + @benchmark.standard.upcase + " Benchmark"%>
			<%= submit_tag tag_string, :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
<% end -%>	
</div>	


<br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>


<script type="text/javascript">
        jQuery(document).ready(function(){
        jQ(".standards").hide();
        jQ("#bench_subj_id").change(function(){
        jQ(".standards").hide();
		var selected_subj = jQ("#content_act_subject_id");
            switch(jQ(this).val()){
               case "1":
               jQ("#act_math").show();
               //jQ("#not_applic").show();
               break;
                         
               case "2":
               jQ("#act_english").show();
               break;
                          
               case "3":
               jQ("#act_read").show();
			   // jQ("#not_applic").show();
               break;
                         
               case "4":
               jQ("#act_science").show();
			   // jQ("#not_applic").show();
               break;			   
                        
               case "5":
               jQ("#act_write").show();
			   // jQ("#not_applic").show();
               break;			   

               default:
               jQ("#not_applic").show();              
             }
           });
         });
 </script>














