
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> ADD ASSESSMENT TO IFA LIBRARY</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", self.send(@current_application.link_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question)) %>
</div>

<div class="Form clear">
<%= form_for(:act_assessment, :url => ifa_assessment_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :function => "Submit")) do |form| -%>


	<div class="FormRow">
		<div class="FormRowTitle"><strong>Subject Area:</strong></div>

		<div class="FormRowData" style= "margin-left:25px">

			<%=  select(:assess, :subj_id, ActSubject.all.collect{|d| [d.name, d.id]},{:prompt => "Select Subject"}) %>

		</div>
	</div>

	<div class="FormRow">
		<div class="FormRowTitle"><strong>Title:</strong></div>
        <div class="FormRowData" style= "margin-left:25px">
         <%= text_field :assess, :name, :size => 55, :maxlength => 150 %>
        </div>
    </div>


	<div class="FormRow">
		<div class="FormRowTitle"><strong>Comment:</strong></div>
        <div class="FormRowData" style= "margin-left:25px">
         <%= text_field :assess, :comment, :size => 55, :maxlength => 150 %>
        </div>
    </div>

	<br/>


		<div class="FormRow submit_warp">
			<br/>
			<%= submit_tag "Create Assessment", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
<% end -%>	
</div>	


<br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", self.send(@current_application.link_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question)) %>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>


<script type="text/javascript">
        jQuery(document).ready(function(){
        jQ(".standards").hide();
        jQ("#quest_subj_id").change(function(){
        jQ(".standards").hide();
		var selected_subj = jQ("#content_act_subject_id");
            switch(jQ(this).val()){
               case "1":
               jQ("#act_math").show();
               //jQ("#not_applic").show();
               break;
                         
               case "2":
               jQ("#act_english").show();
               break;
                          
               case "3":
               jQ("#act_read").show();
			   // jQ("#not_applic").show();
               break;
                         
               case "4":
               jQ("#act_science").show();
			   // jQ("#not_applic").show();
               break;			   
                        
               case "5":
               jQ("#act_write").show();
			   // jQ("#not_applic").show();
               break;			   

               default:
               jQ("#not_applic").show();              
             }
           });
         });
 </script>

<script type="text/javascript">
        jQuery(document).ready(function(){
        jQ(".questions").hide();
        jQ("#question_type").change(function(){
        jQ(".questions").hide();
		var selected_subj = jQ("#content_act_subject_id");
            switch(jQ(this).val()){
               case "MC":
               jQ("#act_choices").show();
               //jQ("#not_applic").show();
               break;
               case "SA":
               jQ("#act_no_choices").show();
               //jQ("#not_applic").show();
               break;
  
               default:
               jQ("#act_no_choices").show();              
             }
           });
         });
 </script>














