
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:normal"> 

	<br/>
	<strong><center> ASSESSMENT UPDATE</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:0px;">
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">

	  <%#= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom,:question_id => @question, :assessment_id => @assessment %>
</div>

<div class="Form clear">
	<% form_for(:act_assessment, :url => {:controller => "/apps/assessment", :action => :edit_assessment, :organization_id => @current_organization, :classroom_id => @classroom , :function => "Submit", :assessment_id => @assessment, :question_id => @question}) do |form| -%>

	<div class="FormRow">
		<div class="FormRowTitle">Subject:</div>
        <div class="FormRowData" style= "margin-left:0px">
			<strong><%= @assessment.act_subject.name.upcase%></strong>
		</div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>


		<div class="FormRow">
			<div class="FormRowTitle"><%= @current_standard.abbrev%> Mastery Level:</div>
			<div class="FormRowData" style= "margin-left:0px">
				<strong><%=@assessment.score_range(@current_standard) %></strong>
			</div>
    	</div>	

			

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>
	<br/>	
  	<div class="FormRow">
		<div class="FormRowTitle">Title:</div>
        <div class="FormRowData" style= "margin-left:0px">
 		     <%= text_field :act_assessment, :name, :size => 55, :maxlength => 150, :value => @assessment.name  %>
 	    </div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>
	
 
  	<div class="FormRow">
		<div class="FormRowTitle">Comment:</div>
        <div class="FormRowData" style= "margin-left:0px">
 		     <%= text_field :act_assessment, :comment, :size => 55, :maxlength => 150, :value => @assessment.comment  %>
 	    </div>
    </div>

	<div class="FormRow">
		<div class="FormRowTitle"></div>
        <div class="FormRowData" style= "margin-left:0px">
       </div>
    </div>

<br/>
	<div class="FormRow submit_warp" style="padding-left:650px">
	<br/>
		<%= submit_tag "Update Assessment", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
	</div>	
<br/>
  <br style="clear:both">	
	<div id="assign_resources_panel">

	<% if @assess_questions.size > 0 %>
	<table id="authorization_levels" class="tablesorter" style="width:810px;margin-left:70px">
		<thead>
			<tr>
				<th colspan=5><strong>Current Assessment Questions</strong></th>											
			</tr>
		</thead>
		<tbody id="topic_content">

				<% @assessment.act_questions.each do |quest| -%>
				<% unless quest.nil? %>
					<tr id="<%= quest.public_id %>" class="content-list-item">
		
					<td width=40px align="center" style="vertical-align:middle;  align:right; padding-top:10px; padding-left:15px; color: #C83A14; font-size:10px">
					<center>
					<%=  check_box_tag "quest_check[]", value = quest.id ,checked = false %>
					<%= label_tag "Remove" %> 
					</center>
					</td>
					<% if !quest.is_calibrated -%>
						<td width = 30px style=" color: #000000; vertical-align:middle;text-align:right; font-size:10px" >
							&nbsp;
						</td>
					<% else -%>
						<td width = 30px style=" color: #000000; vertical-align:middle;text-align:right; font-size:10px" >
							<%= (image_tag "calibrated_yes.png",:width => 25) -%>
						</td>
					<% end -%>
					<% if !quest.is_locked -%>
						<td width = 30px style=" color: #000000; vertical-align:middle;text-align:right; font-size:10px" >
							<%= (image_tag "lock_no.png",:width => 25) -%>
						</td>
					<% else -%>
						<td width = 30px style=" color: #000000; vertical-align:middle;text-align:right; font-size:10px" >
							<%= (image_tag "lock_yes.png",:width => 25) -%>
						</td>
					<% end -%>
					<% q_stand = quest.standard(@current_standard) -%>
					<% q_range = quest.score_range(@current_standard) -%>
					<% if  q_stand -%>
					<% std_string = q_stand.abbrev.upcase + "&nbsp;&nbsp;" + q_stand.name.titleize -%>
					<% else -%>
					<% std_string = "No " + @current_standard.abbrev + " Knowledge Strand" -%>
					<% end -%>
					<% if  q_range -%>
					<% rng_string = "&nbsp;&nbsp;Mastery Level: " + q_range.range -%>
					<% else -%>
					<% rng_string = "No " + @current_standard.abbrev + " Mastery Level" -%>
					<% end -%>					
					<td width=500px, style="color: #C83A14; padding-top:10px; vertical-align:middle;">
							<strong><%= std_string %>, <%= rng_string %></strong><br/>
							<% if quest.act_rel_reading %>Reading: <%= quest.act_rel_reading.label %><br/><% end -%>
							<strong><u><%= link_to quest.question.titleize,{:controller =>  "/apps/assessment", :action => "static_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest}, {:target => "_blank"} %></u></strong><br>
							Type <%= quest.question_type %>:&nbsp;<%= pluralize(quest.act_choices.size, ' Choice') %><br/>
							<% quest.act_choices.each do |chc| %>
								<% if chc.is_correct -%>
									<span style="color:#C73914;padding-left:30px">
									+&nbsp;&nbsp;<%= chc.choice%><br/>
									</span>
									<% else -%>		
									<span style="color:#000000;padding-left:30px">
									+&nbsp;&nbsp;<%= chc.choice%><br/>
									</span>
								<% end -%>
							<% end -%>
		
					</td>
					<td  width=150px, style="font-size:11px; color: #C83A14; padding-top:10px; vertical-align:middle;">
							<center>
							<% unless quest.user.nil?%><%= quest.user.full_name%>,&nbsp <br/><%end%>
							<% unless quest.organization.nil? %> <%= quest.organization.medium_name %><% end %>
							</center>						
					</td>
				</tr>
				<% end %>
			<% end -%>
		</tbody>
	</table>
	<br/>
	<% else -%>		
	<div class="FormRow">
		<div class="FormRowTitle">&nbsp;</div>
  	     	<div class="FormRowData" style= "margin-left:0px">
				<span style="color:#C73914;padding-left:0px">
				<i>No Questions Assigned.  Assign Them Below</i>
				</span>
			</div>
    	</div>
	<% end -%>
	</div>
  <br style="clear:both">
<div>
	<% unless @avail_questions.size.zero? %>
	<br/>
	<div id="assign_resources_panel">
		<table id="authorization_levels" class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<% header_string = @assessment.act_subject.name + " Question Pool" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody> 
				<% std = @current_standard -%>
					<% ranges = ActScoreRange.find(:all, :conditions => ["act_subject_id = ? AND upper_score > ? AND act_master_id = ?", @assessment.act_subject_id, 0, std.id]) rescue nil -%>
					<% ranges.each do |r| -%>
					<% col_label = std.abbrev + ": " + r.range + "&nbsp;&nbsp;" + r.act_questions.size.to_s + " Questions Defined" -%>
					<tr>
					<td class="authorization_levels_close">

					<%= link_to '', :controller => "apps/assessment", :action => :assign_assessment_question_view, :organization_id => @current_organization,:classroom_id => @classroom, :question_id => @question, :id => @current_user, :range => r, :assessment_id => @assessment %>
					<strong><%= col_label %></strong>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>
	<% else -%>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  There Are No Available Assessment Questions * * *</i></center>
	</span>
	<% end -%>		
	
</div>
	
	<div class="FormRow submit_warp" style="padding-left:650px">
	<br/>
		<%= submit_tag "Update Assessment", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
	</div>	
<% end -%>	
<br/>
</div>
	
<div style="width:90%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom,:question_id => @question, :assessment_id => @assessment %>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>













