
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> <%= @benchmark.act_master.abbrev %> <%= @benchmark.act_bench_type.name.upcase %> UPDATE</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
	  <%#= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom %>
</div>

<div class="Form clear">
<%= form_for(:act_bench, :url => ifa_benchmark_update_path(:organization_id => @current_organization, :classroom_id => @classroom , :function => "Submit", :benchmark_id => @benchmark)) do |form| -%>

<div style ="color: #000000; font-size:14px; margin-top:5px; margin-left:250px;font-weight:normal"> 

	<br/>
	<strong><%=@benchmark.act_subject.name.upcase%></strong>
	<br/>
	<br/>
	 <strong><%= @benchmark.act_master.abbrev %> Mastery Level:  <%=@benchmark.act_score_range.range.upcase%></strong>
	<br/>
	<br/>	
	 <strong><%= @benchmark.act_master.abbrev %> Strand:  <%=@benchmark.act_standard.name.titleize%></strong>
	<br/>
	<br/>
	<% unless @gle.nil? -%>
		<strong>GLE: <%= @gle.co_grade_level.level.titleize %></strong>
		<br/>
		<br/>
		<span style = "color:#C83A14; "><%= @gle.skill.humanize %></span>
	<br/>
	<br/>	
	<% end -%>	
		
     <p>
	  <strong> <%= @benchmark.act_bench_type.name.titleize %></strong>
      <%= text_area :act_bench, :description, :rows => 7, :cols => 75, :maxlength => 255, :value => @benchmark.description  %>
	 </p>

		<div class="FormRow submit_warp">
			<br/>
			<%= submit_tag "Update Benchmark", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
		<div class="FormRow submit_warp">
			<br/>
			<%=link_to 'Delete Benchmark', ifa_benchmark_destroy_path(:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => @benchmark), :confirm => "Are You Sure?"%>
		</div>	
	</div>	
<% end -%>	
</div>

<br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px;" type=button value="Back" onClick="history.go(-1)">
  	<%#= link_to "Back", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom %>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>















