
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 

	<br/>
	<strong><center> <%= @benchmark.act_master.abbrev %> <%= @benchmark.act_bench_type.name.upcase %> UPDATE</center></strong>
</div>

    <%= render :partial => "/shared/error_and_notice" %>

<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <%= link_to "Back", self.send(@current_application.link_path(:organization_id => @current_organization, :classroom_id => @classroom)) %>
</div>

<div class="Form clear">
<%= form_for(:act_bench, :url => ifa_benchmark_edit_path(:organization_id => @current_organization, :classroom_id => @classroom , :function => "Submit", :benchmark_id => @benchmark)) do |form| -%>

<div style ="color: #000000; font-size:14px; margin-top:5px; margin-left:250px;font-weight:normal"> 

	<br/>
	<strong><%=@benchmark.act_subject.name.upcase%></strong>
	<br/>
	<br/>

	<table style="width:650px">
		<tbody>
			<style type="text/css" media="screen">
		    table,tr,td { border:1px; }
			table tr:hover{
	        background-color: transparent;
		    }
    		</style>
			<tr style="width:650px;padding-top:5px">
				<td style="vertical-align:top; width:200px">
					<%= @benchmark.act_master.abbrev %> Level:
				</td>
				<td>
		<!--			<%#=  select( :bench, :range_id, ActScoreRange.find(:all, :conditions=>["act_master_id = ? AND act_subject_id = ? AND upper_score > ?", @benchmark.act_master_id, @benchmark.act_subject_id, 0]).collect{|s| [s.range, s.id]}, {:value => @benchmark.act_score_range_id, :prompt => @benchmark.act_score_range.range}) %>  -->
          <%=  select( :bench, :range_id, ActScoreRange.standard_subject_greater_than_upper(@benchmark.act_master, @benchmark.act_subject, 0).collect{|s| [s.range, s.id]}, {:value => @benchmark.act_score_range_id, :prompt => @benchmark.act_score_range.range}) %>
				</td>
			</tr>
		<% if @benchmark.co_gle.nil? -%>
			<tr style="width:650px;padding-top:5px">
				<td style="vertical-align:top; width:200px">
					<%= @benchmark.act_master.abbrev %> Strand:
				</td>
				<td>
 <!--         <%#=  select( :bench, :standard_id, ActStandard.find(:all, :conditions=>["act_master_id = ? AND act_subject_id = ?", @benchmark.act_master_id, @benchmark.act_subject_id]).collect{|s| [s.abbrev, s.id]}, {:value => @benchmark.act_standard_id, :prompt => @benchmark.act_standard.abbrev.upcase}) %>  -->
          <%=  select( :bench, :standard_id, ActStandard.for_standard_and_subject(@benchmark.act_master, @benchmark.act_subject).collect{|s| [s.abbrev, s.id]}, {:value => @benchmark.act_standard_id, :prompt => @benchmark.act_standard.abbrev.upcase}) %>
				</td>
			</tr>
		<% else -%>
			<tr style="width:650px;padding-top:5px">
				<td style="vertical-align:top; width:200px">
					<%= @benchmark.act_master.abbrev %> Strand:
				</td>
				<td>
					<input type="hidden" name="bench[standard_id]" value="" />
					<%=  @benchmark.act_standard.abbrev.upcase %>
				</td>
			</tr>
				<tr style="width:650px;padding-top:5px">
					<td style="vertical-align:top; width:200px">
						GLE: <%= @benchmark.co_gle.co_grade_level.level.titleize %>
					</td>
					<td>
						<%= @benchmark.co_gle.skill.humanize %>
					</td>
				</tr>
			<% end -%>
			<tr style="width:650px;padding-top:5px">
				<td style="vertical-align:top; width:200px">
					<!--<%#=  select( :bench, :type_id, ActBenchType.find(:all, :conditions=>["act_master_id = ? ", @benchmark.act_master_id, ]).collect{|t| [t.name.titleize, t.id]}, {:value => @benchmark.act_bench_type_id, :prompt => @benchmark.act_bench_type.name.titleize}) %>-->
          <%=  select( :bench, :type_id, @benchmark.act_master.act_bench_types.collect{|t| [t.name.titleize, t.id]}, {:value => @benchmark.act_bench_type_id, :prompt => @benchmark.act_bench_type.name.titleize}) %>
				</td>
				<td>
  				    <%= text_area :act_bench, :description, :rows => 7, :cols => 75, :maxlength => 255, :value => @benchmark.description  %>
				</td>
			</tr>
		</tbody>
		
	</table>
	<br/>
		<div class="FormRow submit_warp">
			<br/>
			<%= submit_tag "Update Benchmark", :class =>"fsn-button ui-button ui-state-default ui-corner-all save" %>
		</div>	
		<div class="FormRow submit_warp">
			<br/>
			<%=link_to 'Delete Benchmark', {:controller => 'apps/assessment',:action => "destroy_benchmark",:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => @benchmark}, :confirm => "Are You Sure?"%>
		</div>	
	</div>	
<% end -%>	
</div>

<br/>
	
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
  	<%= link_to "Back", self.send(@current_application.link_path(:organization_id => @current_organization, :classroom_id => @classroom)) %>
</div>

<style type="text/css" media="screen">
.FormRowData { width: auto; }
.form_title { display: block; font-family: Verdana,Arial,Helvetica,sans-serif; font-size:12px;	padding:10px 0; }
.FormSectionTitle { margin-top: 10px;}
* html .FormRow { float: none; display: block; width: 530px; }
</style>















