<div >
	
	<% unless @reading_list.empty? -%>
			
	<table id="roles" class="tablesorter" style="width:780px; color:#000000; margin-left:10px">
		<tbody>

			<thead>
				<tr>
					<th>&nbsp;</th>
					<th><strong><center>Mastery Level</center></strong></th>
					<th><strong><center>Reading</center></strong></th>
					<th><strong><center>Usage</center></strong></th>
					<th><strong><center>Contributor</center></strong></th>	
				</tr>
			</thead>
			<tr>
				<td colspan=6 >
					&nbsp;
				</td>
			</tr>
			<% for rsrc in @reading_list do -%>
			<% unless rsrc.nil?%>
			<tr>
				<td width = 50px style=" color: #000000; vertical-align:top; font-size:11px;" >
					<% if rsrc.user_id == @current_user.id -%>
						<center><u><%= link_to  "Edit", {:controller => "/apps/assessment", :action => :edit_reading, :organization_id => @current_organization, :classroom_id => @classroom, :function => "Edit", :reading_id => rsrc} %></u></center>
					<% else %>
						&nbsp;
					<% end -%>
				</td>
				<td width = 130px style=" color: #000000; vertical-align:top; font-size:10px;" >
					<strong><%= @current_standard.abbrev %>:&nbsp;<%= rsrc.score_range_name(@current_standard) %></strong><br/>
				</td>
				<td width = 250px style=" color: #000000; vertical-align:top; font-size:11px" >
					<center>
					<i><%= rsrc.label.titleize %></i><br/>
					<span style="color:#000000;font-size:10px">
					Created:&nbsp;<%= rsrc.created_at.strftime("%m-%d-%y") %>&nbsp;&nbsp;
					Changed:&nbsp;<%= rsrc.updated_at.strftime("%m-%d-%y") %>
					</span>
					</center>
				</td>
				<% quest_use = rsrc.act_questions -%>
				<% exposed = quest_use.collect{|q| q.act_answers.selected}.flatten -%>
				<td width = 130px style=" color: #000000; vertical-align:top; font-size:11px" >
					<center><%= pluralize(quest_use.size, ' Question') %><br/>
					<%= pluralize(exposed.size, ' Exposure') %>
					</center>
				</td>

				<td width = 120px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<center>
					<% unless rsrc.user.nil?%><%= rsrc.user.full_name%> <br/><%end%>
					<% unless rsrc.organization.nil? %> 
			            <%= image_tag(rsrc.organization.logo.url, :width => 90, :alt => rsrc.organization.medium_name) if rsrc.organization.logo.file? -%>
					<% end %>
					</center>	
				</td>
 			</tr>
			<tr>
				<td colspan=6 >
					&nbsp;
				</td>
			</tr>
			<% end -%>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No Resources.
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
