
		<table id="<%= @entity.public_id %>"  class="tablesorter" style="width:99%;">
			<thead>
				<% if @entity_dashboards.empty? %>
					<% header_string = "No Assessment Data On Record" %>
					<% else -%>
					<% filter = @current_user.calibrated_only ? "Calibrated" : "Finalized"%>
					<% header_string = @current_standard.abbrev.upcase + " " + filter + " IFA Results, " + @entity_dashboards.last.period_end.strftime("%B, %Y") + " - " +  @entity_dashboards.first.period_end.strftime("%B, %Y") %>
					<% end -%>					
				<tr>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>
				<% @entity_dashboards.each do |db| -%>
					<% mastery = @current_user.calibrated_only ? db.ifa_dashboard_sms_scores.for_standard(@current_standard).first.sms_calibrated : db.ifa_dashboard_sms_scores.for_standard(@current_standard).first.sms_finalized rescue "none" -%>
					<% col_label = db.period_end.strftime("%B, %Y") + ",  Mastery Level: " + mastery.to_s -%>
					<tr>
						<td class="authorization_levels_close">
						<%= link_to '', :controller => "apps/assessment", :action => :entity_dashboard, :organization_id => @current_organization,  :classroom_id => @classroom, :subject_id => @current_subject.id,  :dashboard_id => db, :period => db.period_end,:details => @show_details %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
					</tr>
				<% end -%>
			</tbody>
		</table>

<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%= @entity.public_id%> .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#<%= @entity.public_id%> .authorization_levels_open').toggleAuthorizationLevels();	
});
</script>

