
  <div class="row ">
    <div class="ifa_panel_list">
  <% if !@entity_dashboards.empty? -%>
		<table id="<%= @entity.public_id %>">
			<tbody>
				<% @entity_dashboards.each do |db| -%>
					<% sms = @current_user.standard_view.sms_for_dashboard(db) %>
					<% col_label = db.period_end.strftime("%B, %Y") + ", " + scores_with_sat_equivalent(sms, @current_user.standard_view, db.act_subject) %>
					<tr>
						<td class="authorization_levels_close">
						<%= link_to '', ifa_dashboards_entity_path(:organization_id => @current_organization,  :classroom_id => @classroom, :subject_id => @current_subject.id,  :dashboard_id => db, :period => db.period_end,:details => @show_details) %>
						<%= col_label %>
						<span></span>
						</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
  <% else %>
    <div>
      * * * No Assessment Data On Record * * *
    </div>
  <% end %>
    </div>
  </div>


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%= @entity.public_id%> .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#<%= @entity.public_id%> .authorization_levels_open').toggleAuthorizationLevels();	
});
</script>

