<div class="container dashboard_listing">
  <% if !@entity_dashboards.empty? -%>
		<table id="<%= @entity.public_id %>">
			<tbody>
				<% @entity_dashboards.each do |db| -%>
					<% mastery = @current_user.calibrate_view? ? db.ifa_dashboard_sms_scores.for_standard(@current_standard).first.sms_calibrated : db.ifa_dashboard_sms_scores.for_standard(@current_standard).first.sms_finalized rescue "none" -%>
					<% mastery = @current_user.sat_view? ? ActScoreRange.sat_score(@current_standard, @current_subject, mastery) : mastery %>
          <% col_label = db.period_end.strftime("%B, %Y") + ", " + @current_standard.abbrev_view(@current_user) + "  Mastery: " + mastery.to_s -%>
					<tr>
						<td class="authorization_levels_close">
						<%= link_to '', ifa_dashboards_entity_path(:organization_id => @current_organization,  :classroom_id => @classroom, :subject_id => @current_subject.id,  :dashboard_id => db, :period => db.period_end,:details => @show_details) %>
						<%= col_label %>
						<span></span>
						</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
  <% else %>
    <div>
      * * * No Assessment Data On Record * * *
    </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#<%= @entity.public_id%> .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#<%= @entity.public_id%> .authorization_levels_open').toggleAuthorizationLevels();	
});
</script>

