<div>
  <div class= 'row panel_title_blue'>
    <%= @current_organization.short_name %>&nbsp;<%= @current_application.app_name(:provider=>@current_provider) %>
  </div>
  <% if @current_app_superuser && @current_organization == @current_provider%>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <% button_label = "Maintain " + @current_application.app_abbrev(:provider=>@current_provider)%>
        <%= link_to button_label , app_maintenance_ifa_path(:organization_id => @current_organization), :class=> "button_green" %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <% if @current_user.picture.present? %>
        <div class="row">
          <%= image_tag @current_user.picture.url(:thumb) %>
        </div>
      <% end %>
      <div class="row">
        <p class="ifa_user_panel">
          <%= @current_user.full_name %>
        </p>
      </div>
    </div>
    <div class="col-md-7 ">
      <div class='summary_dashboard_panelx'>
        <%= render :partial => "/apps/assessment/ifa_summary_brief" %>
      </div>
    </div>
  </div>
  <div id="control_panel" >
    <ul>
      <li>
        <%  tab_1_label = "Assessment Questions" %>
        <a href="#tabs-1"><span class="tab_label">
		    <%= tab_1_label %></span></a>
      </li>
      <li>
        <%  tab_3_label = "Assessments" %>
        <a href="#tabs-3"><span class="tab_label">
	    	<%= tab_3_label %></span></a>
      </li>
      <li>
        <%  tab_2_label = "Related Readings" %>
        <a href="#tabs-2"><span class="tab_label">
        <%= tab_2_label %></span></a>
      </li>
      <% if @admin -%>
        <li>
          <%  tab_7_label = "Student Baseline Scores" %>
          <a href="#tabs-7"><span class="tab_label">
          <%= tab_7_label %></span></a>
        </li>
      <% end %>
      <li>
        <%  tab_8_label = "Process Metrics" %>
        <a href="#tabs-8"><span class="tab_label">
          <%= tab_8_label %></span></a>
      </li>
    </ul>
    <div id="tabs-1" class="row">
      <div class="col-md-12">
        <%#= render :partial => "/apps/assessment/manage_questions" %>
        <%= render :partial => "/ifa/question_repo/manage_questions" %>
      </div>
    </div>
    <div id="tabs-3" class="row">
      <div class="col-md-12">
        <%= render :partial => "/ifa/assessment_repo/manage_assessments" %>
      </div>
    </div>
    <div id="tabs-2" class="row">
      <div class="col-md-12">
        <%#= render :partial => "/apps/assessment/manage_readings" %>
        <%= render :partial => "/ifa/reading_repo/manage_readings" %>
      </div>
    </div>
    <% if @admin -%>
      <div id="tabs-7" class="row">
        <div class="col-md-12">
          <%= render :partial => "/apps/assessment/manage_baselines" %>
        </div>
      </div>
    <% end %>
    <div id="tabs-8" class="row">
      <div class="col-md-12">
        <%= render :partial => "/ifa/precision_prep/manage_metrics", :locals=>{:s_metrics=>false, :t_metrics=>false, :g_metrics=>false} %>
      </div>
    </div>
  </div>

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
</div>