<div>
  <div class= 'row panel_title_blue'>
    <%= @current_application.app_name(:provider=>@current_provider) %>
    <%#= render :partial => "apps/shared/app_owner_button", :locals=>{:app=>@current_application} %>
  </div>
  <% if @current_app_superuser %>
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <% button_label = "Maintain " + @current_application.app_abbrev(:provider=>@current_provider)%>
        <%= link_to button_label , app_maintenance_ifa_path(:organization_id => @current_organization), :class=> "button_green" %>
      </div>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="row">
        <% if @current_user.picture.url %>
          <%= image_tag @current_user.picture.url(:thumb) %>
        <% end %>
      </div>
      <div class="row">
        <p class="ifa_user_panel">
          <%= @current_user.full_name %>
        </p>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class='ifa_panel_title'>
        <%= @current_organization.short_name %> Assessment Dashboards
      </div>
      <div class='summary_dashboard_panel'>
        <%= render :partial => "/apps/assessment/ifa_summary_brief" %>
      </div>
    </div>
    <div class="col-md-3">
      <%= render :partial => "/apps/assessment/ifa_user_views" %>
    </div>
  </div>
  <div id="control_panel" >
    <ul>
      <li>
        <%  tab_1_label = "Assessment Questions" %>
        <a href="#tabs-1"><span class="tab_label">
		    <%= tab_1_label %></span></a>
      </li>
      <li>
        <%  tab_2_label = "Related Readings" %>
        <a href="#tabs-2"><span class="tab_label">
        <%= tab_2_label %></span></a>
      </li>
      <li>
        <%  tab_3_label = "Assessments" %>
        <a href="#tabs-3"><span class="tab_label">
	    	<%= tab_3_label %></span></a>
      </li>
      <% ActSubject.plannable.each do |subj| %>
        <li>
          <%  tab_4_label = subj.name + ' Plans' %>
          <a href="#tabs-4<%= subj.id.to_s%>"><span class="tab_label">
          <%= tab_4_label %></span></a>
        </li>
      <% end %>
      <% if @admin -%>
        <li>
          <%  tab_7_label = "Student Baseline Scores" %>
          <a href="#tabs-7"><span class="tab_label">
          <%= tab_7_label %></span></a>
        </li>
        <li>
          <%  tab_9_label = "Options" %>
          <a href="#tabs-9"><span class="tab_label">
          <%= tab_9_label %></span></a>
        </li>
      <% end %>
    </ul>
    <div id="tabs-1" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= render :partial => "/apps/assessment/manage_questions" %>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div id="tabs-2" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= render :partial => "/apps/assessment/manage_readings" %>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div id="tabs-3" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= render :partial => "/apps/assessment/manage_assessments" %>
      </div>
      <div class="col-md-1"></div>
    </div>
    <% ActSubject.plannable.each do |subj| %>
      <div id="tabs-4<%= subj.id.to_s%>" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <%= render :partial => "/apps/ifa_plan/teacher_review_plans", :locals=>{:students => @prep_students[subj], :subject => subj} %>
        </div>
        <div class="col-md-1"></div>
      </div>
    <% end %>
    <% if @admin -%>
      <div id="tabs-7" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= render :partial => "/apps/assessment/manage_baselines" %>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div id="tabs-9" class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= render :partial => "/apps/assessment/manage_options" %>
        </div>
        <div class="col-md-1"></div>
      </div>
    <% end %>
  </div>

  <br style="clear:both" />

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
      jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();
      jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
    });
  </script>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
</div>