<div>
  <div class= 'row panel_title_blue'>
    <%= @current_application.app_name(:provider=>@current_provider) %>
    <%= render :partial => "apps/shared/app_owner_button", :locals=>{:app=>@current_application} %>
  </div>
  <hr>
    <%= render :partial => "/shared/error_and_notice" %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="row">
        <% if @current_user.picture.url.split("/").last == "missing.png" %>
            <%= image_tag "member_ico.gif" %>
        <% else %>
            <%= image_tag @current_user.picture.url(:thumb) %>
        <% end %>
      </div>
      <div class="row">
        <p class="ifa_user_panel">
          <%= @current_user.full_name %>
        </p>
      </div>
    </div>
    <div class="col-md-7 ">
      <div class='ifa_panel_title'>
        <%= @current_organization.short_name %> <%= @current_standard.abbrev.upcase %> Dashboards
      </div>
      <div class='summary_dashboard_panel'>
        <%= render :partial => "/apps/assessment/ifa_summary_brief" %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div id="control_panel" >
    <ul>
      <li>
        <%  tab_1_label = "Assessment Questions" %>
        <a href="#tabs-1"><span class="tab_label">
		    <%= tab_1_label %></span></a>
      </li>
      <% if false %>
      <li>
        <%  tab_2_label = "Related Readings" %>
        <a href="#tabs-2"><span class="tab_label">
        <%= tab_2_label %></span></a>
      </li>
      <li>
        <%  tab_3_label = "Assessments" %>
        <a href="#tabs-3"><span class="tab_label">
	    	<%= tab_3_label %></span></a>
      </li>
      <li>
        <%  tab_4_label = "Benchmarks" %>
        <a href="#tabs-4"><span class="tab_label">
		    <%= tab_4_label %></span></a>
      </li>
      <li>
        <%  tab_8_label = "State Standards" %>
        <a href="#tabs-8"><span class="tab_label">
        <%= tab_8_label %></span></a>
      </li>
      <% if @admin -%>
          <li>
            <%  tab_7_label = "Student Baseline Scores" %>
            <a href="#tabs-7"><span class="tab_label">
		        <%= tab_7_label %></span></a>
          </li>
          <li>
            <%  tab_9_label = "Options" %>
            <a href="#tabs-9"><span class="tab_label">
		        <%= tab_9_label %></span></a>
          </li>
      <% end -%>
      <% end %>
    </ul>

    <div id="tabs-1" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <%= render :partial => "/apps/assessment/manage_questions" %>
      </div>
      <div class="col-md-1"></div>
    <div>

    <% if false %>
    <div id="tabs-2" class="favorite_organizations" style="width:900px">
      <%= render :partial => "/apps/assessment/manage_readings" %>
    </div>

    <div id="tabs-3" class="favorite_organizations" style="width:900px">
      <%= render :partial => "/apps/assessment/manage_assessments" %>
    </div>

    <div id="tabs-4" class="favorite_organizations" style="width:900px">
      <%= render :partial => "/apps/assessment/manage_benchmarks" %>
    </div>

    <div id="tabs-8" class="favorite_organizations" style="width:900px">
      <%= render :partial => "/apps/co_standard/manage_co_standards" %>
    </div>

    <% if @admin -%>
        <div id="tabs-7" class="favorite_organizations" style="width:900px">
          <table id="people_levels" class="tablesorter" style="width:99%;">
            <thead>
            <tr>
              <th><strong>Update Baseline Student Mastery Levels  </strong></th>
            </tr>
            </thead>
            <tbody>
            <% org_students = @current_organization.current_students rescue []-%>
            <% ('A'..'Z').each do |l| -%>
                <% user_group = org_students.compact.select{|u| u.last_name[0].chr.upcase == l.upcase} rescue [] -%>
                <% unless user_group.empty? -%>
                    <% group_label = "<strong>" + user_group.first.last_name.capitalize + " - " + user_group.last.last_name.capitalize + "</strong>   <i>(" + user_group.size.to_s + ")</i>"  -%>
                    <tr>
                      <td class="resource_levels_close">
                        <%= link_to '', ifa_students_path(:organization_id => @current_organization, :letter => l)  %>
                        <%= group_label %>
                        <span></span>
                      </td>
                    </tr>
                <% end -%>
            <% end -%>
            </tbody>
          </table>
        </div>
        <div id="tabs-9" class="favorite_organizations" style="width:900px">
          <%= render :partial => "/apps/assessment/manage_options" %>
        </div>
    <% end -%>
    <% end %>
  </div>

  <br style="clear:both" />

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
      jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();
      jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
    });
  </script>
 <!--
  <script type="text/javascript">
    jQ(document).ready(function() {
      function showDialogContent(title, content_id) {
        $dialog = jQ("#view-content");
        // next line is broken.
        $dialog.attr("title", title);
        jQ.post('<%#= url_for :controller => :content, :action => :show, :organization_id => @current_organization %>', {'id':content_id}, function(data) {
          $dialog.html(data);
          $dialog.dialog('open');
        })
      }

      var addButtonAction = function() {
        jQ("button", jQ("#topic_content")).each(function() {
          jQ(this).click(function() {
            var title = jQ(this).parent("td").parent("tr").children("td").eq(0).text();
            var content_id = jQ(this).parent("td").parent("tr").attr("id");
            showDialogContent(title, content_id)
            return false;
          })
        })
      }
      jQ('.dialog').dialog('close');
      addButtonAction();

    })
  </script>
-->
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#resource_levels .resource_levels_close').toggleResourceLevels();
      jQ('#resource_levels .resource_levels_open').toggleResourceLevels();
      jQ("#authorization_levels").tablesorter({ headers: { 1: { sorter: false }} });
    });
  </script>

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#people_levels .resource_levels_close').toggleResourceLevels();
      jQ('#people_levels .resource_levels_open').toggleResourceLevels();
    });
  </script>
</div>