<div >
	
	
	<% unless @standard.act_questions.active.size.zero? -%>

		<br/>			
	<table id="roles"  style="width:845px; ">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<thead>
				<tr>
					<th colspan=3 style = "color:#000000"><center>Status</center></th>
					<th colspan=2 style = "color:#000000"><center>Quality</center></th>
					<th style = "color:#000000">&nbsp;</th>
					<th style = "color:#000000"><center>Mastery</center></th>
					<th style = "color:#000000"><center>Question</center></th>
				</tr>
			</thead>
			<tr>
				<td colspan=8 >
					&nbsp;
				</td>
			</tr>
			<% for quest in @standard.act_questions.active.sort{|a,b| b.updated_at <=> a.updated_at} do -%>
			<% unless quest.nil?%>
			<tr>
				<% if !quest.is_calibrated -%>
					<td width = 20px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						&nbsp;
					</td>
				<% else -%>
					<td width = 20px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "calibrated_yes.png",:width => 25) -%>
					</td>
				<% end -%>
				<% if !quest.is_locked -%>
					<td width = 15px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "lock_no.png",:width => 20) -%>
					</td>
				<% else -%>
					<td width = 15px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "lock_yes.png",:width => 20) -%>
					</td>
				<% end -%>
				<% if quest.is_active -%>
					<td width = 10px style=" color: #000000; padding-top:5px;vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "button_enabled.png",:width => 10) -%>
					</td>
				<% else -%>
					<td width = 10px style=" color: #000000; padding-top:5px;vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "button_disabled.png",:width => 10) -%>
					</td>
				<% end -%>	
				<%= render :partial => "thumbs_columns", :locals => {:quest => quest, :std => ActMaster.act.first, :filter =>"ACT"}%>
				<td width = 150px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<% unless @current_provider.ifa_org_option.nil? -%>
						<% @current_provider.ifa_org_option.act_masters.each do|mstr| -%>
						<center><%= mstr.abbrev.upcase %>:&nbsp;<%= quest.score_range_name(mstr)%><br/></center>
						<% end -%>
					<% else -%>
						&nbsp;
					<% end -%>	
				</td>		
				<td width = 520px style=" color: #000000; vertical-align:top; font-size:11px" >
					<% if quest.act_rel_reading %><u>Reading:</u><i> <%= quest.act_rel_reading.label %></i><br/><% end -%>
						<u>Type:</u>&nbsp;<%= quest.question_type %><%= quest.calculator_free? ? ', No Calculator':'' %>,&nbsp;<%= pluralize(quest.act_choices.size, ' Choice') %>
              <%= quest.randomize? ? ' (Randomized)':' (Not Randomized)' %><br/>
						<i><%= quest.question.titleize %></i><br>
						<span style="color:#000000;font-size:10px">
							Last Changed: <%= quest.last_date_changed.strftime("%b %d, %Y") %>
						<br/>
						</span>
					<% unless quest.user.nil?%><%= quest.user.full_name%> <br/><%end%>
					<% unless quest.organization.nil? %> <%= quest.organization.name.titleize -%><% end %>
 				</td>
				</tr>
			<% end -%>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No <%= @standard.abbrev %> Questions.
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
