
<div class="row ifa_panel_title">
  <%= pluralize(@classroom.act_assessments.active.lock.size, ' xxAvailable Assessment') %>
</div>

<% unless @classroom.act_assessments.active.lock.empty? %>
  <div class="row ">
      <div class="col-md-2"></div>
      <div class="col-md-8">


	<br/>	
	<table class="table table-striped">

		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			
			<thead>
				<tr>
					<th style="width:60px; vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						c<strong><center>kkkLast Taken</center></strong></th>
					<th style="width:100px;vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong><center>Mastery Level</center></strong></th>			
					<th style="width:60px;">
						<strong><center>&nbsp;</center></strong></th>
					<th style="width:680px;vertical-align:middle;  padding-top:3px; padding-bottom:3px; color: #000000; font-size:11px">
						<strong>Assessment Title</strong></th>
				</tr>
			</thead>
			
			<% for ass in @classroom.act_assessments.active.lock.sort{|a,b| b.updated_at <=> a.updated_at}do -%>
				<% previous_submits = []%>
				<% available_to_submit = true -%>
				<% unless @student_classroom_submissions.empty? -%>
					<% previous_submits = @student_classroom_submissions.select{|s| s.act_assessment_id == ass.id} -%>
					<% unless previous_submits.empty? -%>
						<% last_date_taken = previous_submits.collect{|s| s.created_at}.max -%>
						<% if last_date_taken > (Time.now - @options.days_til_repeat.days) -%>
								<% available_to_submit = false -%>
							<% else -%>
								<% available_to_submit = true -%>
						<% end -%>
					<% end -%>
				<% end -%>
				
					<tr id="<%= ass.public_id %>" class="content-list-item">

						<td  style="width:60px;vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px">
						<% unless previous_submits.empty? -%>
							<center>
							<%= last_date_taken.strftime("%m-%d-%y") %>
							</center>
						<% else -%>
							<center>
							First Time
							</center>							
						<% end -%>
						</td>

						<td style="width:100px;color: #000000; vertical-align:middle; padding-top:3px;font-size:11px">
							<center>
							<% @current_provider.ifa_org_option.act_masters.each do |mstr| %>
								<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%><br/>
							<% end -%>
							</center>
						</td>
						<td  style="width:60px;vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:10px">
						<% if available_to_submit -%>	
							<center>
							<u>
							<%= button_to "TAKE", ifa_assessment_submit_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :assessment_id => ass, :function => "Assess"), :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
							</u><br/>
							</center>
						<% else -%>
							<span style="color: #C83A14">
							<center><i>Not Available</i></center>	
							</span>
						<% end -%>
						</td>
						<td  style="width:680px;color: #000000; vertical-align:middle; padding-top:3px;font-size:12px">
							<%= ass.name.titleize%>					
						</td>
			
					</tr>
					<tr>
						<td colspan=4 style="color: #00000; vertical-align:middle; padding-bottom:3px;padding-top:3px;">
							<center>&nbsp;</center>
						</td>
					</tr>
			<% end %>
		</tbody>
	</table>
      </div>
      <div class="col-md-2"></div>
	
	<br/>
    </div>
	<% else -%>	
	 No Assessments Are Available
	<% end -%>

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
