<div >
	<% unless @current_user.act_assessments.size.zero? %>
			
	<table style="width:800px; ">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<thead>
				<tr style=" border:1px solid #ddd;">
					<th colspan=3 style = "  border:0px solid #ddd; color:#000000"><center>Status</center></th>
					<th style = "  border:0px solid #ddd; color:#000000">&nbsp;</th>
					<th style = "  border:0px solid #ddd; color:#000000"><center>Subject</center></th>
					<th style = "  border:0px solid #ddd; color:#000000"><center>Mastery</center></th>
					<th style = "  border:0px solid #ddd; color:#000000"><center>Assessment</center></th>
					<th style = "  border:0px solid #ddd; color:#000000"><center>Usage</center></th>				
				</tr>
			</thead>
			
			<% @current_user.act_assessments.sort_by{|a| [a.act_subject.name, a.updated_at]}.reverse.each do |ass| -%>
		
			<tr style=" border:1px solid #ddd;">
				<% unless ass.is_calibrated -%>
					<td width = 20px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						&nbsp;
					</td>
				<% else -%>
					<td width = 20px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						<%= (image_tag "calibrated_yes.png",:width => 20) -%>
					</td>
				<% end -%>
				<% if !ass.is_locked -%>
					<td width = 15px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						<%= (image_tag "lock_no.png",:width => 15) -%>
					</td>
				<% else -%>
					<td width = 15px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						<%= (image_tag "lock_yes.png",:width => 15) -%>
					</td>
				<% end -%>	
				<% if ass.is_active -%>
					<td width = 10px style=" color: #000000; padding-top:5px;vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						<%= (image_tag "button_enabled.png",:width => 10) -%>
					</td>
				<% else -%>
					<td width = 10px style=" color: #000000; padding-top:5px;vertical-align:top;text-align:center; font-size:10px; padding-top:5px;" >
						<%= (image_tag "button_disabled.png",:width => 10) -%>
					</td>
				<% end -%>
				<td width = 40px style=" color: #000000; vertical-align:top;text-align:center; font-size:11px; padding-top:5px;" >
				<u>
				<%= link_to "View", {:controller =>  "/apps/assessment", :action => :static_assessment, :organization_id => @current_organization, :classroom_id => @classroom,:question_id => @question, :assessment_id => ass}, {:target => "_blank"}  %>
				</u>
				<% if ass.user == @current_user %>
					<br/><u>
					<%= link_to  "Edit", {:controller => "/apps/assessment", :action => :edit_ifa_assessment, :organization_id => @current_organization, :classroom_id => @classroom,:question_id => @question, :assessment_id => ass}, {:target => "_blank"}  %></u><br/>
				<% end -%>
				</td>				
				<td width = 140px style=" color: #000000; vertical-align:top;font-size:11px; padding-top:5px;" >
					<center><%= ass.act_subject.name.titleize %></center>
				</td>
				<td style=" width:85px; width:fixed; color: #000000; vertical-align:top; text-align:left; font-size:11px; padding-top:5px; line-height:1.4em;" >
					<% unless @current_organization.ifa_org_option.nil? -%>
						<% @current_organization.ifa_org_option.act_masters.each do|mstr| -%>
						<%= mstr.abbrev.upcase %>:&nbsp;<%= ass.score_range(mstr)%><br/>
						<% end -%>
					<% else -%>
						&nbsp;
					<% end -%>			
				</td>
				<% mc_quests = ass.act_questions.select{|q| q.question_type == "MC"}.size -%>
				<% sa_quests = ass.act_questions.select{|q| q.question_type == "SA"}.size -%>
				<td width = 355px style=" color: #000000; vertical-align:top; font-size:12px; padding-top:5px; padding-bottom:5px; line-height:1.4em;" >
					<center>
					<span style="color:#2061a5;font-weight:bold"><%= ass.name.titleize %></span><br/>
					<%= pluralize(mc_quests, 'Multiple Choice')%>,&nbsp;<%= pluralize(sa_quests, 'Short Answer')%><br/>
					<span style="color:#000000;font-size:10px">
						Updated <%= time_ago_in_words(ass.updated_at.to_s, include_seconds = false).titleize %> Ago
						<br/>
					</span>
					</center>					
 				</td>
				<td style=" color: #000000; vertical-align:top; text-align:left; font-size:11px; padding-top:5px; line-height:1.4em;" >
					<%= pluralize(ass.classrooms.size, ' Classroom') %><br/>
					<%= pluralize(ass.act_submissions.size, ' Submission') %>
				</td>
 			</tr>	

			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No <%= @current_user.last_name %>&nbsp;Assessments
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
