
<div style = "font-size:12px; color: #000000;padding:10px;">

	<br/>
	<span style ="color: #C83A14; font-size:18px">
	<center><strong>College Readiness Standards Benchmark Library</strong></center>
	</span>
	<%= render :partial => "/shared/error_and_notice" %>
	<div>
	  <table>
	  	<tbody>
		<style type="text/css" media="screen">
   		table,tr,td { border:none; }
		table tr:hover{
      		background-color: transparent;
   			}
		</style>
		<tr>
			<td style="width:600px; text-align:left;  font-size:12px; padding-left:10px;padding-bottom:20px;">
				<%= link_to "Return", self.send(@current_application.link_path,{:organization_id => @current_organization, :classroom_id => @classroom}) %>
			</td>
			<td style="width:300px; text-align:right;  font-size:12px; padding-right:20px;">
				<%=link_to 'Add New Benchmark', :controller => 'apps/assessment',:action => "add_benchmark",:organization_id => @current_organization, :classroom_id => @classroom, :function => "New"%>
			</td>
		</tr>
		</tbody>
	  </table>	
	</div>

	<div>
	<% unless @benchmarks.size.zero? %>
	<div id="assign_resources_panel">
		<table id="authorization_levels" class="tablesorter" style="width:99%;">
			<thead>
				<tr>
					<% header_string = pluralize(@benchmarks.size.to_s, " Benchmark") + " In The Library" %>
					<th><strong><%= header_string %></strong></th>											
				</tr>
			</thead>
			<tbody>

  
				<% sub_ids = @benchmarks.group_by(&:act_subject_id) %>
				<% sub_ids.each do |si, benchmarks| %>
					<% subj_name = ActSubject.find(si).name -%> 
					<% col_label = benchmarks.size.to_s + " " + subj_name-%>
					<tr>
					<td class="authorization_levels_close">

					<%= link_to '', ifa_subject_benchmarks_path(:organization_id => @current_organization, :classroom_id => @classroom,  :subj_id => si) %>
					<strong><%= col_label %></strong>
					<span></span>
					</td>
					</tr>
					<% end -%>
			</tbody>
		</table>
	<br/>

	</div>
<% else -%>
	<br/>
	<span style ="color: #C83A14; font-size:11px">
	<center><i>* * *  There Are No Benchmarks In The Library At This Time  * * *</i></center>
	</span>
<% end -%>	

	<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	&nbsp;<br/>
	  <%= link_to "Return", self.send(@current_application.link_path,{:organization_id => @current_organization, :classroom_id => @classroom}) %>
	</div>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>
</div>