
<div id="mainContent">
  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
		<br/><strong><%= @current_organization.short_name %> <%= @current_standard.abbrev.upcase %> Dashboard </strong><br/>
	</div>	
	<%= render :partial => "/shared/error_and_notice" %>
	<div style="float:left; padding-left:000px;width:730px;">
	      <p class="name" style="width:730px; padding-top:15px; word-wrap:break-word; overflow:hidden; font-weight:bold; font-size:16px" > 
		  	<%= link_to (image_tag @current_organization.logo.url :thumb), :controller => "/site/site", :action => :static_organization, :organization_id => @current_organization -%>
			<br/>
			<span style="padding-left:50px">
				<%= @current_user.full_name %>
			</span> 
			</p>
	</div>

		
	<div style="float:none;width:97%;" class="mempro_box clear">

    <%= render :partial => "/apps/assessment/ifa_dashboard_with_toggle" %>

	</div>

  <%= render :partial => "/apps/assessment/org_analysis_tabs" %>

</div>