
<div id="mainContent">

  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
		<br/><strong><%= @current_organization.short_name %> <%= @current_standard.abbrev.upcase %> Dashboard </strong><br/>
	</div>	
	<%= render :partial => "/shared/error_and_notice" %>
	<div style="float:left; padding-left:000px;width:730px;">
	      <p class="name" style="width:730px; padding-top:15px; word-wrap:break-word; overflow:hidden; font-weight:bold; font-size:16px" > 
		  	<%= link_to (image_tag @current_organization.logo.url :thumb), :controller => "/site/site", :action => :static_organization, :organization_id => @current_organization -%>
			<br/>
			<span style="padding-left:50px">
				<%= @current_user.full_name %>
			</span> 
			</p>
	</div>

		
	<div style="float:none;width:97%;" class="mempro_box clear">
	 <p style="float:right; word-wrap:break-word; overflow:hidden;">
      <br />
			<% return_link = "Return" %>
			<%= link_to return_link, :controller => "/apps/assessment", :action => :manage, :organization_id => @current_organization, :topic_id => @topic, :classroom_id => @classroom %>
	</p>    

    <%= render :partial => "/apps/assessment/ifa_dashboard_with_toggle" %>

	</div>

  <div id="control_panel" >
 
   <ul>

      <li>
		<%  tab_1_label = "Network Growth" %>		
		<a href="#tabs-1"><span class="tab_label">
		<%= tab_1_label %></span></a>				
		</li>

      <li>
		<%  tab_2_label = @current_organization.short_name + " Growth" %>
		<a href="#tabs-2"><span class="tab_label">
		<%= tab_2_label %></span></a>				
	  </li>
		
	  <li>
		<%  tab_3_label = @current_organization.short_name + " Classroom Growth" %>
		<a href="#tabs-3"><span class="tab_label">
		<%= tab_3_label %></span></a>								
      </li>

	  <li>
		<%  tab_4_label = @current_organization.short_name + " Student Growth" %>
		<a href="#tabs-4"><span class="tab_label">
		<%= tab_4_label %></span></a>								
      </li>

    </ul>


    <div id="tabs-1" class="favorite_organizations" style="width:900px; margin-left:20;">

	<table id="network_levels" class="tablesorter" style="width:99%;">
		<tbody>
			<% unless @org_family.size.zero? -%>
				<% @org_family.each do |hs| %>
				
				<% school_label = hs.name.upcase + ",&nbsp;" + hs.contact_name -%>
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/assessment", :action => :growth_dashboards, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :group => "organization", :subject_id => @current_subject.id, :id => hs %>
						<strong><%= school_label %></strong>
						<span></span>
						</td>
					</tr>

				<% end -%>
			<% else -%>
			<br/>
			<span style ="text-align:center;font-size:11px; color: #C83A14;">
				<i>* * *  No Siblings In Network  * * *</i>
			</span>				
			<% end -%>
		</tbody>
	</table>
	</div>
 
    <div id="tabs-2" class="favorite_organizations" style="width:900px; margin-left:20;">

	<table id="org_levels" class="tablesorter" style="width:99%;">
			<tbody>  
			<% unless @current_org_dashboards.size.zero? -%>				
				<% @current_org_dashboards.each do |db| -%>
					<% col_label = db.period_end.strftime("%B, %Y") -%>
					<tr>
						<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/assessment", :action => :entity_dashboard, :organization_id => @current_organization,  :subject_id => @current_subject.id,  :dashboard_id => db %>
						<strong><%= col_label %></strong>
						<span></span>
						</td>
					</tr>
				<% end -%>
			<% else -%>
			<br/>
			<span style ="text-align:center;font-size:11px; color: #C83A14;">
				<strong><i>* * *   NO IFA RESULTS FOR <%= @current_subject.name.upcase %>   * * *</i></strong>
			</span>				
			<% end -%>
			</tbody>
	</table>
	</div>

    <div id="tabs-3" class="favorite_organizations" style="width:900px; margin-left:20;">

	<table id="classroom_levels" class="tablesorter" style="width:99%;">
		<tbody>
			<% unless @classroom_list.size.zero? -%>
				<% @classroom_list.each do |clsrm| %>
				<% classroom_label = clsrm.course_name.upcase + ",&nbsp;" + truncate(clsrm.teacher_list, :omission => "...", :length => 13) -%>
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/assessment", :action => :growth_dashboards, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :group => "classroom", :subject_id => @current_subject.id, :id => clsrm %>
						<strong><%= classroom_label %></strong>
						<span></span>
						</td>
					</tr>
				<% end -%>
			<% else -%>
			<br/>
			<span style ="text-align:center;font-size:11px; color: #C83A14;">
				<strong><i>* * *   NO CLASSROOMS WITH IFA RESULTS FOR <%= @current_subject.name.upcase %>   * * *</i></strong>
			</span>				
			<% end -%>
		</tbody>
	</table>

  </div>
    <div id="tabs-4" class="favorite_organizations" style="width:900px; margin-left:20;">

	<table id="user_levels" class="tablesorter" style="width:99%;">
		<tbody>
			<% unless @student_list.size.zero? -%>
				<% @student_list.each do |student| %>
				<% student_label = student.last_name.upcase + ",&nbsp;" + student.first_name -%>
				<tr>
					<td class="resource_levels_close">
						<%= link_to '', :controller => "apps/assessment", :action => :growth_dashboards, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :group => "student", :subject_id => @current_subject.id, :id => student %>
						<strong><%= student_label %></strong>&nbsp;&nbsp;&nbsp;
						<span></span>
						</td>
					</tr>
				<% end -%>
			<% else -%>
			<br/>
			<span style ="text-align:center; font-size:11px; color: #C83A14;">
				<strong><i>* * *  NO STUDENTS WITH IFA RESULTS FOR <%= @current_subject.name.upcase %>   * * *</i></strong>
      </span>
			<% end -%>
		</tbody>
	</table>
</div>
</div>

<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#network_levels .resource_levels_close').toggleResourceLevels();
	jQ('#network_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#org_levels .resource_levels_close').toggleResourceLevels();
	jQ('#org_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#classroom_levels .resource_levels_close').toggleResourceLevels();
	jQ('#classroom_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#user_levels .resource_levels_close').toggleResourceLevels();
	jQ('#user_levels .resource_levels_open').toggleResourceLevels();	
});
</script>
