
    <div id="member_info">

<br style="clear:both" />

	<div id="assign_resources_panel">



		<table id="authorization_levels"  style="width:875px;margin-left:1px">
		<% unless @questions.size == 0 -%>
			<thead>
				<tr>
					<% header_string = "Number of Answer Choices & Percent Correct, For Each Student Mastery Level"  %>
					<th colspan=13 style="vertical-align:middle; text-align:right; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #C83A14; font-size:14px; margin-top:0px; font-weight:normal" >
					<center><strong><%= header_string %><br/>
					<%= pluralize(@questions.size, ' Question') %>, &nbsp;&nbsp;<%= pluralize(@answers.size, ' Answer Choice') %> 
					</strong></center>
					</th>											
				</tr>
			</thead>
			<tbody>
				<style type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>	
				<tr>
					<td colspan=3 width = 170px style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #C83A14; font-size:11px; margin-top:0px; font-weight:normal" >
						&nbsp;
					</td>
					<td colspan=7 style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #000000; font-size:11px; margin-left:0px; font-weight:normal" >
						<strong><center>Student Mastery Levels</center></strong>
					</td>
				</tr>
				<tr>
					<td colspan=3 width = 170px style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #C83A14; font-size:11px; margin-top:0px; font-weight:normal" >
						<center><strong>QUESTIONS</strong></center>
					</td>


					<% @current_subject.act_score_ranges.for_standard(@current_standard).each do |sr| -%>
					<% unless sr.upper_score == 0 -%>
						<td width = 90px style="vertical-align:middle; text-align:center; padding-top:0px; padding-bottom:0px; padding-left:0px;color: #000000; font-size:11px; margin-left:0px; font-weight:normal" >
							<strong><center><%= sr.range %></center></strong>
							
						</td>
						<% end -%>
					<% end -%>
				</tr>
				
				<% @questions.each do |q|%>

				<tr>
					<td width = 25px style="vertical-align:middle; text-align:left; padding-top:0px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:10px; margin-left:0px; font-weight:normal" >
						<% if q.is_calibrated? -%>
							<center><%= (image_tag "calibrated_yes.png",:width => 20) -%></center>
	 					<% else -%>
							&nbsp;
						 <% end -%>
					</td>
					<% link_string =  q.question.titleize -%>
						<td colspan=2 width = 170px style="vertical-align:middle; text-align:left; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:10px; margin-left:0px; font-weight:normal" >
							<% q_std = q.act_standards.for_standard(@current_standard).first rescue nil -%>
							<% if q_std %>
								<strong><%=q_std.abbrev.upcase%>:&nbsp;</strong><u><%= link_to  link_string, {:controller => "/apps/assessment", :action => :static_question, :organization_id => @current_organization, :classroom_id => @classroom, :question_id => q}, :target => '_blank' %></u>
							<% else -%>
								<strong>***&nbsp;</strong><u><%= link_to  link_string, {:controller => "/apps/assessment", :action => :static_question, :organization_id => @current_organization, :classroom_id => @classroom, :question_id => q}, :target => '_blank' %></u>
							<% end -%>  
						</td>
					<% @current_subject.act_score_ranges.for_standard(@current_standard).each do |sr|%>
					<% unless sr.upper_score == 0 %>
						<!--<%# snapshots = ActSnapshot.find(:all, :conditions =>["current_sms_level <= ? AND current_sms_level >= ? AND act_subject_id = ? && act_master_id = ?", sr.upper_score, sr.lower_score, @current_subject.id, @current_standard.id]) -%>-->
            <% snapshots = @current_subject.act_snapshots.for_standard(@current_standard).where('current_sms_level <= ? AND current_sms_level >= ?', sr.upper_score, sr.lower_score) -%>
						<% cell_ans = [] -%>
						<% snapshots.each do |ss| -%>
							<% cell_ans += q.act_answers.selected.select{|a| a.user_id == ss.user_id} -%>
						<% end -%>	
						<% unless cell_ans.size == 0 -%>
							<% cell_points = cell_ans.sum{|a| a.points} -%>
							<% pct = 100*cell_points/cell_ans.size -%>
							<% color_string = "#6a6529" %>
							<% if pct < 60 -%> <% color_string = "#C83A14" -%><% end -%>
							<% if pct > 80 -%> <% color_string = "#279605" -%> <% end -%>
						<td width = 90px style="text-align:center; vertical-align:middle; text-align:right; padding-top:5px; padding-bottom:5px; padding-left:0px;color: <%= color_string %>; font-size:12px; margin-left:0px; font-weight:bold" >
							<%= cell_ans.size %><br/><%=number_to_percentage(pct, :precision => 0) %>
						</td>
						<% else -%>
						<td width = 90px style="vertical-align:middle; text-align:right; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:12px; margin-left:0px; font-weight:bold" >
							&nbsp;
						</td>
						<% end -%>

						<% end -%>
					<% end -%>
				</tr>
				<% end -%>
			</tbody>
			<% else -%>
			<span style ="color: #C83A14; font-size:11px">
			<center><i>* * *  There Are No <%= @current_subject.name.upcase %> Questions Tagged At This <%= @current_standard.abbrev %> Mastery Level  * * *</i></center>
			</span>
			<% end -%>
		</table>
	<br/>		


	</div>
    </div>
  </div>

<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>