<div id="mainContent">
  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
		<br/><strong>Standardized Mastery Assessment Repository Analysis </strong><br/>
	</div>
	
	<%= render :partial => "/shared/error_and_notice" %>
	<div style="float:left; padding-left:000px;width:730px;">
	      <p class="name" style="width:730px; padding-top:15px; word-wrap:break-word; overflow:hidden; font-weight:bold; font-size:16px" > 
		  	<%= link_to (image_tag @current_organization.logo.url :thumb), organization_view_path(:organization_id => @current_organization) -%>
			<br/>
			<span style="padding-left:50px">
				<%= @current_user.full_name %>
			</span> 
			</p>
	</div>
	
	<div style="float:none;width:97%;" class="mempro_box clear">
	 <p style="float:right; word-wrap:break-word; overflow:hidden;">
      <br />
			<% return_link = "Return" %>
			<%= link_to return_link, :controller => "/apps/assessment", :action => :manage, :organization_id => @current_organization, :topic_id => @topic, :classroom_id => @classroom %>
			
	</p>    
	<div>	
 	<p style="text-align:left;  padding-left:50px; padding-right:50px;word-wrap:break-word; color: #000000;  font-size: 12px; font-style: normal; font-weight: normal">
		<br/><br/><br/><br/>		<br/><br/>
		<strong>Statistics </strong>involves the study of correlative relationships between <i>independent variables</i> (e.g., an <strong>Assessment Question</strong>) and <i>dependent variables</i> (e.g., a <strong>Student's Proficiency</strong>.) 
		Typically, the <i>control</i>, or independent, variable is the Assessment Question, from which inferences are drawn about a Student's proficiency.<br/>
		<br/>
		Equally, the reverse relationship can be examined. A Student's Proficiency can be the independent variable and the Assessment Question the dependent variable.
		This analysis helps evaluate whether a particular Question performs as a good differentiator among students whose proficiency levels are known.<br/>
		Questions can be evaluated and their quality as <i>independent variables</i> can be improved over time. 
		<br/><br/>
		<u>Below is an example of such an analysis:</u><br/>
		For each subject area, students are organized into the their proficiency categories. They have earned their placement through numerous assessments they've taken, in this instance, over the previous three months.<br/>
		The student population quickly produces a sample size large enough to be unbiased by any "bad" questions.<br/>
		Each question in the repository is then examined relative to the "known" proficiencies of the students who faced the question.<br/>
		We might noticed the following:<br/><br/>
		 -   For questions that are presumed "difficult"' Low Proficiency students <i>should not</i> be as successful as High Proficiency students. If the success rate between the two groups is comparable, then the question should probably have its score range adjusted or the question should be modified to 
		 better represent its score range.<br/><br/>
		 -   For questions that are presumed "easy" there should be a sufficent success rate for the Low proficiency students, and a conistently high success rate for students known to be performing above the level attributed to the question.<br/><br/>
		 -   Additionally, one should observe that High proficiency students are not wasting their time measuring themselves against benchmarks they have already mastered.<br/><br/>
	</p>
	</div>
	<table id="resource_levels" >
		<thead>
			<tr>
				<% header_string = "Examining " + pluralize(@repository_size, " Question") + " And " + pluralize(@answer_count, " Answer Choices") + " Since " + @time_window.strftime("%B, %Y")-%>
				<th style="width:99%; color: #C83A14;  font-size: 16px; font-weight: bold;"><%= header_string %></th>											
			</tr>
		</thead>
				<style type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>		
			<tbody>

			<% @subjects.each do |subj| -%>
				<%# ranges = ActScoreRange.find(:all, :conditions=>["act_subject_id = ? && upper_score > ? && act_master_id = ?", subj.id, 0, @current_standard.id], :order =>'upper_score ASC') -%> recue nil
				<% ranges = ActScoreRange.for_subject(subj).for_standard(@current_standard).sort_by{|r| r.upper_score} -%>
				<% unless ranges.nil? || ranges.size == 0 -%>
				<tr>
					<td style="text-align:left  word-wrap:break-word; color: #C83A14;  font-size: 14px; font-style: normal; font-weight: bold">
						<br/><u> <%= subj.name.upcase %></u>
					</td>
				</tr>
					<% ranges.each do |rng| -%>
					<% unless rng.upper_score == 0 -%>
						<% question_count = ActQuestionActScoreRange.for_mastery_level(rng).size -%>
						<% range_label = rng.range + ",&nbsp;" + pluralize(question_count, ' Question') -%>
					<tr>
						<td class="resource_levels_close" style="text-align:left  word-wrap:break-word; color: #000000;  font-size: 13px; font-style: normal; font-weight: normal">
							<%= link_to '', :controller => "apps/assessment", :action => :question_analysis, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :group => "organization", :subject_id => subj.id, :range => rng %>
							<strong><%= range_label %></strong>
							<span></span>
						</td>
					</tr>
						<% end -%>	
					<% end -%>
				<% end -%>
			<% end -%>
		</tbody>
	</table>

<br/>
<br/><br/>


  <div id="control_panel" >
 
   <ul>

      <li>
		<%  tab_1_label = "Analyse Assessments" %>		
		<a href="#tabs-1"><span class="tab_label">
		<%= tab_1_label %></span></a>				
		</li>

	  <li>
		<%  tab_2_label = "Analyse Answer Choices" %>
		<a href="#tabs-2"><span class="tab_label">
		<%= tab_2_label %></span></a>								
      </li>

	  </li>

    </ul>

	

  <div id="tabs-1" class="favorite_organizations" style="width:900px; margin-left:20;">


</div>



    <div id="tabs-2" class="favorite_organizations" style="width:900px; margin-left:20;">

  </div>
</div>  
</div>
<br style="clear:both" />


<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#resource_levels .resource_levels_close').toggleResourceLevels();
	jQ('#resource_levels .resource_levels_open').toggleResourceLevels();	
  jQ("#resource_levels").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>