<div id="leftpane">
  <div class="module2" id="affiliate_information">
    <style type="text/css" media="screen">
      .warp_content {
        padding: 0;
        background-color: transparent;
      }
    </style>

    <div id="staticorg">

      <div id="affiliate_information" class="module">
        <div class="module_body2">
          <div class="page_text">
            <% if @assessment.organization.nil?%> <strong>Organizational Owner Not Found </strong>
            <% else %>
              <div style="padding-bottom:10px;">
                <%= image_tag(@assessment.organization.logo.url, :alt => @assessment.organization.medium_name) if @assessment.organization.logo.file? -%>
              </div>

              <div class="affiliate_information_title" style="font-size:14px; text-align:center; font-weight:bold; width: 230px; color:#000000;">
                <%= link_to @assessment.organization.name, {:controller => "/site/site", :action => :static_organization, :organization_id => @assessment.organization}, :html => {:style => "margin-top: 5px; margin-bottom: 5px;", :class =>"fsn-button ui-button ui-state-default ui-corner-all"} %>
                <br/>

                <span class="normal_text" style="font-size:12px; text-align:center; font-weight:normal; color:#000000;">
				</span>
              </div>
            <% end %>
            <br/>
            <div class="affiliate_information_title" style="font-size:12px; text-align:center; font-weight:bold; width: 230px; color:#000000;">
               <% if @assessment.created_at > (Time.now - 10) -%>
			 	 <span class="normal_text"style="font-size:14px; text-align:center; width: 200px; font-weight:bold; color:#C73914;">
					<strong><i>Assessment Created! </i></strong><br/><br/></span>
				<% else-%>
				  <span class="normal_text"style="font-size:12px; text-align:center; width: 200px; font-weight:normal; color:#000000;">
					Created <%= time_ago_in_words(@assessment.created_at.to_s, include_seconds = false) %> ago<br/><br/></span>
				<% end -%>
              <span class="normal_text"style="font-size:14px; text-align:center; width: 200px; font-weight:normal; color:#000000;">
                <% if @assessment.user.nil?%>
					<i> * * Unknown Author * * </i>
				<% else %>
                  By: <strong><%= link_to @assessment.user.full_name, {:controller => "/users", :action => :member_public_profile, :organization_id => @current_organization, :id => @assessment.user}, :html => {:style => "text-decoration:none;padding:1px;margin-top:5px; margin-bottom: 5px;", :class =>"view-member fsn-button ui-button ui-state-default ui-corner-all"} %>
                  </strong><br/> <br/>
				<% end -%>

                <div style="font-size:12px; margin-left:50px; width: 250px; font-weight:normal; color:#000000;">
                  <% unless @assessment.user.nil?%>
				  	<% unless @assessment.user.picture.url.split("/").last == "missing.png" %>
                    	<%= image_tag @assessment.user.picture.url(:med_thumb) %> 
				  	<% end -%>
				  <% end -%>	
                </div>
              <br/>
			</span>
              <div class="normal_text" style="font-size:10px; text-align:left; margin-left:30px; width: 250px; font-weight:normal; color:#00000;">
				<% if @assessment.generation > 0%>
					<br/>
					<u>Copied:</u> <%= pluralize(@assessment.generation, 'generation') %><br/>
					<u>Origin:</u> <%= @originator %><br/>
				<% end -%>
              </div>

	<div style="float:left; width:300px;font-size:11px; padding-left:30px; text-align:left; font-weight:normal; color:#C73914;">
			<%= render :partial => "ifa_assessment_stats" %>

	<table style="width:210px; ">
		<tbody>
			<tr>
				<td width = 150px style=" color: #000000; vertical-align:middle;text-align:center; font-size:11px" >
						Assessment Quality:
				</td>
				<%= render :partial => "thumbs_columns", :locals => {:quest => @assessment, :std => ActMaster.act.first, :filter =>"ACT"}%>
			</tr>
		</tbody>
	</table>					
	
	<table style="width:210px; ">
		<tbody>
			<tr>
				<% if @current_user == @assessment.user -%>
					<td width = 70px style=" color: #000000; vertical-align:middle;text-align:center; font-size:11px" >
						<%= link_to "Edit", {:controller => "/apps/assessment", :action => :edit_ifa_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :assessment_id => @assessment, :function => "Edit"} %></u><br/>
					</td>					
				<% else -%>
					<td width = 70px style=" color: #000000; vertical-align:middle;text-align:center; font-size:11px" >
						&nbsp;
					</td>
				<% end -%>
				<td width = 70px style=" color: #000000; vertical-align:middle;text-align:center; font-size:11px" >
					<%= link_to  "Clone", {:controller => "/apps/assessment", :action => :copy_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :assessment_id => @assessment}%></u><br/>
				</td>
				<td width = 70px style=" color: #000000; vertical-align:middle;text-align:center; font-size:11px" >
					<%= link_to "Pre-View", {:controller =>  "/apps/assessment",:action => :submit_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment, :function => "preview"}, {:target => "_blank"}  %>
				</td>
			</tr>
		</tbody>
	</table>	
			
			
			<span style="font-size:13px;"><br/><br/>
			  <%= link_to "Return", :controller => "/apps/assessment", :action => "manage", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :assessment_id => @assessment %>
			</span>
			<br/>
			</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div id="rightpane">	

	<div style="float:left; width:480px;font-size:17px; word-wrap:break-word; text-align:center; font-weight:bold; color:#C73914;">
			ASSESSMENT
	 </div> 
	 
	 <div style="float:left; width:480px;font-size:15px; word-wrap:break-word; text-align:center; font-weight:normal; color:#C73914;">
     <strong><%= @assessment.name.upcase %></strong><br/>
	 	 <%= @assessment.act_subject.name.upcase%>&nbsp;:&nbsp;<%= pluralize(@assessment.act_questions.size, ' Question') %>
	 <br/>
 
		<span style="font-size:11px">
			<% @current_organization.ifa_org_option.act_masters.each do|mstr| -%>
				<%= mstr.abbrev %> Mastery Level: <%=@assessment.score_range(mstr) %><br/>
			<% end-%>
		</span>
	 
  <br style="clear:both">
	
	<% @assessment.act_questions.each_with_index do |@q,@idx| %>	

	<table id="roles" style="width:500px; border:0px solid:white">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:0px solid:white }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>	

	  		<tr style="border:0px solid:white">
				<% if !@q.is_calibrated -%>
					<td style=" width:20px; color: #000000; vertical-align:top; font-size:10px" >
						&nbsp;
					</td>
				<% else -%>
					<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
						<%= (image_tag "calibrated_yes.png",:width => 15) -%>
					</td>
				<% end -%>
				<% if !@q.is_locked -%>
					<td style=" width:20px; color: #000000; vertical-align:top;font-size:10px" >
						<%= (image_tag "lock_no.png",:width => 15) -%>
					</td>
				<% else -%>
					<td style=" width:20px; color: #000000; vertical-align:top; font-size:10px" >
						<%= (image_tag "lock_yes.png",:width => 15) -%>
					</td>
				<% end -%>
				<% points = @q.act_answers.selected.select{|a| a.act_assessment_id == @assessment.id}.collect{|a| a.points}.sum rescue 0 -%>
				<% times_selected = @q.act_answers.selected.select{|a| a.act_assessment_id == @assessment.id && a.was_selected}.size rescue 0 -%>
				<% prof = times_selected == 0 ? "" : (100*points/times_selected).to_i -%>
				<td colspan=3 style=" width:80px; color: #000000; vertical-align:bottom;text-align:left; font-size:12px" >
					<% question_string = "Question " + (@idx+1).to_s + ": " %>
					<strong><u><%= link_to question_string,{:controller =>  "/apps/assessment", :action => "static_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => @q}, {:target => "_blank"} %></u></strong>
					&nbsp;&nbsp;&nbsp;
					<% unless prof == "" -%>
						<%=number_to_percentage(prof, :precision => 0) %> Of <%= times_selected %> 
					<% else -%>
						<small><i>No Scores</i></small>
					<% end -%>
				</td>
			
			</tr>
			<% if @q.content%>
	  		<tr style="border:0px solid:white">
				<td colspan=2 style=" width:40px; color: #000000; vertical-align:top; font-size:10px" >
						&nbsp;
				</td>
				<td style=" width:80px; color: #000000; vertical-align:bottom;text-align:right; font-size:12px" >
					<% attachment_string = "Attachment:" %>
					<u><%= link_to attachment_string,{:controller => "site/site", :action => "static_resource", :organization_id => @current_organization, :id => @q.content}, {:target => "_blank"} %></u>&nbsp;
				</td>
				<td  colspan=2 style="vertical-align:top; color: #000000; text-align:left; font-size:10px; margin-top:0px; font-weight:normal" >
					<i><%= @q.content.title.titleize %></i>
				</td>
			</tr>
			<% end -%>							  
		</tbody>
	</table>

	<% if @q.act_rel_reading %>
		<%= render :partial=> "static_assessment_q_readings" %>
	<% end -%>
	<% if @q.act_benches %>
	<!--	<%#= render :partial=> "static_assessment_q_benchmarks" %> -->
	<% end -%>
		<%= render :partial=> "static_assessment_q_analyze", :locals => {:q => @q} -%>
			
	<table style="width:500px; ">
		<tbody>
			<style type="text/css" media="screen">
	    		table,tr,td { border:none; }
				table tr:hover{
        		background-color: transparent;
      			}
   			</style>
	  			<tr style="border:0px solid:white">
					<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
						&nbsp;
					</td>
					<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
						&nbsp;
					</td>
					<td  colspan=3 style="vertical-align:top; color: #000000; text-align:left; font-size:11px; margin-top:0px; font-weight:normal" >
						<strong><%= simple_format @q.question %></strong>
					</td>
				</tr>
			<% if @q.act_choices.size.zero? %>
	  			<tr style="border:0px solid:white">
					<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
						&nbsp;
					</td>
					<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
						&nbsp;
					</td>
					<td style=" width:80px; color: #000000; vertical-align:middle;text-align:left; padding-left:20px;font-size:10px" >
						&nbsp;
					</td>
					<td style=" width:15px; color: #000000; vertical-align:middle; font-size:10px" >
						&nbsp;
					</td>
					<td  style="vertical-align:top; color: #000000; text-align:left; font-size:10px; margin-top:0px; font-weight:normal" >
						Short Answer
					</td>
				</tr>
			<% else -%>
				<% tot_answers = @q.act_answers.selected rescue []-%>
				<% @q.act_choices.each do |chc| -%>
		  			<tr style="border:0px solid:white">
						<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
							&nbsp;
						</td>
						<td style=" width:20px; color: #000000; vertical-align:middle; font-size:10px" >
							&nbsp;
						</td>
						<% selection_count = tot_answers.for_choice(chc).size -%>
						
						<% pct_choice = tot_answers.size == 0 ? "": (100*selection_count/tot_answers.size).to_i%>
						<td style=" width:80px; color: #000000; vertical-align:middle;text-align:right; padding-right:10px;font-size:10px" >
							<% unless pct_choice == "" -%>
								<%=number_to_percentage(pct_choice, :precision => 0) %> 
							<% else -%>
								<small>- - -</small>
							<% end -%>
						</td>
						<% if chc.is_correct -%>
							<td width=15px style="vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px;">
								<%= (image_tag "button_correct.png",:width => 10) %>
							</td>
							<% else -%>		
							<td width=15px style="vertical-align:middle;  padding-left:0px; padding-right:0px; padding-top:0px;">
								<%= (image_tag "button_incorrect.png",:width => 10)%>
							</td>
						<% end -%>
						<td  style="vertical-align:top; color: #000000; text-align:left; font-size:10px; margin-top:0px; font-weight:normal" >
							<%= chc.choice %>
						</td>
					</tr>
				<% end -%>
			<% end -%>
			<tr style="border:0px solid:white">
				<td colspan=5 style=" color: #000000; vertical-align:middle;text-align:left; font-size:10px" >
					<br/> - - - - - - -
				</td>
			</tr>  

		</tbody>
	</table>


	<% end -%>

 
</div> 

