<div class="container static_assessment">
  <div class= 'row'>
      <div class="panel_title_blue">
        <%= @assessment.name %>
      </div>
  </div>
  <div class= 'row'>
    <div class="panel_subtitle_blue">
      <%= @assessment.act_subject.name.upcase%>
      </br>
      <% @current_provider.master_standard.abbrev %>: <%=@assessment.score_range(@current_provider.master_standard) %>
      </br>
      <%= pluralize(@assessment.act_questions.size, ' Question') %>
    </div>
  </div>
  <hr>
  <div class= 'row'>
    <div class="static_assess_top_panel">
      <div class="col-md-3 static_assess_creation">
        <p>
          Created <%= time_ago_in_words(@assessment.created_at.to_s, include_seconds = false) %> Ago
        </p>
        <% if !@assessment.user.nil? %>
          <p>
            <% if @assessment.user.picture.url %>
                <%= image_tag @assessment.user.picture.url(:small_thumb) %>
            <% end %>
          </p>
          <p>
            <%= link_to @assessment.user.full_name, user_view_path(:organization_id => @current_organization, :id => @assessment.user)%>
            <%= @assessment.organization.nil? ? '' : (', ' +  @assessment.organization.short_name) %>
          </p>
        <% else %>
          By: <%= @assessment.organization.nil? ? '' : (@assessment.organization.name) %>
        <% end %>
        <% if @assessment.generation > 0%>
          <p>
            Copied:&nbsp;<%= pluralize(@assessment.generation, ' Time') %><br/>
            Originator:&nbsp;<%= @originator %>
          </p>
        <% end -%>
      </div>
      <div class="col-md-3">
        <div class="static_assess_stats">
          <%= render :partial => "ifa_assessment_stats" %>
        </div>
      </div>
      <div class="col-md-5">
          <%= render :partial => "assessment_tags", :locals => {:assess => @assessment} %>
        <div class="row">
          <div class="col-md-7">
            <%= render :partial => "static_assessment_user_options" %>
          </div>
          <div class="col-md-5 ">
            <div class="static_assess_buttons">
              <%= link_to "Edit", ifa_assessment_edit_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :assessment_id => @assessment, :function => "Edit"), :class => "button_blue" %>
            </div>
            <div class="static_assess_buttons">
              <%= link_to  "Clone", ifa_assessment_copy_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => @question, :assessment_id => @assessment), :class => "button_orange" %>
            </div>
            <div class="static_assess_buttons">
              <%= link_to "Pre-View", ifa_assessment_submit_path(:organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment, :function => "preview"), :class => "button_gray", :target => "_blank" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class='container static_assess_bottom_panel'>
    <div class="static_assess_questions">
      <% @assessment.act_questions.each_with_index do |que,qdx| %>
       <% if true %>
        <% points = que.act_answers.selected.select{|a| a.act_assessment_id == @assessment.id}.collect{|a| a.points}.sum rescue 0 -%>
        <% times_selected = que.act_answers.selected.select{|a| a.act_assessment_id == @assessment.id && a.was_selected}.size rescue 0 -%>
        <% prof = times_selected == 0 ? "" : (100*points/times_selected).to_i -%>
        <% question_string = "Question " + (qdx+1).to_s + ": " %>
        <% attachment_string = "Attachment:" %>
        <% seq = que.sequence_score_for(ActMaster.default, 'PP') -%>
        <% align = que.alignment_score_for(ActMaster..default, 'PP') -%>
        <div class="row">
          <div class="col-md-3">
            <%= render :partial => "question_tags", :locals => {:que => que} %>
          </div>
          <div class="col-md-7">
            <span class="q_number">
              <%= link_to question_string, ifa_question_show_path(:organization_id => @current_organization, :classroom_id => @classroom, :question_id => que), {:target => "_blank"} %>
            </span>&nbsp;
            <span class="q_prof">
              <%= prof == "" ? 'No Scores' : (number_to_percentage(prof, :precision => 0) + ' of ' +  times_selected.to_s) %>
            </span>
          </div>
        </div>
        <div class="row q_line">
          <div class="col-md-3">
          </div>
          <div class="col-md-7 q_text">
            <%= que.question.html_safe %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <% if que.content%>
              <%= link_to 'View', resource_view_path(:organization_id => @current_organization, :id => que.content), {:target => "_blank"} %>
              &nbsp;<%= que.content.title.titleize %>
            <% end %>
          </div>
          <div class="col-md-6 q_choices">
            <%= render :partial => "question_choice_summary", :locals => {:question => que} %>
          </div>
        </div>
        <% if que.act_rel_reading %>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
              <%#= render :partial=> "static_assessment_q_readings", :locals => {:q => que, :qdx => qdx} %>
            </div>
          </div>
        <% end -%>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7 q_analyze">
              <%= render :partial=> "static_assessment_q_analyze", :locals => {:que => que, :qdx => qdx} %>
            </div>
          </div>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>