<div id="mainContent">


    <%= render :partial => "/apps/assessment/dashboard_display" %>



	<% unless @student_classroom_submissions.size == 0 -%>
	<table id="roles" style="width:800px; border:0px">

		<tbody>
			<style type="text/css" media="screen">
				table tr:hover{
        		background-color: transparent;
      			}
    			</style>
			<% for sub in @student_classroom_submissions do -%>
				<tr id="<%= sub.public_id %>" class="content-list-item">

						<td  width=150px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<%= sub.created_at.strftime("%m-%d-%y") %>
							</center>
						</td>
						<td  width=120px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= sub.user.full_name.titleize %>

						</td>
						
					 	<% range_string = sub.act_assessment.score_range(@current_standard) %>
						<td  width=420px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= sub.act_assessment.name.titleize %><br/>
							<%= @current_standard.abbrev %> Mastery Level:&nbsp;<%= range_string %>
							<% if sub.is_final -%>
								<% final_label = "Final" -%>
							<% else -%>
								<% final_label = "Estimate"%>
							<% end -%>	
							, Score:&nbsp;<%= sub.sms_score(@current_standard)%>&nbsp;<i><%= final_label %></i>
						</td>
						<td  width=80px style="vertical-align:middle;  padding-top:3px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<u>
							<%= link_to "VIEW", ifa_assessment_review_final_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :submission_id => sub),{:target=>"_blank"} %>
							</u>
							</center>
						</td>
		
					</tr>
					<tr>
						<td colspan=4 style="color: #00000; vertical-align:middle; padding-bottom:3px;padding-top:3px;">
							<center>&nbsp;</center>
						</td>
					</tr>
			<% end %>
		</tbody>
	</table>

<% end -%>



<br style="clear:both" />

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>