<div >
	
	<% unless @std_benchmarks.empty? -%>
		
	<table id="roles"  style="width:710px; margin-left:40px">
		<tbody>

			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th style = "color:#000000"><strong><center>Mastery</center></strong></th>
					<th style = "color:#000000"><strong><center>Description</center></strong></th>
					<th style = "color:#000000"><strong><center>Contributor</center></strong></th>
				</tr>
			</thead>
			<tr>
				<td colspan=5 >
					&nbsp;
				</td>
			</tr>
			<% for bnch in @std_benchmarks do -%>
			<% unless bnch.nil?%>
			<tr>
				<td width = 100px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<center><%= bnch.act_bench_type.name.upcase%></center>
				</td>	
				
				<td width = 50px style=" color: #000000; vertical-align:top;text-align:center; font-size:11px" >
					<% if @edit_authorized -%>
						<u>
						<%= link_to "Edit", ifa_benchmark_edit_path(:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => bnch)  %><br/>
						</u>
					<% end -%>
					<u><%= link_to "Statistics", ifa_benchmark_show_path(:organization_id => @current_organization, :classroom_id => @classroom, :benchmark_id => bnch), {:target => "_blank"}  %></u>
				</td>				
					
				<td width = 50px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<center><%= bnch.act_score_range.range.upcase %></center>
				</td>

				<td width = 410px style=" color: #000000; vertical-align:top; font-size:11px" >
						<i><%= bnch.description.titleize %></i><br>
 				</td>
				
				<td width = 100px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<center>
					<% unless bnch.user.nil?%><%= bnch.user.full_name%> <br/><%end%>
					<% unless bnch.organization.nil? %> 
			            <%= image_tag(bnch.organization.logo.url, :width => 90, :alt => bnch.organization.medium_name) if bnch.organization.logo.file? -%>
					<% end %>
					</center>	
				</td>
 			</tr>
			<tr>&nbsp;</tr>
			<% end -%>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No Benchmarks.
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
