<div >
	
	<% unless @std_questions.empty? -%>



		<br/>			
	<table id="roles"  style="width:800px; ">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th style = "color:#000000"><strong><center><%=@standard.standard.upcase%></center></strong></th>
					<th style = "color:#000000"><strong><center>Question</center></strong></th>
					<th style = "color:#000000"><strong>&nbsp;&nbsp;Usage</strong></th>				
					<th style = "color:#000000"><strong><center>Contributor</center></strong></th>
				</tr>
			</thead>
			<tr>
				<td colspan=7 >
					&nbsp;
				</td>
			</tr>
			<% for quest in @std_questions do -%>
			<% unless quest.nil?%>
			<tr>
				<% if !quest.is_calibrated -%>
					<td width = 30px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						&nbsp;
					</td>
				<% else -%>
					<td width = 30px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "calibrated_yes.png",:width => 25) -%>
					</td>
				<% end -%>
				<% if !quest.is_locked -%>
					<td width = 30px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "lock_no.png",:width => 20) -%>
					</td>
				<% else -%>
					<td width = 30px style=" color: #000000; vertical-align:top;text-align:center; font-size:10px" >
						<%= (image_tag "lock_yes.png",:width => 20) -%>
					</td>
				<% end -%>	
				<% if quest.user_id == @current_user.id %>
					<td width = 50px style=" color: #000000; vertical-align:top;text-align:center; font-size:11px" >
						<u>
						<%= link_to "Edit", {:controller =>  "/apps/assessment", :action => "edit_ifa_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest}, {:target => "_blank"}  %>
						</u>
					</td>
				<% else -%>	
					<td width = 50px style=" color: #000000; vertical-align:top;text-align:center; font-size:11px" >
						<u>
						<%= link_to "View", {:controller =>  "/apps/assessment", :action => "static_question", :organization_id => @current_organization, :classroom_id => @classroom, :question_id => quest}, {:target => "_blank"}  %>
						</u>
					</td>				
				<% end -%>
				<td width = 130px style=" color: #000000; vertical-align:top;font-size:10px;" >
					<strong><%= quest.score_range_name(@standard.standard).upcase %></strong>
				</td>
				<td width = 600px style=" color: #000000; vertical-align:top; font-size:11px" >
					<% if quest.act_rel_reading %><u>Reading:</u><i> <%= quest.act_rel_reading.label %></i><br/><% end -%>
						<u>Type:</u>&nbsp;<%= quest.question_type %>,&nbsp;<%= pluralize(quest.act_choices.size, ' Choice') %><br/>
						<i><%= quest.question.titleize %></i><br>
 				</td>
				<td width = 130px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<%= pluralize(quest.act_assessments.size, ' Assessment') %><br/>
					<%= pluralize(quest.act_answers.selected.size, ' Exposure') %>
				</td>
				
				<td width = 100px style=" color: #000000; vertical-align:top;font-size:11px;" >
					<center>
					<% unless quest.user.nil?%><%= quest.user.full_name%> <br/><%end%>
					<% unless quest.organization.nil? %> 
			            <%= image_tag(quest.organization.logo.url, :width => 90, :alt => quest.organization.medium_name) if quest.organization.logo.file? -%>
					<% end %>
					</center>	
				</td>
 			</tr>
			<tr>&nbsp;</tr>
			<% end -%>
			<% end -%>
		</tbody>
	</table>
	<% else -%>	
		No Questions.
	<% end -%>

</div>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() { 
	jQ('.fsn-button').addUIStateClass();
});
</script>
