
<div class="row">
  <div class="col-md-3">
    <div class="assess_header_left">
      <%= image_tag(@current_organization.logo.url, :alt => @current_organization.name, :width => 150) if @current_organization.logo.file? -%>
    </div>
  </div>
  <div class="col-md-6">
      <div class= "assess_header_ctr">
        <%= @classroom_name   %>
      </div>
  </div>
  <div class="col-md-3">
     <div class="assess_header_right">
        <% if @student_pic -%>
          <%= image_tag @current_user.picture.url(:thumb) %>
        <% end %>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class= "assess_header_text">
      <%= @teacher.nil? ? '' : ('Teacher: ' + @teacher.full_name) %>
    </div>
  </div>
  <div class="col-md-6">
    <div class= "assess_header_text">
      <%=@assessment.act_subject.name.upcase %>,&nbsp;<%= Time.now.strftime("%B %d, %Y")%>
    </div>
  </div>
  <div class="col-md-3">
    <div class= "assess_header_text">
      <%= @student_name %>
    </div>
  </div>
</div>
<%= form_for(:act_submission, :url => ifa_submission_add_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic,:assessment_id => @assessment,:begin_time => @begin_time, :function => "Submit")) do |form| -%>
  <%= render :partial => "/shared/error_and_notice" %>
  <div class="row">
    <div class="col-md-2" >
      <div class= "assess_form_left">
        <% if @preview -%>
          <%= link_to 'Return', ifa_assessment_view_path(:organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment)%>
        <% else -%>
          <%= link_to 'Return', ifa_assessment_take_path(:organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment, :topic_id => @topic), :confirm => "Are You Sure? You Have Not Submitted Your Assessment." %>
        <% end -%>
      </div>
    </div>
    <div class="col-md-8">
      <div class= "assess_form_title">
        <%= @assessment.name.titleize %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>


    <% @assessment.act_questions.each_with_index do |quest,idx| %>
      <%= render :partial => "view_question_in_assessment" , :locals => {:quest => quest, :num => idx+1} %>
    <% end -%>


  <div class="row eoa">
    End Of Assessement
    <hr>
    <div class="col-md-2"></div>
    <div class="col-md-8 assess_form_end">
          Optional Comment: <%= text_field :act_submission, :student_comment, :size => 55, :maxlength => 150 %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2" ></div>
    <div class="col-md-8 assess_form_end">
      <div class = 'assess_submit_row'>
        <% unless @preview -%>
          <%= render :partial => "submit_assessment_button" %>
        <% else %>
          <div class= 'btn btn-primary btn-xs'>
            Submit Assessment
          </div>
          <span class='assess_button_label'>Disabled Submit</span>
        <% end -%>
      </div>
      <hr>
    </div>
    <div class="col-md-2" ></div>
	</div>	
<% end -%>
