
<div class="Form clear">
<% form_for(:act_submission, :url => {:controller => "/apps/assessment", :action => :add_submission, :organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic,:assessment_id => @assessment,:begin_time => @begin_time, :function => "Submit"}) do |form| -%>

    <%= render :partial => "/shared/error_and_notice" %>
	
	<table style="width:775px; ">
		<tbody>

			<tr>
				<td width = 150px style=" color: #000000; vertical-align:middle;text-align:left; font-size:12px" >
					<%= image_tag(@current_organization.logo.url, :alt => @current_organization.name, :width => 150) if @current_organization.logo.file? -%>
				</td>
				<td width = 475px style="vertical-align:top; color: #C83A14; font-size:16px; margin-top:0px; font-weight:normal" >
		 		     	<br/>
							<strong><center><u><%= @classroom_name   %></u></center></strong>
				</td>
				<td width = 150px style=" color: #000000; vertical-align:middle; text-align:right; font-size:12px" >
		    		<%= image_tag("COOP_logo.png", :alt => "Escent Partners, LLC", :width => 150) %>
				</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center>&nbsp;</center>
				</td>
			</tr>
			<tr>
			
				<td width = 150px style=" color: #C83A14; vertical-align:middle;text-align:middle; font-size:12px" >
      				<% if @student_pic -%>
    				   <%= image_tag @current_user.picture.url(:thumb) %>
      				<% else %>
        				<%= image_tag "member_ico.gif" %> 
      				<% end %>


				</td>
				<td width = 475px style="vertical-align:top; color: #C83A14; font-size:14px; margin-top:0px; font-weight:normal" >
		 		     	<br/>
							<strong><center> <%= @student_name %></center></strong>
				</td>
				<td width = 150px style=" color: #000000; vertical-align:top; text-align:top; font-size:12px" >
					<br/>
					<strong><%= Time.now.strftime("%B %d, %Y")%></strong>
					<br/><br/>
						<% unless @teacher.nil?%>
							<strong>Teacher: <%= @teacher.full_name %></strong>
						<% end -%>
					</td>
 			</tr>
			<tr>
				<td colspan=3>
					<center>&nbsp;</center>
				</td>
			</tr>

		</tbody>
	</table>
<div style="width:100%; text-align:left;  font-size:12px; padding:10px;">
	  <% if @preview -%>
		 <% return_string = "Return" %>
		 <%= link_to return_string, {:controller => "/apps/assessment", :action => :static_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment}%>
	  <% else -%>
	 	 <% return_string = "Return "  -%>
		 <%= link_to return_string, {:controller => "/apps/assessment", :action => :take_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment, :topic_id => @topic}, :confirm => "Are You Sure? You Have Not Submitted Your Assessment." %>
	  <% end -%>
</div>
	<table style="width:775px; margin-left:0px; border:0px">
		<tbody>
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
			<tr>
				<td colspan=5 style=" color: #000000; vertical-align:middle;text-align:left; font-size:12px" >
					<strong><center><%=@assessment.act_subject.name.upcase %><br/><u><%= @assessment.name.titleize %></u></center></strong>
				</td>
 			</tr>

			  <% @assessment.act_questions.each_with_index do |quest,idx| %>
   			 	<%= render :partial => "view_question_in_assessment" , :locals => {:quest => quest, :num => idx+1} %>
			<% end -%>
				<tr>
					<td colspan=5 style="vertical-align:top; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #C83A14; font-size:10px; margin-top:0px; font-weight:normal" >
						<center>- - -  End Of Assessment - - -</center><br/>
					</td>
				</tr>
				<tr>
					<td colspan=5 style="vertical-align:top; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px;color: #000000; font-size:11px; margin-top:0px; font-weight:normal" >
						<center>Optional Comment: <%= text_field :act_submission, :student_comment, :size => 55, :maxlength => 150 %></center>
					</td>
				</tr>
		</tbody>
	</table>

	
	<div class="FormRow submit_warp">
	  <% unless @preview -%>
		<%= render :partial => "submit_assessment_button" %>
	  <% end -%>
	</div>	
<% end -%>
	<% if @preview -%>
		<center><%= button_to "Submit", {:controller =>  "/apps/assessment",:action => :static_assessment, :organization_id => @current_organization, :classroom_id => @classroom, :assessment_id => @assessment}, :class => "fsn-button ui-button ui-state-default ui-corner-all" %></center>
		<br/><br/>
	<% end -%>

</div>
