<div id="take_assess">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class= 'panel_title_blue'>
        <%= @classroom.course_name.upcase  %> Growth| <%= @current_user.full_name %>
      </div>
    </div>
    <div class="col-md-1 ">
      <div class="row ifa_take_right">
        <%= link_to 'Return', offering_view_path(:organization_id => @current_organization, :topic_id => @topic, :id => @classroom) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 submission_success">
      <% if @last_submission%>
        Last Assessment: <%= time_ago_in_words(@last_submission.created_at).sub(/about /, '') + " ago" %><br/>
        Duration: <%= number_with_precision(@last_submission.duration/60.0, :precision => 1) %> Minutes<br/>
        <% unless @last_submission.sms_score(@current_standard) == 0 -%>
          <% ass_score =  @last_submission.sms_score(@current_standard) %>
          <%= @last_submission.final? ? '' : 'Estimated '%><%= @current_standard.abbrev_view(@current_user) %> Score: <%= ass_score %><br/>
        <% end -%>
        <% if @classroom.ifa_classroom_option.is_ifa_notify %>
          <%= @last_submission.teacher.last_name %> has been notified.<br/>
        <% end -%>
        <% if !@last_submission.final? -%>
            Your dashboard will be updated when your teacher reviews the assessment.<br/>
        <% end -%>
      <% end %>
    </div>
    <div class="col-md-5 submission_success">
      <% if !@current_student_plan.nil? -%>
        <% if !@suggested_topics.empty? %>
          <div class="row plan_lus_header">
            Your Milestone Learning Units
          </div>
          <% @suggested_topics.each do |lu| %>
            <div class="row plan_lus">
              <%= link_to lu.title, offering_view_path(:organization_id => @current_organization, :topic_id => lu, :id => @classroom) %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="row plan_create_msg">
          Please Initiate Your <%=@current_subject.name %> Growth Plan
        </div>
      <% end %>
    </div>
    <div class="col-md-1 "></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 ifa_dashboard_box">
      <% if !@last_submission.nil? %>
          <%= render :partial => "ifa/ifa_dashboard/submission_dashboard",
                     :locals=>{:submission => @last_submission, :subject => @last_submission.subject, :cell_corrects=>@cell_correct,
                               :cell_totals=>@cell_total, :cell_pcts=>@cell_pct, :cell_color=>@cell_color, :cell_font=>@cell_font,
                                :cell_milestones=>@cell_milestone} %>
      <% end %>
      <hr>
    </div>
    <div class="col-md-1 "></div>
  </div>
</div>

<div id="control_panel" >
  <ul>
    <li>
      <%  tab_1_label = " My Assessment Pool " %>
      <a href="#tabs-1"><span class="tab_label">
      <%= tab_1_label %></span></a>
    </li>
    <li>
      <%  tab_2_label = " My Growth " %>
      <a href="#tabs-2"><span class="tab_label">
      <%= tab_2_label %></span></a>
    </li>
    <% ActSubject.plannable.each do |subj| %>
      <li>
        <%  tab_2_label = 'My ' + subj.name + ' Plan' %>
        <a href="#tabs-3<%= subj.id.to_s%>"><span class="tab_label">
        <%= tab_2_label %></span></a>
      </li>
    <% end %>
  </ul>
  <div id="tabs-1" class="row">
    <%= render :partial => "list_classroom_assessments"  -%>
  </div>
	<div id="tabs-2" class="row">
    <%= render :partial => "your_growth"  -%>
  </div>
  <% ActSubject.plannable.each do |subj| %>
    <div id="tabs-3<%= subj.id.to_s%>" class="row">
      <%=    render :partial => "/ifa/ifa_plan/manage_subj_plan", :locals=>{:subject => subj, :show_form => @current_user.show_ifa_plan_form?(subj)} %>
    </div>
  <% end %>

  <br style="clear:both" />

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
</div>