<div id="mainContent">

  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
		<br/><strong><%= @classroom.course_name.upcase  %> </strong><br/>
	</div>
	
	<%= render :partial => "/shared/error_and_notice" %>
		
	<div style="float:none;width:97%;" class="mempro_box clear">
	 <p style="float:right; word-wrap:break-word; overflow:hidden;">
      <br />
			<% return_link = "Return To " + @classroom.course_name.upcase %>
			<%= link_to return_link, offering_view_path(:organization_id => @current_organization, :topic_id => @topic, :id => @classroom) %>
	</p>    
		<br/>
		  <span style="width:630px; padding-left:40px; word-wrap:break-word; overflow:hidden; font-size:18px; font-weight:bold" >
		   <%= @current_user.full_name %>
		  </span>

	<% unless @range_list.size.zero? -%>
	    <%= render :partial => "/apps/assessment/ifa_dashboard_with_toggle" %>	  
	<% else -%>	
		<span style ="width:630px; word-wrap:break-word; overflow:hidden; font-size:12px; font-weight:normal; color:#C83A14;">
			No recent formative assessment results associated with <strong><%= @current_standard.abbrev.upcase%> standards.</strong><br/>
		</span>
	<% end -%>

	<br/>
  <br style="clear:both" />
  <div id="control_panel" >
 
   <ul>

      <li>
		<%  tab_1_label = "Pending Assessments" %>		
		<a href="#tabs-1"><span class="tab_label">
		<%= tab_1_label %></span></a>				
		</li>

	  <li>
		<%  tab_2_label = "Student Assessments" %>
		<a href="#tabs-2"><span class="tab_label">
		<%= tab_2_label %></span></a>								
      </li>

	  <li>
		<%  tab_3_label = @classroom.course_name + " Classroom Growth" %>
		<a href="#tabs-3"><span class="tab_label">
		<%= tab_3_label %></span></a>								
      </li>

	  </li>

    </ul>

	

    <div id="tabs-1" class="favorite_organizations" style="width:900px; margin-left:20;">

	<% unless @pending_assessments.size == 0 -%>
	<table border="0" style="width:800px">

		<tbody >

			<% for ass in @pending_assessments do -%>
				<tr id="<%= ass.public_id %>" border="0" class="content-list-item">

						<td  border="0" width=150px style="vertical-align:middle;  padding-top:5px; padding-bottom:5px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<%= ass.created_at.strftime("%m-%d-%y") %>
							</center>
						</td>
						<td  width=120px style="vertical-align:middle;  padding-top:5px; padding-bottom:5px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<%= ass.user.full_name.titleize %>

						</td>
						
						<td  width=420px style="vertical-align:middle;  padding-top:5px; padding-bottom:5px; text-align:left; color: #000000; font-size:11px; font-weight:bold">
							<%= ass.act_assessment.name.titleize %><br/><%= ass.act_subject.name.titleize %>
						</td>
						<td  width=80px style="vertical-align:middle;  padding-top:5px; padding-bottom:5px; text-align:center; color: #000000; font-size:11px; font-weight:bold">
							<center>
							<u>
							  <%= link_to "REVIEW", ifa_assessment_review_final_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :submission_id => ass) %>
							</u>
							</center>
						</td>
		
					</tr>

			<% end %>
		</tbody>
	</table>

	<% else -%>	
	<br/>
	<span style ="color: #C83A14; font-size:16px">
	<center><i>* * *  No <%= @classroom.course_name.upcase %> Assessments Are Waiting To Be Reviewed  * * *</i></center>
	</span>
	<% end -%>


</div>



    <div id="tabs-2" class="favorite_organizations" style="width:900px; margin-left:20;">

	<table id="resource_levels" class="tablesorter" style="width:99%;">
		<tbody>
			<% unless @student_list.size.zero? || @assessment_subjects.size.zero?-%>
				<% @student_list.each do |student| -%>
				<% @assessment_subjects.each do |sub| -%>
					<% student_label = student.last_name.upcase + ",&nbsp;" + student.first_name + ":" -%>
					<% subject_label = sub.name.titleize -%>
					<tr>
						<td class="resource_levels_close">
							<%= link_to '', ifa_dashboard_growth_path(:organization_id => @current_organization, :classroom_id => @classroom, :topic_id => @topic, :group => "student", :subject_id => sub.id, :id => student, :details => true) %>
							<strong><%= student_label %></strong>&nbsp;&nbsp;&nbsp;<%= subject_label %>
							<span></span>
							</td>
						</tr>
					<% end -%>
				<% end -%>
			<% else -%>
			<br/>
			<span style ="font-size:11px; color: #C83A14;">
				<center><strong><i>* * *  No <%= @classroom.course_name.upcase %> STUDENTS WITH IFA RESULTS   * * *</i></strong></center>			</span>				
			<% end -%>
		</tbody>
	</table>


  </div>
  
  
  
    <div id="tabs-3" class="favorite_organizations" style="width:900px; margin-left:20;">


		<table id="resource_levels"  class="tablesorter" style="width:99%;">
			<tbody>  
				
				<% @current_classroom_dashboards.each do |db| -%>
					<% period_label = db.period_end.strftime("%B, %Y") + ":&nbsp;&nbsp;"-%>
					<% sub_label = db.act_subject.name.titleize -%>
					<tr>
						<td class="resource_levels_close">
						<%= link_to '', ifa_dashboard_entity_path(:organization_id => @current_organization,  :entity_id => @classroom, :subject_id => db.act_subject_id,  :dashboard_id => db,:entity_id => @classroom.id, :entity_class => @classroom.class, :period => db.period_end) %>
						<%= period_label %><%= sub_label %>
						<span></span>
						</td>
					</tr>
				<% end -%>
			</tbody>
		</table>
</div>
</div>
</div>
<br style="clear:both" />

<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#authorization_levels .authorization_levels_close').toggleAuthorizationLevels();
	jQ('#authorization_levels .authorization_levels_open').toggleAuthorizationLevels();	
  jQ("#roles").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>

<script type="text/javascript" charset="utf-8">
  jQ(document).ready(function(){
    jQ('#control_panel').tabs();
  });
</script>
<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('#resource_levels .resource_levels_close').toggleResourceLevels();
	jQ('#resource_levels .resource_levels_open').toggleResourceLevels();	
  jQ("#authorization_levels").tablesorter({ headers: { 1: { sorter: false }} });
});
</script>