
<div class="MasterItemHeaderDiv">Prayer Pledges</div>
<table>
  <tr>
    <th>First Name</th>
	<th>Last Name</th>
	<th>Email Address</th>
		<th>Email Reminder</th>
	<th>Phone</th>

	<th>Created</th>
  </tr>

<% @prayer_pledges.each do |prayer_pledge| %>
  <tr>
    <td><%=h prayer_pledge.first_name %></td>
	<td><%=h prayer_pledge.last_name %></td>
	<td><%=h prayer_pledge.email_address %></td>

	<td><%= prayer_pledge.email_reminder %></td>
		<td><%=h prayer_pledge.phone_number %></td>
	<td><%= prayer_pledge.created_at %></td>
  </tr>
<% end %>
</table>
<br/>
<div>
  "Clear Wrong Phone Number" button will clear phone number which is "xxx-xxx-xxxx".
</div>
<%= button_to "Clear Wrong Phone Number", :action => "clear_phone" %>
<%= link_to "Download Prayer Pledges" , {:action => "download_excel"} , :trager => "blank", :style => "margin-left:10px" %>