<div id ="school_ista_dashboard_<%=school.public_id%>">
	<% columns = [0,1,2,3] -%>
	<% cases = school.ista_cases.final -%>
		<table  style="width:840px; border:0px solid #ddd; margin-left:0px">
			<tbody>
				<tr style="border:0px solid #ddd;border-bottom:0px; ">
					<td style=" width:200px; width:fixed; border:0px solid #ddd; border-bottom:0px solid #ddd; color: #000000; line-height: 1.5em; vertical-align:middle; text-align:center; font-weight:bold; font-size:12px" >
						&nbsp;
					</td>
					<td style=" width:480px; width:fixed; border:0px solid #ddd; border-bottom:0px solid #ddd; color: #2061a5;line-height: 1.5em; vertical-align:middle; text-align:center; font-weight:bold; font-size:14px" >
							<%=school.name %>
					</td>
					<td id="select_school" style=" width:200px; width:fixed; border:0px solid #ddd; border-bottom:0px solid #ddd; color: #000000; line-height: 1.5em; vertical-align:middle; text-align:center; font-weight:bold; font-size:12px" >
						<%=  select(:org, :school,  IstaCase.final.collect{|c| c.organization}.uniq.collect{|s| [s.medium_name, s.id]}, :prompt=>"Select " + app.abbrev + " School") %>
					</td>
				</tr>
			</tbody>
		</table>
	<% unless cases.empty?-%>
		<% group = "dashboard_" + school.public_id -%>
		<% family = "Garamond, Time New Roman, Helvitica,sans-serif" -%>

		<table  style="width:840px; border:3px solid #ddd; margin-left:0px; font-family:<%=family%>">
			<thead>
				<tr style="border:1px solid #ddd;border-bottom:0px; ">
					<th style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
						&nbsp;
					</th>
					<th style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; border-bottom:0px solid #ddd; color: #000000; line-height: 1.5em; vertical-align:bottom; text-align:center; font-weight:bold; font-size:13px" >
							<%= pluralize(cases.size, " Case Scenario") %>
					</th>
					<%columns.each do |idx| -%>	
						<th   style=" width:160px; width:fixed; border:1px solid #ddd; border-bottom:0px solid #ddd; color: #000000; line-height: 1.5em; padding-top:5px; padding-bottom:5px; vertical-align:top;text-align:center; font-weight:normal; font-size:10.5px" >
							<% unless !cases[idx] -%>
								<%= cases[idx].user ? cases[idx].user.last_name : "Former User" %>,&nbsp;<%= cases[idx].final_date.strftime("%b %d, %Y") %><br/>
								<u>
					 				<%= link_to 'View Case', stat_case_path(:organization_id => @current_organization,:case_id => cases[idx], :function=>'Pass') , {:target => '_blank'}  %>
								</u>&nbsp;&nbsp;&nbsp;&nbsp;					
								<u>
					 				<%= link_to 'View Plan', stat_case_path(:organization_id => @current_organization,:case_id => cases[idx], :function=>'Pass') , {:target => '_blank'}  %>
								</u>
							<% end -%>
						</th>
					<% end -%>
				</tr>				
				<tr style="border:1px solid #ddd;border-top:0px; ">
					<th colspan=2 style="  border:1px solid #ddd; border-top:0px solid #ddd; color: #000000; vertical-align:top; text-align:center; font-weight:bold; font-size:12px" >
							
					</th>
					<%columns.each do |idx| -%>	
						<th   style=" width:160px; width:fixed; border:1px solid #ddd; border-top:0px solid #ddd; color: #000000; line-height: 1.5em; padding-left:3px;vertical-align:top;text-align:left; font-weight:normal; font-size:10.5px" >
							<% unless !cases[idx] -%>
								<%= cases[idx].title%><br/>
								<center><%=pluralize(cases[idx].case_students, ' Student') %>,&nbsp;&nbsp;<%=pluralize(cases[idx].case_teachers, " Teacher") %></center>
							<% end -%>
						</th>
					<% end -%>
				</tr>
			</thead>
			<tbody>
				<style type="text/css" media="screen">
		    		table,tr,td { border:medium }
					table tr:hover{
	        		background-color: transparent;
	      			}
	   			</style>
				<%IstaStep.active.each do |step| -%>
					<tr style="border:1px solid #ddd; ">
						<th   colspan=6 style=" border:1px solid #ddd; border-top:3px solid #ddd;color: #C83A14; line-height: 1.5em; padding-top:5px; padding-left:3px;vertical-align:middle;text-align:left; font-weight:bold; font-size:12.5px" >
							Step&nbsp;<%=step.step_number %>:&nbsp;<%= step.short_name %>
						</th>
					</tr>
					<% if step.step_number == 1 -%>
		    			<%= render :partial => "/apps/school_time/step1_dashboard", :locals => {:school=> school, :columns => columns, :cases => cases} -%>
					<% end -%>
					<% if step.step_number == 2 -%>
		    			<%= render :partial => "/apps/school_time/step2_dashboard", :locals => {:school=> school, :columns => columns, :cases => cases} -%>
					<% end -%>
					<% if step.step_number == 3 -%>
		    			<%= render :partial => "/apps/school_time/step3_dashboard", :locals => {:school=> school, :columns => columns, :cases => cases} -%>
					<% end -%>
					<% if step.step_number == 4 -%>
		    			<%= render :partial => "/apps/school_time/step4_dashboard", :locals => {:school=> school, :columns => columns, :cases => cases} -%>
					<% end -%>
					<% if step.step_number == 5 -%>
		    			<%= render :partial => "/apps/school_time/step5_dashboard", :locals => {:school=> school, :columns => columns, :cases => cases} -%>
					<% end -%>
				<% end -%>
			</tbody>
		</table>
	<% else -%>
	  	<div style="text-align:center;  word-wrap:break-word; color: #2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
				<br/><center>There are no <%= @current_application.name %>&nbsp;Cases Defined for <%= school.short_name %></center>
		</div>
	<% end -%>
</div>
<script type="text/javascript">
jQ(document).ready(function() {
 	jQ("#select_school").change(function(){
		var school_id = jQ('#org_school').val();
		var url = "<%= stat_dashboard_select_url(:organization_id => @current_organizatio) %>";
			jQ.get(url, {'school_id': school_id}, function(data) {
				jQ("#school_ista_dashboard_<%=school.public_id%>").html(data);
				jQ("#school_ista_dashboard_<%=school.public_id%>").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
  		  jQ("#1_header_<%= school.public_id %>").show();
		  jQ("#1_descript_<%= school.public_id %>").hide();		  

	jQ("#1_show_<%= school.public_id %>").click(function() {
		  	jQ("#1_header_<%= school.public_id %>").hide();	 
	   		jQ("#1_descript_<%= school.public_id %>").slideDown("slow");
	})

	jQ("#1_hide_<%= school.public_id %>").click(function() {
	   		jQ("#1_descript_<%= school.public_id %>").slideUp("slow");
	   		jQ("#1_header_<%= school.public_id %>").show();
	})	
});
</script>
	