<div id="step_3">

	<% back_a_1 = "#" + IstaGroup.academics[0].background_1%>
	<% back_a_2 = "#" + IstaGroup.academics[0].background_2%>
	<% back_e_1 = "#" + IstaGroup.electives[0].background_1%>
	<% back_e_2 = "#" + IstaGroup.electives[0].background_2%>
	<% back_o_1 = "#" + IstaGroup.other[0].background_1%>
	<% back_o_2 = "#" + IstaGroup.other[0].background_2%>
<%= form_for(:ista_case_allocation, :url => stat_case_step_mins_path(:organization_id => @current_organization, :step_id => step, :case_id => ista_case)) do |form| -%>

	<table style="width:810px;margin-left:50px">
		<tbody> 
			<% unless ista_case.final? -%>
				<tr style=" border:0px solid #ddd;">
					<td  style="vertical-align:middle;  padding-top:0px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
					 	<center><%= submit_tag "Step 3 Update", :class =>"fsn-button ui-button ui-state-default ui-corner-all save"%></center>
					</td>
					<td colspan=6 style = "color: #2061a5; font-weight:bold;">
						&nbsp;
					</td>
					<% if ista_case.ista_step == IstaStep.step_3.first -%>
						<td  colspan=2 style="vertical-align:middle;  padding-top:0px; text-align:left; color: #000000; font-size:10px; font-weight:normal">
							<center><%= link_to 'Next Step ', stat_case_step_finish_path(:organization_id => @current_organization, :step_id => step, :case_id => ista_case), { :class => "fsn-button ui-button ui-state-default ui-corner-all"} %></center>
						</td>
					<% else -%>
						<td colspan=2 style = "color: #2061a5; font-weight:bold;">
							&nbsp;
						</td>				
					<% end -%>
				</tr>
			<% end -%>
			<tr style=" border:0px solid #ddd;">
				<td colspan=3 style = "color: #2061a5; font-weight:bold;">
					&nbsp;
				</td>
				<td colspan=6 style = "color: #2061a5; font-size:14px; font-weight:normal;">
					Step&nbsp;<%=step.step_number %>:&nbsp;<%=step.name%>
				</td>
			</tr>
			<tr style=" border:0px solid #ddd;">
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:14px; font-weight:bold; background:<%= back_a_1%>">
					<center><%=IstaGroup.academics[0].name%></center>
				</td>
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:14px; font-weight:bold; background:<%= back_e_1%>">
					<center><%=IstaGroup.electives[0].name%></center>
				</td>
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:14px; font-weight:bold; background:<%= back_o_1%>">
					<center><%=IstaGroup.other[0].name%></center>
				</td>
			</tr> 
			<tr style=" border:0px solid #ddd;">
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; font-weight:normal; background:<%= back_a_1%>">
					&nbsp;
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_a_1%>">
					<center>Mins/Wk</center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_a_1%>">
					<center>Time %</center>
				</td>
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; font-weight:normal; background:<%= back_e_1%>">
					&nbsp;
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_e_1%>">
					<center>Mins/Wk</center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_e_1%>">
					<center>Time %</center>
				</td>
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; font-weight:normal; background:<%= back_o_1%>">
					&nbsp;
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_o_1%>">
					<center>&nbsp;</center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_o_1%>">
					<center>&nbsp;</center>
				</td>
			</tr>
			<tr style=" border:0px solid #ddd;">
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; background:<%= back_a_2%>">
					<%= render :partial => "apps/school_time/step3_group", :locals=>{:app=>@app, :step=> step, :ista_group=> IstaGroup.academics[1], :ista_case=>ista_case} %>
				</td>
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; background:<%= back_e_2%>">
					<%= render :partial => "apps/school_time/step3_group", :locals=>{:app=>@app, :step=> step, :ista_group=> IstaGroup.electives[1], :ista_case=>ista_case} %>
				</td>
				<td colspan=3 style = "width:270px; width:fixed; border:0px solid #ddd; color: #2061a5; background:<%= back_o_2%>">
					<%= render :partial => "apps/school_time/step3_group", :locals=>{:app=>@app, :step=> step, :ista_group=> IstaGroup.other[1], :ista_case=>ista_case} %>
				</td>
			</tr>
			<tr style=" border:0px solid #ddd;">
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:11px; font-weight:bold; background:<%= back_a_1%>">
					<center>Est.Non-Purposed</center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #C73914; font-size:12px; background:<%= back_a_1%>">
					<center>-<%=  ista_case.academics_minutes_week_nonpurposed -%></center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #C73914; font-size:12px; background:<%= back_a_1%>">
					<center>-<%= number_to_percentage(( ista_case.academics_minutes_week_nonpurposed_pct).round, :precision => 0) %></center>
				</td>
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:11px; font-weight:bold; background:<%= back_e_1%>">
					<center>Est.Non-Purposed</center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #C73914; font-size:12px; background:<%= back_e_1%>">
					<center>-<%=  ista_case.electives_minutes_week_nonpurposed -%></center>
				</td>
				<td style = "width:60px; width:fixed; border:0px solid #ddd; color: #C73914; font-size:12px; background:<%= back_e_1%>">
					<center>-<%= number_to_percentage(( ista_case.electives_minutes_week_nonpurposed_pct).round, :precision => 0) %></center>
				</td>
				<td style = "width:150px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:11px; font-weight:bold; background:<%= back_o_1%>">
					<center>Est.Non-Purposed</center>
				</td>
				<td colspan=2 style = "width:60px; width:fixed; border:0px solid #ddd; color: #2061a5; font-size:12px; background:<%= back_o_1%>">
					<center><%=  ista_case.other_minutes_week_nonpurposed -%></center>
				</td>
			</tr> 
			<tr style=" border:0px solid #ddd;">
				<td colspan= 3 style = " border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_a_1%>">
					<span style= "color: #C73914;">-<%= number_with_precision(ista_case.student_academics_hrs_week_nonpurposed, :precision => 1) %></span>
					&nbsp;&nbsp;Student-Hrs/Wk
				</td>
				<td colspan= 3 style = "border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_e_1%>">
					<span style= "color: #C73914;">-<%= number_with_precision(ista_case.student_electives_hrs_week_nonpurposed, :precision => 1) %></span>
					&nbsp;&nbsp;Student-Hrs/Wk
				</td>
				<td colspan= 3 style = "border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_o_1%>">
					<%= number_with_precision(ista_case.student_other_hrs_week_nonpurposed, :precision => 1) %>
					&nbsp;&nbsp;Student-Hrs/Wk
				</td>
			</tr> 
			<tr style=" border:0px solid #ddd;">
				<td colspan= 3 style = " border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_a_1%>">
					<span style= "color: #C73914;">-<%= number_with_precision(ista_case.teacher_academics_student_hrs_nonpurposed, :precision => 1) %></span>
					&nbsp;&nbsp;Student-Hrs/Teacher/Wk
				</td>
				<td colspan= 3 style = "border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_e_1%>">
					<span style= "color: #C73914;">-<%= number_with_precision(ista_case.teacher_electives_student_hrs_nonpurposed, :precision => 1) %></span>
					&nbsp;&nbsp;Student-Hrs/Teacher/Wk
				</td>
				<td colspan= 3 style = "border:0px solid #ddd; color: #2061a5; font-size:11px; text-align:center; font-weight:normal; background:<%= back_o_1%>">
					<%= number_with_precision(ista_case.teacher_other_student_hrs_nonpurposed, :precision => 1) %>
					&nbsp;&nbsp;Student-Hrs/Teacher/Wk
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
<% end -%>
<br/>
</div>
