
	<% group = IstaGroup.academics[0] -%>
	<% grp_back = "#" + group.background_2 -%>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				<%=group.name%>
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Minutes/Week
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].academics_minutes_week_actual -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].academics_minutes_week_actual_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Hours/Year
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].academics_hours_year -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].academics_hours_year_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Student Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].student_academics_hrs_week_actual, :precision => 0) %>&nbsp;hrs/wk&nbsp;across&nbsp;<%=pluralize(cases[idx].case_students, " student")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Teacher Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].teacher_academics_student_hrs_actual, :precision => 0) %>&nbsp;hrs/wk/tchr&nbsp;for&nbsp;<%=pluralize(cases[idx].case_teachers, " teacher")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<% group = IstaGroup.electives[0] -%>
	<% grp_back = "#" + group.background_2 -%>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				<%=group.name%>
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Minutes/Week
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].electives_minutes_week_actual -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].electives_minutes_week_actual_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Hours/Year
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].electives_hours_year -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].electives_hours_year_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Student Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].student_electives_hrs_week_actual, :precision => 0) %>&nbsp;hrs/wk&nbsp;across&nbsp;<%=pluralize(cases[idx].case_students, " student")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Teacher Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].teacher_electives_student_hrs_actual, :precision => 0) %>&nbsp;hrs/wk/tchr&nbsp;for&nbsp;<%=pluralize(cases[idx].case_teachers, " teacher")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<% group = IstaGroup.other[1] -%>
	<% grp_back = "#" + group.background_2 -%>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				<%=group.name%>
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Minutes/Week
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].other_minutes_week_actual -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].other_minutes_week_actual_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Actual Hours/Year
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  cases[idx].other_hours_year -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=  number_to_percentage((cases[idx].other_hours_year_pct).round, :precision => 0)  -%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Student Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:170px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].student_other_hrs_week_actual, :precision => 0) %>&nbsp;hrs/wk&nbsp;across&nbsp;<%=pluralize(cases[idx].case_students, " student")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>
	<tr style="border:1px solid #ddd; background:<%=grp_back%>;">
		<td style=" width:60px; width:fixed; border:1px solid #ddd; border-right:0px solid #ddd; color: #000000; vertical-align:middle; text-align:left; font-weight:bold; font-size:12px;"  >
				&nbsp;
		</td>
		<td style=" width:140px; width:fixed; border:1px solid #ddd; border-left:0px solid #ddd; color: #000000; vertical-align:middle; float:right; font-weight:normal; font-size:12px;"  >
			Teacher Effects
		</td>
		<%columns.each do |idx| -%>	
			<td   style=" width:160px; width:fixed; border:1px solid #ddd; color: #000000; line-height: 1.2em; padding-left:3px;vertical-align:middle;text-align:center; font-weight:normal; font-size:12px" >
				<% unless !cases[idx] -%>
					<%=  number_with_precision(cases[idx].teacher_other_student_hrs_actual, :precision => 0) %>&nbsp;hrs/wk/tchr&nbsp;for&nbsp;<%=pluralize(cases[idx].case_teachers, " teacher")%>
				<% end -%>
			</td>
		<% end -%>
	</tr>

