<div id="main_content">

  	<div style="text-align:center;  word-wrap:break-word; color: #C83A14;  font-size: 18px; font-style: normal; font-weight: bold">
			<br/><%= @current_application.name.upcase %>
	</div>
<!--
		<%#= render :partial => "apps/shared/app_owner_button", :locals=>{:app=>@current_application} %>
-->		
		<div style="float:none;width:96.7%;" class="mempro_box clear" style="margin-left:00px;">

<!--
			<div id="leftpane_appl">	
				<%#= render :partial => "apps/app_blog/app_blog_list", :locals=>{:app=>@app} %>		
			</div>
			<div id="rightpane_appl"></div>
-->
		<div id="centerpane_appl">
<br/>			
			<div id="offering_box">
				<div style="margin-left:30px;">
					<span class="fsn-button ui-button ui-state-default ui-corner-all">
						 <%= link_to 'Create School Time Case' , stat_case_path(:organization_id => @current_organization, :function=>"Pass") %>
					</span>
				</div>
				<table id="time_dashboards"   style="width:900px; margin-left:15px; color: #2061a5; ">
					<tbody>  
						<tr>
							<td class="resource_levels_close">
			
							<%= link_to '', stat_dashboard_path(:organization_id => @current_organization) %>
								Show <%=@current_application.name %> Dashboards
							<span></span>
							</td>
						</tr>
					</tbody>
				</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#time_dashboards .resource_levels_close').toggleResourceLevels();
		jQ('#time_dashboards .resource_levels_open').toggleResourceLevels();	
	});
	</script>
	
 		    </div>
		</div>
  	</div>
  <div id="control_panel" >
   <ul>
      <li>
		<%  tab_2_label = "Existing Cases" %>
        <a href="#tabs-2"><span class="tab_label">
		<center><%= tab_2_label %></center></span></a>	
	  </li>
      <li>
		<%  tab_6_label = "Analyze" %>
        <a href="#tabs-6"><span class="tab_label">
		<center><%= tab_6_label %></center></span></a>	
	  </li>
      <li>
      	<%  tab_1_label =  "Action Logs" %>
        <a href="#tabs-1"><span class="tab_label">
		<center><%= tab_1_label %></center></span></a>	
	  </li>
      <li>
		<%  tab_4_label = "Resources" %>
        <a href="#tabs-4"><span class="tab_label">
		<center><%= tab_4_label %></center></span></a>	
	  </li>
		<% if @admin -%>
	      <li>
			<%  tab_9_label = "Options" %>
	        <a href="#tabs-9"><span class="tab_label">
			<center><%= tab_9_label %></center></span></a>	
		  </li>
		<% end -%>
	      <li>
			<%  tab_7_label = "Owner Functions" %>
	        <a href="#tabs-7"><span class="tab_label">
			<center><%= tab_7_label %></center></span></a>	
		  </li>
    </ul>

	<div id="tabs-2" class="favorite_organizations" style="width:900px">
	    	<%= render :partial => "/apps/school_time/list_cases" %>
   	</div>
	<div id="tabs-6" class="favorite_organizations" style="width:900px">
Various Analytical Tools
   	</div>
	<div id="tabs-1" class="favorite_organizations" style="width:900px">
Real-time Community-wide Actions 
	</div>
	<div id="tabs-4" class="favorite_organizations" style="width:900px">
Shared Multi-Media Resource Pool
   	</div>
	<% if @admin -%> 
		<div id="tabs-9" class="favorite_organizations" style="width:900px">
	    	<%= render :partial => "/apps/school_time/manage_options" %>
	   	</div>   	
 	<% end -%>   	
	<div id="tabs-7" class="favorite_organizations" style="width:900px">
This is where App Owner Functions are Done
   	</div>   	   
 </div>

  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
      jQ('#control_panel').tabs();
    });
  </script>
</div>
