<div id="main_content" class="Form clear">
<div style ="color: #C83A14; font-size:18px; margin-top:5px; font-weight:bold"> 
	<br/>
	<strong><center>Setup&nbsp;<%= @current_application.name.titleize %>&nbsp;Case </center></strong>
</div>
<% if @ista_case -%>
	<div style ="color: #C83A14; font-size:14px; margin-top:5px; font-weight:bold"> 
		<strong><center><%= @ista_case.organization.name %></center></strong>
	</div>
<% end-%>
<% unless @ista_case && @ista_case.final? %>
	<div style="width:100%; text-align:left;  font-size:12px; padding-bottom:30px;">
		<input class="fsn-button ui-button ui-state-default ui-corner-all" style="font-size:11px; margin-left:80px; cursor:pointer;" type=button value="Back" onClick="history.go(-1)">
	</div>
<% end -%>
	<% if @current_organization.time_allocation %>

		<% if @ista_case.nil? -%>
				<%= render :partial => "apps/school_time/step1", :locals=>{:step=> IstaStep.step_1.first, :ista_case=>@ista_case} %>
		<% elsif !@ista_case.final? -%>
			<% IstaStep.active.each do |step| -%>
				<% break if step.step_number > @ista_case.ista_step.step_number -%>
				<% if step.step_number == 1 -%>
					<%= render :partial => "apps/school_time/step1", :locals=>{:step=> step, :ista_case=>@ista_case} %>
				<% end -%> <!-- end Step 1 -->
				<% if step.step_number == 2 && @ista_case -%>
					<%= render :partial => "apps/school_time/step2", :locals=>{:step=> step, :ista_case=>@ista_case} %>
				<% end -%> <!-- end Step 2 -->
				<% if step.step_number == 3 && @ista_case -%>
					<%= render :partial => "apps/school_time/step3", :locals=>{:step=> step, :ista_case=>@ista_case} %>
				<% end -%> <!-- end Step 3 -->
				<% if step.step_number == 4 && @ista_case -%>
					<%= render :partial => "apps/school_time/step4", :locals=>{:step=> step, :ista_case=>@ista_case} %>
				<% end -%> <!-- end Step 4 -->
				<% if step.step_number == 5 && @ista_case -%>
					<%= render :partial => "apps/school_time/step5", :locals=>{:step=> step, :ista_case=>@ista_case} %>
				<% end -%> <!-- end Step 5 -->
			<% end -%>
		<% else %>
			<%= render :partial => "apps/school_time/step1", :locals=>{:step=> IstaStep.step_1.first, :ista_case=>@ista_case} %>

			<table id="case_step_2"   style="width:900px; margin-left:15px; color: #2061a5; ">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
		
						<%= link_to '', stat_case_show_path(:organization_id => @current_organization, :case_id=>@ista_case, :step_id=>IstaStep.step_2.first) %>
							Show Step 2: <%=IstaStep.step_2.first.name %>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#case_step_2 .resource_levels_close').toggleResourceLevels();
		jQ('#case_step_2 .resource_levels_open').toggleResourceLevels();	
	});
	</script>		

			<table id="case_step_3"   style="width:900px; margin-left:15px; color: #2061a5; ">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
		
						<%= link_to '', stat_case_show_path(:organization_id => @current_organization, :case_id=>@ista_case,  :step_id=>IstaStep.step_3.first) %>
							Show Step 3: <%=IstaStep.step_3.first.name %>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#case_step_3 .resource_levels_close').toggleResourceLevels();
		jQ('#case_step_3 .resource_levels_open').toggleResourceLevels();	
	});
	</script>

			<table id="case_step_4"   style="width:900px; margin-left:15px; color: #2061a5; ">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
		
						<%= link_to '', stat_case_show_path(:organization_id => @current_organization, :case_id=>@ista_case,  :step_id=>IstaStep.step_4.first) %>
							Show Step 4: <%=IstaStep.step_4.first.name %>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
	<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ('#case_step_4 .resource_levels_close').toggleResourceLevels();
		jQ('#case_step_4 .resource_levels_open').toggleResourceLevels();	
	});
	</script>
		<div style="margin-left:35px">
			<%= render :partial => "apps/school_time/step5", :locals=>{:step=> IstaStep.step_5.first, :ista_case=>@ista_case} %>
		</div>
		<% end -%>
	<% else -%>
		<div style ="color:  #C83A14; font-size:14px; padding-top:15px; font-weight:normal"> 
	
			<center>There Are No Time Allocation Baselines Defined For <%=@current_organization.short_name %></center>
			<br/>
			<span style ="color:  #C83A14; font-size:12px; padding-top:5px; font-weight:normal" >
				<center>These Can Be Defined Under The <strong>Options Tab</strong> By Your Admin</center>
			</span><br/><br/></br/>
		</div>
	<% end -%>
</div>