<tr id="<%= relationship.id %>">
    <td>
        <%= relationship.target.name if relationship.target %>
    </td>
    <td>
    	<% if relationship.target.is_a?(Organization) && relationship.target -%>
	        <% if relationship.target.addresses.first -%>
	        <%= "#{relationship.target.addresses.first.city}, #{ relationship.target.addresses.first.country == 'US' ? relationship.target.addresses.first.state : ''}" %>
	        <%= relationship.target.addresses.first.country %>
			<% else %>
			None
	        <% end -%>
		<% else -%>
			<%= relationship.target.name if relationship.target %>
		<% end -%>
    </td>
    <td>
        <%= (relationship.target.is_a?(Organization) ? relationship.target.organization_type.name : relationship.target_type.titleize) if relationship.target %>
    </td>
	<td>
	       <input title="" type="checkbox" name="inclusive_<%= relationship.id %>" value="<%= relationship.id %>" <%= relationship.inclusive? ? "checked":"" %> />
	</td>		
    <td style="text-align:center;">
        <button class="fsn-button ui-button ui-state-default ui-corner-all remove">
          Remove
        </button>
    </td>
</tr>
