

<div class="mempro_box" style="text-align:right;">
<% form_for(@payment,:url => { :controller => "donations",:action => "create" } ) do |f| %>
<div style="text-align:left;">
  <%= f.error_messages %>
</div>
  <div  style="text-align:left;">
      <strong><%= @current_organization.name%></strong> <br />
  </div>

  <div class="FormRow">
    <div class="FormRowTitle">
         <%= f.label :amount %><br />
    </div>
    <div class="FormRowData">
          <%= f.text_field :amount, :value =>'55' %>  
    </div>
  </div>
	<div class="FormRow">
    <div class="FormRowTitle">
            <%= f.label :first_name %>
    </div>
    <div class="FormRowData">
            <%= f.text_field :first_name, :value =>"Joe"%>  
    </div>
  </div>	
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :last_name %>
    </div>
    <div class="FormRowData">
      <%= f.text_field :last_name, :value =>"Smith"%> 
    </div>
  </div>
  <div class="FormRow">
    <div class="FormRowTitle">
       <%= f.label :card_number %>    
    </div>
    <div class="FormRowData">
          <%= f.text_field :card_number, :value => '4111111111111111' %> 
    </div>
  </div>
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :card_type %>
    </div>
    <div class="FormRowData">
      <%= f.select(:card_type,  MerchantAccount::CardTypesHash) %>
    </div>
  </div>

	<div class="FormRow">
    <div class="FormRowTitle">
      <label for="credit_card_year">month</label>
    </div>
    <div class="FormRowData">
       <%= text_field_tag 'credit_card[month]', "10" %>
    </div>
  </div>
	
	<div class="FormRow">
    <div class="FormRowTitle">
      <label for="credit_card_year">year</label>
    </div>
    <div class="FormRowData">
       <%= text_field_tag 'credit_card[year]', "2010" %>
    </div>
  </div>
	
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :billing_address %>
    </div>
    <div class="FormRowData">
       <%= f.text_field :billing_address, :value =>"404 West East Street" %>
    </div>
  </div>
	
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :billing_city%>
    </div>
    <div class="FormRowData">
      <%= f.text_field :billing_city, :value =>"Champaign"%>
    </div>
  </div>

	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :billing_state_province %>
    </div>
    <div class="FormRowData">
      <%= f.text_field :billing_state_province, :value => "Il"%>
    </div>
  </div>
	
	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :billing_country %>
    </div>
    <div class="FormRowData">
     <%= f.text_field :billing_country, :value => "USA" %>
    </div>
  </div>

	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :billing_phone %>
    </div>
    <div class="FormRowData">
      <%= f.text_field :billing_phone, :value =>"222-333-4444"%>
    </div>
  </div>

	<div class="FormRow">
    <div class="FormRowTitle">
      <%= f.label :memo %>
    </div>
    <div class="FormRowData">
      <%= f.text_area( :memo, :rows=>6) %>
    </div>
  </div>


  <div>
    <%= f.submit 'Give' %>
	<%= link_to 'Back', :controller => "/site/site", :action => :index, :organization_id => @current_organization %>
  </div>
<% end %>

</div>
