
<div class="Form">
    <div class="FormSectionTitle" style="text-align:left; height:25px;">
    		Organization Information
	</div>	
    <div class="FormRow">
        <div class="FormRowTitle">
            Name of Organization: 
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :name, :class=>"text required" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>

    <div class="FormRow">
        <div class="FormRowTitle">
            Nickname: 
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :nick_name, :class=>"text" %>
        </div>
    </div>

    <div class="FormRow">
        <div class="FormRowTitle">
            Short Name: 
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :alt_short_name, :class=>"text" %>
        </div>
    </div>
	
    <div class="FormRow">
        <div class="FormRowTitle">
            Address: 
        </div>
        <div class="FormRowData">
            <%= text_field :address, :street1, :class=>"text required" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            <h1></h1>
            &nbsp;
        </div>
        <div class="FormRowData">
            <%= text_field :address, :street2, :class=>"text" %>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            City:
        </div>
        <div class="FormRowData">
            <%= text_field :address, :city, :class=>"text" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
	
     <div class="FormRow">
        <div class="FormRowTitle">
            State:
        </div>
        <div class="FormRowData">
            <%= select :address, :state, Address::STATES, :prompt => "Please choose" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
	
	<div class="FormRow">
        <div class="FormRowTitle">
            Postal Code:
        </div>
        <div class="FormRowData">
            <%= text_field :address, :postal_code, :class=>"text" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
	
	<!--
  <div class="FormRow">
        <div class="FormRowTitle">
            Country:
        </div>
        <div class="FormRowData">
            <%#= localized_country_select(:address, :country, [], :include_blank => 'Please choose...') %><span style="color:#C73914;">*</span>
        </div>
    </div>
    -->
  <input type="hidden" name="address[country]" value="US" />
	
      <div class="FormRow">
        <div class="FormRowTitle">
            Organization's Phone Number:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :phone, :class=>"text" %>
            <span style="color:#C73914;">*</span>
            <br/>
            <i>Format: xxx-xxx-xxxx</i>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Organization's Website URL:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :web_site_url, :class=>"text" %>
            <span style="color:#C73914;">*</span>
            <i>Format: http://www.yourdomain.com</i>
            <br/>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Select the type that best defines your organization: 
        </div>
        <div class="FormRowData">
            <%=
            select :organization, :organization_type_id,  OrganizationType.affiliate.children.collect{|ot| [ot.name, ot.id]}, {:prompt => "Please choose"} %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
    <div id="organization_size" class="FormRow" style="<%= 'display: none;' unless @organization.organization_type && @organization.organization_type.has_size? %>">
        <div class="FormRowTitle">
            What is the size of your organization?: 
        </div>
        <div class="FormRowData">
            <% for organization_size in OrganizationSize.all(:order => "value_low") do -%>
            <%= radio_button(:organization, :organization_size_id, organization_size.id) %>
            <%= organization_size.description %>
            <br/>
            <% end -%>
        </div>
    </div>
	
      <br style="clear:both" />
    <div class="FormRow">
        <div class="FormRowTitle">
            Select Parent Organization: 
        </div>
        <div class="FormRowData">
            <%=
            select :organization, :parent_id,  Organization.all_parents.collect{|p| [p.name, p.id]}, {:prompt => "Please choose"} %>
        </div>
    </div>

    <div class="FormRow">
        <div class="FormSectionTitle">
        	<br/><br/>
            Who should we contact in your organization to verify the above information?<a id="help_organization" href="/site">Why do we need this?</a>
        </div>
    </div>
	<div class="FormRow">
        <div class="FormRowTitle">
           Display Contact Information
        </div>
		<div class="FormRowData" >
			<%= check_box :organization, :display_contact %> 
		</div>
	</div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Name:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :contact_name, :class=>"text" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Role of this person:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :contact_role, :class=>"text" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            Telephone Number:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :contact_phone, :class=>"text" %>
            <span style="color:#C73914;">*</span>
            <br/>
            <i>Format: xxx-xxx-xxxx</i>
        </div>
    </div>
    <div class="FormRow">
        <div class="FormRowTitle">
            E-mail address:
        </div>
        <div class="FormRowData">
            <%= text_field :organization, :contact_email, :class=>"text" %>
            <span style="color:#C73914;">*</span>
        </div>
    </div>
    <div class="FormRow" style="<%= 'display: none;' unless @organization.id.nil? %>">
        <div class="FormRowTitle">
            &nbsp;
        </div>
        <div class="FormRowData">
            <%= check_box_tag "accept_tos", 1, checked = params[:accept_tos] %>I have read and understand the Escent <%= link_to 'Terms of Service', {:controller => 'fsn', :action => 'terms'}, :target => '_blank' %> AND I am authorized to 
            register my organization. 
			<br/><br/>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {
        var organization_types = <%= OrganizationType.affiliate.children.inject({}){|lut, ot| lut[ot.id] = {:name => ot.name, :has_size => ot.has_size?, :has_religious_affiliation => ot.has_religious_affiliation};lut}.to_json %>;

        jQ("#organization_organization_type_id").change(function(){
            if (organization_types[this.value.toString()]["has_size"]) {
                jQ("#organization_size").slideDown();
            } else {
                jQ("#organization_size").slideUp();
            }
        });

        jQ("#address_country").change(function(){
            jQ("#address_state")[0].disabled = this.value != "US";
        });

        jQ("#address_state")[0].disabled = jQ("#address_country")[0].value != "US";


        jQ("#help-admin-dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 700,
                height: 400,
                modal: true,
                buttons: {
                     Close: function(){
                                jQ(this).dialog('close');
                            }
                }
            }
        );

        jQ("#help-website-dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 700,
                height: 400,
                modal: true,
                buttons: {
                     Close: function(){
                                jQ(this).dialog('close');
                            }
                }
            }
        );

        jQ("#help-organization-dialog").dialog({
                bgiframe: true,
                autoOpen: false,
                width: 700,
                height: 400,
                modal: true,
                buttons: {
                     Close: function(){
                                jQ(this).dialog('close');
                            }
                }
            }
        );

        jQ('#help_admin').click(function(event){
            jQ("#help-admin-dialog").dialog('open');
             event.preventDefault();
        })

        jQ('#help_organization').click(function(event){
            jQ("#help-organization-dialog").dialog('open');
             event.preventDefault();
        })

        jQ('#help_website').click(function(event){
            jQ("#help-website-dialog").dialog('open');
             event.preventDefault();
        })
                                        				
    	jQ('#no_website').click(function(event){
    		if(jQ(this).attr('checked') == true){
    			jQ('#website_tip').css("display","block");		
    			jQ('#organization_web_site_url').attr("disabled",true);				
    		}else{
    			jQ('#website_tip').css("display","none");
    			jQ('#organization_web_site_url').attr("disabled",false);								
    		}
    	})
    });
</script>
