<!-- Registration -->
<div style="width:540px; border:0px solid black; float:left; padding-left:10px; padding-right:100px;">
	<br /><br />

	
	<! -- Registration Form -->
	<p style="color:#c73914; text-align:right;">* Required Field</p><br /> <br />
	<%= render :partial => "/shared/error_and_notice" %>
  <%= form_tag({:controller => "/organizations", :action => :update_profile, :organization_id => @organization}) do %>
      <%= render(:partial => "/organizations/profile") %>
      <br style="clear:both" />
      <%= submit_tag "Save" %>
  <% end -%>

	<%= form_tag :action => :register do %>
		<div style="width:600px; text-align:right;">
			<%= render :partial => "profile" %>
		</div>
    	<input type="hidden" name="organization[is_default]" value= false />
		<div style="width:100%; text-align:right;"?>
			<%= button_to "Add Your Organization to the Cooperative", {}, :class => "fsn-button ui-button ui-state-default ui-corner-all", :style => "font-size:14px;" %>						
		</div>		
	<% end %>
</div>
<!-- Right Side Bar -->
<div style="width:200px; border:0px solid black; float:left;  background:#eeeeee; padding:5px;">
	You are registering an organization for membership in the Cooperative.
	<br/><br/>
	By default, you will be the Administrator for this orgnaization.
	<br/><br/>
	The Administrator manages the organization's Network Page. This involves customizing it to look and feel like your organization’s brand.
	<br/><br/>
	Administrators can contibute material to the Resource Library.
	<br/><br/>
	Any number of other Members can be given Administrator privileges. 
	<br/><br/>
	Your Network Page is easy to maintain.
	<br/><br/>

	<p style="color:#1a5897; font-weight:bold;">We protect your privacy</p>
	See our 				<%= link_to 'Privacy Policy', {:controller => :fsn, :action => 'privacy'},  :target => '_blank'%></p>

</div>


<script type="text/javascript" charset="utf-8">
jQ(document).ready(function() {
	jQ('.fsn-button').addUIStateClass();
});
</script>


