<p>
  <b>Donor's name :</b>
  <%=h @payment.user.full_name %>
</p>
<p>
  <b>Donor's email :</b>
  <%=h @payment.user.preferred_email %>
</p>
<p>
  <b>Merchant account:</b>
  <%=h @payment.merchant_account.name %>
</p>
<p>
  <b>Transaction status:</b>
  <%=h @payment.transaction_status.name if @payment.transaction_status? %>
</p>

<p>
  <b>Amount:</b>
  <%=h @payment.amount %>
</p>

<p>
  <b>Memo:</b>
  <%=h @payment.memo %>
</p>

<p>
  <b>Authorization code:</b>
  <%=h @payment.authorization_code %>
</p>

<p>
  <b>Response message:</b>
  <%=h @payment.response_message %>
</p>

<p>
  <b>Card number:</b>
  <%=h @payment.card_number %>
</p>
<p>
  <b>Card type:</b>
  <%=h @payment.card_type %>
</p>

<p>
  <b>Card holder name:</b>
  <%=h @payment.card_holder_name %>
</p>


<%= link_to 'Back', :action=>"index"  %>
