<h2>PANEL:</h2>
<ul>
	<% if @blog.users -%>
			<% for user in @blog.users -%>
				<li><%= user.full_name %> <%= link_to "[X]", {:action => :remove_user_from_panel, :blog_id => @blog, :user_id => user.id}, :class => "remove_user_from_panel" %></li>
			<% end -%>
	<% end -%>
</ul>
<br style="clear:both" /><br />
<% form_tag(:action => :add_user_to_panel, :blog_id => @blog) do %>
	<p>
		<label>User:</label>
		<%= select_tag :user, options_for_select(@people.collect{|u| [u.full_name, u.id]} )%>

	</p><br style="clear:both" /><br />

	<p>
		<button id="add_panel" class="fsn-button ui-button ui-state-default ui-corner-all">ADD TO PANEL</button>
	</p>
<% end %>
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		jQ("#add_panel").addUserToPanel();
		jQ(".remove_user_from_panel").removeUserFromPanel();
	})
</script>
<script type="text/javascript">
jQ(document).ready(function() {

	jQ("#add_to_panel").click(function() {
			var user_id = jQ('#panel_user_id').val();
			var organization = "<%= @current_organization.public_id %>";
			var blog = "<%= @blog.public_id %>";
			var url = "<%= url_for :controller => '/admin/blogs', :action => :add_user_to_panel %>";
			jQ.get(url,{'organization_id': organization,'blog_id': blog},  function(data) {
				jQ("#assessment_options").html(data);
		  		jQ("#question_tags").hide();
	   			jQ("#options_table").slideDown("slow");
					});
	})
	
});
</script>