<br />
<h2>Update a Blog</h2>
<div class="mempro_box clear">
	<% form_tag({:action => :update, :blog_id => @blog.public_id}, :multipart => true, :target => "frame_form") do -%>
  <div class="FormRow">
  	<div class="FormRowTitle" style="text-align:center;">
  	<%= label_tag 'cover_picture', 'Cover Picture:' %>
  	</div>
  	<div class="FormRowData">
      <%= file_field :blog, :picture %>
  	</div>
  </div>
	<div  class="FormRow">
    <div class="FormRowTitle">&nbsp;</div>
    <div class="FormRowData">
		<%= submit_tag "Save Cover", :class => "fsn-button ui-button ui-state-default ui-corner-all", :onclick => "this.form.submit();"%>
		</div>
  </div>		
  <% end -%>
	<iframe id="frame_form" name="frame_form" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>  
	<% form_remote_tag(:url => {:action => :update , :blog_id => @blog.public_id}) do -%>
		<%= render :partial => "form" %>
		<div  class="FormRow">
	    <div class="FormRowTitle">&nbsp;</div>
	    <div class="FormRowData">
	      <%= submit_tag "Update" ,:id => "save_button", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
	      <%= button_to_remote "Cancel", {:before => "Element.show('loading')", :complete => "Element.hide('loading');", :url => {:controller => :blogs, :action => :cancel}}, {:class => "fsn-button ui-button ui-state-default ui-corner-all" }  %>
			</div>
	  </div>		
	<% end %>
</div>
<div id="panel">
	<%= render :partial => "add_to_panel" %>
</div>