<tr id="blog_<%= @blog.public_id %>">
	<td>
    <%= @blog.title %>
	</td>
	<td>
    <%= @blog.description %>
	</td>

	<% if @blog.feature -%>
	<td id="feature_toggle_<%= @blog.public_id %>" style="padding-left:68px; vertical-align:middle;">
  	 	<%#= radio_button_tag 'feature', @blog.public_id, true %>
  	 	<%= (image_tag "button_enabled.png",:width => 15) -%>
  	</td>
		<%else -%>
	<td id="feature_toggle_<%= @blog.public_id %>" style="padding-left:68px; vertical-align:middle;">
	  	  	<%#= radio_button_tag 'feature', @blog.public_id, false %>
		  	<%= (image_tag "button_disabled.png",:width => 15) -%>
  	</td>
		<% end-%>
	
	<td>
	<%= button_to_remote  "Edit", {:before => "Element.show('loading')", :complete => "Element.hide('loading');", :url => {:controller => :blogs, :action => :edit, :blog_id => @blog.public_id}}, {:class => "fsn-button ui-button ui-state-default ui-corner-all" } %>
	</td>
	<td>
	<% if @blog.can_be_delete? -%>
		<%= button_to_remote "Remove", {:before => "Element.show('loading')", :complete => "Element.hide('loading');", :confirm => "Area you sure?"  , :url => {:controller => :blogs, :action => :destroy, :blog_id => @blog.public_id}}, {:class => "fsn-button ui-button ui-state-default ui-corner-all" } %>
	<% end -%>
	</td>
</tr>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ("#feature_toggle_<%= @blog.public_id %>").click(function() {
		var organization = "<%= @current_organization.public_id %>";
		var blog = "<%= @blog.public_id %>";
		var url = "<%= url_for :controller => :blogs, :action => :set_feature %>";
		jQ.get(url,{'organization_id': organization,'blog_id': blog},  function(data) {
				jQ("#org_blogs").html(data);
				jQ("#org_blogs").show();
					});
	})
});
</script>