<div id="entity_dashboard_<%= dashboard.nil? ? '' : dashboard.public_id %>">
  <div class="rowx dashboard_box">
    <% if !dashboard.nil? %>
      <div class="row dashboard_box_in">
        <% if false && !@dashboardable.nil? %>
            <%= render :partial => "/ifa/ifa_dashboard/header_dashboardables", :locals => {:dashboard => dashboard} %>
        <% end %>
        <% if !@dashboard.nil? %>
          <%= render :partial => "/ifa/ifa_dashboard/header_dashboard" %>
        <% end %>
        <% if !@assessment.nil? %>
            <%= render :partial => "/ifa/ifa_dashboard/header_assessment" %>
        <% end %>
        <% if !@aggregate.nil? %>
            <%= render :partial => "/ifa/ifa_dashboard/header_aggregate", :locals => {:dashboard => dashboard} %>
        <% end %>
      </div>
      <div class="dashboard_box_in">
        <% strands = standard.strands(subject) %>
        <% level_width = 14 %>
        <% strnd_width = ((100 - level_width)/strands.size).to_f.to_i.to_s + '%'%>
        <div class="row dashboard_bench_label">
          View Benchmarks, Click on Cell
        </div>
        <table >
          <tbody >
          <tr>
            <td class="dashboard_achieve_label">
              <% if @plan_markers %>
                <i class="star_achievement"></i> &nbsp; Mastered&nbsp;(<%= @plan_markers['a_total']%>)<br/>
                <i class="wrench_work"></i> &nbsp; Working&nbsp;(<%= @plan_markers['w_total']%>)
              <% end %>
            </td>
            <% strands.each do |s|%>
              <td class=" dashboard_strand_header tip_std" title="<center><%= s.name.titleize %></center>"  style="width:<%=strnd_width%>; background:<%= s.strand_background%>; color:<%= s.strand_font%>"  >
                <%= s.abbrev.upcase %>
                <% if @plan_markers %>
                    <div class="row">
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['w_tot_s' + s.id.to_s].nil?%>
                            <span style="color:<%= s.strand_font%>" class="multiplier"><%= @plan_markers['w_tot_s' + s.id.to_s]%></span>
                            <i class="wrench_work"></i>
                        <% end %>
                      </div>
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['a_tot_s' + s.id.to_s].nil?%>
                            <span style="color:<%= s.strand_font%>"  class="multiplier"><%= @plan_markers['a_tot_s' + s.id.to_s]%></span>
                            <i class="star_achievement"></i>
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </td>
            <% end -%>
          </tr>
          <% standard.mastery_levels(subject).each do |ml|%>
            <tr>
              <td class="dashboard_levels" style="background:<%= ml.score_background%>; color:<%= ml.score_font%>">
                <%= mastery_label_br(ml, true).html_safe %>
                <% if @plan_markers %>
                    <div class="row">
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['w_tot_l' + ml.id.to_s].nil?%>
                            <span style="color:<%= ml.score_font%>" class="multiplier"><%= @plan_markers['w_tot_l' + ml.id.to_s]%></span>
                            <i class="wrench_work"></i>
                        <% end %>
                      </div>
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['a_tot_l' + ml.id.to_s].nil?%>
                            <span style="color:<%= ml.score_font%>"  class="multiplier"><%= @plan_markers['a_tot_l' + ml.id.to_s]%></span>
                            <i class="star_achievement"></i>
                        <% end %>
                      </div>
                    </div>
                <% end %>
              </td>
              <% standard.strands(subject).each do |s|%>
                <td class="dashboard_cells"  style="background:<%=cell_color[hash_key(ml,s)]%>; color:<%= cell_font[hash_key(ml,s)]%>; " >
                  <% if @plan_markers %>
                    <div class="row">
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['w' + hash_key(ml,s)].nil? && @plan_markers['w' + hash_key(ml,s)] > 0%>
                          <span class="multiplier"><%= @plan_markers['w' + hash_key(ml,s)]%></span>
                          <i class="wrench_work"></i>
                        <% end %>
                      </div>
                      <div class="col-md-6 dashboard_milestone">
                        <% if !@plan_markers['a' + hash_key(ml,s)].nil? && @plan_markers['a' + hash_key(ml,s)] > 0%>
                          <span class="multiplier"><%= @plan_markers['a' + hash_key(ml,s)]%></span>
                          <i class="star_achievement"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                  <a id="b_<%= dashboard.public_id %><%= ml.id.to_s %><%= s.id.to_s %>" href="">
                    <%#= cell_totals[hash_key(ml,s)] > 0 ? (cell_corrects[hash_key(ml,s)].to_s + ' of ' + cell_totals[hash_key(ml,s)].to_s + '<br/>' +
                        number_with_precision(cell_pcts[hash_key(ml,s)], :precision => 0) + '%').html_safe : ' _ '%>
                    <%= cell_totals[hash_key(ml,s)] > 0 ? (cell_corrects[hash_key(ml,s)].to_s + ' of ' + cell_totals[hash_key(ml,s)].to_s).html_safe : ' _ '%>
                  </a>
                  <%= render :partial => "/apps/shared/help_box_ifa_benchmarks", :locals => {:id => ('b_' + dashboard.public_id + ml.id.to_s + s.id.to_s),
                                                                                             :titl=> (mastery_label(ml, false) + " | " + s.name),
                                                                                             :blue=> 'Benchmark',
                                                                                             :body=> @cell_benchmarks[hash_key(ml,s)], :height=> 400, :width=> 650 } %>
                  <% if @milestone_links && !@milestone_links[hash_key(ml,s)].nil?%>
                    <% header_row = ((!dashboard.nil? && dashboard.user) ? dashboard.user.full_name : 'Unknown User') + ' | ' +
                    (dashboard.subject ? dashboard.subject.name : 'Unknown Subject') + ' | ' +
                    @milestone_links[hash_key(ml,s)] %>
                    <div class=" dashboard_milestone_link">
                      <% if @milestone_links[hash_key(ml,s)] == 'Add Milestone'%>
                        <a class="button_blue" id="m_<%= dashboard.public_id %><%= ml.id.to_s %><%= s.id.to_s %>" href="">
                          <%= @milestone_links[hash_key(ml,s)] %>
                        </a>
                        <%= render :partial => "/ifa/ifa_plan/ifa_milestone_box", :locals => {:id => ('m_' + dashboard.public_id + ml.id.to_s + s.id.to_s),
                                                                                              :header_row => header_row,
                                                                                              :titl=> (s.name),
                                                                                              :function=> @milestone_links[hash_key(ml,s)],
                                                                                              :plan_id => @milestone_links['plan_id'], :strand => s, :mastery=>ml, :standard=> @current_standard,
                                                                                              :benchmarks=> @cell_benchmarks[hash_key(ml,s)], :suggestions=> @cell_suggestions[hash_key(ml,s)],
                                                                                              :height=> 600, :width=> 850 } %>
                        <% elsif  !@milestone_links[hash_key(ml,s) + 'milestone'].nil?%>
                          <% link_label = @milestone_links[hash_key(ml,s)] + ' (' + @milestone_links[hash_key(ml,s) + 'evidence'] + ')'%>
                        <%= link_to link_label, ifa_milestone_evidence_edit_path(:organization_id => @current_organization, :ifa_plan_milestone_id => @milestone_links[hash_key(ml,s) + 'milestone'].id), {:class=>'button_gray', :target=> '_blank'} %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="row dashboard_title_1">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
          No Dashboard Found
        </div>
        <div class="col-md-1"></div>
      </div>
    <% end %>
  </div>
</div>
<script>
  jQ(function(){
    jQ('td.tip_cell_<%#= div_key %>').qtip({
      content: { text: false },
      position: {
        corner: {
          target: 'rightTop',
          tooltip: 'leftTop'
        }
      },
      style: {
        background: '#e8c4d1',

        border: {
          width: 0,
          radius: 0,

        },
        width: 280,
        tip: { // Now an object instead of a string
          corner: 'leftTop', // We declare our corner within the object using the corner sub-option
          color: '#e8c4d1',
          size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
          }
        }  }
      ,
      show: 'mouseover',
      hide: 'mouseout'
    });
  });
</script>
<script>
  jQ(function(){
    jQ('td.tip_std').qtip({
      content: { text: false },
      position: {
        corner: {
          target: 'topMiddle',
          tooltip: 'bottomMiddle'
        }
      },
      style: {
        name: 'cream',
        border: {
          width: 0,
          radius: 0,
          color: '#99911a'
        },
        width: 250,
        tip: { // Now an object instead of a string
          corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
          color: '#99911a',
          size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
          }
        }  }
      ,
      show: 'mouseover',
      hide: 'mouseout'
    });
  });
</script>