<div class="row ">
  <div class="col-md-2">
    <% if @assessment['comment'] != '' %>
        <div class="row dashboard_comment_header ">
          Student Comment
        </div>
        <div class="row dashboard_comment ">
          <%= @assessment['comment']%>
        </div>
    <% end %>
  </div>
  <div class="col-md-8 ">
    <div class="row dashboard_title_3">
      <%= @assessment['subject'].name %> Assessment Taken <%= time_ago_in_words(@assessment['taken_time']).sub(/about /, '') + " ago" %>
    </div>
    <div class="row dashboard_title_3">
      <%= pluralize(@assessment['answer_count'], ' Answer Choice') %> |
      <%= pluralize(number_with_precision(@assessment['total_points'], :precision => 0), ' Point') %> |
      <%= pluralize(number_with_precision(@assessment['duration_minutes'], :precision => 1), ' Minute') %> |
      <%= @assessment['proficiency']%>% | <%= @assessment['efficiency']%> Secs/Point
    </div>
    <div class="row dashboard_title_4">
      <%=@assessment['score_status']%>Mastery Level: <%= @assessment['standard'].abbrev %>&nbsp;<%= @assessment['standard_score']%>
      <%= @assessment['sat_score'].nil? ? '' : (', SAT ' + @assessment['sat_score'].to_s) %>
    </div>
  </div>
  <div class="col-md-2 dashboard_teacher">
    <div class="row">
      <%= @assessment['teacher']%>
    </div>
    <div class="row">
      <%= @assessment['status'] %>
    </div>
  </div>
</div>
