<div class="row dashboard_title_1">
  <div class="col-md-1"></div>
  <div class="col-md-10 ">
    <%= @aggregate['start_period'].strftime("%B %Y")%> - <%= @aggregate['end_period'].strftime("%B %Y")%>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row dashboard_title_2">
  <div class="col-md-1"></div>
  <div class="col-md-10 ">
    <%= pluralize(@aggregate['assess_count'], ' Assessment') %> |
    <%= pluralize(@aggregate['answer_count'], ' Answer Choice') %> |
    <%= @aggregate['proficiency']%>% Proficiency |
    <%= @aggregate['efficiency']%> Secs/Point
  </div>
  <div class="col-md-1"></div>
</div>

