<div id="submission_dashboard_<%= submission.public_id %>">
  <div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= @current_standard.name %> | <%= subject.name %>
    <div class="col-md-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <%= @cell_total.size %> Cells
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row dashboard">
    <div class="col-md-12">
      <table  class="dashboard" id = "dash">
        <thead class="dashboard_header">
          <%# col_width = @strand_list.size > 0 ? ((750 - 120)/@strand_list.size).round : 1 -%>
          <% label_col_pct = 20 %>
          <%# strand_col_pct = 100 - label_col_pct %>
          <%# col_width = @current_standard.act_act_standard.strands.size > 0 ? (strand_col_pct/@strand_list.size).round : strand_col_pct -%>
          <tr >
            <th  class = "dashboard_header_1" style="width:<%= label_col_pct %>%" >
              Mastery
            </th>
            <% @current_standard.strands(subject).each do |s|%>
                <th class="dashboard_header_1 tip_std" title="<center><strong><%= s.name.titleize %></strong></center>"  >
                  <%= s.abbrev.upcase %>
                </th>
            <% end -%>
          </tr>
        </thead>
        <tbody >
        <% back_color='#fafafa'%>
        <% font_color = '#CA8000' %>
          <% @current_standard.mastery_levels(subject).each do |ml|%>
            <tr>
              <td class="dashboard_cell" width = <%= label_col_pct %>% >
                  <%= mastery_label(ml, true) %>
              </td>
              <% @current_standard.strands(subject).each do |s|%>
                <td   style="border:1px solid #ddd; vertical-align:middle; text-align:center; padding-top:5px; padding-bottom:5px; padding-left:0px; background:<%=back_color%>; color:<%= font_color %>; font-size:11px; margin-top:0px; font-weight:bold" >
                   <%= cell_corrects[hash_key(ml,s)] %> Correct of <%= cell_totals[hash_key(ml,s)] %>
              <% end -%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
jQ(function(){
jQ('td.tip_cell_<%#= div_key %>').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'rightTop',
         tooltip: 'leftTop'
      }
   },
   style: { 
	  background: '#e8c4d1',

	  border: {
         width: 0,
         radius: 0,

      },
      width: 280,
	  tip: { // Now an object instead of a string
         corner: 'leftTop', // We declare our corner within the object using the corner sub-option
         color: '#e8c4d1',
         size: {
            x: 8, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 20 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>
<script>
jQ(function(){
jQ('th.tip_std').qtip({
   content: { text: false },
      position: {
      corner: {
         target: 'topMiddle',
         tooltip: 'bottomMiddle'
      }
   },
   style: { 
      name: 'cream',
	  border: {
         width: 0,
         radius: 0,
         color: '#99911a'
      },
      width: 250,
	  tip: { // Now an object instead of a string
         corner: 'bottomMiddle', // We declare our corner within the object using the corner sub-option
         color: '#99911a',
         size: {
            x: 20, // Be careful that the x and y values refer to coordinates on screen, not height or width.
            y : 8 // Depending on which corner your tooltip is at, x and y could mean either height or width!
         }
}  }
,
   show: 'mouseover',
   hide: 'mouseout'
});
});
</script>		