<div>
  <div class="row">
      <div class="col-md-3">
        <div class="ifa_remark_edit_button">
          <span class="button_blue" id="remark_add<%=plan.public_id%>">
            <%= 'Update' %>
          </span>
        </div>
      </div>
      <div class="col-md-9 ifa_remark_edit_box">
        <%= text_area :remark, plan.public_id, :rows=>3, :cols => 70, :placeholder=>'Enter Your Remark'%>
      </div>
  </div>
  <script type="text/javascript">
    jQ(document).ready(function() {
      jQ("#remark_add<%=plan.public_id%>").click(function(){
        var remarks = jQ('#remark_<%=plan.public_id%>').val();
        var url = "<%= ifa_remark_add_url(:organization_id => @current_organization, :ifa_plan_id => plan.public_id, :classroom_id => (@classroom ? @classroom.public_id : nil)) %>";
        jQ.get(url, {'remarks':remarks}, function(data) {
          jQ("#plan_remarks_<%=plan.public_id%>").html(data);
          jQ("#plan_remarks_<%=plan.public_id%>").show();
        });
      })
    });
  </script>
</div>