<div id="manage_plan_<%=subject.public_id%>">
  <div class="container classroom_tab">
    <div class="row ifa_panel_title">
      <% if @current_user.ifa_plan_subject(subject).nil? %>
        <div class="button_blue" id="create_plan_<%=subject.id%>">
          Create Plan
        </div>
      <% else %>
        <% if !show_form %>
          <div  class="ifa_plan_show_box ">
            <div class= "precision_prep_panel">
              <div class="col-md-3">
                <div class="button_gray ifa_plan_button" id="show_form_<%=subject.id%>">
                  Update Needs/Goals
                </div>
              </div>
              <div class="col-md-6">
                <%= subject.name.upcase %> Growth Plan
              </div>
              <div class="col-md-3">
                <%= @current_user.full_name.titleize %>
              </div>
            </div>
            <% plan = @current_user.ifa_plan_subject(subject) %>
            <%= render :partial =>  "/apps/ifa_plan/show_plan", :locals=>{:plan=> plan}%>
            <%= render :partial =>  "/apps/ifa_plan/teacher_remarks", :locals=>{:plan=> plan, :remarks => plan.remarks, :show_form=>false} %>
            <%= @classroom.nil? ? 'Nil Classroom': @classroom.id %>
            <%= plan.nil? ? 'Nil Plan': plan.id %>
            <div class="ifa_plan_teacher_milestones_box ">
              <div class="row ifa_plan_teacher_milestone_header">
                <div class="ifa_plan_teacher_milestone_label">
                  <%= pluralize(plan.milestones.size, ' Student Milestone') %>
                </div>
              </div>
            </div>
            <% ActStandard.for_standard_and_subject(ActMaster.default, subject).each do |strand| %>
              <div class="row ifa_plan_teacher_milestones_box">
                <%= render :partial =>  "/apps/ifa_plan/strand_milestones", :locals=>{:plan=>@current_user.ifa_plan_subject(subject), :strand => strand, :new_milestone=>nil}%>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render :partial =>  "/apps/ifa_plan/form_plan", :locals=>{:plan=>@current_user.ifa_plan_subject(subject)}%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#create_plan_<%=subject.id%>').click(function() {
      var url = "<%= ifa_plan_create_url(:organization_id => @current_organization, :subject_id => subject.id) %>";
      jQ.get(url, {}, function(data) {
        jQ("#manage_plan_<%=subject.public_id%>").html(data);
        jQ("#manage_plan_<%=subject.public_id%>").show();
      });
    })
  });
</script>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#show_form_<%=subject.id%>').click(function() {
      var url = "<%= ifa_plan_show_form_url(:organization_id => @current_organization, :subject_id => subject.id) %>";
      jQ.get(url, {}, function(data) {
        jQ("#manage_plan_<%=subject.public_id%>").html(data);
        jQ("#manage_plan_<%=subject.public_id%>").show();
      });
    })
  });
</script>
