<div id="manage_plan_<%=subject.public_id%>">
  <div class="container classroom_tab">
    <div class="row ifa_panel_title">
      <div>
        <%= subject.name.upcase %> Growth Plan
      </div>
    </div>
    <div class="row ifa_panel_title">
      <% if @current_user.ifa_plan_subject(subject).nil? %>
        <div class="button_blue" id="create_plan_<%=subject.id%>">
          Create Plan
        </div>
      <% else %>
        <% if !show_form %>
          <div class="ifa_plan_button">
            <span class="button_green ifa_plan_button" id="show_form_<%=subject.id%>">
              Update Needs/Goals
            </span>
          </div>
          <%= render :partial =>  "/apps/ifa_plan/show_plan", :locals=>{:plan=>@current_user.ifa_plan_subject(subject)}%>
          <% ActStandard.for_standard_and_subject(ActMaster.default, subject).each do |strand| %>
            <div class="row">
              <%= render :partial =>  "/apps/ifa_plan/strand_milestones", :locals=>{:plan=>@current_user.ifa_plan_subject(subject), :strand => strand, :new_milestone=>nil}%>
            </div>
          <% end %>
        <% else %>
          <%= render :partial =>  "/apps/ifa_plan/form_plan", :locals=>{:plan=>@current_user.ifa_plan_subject(subject)}%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#create_plan_<%=subject.id%>').click(function() {
      var url = "<%= ifa_plan_create_url(:organization_id => @current_organization, :subject_id => subject.id) %>";
      jQ.get(url, {}, function(data) {
        jQ("#manage_plan_<%=subject.public_id%>").html(data);
        jQ("#manage_plan_<%=subject.public_id%>").show();
      });
    })
  });
</script>
<script type="text/javascript">
  jQ(document).ready(function() {
    jQ('#show_form_<%=subject.id%>').click(function() {
      var url = "<%= ifa_plan_show_form_url(:organization_id => @current_organization, :subject_id => subject.id) %>";
      jQ.get(url, {}, function(data) {
        jQ("#manage_plan_<%=subject.public_id%>").html(data);
        jQ("#manage_plan_<%=subject.public_id%>").show();
      });
    })
  });
</script>
