<div id="teacher_show_milestone_<%=milestone.public_id%>">
    <div class="row ifa_milestone_teacher_show_row">
      <div class="col-md-4 " style="padding-top:.5em; padding-bottom:1.5em;">
        <div class="row ifa_milestone_show_range">
          <%= mastery_label(milestone.range, true) %>
        </div>
        <div class="row ifa_milestone_show_range">
          <span style="color: <%= milestone.strand.strand_font%>; background-color:<%= milestone.strand.strand_background %>">
            &nbsp;<%= milestone.strand.abbrev %>&nbsp;
            </span>
        </div>
        <div class="row ifa_milestone_show_time">
          Updated: <%= time_ago_in_words(milestone.updated_at).sub(/about /, '') + " ago" %>
        </div>
        <% if milestone.achieved?%>
          <div class="row ifa_milestone_show_button">
            <% achievement_level(milestone.strand, milestone.range).times do %>
              <i class="star_achievement"></i>
            <% end %>
          </div>
        <% end %>
        <div class="row ifa_milestone_show_button">
          <% a_label = milestone.achieved? ? 'Undo Achievement':'Achieved' %>
          <% a_class = milestone.achieved? ? 'button_orange':'button_green' %>
            <span class=<%= a_class %> id="milestone_show_achieved<%=milestone.public_id%>">
              <%= a_label %>
            </span>
        </div>
      </div>
      <div class="col-md-8" style="padding-top:1em; padding-bottom:1.5em;">
        <div class="row ifa_milestone_teacher_show_descript">
          <div style="font-weight:bold">Plan:</div>
          <div>
            <%= simple_format milestone.description.nil? ? 'None' : milestone.description%>
          </div>
        </div>
        <div class="row ifa_milestone_show_descript">
          <div style="font-weight:bold">Evidence:</div>
          <div>
            <%= simple_format milestone.evidence.nil? ? 'None Documented' : milestone.evidence%>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      jQ(document).ready(function() {
        jQ("#milestone_show_achieved<%=milestone.public_id%>").click(function(){
          var url = "<%= ifa_milestone_achieve_toggle_url(:organization_id => @current_organization, :ifa_plan_milestone_id => milestone.public_id) %>";
          jQ.get(url, {}, function(data) {
            jQ("#teacher_show_milestone_<%=milestone.public_id%>").html(data);
            jQ("#teacher_show_milestone_<%=milestone.public_id%>").show();
          });
        })
      });
    </script>
</div>