<div  class="ifa_plan_teacher_show_box ">
  <% if !plan.nil? %>
    <div class="row ifa_plan_teacher_show_header">
      <%=student.full_name%>:&nbsp;-&nbsp;<%=plan.subject_area.name %>
    </div>
    <div class="row ">
      <div class="col-md-6">
        <div class="ifa_plan_teacher_show_row">
          <div class="ifa_plan_label">
            Needs & Challenges:
          </div>
          <div class="ifa_plan_text">
            <%= simple_format plan.needs%>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ifa_plan_show_row">
          <div class="ifa_plan_label">
            Goals:
          </div>
          <div class="ifa_plan_text">
            <%= simple_format plan.goals %>
          </div>
        </div>
      </div>
    </div>
      <%= render :partial =>  "/apps/ifa_plan/teacher_remarks", :locals=>{:plan=> plan, :remarks => remarks, :show_form=>false} %>
      <%= render :partial =>  "/apps/ifa_plan/teacher_show_milestones", :locals=>{:plan=> plan, :milestones => milestones} %>
  <% else %>
    <div class="row ifa_plan_teacher_show_none">
      No Plan Started
    </div>
  <% end %>
</div>