<div class="formBox">
    <%= render :partial => "/shared/error_and_notice" %>
    
	<!-- ALK Take out separate Pending status
	<p>
      <%= label_tag 'pending', 'Pending:' %>
      <%= check_box :content, :pending %>
    </p> -->
	 <!-- ALK: Want to put "Back" button up top and at bottom. --> 
	<div>	
	  <% if params[:from_front] == "true" %>
	  <%= link_to "Back", :controller => "/site/site", :action => "static_resource", :organization_id => @content.organization.public_id, :content_id => @content.public_id %>
	  <% else %>
		<%= button_to "Back", {:update => "content_panel", :url => {:controller => :content, :action => :index, :organization_id => @current_organization}, :remote => true},{:class => "fsn-button ui-button ui-state-default ui-corner-all" } %>
		<% end %>
		<div style=margin-left:244px>
      	<%= label_tag 'content_title', 'Title:' %>
        <%= text_field :content, :title, :size => 55, :maxlength => 150 %>
		<span style="color:#C73914;">*</span>
		</p>
    	</div>
	 
    <p>
        <%= label_tag 'group_id', 'File Format:' %>
        <% if @content.id.nil? %>
	        <select name="content_object_type[content_object_type_group]" id="content_object_type_content_object_type_group">
	            <option value="">Select Format</option>
	            <option value=1 <%= @content_object_group == 1 ? 'selected':'' %>>VIDEO</option>
	            <option value=2 <%= @content_object_group == 2 ? 'selected':'' %>>IMAGE</option>
	            <option value=3 <%= @content_object_group == 3 ? 'selected':'' %>>AUDIO</option>
	<!-- ALK use TEXT option for EMBED CODE Toolbar appearance is sporadic, can't view original contents on update, and can't seem to replace with new contents. -->
		        <option value=4 <%= @content_object_group == 4 ? 'selected':'' %>>EMBED CODE</option>
	            <option value=5 <%= @content_object_group == 5 ? 'selected':'' %>>LINK</option>
	<!-- ALK Remove COMPRESS option for now. Streamline for Pilot. Has questionable value. 
				<option value=6 <%= @content_object_group == 6 ? 'selected':'' %>>COMPRESSED</option>
	-->
	            <option value=7 <%= @content_object_group == 7 ? 'selected':'' %>>PDF</option>
				<option value=8 <%= @content_object_group == 8 ? 'selected':'' %>>MS WORD,EXCEL,PPT</option>
			</select>
        <% else %>
        	<%= ContentObjectTypeGroup.find(@content.content_object_type.content_object_type_group_id).name %>
		<% end %>
        <span style="color:#C73914;">*</span>
    </p>
   	
	<% unless @content.id.nil? %>
		<% if @content.content_object_type.content_object_type_group_id == 2 then %>
		    <% unless @content.source_file_preview.nil?%>
				<div style="margin-left:280px"> <img src="<%= @content.source_file_preview.url(:thumb) %>" width="60" /> </div>
				<% end %>
			<p>
		        <label>
		            Replace Image: 
		        </label>
		        <%= file_field_tag "content[source_file]" %>
		           
		    </p>
		<% elsif @content.content_object_type.content_object_type_group_id == 1 then %>
		<% unless @content.source_file_preview.nil?%>
				<div style="margin-left:280px"> <img src="<%= @content.source_file_preview.url(:thumb) %>" width="60" /> </div>
				<% end %>
		    <p>
		    <label>
		        Replace Video:
		    </label>
		    <%= file_field_tag "content[source_file]" %>
<!-- ALK Remove Video display from Update Screen
		    <div id="video_panel"></div>
		    <script type="text/javascript">
		        var so = new SWFObject('/player/player.swf', 'mpl', '470', '320', '9');
		        so.addParam('allowscriptaccess', 'always');
		        so.addParam('allowfullscreen', 'true');
		        so.addParam('wmode', 'opaque');
		    </script>
			
		    <% if @content.source_file_preview.nil? then %>
			    <script type="text/javascript">
			        so.addParam('flashvars', '&file=<%= @content.source_file.url %>');
			    </script>
		    <% else %>
			    <script type="text/javascript">
			        so.addParam('flashvars', '&file=<%= @content.source_file.url %>&image=<%= @content.source_file_preview.url %>');
			    </script>
		    <% end %>
		    <script type="text/javascript">
		        so.write('video_panel');
		    </script>
		    </script>
			-->
			</p>
		<% elsif @content.content_object_type.content_object_type_group_id == 3 then  -%>
      <p>
        <label>
            Replace Audio:
        </label>
        <%= file_field_tag "content[source_file]" %>
  		</p>
<!-- ALK Updates for Link, PDF and DOC Content -->
		<% elsif @content.content_object_type.content_object_type_group_id == 8 then  -%>
      <p>
        <label>
            Replace MS File:  
        </label>
        <%= file_field_tag "content[source_file]" %>
  		</p>
		
		<% elsif @content.content_object_type.content_object_type_group_id == 5 then  -%>
      <p>
      	<%= label_tag 'content_content_object', 'Link:' %>
        <%= text_field :object,:link, :size => 55, :value => @content.content_object %>
  		</p>
		
		<% elsif @content.content_object_type.content_object_type_group_id == 7 then  -%>
      <p>
        <label>
            Replace PDF:
        </label>
        <%= file_field_tag "content[source_file]" %>
  		</p>
		
		<% elsif @content.content_object_type.content_object_type_group_id == 4 then  -%>
      <p>

       	<%= label_tag 'content_content_object', 'Embed Code:' %>
      <%= text_area :object, :embed, :rows => 7, :cols => 75, :maxlength => 555, :value => @content.content_object  %>

  		</p>
		
		<% end %>

	<% else %>
	    <p id="content_link" style="display: <%= @content_object_group == 5 ? 'block' : 'none' %>;">
      	<%= label_tag 'content_content_object', 'Link:' %>
    	<%= text_field :object,:link, :size => 55%>
	    </p>
		<p id="content_upload_panel" style="display:<%= (@content_object_group == 2 ||  @content_object_group ==  1) ? 'block' : 'none' %>;">
		    <%= label_tag 'content_content_object', 'File:' %>
		    <%= file_field_tag "content[source_file]" %>
		</p>
		<p id="content_editor_panel" style="display: <%= @content_object_group == 4 ? 'block' : 'none' %>;">

	        <%= label_tag 'content_content_object', 'Embed Code:' %>
            <%= text_area  :object,:embed, :rows => 7, :cols => 75%>


	    </p>		
	<% end %>
	<p id="content_preview_panel" style="display:<%= @content_object_group == 1 ? 'block' : 'none'  %>;">
    	<%= label_tag 'source_file_preview', 'Preview Image:' %>
	    <%= file_field_tag "content[source_file_preview]" %>
	</p>	
	



<!-- ALK Changes: Add Subject Area, Resource Type.  -->

	<p>
   		<%= label_tag 'content_title', 'Subject Area:' %>
        <%= text_field  :content, :subject_area_old, :size => 30, :maxlength => 50, :id => "select_subject_area", :class=>"text" %> 
		        <span style="color:#C73914;">*</span> &nbsp  Math, English, Biology, etc.,
	</p>
	<p>
   		<%= label_tag 'content_title', 'Type of Resource:' %>
		
	    <%=  select(:content, :content_resource_type_id, ContentResourceType.all(:order => "name").collect{|d| [d.name, d.id]}, {:prompt => "Please Select"}) %>
        <span style="color:#C73914;">*</span>
	</p>
	<p>
    	<%= label_tag 'content_title', 'Useful Keywords:' %>
    	<%= text_area :content, :caption, :rows => 2, :cols => 75, :maxlength => 255 %> 
	</p>
<p>
    <%= label_tag 'content_description', 'Please Tell Others About This Resource And Why They Might Find It Helpful' %>
    <%= text_area :content, :description, :rows => 7, :cols => 75, :maxlength => 4000 %>
</p>
<!-- ALK Remove 
<p>
    <%= label_tag 'content_title', 'Star Performer:' %>
    <%= text_field :content, :star_performer, :size => 55, :maxlength => 255 %>255 Characters 
</p>
<p>
    <%= label_tag 'content_title', 'Series:' %>
    <%= text_area :content, :series, :rows => 3, :cols => 75, :maxlength => 1000 %>1000 Characters
</p>
-->

<p>
    <%= label_tag 'content_title', 'From Where, or From Whom Did You Obtain This Resource?' %>
    <%= text_field :content, :source_name, :size => 55, :maxlength => 255 %>
</p>
<p>
    <%= label_tag 'content_title', 'If There Is One, What Is Their URL?' %>
    <%= text_field :content, :source_url, :size => 55, :maxlength => 255 %>
</p>
<p>
    <%= label_tag 'content_title', 'Availability Date:' %>
    <%= date_select(:content, :publish_start_date, :order=>[:month, :day, :year], :start_year => Time.now.year - 2, :end_year => Time.now.year + 20) %>
</p>
<p>
    <%= label_tag 'content_title', 'Expiration Date:' %>
    <%= date_select(:content, :publish_end_date, :order=>[:month, :day, :year], :start_year => Time.now.year, :end_year => Time.now.year + 20) %>
</p>
<!-- ALK Remove
<p>
    <%= label_tag 'content_title', 'Enable User Rating:' %>
    <%= select("content", :user_rating_enabled, {:Yes => 1, :No => 0}) %>
</p>
-->
<p>
    <%= label_tag 'content_status_id', 'Status:' %>
    <%= select("content", "content_status_id", ContentStatus.all.not_deleted.collect {|p|  [ p.name, p.id ] }, :prompt => "Select a status") %>
</p>

<p> 
	<%= check_box :content, :terms_of_service %>
     Yes, I am authorized to make this submission according to the 
	<%= link_to 'Terms of Service', {:controller => "../fsn", :action => 'terms'}, :target => '_blank' %> .
</p>
<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank">
</iframe>
	<div><br/>
    <%#= button_to_remote "Back", {:update => "content_panel", :url => {:controller => :content, :action => :index, :organization_id => @current_organization}},{:class => "fsn-button ui-button ui-state-default ui-corner-all" } %>
  <% if params[:from_front] == "true" %>
	  <%= link_to "Back", :controller => "/site/site", :action => "static_resource", :organization_id => @content.organization.public_id, :content_id => @content.public_id %>
	  <% else %>
		<%= button_to "Back", {:update => "content_panel", :url => {:controller => :content, :action => :index, :organization_id => @current_organization}, :remote => true},{:class => "fsn-button ui-button ui-state-default ui-corner-all" } %>
	  <% end %>
		<div style="margin-left:80px;">
		<%= submit_tag "Save Resource", :id => "save_button", :class => "fsn-button ui-button ui-state-default ui-corner-all" %>
		<br/></div>
	</div>
</div>
</div>
<!-- ALK Auto complete for Subject & Resource Type -->

<script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
		var url = "<%= url_for :controller => '/admin/content', :action => :select_subject_areas, :organization_id => @current_organization %>";
		jQ("#select_subject_area").autocomplete(url, {
                                        				autoFill: false,
                                        				mustMatch: true,
                                        				matchContains: false
                                        		});			
		var url = "<%= url_for :controller => '/admin/content', :action => :select_resource_types, :organization_id => @current_organization %>";
		jQ("#select_resource_type").autocomplete(url, {
                                        				autoFill: true,
                                        				mustMatch: false,
                                        				matchContains: false
                                        		});																			
   	});
				
</script>

<script type="text/javascript">
    jQuery(document).ready(function(){
		var content_object_type = jQ("#content_object_type_content_object_type_group");
        
        content_object_type.change(function(){
            jQ("#content_editor_panel").css("display", "none");
            jQ("#content_upload_panel").css("display", "none");
            jQ("#content_preview_panel").css("display", "none");
            jQ("#content_link").css("display", "none");
            
            switch (content_object_type.val()) {
                case "1": //Video
                    jQ("#content_upload_panel").css("display", "block");
                    jQ("#content_preview_panel").css("display", "block");
                    break;
                    
                case "4": //Article (HTML)
                    jQ("#content_editor_panel").css("display", "block");
                    break;
                    
                case "5": //Link 
                    jQ("#content_link").css("display", "block");
                    break;
                    
                default:
                    jQ("#content_upload_panel").css("display", "block");
            }
        });
		
        if (tinyMCE.getInstanceById("content_editor")) {
            initTinyMCE();
        }
		
        tinyMCE.execCommand("mceAddControl", false, 'content_editor');
        
        jQ("#loading").hide();
        jQ("#save_button").bind("click", function(e){
            jQ("#loading").show();
        });
    })
</script>



