 <table id="organization_results">
            <thead>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Religious Affiliation
                    </th>
                    <th>
                        Location
                    </th>
                </tr>
            </thead>
            <tbody id="search-results-dialog">
                <% for organization in @organizations do -%>
                <tr id="<%= organization.public_id %>">
                    <td>
                        <input title="" type="checkbox" name="content_ids[]" value="<%= organization.public_id %>" />
                    </td>
                    <td>
                        <%= organization.name %>
                    </td>
                    <td>
                        <%= ReligiousAffiliation.find(organization.religious_affiliation_id).name %>
                    </td>
                    <td>
                        <%= organization.addresses.first.city %>
                        <%= organization.addresses.first.country == 'US' ? ',' + organization.addresses.first.state : '' %>
                        <%= organization.addresses.first.country %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <div class="digg_pagination">
            <%= will_paginate @organizations %>
        </div>