<div class="resource_panel_box">
  <% unless content.organization.nil?%>
    <div class="resource_logo_box">
      <%= image_tag(content.organization.logo.url(:thumb), :alt => content.organization.name) if content.organization.logo.file? -%>
    </div>
    <div class="row resource_logo_text">
      <p>
        <%= link_to content.organization.name, organization_view_path(:organization_id => content.organization) %>
      </p>
    </div>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <% unless content.user.nil? || content.user.picture.url.split("/").last == "missing.png" %>
        <%= image_tag content.user.picture.url(:small_thumb) %>
      <% end -%>
    </div>
    <div class="col-md-9 resource_panel_text">
      <%unless content.user.nil? %>
          <%= link_to content.user.full_name, user_view_path(:organization_id => @current_organization, :id => content.user) %>
      <% end -%>
      <p>
        Contributed <%= time_ago_in_words(content.created_at.to_s, include_seconds = false) %> ago
      </p>
      <p>
        Updated:&nbsp;<%=content.updated_at.strftime("%m/%d/%y") %><%= (!content.updated_by.nil? && content.updater) ? (", " + content.updater.last_name) : "" %>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <p class="resource_status">
        <%= content.disposition %>
      </p>
      <p class="resource_panel_text">
        Expires in <%= time_ago_in_words(content.publish_end_date.to_s, include_seconds = false) %>
      </p>
    </div>
  </div>
  <hr>
  <% unless content.source_name.nil? || content.source_name.empty?%>
    <div class="row" >
      <div class="col-md-12 resource_panel_text">
        <% if content.source_url.nil? || content.source_url.empty?%>
          Source:&nbsp;<%=content.source_name%>
        <% else %>
         ff <a href= "<%=content.source_url%>" target="_blank"><%=content.source_name%></a>
        <% end %>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="row" >
    <div class="col-md-12 resource_panel_text">
      <p>
        <%= pluralize(content.views, ' View') %>
      </p>
      <% unless content.star_rating.nil?%>
          Rating:&nbsp;<%=content.star_rating.rating %>,&nbsp;<small>(<%= pluralize(content.star_rating.votes, 'Vote') %>)</small>
      <% end %>
      <p>
        <%=pluralize(content.favorite_of.size, ' User Tag')%>
      </p>
    </div>
  </div>
  <hr>
  <div class="row col-md-12 resource_panel_text">
    <p>
      Used In <%=pluralize(content.topics.active.size, ' Learning Unit')%>
    </p>
    <% content.topics.active.collect{|lu| lu.classroom}.compact.uniq.sort_by{|o| [o.organization.name, o.course_name]}.each do |o| -%>
    <p>
      <%= o.organization ? o.organization.short_name + ": " : ""%><%= link_to o.course_name, offering_view_path(:organization_id => o.organization, :id => o), :target=> '_blank' %>
    </p>
    <% end -%>
  </div>
  <!-- bypass sharing until new modal is used  -->
  <% if @current_user && false-%>
    <div id="shared_discussion_warp_box">
      <%= render :partial => "/shared/share_content", :locals => {:content => content} %>
    </div>
  <% end -%>
</div>



