<div class="resource_panel_box">
  <div class="row">
    <div class="col-md-2">
      <%= render :partial => "apps/shared/resource_view_box", :locals => {:resource => content, :key => (content.class.to_s + content.public_id.to_s), :rsrc_title=>'', :btn_label=>'View', :button=>true}%>
    </div>
    <div class="col-md-9 resource_title_text">
      <%= content.title.titleize %>
    </div>
    <div class="col-md-1">
      <% if content.editable_by_user?(@current_user ? @current_user : nil)-%>
        <%= button_to  "Edit", resource_edit_path(:organization_id => content.organization, :content_id => content, :function => "Edit"), :class =>"btn btn-primary btn-xs" %>
      <% end -%>
    </div>
  </div>
  <hr>
  <div class="row resource_panel_text">
    <div class="col-md-3 resource_text_right">
      Subject:
    </div>
    <div class="col-md-8">
      <p>
        <%= content.subject_area ? content.subject_area.name : "No Subject" %>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row resource_panel_text">
    <div class="col-md-3 resource_text_right">
      Type:
    </div>
    <div class="col-md-8">
      <p>
        <%= content.content_resource_type ? content.content_resource_type.name : 'Undefined Type' %>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row resource_panel_text">
    <div class="col-md-3 resource_text_right">
      Format:
    </div>
    <div class="col-md-8">
      <p>
        <%= number_to_human_size(content.source_file_file_size, precision: 1)%>&nbsp;<%= content.content_object_type.content_object_type_group.name.upcase %>
      </p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row resource_panel_text">
    <div class="col-md-3 resource_text_right">
      Keywords:
    </div>
    <div class="col-md-8">
        <% if !(content.caption.nil? || content.caption.empty?) %>
          <p><%= simple_format content.caption.humanize %></p>
        <% else %>
          <p class="resource_no_content"> - - none - -</p>
        <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="row resource_panel_text">
    <div class="col-md-3 resource_text_right">
      Description:
    </div>
    <div class="col-md-8">
        <% if !(content.description.nil? || content.description.empty?) %>
            <p><%= content.description.html_safe %></p>
        <% else %>
            <p class="resource_no_content"> - - none - -</p>
        <% end %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <% if (!content.content_object_type.nil? && [2,1].include?(content.content_object_type.content_object_type_group_id) && content.source_file_preview_file_name.present?) %>
    <div class="row resource_panel_text">
      <div class="col-md-3 resource_text_right">
      </div>
      <div class="col-md-8">
        <img src="<%= content.source_file_preview.url(:med_thumb) %>">
      </div>
      <div class="col-md-1"></div>
    </div>
  <% end -%>
  <% if content.act_subject? -%>
    <hr>
    <div class="row resource_panel_text">
      <div class="col-md-1">
      </div>
      <div class="col-md-8 ">
        <p class="resource_standard_name">
          <%= content.act_subject.name %>&nbsp;Standards
        </p>
        <% ActMaster.all.each do |std| -%>
          <% unless content.act_standards.for_standard(std).empty? -%>
            <p class="resource_standards">
              <%= content.act_score_ranges.for_standard(std).empty? ? "" :  "Mastery Level: " + content.act_score_ranges.for_standard(std).first.range %>
            </p>
            <% content.act_standards.for_standard(std).each do |strand| -%>
              <p class="resource_standards">&nbsp;+&nbsp;&nbsp;<%=	strand.name %></p>
            <% end -%>
          <% end -%>
        <% end -%>
      </div>
      <div class="col-md-3"></div>
    </div>
  <% end -%>
  <hr>
  <%= render(:partial => "resource") %>
</div>
