<div class="module results">
    <div class="module_header">
        <div class="iwing_module_title">
            <i>"<%=@content.title.titleize %>"</i> <%# else %>
        </div>
        <div class ="root_discussion_trigger">
        	<%# if permission_to_add_comment? -%>
            <span>Add Comment</span>
					<%# end -%>
        </div>
    </div>

    <div id="root_discussion_form" style="display: none;">
        <%= render :partial => "/site/discussions/add_comment_for_resource" %>
    </div>
    <input name="report_url" type="hidden" value="<%= discussion_report_abuse_url(:organization_id => @current_organization) %>" />
<div id="show_other_disscussions">
<% for discussion in @discussions do -%>
    <%= render :partial => "/site/discussions/discussion_for_resource", :locals => {:discussion => discussion} %>
    <% end -%>

</div>
</div>
<div>
	<span id="more_discussions" class="fsn-button ui-button ui-state-default ui-corner-all">
		More
	</span>
    <%#= will_paginate @discussions %>
</div>
<script type="text/javascript" charset="utf-8">
    	jQ(document).ready(function() {
	      var $dis = jQ("#show_other_disscussions div[class='discussion_thread_header clear']:gt(9)");
			 	 $dis.hide();
			   if($dis.length <= 0){jQ("#more_discussions").hide();}	
			 		 jQ("#more_discussions").toggle(function(){
			 		   	jQ("#more_discussions").text("Less");
			 		    $dis.show();
			 		 },function(){
			 			  jQ("#more_discussions").text("More");
			 			  $dis.hide();
			 		})
	
    		jQ(".root_discussion_trigger span").click(function () {
    			if (jQ("#root_discussion_form").is(":hidden")) {
    			  jQ("#root_discussion_form").slideDown("slow");
    			} else {
    			  jQ("#root_discussion_form").slideUp("fast");
    			}
    	  });
    		// show or hide reply list for a discussion. 
    		jQ(".discussion_thread_header .iwing_module_title").toggle(function () {
    			jQ(this).addClass('hover');
    			jQ('div', jQ(this)).slideUp();
    			jQ(this).next().slideDown().next().slideDown().next().next().slideDown();
    		}, function () {
    			jQ(this).removeClass('hover')
    			jQ('div', jQ(this)).slideDown();
    			jQ(this).next().slideUp().next().slideUp().next().slideUp().next().slideUp();
    		});
    
    		// show reply form.
    		jQ(".reply_discussion_trigger button").click(function() {
    			var $reply_or_login_warp = jQ(this).parent(".reply_discussion_trigger").prev();
    			var $reply_or_login_warp_first_div = jQ(">div", $reply_or_login_warp);
    			$reply_or_login_warp.slideDown();
    		})
    		var addAction = function() {
    			// make reply ajax login form more usefull			
    			jQ(".discussion_reply_login").addLoginInputLabel();
    			jQ(".discussion_root_login").addLoginInputLabel();	
					jQ(".share_content_login").addLoginInputLabel();	
    			// add action on each cancel button		
    			jQ(".discussion_reply_form_submit button:even").replyFormCancel();
    			jQ(".discussion_root_login_submit button:odd").ajaxLoginCancel("#root_discussion_form");
    			jQ(".discussion_reply_login_submit button:odd").ajaxLoginCancel(".reply_or_login_warp");
    			jQ(".share_content_login_submit button:odd").ajaxLoginCancel("#share_content_form");
    			jQ(".share_discussion_form_submit button:odd").ajaxLoginCancel("#share_discussion_form");
    			
    			// show or hide change status button for a reply and add addReportAction. 
    			jQ(".discussion_reply_warp").changeReplyStatus().addReportAction();
    			jQ(".iwing_discussion_description").changeReplyStatus().addReportAction();
    			// login form submit
    			<% if @current_topic %>
    			jQ(".discussion_root_login_submit button:even").lgoinFormSubmit("/site/discussions/add_comment", "<%= @current_topic.public_id %>");
    			jQ(".discussion_reply_login_submit button:even").lgoinFormSubmit("/shared/reply_or_login", "<%= @current_topic.public_id %>");
    			jQ(".share_content_login_submit button:even").lgoinFormSubmit("/shared/share_login", "<%= @current_topic.public_id %>");
    			<% end %>
    			// add a new reply by ajax.
    			var reply_url = '<%= discussion_reply_url(:organization_id => @current_organization) %>'
    			jQ(".discussion_reply_form_submit button:odd").addNewReply(reply_url);
    			// delete a reply or comment by ajax.
					jQ("a.delete").deleteCommentAndReply();
					// jQ("a.delete").click(function() {
					// 	$this = jQ(this);
					// 	var delete_url = $this.attr("href");
					// 	jQ.get(delete_url, function(data) {
					// 		$this.parents(".discusssion_by_same_author").find('div').html(data);
					// 		$this.parents(".iwing_discussion_description").find('div:first').html(data);							
					// 		$this.parents(".discussion_reply_comment").html(data);							
					// 	})
					// 	return false;
					// })
    		}
    		// discussions ajax pagination.
    		jQ('#discussions_panel div.pagination a').live('click', function() {
    			jQ('#discussions_panel').load(this.href);
    			return false
    		})
    		
    		addAction();
    	})
</script>
