<style type="text/css" media="screen">
  .tooltip_for_discussion { position: absolute; left:0; top:10px; }
</style>
<div class="discussion_thread_header clear">
	<div class="iwing_module_title iwing_header_and_footer_bars clear">
		<span><%= discussion.user.full_name rescue "-- former member --" %></span>
    <!-- <div id='comment_tip_mouse' class="" style="display:none;z-index:99;"></div> -->
    <div class="tooltip_for_discussion tooltip" style="display:none;z-index:99;line-height:15px;text-indent:0px;height:26px;">Click on arrow to see all related discussion.</div>
		<abbr title="<%= discussion.created_at.xmlschema %>">Last Post 
				<% if discussion.created_at > Time.now.utc - 24.hours -%>
					on <%= time_ago_in_words(discussion.created_at).sub(/about /, '') %> ago
				<% else -%>
					<%= discussion.created_at.strftime("%b %e, %Y") %>
				<% end -%>
		</abbr>
		<div><%= truncate(show_discussion_is_delete?(discussion.comment, discussion.is_delete), :omission => "... (more)", :length => 65) %></div>
	</div>
	<div class="iwing_discussion_description" style="display:none;" id="comment_<%= discussion.public_id %>" author="<%= discussion.user.full_name rescue "" %>">
		<div>
			<%= show_discussion_is_delete?(discussion.comment, discussion.is_delete) %>
			<% if @current_user && @content -%>
				<% unless @current_user.has_authority?(@content.organization, AuthorizationLevel.app_knowledge_manager(CoopApp.core), :superuser=>true) -%>
					<% display_value = "none;" %>
				<% end -%>	
			<% else -%>
					<% display_value = "none;" %>		
			<% end -%>
			<%= (link_to "Delete", discussion_resource_comment_delete_path(:id => discussion, :content_id => @content, :organization_id => @current_organization), :class => "delete", :style => "display:#{display_value}") unless discussion.is_delete %>
		</div>
		<div class="discussion_warp">
			<input name="discussion_public_id" type="hidden" value="<%= discussion.public_id %>" />
			<span class="change_status" style="display:none;"><%= render(:partial => "/shared/report_as") %></span>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQ().ready(function(){
	   jQ(".discussion_thread_header .iwing_module_title span").tooltip({
				position: ['bottom','center']
	   });
	})
</script>