
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>People</th>
			<th>Venue</th>
			<th>Status</th>
			<th>Content</th>
			<th></th>
		</tr>		
	</thead>
	<tbody>
		<% @sessions.sort_by{|a| [a.user_id, a.session_date]}.each do |ses| -%>
		<% session_date = ses.session_date.nil? ? "" : ses.session_date.strftime("%Y-%m-%d") -%>
		<% create_date = ses.created_at.strftime("%Y-%m-%d") -%>
		<% teacher = ses.user.nil? ? "No User" : ses.user.last_name -%>
		<% observer = ses.tracker.nil? ? "No User" : ses.tracker.last_name -%>
		<% school = ses.organization.nil? ? "No Org" : ses.organization.short_name -%>
		<% classroom = ses.classroom.nil? ? "No Classroom" : ses.classroom.course_name -%>
		<% unless ses.topic_id.nil? %>
			<% topic = Topic.find(ses.topic_id) rescue nil -%>
		<% end %>
		<% lu = topic.nil? ? "No LU" : topic.title -%>
		<% subject = ses.subject_area.nil? ? "No Subject Area" : ses.subject_area.name -%>
		<% logs = ses.tlt_session_logs.size -%>
		<% dash = ses.tlt_dashboards.size -%>
		<% survey = ses.tlt_survey_responses.size -%>
		<% o_pending = ses.is_observer_done ? "Yes" : "No" -%>		
		<% t_pending = ses.is_teacher_done ? "Yes" : "No" -%>
		<% final = ses.is_final ? "Yes" : "No" -%>
		<% logs_closed = ses.logs_are_closed ? "Yes" : "No" -%>
		<% manual = ses.is_manual ? "Yes" : "No" -%>
		<% o_review_date = ses.observer_done_date.nil? ? "" : ses.observer_done_date.strftime("%Y-%m-%d") -%>
		<% t_review_date = ses.teacher_done_date.nil? ? "" : ses.teacher_done_date.strftime("%Y-%m-%d") -%>
		<% final_date = ses.finalize_date.nil? ? "" : ses.finalize_date.strftime("%Y-%m-%d") -%>
		<tr>
			<td style="width:80px; font-size:11px;">
				<%= ses.id -%><br>
				Session: <%= session_date %><br/>
				Created: <%= create_date %>
			</td>
			<td style="width:100px; font-size:11px;">
				Teacher: <%= teacher %><br/>
				Observer: <%= observer %>
			</td>
			<td style="width:250; font-size:11px;">
				<%= school %><br/>
				<%= subject %><br/>
				<%= classroom %><br/>
				LU: <%= lu %>
			</td>
			<td style="width:150; font-size:12px;">
				Obs Reviewed: <%= o_pending -%><br/>
				Obs Review Date: <%= o_review_date -%><br/>
				Tch Reviewed: <%= t_pending -%><br/>
				Tch Review Date: <%= t_review_date -%><br/>
				Finalized: <%= final -%><br/>
				Final Date: <%= final_date -%><br/>
				Logs closed: <%= logs_closed -%><br/>
				Manual Entry: <%= manual -%><br/>
			</td>	
			<td style=" font-size:12px;">
				Students: <%= ses.students -%><br/>
				Notesv: <%= ses.observations -%><br/>
				Obs Learning: <%= ses.learning -%><br/>
				Next Step: <%= ses.next_step -%><br/>
				Teacher: <%= ses.teacher_remark -%><br/>
				# Logs:  <%= logs %></br>
				# Dashboards: <%= dash -%><br/>
				# Survey Respones: <%= survey %> 
			</td>		
			<% confirm_string = "Are You Sure? " + teacher + " on " + session_date -%>			
			<td class="edit_and_remove" style="width:50px; font-size:10px;">
				<%= button_to "remove", {:action => :delete, :id => ses.id}, :confirm => confirm_string, :class => "fsn-button ui-button ui-state-default ui-corner-all"  %><br/><br/>
				<%= button_to "Redo Dashboard", {:action => :update_session_dashboards, :id => ses.id}, :confirm => 'Are you sure?', :class => "fsn-button ui-button ui-state-default ui-corner-all"  %>
			</td>
		</tr>		
		<% end -%>
	</tbody>
</table>
