<div id= "<%=app.public_id%>_<%=school.public_id%><%=subject.id%>_dashboards">
  <table style="width:810px; margin-left:0px; font-size:16px; margin-left:10px; border:0px solid #ddd; font-weight:bold; color: #2061a5; ">
    <thead>
      <tr>
        <th  colspan=6 style="text-align:center; color:#000000; font-weight:normal; font-size:12px; padding-bottom:0px;">
          <%= school.short_name %>&nbsp;<%=subject.name%> Aggregated Dashboards
        </th>
      </tr>
      <tr>
        <th style="width:60px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          ReCalc
        </th>
        <th style="width:30px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          ID
        </th>
        <th style="width:40px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Level
        </th>
        <th style="width:45px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Date
        </th>
        <th style="width:220px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Dashboard Record
        </th>
        <th style="color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Related Sessions In DB
        </th>				</tr>
    </thead>
    <tbody style="font-size:14px; color: #2061a5;">
      <% school.itl_summaries.for_subject(subject).sort_by{|d|  d.yr_mnth_of}.each do |dashboard| -%>
        <tr>
          <td  style="border:1px solid #ddd; width:60px; width:fixed; vertical-align:top; padding-top:0px; text-align:center">
            <span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
              <%= link_to "ReCalc", ctl_maint_dashboards_recalc_path(:organization_id => @current_organization, :summary_id=>dashboard,  :app_id=> app.id), :class => "recalc_dashboard" %>
            </span>
          </td>
          <td style="border:1px solid #ddd; width:30px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
            <%= dashboard.id %>
          </td>
          <td style="border:1px solid #ddd; width:40px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
            <%=dashboard.itl_belt_rank.rank %>
          </td>
          <td style="border:1px solid #ddd; width:45px; width:fixed; color:#000000; text-align:center; font-weight:normal; font-size:12px; padding-bottom:0px;">
            <%= dashboard.yr_mnth_of.strftime("%b %Y") %>
          </td>
          <td style="border:1px solid #ddd; width:220px; width:fixed; color:#000000; text-align:left; font-weight:normal; font-size:12px; padding-bottom:0px;">
            <%= dashboard.classroom ? dashboard.classroom.course_name : "Former Offering" %></br>
            Observations:&nbsp;<%=  dashboard.observation_count%></br>
            Strategy Records:&nbsp;<%=  dashboard.itl_summary_strategies.size%></br>
            Classroom Duration:&nbsp;<%= pluralize(number_with_precision(dashboard.classroom_duration/60.0, :precision => 1), " Min") %></br>
            Observation Duration:&nbsp;<%= pluralize(number_with_precision(dashboard.observation_duration/60.0, :precision => 1), " Min") %></br>
          </td>
          <% db_sessions = dashboard.itl_sessions -%>
          <td style="border:1px solid #ddd; color:#000000; text-align:left; font-weight:normal; font-size:12px; padding-bottom:0px;">
            </br>
            Observations:&nbsp;<%=  db_sessions.size %></br>
            Strategy Records:&nbsp;<%=  db_sessions.collect{|s| s.tlt_session_logs}.flatten.collect{|l| l.tl_activity_type_task}.uniq.size%></br>
            Classroom Duration:&nbsp;<%= pluralize(number_with_precision(db_sessions.collect{|s| s.duration}.sum/60.0, :precision => 1), " Min") %></br>
            Observation Duration:&nbsp;<%= pluralize(number_with_precision(db_sessions.collect{|s| s.session_length}.sum/60.0, :precision => 1), " Min") %></br>
            <% db_sessions.each do |sess| -%>
              <table style="width:410px; margin-left:0px; font-size:11px; margin-left:00px; border:0px solid #ddd; font-weight:bold; color: #2061a5; ">
                <tbody>
                  <tr>
                    <td style=" font-weight:normal; line-height: 1.2em; font-size:10px; padding-bottom:0px;">
                      <%= sess.session_date.strftime("%b %d, %Y") %>,&nbsp;Finalized: <%= sess.is_final ? sess.finalize_date.strftime("%b %d, %Y"): "Not Finalized" -%></br>
                      Unique Strategies:&nbsp;<%= sess.tlt_session_logs.collect{|l| l.tl_activity_type_task}.uniq.size %></br>
                      Classroom Duration:&nbsp;<%= pluralize(number_with_precision(sess.duration/60.0, :precision => 1), " Min") %></br>
                      Session Duration:&nbsp;<%= pluralize(number_with_precision(sess.session_length/60.0, :precision => 1), " Min") %></br>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <br/>
</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.recalc_dashboard').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#<%=app.public_id%>_<%=school.public_id%><%=subject.id%>_dashboards").html(data); 
		   		jQ("#<%=app.public_id%>_<%=school.public_id%><%=subject.id%>_dashboards").show();
			})
			return false;
	})
});
</script>

