
<% month_id = month.to_date.to_s%>
<div id= "<%=app.public_id%>_<%=school.public_id%><%= month_id %>_open_sessions">

	<% if @current_user.app_superuser?(app) -%>
		<% unless school.tlt_sessions.between_dates(month.at_beginning_of_month, month.at_end_of_month ).backlog.completed.empty? %>
			<table style="width:810px; margin-left:0px; font-size:16px; margin-left:10px; border:0px solid #ddd; padding-bottom:0px; font-weight:bold; color: #2061a5; ">	
				<thead>
					<tr>
						<th  colspan=6 style="text-align:center; color:#000000; font-weight:normal; font-size:12px; padding-bottom:10px;">
							<%= school.short_name %>&nbsp;<%= month.strftime("%B %Y") %> Open Observations
								<% if @current_user.superuser? -%>
									<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
										<%= link_to "Destroy All", ctl_maint_sessions_monh_deletes_path(:organization_id => @current_organization, :org_id=>school,  :session_month=> month, :app_id=> app.id), :class => "destroy_sessions" %>
									</span>
								<% end -%>
						</th>	
					</tr>			
				</thead>
				<tbody style="font-size:14px; color: #2061a5;">
					<% school.tlt_sessions.between_dates(month.at_beginning_of_month, month.at_end_of_month ).backlog.completed.each do |session| %>
						<tr>
							<td  style="border:1px solid #ddd; width:60px; width:fixed; vertical-align:top; padding-top:0px; text-align:center">
									<span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
										<%= link_to "Destroy", ctl_maint_sessions_monh_delete_path(:organization_id => @current_organization, :org_id=>school, :session_month=> month, :tlt_session_id=>session, :app_id=> app.id), :class => "destroy_sessions" %>
									</span>
							</td>
							<td  style="border:1px solid #ddd; width:40px; width:fixed; vertical-align:top; padding-top:0px; text-align:center">
								<u>
									<%= link_to "View", ctl_session_show_path(:organization_id => @current_organization, :tlt_session_id => session), {:target => "_blank"}  %>
								</u>
							</td>		
							<td style="border:1px solid #ddd; width:100px; width:fixed; color:#000000; text-align:left; font-weight:normal; font-size:11px; padding-bottom:0px;">
								<%= session.session_date.strftime("%b %d, %Y") %>
							</td>
							<td style="border:1px solid #ddd; width:150px; width:fixed; color:#000000; text-align:left; font-weight:normal; font-size:11px; padding-bottom:0px;">
								<%= session.subject_area ? session.subject_area.name : "Former Subject"%></br><%= session.classroom_name %>
							</td>	
							<td style="border:1px solid #ddd; width:150px; width:fixed; color:#000000; text-align:left; font-weight:normal; font-size:11px; padding-bottom:0px;">
								<% if session.practice? -%>
									Practice</br>
								<% end -%>
								Teacher:&nbsp;<%= session.user ? session.user.last_name : "Former User" %></br>
								Observer:&nbsp;<%= session.tracker ? session.tracker.last_name : "Former User" %>
							</td>
							<td style="border:1px solid #ddd; color:#000000; text-align:left; font-weight:normal; font-size:11px; padding-bottom:0px;">
								Unique Strategies:&nbsp;<%= session.tlt_session_logs.collect{|l| l.tl_activity_type_task}.uniq.size %></br>
								Classroom Duration:&nbsp;<%= pluralize(number_with_precision(session.duration/60.0, :precision => 1), " Min") %></br>
								Session Duration:&nbsp;<%= pluralize(number_with_precision(session.session_length/60.0, :precision => 1), " Min") %>
							</td>
						</tr>
					<% end -%>
				</tbody>
			</table>
		<% else -%>
			<span style="font-size:12px; color:#C73914; font-weight:normal">
				All Open Observations Have Been Destroyed
			</span>		
		<% end -%>
	<% else -%>
		<span style="font-size:12px; color: #2061a5;font-weight:normal">
			<center><br/>* * * Not Authorized * * *</center>
		</span>		
	<% end -%>
<br/>

</div>

<script type="text/javascript">
jQ(document).ready(function() {
	jQ('a.destroy_sessions').click(function() {
		var $this = jQ(this);
		var url = $this.attr("href");
			jQ.get(url, function(data){
				jQ("#<%=app.public_id%>_<%=school.public_id%><%= month_id %>_open_sessions").html(data); 
		   		jQ("#<%=app.public_id%>_<%=school.public_id%><%= month_id  %>_open_sessions").show();
			})
			return false;
	})
});
</script>

