<div id= "<%=app.public_id%>_discussion">
  <% unless app.app_discussion.nil? %>
  <table style="width:700px; margin-left:0px; font-size:16px; margin-left:100px; border:0px solid #ddd; font-weight:bold; color: #2061a5; ">
    <thead>
      <tr>
        <th  colspan=3 style="text-align:center; color:#000000; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Update Parameters
        </th>
      </tr>
    </thead>
    <% back_color = app.app_discussion.background_color.nil? ? "#000000": "#" + app.app_discussion.background_color -%>
    <tbody style="font-size:14px; color: #2061a5; background-color:<%=back_color %>">
      <tr>
        <td  style=" width:350px; width:fixed; color:#000000; text-align:right; vertical-align:middle; font-weight:normal; font-size:12px; padding-bottom:0px;">
          Default Hex Color Code For Background Panel
        </td>
        <td  style="border:0px solid #ddd;width:60px; width:fixed; vertical-align:middle; padding-top:0px; text-align:center">
          <span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
            <%= link_to "Update", {:controller => "/apps/owner_maintenance",:action => "update_app_discussion_parameters", :organization_id => @current_organization, :app_id=> app.id }, :class => "color_button" %>
          </span>
        </td>
        <td style="padding-top:10px;">
          <%= text_field :background, :panel, :value => app.app_discussion.background_color, :size => 6, :maxlength=>6 %>
        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <script type="text/javascript">
  jQ(document).ready(function() {
    jQ('a.color_button').click(function() {
      var color = jQ('#background_panel').val();
      var $this = jQ(this);
      var url = $this.attr("href");
        jQ.get(url, {'color_code':color}, function(data){
        jQ("#<%=app.public_id%>_discussion").html(data);
          jQ("#<%=app.public_id%>_discussion").show();
        })
        return false;
    })
  });
  </script>
  <% else %>
    No <%= app.abbrev %> Discussions
  <% end %>
</div>

