<div id="ctl_owner_maintenance">
	<br/>
		<table style="margin-left:150px; font-size:16px; font-weight:bold;  color: #2061a5; width:600px">
			<tbody >
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "owner_strategies", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							 <%= @current_application.abbrev %>&nbsp;<%= @current_application.app_methods.collect{|m| m.task_name.pluralize}.join(" and ")%>
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "owner_strategy_thresholds", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							 <%= @current_application.abbrev %> Strategy Thresholds
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "owner_blackbelt_maint", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							 <%= @current_application.abbrev %> Proficiency Calibration Resources
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "ctl_school_listing", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							Maintain Finalized <%= @current_application.abbrev %> Sessions
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "app_discussion_forum", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							Maintain <%= @current_application.abbrev %> Discussion Forum
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "app_ctl_dashboards", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							Review & Maintain Aggregated <%= @current_application.abbrev %> Dashboards
					</td>
				</tr>
				<tr>
					<td  style="width:50px; vertical-align:middle; text-align:left;padding-bottom:10px; padding-top:10px; padding-left:20px">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							 <%= link_to "Go" ,{:controller => "/apps/owner_maintenance", :action => "app_ctl_open_sessions", :coop_app_id => @current_application} %>
						</span>
					</td>
					<td style="width:550px; vertical-align:middle; text-align:left;padding-left:10px">
							Review & Maintain Open <%= @current_application.abbrev %> Observations
					</td>
				</tr>
			</tbody>
		</table>
		</br/>
<br/>
</div>

