<div >
  <div style="text-align:center;  word-wrap:break-word; color:#2061a5;  font-size: 18px; font-style: normal; font-weight: bold">
    <br/>Review & Maintain&nbsp;<%= @current_application.abbrev %>&nbsp;Aggregated Dashboards
	</div>
  <%= render :partial => "apps/shared/app_owner_button" %>
    <table  style="width:850px; margin-left:70px; color: #000000; ">
      <tbody>
        <tr>
          <td  style="width:850px; width:fixed; font-size: 12px; font-style: normal; vertical-align:middle; text-align:left;padding-bottom:0px; padding-top:0px; padding-left:0px">
            This allows <%= @current_application.abbrev %> Co-Owners to review all <%= @current_application.abbrev %> Aggregated Dashboards and allows Super-Users to recalculate them based on the finalized observations currently in the DB.
            <br/><br/>
          </td>
        </tr>
      </tbody>
    </table>
		<% ItlSummary.organizations.each do |org|%>
			<table id="<%=org.public_id%>_ag_dashboard"   style="width:900px; margin-left:10px; color: #2061a5;padding-left:0px;font-size:12px; font-weight:bold; ">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
		
						<%= link_to '', :controller => "/apps/owner_maintenance", :action => :app_ctl_school_dashboards, :org_id => org, :coop_app_id=> @current_application %>
							<%= pluralize(org.itl_summaries.size, org.name + " Dashboard") -%>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#<%=org.public_id%>_ag_dashboard"  .resource_levels_close').toggleResourceLevels();
				jQ('#<%=org.public_id%>_ag_dashboard"  .resource_levels_open').toggleResourceLevels();	
			});
			</script>
		<% end -%>
  </br/>
</div>







