<div id="edit_elt_element">
  <div style="text-align:center;  word-wrap:break-word; color:#2061a5;  padding-top:20px; font-size: 16px; font-style: normal; font-weight: bold">
    Edit&nbsp;<%= @current_application.abbrev %>&nbsp;Element
	</div>
	<% if @element -%>
		<%= form_for :elt_element , @element , :url=>{:controller => "/apps/owner_maintenance" , :action => "elt_element_update" , :element_id => @element.id, :coop_app_id=>@current_application} do |f| %>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#C73914;  padding-left:180px; font-size: 12px;">
						<span style="color:#C73914;  font-size: 14px; font-style: normal; font-weight: normal">
							<%= @element.active? ? "Active" : "Not Active" %><br/>
						</span>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Name</u><br/>
						</span>
						<%= text_field :elt_element, :name,  :value => @element.name, :size => 60 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Abbreviation</u><br/>
						</span>
						<%= text_field :elt_element, :abbrev,  :value => @element.abbrev, :size => 4 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Discussion</u><br/>
						</span>
						<%= text_area :elt_element, :description,  :value => @element.description , :rows => 2, :cols => 60 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Position</u><br/>
						</span>
						<%= text_field :elt_element, :position,  :value => @element.position  , :size => 2 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Element Background</u><br/>
						</span>
						<%= text_field :elt_element, :form_background,  :value => @element.form_background  , :size => 7 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Element Font Color</u><br/>
						</span>
						<%= text_field :elt_element, :e_font_color,  :value => @element.e_font_color  , :size => 7 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Indicator Background</u><br/>
						</span>
						<%= text_field :elt_element, :i_form_background,  :value => @element.i_form_background  , :size => 7 %>
					</div>	
				</div>
          <div class="FormRow">
            <div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							<u>Standard</u>&nbsp;
              <%= @element.standard ? @element.standard.abbrev : 'None' %>
						</span>
              <%=  select(:elt_element, :elt_standard_id,  EltStandard.all.collect{|s| [s.name, s.id]}, :default => @element.elt_standard_id,:prompt =>  "Assign Standard") %>
            </div>
          </div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:200px; font-size: 12px;" >
						<%= f.submit "Save" %>&nbsp;&nbsp;
						<%= link_to "Cancel" ,  {:controller => "/apps/owner_maintenance", :action => "index", :coop_app_id => @current_application} %>
					</div>	
				</div>
					<% unless @element.active? -%>
					<div class="FormRow">	
						<div class="FormRowData" style="color:#000000; padding-left:380px; font-size: 12px;">
							<span style = "cursor:pointer; ">
								<%= f.submit "Destroy" %>
							</span>
							<span style="color:#C73914;  font-size: 10px; font-style: normal; font-weight: normal">
								<u>Caution:</u> All Related Indicators and Data Will Be Lost
							</span>
						</div>	
					</div>
				<% end -%>
		<% end -%>
	<% else -%>
		<div class="FormRow">	
			<div class="FormRowData" style="color:#000000;  padding-left:200px; font-size: 12px;" >
				<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
					Element Not Found<br/>
				</span>
				<%= link_to "Return" ,  {:controller => "/apps/owner_maintenance", :action => "index", :coop_app_id => @current_application} %>
			</div>	
		</div>	
	<% end -%>
  <br/>&nbsp;
</div>


