<div id="add_elt_indicator">
	<% if @element -%>
    <div style="text-align:center;  word-wrap:break-word; color:#2061a5;  padding-top:20px; font-size: 16px; font-style: normal; font-weight: bold">
      Add&nbsp;<%= @current_application.abbrev %>&nbsp;Indicator
		</div>
		<%= form_for :elt_indicator , @element , :url=>elt_maint_indicator_update_path(:element_id => @element.id, :coop_app_id=>@current_application) do |f| %>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#C73914;  padding-left:180px; font-size: 12px;">
						<span style="color:#C73914;  font-size: 14px; font-style: normal; font-weight: normal">
							<%= @element.name %>
						</span>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							Sequence Number<br/>
						</span>
						<%= text_field :elt_indicator, :ind_num,  :value => "", :size => 3 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							Element Position<br/>
						</span>
						<%= text_field :elt_indicator, :position,  :value => "", :size => 2 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							Weight<br/>
						</span>
						<%= text_field :elt_indicator, :weight,  :value => "", :size => 2 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:180px; font-size: 12px;">
						<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
							Indicator<br/>
						</span>
						<%= text_area :elt_indicator, :indicator,  :value => "" , :rows => 3, :cols => 80 %>
					</div>	
				</div>
				<div class="FormRow">	
					<div class="FormRowData" style="color:#000000;  padding-left:200px; font-size: 12px;" >
						<%= f.submit 'Add' %>&nbsp;&nbsp;
						<%= link_to 'Cancel', app_owner_maintenance_path(:coop_app_id => @current_application) %>
					</div>
				</div>
		<% end -%>
	<% else -%>
		<div class="FormRow">	
			<div class="FormRowData" style="color:#000000;  padding-left:200px; font-size: 12px;" >
				<span style="color:#2061a5;  font-size: 12px; font-style: normal; font-weight: normal">
					Element Not Found<br/>
				</span>
				<%= link_to 'Return', app_owner_maintenance_path(:coop_app_id => @current_application) %>
			</div>	
		</div>	
	<% end -%>
  <br/>&nbsp;
</div>


