<div id="thresholds">

  	<div style="text-align:center;  word-wrap:break-word; color:#2061a5;  font-size: 18px; font-style: normal; font-weight: bold">
			<br/>Maintain&nbsp;<%= @current_application.abbrev %>&nbsp; Strategy Thresholds
	</div>
  <%= render :partial => "apps/shared/app_owner_button" %>
	<table   style="width:900;border:1px solid #ddd;">
		<style type="text/css" media="screen">
	    table,tr,td { border:medium}
		table tr:hover{
        background-color: transparent;
      }
    	</style>
		<tbody>  
		<% TlActivityTypeTask.all.sort_by{|s| [s.tl_activity_type.seq_num, s.name]}.each do |strategy| %>
				<tr style="border:1px solid #ddd;">
					<td  style="width:240px;width:fixed;padding-bottom:00px;  color:#2061a5;">
						<%= strategy.tl_activity_type.abbrev %>:&nbsp;<%=strategy.name %>
					</td>
					<td  style="width:580px;width:fixed; padding-bottom:0px;  color:#2061a5;">
						<% if strategy.itl_strategy_threshold %>
							<% unless strategy.itl_strategy_threshold.min_minutes.nil? -%>
							 Segment Min:&nbsp;<%= pluralize(strategy.itl_strategy_threshold.min_minutes, " Min") %>:&nbsp;
							 <span style="font-size:10px; color:#C73914;"><i><%= strategy.itl_strategy_threshold.min_minutes_msg%></i></span><br/>
							<% end -%>
							<% unless strategy.itl_strategy_threshold.max_minutes.nil? -%>
							 Segment Max:&nbsp;<%= pluralize(strategy.itl_strategy_threshold.max_minutes, " Min") %>:&nbsp;
							 <span style="font-size:10px; color:#C73914;"><i><%= strategy.itl_strategy_threshold.max_minutes_msg%></i></span><br/>
							<% end -%>
							<% unless strategy.itl_strategy_threshold.min_pct.nil? -%>
							 Aggregate Min:&nbsp;<%= strategy.itl_strategy_threshold.min_pct%>%&nbsp;
							 <span style="font-size:10px; color:#C73914;"><i><%= strategy.itl_strategy_threshold.min_pct_msg%></i></span><br/>
							<% end -%>
							<% unless strategy.itl_strategy_threshold.max_pct.nil? -%>
							 Aggregate Max:&nbsp;<%= strategy.itl_strategy_threshold.max_pct%>%&nbsp;
							 <span style="font-size:10px; color:#C73914;"><i><%= strategy.itl_strategy_threshold.max_pct_msg%></i></span><br/>
							<% end -%>
						<% else -%>
							<span style="font-size:10px; color:#C73914;">
							  <i>No Thresholds Defined</i>
              </span>
						<% end -%>
					</td>
					<td  style="width:80px;padding-bottom:10px;  color:#2061a5;">
						<span class="fsn-button ui-button ui-state-default ui-corner-all">
							<%= link_to 'Edit', :controller => "/apps/owner_maintenance", :action => :owner_thresholds_edit, :strategy_id=> strategy.id, :coop_app_id=>@current_application %>
						</span>
					</td>
				</tr>
		<% end -%>
		</tbody>
	</table>
	<br/>

</div>







