<div id="main_content">

	<% if @current_user.app_superuser?(@app) -%>
		<div style ="color: #2061a5; font-size:18px; margin-top:5px; font-weight:bold"> 
			<center>
				<%= @app.abbrev %>&nbsp;Proficiency Calibration
			</center>
		</div>
			<% button_label = @app.abbrev + " Owner Maintenance"%>
			<table  style="width:350px; margin-left:400px; color: #2061a5; ">
				<tbody>
					<tr>
						<td  style="width:350px; vertical-align:middle; text-align:left;padding-bottom:0px; padding-top:0px; padding-left:0px">
							<span class="fsn-button ui-button ui-state-default ui-corner-all">
								 <%= link_to button_label ,{:controller => "apps/owner_maintenance", :action => :index, :organization_id => @current_organization, :app_id=> @app.id}, {:target => "_blank"} %>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
			<table  style="width:850px; margin-left:70px; color: #2061a5; ">
				<tbody>
					<tr>
						<td  style="width:850px; width:fixed; vertical-align:middle; text-align:left;padding-bottom:0px; padding-top:0px; padding-left:0px">
							
							By integrating <strong><%= @app.abbrev %> Belt Rankings</strong> and the <strong><%=@app.abbrev %> Training Video Repository</strong> 
							we are able to institute <strong>Proficiency Calibration</strong> methods.<br/>
							Below is a list of <strong>Training Videos</strong> that were observed by <strong>Blackbelt Observers.</strong> The corresponding observations can be viewed below each.<br/>
							You can attach Blackbelt observation results to that Video.</br/>
							When teachers practice observing the video, they can immediately compare their observation results with the corresponding Blackbelt results.<br/>
							Teachers have the means to develop their observation proficiencies and demonstrate they are reliably consistent with those of a Blackbelt.</br/>
							
						</td>
					</tr>
				</tbody>
			</table>	
		<% ItlBeltRank.black.first.tlt_sessions.collect{|s| s.content}.compact.uniq.each do |vid|%>
			<table id="<%=vid.public_id%>_black"   style="width:750px; margin-left:50px; color: #2061a5; ">
				<tbody>  
					<tr>
						<td class="resource_levels_close">
		
						<%= link_to '', :controller => "apps/owner_maintenance", :action => :owner_show_video_session, :organization_id => @current_organization, :video_id=>vid, :app_id=> @app.id %>
						Video: <strong><%= vid.title -%></strong>
						<span></span>
						</td>
					</tr>
				</tbody>
			</table>
			<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ('#<%=vid.public_id%>_black .resource_levels_close').toggleResourceLevels();
				jQ('#<%=vid.public_id%>_black .resource_levels_open').toggleResourceLevels();	
			});
			</script>		
		<% end -%>			
	<% else -%>
		<span style="font-size:12px; color: #2061a5;font-weight:normal">
			<center><br/>* * * Not Authorized * * *</center>
		</span>		
	<% end -%>
	<br/>

</div>







