<div id="main_content">
  <div style ="text-align:center; color: #2061a5; font-size:18px; margin-top:5px; font-weight:bold">
      <%= @current_application.abbrev %>&nbsp;Proficiency Calibration
  </div>
  <%= render :partial => "apps/shared/app_owner_button", :locals=>{:app=>@current_application} %>
  <table  style="width:850px; margin-left:70px; color: #2061a5; ">
    <tbody>
      <tr>
        <td  style="width:850px; width:fixed; vertical-align:middle; text-align:left;padding-bottom:0px; padding-top:0px; padding-left:0px">

          By integrating <strong><%= @current_application.abbrev %> Belt Rankings</strong> and the <strong><%=@current_application.abbrev %> Training Video Repository</strong>
          we are able to institute <strong>Proficiency Calibration</strong> methods.<br/>
          Below is a list of <strong>Training Videos</strong> that were observed by <strong>Blackbelt Observers.</strong> The corresponding observations can be viewed below each.<br/>
          You can attach Blackbelt observation results to that Video.</br/>
          When teachers practice observing the video, they can immediately compare their observation results with the corresponding Blackbelt results.<br/>
          Teachers have the means to develop their observation proficiencies and demonstrate they are reliably consistent with those of a Blackbelt.</br/>

        </td>
      </tr>
    </tbody>
  </table>
  <% ItlBeltRank.blackbelt_videos.each do |vid|%>
    <table id="<%=vid.public_id%>_black"   style="width:750px; margin-left:50px; color: #2061a5; ">
      <tbody>
        <tr>
          <td class="resource_levels_close">

          <%= link_to '', ctl_maint_blackbelts_video_path(:organization_id => @current_organization, :video_id=>vid, :coop_app_id=> @current_application) %>
          Video: <strong><%= vid.title -%></strong>
          <span></span>
          </td>
        </tr>
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ('#<%=vid.public_id%>_black .resource_levels_close').toggleResourceLevels();
      jQ('#<%=vid.public_id%>_black .resource_levels_open').toggleResourceLevels();
    });
    </script>
  <% end -%>
	<br/>
</div>







