<%= render :partial => "/shared/error_and_notice" %>

<div style="width: 50%; border:0px solid black; float:left; min-height:200px;">
	<div style="margin:0px 0px 10px 0px;">
		<% unless @current_organization.logo.file? %>
			<div style="width:250px; height:100px; text-align:center; border:1px solid black; vertical-align:middle;">
				No image
			</div>
		<% else %>	
		    <%= image_tag @current_organization.logo.url -%>	
		<% end %>
	</div>
	<div  style="margin:10px 0px 10px 0px;min-height:25px;">
		<% form_tag({:action => :update_logo, :organization_id => @current_organization, :format => 'js'}, :multipart => true, :target => 'upload_frame') do -%>
		    <%= file_field_tag "organization[logo]" %>
		    <%= submit_tag "Save" %>
					<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
	    <% end %>
	</div>

	<div style="margin:10px 0px 10px 0px;">
	  <div style="text-align:left;">
		Upload logo or graphic as jpg, gif or png file. Width cannot exceed 300 pixels. Browse to locate files.
      </div>
		<br/>
		<br/>
		<%= text_area_tag :org_body , @current_organization.body, :rows => 5, :cols => 45 %>
		<!--
    <%#= observe_field(:org_body , :frequency => 0.2 , :with => "org_body" , :url => {:action => "update_body", :organization_id => @current_organization}) %>
	-->
	</div>
</div>
<div style="width:50%; border:0px solid black; float:left; min-height:200px;">
	<div class="iwing_preview" style="width:320px; padding:10px; border:1px solid #ccc;word-wrap:break-word;">
		<% if @current_organization.logo.file? %>
			<%= image_tag @current_organization.logo.url %>	
		<% else %>	
			No image
		<% end %>
		
		<div id="organization_body" style="text-align:left;">
			<%= @current_organization.body %>
		</div>
		
		<div id="organization_include_information" style="<%= @current_organization.include_information ? '' : 'display:none;'%>">
		  <div class="priview_affiliate_information_title">
	         <span class="normal_text"><%= @current_organization.name rescue nil %></span>	
           </div>
	       <div class="affiliate_information_title">
		      <span class="normal_text">
		      <% if @current_organization.addresses.first.country == 'US' %>
			     <%= @current_organization.addresses.first.city rescue nil -%>,	
		 	     <%= @current_organization.addresses.first.state rescue nil -%>
		     <% else %>
			     <%= @current_organization.addresses.first.city rescue nil -%>, 
			     <%= I18n.t @current_organization.addresses.first.country, :scope => 'countries' %>	
		     <% end %>
		     </span>
	        </div>
	        <% unless @current_organization.web_site_url.nil? %>
	        <div class="affiliate_information_title">
		    <span class="normal_text"><%= link_to @current_organization.web_site_url, @current_organization.web_site_url, :target => "_blank"  %></span>
	        </div>
		   <% end %>
		</div>
	</div>
</div>

