<div id="colors_<%=organization.public_id%>" style="border:0px solid black;">
  <div style="margin-bottom: 10px; font-weight: bold; font-size: 14px; float:left;">
    Colors
  </div><br/>
  <table style = "width:450px; margin-left:0px; margin-top:0px">
    <tbody>
        <%   StyleSetting.colors.each do |setting| %>
          <% color = (organization.setting_values.for_setting(setting).first.nil? ? setting.default_value : organization.setting_values.for_setting(setting).first.value) %>
        <tr style="'padding-bottom:5px;">
          <td id="change_color_<%= setting.id.to_s%>" style="width:15%; vertical-align:middle; padding-bottom:0px; ">
              <span class="fsn-button ui-button ui-state-default ui-corner-all" style="cursor:pointer">
                Change
              </span>
          </td>
          <td style="width:10%;padding-bottom:0px; border:2px; background-color:<%= color %> ">
            &nbsp;
          </td>
          <td style="width:15%;padding-top:10px; ">
            <%= text_field :style_color, setting.id, :value => color, :size => 8 %>
          </td>
          <td style="width:60%;vertical-align:middle; padding-bottom:0px; ">
            <%= setting.name %>
          </td>
        </tr>
          <script type="text/javascript">
            jQ(document).ready(function() {
              jQ('#change_color_<%=setting.id.to_s%>').click(function() {
                var color = jQ('#style_color_<%= setting.id.to_s%>').val();
                var url = "<%= url_for :controller => '/admin/our_organization', :action => :change_style_setting, :organization_id => organization, :setting_id => setting.id %>";
                jQ.get(url, {'color':color}, function(data) {
                  jQ("#colors_<%=organization.public_id%>").html(data);
                  jQ("#colors_<%=organization.public_id%>").show();
                });
              })
            });
          </script>
      <% end %>
    </tbody>
  </table>
</div>
