	
<div id="provider_apps" >
	<% unless @current_organization.provided_apps.empty? -%>
		<% @current_organization.provided_apps.each do |app| -%>
			<table style="width:650px; margin-left:150px; border:0px">
				<tbody>
					<style type="text/css" media="screen">
				    	table,tr,td { border:medium}
						table tr:hover{
				    	background-color: #FFFFCC;
				      	}
				    </style>
					<tr >
						<th colspan=3  style="vertical-align:top;  padding-top:0px; text-align:center; ">
							<% unless @current_organization.app_settings(app).alt_name.nil? -%>
								<span style="color:#2061a5;  font-size:12px; font-weight:bold">
									<%= @current_organization.app_settings(app).alt_name %>&nbsp;(<%= @current_organization.app_settings(app).alt_abbrev %>)
								</span>
							<% else -%>
								<span style="color:#C73914;  font-size:12px; font-weight:normal">
									* * * No Alternative&nbsp;<%= @current_organization.short_name %>&nbsp;Application Name * * *
								</span>
							<% end -%>
							<span style="color:#2061a5;  font-size:10px; font-weight:normal">
								<br/><%= app.owner.short_name %>&nbsp;App Name:&nbsp;<strong><%= app.name %></strong>
							</span>
						</th>
					</tr>
					<tr style=" border:1px solid #ddd; background: #FFFFFF; ">
						<td style=" width:55px; width:fixed; font-size:9px; vertical-align:middle;" >
							<span class="fsn-button ui-button ui-state-default ui-corner-all" style=" cursor:pointer">
								<%= link_to "Change", {:controller => "admin/our_organization",:action => "edit_app_alt_name", :organization_id => @current_organization, :app_id => app}, :class => "edit_alt_name_" + app.id.to_s %>
							</span>
						</td>
						<td   style="width:80px; width:fixed; border:0px solid #ddd; vertical-align:middle; padding-right:5px; padding-bottom:5px; padding-top:5px; color:#2061a5; font-size:11px; ">
					        <%= text_field :alt_abbrev, app.public_id, :value => @current_organization.app_settings(app).alt_abbrev, :size => 6, :maxlength => 6 %>
						</td>
						<td   style=" border:0px solid #ddd; vertical-align:middle; float:left; padding-top:5px;padding-bottom:5px;color:#2061a5; font-size:11px; ">
					        <%= text_field :alt_name, app.public_id, :value => @current_organization.app_settings(app).alt_name, :size => 50, :maxlength => 80 %>
						</td>
					</tr>
		<script type="text/javascript">
		jQ(document).ready(function() {
			jQ('a.edit_alt_name_<%= app.id%>').click(function() {
				var name = jQ('#alt_name_<%=app.public_id %>').val();
				var abbrev = jQ('#alt_abbrev_<%=app.public_id %>').val();
				var $this = jQ(this);
				var url = $this.attr("href");
					jQ.get(url,{'alt_name': name, 'alt_abbrev': abbrev}, function(data){
						jQ("#provider_apps").html(data);
						jQ("#provider_apps").show();
					})
					return false;
			})
		});
		</script>		
					<tr style=" border:1px solid #ddd; background: #FFFFFF;">
						<td colspan=3  style="vertical-align:center;  padding-bottom:20px; text-align:center; ">
								<table style="width:600px; margin-left:0px; border:0px">
									<tbody>
										<style type="text/css" media="screen">
									    	table,tr,td { border:medium}
											table tr:hover{
									    	background-color: transparent;
									      	}
									    </style>
										<tr >
											<td  id="<%=app.id%>_enable" style="width:220px; width:fixed; color:#000000; font-weight:normal; font-size:12px; padding-left:30px; padding-bottom:0px;">
												<%=  select(:app_enable, app.id, (Organization.active - app.selected_orgs).sort_by{|o| o.name}.collect{|o| [truncate(o.medium_name, :omission => "...", :length => 18), o.id]}, :prompt => "Enable Organization") %>				
											</td>
											<td style="color:#2061a5;  font-size:11px; vertical-align:middle; text-align:center; font-weight:bold">
												<%=  pluralize(@current_organization.provided_app_orgs(app,true).size, " Enabled Org") %>
											</td>
											<td  id="<%=app.id%>_disable" style="width:200px; width:fixed; color:#000000; font-weight:normal; font-size:12px; padding-left:40px; padding-bottom:0px;">
												<%=  select(:app_disable, app.id, (@current_organization.provided_app_orgs(app,true)).sort_by{|o| o.name}.collect{|o| [truncate(o.medium_name, :omission => "...", :length => 18), o.id]}, :prompt => "Disable Organization") %>				
											</td>
										</tr>						
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_enable').change(function() {
		var org_id = jQ('#app_enable_<%=app.id%>').val();
		var url = "<%= url_for :controller => "admin/our_organization", :action => :provider_app_enable, :organization_id => @current_organization, :app_id=> app %>";
			jQ.get(url, {'org_id':org_id}, function(data) {
			jQ("#provider_apps").html(data);
			jQ("#provider_apps").show();
			});
	})
});
</script>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ('#<%=app.id%>_disable').change(function() {
		var org_id = jQ('#app_disable_<%=app.id%>').val();
		var url = "<%= url_for :controller => "admin/our_organization", :action => :provider_app_enable, :organization_id => @current_organization, :app_id=> app %>";
			jQ.get(url, {'org_id':org_id}, function(data) {
			jQ("#provider_apps").html(data);
			jQ("#provider_apps").show();
			});
	})
});
</script>
									</tbody>
								</table>
						</td>
					</tr>
				</tbody>
			</table>
		<% end -%>
	<% else -%>
		<table style="width:650px; margin-left:150px; border:0px">
			<tbody>
				<style type="text/css" media="screen">
			    	table,tr,td { border:medium}
					table tr:hover{
			    	background-color: transparent;
			      	}
			    </style>
				<tr>
					<td   style="vertical-align:top;  padding-top:0px; text-align:center; ">
						<span style="color:#C73914;   font-size:12px; font-weight:normal">
							<%=  @current_organization.short_name %>&nbsp;Is Not A Provider Of Any Applications
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	<% end -%>
</div>
