<style type="text/css">
			.module_container{
			background-color:#FFFFFF;
			margin:5px 5px 10px 5px;
		}
</style>
    <form id="color-pick-form">
<fieldset>

        <h4>Colors</h4>
        <ul style="list-style:none;" class="color-pick-list">
            <% i = 0 -%>
            <% for style_setting in @color_style_settings do -%>
            <li id="color_picker_<%= i += 1 %>">
                <span><%= style_setting.name %></span>
                <%= text_field_tag style_setting.name, @current_organization.style_setting_value_named(style_setting.name), :size => 8, :class => "iColorPicker" %>
            </li>
            <% end -%>
        </ul>
</fieldset>
<div class="iwing_preview" style="width:475px; min-height:325px;">
    <div id="preview_container" style="border:1px solid #CCDCE6; width:425px; min-height:325px;" class="iwing_page_background preview_page_background">
        <div style="min-height:55px;">
            <div style="float:left; width:25%;">
               <!-- ALK Appearance Panel Changes -->
				<img src="/images/EP_badge.png?1243551283">
            </div>
            <div id="header_background_text" class="background_text preview_background_text" style="float:left; width:75%; text-align:right">
                Background Text
            </div>
        </div>
        <div id="header_bar" class="iwing_header_and_footer_bars preview_header_and_footer_bars" style="min-height:20px; text-align:center; padding:2px;">
            <div class="header_footer_text preview_header_and_footer_text">
                Header Bar
            </div>
        </div>
        <div style="min-height:230px;">
            <div id="left_container" style="float:left; width:175px;">
                <div class="module_container" style="min-height:35px;"><br/><br/><br/>
                    Your Organization & Application Text Information
                    <br/><br/>
                    <a href="#" class="preview_link">Links</a>
                </div>
               <!-- ALK Take out.  Too application specific 
			    <div class="module_container" style="min-height:35px;">
                    Call For Action
                    <br/>
                    <a href="#" class="preview_link">Links</a>
                </div>
                <div class="module_container" style="min-height:35px;">
                    What We Have Done
                    <br/>
                    <a href="#" class="preview_link">Links</a>
                </div>
                <div class="module_container" style="min-height:70px;">
                    <div class="causes_title preview_causes_title">
                        Our Causes
                    </div>
                    <br/>
                    <div class="causes_title preview_causes_title">
                        Our Partners' Causes
                    </div>
                </div>
				
            </div>
            <div id="right_container" style="float:left; width:200px;">
                <div class="module_container preview_causes_title" style="width:240px; min-height:30px;">
                    Our Causes
                </div>
                <div class="module_container" style="width:240px; min-height:170px;">
                    Topic
                </div>
            </div>
			-->
        </div>
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div id="footer_bar" class="iwing_header_and_footer_bars preview_header_and_footer_bars" style="min-height:20px; padding:2px; text-align:center;">
            <div class="header_footer_text preview_header_and_footer_text">
                Footer Bar
            </div>
        </div>
        <div id="footer_background_text" class="background_text preview_background_text" style="text-align:center;">
            Background Text
        </div>
    </div>
</div>
<br style="clear:both"/>
<div style="width:900px;  margin-top:5px;">
	<a id="default_colors" href="/site/<%=@current_organization.public_id%>" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px;">Reset Default Styles</a>
	<a id="update_colors" href="/site/<%=@current_organization.public_id%>" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px;">Update Page</a>
	<a href="/site/<%=@current_organization.public_id%>" class="fsn-button ui-button ui-state-default ui-corner-all" style="padding:3px; text-decoration:none;  margin:3px; font-size:12px;" target="_blank">View Network Page</a>	
</div>
    </form>
<style>
    /* added by victor */
    /*.color-pick-list li { position: relative; clear: both; width: 350px; height: 36px; margin-bottom: 5px; }*/ .color-pick-list li {
        display: block;
        clear: both;
        width: 350px;
        height: 36px;
        margin-bottom: 5px;
    } .color-pick-list li span {
        float: left;
        width: 220px;
        line-height: 36px;
    }
    
    input.color_picker {
        float: left;
        margin-top: 7px;
    }
    
    fieldset {
        border: 1px solid #CCDCE6;
        padding: 10px 10px 10px 10px;
        margin-bottom: 10px;
        background-color: #f5fbff;
		height:332px;
        float: left
    }
    
    fieldset h4 {
        margin-bottom: 10px;
    } .iwing_preview {
        float: right;
    } .iwing_preview h5 {
        text-align: center;
        margin-bottom: 10px;
    } .iwing_preview h5 a {
        color: #448bcb;
    } .iwing_preview h5 a:hover {
        text-decoration: none;
    }
</style>
<script type="text/javascript" charset="utf-8">
    jQ(document).ready(function(){
        jQ("form#color-pick-form").submit(function(){
            jQ.post("<%= url_for(:controller => :our_organization, :action => :update_style_setting_value, :organization_id => @current_organization) %>", jQ(this).serialize());
            return false;
        })
        iColorPicker()
		
		jQuery("#iColorPicker").click(function(event){
			jQuery("#color-pick-form input[type=text]").each(function(){
				update_preview();
			})
		})
		
		jQuery("#update_colors").click(function(event){
			jQuery.post("/admin/our_organization/update_style_setting_value/<%= @current_organization.public_id %>", 
			 jQ("#color-pick-form").serialize(),
				// jQuery("#color-pick-form form").serialize(), 
				function(data){
					update_page();
				})
			event.preventDefault();
		})
		
		jQuery("#default_colors").click(function(event){
			jQuery.post("/admin/our_organization/reset_default_styles/<%= @current_organization.public_id %>", 
				[], function(data){
					jQuery("#our_organization_panel").html(data);
					update_preview();
					update_page();
				})
			event.preventDefault();
		})		
		
		function update_page(){
			jQuery("#color-pick-form input[type=text]").each(function(){
				switch(jQuery(this).attr('id')){
					case "Page_Background":
						setting = "background-color";
						class_name = "iwing_page_background";
					break;
					case "Background_Text":
						setting = "color";
						class_name = "background_text";
					break;
					case "Header_and_Footer_Bars":
						setting = "background-color";	
						class_name = "iwing_header_and_footer_bars";
					break;
					case "Header_and_Footer_Text":
						setting = "color";					
						class_name = "header_footer_text";
					break;
					case "Link":
						setting = "color";					
						class_name = "link";
					break;
				}
				jQuery("." + class_name).css(setting, jQuery(this).attr('value'));			
			})		

		}
		
		function update_preview(){
			jQuery("#color-pick-form input[type=text]").each(function(){
				switch(jQuery(this).attr('id')){
					case "Page_Background":
						setting = "background-color";
					break;
					case "Background_Text":
						setting = "color";
					break;
					case "Header_and_Footer_Bars":
						setting = "background-color";					
					break;
					case "Header_and_Footer_Text":
						setting = "color";					
					break;
					case "Link":
						setting = "color";					
					break;
					
				}
				
				jQuery(".preview_" + jQuery(this).attr('id').toLowerCase()).css(setting,jQuery(this).attr('value'));
			})				
		}
    });
</script>
