<div id="form_content">
	<div id="form_content_2" style="display:block;">
		<p><strong>AFFILIATE INFORMATON</strong></p>
		<p>Help text</p>
		<div id="affiliate_information_panel">
			<%= render :partial => "affiliate_information" %>
		</div>
		<iframe id='upload_frame' name="upload_frame" style="width:1px;height:1px;border:0px" src="about:blank"></iframe>
	</div>
	<div id="form_content_3" style="display:none;">
		<p><strong>CALL TO ACTION</strong></p>
		<p>Help text</p>
		<form method="post" action="#" class="ajax">
		<p><%= text_area_tag "sections[call_to_action]", @current_organization.content_object_of_page_section("index", "call_to_action"), :id => "sections_call_to_action", :class => "mceEditor", :rows => 15, :cols => 60 %></p>
		<br style="clear:both" />
		<p><%= submit_tag "Save" %></p>
		</form>
	</div>
	<div id="form_content_4" style="display:none;">
		<p><strong>WHAT WE HAVE DONE</strong></p>
		<p>Help text</p>
		<form method="post" action="#" class="ajax">		
		<p><%= text_area_tag "sections[followup]", @current_organization.content_object_of_page_section("index", "followup"), :id => "sections_followup", :class => "mceEditor", :rows => 15, :cols => 60 %></p>
		<%= submit_tag "Save" %>		
		</form>
	</div>
	<div id="form_content_5" style="display:none;">
		<p>RELATED DISCUSSIONS</p>
		<p>Help text</p>		
		<p>
			<input type="checkbox" name="" value="" style="float:left;margin-right:5px;" />
			Include related discussion from other Affiliates
		</p>
		
	</div>	
	<div id="form_content_1" style="display:none;">
		<p><strong>MAIN</strong></p>
		<p>Help text</p>
		<p class="no_option">No option for this module</p>
	</div>
	
</div>
<div id="iwing_modules">
	<h4>IWING MODULES</h4>
	<div id="iwing_modules_warp">
		<div id="iwing_modules_1" title="#form_content_1">CONTENT</div>
		<div id="side_content">
			<div id="iwing_modules_2" title="#form_content_2"><span>AFFILIATE INFORMATON</span></div>
			<div id="iwing_modules_3" title="#form_content_3"><span>CALL TO ACTION</span></div>
			<div id="iwing_modules_4" title="#form_content_4"><span>WHAT WE HAVE DONE</span></div>
			<div id="iwing_modules_5" title="#form_content_5"><span>RELATED DISCUSSIONS</span></div>			
		</div>
		<br style="clear:both" />
	</div>
</div>
<br style="clear:both" />
<script type="text/javascript" charset="utf-8">
	jQ(document).ready(function() {
		var AUTH_TOKEN = "<%= protect_against_forgery? ? form_authenticity_token : '' %>";
		jQ.ajaxSetup({data:{authenticity_token : AUTH_TOKEN}});
		jQ("form.ajax").submit(function() {
			var data = {};
			jQ("textarea.mceEditor", this).each(function() {
				data[this.name] =tinyMCE.get(this.id).getContent();
			});
		    jQ.post("<%= url_for(:controller => :iwing, :action => :options, :organization_id => @current_organization) %>", data);
	        return false;
	    });
		var modules = [];
		var form_contents = [];
		for (var i=1; i<=5; i++) {
			modules.push(jQ("#iwing_modules_" + i));
			form_contents.push(jQ("#form_content_" + i));
		}
		function hideModules() {
			for (var i=0; i<modules.length; i++) {
				modules[i].css({"background-color": "#f0f0e8"}); 
				form_contents[i].css({"display": "none"});
			}			
		}
		for (var x=0; x<modules.length; x++) {
			modules[x].corner("5px");
			modules[x].click(function() {
				hideModules();
				jQ(this).css({"background-color": "#C6D4E1"});
				target_id = jQ(this).attr("title"); 
				jQ(target_id).css({"display": "block"});
			})
		}
		if (tinyMCE.getInstanceById("sections_call_to_action") || tinyMCE.getInstanceById("sections_call_to_action")) {
			initTinyMCE();
		}
		tinyMCE.execCommand("mceAddControl", false, 'sections_call_to_action');
		tinyMCE.execCommand("mceAddControl", false, 'sections_followup');
	})
</script>
<style type="text/css" media="screen">
#main_content { width:790px; }
#form_content { float: left; width: 460px; }
#iwing_modules { float: right; width: 256px; }
#iwing_modules h4 { margin-bottom: 10px; }
#iwing_modules_warp { padding: 5px; border: 1px solid #6e6e6e; text-align: center; }
#iwing_modules_warp #iwing_modules_1 { 
	float: right; 
	width: 155px; 
	height: 415px;
	border: 1px solid #bfbfbf; 
	margin: 0;
	background-color: #f0f0e8;
	line-height: 421px;
}	
#iwing_modules_warp #side_content { 
	float: left; 
	width: 84px; 
	margin: 0;
}	
#iwing_modules_warp #side_content>div { 
	margin-bottom: 5px; 
	background-color: #f0f0e8; 
	border: 1px solid #bfbfbf; 
}
#iwing_modules_warp div span { font-size: 11px; }
#iwing_modules_warp #side_content #iwing_modules_2 { height: 100px; background-color: #C6D4E1; }
#iwing_modules_warp #side_content #iwing_modules_3 { height: 100px; }
#iwing_modules_warp #side_content #iwing_modules_4 { height: 100px; line-height: 100px; }
#iwing_modules_warp #side_content #iwing_modules_5 { height: 100px; margin-bottom: 0; }
#iwing_modules_warp #side_content #iwing_modules_2 span,
#iwing_modules_warp #side_content #iwing_modules_3 span,
#iwing_modules_warp #side_content #iwing_modules_4 span,
#iwing_modules_warp #side_content #iwing_modules_5 span { display: block; margin-top: 35px; line-height: 14px; }
#form_content_1 p.no_option { color: #F00; }
</style>