<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= @current_organization.name %></title>
		<%= stylesheet_link_tag 'screen' %>
		<%= stylesheet_link_tag iwing_stylesheet_url(:organization_id => @current_organization, :format => "css") %>

		<%= stylesheet_link_tag "public_info", :media => "screen" %>
		<%= stylesheet_link_tag "fsn/jquery-ui-1.7.1.custom.css", :media => "screen" %>
		<%= stylesheet_link_tag "master/print", :media => "print" %>
		<%= stylesheet_link_tag "jquery.ui.potato.menu.css" %>
		<%= javascript_include_tag 'prototype' %>
		<%= javascript_include_tag 'jquery-1.3.2.min.js' %>
		<script type="text/javascript" charset="utf-8">
			jQ = jQuery.noConflict();

		</script>
		<%= javascript_include_tag 'swfobject.js' %>
		<%= javascript_include_tag "jquery.qtip-1.0.0.min.js" %>
		<%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js' %>
		<%= javascript_include_tag 'jquery.tablesorter.min.js' %>
		<%= javascript_include_tag 'jquery.MetaData.js' %>
		<%= javascript_include_tag 'jquery.rating.js' %>
		<%= javascript_include_tag 'jquery.validate.min.js' %>
		<%= javascript_include_tag 'jquery.corner.js' %>
		<%= javascript_include_tag 'jquery.bgiframe.js' %>
		<%= javascript_include_tag 'jquery.ajaxQueue.js' %>
		<%= javascript_include_tag 'jquery.autocomplete.min.js' %>
		<%= javascript_include_tag '/player/swfobject.js' %>
		<%= javascript_include_tag 'application.js' %>
		<%= javascript_include_tag 'wforms_core.js' %>
		<%= javascript_include_tag 'wforms_sync.js' %>
		<%= javascript_include_tag 'wforms_validation.js' %>
		<%= javascript_include_tag 'wforms_switch.js' %>
		<%= javascript_include_tag 'wforms_repeat_rails.js' %>
		<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
		<%= javascript_include_tag 'jquery.tools.min.js' %>
		<%= javascript_include_tag 'jquery.ui.potato.menu.js' %>
		<style type="text/css">
			a.continue {
				text-transform: uppercase;
				text-decoration: none;
				color: #ffffff;
				display: block;
				text-align: right;
				font-weight: bold;
				font-size: 12px;
				font-family: Helvetica, Arial;
			}
			a.continue:hover {
				text-decoration: underline;
			}
			#main_content {
				background: #FFFFFF;
			}
			#mainContent {
				background: #FFFFFF;
	        }
			#main_content div#elt_maintenance {
				top: 00px;
				margin-left: 80px;
				width: 800px;
				position: relative;
			}
			#main_content div#edit_elt_element {
				top: 00px;
				margin-left: 80px;
				width: 800px;
				position: relative;
			}
			#main_content div#activities {
				margin-left: 25px;
				width: 900px;
				position: relative;
			}
			#main_content div#manual_update {
				margin-left: 60px;
				width: 880px;
				position: relative;
			}			
			#main_content div#activities div#tracker_log{
				margin-left: 0px;
				width: 675px;
				position: relative;
			}
			#main_content div#index_info{
				margin-left: 90px;
				width: 660px;
				position: relative;
			}
			#main_content div#static_heading {
				top: 00px;
				left: 00px;
				width: 950px;
				position: relative;
			}
			#main_content div#video_attach div#video_show {
				top: 00px;
				left: 0px;
				width: 675px;
				position: relative;
			}
			#main_content div#observer_update {
				top: 00px;
				left: 0px;
				width: 675px;
				position: relative;
			}
			#main_content div#video_attach {
				top: 00px;
				margin-left: 0px;
				width: 675px;
				position: relative;
			}
			#main_content div#activity_summary {
				top: 00px;
				left: 0px;
				width: 675px;
				position: relative;
			}
			#main_content div#activity_reflection {
				top: 00px;
				left: 0px;
				width: 900px;
				position: relative;
			}
			#main_content div#survey_data {
				top: 00px;
				left: 20px;
				width: 900px;
				position: relative;
			}
			#main_content div#survey_page {
				top: 00px;
				left: 20px;
				width: 900px;
				position: relative;
			}
			#main_content div#classroom_data {
				top: 00px;
				left: 20px;
				width: 900px;
				position: relative;
			}
			#main_content div#classroom_list {
				top: 00px;
				left: 20px;
				width: 900px;
				position: relative;
			}
			#main_content div#reflection {
				top: 00px;
				left: 00px;
				width: 850px;
				position: relative;
			}
			#main_content div#teacher_dashboard {
				top: 00px;
				left: 00px;
				width: 950px;
				position: relative;
			}
			#main_content div#teacher_dashboard div#teacher_diagnostic{
				top: 00px;
				margin-left: 5px;
				width: 900px;
				position: relative;
			}
			#main_content div#teacher_dashboard div#teacher_diagnostic div#tl_diagnostic_baseline{ 
				top: 00px;
				margin-left:40px;
				width: 700px;
				position: relative;
			}
			#main_content div#teacher_dashboard div#teacher_diagnostic div#tl_student_surveys{ 
				top: 00px;
				margin-left:40px;
				color: #2061a5;
				width: 700px;
				position: relative;
			}
			#main_content div#dashboard_header {
				top: 00px;
				left: 00px;
				width: 950px;
				position: relative;
			}
			#main_content div#survey_history_overview {
				top: 00px;
				left: 150px;
				width: 650px;
				position: relative;
			}
			#main_content div#survey_history_comments {
				top: 00px;
				margin-left: 60px;
				width: 850px;
				position: relative;
			}
		</style>
		<script type="text/javascript" charset="utf-8">
			jQ(document).ready(function() {
				jQ.ajaxSetup({
					'beforeSend' : function(xhr) {
						xhr.setRequestHeader("Accept", "text/javascript")
					}
				});
				jQ("#loading").ajaxStart(function() {
					jQ(this).show()
				}).ajaxStop(function() {
					jQ(this).hide()
				});
				jQ('.fsn-button').addUIStateClass();
			})
		</script>
	</head>
	<body class="iwing_page_background" >
		<div id="container">
			<%= render(:partial => "/shared/owners_masthead") %>
			<div id="header">
				<%= render(:partial => "/shared/owner_header") %>
			</div>
			<div id="home_body">
				<!-- close sidebar class div -->
				<div id="main_content">
					<%= yield %>
				</div>
				<!-- close main_content div -->
				<div style="clear:both">
					&nbsp;
				</div>
				<div class="bottom"></div>
			</div>
			<div class="iwing_footer">
				<div class="iwing_header_and_footer_bars">
					<%= render(:partial => "/shared/footer") %>
				</div>
			</div>
		</div>
		<div style="width:100%; text-align:center; font-size:10px;" class="background_text">
			&copy; <%= Time.now.year %> ESCENT PARTNERS, LLC
		</div>
		<div id="loading" style="display:none;">
			<%= image_tag asset_path('ajax-loader.gif') %>
		</div>
		<script type="text/javascript">
			/*
			 var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			 document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			 */
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-10167834-1");
				pageTracker._trackPageview();
			} catch (err) {
			}
		</script>
	</body>
</html>

