<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @current_organization.name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%# stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'apps/learning_time' %>


  <%= stylesheet_link_tag 'screen' %>
  <%= stylesheet_link_tag iwing_stylesheet_url(:organization_id => @current_organization, :format => "css") %>

  <%= stylesheet_link_tag "public_info", :media => "screen" %>
  <%= stylesheet_link_tag "fsn/jquery-ui-1.7.1.custom.css", :media => "screen" %>
  <%= stylesheet_link_tag "master/print", :media => "print" %>
  <%= stylesheet_link_tag "jquery.ui.potato.menu.css" %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <script type="text/javascript" charset="utf-8">
    jQ = jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'swfobject.js' %>
  <%= javascript_include_tag "jquery.qtip-1.0.0.min.js" %>
  <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js' %>
  <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
  <%= javascript_include_tag 'jquery.MetaData.js' %>
  <%= javascript_include_tag 'jquery.rating.js' %>
  <%= javascript_include_tag 'jquery.validate.min.js' %>
  <%- javascript_include_tag 'colorpicker.js' %>
  <%= javascript_include_tag 'iColorPicker.js' %>
  <%= javascript_include_tag 'jquery.corner.js' %>
  <%= javascript_include_tag 'jquery.bgiframe.js' %>
  <%= javascript_include_tag 'jquery.ajaxQueue.js' %>
  <%= javascript_include_tag 'jquery.autocomplete.min.js' %>
  <%= javascript_include_tag '/player/swfobject.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'wforms_core.js' %>
  <%= javascript_include_tag 'wforms_sync.js' %>
  <%= javascript_include_tag 'wforms_validation.js' %>
  <%= javascript_include_tag 'wforms_switch.js' %>
  <%= javascript_include_tag 'wforms_repeat_rails.js' %>
  <%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
  <%= javascript_include_tag 'jquery.tools.min.js' %>
  <%= javascript_include_tag 'jquery.ui.potato.menu.js' %>
  <%#= xalendar_date_select_includes "blue" %>
  <%= include_tiny_mce_if_needed %>
  <style type="text/css">
    a.continue {
      text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      display: block;
      text-align: right;
      font-weight: bold;
      font-size: 12px;
      font-family: Helvetica, Arial;
    }
    a.continue:hover {
      text-decoration: underline;
    }
    #main_contentx {
      background: #000000;
    }
    #mainContentx {
      background: #FFFFFF;
    }
    #main_content #body_main_ep div#leftpane_itl {
      position: relative;
      margin-top: 15px;
      width: 270px;
    }
    #main_content #body_main_ep div#rightpane_itl {
      margin-left: 0px;
      width: 660px;
      position: relative;
    }
    #main_content div#diagnostic_boxx {
      top: 00px;
      margin-top:  10px;
      margin-bottom:  20px;
      margin-left: 50px;
      width: 850px;
      position: relative;
    }
    #main_content div#diagnostic_box div#submit_buttons {
      top: 00px;
      margin-left: 30px;
      width: 850px;
      position: relative;
    }
    #main_content div#case_summary {
      top: 00px;
      margin-left: 50px;
      width: 800px;
      position: relative;
    }
    #main_content div#control_panel div#list_cases {
      top: 00px;
      margin-left: 20px;
      width: 950px;
      position: relative;
    }
  </style>
  <script type="text/javascript" charset="utf-8">
    jQ(document).ready(function() {
      jQ.ajaxSetup({
        'beforeSend' : function(xhr) {
          xhr.setRequestHeader("Accept", "text/javascript")
        }
      });
      jQ("#loading").ajaxStart(function() {
        jQ(this).show()
      }).ajaxStop(function() {
        jQ(this).hide()
      });
      jQ('.fsn-button').addUIStateClass();
    })
  </script>
</head>
<body class="container, iwing_page_background elt_container" >
<div class="container">
  <%= render(:partial => "/shared/masthead") %>
  <div id='header'>
    <%= render(:partial => "/shared/login") %>
  </div>
  <!-- close sidebar class div -->
  <div class="panel_content">
    <% if @current_organization.can_be_displayed?(@current_user)-%>
        <%= yield %>
    <% else -%>
				 	<span style = "color:#C73914; font-size:14px;">
				 		</br></br></br></br></br>
            <center>We're Sorry.</br><%= @current_organization.name %>&nbsp;is currently not available.</center>
            </br></br></br></br>
				 	</span>
    <% end -%>
  </div>
  <!-- close main_content div -->
  <div style="clear:both">
    &nbsp;
  </div>
  <div class="bottom"></div>
  <div class="iwing_footer">
    <div class="iwing_header_and_footer_bars">
      <%= render(:partial => "/shared/footer") %>
    </div>
  </div>
</div>
<div style="width:100%; text-align:center; font-size:10px;" class="background_text">
  &copy; <%= Time.now.year %> ESCENT PARTNERS, LLC
</div>
<div id="loading" style="display:none;">
  <%= image_tag asset_path('ajax-loader.gif') %>
</div>
<script type="text/javascript">
  /*
   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   */
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-10167834-1");
    pageTracker._trackPageview();
  } catch (err) {
  }
</script>
</body>
</html>