<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= stylesheet_link_tag "screen" %>
      <%= stylesheet_link_tag "fsn" %>
      <%= stylesheet_link_tag 'user/user' %>
        <%= stylesheet_link_tag 'fsn/jquery-ui-1.7.1.custom.css' %>
        <%= javascript_include_tag 'prototype' %>
        <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
        <script type="text/javascript" charset="utf-8">
            jQ = jQuery.noConflict();
        </script>
        <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
        <%= javascript_include_tag 'jquery.tablesorter.min.js' %>
        <%= javascript_include_tag 'jquery.validate.min.js' %>

		<style type="text/css">
			a.continue {
				text-transform: uppercase;
				text-decoration: none;
				color: #ffffff;
				display: block;
				text-align: right;
				font-weight: bold;
				font-size: 12px;
				font-family: Helvetica, Arial;
			}
			a.continue:hover {
				text-decoration: underline;
            }

      #ep_bottom {
        margin:27em 3em 0em 0em;
        background: url(<%= asset_path('main_container_bottom_secondary.jpg') %>) top left no-repeat;
        height: 7em;
			    }
		</style>

        <title>Precision School Improvement, LLC</title>
    </head>
    <body>
        <div id="container">
        	
            <div id="join_header" class="row">
							<div class="col-md-7"></div>
							<div class="col-md-4">
								<img src="<%=asset_path('psi_logo_large.png') %>", width="100%" />
								<%#= image_tag asset_path('psi_logo_large.png', :width => 20) %>
							</div>
							<div class="col-md-1"></div>
						</div>

            <div class="row join_container">
							<div id="main_content">
									<%= yield %>
							</div>
						</div>
          <div id="ep_bottom">
          </div>

          <div class="row registration_footer">
            <%= render(:partial => '/layouts/footer_tos_pp') %>
          </div>

		</div>
    </body>
</html>
