<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <%= stylesheet_link_tag "screen.css.erb.erb" %>
        <%= stylesheet_link_tag "fsn.css.erb" %>
        <%= stylesheet_link_tag 'fsn/jquery-ui-1.7.1.custom.css' %>
        <%= javascript_include_tag 'prototype' %>
        <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
        <script type="text/javascript" charset="utf-8">
            jQ = jQuery.noConflict();
        </script>
        <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min' %>
        <%= javascript_include_tag 'jquery.tablesorter.min' %>
        <%= javascript_include_tag 'jquery.validate.min' %>
        <%= javascript_include_tag 'application' %>
        <title>Escent Partners, LLC</title>
        <style type="text/css">
            a.continue {
                text-transform: uppercase;
                text-decoration: none;
                color: #ffffff;
                display: block;
                text-align: right;
                font-weight: bold;
                font-size: 12px;
                font-family: Helvetica, Arial;
            }
            
            a.continue:hover {
                text-decoration: underline;
            } #container {
                background: transparent url(<%= asset_path('fsn_home/bg_main_container_shadow.png') %>) top left repeat-y;
            } #container #home_header {
                margin-top: 0px;
                width: 915px;
                height: 400px;
                background: url(<%= asset_path('fsn_home/bg_header1.jpg') %>) top left no-repeat;
                position: relative;
            } #container #home_header #faw_logo {
                margin-top: 130px;
				width: 150px;
                height: 93px;
                position: absolute;
                left: 700px;
            } #container #home_header #contactus {
                font-size: 12px;
                margin-top: 310px;
				width: 80px;
                height: 93px;
                position: absolute;
                left: 710px;
            } #container #home_header #articles {
                margin-top: 315px;
				width: 400px;
                height: 93px;
                position: absolute;
                left: 530px;
            } #container #home_header #ifaarticles {
                margin-top: 2050px;
				width: 800px;
                height: 93px;
                position: absolute;

            } #container #home_header div#welcome_msg {
                position: absolute;
                top: 100px;
                left: 10px;
            } #container #home_header div#welcome_msg p {
                font-size: 11.5px;
                line-height: 11px;
                color: #ffffff;
                margin: 30px;
                width: 640px;

            } #container #home_header div#flash_content {
                background: transparent url(<%= asset_path('fsn_home/bg_flash_shadow.png') %>) top left no-repeat;
                width: 355px;
                height: 235px;
                position: absolute;
                top: 110px;
                left: 510px;
            } #container #home_body div#ifa_articles {
                width: 755px;
                height: 235px;
                position: absolute;
                top: 440px;

            } #left_side {
                width: 255px;
                position: absolute;
                top: 450px;            
            } #left_side #left_header {
                width: 255px;

                background: url(<%= asset_path('fsn_home/Sidebar_background.png') %>) left repeat-y;
                position: relative;
            } #highlights {
                width: 915px;
            } #highlights #step_inside {
                text-align: right;
                padding-right: 40px;
            } #highlights #step_inside a {
                padding: 10px 0;
            } #highlights #step_inside img {
                border-bottom: #fff 1px solid;
            } #highlights #step_inside img:hover {
                border-bottom: 1px #1a5897 solid;
            } #highlights #service_modules {
                width: 915px;
                height: 260px;
                background: url(<%= asset_path('fsn_home/bg_canvas.jpg') %>) top left repeat-y;
                position: relative;
            } #highlights #service_modules #heading {
                top: 250px;
                left: 270px;
                width: 600px;
                position: absolute;
            } #highlights #service_modules #illustration1 {
                top: 45px;
                left: 400px;
                position: absolute;
            } #highlights #service_modules #illustration2 {
                top: 45px;
                left: 400px;
                position: absolute;
            } #highlights #service_modules #label1 {
                top: 13px;
                left: 370px;
                color: #C73914;
                font-family:Helvetica, Arial;
                font-weight:bold;
                font-size: 14px;
                position: absolute;
            } #highlights #service_modules #label2 {
                top: 92px;
                left: 370px;
                width: 150px;
                color: #2061a5;
                font-family:Helvetica, Arial;
                font-weight:bold;
                font-size: 14px;
                position: absolute;
            } #highlights #service_modules #label3 {
                top: 135px;
                left: 625px;
                width: 150px;
                color: #2061a5;
                font-family:Helvetica, Arial;
                font-weight:bold;
                font-size: 14px;
                position: absolute;
            } #highlights #service_modules #label4 {
                top: 215px;
                left: 530px;
                color: #2061a5;
                font-family:Helvetica, Arial;
                font-weight:bold;
                font-size: 11px;
                position: absolute;
            } #highlights #service_modules #illustration4 {
                top: 11px;
                left: 391px;
                position: absolute;
            } #highlights #service_questions {
                top: 0px;
                left: 265px;
                width: 915px;
                background: url(<%= asset_path('fsn_home/bg_canvas.jpg') %>) top left repeat-y;
                position: relative;
            } #highlights #service_modules .module {
                position: absolute;
                color: #5f6060;
                font-size: 10px;
                line-height: 16px;
            } #highlights #service_modules .module ul {
                list-style-image: url(<%= asset_path('fsn_home/bullet_grey.gif') %>);
                list-style-position: outside;
                position: relative;
                left: 16px;
            } #highlights #service_modules .module ul li {
                margin-bottom: 6px;
                line-height: 12px;
            } #highlights #service_modules #individuals {
                top: 150px;
                left: 53px;
                width: 150px;
            } #highlights #service_modules #individuals ul {
                left: 0px;
            } #highlights #service_modules #individuals .module_link {
                text-align: center;
                margin-top: 18px;
            } #highlights #service_modules #individuals .module_link a {
                color: #aaba0f;
                font-size: 10px;
                text-decoration: none;
                text-transform: uppercase;
            } #highlights #service_modules #individuals .more_module_link a {
                color: #aaba0f;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
            } #highlights #service_modules #individuals .module_link a:hover {
                text-decoration: underline;
            } #highlights #service_modules #congregations {
                top: 100px;
                left: 215px;
                width: 300px;
            } #highlights #service_modules #congregations ul {
                width: 135px;
                margin-left: 25px;
            } #highlights #service_modules #congregations ul li {
                margin-bottom: 8px;
            } #highlights #service_modules #congregations #join {
                width: 115px;
                font-size: 9px;
                font-weight: bold;
                text-align: center;
                color: #8d3936;
                line-height: 14px;
                position: relative;
                right: -8px;
            } #highlights #service_modules #congregations .module_link .find_out_more a, a:link, a:visited {
                text-decoration: none;
                color: #2061a5;
                font-size: 11px;
            } #highlights #service_modules #congregations .module_link .find_out_more a, a:hover {
                text-decoration: underline;
            } #highlights #service_modules #congregations #join a {
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
            } #highlights #service_modules #congregations #join .module_link {
                text-align: center;
                padding-top: 10px;
                font-size: 11px;
                text-transform: uppercase;
            } #highlights #service_modules #congregations #join .module_link a {
                color: #c73914;
                text-decoration: none;
                font-size: 14px;
                text-transform: uppercase;
            } #highlights #service_modules #congregations .more_module_link a {
                color: #c73914;
                text-decoration: none;
                font-size: 11px;
            } #highlights #service_modules #congregations .network_page {
                font-size: 12px;
            } #highlights #service_modules #congregations .network_page a {
                color: #c73914;
                font-weight: bold;
            } #highlights #service_modules #providers {
                top: 170px;
                left: 525px;
                width: 125px;
            } #highlights #service_modules #providers ul {
                left: 13px;
            } #highlights #service_modules #providers .module_link {
                text-align: center;
                padding-top: 10px;
            } #highlights #service_modules #providers .module_link a {
                color: #e8a713;
                text-decoration: none;
                font-size: 10px;
                text-transform: uppercase;
            } #highlights #service_modules #providers .module_link a:hover {
                text-decoration: underline;

            } #home_bottom {
                width: 795px;
                background: url(<%= asset_path('fsn_home/dotted_border_horizontal.jpg') %>) top left repeat-x;
                margin: 0 auto;
                padding: 12px 20px 0;
            } #home_bottom #communities {
                width: 362px;
                padding-top: 15px;
            } #home_bottom #communities h2 {
                font-family: Times New Roman;
                font-size: 14px;
                font-weight: bold;
            } #home_bottom #communities ul {
                margin-left: 17px;
                list-style-image: uurl(<%= asset_path('fsn_home/bullet_grey.gif') %>);
                list-style-position: outside;
            } #home_bottom #communities ul li {
                margin-bottom: 15px;
            } #home_bottom #communities ul li a {
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
                color: #1B5897;
            } #home_bottom #search {
                text-align: center;
                width: 393px;
                padding: 10px 0 20px;
                background: url(<%= asset_path('fsn_home/dotted_border_vertical.jpg') %>) top right repeat-y;
            } #home_bottom #search h2 {
                font-family: Times New Roman;
                font-size: 14px;
                font-weight: bold;
            } #home_bottom #search p {
                text-transform: lowercase;
                color: #7d7d7d;
                font-style: italic;
                width: 48%;
                margin: 10px auto;
            } #home_bottom #search form {
                margin-left: 20px;
            } #home_bottom #search form input.text {
                width: 185px;
            } #home_bottom #search form button.go {
                text-indent: -9999px;
                border: none;
                background: url(<%= asset_path('fsn_home/button_go_blue.png') %>) top left no-repeat;
                width: 41px;
                height: 30px;
                position: relative;
                top: 2px;
                cursor: pointer;
            } #home_bottom table {
                border: none;
            } #home_bottom table tr td {
                border: none;
                font-size: 10px;
                color: #5F6060;
            } .module {
                background: none;
            }
        </style>
    </head>
    <body>

        <div id="container">
            <%= yield %>
        </div>
        <%= render(:partial => "/shared/footer" ) %>
        <div style="width:100%; text-align:center; color:#FFFFFF; font-weight:bold; margin:10px; font-size:10px;">
            &copy; <%= Time.now.year %> ESCENT PARTNERS, LLC
        </div>
    </body>
</html>
