<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= stylesheet_link_tag asset_path('screen.css.erb.erb') %>
    <%= stylesheet_link_tag asset_path('fsn.css.erb') %>
    <%= stylesheet_link_tag asset_path('fsn/jquery-ui-1.7.1.custom.css') %>
    <%= stylesheet_link_tag asset_path('jquery.autocomplete') %>
    <%= javascript_include_tag asset_path('prototype') %>
    <%= javascript_include_tag asset_path('jquery-1.3.2.min.js') %>
    <script type="text/javascript" charset="utf-8">
        jQ = jQuery.noConflict();
    </script>
    <%= javascript_include_tag asset_path('jquery-ui-1.7.1.custom.min') %>
    <%= javascript_include_tag asset_path('jquery.tablesorter.min') %>
    <%= javascript_include_tag asset_path('jquery.validate.min') %>
    <%= javascript_include_tag asset_path('jquery.autocomplete.min') %>
    <%= javascript_include_tag asset_path('application') %>
    <title>Escent Partners, LLC</title>
    <style type="text/css">
      a.continue {
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        display: block;
        text-align: right;
        font-weight: bold;
        font-size: 12px;
        font-family: Helvetica, Arial;
      }
      a.continue:hover {
        text-decoration: underline;
            }
      #ep_bottom {
        width:100%;
        margin:1em 0em 2em 0em;
        background: url(<%= asset_path('main_container_bottom_secondary.jpg') %>) top left no-repeat;
        height: auto;
        position: relative;
        }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="home_header">
      </div>
      <div id="home_body">
        <div id="main_content">
            <%= yield %>
        </div>
        <div id="ep_bottom">
        </div>
        <div class="row registration_footer">xx
          <%= render(:partial => '/layouts/footer_tos_pp') %>
          vv
        </div>
      </div>
    </div>
  </body>
</html>

